Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

fix: render manufacture recipe barcode as image for QuestPDF 2024.x
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
Due: backend, Backend (.NET)

#3320: surface setActive error in UsersGrid (#3324)
  artifacts/feat-3320/arch-review.r1.md
  artifacts/feat-3320/brief.md
  artifacts/feat-3320/code-review.r1.md
  artifacts/feat-3320/design.r1.md
  artifacts/feat-3320/impl/fix-set-active-error.r1.md
  artifacts/feat-3320/spec.r1.md
  artifacts/feat-3320/state.json
  artifacts/feat-3320/task-context/fix-set-active-error.md
  artifacts/feat-3320/task-plan.r1.md
  frontend/src/components/pages/access/UsersGrid.tsx
Due: frontend, Frontend (React)

#3319: add error and not-found states to UserDetailPage (#3323)
  artifacts/feat-3319/arch-review.r1.md
  artifacts/feat-3319/brief.md
  artifacts/feat-3319/code-review.r1.md
  artifacts/feat-3319/impl/fix-user-detail-error-states.r1.md
  artifacts/feat-3319/review/fix-user-detail-error-states.r1.md
  artifacts/feat-3319/spec.r1.md
  artifacts/feat-3319/state.json
  artifacts/feat-3319/task-context/fix-user-detail-error-states.md
  artifacts/feat-3319/task-plan.r1.md
  frontend/src/pages/UserDetailPage.tsx
Due: frontend, Frontend (React)

#3302: Remove redundant status methods from IShoptetExpeditionOrderSource (#3314)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/IShoptetExpeditionOrderSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_CoolingMarkerTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
Due: backend, Backend (.NET)

#3300: Eliminate N+1 Graph API calls in GetAppRoleMembersAsync (#3312)
  .context/pr.md
  artifacts/feat-3300/arch-review.r1.md
  artifacts/feat-3300/brief.md
  artifacts/feat-3300/impl/add-batch-tests.r1.md
  artifacts/feat-3300/impl/implement-batch-resolution.r1.md
  artifacts/feat-3300/review/add-batch-tests.r1.md
  artifacts/feat-3300/review/implement-batch-resolution.r1.md
  artifacts/feat-3300/spec.r1.md
  artifacts/feat-3300/state.json
  artifacts/feat-3300/task-context/add-batch-tests.md
  artifacts/feat-3300/task-context/implement-batch-resolution.md
  artifacts/feat-3300/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/UserManagement/GraphService.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GetAppRoleMembersTests.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GraphServiceTests.cs
Due: backend, Backend (.NET)

#3280: Add unit tests for CreatePurchaseOrderRequestValidator (#3294)
  artifacts/feat-3280/arch-review.r1.md
  artifacts/feat-3280/brief.md
  artifacts/feat-3280/design.r1.md
  artifacts/feat-3280/impl/write-validator-tests.r1.md
  artifacts/feat-3280/spec.r1.md
  artifacts/feat-3280/state.json
  artifacts/feat-3280/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Purchase/CreatePurchaseOrderRequestValidatorTests.cs
Due: none

fix: fall back to default package weight for zero-weight orders
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiSettings.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShipmentLabelsSettings.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/UseCases/CreateOrderShipment/CreateOrderShipmentHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShipmentLabels/CreateOrderShipmentHandlerTests.cs
Due: backend, Backend (.NET)

chore: auto-start Azurite via docker-compose in start-backend-dev.sh
  docker-compose.yml
  scripts/start-backend-dev.sh
Due: none

fix: render manufacture recipe barcode as image for QuestPDF 2024.x (#3325)
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
Due: backend, Backend (.NET)

fix(access): mobile picker lists collapsed to zero height on GroupDetailPage
  frontend/src/components/access-management/TransferList.tsx
  frontend/src/pages/GroupDetailPage.tsx
Due: frontend, Frontend (React)

fix(access): wrap mobile TransferList in DndContext to satisfy useDraggable hook
  frontend/src/components/access-management/TransferList.tsx
Due: frontend, Frontend (React)

fix(access): add missing packer toggle button to mobile UsersGrid card
  frontend/src/components/pages/access/UsersGrid.tsx
Due: frontend, Frontend (React)

fix: route incomplete-address status change through IEshopOrderClient after merge
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_AddressValidationTests.cs
Due: backend, Backend (.NET)

test(access): assert mobile UsersGrid card toggles can-pack
  frontend/src/components/pages/access/__tests__/UsersGrid.mobile.test.tsx
Due: frontend, Frontend (React)

fix: defer Zabaleno transition for single-package orders until label is printed
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
Due: backend, Backend (.NET)

fix: route packing modal by package count so single-package uses inline printer
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentCreator.test.tsx
Due: frontend, Frontend (React)

test: cover single-package completion after label print
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
Due: frontend, Frontend (React)

feat: validate expedition delivery addresses before picking list print (#3110)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionAddressValidator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/IShoptetExpeditionOrderSource.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Contracts/ExpeditionPickingRequest.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Contracts/ExpeditionPickingResult.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Infrastructure/Jobs/PrintPickingListJob.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/PrintPickingListOptions.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/RunExpeditionListPrintFix/RunExpeditionListPrintFixHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/RunExpeditionListPrintFix/RunExpeditionListPrintFixResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Infrastructure/LogisticsExpeditionPickingAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListResult.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ExpeditionAddressValidatorTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_AddressValidationTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  docs/superpowers/plans/2026-06-14-expedition-address-validation.md
Due: backend, Backend (.NET)

fix: report print modal open only for the multi-package modal, not single-package inline printing
  frontend/src/components/baleni/PackingShipmentCreator.tsx
Due: frontend, Frontend (React)

fix: omit FlexiBee warehouse for non-stock invoice items (#3321)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoiceDetailItem.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileStoreTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformationTests.cs
Due: backend, Backend (.NET)

feat(access): mobile-responsive access management screens (#3326)
  docs/superpowers/plans/2026-06-24-access-management-mobile.md
  frontend/src/components/access-management/TransferList.tsx
  frontend/src/components/access-management/__tests__/TransferList.test.tsx
  frontend/src/components/pages/access/GroupsGrid.tsx
  frontend/src/components/pages/access/UsersGrid.tsx
  frontend/src/components/pages/access/__tests__/GroupsGrid.mobile.test.tsx
  frontend/src/components/pages/access/__tests__/UsersGrid.mobile.test.tsx
  frontend/src/pages/GroupDetailPage.tsx
  frontend/src/pages/UserDetailPage.tsx
Due: frontend, Frontend (React)

docs: add implementation plan for deferring Zabaleno transition until label printed
  docs/superpowers/plans/2026-06-24-defer-zabaleno-until-label-printed.md
Due: none

fix: omit FlexiBee warehouse for non-stock invoice items (#3321) (#3327)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoiceDetailItem.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileStoreTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformationTests.cs
Due: backend, Backend (.NET)

fix: only transition order to Zabaleno after shipping label is created (#3328)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiSettings.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShipmentLabelsSettings.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/UseCases/CreateOrderShipment/CreateOrderShipmentHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShipmentLabels/CreateOrderShipmentHandlerTests.cs
  docker-compose.yml
  docs/superpowers/plans/2026-06-24-defer-zabaleno-until-label-printed.md
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentCreator.test.tsx
  scripts/start-backend-dev.sh
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: dedup bank statements against global TransferId constraint
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/IBankStatementImportRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportRepositoryIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
Due: backend, Backend (.NET)

fix(photobank): store Photo timestamps without time zone
  backend/src/Anela.Heblo.Persistence/Migrations/20260624115315_AlignPhotoTimestampsWithoutTimeZone.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260624115315_AlignPhotoTimestampsWithoutTimeZone.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotoConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotoSchemaTests.cs
Due: backend, Backend (.NET)

fix: dedup bank statements against global TransferId constraint (#3329)
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/IBankStatementImportRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportRepositoryIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
Due: backend, Backend (.NET)

fix(photobank): store Photo timestamps without time zone (#3330)
  backend/src/Anela.Heblo.Persistence/Migrations/20260624115315_AlignPhotoTimestampsWithoutTimeZone.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260624115315_AlignPhotoTimestampsWithoutTimeZone.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotoConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotoSchemaTests.cs
Due: backend, Backend (.NET)

chore(feat-3331): analyzing artifact
  artifacts/feat-3331/brief.md
  artifacts/feat-3331/spec.r1.md
  artifacts/feat-3331/state.json
Due: none

chore(feat-3331): architecting artifact
  artifacts/feat-3331/arch-review.r1.md
  artifacts/feat-3331/state.json
Due: none

chore(feat-3331): designing artifact
  artifacts/feat-3331/design.r1.md
  artifacts/feat-3331/state.json
Due: none

chore(feat-3331): planning artifact
  artifacts/feat-3331/state.json
  artifacts/feat-3331/task-plan.r1.md
Due: none

chore(feat-3331): task context
  artifacts/feat-3331/state.json
  artifacts/feat-3331/task-context/fix-exception-leakage.md
Due: none

fix(analytics): remove ex.Message from error responses (#3331)
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3331): impl+review for fix-exception-leakage r1
  artifacts/feat-3331/impl/fix-exception-leakage.r1.md
  artifacts/feat-3331/review/fix-exception-leakage.r1.md
  artifacts/feat-3331/state.json
Due: none

chore(feat-3331): finalize pipeline artifacts
  artifacts/feat-3331/state.json
Due: none

chore(feat-3331): code review r1
  artifacts/feat-3331/code-review.r1.md
  artifacts/feat-3331/state.json
Due: none

chore(feat-3332): analyzing artifact
  artifacts/feat-3332/brief.md
  artifacts/feat-3332/spec.r1.md
  artifacts/feat-3332/state.json
Due: none

chore(feat-3332): architecting artifact
  artifacts/feat-3332/arch-review.r1.md
  artifacts/feat-3332/state.json
Due: none

chore(feat-3332): designing artifact
  artifacts/feat-3332/design.r1.md
  artifacts/feat-3332/state.json
Due: none
