Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: add ResidueDistribution and ProductConsumptionDistribution AutoMapper profile mappings
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureOrderMappingProfile.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderMappingProfileTests.cs
Due: backend, Backend (.NET)

feat: add ConfirmSemiProductManufactureHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSemiProductManufacture/ConfirmSemiProductManufactureHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ConfirmSemiProductManufactureHandlerTests.cs
Due: backend, Backend (.NET)

feat: add ConfirmProductCompletionHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmProductCompletion/ConfirmProductCompletionHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ConfirmProductCompletionHandlerTests.cs
Due: backend, Backend (.NET)

refactor: route confirm-semi-product and confirm-products through MediatR
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderControllerProtocolTests.cs
Due: backend, Backend (.NET)

refactor: remove unused IManufactureOrderApplicationService
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
Due: backend, Backend (.NET)

agent: implementation summary manufacture-mediatr-refactor.r1.md
  artifacts/feat-arch-review-manufacture-manufactureorder/impl/manufacture-mediatr-refactor.r1.md
Due: none

test: add failing test for responsive ToastContainer classes
  frontend/src/components/ui/__tests__/ToastContainer.test.tsx
Due: frontend, Frontend (React)

test: fix substring collision and type issues in ToastContainer test
  frontend/src/components/ui/__tests__/ToastContainer.test.tsx
Due: frontend, Frontend (React)

fix: make toast container responsive on narrow viewports
  frontend/src/components/ui/ToastContainer.tsx
Due: frontend, Frontend (React)

docs: add implementation plan for terminal version banner fit
  docs/superpowers/plans/2026-05-17-terminal-version-banner-fit.md
Due: none

docs: design for marketing calendar delegated Outlook writes
  docs/superpowers/specs/2026-05-17-marketing-calendar-outlook-delegated-write-design.md
Due: none

fix: make toast container responsive on narrow viewports (#1349)
  docs/superpowers/plans/2026-05-17-terminal-version-banner-fit.md
  frontend/src/components/ui/ToastContainer.tsx
  frontend/src/components/ui/__tests__/ToastContainer.test.tsx
Due: frontend, Frontend (React)

feat: add MeetingAccessLevel enum, MeetingAccessGrant entity, and meeting_manager role constant
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingAccessGrant.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingAccessLevel.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingTranscript.cs
Due: backend, Backend (.NET)

feat(marketing): add MarketingCalendarAccessDenied and MarketingCalendarSyncFailed error codes
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  frontend/src/i18n.ts
  frontend/src/types/errors.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

refactor: rename GrantedByUser to GrantedByUserEmail for clarity
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingAccessGrant.cs
Due: backend, Backend (.NET)

feat(auth): enable OBO token acquisition on API bearer authentication builder
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
Due: backend, Backend (.NET)

feat: add IsInRole to ICurrentUserService
  backend/src/Anela.Heblo.Application/Features/Users/CurrentUserService.cs
  backend/src/Anela.Heblo.Domain/Features/Users/ICurrentUserService.cs
  backend/test/Anela.Heblo.Tests/Application/Users/CurrentUserServiceIsInRoleTests.cs
Due: backend, Backend (.NET)

feat: add IMeetingAccessGuard with Private/Public/Restricted logic
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/MeetingTasksModule.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/IMeetingAccessGuard.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/MeetingAccessGuard.cs
  backend/test/Anela.Heblo.Tests/Application/MeetingTasks/MeetingAccessGuardTests.cs
Due: backend, Backend (.NET)

feat(marketing): switch Outlook write methods to delegated token (OBO)
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/OutlookCalendarSyncServiceTokenTests.cs
Due: backend, Backend (.NET)

feat: add MeetingAccessGrant persistence config and update repository with access filtering
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/GetTranscriptList/GetTranscriptListHandler.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/IMeetingTranscriptRepository.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingAccessGrantConfiguration.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptConfiguration.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/GetTranscriptListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/MeetingTranscriptRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Repositories/MeetingTranscriptRepositoryTests.cs
Due: backend, Backend (.NET)

feat(marketing): rewrite Create handler — Outlook-first with compensating delete
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/CreateMarketingAction/CreateMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/CreateMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

refactor: remove auto-save from SetAccessAsync for consistent Unit-of-Work pattern
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
  backend/test/Anela.Heblo.Tests/Repositories/MeetingTranscriptRepositoryTests.cs
Due: backend, Backend (.NET)

feat: add EF migration AddMeetingAccessGating
  backend/src/Anela.Heblo.Persistence/Migrations/20260517155655_AddMeetingAccessGating.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260517155655_AddMeetingAccessGating.cs
Due: backend, Backend (.NET)

fix(marketing): add userId context to Outlook error log in Create handler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/CreateMarketingAction/CreateMarketingActionHandler.cs
Due: backend, Backend (.NET)

feat: add AccessLevel and AccessGrants to MeetingTranscriptDto
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Contracts/MeetingAccessGrantDto.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Contracts/MeetingTranscriptDto.cs
Due: backend, Backend (.NET)

feat(marketing): rewrite Update handler — Outlook-first, fail-fast on sync errors
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/UpdateMarketingAction/UpdateMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

feat: gate 6 transcript handlers behind IMeetingAccessGuard.CanAccess
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/AddProposedTask/AddProposedTaskHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ExplainSummary/ExplainSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/GetTranscriptDetail/GetTranscriptDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/SubmitToTodo/SubmitToTodoHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateProposedTask/UpdateProposedTaskHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateProposedTaskStatus/UpdateProposedTaskStatusHandler.cs
  backend/test/Anela.Heblo.Tests/Application/MeetingTasks/GetTranscriptDetailHandlerAccessTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ExplainSummaryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/GetTranscriptDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/SubmitToTodoHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/UpdateProposedTaskHandlerTests.cs
Due: backend, Backend (.NET)

fix(marketing): defer collection mutations until after Outlook sync in Update handler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/UpdateMarketingAction/UpdateMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

feat(marketing): rewrite Delete handler — Outlook-first, 404 treated as success
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/DeleteMarketingAction/DeleteMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/DeleteMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

fix(marketing): add ActionId/UserId context to 404 log in Delete handler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/DeleteMarketingAction/DeleteMarketingActionHandler.cs
Due: backend, Backend (.NET)

feat: pass isManager + userEmail to GetListAsync in GetTranscriptListHandler
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/GetTranscriptList/GetTranscriptListHandler.cs
  backend/test/Anela.Heblo.Tests/Application/MeetingTasks/GetTranscriptListHandlerIsManagerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/GetTranscriptListHandlerTests.cs
Due: backend, Backend (.NET)

feat: add UpdateMeetingAccess handler (manager-only, replaces access grants)
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateMeetingAccess/UpdateMeetingAccessHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateMeetingAccess/UpdateMeetingAccessRequest.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateMeetingAccess/UpdateMeetingAccessResponse.cs
  backend/test/Anela.Heblo.Tests/Application/MeetingTasks/UpdateMeetingAccessHandlerTests.cs
Due: backend, Backend (.NET)

refactor(marketing): remove retry service, MarkOutlookFailed, and Failed sync status
  backend/src/Anela.Heblo.Application/Features/Marketing/MarketingModule.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookSyncRetryHostedService.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingSyncStatus.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionSyncTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/OutlookSyncRetryHostedServiceTests.cs
Due: backend, Backend (.NET)

feat: add PUT /access endpoint and meeting_manager role to mock auth
  backend/src/Anela.Heblo.API/Controllers/MeetingTasksController.cs
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/MockAuthenticationHandler.cs
  frontend/src/auth/mockAuth.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add meeting access UI — permission hook, mutation, ManageAccessModal, detail badge + button
  frontend/src/api/hooks/useMeetingManagerPermission.ts
  frontend/src/api/hooks/useMeetingTasks.ts
  frontend/src/components/pages/automation/MeetingTaskDetailPage.tsx
  frontend/src/components/pages/automation/access/ManageAccessModal.tsx
Due: frontend, Frontend (React)

test(marketing): add missing coverage for unauthenticated user and product/folder link paths in UpdateMarketingActionHandler
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
Due: none

test: add useMeetingManagerPermission and ManageAccessModal tests
  frontend/src/api/hooks/__tests__/useMeetingManagerPermission.test.ts
  frontend/src/components/pages/automation/access/__tests__/ManageAccessModal.test.tsx
Due: frontend, Frontend (React)

fix: make restricted email filter case-insensitive and sync AccessGrants navigation after SetAccessAsync
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
Due: backend, Backend (.NET)

docs: add meeting access gating implementation plan
  docs/superpowers/plans/2026-05-17-meeting-access-gating.md
Due: none

docs: add implementation plan for marketing calendar delegated Outlook writes
  docs/superpowers/plans/2026-05-17-marketing-calendar-outlook-delegated-write.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
