Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

test: cover MaterialContainer Assign/CreateUnassigned guard clauses
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/MaterialContainerTests.cs
Due: none

fix(dashboard): materialize tile response and sanitize error messages in GetTileDataHandler
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-backgroundjobs-failedjobstil-dev-main
  docs/superpowers/plans/2026-06-01-decouple-failedjobstile-from-hangfire.md
Due: none

feat: make MaterialContainer material/lot columns nullable
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/MaterialContainerConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260601131355_MakeMaterialContainerMaterialLotNullable.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260601131355_MakeMaterialContainerMaterialLotNullable.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-failedjobstil/impl/main.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/impl/main.r1.md
Due: none

feat(terminal): grid home + scan-first routing by box state
  frontend/src/components/terminal/TerminalHome.tsx
  frontend/src/components/terminal/__tests__/TerminalHome.test.tsx
Due: frontend, Frontend (React)

feat: generate M-format container codes and seed sequence above existing codes
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/MaterialContainerCodeGenerator.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260601131644_SeedMaterialContainerSequence.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260601131644_SeedMaterialContainerSequence.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/MaterialContainerCodeGeneratorFormatTests.cs
Due: backend, Backend (.NET)

feat(dashboard): update write handlers to use repo + lock directly (FR-4)
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DisableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/EnableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/SaveUserSettingsHandlerTests.cs
Due: backend, Backend (.NET)

feat: add ZPL builder for MaterialContainer labels
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/Printing/MaterialContainerLabelZplBuilder.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/MaterialContainerLabelZplBuilderTests.cs
Due: backend, Backend (.NET)

test(dashboard): add mediator-before-lock ordering tests to Enable/DisableTile handlers
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DisableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/EnableTileHandlerTests.cs
Due: none

feat: Fix DI Lifetime Leak in `TileRegistry.GetTile()` and `GetAvailableTiles()` (#2020)
  artifacts/feat-arch-review-dashboard-tileregistry-getti/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-tileregistry-getti/brief.md
  artifacts/feat-arch-review-dashboard-tileregistry-getti/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-tileregistry-getti/spec.r1.md
  artifacts/feat-arch-review-dashboard-tileregistry-getti/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetAvailableTiles/GetAvailableTilesHandler.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/ITileRegistry.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileMetadata.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistry.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetAvailableTilesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/TileRegistryTests.cs
Due: backend, Backend (.NET)

feat(dashboard): delete DashboardService and IDashboardService from Xcc (FR-6, FR-8)
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/IDashboardService.cs
  backend/src/Anela.Heblo.Xcc/XccModule.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
Due: backend, Backend (.NET)

test(dashboard): use generous timing bounds in parallelism test to reduce CI flakiness
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
Due: none

feat: add raw-ZPL label printing over CUPS
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsLabelPrintingService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsPrintingService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/ICupsPrintingService.cs
  backend/src/Anela.Heblo.Application/Shared/Printing/ILabelPrintingService.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/CupsLabelPrintingServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/CupsPrintQueueSinkTests.cs
Due: backend, Backend (.NET)

test: cover CupsLabelPrintingService failure paths
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/CupsLabelPrintingServiceTests.cs
Due: none

fix(terminal): clear scan strip echo on screen entry
  frontend/src/components/terminal/shell/ScanProvider.tsx
  frontend/src/components/terminal/shell/__tests__/ScanProvider.test.tsx
Due: frontend, Frontend (React)

feat: add PrintMaterialContainerLabels use case
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/Contracts/MaterialContainerDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/PrintMaterialContainerLabels/PrintMaterialContainerLabelsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/PrintMaterialContainerLabels/PrintMaterialContainerLabelsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/PrintMaterialContainerLabels/PrintMaterialContainerLabelsRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/PrintMaterialContainerLabels/PrintMaterialContainerLabelsResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/PrintMaterialContainerLabelsHandlerTests.cs
Due: backend, Backend (.NET)

fix(terminal): suppress ok flash overlay — success proceeds silently
  frontend/src/components/terminal/shell/FlashOverlay.tsx
  frontend/src/components/terminal/shell/__tests__/FlashOverlay.test.tsx
Due: frontend, Frontend (React)

fix(dashboard): adapt handlers and tests to ITileRegistry API changes from main
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetUserSettings/GetUserSettingsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetUserSettingsHandlerTests.cs
Due: backend, Backend (.NET)

refactor: reuse shared DTO mapper and add ordering + validator tests for label printing
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/PrintMaterialContainerLabels/PrintMaterialContainerLabelsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/PrintMaterialContainerLabelsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/PrintMaterialContainerLabelsRequestValidatorTests.cs
Due: backend, Backend (.NET)

feat: Move HangfireJobRegistrationHelper to API Layer (#2202)
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/arch-review.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/brief.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/impl/main.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/spec.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/task-plan.r1.md
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobRegistrationHelper.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/RecurringJobDiscoveryService.cs
  backend/test/Anela.Heblo.Tests/Infrastructure/Hangfire/HangfireJobRegistrationHelperTests.cs
  docs/superpowers/plans/2026-06-01-move-hangfire-job-registration-helper.md
Due: backend, Backend (.NET)

feat: add POST /api/material-containers/print-labels endpoint
  backend/src/Anela.Heblo.API/Controllers/MaterialContainersController.cs
Due: backend, Backend (.NET)

feat: scan flow assigns unassigned containers and rejects unknown codes
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/CreateMaterialContainersHandlerTests.cs
Due: backend, Backend (.NET)

feat: Bounded eviction for DashboardService per-user lock pool (#2015)
  artifacts/feat-arch-review-dashboard-static-userlocks-d/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-static-userlocks-d/brief.md
  artifacts/feat-arch-review-dashboard-static-userlocks-d/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-static-userlocks-d/spec.r1.md
  artifacts/feat-arch-review-dashboard-static-userlocks-d/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Anela.Heblo.Domain.csproj
  backend/src/Anela.Heblo.Persistence.Analytics/Anela.Heblo.Persistence.Analytics.csproj
  backend/src/Anela.Heblo.Persistence/Anela.Heblo.Persistence.csproj
  backend/src/Anela.Heblo.Xcc/Anela.Heblo.Xcc.csproj
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/IKeyedAsyncLock.cs
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/KeyedAsyncLock.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardOptions.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/XccModule.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/KeyedAsyncLockTests.cs
Due: backend, Backend (.NET)

feat: Relocate Dashboard Business Logic from Xcc to MediatR Handlers (#2010)
  artifacts/feat-arch-review-dashboard-business-logic-liv/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-business-logic-liv/brief.md
  artifacts/feat-arch-review-dashboard-business-logic-liv/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-business-logic-liv/spec.r1.md
  artifacts/feat-arch-review-dashboard-business-logic-liv/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Infrastructure/IUserDashboardSettingsLock.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Infrastructure/UserDashboardSettingsLock.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetUserSettings/GetUserSettingsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsHandler.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/IDashboardService.cs
  backend/src/Anela.Heblo.Xcc/XccModule.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DisableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/EnableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/Fixtures/TestTiles.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetUserSettingsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/Infrastructure/UserDashboardSettingsLockTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/SaveUserSettingsHandlerTests.cs
Due: backend, Backend (.NET)

test: lock no-partial-mutation invariant for mixed scan batch
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/CreateMaterialContainersHandlerTests.cs
Due: none

chore: add Cups label printer config key
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

feat: add usePrintMaterialContainerLabels hook
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useMaterialContainers.test.ts
  frontend/src/api/hooks/useMaterialContainers.ts
Due: frontend, Frontend (React)

feat: add print-labels action and status column to MaterialContainerList
  frontend/src/components/pages/MaterialContainerList.tsx
  frontend/src/components/pages/__tests__/MaterialContainerList.test.tsx
Due: frontend, Frontend (React)

feat: handle unknown-label rejection in container scan loop
  frontend/src/components/terminal/lot-identification/ContainerScanLoop.tsx
  frontend/src/components/terminal/lot-identification/__tests__/ContainerScanLoop.test.tsx
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

fix: always register CUPS label printing so PrintMaterialContainerLabels handler resolves
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

refactor: remove now-unused AddCupsAdapter after DI restructure
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

feat: Decouple `FailedJobsTile` from Hangfire Infrastructure (#2207)
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/arch-review.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/brief.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/impl/main.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/spec.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/task-plan.r1.md
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireFailedJobCounter.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/DashboardTiles/FailedJobsTile.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IFailedJobCounter.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/DashboardTiles/FailedJobsTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/HangfireFailedJobCounterTests.cs
  docs/superpowers/plans/2026-06-01-decouple-failedjobstile-from-hangfire.md
Due: backend, Backend (.NET)

fix(terminal): render FlashOverlay for ok tone
  frontend/src/components/terminal/shell/FlashOverlay.tsx
  frontend/src/components/terminal/shell/__tests__/FlashOverlay.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-backgroundjobs-backgroundref/brief.md
  artifacts/feat-arch-review-backgroundjobs-backgroundref/brief.md
Due: none

agent: upload artifacts/feat-arch-review-backgroundjobs-backgroundref/spec.r1.md
  artifacts/feat-arch-review-backgroundjobs-backgroundref/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-backgroundjobs-backgroundref/arch-review.r1.md
  artifacts/feat-arch-review-backgroundjobs-backgroundref/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-backgroundjobs-backgroundref/task-plan.r1.md
  artifacts/feat-arch-review-backgroundjobs-backgroundref/task-plan.r1.md
Due: none

refactor: relocate BackgroundRefresh DTOs to Application contracts
  backend/src/Anela.Heblo.API/Controllers/BackgroundRefreshController.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/RefreshTaskDto.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/RefreshTaskExecutionLogDto.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/RefreshTaskStatusDto.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
