Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat(grid-layout): add GridLayout domain entity and repository interface
  backend/src/Anela.Heblo.Domain/Features/GridLayouts/GridLayout.cs
  backend/src/Anela.Heblo.Domain/Features/GridLayouts/IGridLayoutRepository.cs
  docs/superpowers/plans/2026-04-09-grid-layout-customization.md
Due: backend, Backend (.NET)

fix(frontend): use absolute asset paths so nested routes survive browser refresh
  frontend/package.json
Due: none

feat(grid-layout): add GridLayouts persistence layer and migration
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutConfiguration.cs
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260409083238_AddGridLayouts.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260409083238_AddGridLayouts.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

chore: add implementation plan + update package-lock @claude
  docs/superpowers/plans/2026-04-09-fix-nested-route-refresh.md
  frontend/package-lock.json
Due: none

feat(grid-layout): add Application layer handlers, DTOs, module, and tests
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Contracts/GridColumnStateDto.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Contracts/GridLayoutDto.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/GridLayoutsModule.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutRequest.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutResponse.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutRequest.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutResponse.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutRequest.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutResponse.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/ResetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/SaveGridLayoutHandlerTests.cs
Due: backend, Backend (.NET)

feat(grid-layout): add GridLayoutsController with GET/PUT/DELETE endpoints
  backend/src/Anela.Heblo.API/Controllers/GridLayoutsController.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutResponse.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutResponse.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutResponse.cs
Due: backend, Backend (.NET)

feat(grid-layout): regenerate API client with GridLayouts endpoints
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

docs: add block-order eshopRemark implementation plan
  docs/superpowers/plans/2026-04-09-block-order-eshop-remark.md
Due: none

feat(grid-layout): add frontend types and useGridLayout hook with tests
  frontend/src/features/grid-layout/__tests__/useGridLayout.test.ts
  frontend/src/features/grid-layout/types.ts
  frontend/src/features/grid-layout/useGridLayout.ts
Due: frontend, Frontend (React)

feat(grid-layout): add GridHeader, ColumnChooser components and barrel export
  frontend/src/features/grid-layout/ColumnChooser.tsx
  frontend/src/features/grid-layout/GridHeader.tsx
  frontend/src/features/grid-layout/__tests__/ColumnChooser.test.tsx
  frontend/src/features/grid-layout/index.ts
Due: frontend, Frontend (React)

feat(shoptet): add OrderNotes DTO and Notes property to OrderSummary
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/OrderListResponse.cs
Due: backend, Backend (.NET)

feat(shoptet): add UpdateEshopRemarkRequest DTO for PATCH /notes
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/UpdateEshopRemarkRequest.cs
Due: backend, Backend (.NET)

docs: add design spec for weight tolerance auto-note
  docs/superpowers/specs/2026-04-09-weight-tolerance-auto-note-design.md
Due: none

feat(shoptet): add Get/Update EshopRemarkAsync client methods
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IEshopOrderClient.cs
Due: backend, Backend (.NET)

feat(grid-layout): refactor ManufacturingStockAnalysis to config-driven columns
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: frontend, Frontend (React)

fix(frontend): use absolute asset paths so nested routes survive browser refresh (#524)
  docs/superpowers/plans/2026-04-09-fix-nested-route-refresh.md
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(shoptet): block-order writes to eshopRemark via PATCH /notes (append)
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingHandler.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/BlockOrderProcessingHandlerTests.cs
Due: backend, Backend (.NET)

fix(manufacture): auto-add note when user confirms weight outside tolerance
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
Due: backend, Backend (.NET)

feat(purchase-stock): refactor to use grid-layout customization
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
Due: frontend, Frontend (React)

test(shoptet): block-order integration test verifies eshopRemark append
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/BlockOrderProcessingIntegrationTests.cs
Due: none

docs(shoptet): document PATCH /orders/{code}/notes body and eshopRemark
  docs/integrations/shoptet-api.md
Due: none

fix(purchase-stock): correct GridHeader props and add availableStock sortBy
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
Due: frontend, Frontend (React)

chore: update package-lock.json devOptional flag @claude
  frontend/package-lock.json
Due: none

fix(grid-layout): address code review concerns
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  frontend/src/features/grid-layout/useGridLayout.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(manufacture): soften & gate weight-tolerance mark on calendar (#521)
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  docs/superpowers/plans/2026-04-09-block-order-eshop-remark.md
  docs/superpowers/specs/2026-04-09-weight-tolerance-auto-note-design.md
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(grid-layout): user-customizable column layout for inventory screens (#526)
  backend/src/Anela.Heblo.API/Controllers/GridLayoutsController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Contracts/GridColumnStateDto.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Contracts/GridLayoutDto.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/GridLayoutsModule.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutRequest.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutResponse.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutRequest.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutResponse.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutRequest.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutResponse.cs
  backend/src/Anela.Heblo.Domain/Features/GridLayouts/GridLayout.cs
  backend/src/Anela.Heblo.Domain/Features/GridLayouts/IGridLayoutRepository.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutConfiguration.cs
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260409083238_AddGridLayouts.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260409083238_AddGridLayouts.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/ResetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/SaveGridLayoutHandlerTests.cs
  docs/superpowers/plans/2026-04-09-grid-layout-customization.md
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
  frontend/src/features/grid-layout/ColumnChooser.tsx
  frontend/src/features/grid-layout/GridHeader.tsx
  frontend/src/features/grid-layout/__tests__/ColumnChooser.test.tsx
  frontend/src/features/grid-layout/__tests__/useGridLayout.test.ts
  frontend/src/features/grid-layout/index.ts
  frontend/src/features/grid-layout/types.ts
  frontend/src/features/grid-layout/useGridLayout.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add manufacture pipeline refactor implementation plan
  docs/superpowers/plans/2026-04-09-manufacture-pipeline-refactor.md
Due: none

refactor(manufacture): remove dead code from FlexiManufactureClient
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

fix(manufacture): don't log success after ERP submit failure
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
Due: backend, Backend (.NET)

fix(manufacture): safe substring in CreateManufactureName
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): harden SubmitManufactureHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureMapping.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): delete legacy aggregated submission path
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract FlexiWarehouseResolver
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiWarehouseResolver.cs
Due: backend, Backend (.NET)

refactor(manufacture): introduce typed FlexiManufactureException
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureException.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract FlexiManufactureTemplateService
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureTemplateService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureTemplateService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/ManufactureTestData.cs
Due: backend, Backend (.NET)

feat: improved shoptet hydration
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/BlockOrderProcessingIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetTestGuard.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/PickingListIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

fix: manual only tests
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
Due: none

refactor(manufacture): move IngredientRequirement and ConsumptionItem to ManufactureWorkItems.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/ManufactureWorkItems.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract FefoConsumptionAllocator
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FefoConsumptionAllocator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFefoConsumptionAllocator.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

test(manufacture): add FefoConsumptionAllocator unit tests
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FefoConsumptionAllocatorTests.cs
Due: none
