Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-telemetry-homeassistant-http-dependency-/task-plan.r1.md
  artifacts/feat-telemetry-homeassistant-http-dependency-/task-plan.r1.md
Due: none

feat: add Stale value to ConditionsReadingSource
  backend/src/Anela.Heblo.Domain/Features/Manufacture/Conditions/ConditionsReadingSource.cs
Due: backend, Backend (.NET)

feat: render Stale source suffix in manufacture protocol PDF
  backend/src/Anela.Heblo.API/PDFPrints/ManufactureProtocolDocument.cs
Due: backend, Backend (.NET)

feat: add retry, stale, and health-age knobs to HomeAssistantSettings
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/HomeAssistantSettings.cs
Due: backend, Backend (.NET)

chore: add resilience, healthchecks, and ApplicationInsights packages
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Anela.Heblo.Adapters.HomeAssistant.csproj
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/Anela.Heblo.Adapters.HomeAssistant.Tests.csproj
Due: backend, Backend (.NET)

feat: add HomeAssistantSnapshotCoordinator for single-flight and LKG state
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Caching/HomeAssistantSnapshotCoordinator.cs
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantSnapshotCoordinatorTests.cs
Due: backend, Backend (.NET)

feat: add Meter-backed snapshot source counter
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Telemetry/HomeAssistantSnapshotMetrics.cs
Due: backend, Backend (.NET)

feat: add transient-error predicate for HA retry policy
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Resilience/HomeAssistantTransientErrorPredicate.cs
Due: backend, Backend (.NET)

feat: add HA retry activity tagging handler for AI dependency suppression
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Resilience/HomeAssistantRetryActivityTaggingHandler.cs
Due: backend, Backend (.NET)

feat: add HA dependency telemetry filter to drop suppressed retries
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Resilience/HomeAssistantRetryActivityTaggingHandler.cs
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Telemetry/HomeAssistantDependencyTelemetryFilter.cs
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantDependencyTelemetryFilterTests.cs
Due: backend, Backend (.NET)

feat: add HomeAssistantConditionsHealthCheck reading coordinator only
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/HealthChecks/HomeAssistantConditionsHealthCheck.cs
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantConditionsHealthCheckTests.cs
Due: backend, Backend (.NET)

feat: add single-flight gate, stale fallback, and structured snapshot logging
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/HomeAssistantConditionsReadingProvider.cs
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantConditionsReadingProviderTests.cs
Due: backend, Backend (.NET)

feat: wire Polly resilience pipeline and singletons in HA adapter registration
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/HomeAssistantAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

test: end-to-end resilience pipeline tests for HA conditions provider
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantRetryPipelineTests.cs
Due: none

feat: register homeassistant-conditions health check with ready tag
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

feat: register HomeAssistantDependencyTelemetryFilter in AI pipeline
  backend/src/Anela.Heblo.API/Extensions/ApplicationInsightsExtensions.cs
Due: backend, Backend (.NET)

fix: align NuGet package versions for HTTP and Resilience dependencies
  backend/src/Adapters/Anela.Heblo.Adapters.HomeAssistant/Anela.Heblo.Adapters.HomeAssistant.csproj
Due: backend, Backend (.NET)

agent: developer output feat-telemetry-homeassistant-http-dependency--dev-main
  docs/superpowers/plans/2026-06-13-resilient-homeassistant-dependency.md
Due: none

agent: upload artifacts/feat-telemetry-homeassistant-http-dependency-/impl/main.r1.md
  artifacts/feat-telemetry-homeassistant-http-dependency-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/brief.md
  artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/brief.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/spec.r1.md
  artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/arch-review.r1.md
  artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/task-plan.r1.md
  artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/task-plan.r1.md
Due: none

fix: persist Summary column in LeafletChunk raw SQL insert
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletDocumentRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Integration/LeafletRepositoryIntegrationTests.cs
  memory/gotchas/raw-sql-insert-must-match-ef-mapping.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/impl/main.r1.md
  artifacts/feat-arch-review-leaflet-addchunksasync-raw-s/impl/main.r1.md
Due: none

agent: upload artifacts/feat-telemetry-frontend-typeerror-r-filter-on/brief.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/brief.md
Due: none

agent: upload artifacts/feat-telemetry-frontend-typeerror-r-filter-on/spec.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/spec.r1.md
Due: none

agent: upload artifacts/feat-telemetry-frontend-typeerror-r-filter-on/arch-review.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/arch-review.r1.md
Due: none

agent: upload artifacts/feat-telemetry-frontend-typeerror-r-filter-on/task-plan.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/task-plan.r1.md
Due: none

chore: record Yq symbol resolution findings for r.filter TypeError
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/symbol-resolution.md
Due: none

test: add regression cases for non-array tile/settings data on Dashboard
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
Due: frontend, Frontend (React)

fix: guard Dashboard tile arrays against non-array shape drift
  frontend/src/components/pages/Dashboard.tsx
Due: frontend, Frontend (React)

fix: remove mutation and redundant guard in Dashboard handleReorder
  frontend/src/components/pages/Dashboard.tsx
Due: frontend, Frontend (React)

fix: guard DashboardSettings tile arrays against non-array shape drift
  frontend/src/components/dashboard/DashboardSettings.tsx
  frontend/src/components/dashboard/__tests__/DashboardSettings.test.tsx
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
Due: frontend, Frontend (React)

chore: record JournalList array-method audit notes
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/audit-notes.md
Due: none

chore: complete FR-3 audit (no additional fixes required)
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/audit-notes.md
Due: none

chore: record NFR-3 follow-up decision for r.filter fix
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/audit-notes.md
Due: none

agent: developer output feat-telemetry-frontend-typeerror-r-filter-on-dev-main
  docs/superpowers/plans/2026-06-13-frontend-typeerror-r-filter-on.md
Due: none

agent: upload artifacts/feat-telemetry-frontend-typeerror-r-filter-on/impl/main.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/impl/main.r1.md
Due: none
