Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

fix: add unit (g) to Výrobní dávka in recipe PDF
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
Due: backend, Backend (.NET)

feat: show expiration months in recipe PDF header
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/GetSemiproductRecipePdfHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/SemiproductRecipeData.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetSemiproductRecipePdfHandlerTests.cs
Due: backend, Backend (.NET)

fix(config): layer user secrets and cmd args on top of Key Vault
  backend/src/Anela.Heblo.API/Program.cs
Due: none

fix: preserve Ingredient.Order in ManufactureTemplateCloner.Clone
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/ManufactureTemplateCloner.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/ManufactureTemplateCacheTests.cs
Due: backend, Backend (.NET)

fix: bold all data rows in recipe PDF grid
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
Due: backend, Backend (.NET)

feat: add MMQ field to recipe PDF header
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/GetSemiproductRecipePdfHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/SemiproductRecipeData.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetSemiproductRecipePdfHandlerTests.cs
Due: backend, Backend (.NET)

feat(config): wire Azure Key Vault as configuration source + migration script (#1858)
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  scripts/migrate-secrets-to-keyvault.sh
Due: backend, Backend (.NET)

fix(plaud): circuit breaker — stop retry flood on auth expiry, typed exception, deferred auto-refresh doc (#1855)
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudAuthExpiredException.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudCliClient.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Infrastructure/Jobs/PlaudPollingJob.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Anela.Heblo.Adapters.Plaud.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudAuthExceptionTests.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientRunTests.cs
  docs/integrations/plaud-token-auto-refresh.md
  docs/superpowers/plans/2026-05-27-plaud-circuit-breaker-and-monitoring.md
Due: backend, Backend (.NET)

fix(batch-calculator): default to MMQ from Abra Flexi and rename result labels
  frontend/src/components/pages/ManufactureBatchCalculator.tsx
Due: frontend, Frontend (React)

fix: stretch CompositionTab grid to full modal height
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/pages/CatalogDetail.tsx
Due: frontend, Frontend (React)

feat: add Tisk receptury PDF button to semiproduct batch calculator (#1856)
  backend/src/Anela.Heblo.API/Controllers/ManufactureBatchController.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/PDFPrints/QuestPdfSemiproductRecipeRenderer.cs
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/GetSemiproductRecipePdfHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/GetSemiproductRecipePdfRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/GetSemiproductRecipePdfResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/ISemiproductRecipeRenderer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/SemiproductRecipeData.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetSemiproductRecipePdfHandlerTests.cs
  frontend/src/api/hooks/useSemiproductRecipePdf.ts
  frontend/src/components/pages/ManufactureBatchCalculator.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(catalog): custom drag-and-drop ingredient order on Složení tab (#1857)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureTemplateService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureTemplateService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IManufactureTemplateCache.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/ManufactureTemplateCache.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/ManufactureTemplateCloner.cs
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/IngredientDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/Ingredient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientOrderTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FlexiManufactureTemplateServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/ManufactureTemplateCacheTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductCompositionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/UpdateProductCompositionOrderHandlerTests.cs
  docs/superpowers/plans/2026-05-27-catalog-composition-custom-order.md
  docs/superpowers/plans/2026-05-27-persist-bom-order-to-flexi.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useCatalog.ts
  frontend/src/api/hooks/useUpdateProductCompositionOrder.ts
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/catalog/detail/tabs/CompositionTabRow.tsx
  frontend/src/components/catalog/detail/tabs/__tests__/CompositionTab.test.tsx
  frontend/src/components/pages/CatalogDetail.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(batch-calculator): default to MMQ from Abra Flexi and rename result labels (#1860)
  frontend/src/components/pages/ManufactureBatchCalculator.tsx
Due: frontend, Frontend (React)

feat: Remove Analytics → Catalog Direct Cross-Module Dependency (#1847)
  artifacts/feat-arch-review-analytics-direct-cross-modul/arch-review.r1.md
  artifacts/feat-arch-review-analytics-direct-cross-modul/brief.md
  artifacts/feat-arch-review-analytics-direct-cross-modul/impl/main.r1.md
  artifacts/feat-arch-review-analytics-direct-cross-modul/spec.r1.md
  artifacts/feat-arch-review-analytics-direct-cross-modul/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Contracts/IAnalyticsProductSource.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/IAnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/AnalyticsProduct.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/AnalyticsProductType.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapterTests.cs
  docs/superpowers/plans/2026-05-27-decouple-analytics-from-catalog.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-analytics-getproductmarginsu/brief.md
  artifacts/feat-arch-review-analytics-getproductmarginsu/brief.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-getproductmarginsu/spec.r1.md
  artifacts/feat-arch-review-analytics-getproductmarginsu/spec.r1.md
Due: none

feat(manufacture): add PhaseLabel to Ingredient domain type and IManufactureClient interface
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/Ingredient.cs
Due: backend, Backend (.NET)

feat(flexi): map BoM NameC to Ingredient.PhaseLabel in template service
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureTemplateService.cs
Due: backend, Backend (.NET)

fix: resolve failing tests after backmerge with main
  backend/test/Anela.Heblo.Tests/Features/Analytics/AnalyticsRepositoryTests.cs
Due: none

agent: upload artifacts/feat-arch-review-analytics-getproductmarginsu/arch-review.r1.md
  artifacts/feat-arch-review-analytics-getproductmarginsu/arch-review.r1.md
Due: none

feat(flexi): implement SetBomItemsOrderAndPhaseAsync — persists phase label via UpdateBoMItemAsync nameC
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientOrderTests.cs
Due: backend, Backend (.NET)

agent: planner output feat-arch-review-analytics-getproductmarginsu-planning-1
  docs/superpowers/plans/2026-05-27-margin-calculator-abstractions.md
Due: none

feat(ci): support staging deploy by PR number or branch name
  .github/workflows/deploy-staging-manual.yml
Due: none

agent: upload artifacts/feat-arch-review-analytics-getproductmarginsu/task-plan.r1.md
  artifacts/feat-arch-review-analytics-getproductmarginsu/task-plan.r1.md
Due: none

feat(catalog): add PhaseLabel to IngredientDto, IngredientOrderItem, and composition handler mapping
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/IngredientDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderRequest.cs
Due: backend, Backend (.NET)

chore(deps): update package-lock.json
  frontend/package-lock.json
Due: none

feat: Remove Forced GC.Collect() From AnalyticsRepository Streaming Loop (#1852)
  artifacts/feat-arch-review-analytics-gc-collect-called-/arch-review.r1.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/brief.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/impl/main.r1.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/spec.r1.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Analytics/AnalyticsRepositoryTests.cs
  docs/superpowers/plans/2026-05-27-analytics-gc-collect-removal.md
Due: none

feat(catalog): forward PhaseLabel through UpdateProductCompositionOrderHandler with A-Z normalization
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/UpdateProductCompositionOrderHandlerTests.cs
Due: backend, Backend (.NET)

refactor: relocate MarginCalculator from Domain to Application layer
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculator.cs
Due: backend, Backend (.NET)

feat(frontend): add phaseLabel to IngredientDto and IngredientOrderItem types
  frontend/src/api/hooks/useCatalog.ts
  frontend/src/api/hooks/useUpdateProductCompositionOrder.ts
Due: frontend, Frontend (React)

refactor: introduce IMarginCalculator interface
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculator.cs
Due: backend, Backend (.NET)

feat(frontend): add Fáze column cell to CompositionTabRow with bracket CSS border styling
  frontend/src/components/catalog/detail/tabs/CompositionTabRow.tsx
Due: frontend, Frontend (React)

feat(ci): support staging deploy by PR number or branch name (#1864)
  .github/workflows/deploy-staging-manual.yml
  frontend/package-lock.json
Due: none

feat(frontend): manufacture phase brackets on Složení tab — read/edit mode, add/remove phases, DnD phase assignment
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
Due: frontend, Frontend (React)

refactor: introduce IMonthlyBreakdownGenerator, depend on IMarginCalculator
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MonthlyBreakdownGenerator.cs
Due: backend, Backend (.NET)

fix: exclude semiproducts from automatic manufacture store write
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerConditionsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: backend, Backend (.NET)

refactor: register margin calculator services by interface
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
Due: backend, Backend (.NET)

fix(frontend): address TypeScript/lint issues from manufacture-phases implementation
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
Due: frontend, Frontend (React)

refactor: GetProductMarginSummaryHandler depends on margin calculator abstractions
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
Due: backend, Backend (.NET)

test: add mockability test for GetProductMarginSummaryHandler
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
Due: none
