Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

fix(marketing): address review feedback on OutlookSyncRetryHostedService
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookSyncRetryHostedService.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/OutlookSyncRetryHostedServiceTests.cs
Due: backend, Backend (.NET)

fix(manufacture): invalidate history cache on manufacture submission
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureHistoryClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureHistoryCacheInvalidator.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClient501Tests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureHistoryClientTests.cs
Due: backend, Backend (.NET)

feat(marketing): add one-time Outlook→Heblo import endpoint (Task 5)
  backend/src/Anela.Heblo.API/Controllers/MarketingCalendarController.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/ImportFromOutlookRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/ImportFromOutlookHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
Due: backend, Backend (.NET)

fix(marketing): address review feedback on import endpoint
  backend/src/Anela.Heblo.API/Controllers/MarketingCalendarController.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/ImportFromOutlookRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/ImportFromOutlookHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
Due: backend, Backend (.NET)

feat(marketing): add Outlook sync badge and import-from-Outlook UI (Task 6)
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useImportFromOutlook.test.ts
  frontend/src/api/hooks/useMarketingCalendar.ts
  frontend/src/components/marketing/calendar/fullcalendarAdapters.ts
  frontend/src/components/marketing/list/MarketingActionGrid.tsx
  frontend/src/components/marketing/list/__tests__/MarketingActionGrid.test.tsx
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
Due: frontend, Frontend (React)

fix(marketing): address review feedback on frontend Outlook integration
  frontend/src/api/hooks/useMarketingCalendar.ts
  frontend/src/components/marketing/detail/ImportFromOutlookModal.tsx
  frontend/src/components/marketing/list/MarketingActionGrid.tsx
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
Due: frontend, Frontend (React)

feat(marketing): expose OutlookSyncStatus on marketing action DTOs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/MarketingActionCalendarDto.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/MarketingActionDto.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/GetMarketingActions/GetMarketingActionsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/GetMarketingCalendar/GetMarketingCalendarHandler.cs
Due: backend, Backend (.NET)

feat: harness
  .agents/analyst.md
  .agents/architect.md
  .agents/brainstorm.md
  .agents/designer.md
  .agents/developer.md
  .agents/planner.md
  .agents/reviewer.md
  .claude/skills/azure-storage/SKILL.md
  .claude/skills/brainstorm/SKILL.md
  .claude/skills/implement/SKILL.md
  .env.example
  .pipeline/config.json
Due: none

fix: interval
  .pipeline/config.json
Due: none

fix: issued invoice including sales (#794)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/IShoptetInvoiceClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Model/ShoptetInvoiceItemDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/ShoptetInvoiceClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileDiscountTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Anela.Heblo.Adapters.Shoptet.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/CaptureInvoice126000039Fixture.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/Fixtures/invoice-126000039.json
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceItemDtoTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperFixtureTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

fix: eliminate N+1 DB queries in GetProductUsageHandler (#787)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductUsage/GetProductUsageHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductUsageHandlerTests.cs
Due: backend, Backend (.NET)

fix: batch-load ingredient catalog entries to eliminate N+1 query in CalculatedBatchSizeHandler (#780)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculatedBatchSize/CalculatedBatchSizeHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculatedBatchSizeHandlerLastStockTakingTests.cs
Due: backend, Backend (.NET)

fix: handle Anthropic 529 overloaded with Retry-After and catch ObjectDisposedException (#782)
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicChatClient.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/Anthropic/AnthropicChatClientTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/AskQuestionHandlerTests.cs
Due: backend, Backend (.NET)

fix: distinguish FlexiBee timeout vs caller cancellation in LedgerService and FlexiProductPriceErpClient (#783)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/Ledger/LedgerService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Price/FlexiProductPriceErpClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Accounting/LedgerServiceTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/Flexi/FlexiProductPriceErpClientTests.cs
Due: backend, Backend (.NET)

fix: superuser role required
  backend/src/Anela.Heblo.API/Controllers/MarketingCalendarController.cs
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(dqt): populate TotalWithVat/TotalWithoutVat on Shoptet invoice header
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/IssuedInvoiceMapping.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

fix: graph api exception
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookCalendarSyncService.cs
Due: backend, Backend (.NET)

fix(dqt): populate TotalWithVat/TotalWithoutVat on Shoptet invoice header (#828)
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/IssuedInvoiceMapping.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

fix: switch Outlook calendar sync from user mailbox to M365 group endpoint
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Marketing/Configuration/MarketingCalendarOptions.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/MarketingModule.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
  backend/test/Anela.Heblo.Tests/Marketing/OutlookCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

fix: use group object ID instead of email for Graph calendarView
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Marketing/Configuration/MarketingCalendarOptions.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/MarketingModule.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
  backend/test/Anela.Heblo.Tests/Marketing/OutlookCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

fix: follow @odata.nextLink pagination in Graph calendarView
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookCalendarSyncService.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookEventDto.cs
Due: backend, Backend (.NET)

chore: enable marketing calendar sync and update planner agent
  .agents/planner.md
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

fix: invalid config
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

agent: upload artifacts/feat-expedition-list-pdf-layout-improvements/brief.md
  artifacts/feat-expedition-list-pdf-layout-improvements/brief.md
Due: none

agent: upload artifacts/feat-expedition-list-pdf-layout-improvements/spec.r1.md
  artifacts/feat-expedition-list-pdf-layout-improvements/spec.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-pdf-layout-improvements/arch-review.r1.md
  artifacts/feat-expedition-list-pdf-layout-improvements/arch-review.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-pdf-layout-improvements/design.r1.md
  artifacts/feat-expedition-list-pdf-layout-improvements/design.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-pdf-layout-improvements/task-plan.r1.md
  artifacts/feat-expedition-list-pdf-layout-improvements/task-plan.r1.md
Due: none

feat: add layout constants to ExpeditionProtocolDocument
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

fix: use Color type for VariantColor, clarify PopisCol intent
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: extract cell-style helpers to private static methods
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

feat: add RenderDescriptionCell helper to ExpeditionProtocolDocument
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: extract ComposeOrderBlock and ComposeSummaryPage from Compose
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: extract BuildItemsTable and BuildSummaryTable from ComposeOrderBlock/ComposeSummaryPage
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: remove redundant int cast in SummaryRow aggregation
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: route description cells through RenderDescriptionCell in items and summary tables
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: merge Varianta column into 5-column layout in items and summary tables
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

refactor: wrap each order in bordered box and remove LineHorizontal divider
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

fix: use direct RenderDescriptionCell call instead of chained Element to fix QuestPDF single-child violation
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)
