Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore: refresh AgentHarness pipeline scaffolding
  .claude/agents/orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/automerge-all/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/hygiene-all/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/rework-all/SKILL.md
  .claude/skills/rework-pr/SKILL.md
Due: none

refactor: replace ApplyEnrichment call with inline cooling enrichment in ShoptetApiPackingOrderClient
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
Due: backend, Backend (.NET)

chore(feat-4035): impl+review for replace-applyenrichment-call-with-inline-cooling-loop r1
  artifacts/feat-4035/impl/replace-applyenrichment-call-with-inline-cooling-loop.r1.md
  artifacts/feat-4035/review/replace-applyenrichment-call-with-inline-cooling-loop.r1.md
  artifacts/feat-4035/state.json
Due: none

chore(feat-4035): replace-applyenrichment-call-with-inline-cooling-loop passed review
  artifacts/feat-4035/state.json
Due: none

chore: update .claude agent and skill definitions
  .claude/agents/orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/automerge-all/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/hygiene-all/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/rework-all/SKILL.md
  .claude/skills/rework-pr/SKILL.md
Due: none

chore: refresh AgentHarness pipeline skill/agent scaffolding
  .claude/agents/orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/automerge-all/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/hygiene-all/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/rework-all/SKILL.md
  .claude/skills/rework-pr/SKILL.md
Due: none

chore(feat-4035): code review r1
  artifacts/feat-4035/state.json
Due: none

chore(feat-4035): code review r1
  artifacts/feat-4035/code-review.r1.md
Due: none

chore(feat-4035): code review clean, phase completed
  artifacts/feat-4035/state.json
Due: none

#4034: Remove redundant combined `Task.WhenAll` in `CalculateMonthlyStockChangeAsync` (#4039)
  artifacts/feat-4034/arch-review.r1.md
  artifacts/feat-4034/brief.md
  artifacts/feat-4034/code-review.r1.md
  artifacts/feat-4034/design.r1.md
  artifacts/feat-4034/impl/remove-redundant-whenall.r1.md
  artifacts/feat-4034/review/remove-redundant-whenall.r1.md
  artifacts/feat-4034/spec.r1.md
  artifacts/feat-4034/state.json
  artifacts/feat-4034/task-context/remove-redundant-whenall.md
  artifacts/feat-4034/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/FinancialOverviewStockValueAdapter.cs
Due: backend, Backend (.NET)

fix(feat-4036): add -f flag to git add -A calls in implement-orchestrator.md
  .claude/agents/implement-orchestrator.md
Due: none

chore(feat-4036): impl+review for add-force-flag-to-git-add-in-implement-orchestrator r1
  artifacts/feat-4036/impl/add-force-flag-to-git-add-in-implement-orchestrator.r1.md
  artifacts/feat-4036/review/add-force-flag-to-git-add-in-implement-orchestrator.r1.md
  artifacts/feat-4036/state.json
Due: none

chore(feat-4036): add-force-flag-to-git-add-in-implement-orchestrator passed review
  artifacts/feat-4036/state.json
Due: none

chore(feat-4036): code review r1
  artifacts/feat-4036/code-review.r1.md
  artifacts/feat-4036/state.json
Due: none

chore(feat-4036): code review completed, phase checkpoint
  artifacts/feat-4036/state.json
Due: none

#4035: Replace ApplyEnrichment call in ShoptetApiPackingOrderClient with direct cooling enrichment (#4040)
  artifacts/feat-4035/arch-review.r1.md
  artifacts/feat-4035/brief.md
  artifacts/feat-4035/code-review.r1.md
  artifacts/feat-4035/design.r1.md
  artifacts/feat-4035/impl/replace-applyenrichment-call-with-inline-cooling-loop.r1.md
  artifacts/feat-4035/review/replace-applyenrichment-call-with-inline-cooling-loop.r1.md
  artifacts/feat-4035/spec.r1.md
  artifacts/feat-4035/state.json
  artifacts/feat-4035/task-context/replace-applyenrichment-call-with-inline-cooling-loop.md
  artifacts/feat-4035/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
Due: backend, Backend (.NET)

feat(auth): add menu-path permission entries for invoice-import-statistics and bank-statements routes
  access-matrix.json
Due: none

chore(feat-4041): impl+review for add-access-matrix-entries r1
  artifacts/feat-4041/state.json
Due: none

chore(feat-4041): impl+review for add-access-matrix-entries r1
  artifacts/feat-4041/impl/add-access-matrix-entries.r1.md
  artifacts/feat-4041/review/add-access-matrix-entries.r1.md
Due: none

chore(feat-4041): add-access-matrix-entries passed review
  artifacts/feat-4041/state.json
Due: none

chore(auth): regenerate access-matrix artifacts for the two new menu-path entries
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  frontend/src/auth/accessMatrix.generated.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-4041): impl+review for regenerate-access-matrix-artifacts r1
  artifacts/feat-4041/state.json
Due: none

chore(feat-4041): impl+review for regenerate-access-matrix-artifacts r1
  artifacts/feat-4041/impl/regenerate-access-matrix-artifacts.r1.md
  artifacts/feat-4041/review/regenerate-access-matrix-artifacts.r1.md
Due: none

chore(feat-4041): regenerate-access-matrix-artifacts passed review
  artifacts/feat-4041/state.json
Due: none

chore(feat-4056): analyzing artifact
  artifacts/feat-4056/brief.md
  artifacts/feat-4056/spec.r1.md
  artifacts/feat-4056/state.json
Due: none

chore(feat-4056): architecting artifact
  artifacts/feat-4056/arch-review.r1.md
  artifacts/feat-4056/state.json
Due: none

chore(feat-4056): designing artifact
  artifacts/feat-4056/design.r1.md
  artifacts/feat-4056/state.json
Due: none

chore(feat-4056): planning artifact
  artifacts/feat-4056/state.json
  artifacts/feat-4056/task-plan.r1.md
Due: none

fix(auth): wrap invoice-import-statistics and bank-statements routes in guard()
  frontend/src/App.tsx
Due: frontend, Frontend (React)

chore(feat-4056): task context
  artifacts/feat-4056/state.json
  artifacts/feat-4056/task-context/add-abra-invoice-id-domain-property.md
  artifacts/feat-4056/task-context/fix-classification-history-call-site.md
  artifacts/feat-4056/task-context/map-abra-invoice-id-from-flexibee-id.md
  artifacts/feat-4056/task-context/update-invoice-classification-service-tests-for-abra-invoice-id.md
Due: none

chore(feat-4041): impl+review for guard-routes-in-app-tsx r1
  artifacts/feat-4041/state.json
Due: none

chore(feat-4041): impl+review for guard-routes-in-app-tsx r1
  artifacts/feat-4041/impl/guard-routes-in-app-tsx.r1.md
  artifacts/feat-4041/review/guard-routes-in-app-tsx.r1.md
Due: none

chore(feat-4041): guard-routes-in-app-tsx passed review
  artifacts/feat-4041/state.json
Due: none

#4036: Fix missing `-f` flag on `git add -A` in `implement-orchestrator.md` (#4037)
  .claude/agents/implement-orchestrator.md
  artifacts/feat-4036/arch-review.r1.md
  artifacts/feat-4036/brief.md
  artifacts/feat-4036/code-review.r1.md
  artifacts/feat-4036/design.r1.md
  artifacts/feat-4036/impl/add-force-flag-to-git-add-in-implement-orchestrator.r1.md
  artifacts/feat-4036/review/add-force-flag-to-git-add-in-implement-orchestrator.r1.md
  artifacts/feat-4036/spec.r1.md
  artifacts/feat-4036/state.json
  artifacts/feat-4036/task-context/add-force-flag-to-git-add-in-implement-orchestrator.md
  artifacts/feat-4036/task-plan.r1.md
Due: none

chore(feat-4058): setup brief and checkpoint init
  artifacts/feat-4058/brief.md
  artifacts/feat-4058/state.json
Due: none

chore(feat-4058): analyzing artifact
  artifacts/feat-4058/spec.r1.md
  artifacts/feat-4058/state.json
Due: none

fix: address review - stop a Czech decimal comma or cleared field saving price 0
  frontend/src/components/pricing/ProductPriceGrid.tsx
  frontend/src/pages/__tests__/ProductPricingPage.test.tsx
Due: frontend, Frontend (React)

fix: address review - route price error codes through the i18n map
  frontend/src/api/hooks/useProductPricing.ts
Due: frontend, Frontend (React)

fix: address review - invalidate the conflicts query after setting a price
  frontend/src/api/hooks/useProductPricing.ts
Due: frontend, Frontend (React)
