Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: Remove Manual `.refetch()` Calls from JournalList (#2948)
  artifacts/feat-arch-review-journal-journallist-calls-re/arch-review.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/brief.md
  artifacts/feat-arch-review-journal-journallist-calls-re/impl/main.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/spec.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/task-plan.r1.md
  docs/superpowers/plans/2026-06-11-journal-list-remove-manual-refetch.md
  frontend/src/components/pages/Journal/JournalList.tsx
  frontend/src/components/pages/Journal/__tests__/JournalList.test.tsx
Due: frontend, Frontend (React)

feat: Externalize Product Mapping Codes for Invoice Import Transformation (#2938)
  artifacts/feat-arch-review-invoices-product-mapping-con/arch-review.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/brief.md
  artifacts/feat-arch-review-invoices-product-mapping-con/impl/main.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/spec.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/task-plan.r1.md
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/ProductMappingOptions.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoicesModuleTests.cs
  docs/superpowers/plans/2026-06-11-externalize-product-mapping-codes.md
Due: backend, Backend (.NET)

feat: Restore Type Safety in `useMarketingCalendar.ts` API Calls (#2827)
  artifacts/feat-arch-review-marketing-usemarketingcalend/arch-review.r1.md
  artifacts/feat-arch-review-marketing-usemarketingcalend/brief.md
  artifacts/feat-arch-review-marketing-usemarketingcalend/impl/main.r1.md
  artifacts/feat-arch-review-marketing-usemarketingcalend/spec.r1.md
  artifacts/feat-arch-review-marketing-usemarketingcalend/task-plan.r1.md
  frontend/src/api/hooks/useMarketingCalendar.ts
  frontend/src/components/marketing/calendar/__tests__/fullcalendarAdapters.test.ts
  frontend/src/components/marketing/calendar/fullcalendarAdapters.ts
  frontend/src/components/marketing/detail/MarketingActionModal.tsx
  frontend/src/components/marketing/detail/__tests__/MarketingActionModal.test.tsx
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
Due: frontend, Frontend (React)

feat: Refactor `ShoptetApiExpeditionListSource.CreatePickingList` — extract `FlushBatchAsync` local function (#2806)
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/answers.r1.md
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/brief.md
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/spec.r2.md
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/PickingListBatchProcessor.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/PickingListBatchProcessorTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_CoolingMarkerTests.cs
  docs/superpowers/plans/2026-06-09-extract-picking-list-batch-processor.md
Due: backend, Backend (.NET)

feat: Refactor GraphService.GetGroupMembersAsync into Focused Helper Methods (#2799)
  artifacts/feat-arch-review-usermanagement-graphservice-/arch-review.r1.md
  artifacts/feat-arch-review-usermanagement-graphservice-/brief.md
  artifacts/feat-arch-review-usermanagement-graphservice-/impl/main.r1.md
  artifacts/feat-arch-review-usermanagement-graphservice-/spec.r1.md
  artifacts/feat-arch-review-usermanagement-graphservice-/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/UserManagement/Services/GraphService.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/ParseMembersFromJsonTests.cs
Due: backend, Backend (.NET)

fix: ungate read-only dashboard from admin permission
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/test/Anela.Heblo.Tests/Authorization/DashboardControllerAuthorizationTests.cs
Due: backend, Backend (.NET)

feat: add IsUnauthorized flag to dashboard tile models
  backend/src/Anela.Heblo.Application/Features/Dashboard/Contracts/DashboardTileDto.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileData.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/brief.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/brief.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/spec.r1.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/spec.r1.md
Due: none

agent: product output feat-arch-review-filestorage-module-reads-exp-questioning-r1
  answers.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/answers.r1.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/spec.r2.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/arch-review.r1.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/task-plan.r1.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/task-plan.r1.md
Due: none

feat(filestorage): add FileStorageOptions class
  backend/src/Anela.Heblo.Application/Features/FileStorage/FileStorageOptions.cs
Due: backend, Backend (.NET)

feat: enforce per-tile dashboard permissions server-side
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
Due: backend, Backend (.NET)

refactor(filestorage): bind options from FileStorage section, drop ExpeditionList read
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/FileStorageModule.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/FileStorageModuleTests.cs
Due: backend, Backend (.NET)

feat: MarketingAction Timestamp Parameter Consistency (#2811)
  artifacts/feat-arch-review-marketing-marketingaction-do/arch-review.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/brief.md
  artifacts/feat-arch-review-marketing-marketingaction-do/impl/main.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/spec.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/CreateMarketingAction/CreateMarketingActionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/DeleteMarketingAction/DeleteMarketingActionHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionAssociateWithProductTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionLinkToFolderTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionSoftDeleteTests.cs
Due: backend, Backend (.NET)

feat: Move Journal Search Presentation Logic to Frontend (#2943)
  artifacts/feat-arch-review-journal-presentation-logic-c/arch-review.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/brief.md
  artifacts/feat-arch-review-journal-presentation-logic-c/impl/main.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/spec.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/SearchJournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Mapping/JournalEntryMapper.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/SearchJournalEntries/SearchJournalEntriesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/SearchJournalEntriesHandlerTests.cs
  docs/superpowers/plans/2026-06-11-journal-presentation-logic-to-frontend.md
  frontend/src/components/catalog/detail/tabs/JournalTab.tsx
  frontend/src/components/pages/Journal/JournalList.tsx
  frontend/src/components/pages/Journal/__tests__/JournalList.test.tsx
  frontend/src/components/pages/Journal/__tests__/journalPreview.test.ts
  frontend/src/components/pages/Journal/journalPreview.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add UnauthorizedTile placeholder and isUnauthorized tile field
  frontend/src/api/hooks/useDashboard.ts
  frontend/src/components/dashboard/tiles/UnauthorizedTile.tsx
Due: frontend, Frontend (React)

feat: Relocate IssuedInvoiceRepository to Persistence Layer (#2927)
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/arch-review.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/brief.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/impl/main.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/spec.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/InvoiceConsumptionSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/InvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceSyncStats/GetIssuedInvoiceSyncStatsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoicesList/GetIssuedInvoicesListHandler.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceFilters.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Xcc/Persistance/PaginatedResult.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoiceDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoicesListHandlerPaginationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/InvoiceConsumptionSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
Due: backend, Backend (.NET)

feat: render UnauthorizedTile placeholder for flagged tiles
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/dashboard/tiles/__tests__/TileContent.test.tsx
Due: frontend, Frontend (React)

feat: Journal Entry Title Validation Alignment (#2953)
  artifacts/feat-arch-review-journal-frontend-validation-/arch-review.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/brief.md
  artifacts/feat-arch-review-journal-frontend-validation-/impl/main.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/spec.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/CreateJournalEntryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/SearchJournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/UpdateJournalEntryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/CreateJournalEntry/CreateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/UpdateJournalEntry/UpdateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalEntry.cs
  backend/src/Anela.Heblo.Persistence/Journal/JournalEntryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260611165443_RequireJournalEntryTitle.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260611165443_RequireJournalEntryTitle.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/CreateJournalEntryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/UpdateJournalEntryHandlerTests.cs
  frontend/src/components/JournalEntryForm.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

refactor: rely on backend tile authorization instead of client-side hiding
  frontend/src/components/pages/Dashboard.tsx
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
Due: frontend, Frontend (React)

docs: add implementation plan for dashboard permission tiles
  docs/superpowers/plans/2026-06-12-dashboard-permission-tiles.md
Due: none

test(filestorage): add FR-4 fail-fast and Development fallback tests
  backend/test/Anela.Heblo.Tests/Features/FileStorage/FileStorageModuleTests.cs
Due: none

config: add FileStorage section to all appsettings files
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.Staging.json
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

docs(architecture): document FileStorage and ExpeditionList Key Vault secrets
  docs/architecture/environments.md
Due: none

test: pass utcNow to MarketingAction test calls after signature change
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
Due: none

fix: ungate grid layout persistence from admin permission
  backend/src/Anela.Heblo.API/Controllers/GridLayoutsController.cs
  backend/test/Anela.Heblo.Tests/Authorization/GridLayoutsControllerAuthorizationTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-filestorage-module-reads-exp-dev-main
  docs/superpowers/plans/2026-06-12-decouple-filestorage-from-expeditionlist-config.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-module-reads-exp/impl/main.r1.md
  artifacts/feat-arch-review-filestorage-module-reads-exp/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/brief.md
  artifacts/feat-arch-review-filestorage-productexportdow/brief.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/spec.r1.md
  artifacts/feat-arch-review-filestorage-productexportdow/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/answers.r1.md
  artifacts/feat-arch-review-filestorage-productexportdow/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/spec.r2.md
  artifacts/feat-arch-review-filestorage-productexportdow/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/answers.r2.md
  artifacts/feat-arch-review-filestorage-productexportdow/answers.r2.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/spec.r3.md
  artifacts/feat-arch-review-filestorage-productexportdow/spec.r3.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/arch-review.r1.md
  artifacts/feat-arch-review-filestorage-productexportdow/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/task-plan.r1.md
  artifacts/feat-arch-review-filestorage-productexportdow/task-plan.r1.md
Due: none
