Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: add inventory error codes and constants
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/InventoryConstants.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat: consume/restore inventory on transport box item add/remove and reset
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/AddItemToBox/AddItemToBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/AddItemToBox/AddItemToBoxRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/RemoveItemFromBox/RemoveItemFromBoxHandler.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxUniquenessTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/AddItemToBoxHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/RemoveItemFromBoxHandlerTests.cs
Due: backend, Backend (.NET)

feat: add Lot and Ean domain entities with repository interfaces
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/Ean.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/IEanRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/ILotRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/Lot.cs
Due: backend, Backend (.NET)

feat: add Lot and Ean EF Core configurations and DbSets
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/EanConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/LotConfiguration.cs
Due: backend, Backend (.NET)

fix: use InternalError code in catch-all, add warning log for missing inventory on restore
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/AddItemToBox/AddItemToBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/RemoveItemFromBox/RemoveItemFromBoxHandler.cs
Due: backend, Backend (.NET)

feat: add LotRepository and EanRepository implementations
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/EanRepository.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/LotRepository.cs
Due: backend, Backend (.NET)

feat: add LotDto, EanDto, IEanCodeGenerator, and EanCodeGenerator
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/Contracts/EanDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/Contracts/LotDto.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/IEanCodeGenerator.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/EanCodeGenerator.cs
Due: backend, Backend (.NET)

feat: add manufactured inventory hook, page, route, and sidebar link
  frontend/src/App.tsx
  frontend/src/api/hooks/useManufacturedProductInventory.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/ManufacturedInventoryPage.tsx
Due: frontend, Frontend (React)

feat: add CreateLot handler with TDD tests
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateLot/CreateLotHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateLot/CreateLotRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateLot/CreateLotRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateLot/CreateLotResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/CreateLotHandlerTests.cs
Due: backend, Backend (.NET)

fix: align hook with codebase pattern, fix stale edit state, replace window.confirm, immutable Set
  frontend/src/api/hooks/useManufacturedProductInventory.ts
  frontend/src/components/pages/ManufacturedInventoryPage.tsx
Due: frontend, Frontend (React)

feat: add GetLot and ListLots handlers with TDD tests
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetLot/GetLotHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetLot/GetLotRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetLot/GetLotResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/ListLots/ListLotsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/ListLots/ListLotsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/ListLots/ListLotsResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/GetLotHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/ListLotsHandlerTests.cs
Due: backend, Backend (.NET)

feat: add UpdateLot and DeleteLot handlers with TDD tests
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DeleteLot/DeleteLotHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DeleteLot/DeleteLotRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DeleteLot/DeleteLotResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/UpdateLot/UpdateLotHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/UpdateLot/UpdateLotRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/UpdateLot/UpdateLotRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/UpdateLot/UpdateLotResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/DeleteLotHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/UpdateLotHandlerTests.cs
Due: backend, Backend (.NET)

feat: add Manufactured tab to transport box item picker
  frontend/src/api/hooks/useTransportBoxes.ts
  frontend/src/components/pages/TransportBoxDetail.tsx
  frontend/src/components/pages/__tests__/TransportBoxDetail.test.tsx
  frontend/src/components/transport/box-detail/TransportBoxItems.tsx
  frontend/src/components/transport/box-detail/TransportBoxTypes.tsx
Due: frontend, Frontend (React)

feat: add CreateEans and GetEanByCode handlers with TDD tests
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateEans/CreateEansHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateEans/CreateEansRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateEans/CreateEansRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateEans/CreateEansResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetEanByCode/GetEanByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetEanByCode/GetEanByCodeRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetEanByCode/GetEanByCodeResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/CreateEansHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/GetEanByCodeHandlerTests.cs
Due: backend, Backend (.NET)

feat(smartsupp): add GetConversationAsync to API client
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
Due: backend, Backend (.NET)

feat: add ListEans and DeleteEan handlers with TDD tests
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DeleteEan/DeleteEanHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DeleteEan/DeleteEanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DeleteEan/DeleteEanResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/ListEans/ListEansHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/ListEans/ListEansRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/ListEans/ListEansResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/DeleteEanHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/ListEansHandlerTests.cs
Due: backend, Backend (.NET)

feat: add InventoryModule DI registration and Lots/Eans controllers
  backend/src/Anela.Heblo.API/Controllers/EansController.cs
  backend/src/Anela.Heblo.API/Controllers/LotsController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/InventoryModule.cs
Due: backend, Backend (.NET)

fix: include logs in GetPagedListAsync, add amount validation, add warning log, invalidate inventory query on box add
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/RemoveItemFromBox/RemoveItemFromBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufacturedInventoryItem/CreateManufacturedInventoryItemRequest.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/Inventory/ManufacturedProductInventoryRepository.cs
  frontend/src/api/hooks/useTransportBoxes.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(smartsupp): reconcile locally-open conversations during manual sync
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/RunManualSync/RunManualSyncHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/RunManualSync/RunManualSyncResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/RunManualSyncHandlerTests.cs
Due: backend, Backend (.NET)

chore: apply dotnet format
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/RunManualSyncHandlerTests.cs
Due: none

feat(smartsupp): extend domain enums and entities for webhook event fields
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppConversation.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppConversationStatus.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppMessage.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppMessageAuthorType.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-meeting-tasks-graph-todo-integration-con/brief.md
  artifacts/feat-meeting-tasks-graph-todo-integration-con/brief.md
Due: none

agent: planner output feat-meeting-tasks-graph-todo-integration-con-planning-1
  docs/superpowers/plans/2026-05-13-meeting-tasks-graph-todo-integration-controller-wiring.md
Due: none

agent: upload artifacts/feat-meeting-tasks-graph-todo-integration-con/spec.r1.md
  artifacts/feat-meeting-tasks-graph-todo-integration-con/spec.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-graph-todo-integration-con/task-plan.r1.md
  artifacts/feat-meeting-tasks-graph-todo-integration-con/task-plan.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-graph-todo-integration-con/arch-review.r1.md
  artifacts/feat-meeting-tasks-graph-todo-integration-con/arch-review.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-write-handlers-edit-approv/spec.r1.md
  artifacts/feat-meeting-tasks-write-handlers-edit-approv/spec.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-write-handlers-edit-approv/brief.md
  artifacts/feat-meeting-tasks-write-handlers-edit-approv/brief.md
Due: none

agent: planner output feat-meeting-tasks-write-handlers-edit-approv-planning-1
  docs/superpowers/plans/2026-05-13-meeting-task-write-handlers.md
Due: none

agent: upload artifacts/feat-meeting-tasks-write-handlers-edit-approv/task-plan.r1.md
  artifacts/feat-meeting-tasks-write-handlers-edit-approv/task-plan.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-write-handlers-edit-approv/arch-review.r1.md
  artifacts/feat-meeting-tasks-write-handlers-edit-approv/arch-review.r1.md
Due: none

feat: add EF migration for Lots and Eans tables with ean_internal_seq sequence
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/InventoryModule.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/NullEanCodeGenerator.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260513112500_AddLotAndEanInventory.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260513112500_AddLotAndEanInventory.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Common/HebloWebApplicationFactory.cs
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/GetLotHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/ListLotsHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(smartsupp): configure EF columns for new webhook event fields
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppConversationConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppMessageConfiguration.cs
Due: backend, Backend (.NET)

feat(smartsupp): add EF migration for webhook event fields
  backend/src/Anela.Heblo.Persistence/Migrations/20260513120645_AddSmartsuppWebhookEventFields.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260513120645_AddSmartsuppWebhookEventFields.cs
Due: backend, Backend (.NET)

fix: eliminate request mutation in LotsController and document EanCodeGenerator SQL constant
  backend/src/Anela.Heblo.API/Controllers/LotsController.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/EanCodeGenerator.cs
Due: backend, Backend (.NET)

feat(smartsupp): add contact stale-guard and UpdateMessageDeliveryStatusAsync to repository
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppRepositoryUpdatedAtGuardTests.cs
Due: backend, Backend (.NET)

fix: use QUERY_KEYS for manufactured inventory, restore mock in beforeEach
  frontend/src/api/client.ts
  frontend/src/api/hooks/useManufacturedProductInventory.ts
  frontend/src/api/hooks/useTransportBoxes.ts
  frontend/src/components/pages/__tests__/TransportBoxDetail.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add ISmartsuppWebhookMetrics interface and System.Diagnostics.Metrics implementation
  backend/src/Anela.Heblo.API/Webhooks/Smartsupp/SmartsuppWebhookMetrics.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/ISmartsuppWebhookMetrics.cs
Due: backend, Backend (.NET)
