Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

Update AgentHarness scaffolding context_files paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

refactor(expedition-list-archive): migrate GetExpeditionListsByDateHandler to IExpeditionListArchiveBlobStore
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionListsByDate/GetExpeditionListsByDateHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionListsByDateHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-4231): impl+review for migrate-get-lists-by-date-handler r1
  artifacts/feat-4231/impl/migrate-get-lists-by-date-handler.r1.md
  artifacts/feat-4231/review/migrate-get-lists-by-date-handler.r1.md
  artifacts/feat-4231/state.json
Due: none

chore(feat-4231): migrate-get-lists-by-date-handler passed review
  artifacts/feat-4231/state.json
Due: none

chore(feat-4232): impl+review for verify-build-format-and-openapi-client r1
  artifacts/feat-4232/impl/verify-build-format-and-openapi-client.r1.md
  artifacts/feat-4232/review/verify-build-format-and-openapi-client.r1.md
  artifacts/feat-4232/state.json
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

chore(feat-4232): verify-build-format-and-openapi-client passed review
  artifacts/feat-4232/state.json
Due: none

chore(feat-4229): impl+review for register-validation-pipeline r1
  artifacts/feat-4229/impl/register-validation-pipeline.r1.md
  artifacts/feat-4229/review/register-validation-pipeline.r1.md
  artifacts/feat-4229/state.json
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/Pipeline/AnalyticsValidationPipelineTests.cs
Due: backend, Backend (.NET)

chore(feat-4229): register-validation-pipeline passed review
  artifacts/feat-4229/state.json
Due: none

fix(rework-all): avoid ARG_MAX crash in gh_api.sh pagination
  .claude/skills/_lib/gh_api.sh
Due: none

chore: refresh AgentHarness context_files paths to plugin cache
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: refresh AgentHarness agent context_files to plugin cache paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore(feat-4232): code review r1
  artifacts/feat-4232/code-review.r1.md
  artifacts/feat-4232/state.json
Due: none

chore(feat-4232): mark code-review phase completed
  artifacts/feat-4232/state.json
Due: none

chore(feat-4229): code review r1
  artifacts/feat-4229/code-review.r1.md
  artifacts/feat-4229/state.json
Due: none

refactor(expedition-list-archive): migrate GetExpeditionDatesHandler to IExpeditionListArchiveBlobStore
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionDates/GetExpeditionDatesHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionDatesHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-4231): impl+review for migrate-get-dates-handler r1
  artifacts/feat-4231/impl/migrate-get-dates-handler.r1.md
  artifacts/feat-4231/review/migrate-get-dates-handler.r1.md
  artifacts/feat-4231/state.json
Due: none

chore(feat-4231): migrate-get-dates-handler passed review
  artifacts/feat-4231/state.json
Due: none

chore(feat-4231): impl+review for module-boundary-guard r1
  artifacts/feat-4231/impl/module-boundary-guard.r1.md
  artifacts/feat-4231/review/module-boundary-guard.r1.md
  artifacts/feat-4231/state.json
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

chore(feat-4231): module-boundary-guard passed review
  artifacts/feat-4231/state.json
Due: none

chore: update agentharness context_files paths to plugin cache location
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none
