Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-phase-2-leaflet-generation-persistence-f/arch-review.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/arch-review.r1.md
Due: none

feat: photobank rewamp
  backend/src/Anela.Heblo.API/Controllers/PhotobankSettingsController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/AddRootRequest.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankIndexJob.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/MockPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/AddRoot/AddRootHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260424160000_AddPhotoDriveId.Designer.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/AddRootHandlerTests.cs
  docs/features/photobank.md
  frontend/src/api/hooks/__tests__/usePhotobankSettings.test.ts
  frontend/src/api/hooks/usePhotobankSettings.ts
  frontend/src/components/marketing/photobank/__tests__/IndexRootsTab.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankSettingsPage.tsx
  frontend/src/components/marketing/photobank/settings/IndexRootsTab.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: increase architect max_turns from 10 to 50
  .agents/architect.md
Due: none

chore: harness agents
  .agents/analyst.md
  .agents/designer.md
Due: none

agent: upload artifacts/feat-phase-2-leaflet-generation-persistence-f/spec.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/spec.r1.md
Due: none

agent: upload artifacts/feat-phase-2-leaflet-generation-persistence-f/design.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/design.r1.md
Due: none

agent: architect output feat-phase-2-leaflet-generation-persistence-f-architecting-1
  artifacts/feat-phase-2-leaflet-generation-persistence-f/arch-review.r1.md
Due: none

agent: planner output feat-phase-2-leaflet-generation-persistence-f-planning-1
  docs/superpowers/plans/2026-05-05-leaflet-persistence-feedback.md
Due: none

agent: upload artifacts/feat-phase-2-leaflet-generation-persistence-f/task-plan.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/task-plan.r1.md
Due: none

feat: add PhotoViewToggle segmented icon control
  frontend/src/components/marketing/photobank/PhotoViewToggle.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoViewToggle.test.tsx
Due: frontend, Frontend (React)

feat: add folder path filter to photobank gallery
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/GetPhotosRequest.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetPhotos/GetPhotosHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/GetPhotosHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
  frontend/src/api/hooks/usePhotobank.ts
  frontend/src/components/marketing/photobank/TagSidebar.tsx
  frontend/src/components/marketing/photobank/__tests__/TagSidebar.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

Phase 2 — Leaflet Generation Persistence + Feedback (#958)
  artifacts/feat-phase-2-leaflet-generation-persistence-f/arch-review.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/brief.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/design.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/spec.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/task-plan.r1.md
  docs/superpowers/plans/2026-05-05-leaflet-persistence-feedback.md
Due: none

agent: upload artifacts/feat-phase-3-article-generation-feedback-sour/brief.md
  artifacts/feat-phase-3-article-generation-feedback-sour/brief.md
Due: none

feat: add PhotoList rich card-style list view
  frontend/src/components/marketing/photobank/PhotoList.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoList.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-phase-3-article-generation-feedback-sour/spec.r1.md
  artifacts/feat-phase-3-article-generation-feedback-sour/spec.r1.md
Due: none

feat: add thumbnail service method and repository locator for photobank proxy
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/MockPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankGraphServiceThumbnailTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetLocatorTests.cs
Due: backend, Backend (.NET)

fix: move folderPathValue useState to top of TagSidebar, add X clear test
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
  frontend/src/components/marketing/photobank/TagSidebar.tsx
  frontend/src/components/marketing/photobank/__tests__/TagSidebar.test.tsx
Due: frontend, Frontend (React)

feat: integrate view toggle into PhotobankPage with localStorage persistence
  frontend/src/components/marketing/photobank/__tests__/PhotobankPage.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: frontend, Frontend (React)

fix: address resource leak and code quality issues in thumbnail service
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankGraphServiceThumbnailTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetLocatorTests.cs
Due: backend, Backend (.NET)

chore: apply dotnet format whitespace fixes
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankGraphServiceThumbnailTests.cs
Due: backend, Backend (.NET)

feat: add thumbnail proxy endpoint to PhotobankController
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
Due: backend, Backend (.NET)

fix: address IDisposable, parameter naming, and logging issues in thumbnail controller
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/MockPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
Due: backend, Backend (.NET)

feat: leaflet generation persistence and owner feedback
  backend/src/Anela.Heblo.API/Controllers/LeafletController.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/LeafletModule.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Pipeline/LeafletGenerationLoggingBehavior.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletResponse.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletFeedbackList/GetLeafletFeedbackListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletFeedbackList/GetLeafletFeedbackListRequest.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletGeneration/GetLeafletGenerationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletGeneration/GetLeafletGenerationRequest.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/SubmitLeafletFeedback/SubmitLeafletFeedbackHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/SubmitLeafletFeedback/SubmitLeafletFeedbackRequest.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/ILeafletRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/LeafletFeedbackStats.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/LeafletGeneration.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletGenerationConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/LeafletGenerations_migration.sql
  backend/test/Anela.Heblo.Tests/Features/Leaflet/GetLeafletFeedbackListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/GetLeafletGenerationHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/LeafletGenerationLoggingBehaviorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/SubmitLeafletFeedbackHandlerTests.cs
  frontend/src/api/hooks/__tests__/useLeaflet.test.ts
  frontend/src/api/hooks/useLeaflet.ts
  frontend/src/components/feedback/RagFeedbackForm.tsx
  frontend/src/components/feedback/__tests__/RagFeedbackForm.test.tsx
  frontend/src/components/knowledge-base/KnowledgeBaseSearchAskTab.tsx
  frontend/src/features/leaflet-generator/LeafletGenerateTab.tsx
  frontend/src/features/leaflet-generator/LeafletResult.tsx
  frontend/src/features/leaflet-generator/__tests__/LeafletResult.test.tsx
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

test: add controller unit tests for GetThumbnail thumbnail proxy endpoint
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerThumbnailTests.cs
Due: none

fix: tighten test assertions in PhotobankControllerThumbnailTests
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerThumbnailTests.cs
Due: none

feat: rewrite PhotoThumbnail to use BE proxy, drop MSAL graph fetch
  frontend/src/components/marketing/photobank/PhotoDrawer.tsx
  frontend/src/components/marketing/photobank/PhotoGrid.tsx
  frontend/src/components/marketing/photobank/PhotoThumbnail.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoThumbnail.test.tsx
Due: frontend, Frontend (React)

fix: add missing var result assignment in controller thumbnail test
  .gitignore
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerThumbnailTests.cs
Due: none

feat: add folder path filter to photobank gallery (#961)
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/GetPhotosRequest.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetPhotos/GetPhotosHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/GetPhotosHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
  frontend/src/api/hooks/usePhotobank.ts
  frontend/src/components/marketing/photobank/TagSidebar.tsx
  frontend/src/components/marketing/photobank/__tests__/TagSidebar.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: photobank thumbnail proxy — fix broken thumbnails via BE proxy (#963)
  .gitignore
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/MockPhotobankGraphService.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerThumbnailTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankGraphServiceThumbnailTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetLocatorTests.cs
  frontend/src/components/marketing/photobank/PhotoDrawer.tsx
  frontend/src/components/marketing/photobank/PhotoGrid.tsx
  frontend/src/components/marketing/photobank/PhotoThumbnail.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoThumbnail.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: photobank view toggle — tile and list views (#962)
  .agents/analyst.md
  .agents/designer.md
  frontend/src/components/marketing/photobank/PhotoList.tsx
  frontend/src/components/marketing/photobank/PhotoViewToggle.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoList.test.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoViewToggle.test.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotobankPage.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: frontend, Frontend (React)

fix(photobank): guard GetOrCreateTagAsync null return and remove spurious async state machines
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/AddPhotoTag/AddPhotoTagHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
Due: backend, Backend (.NET)

feat: add LeafletGeneration entity and LeafletFeedbackStats record
  backend/src/Anela.Heblo.Domain/Features/Leaflet/LeafletFeedbackStats.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/LeafletGeneration.cs
Due: backend, Backend (.NET)

feat: extend ILeafletRepository with generation methods, add error codes 2502-2503
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/ILeafletRepository.cs
Due: backend, Backend (.NET)

feat: add LeafletGenerationConfiguration and LeafletGenerations DbSet
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletGenerationConfiguration.cs
Due: backend, Backend (.NET)

feat: implement generation persistence methods in LeafletRepository
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletRepository.cs
Due: backend, Backend (.NET)

feat: add AddLeafletGenerations migration
  backend/src/Anela.Heblo.Persistence/Migrations/20260505202743_AddLeafletGenerations.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260505202743_AddLeafletGenerations.cs
Due: backend, Backend (.NET)

feat: add Id, KbSourceCount, LeafletSourceCount to GenerateLeafletResponse
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletResponse.cs
Due: backend, Backend (.NET)
