Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-4318): code review r1
  artifacts/feat-4318/code-review.r1.md
  artifacts/feat-4318/state.json
Due: none

chore(feat-4318): mark code-review phase completed
  artifacts/feat-4318/state.json
Due: none

chore(feat-4319): impl+review for full-verification r1
  artifacts/feat-4319/impl/full-verification.r1.md
  artifacts/feat-4319/review/full-verification.r1.md
  artifacts/feat-4319/state.json
Due: none

chore(feat-4319): full-verification passed review
  artifacts/feat-4319/state.json
Due: none

#4315: Bulk mutation support in IUserDashboardSettingsMutator to eliminate SaveUserSettingsHandler's duplicated scaffold (#4321)
  artifacts/feat-4315/arch-review.r1.md
  artifacts/feat-4315/brief.md
  artifacts/feat-4315/code-review.r1.md
  artifacts/feat-4315/design.r1.md
  artifacts/feat-4315/impl/add-mutate-bulk-async-interface.r1.md
  artifacts/feat-4315/impl/implement-mutate-bulk-async.r1.md
  artifacts/feat-4315/impl/refactor-save-user-settings-handler.r1.md
  artifacts/feat-4315/review/add-mutate-bulk-async-interface.r1.md
  artifacts/feat-4315/review/implement-mutate-bulk-async.r1.md
  artifacts/feat-4315/review/refactor-save-user-settings-handler.r1.md
  artifacts/feat-4315/spec.r1.md
  artifacts/feat-4315/state.json
  artifacts/feat-4315/task-context/add-mutate-bulk-async-interface.md
  artifacts/feat-4315/task-context/implement-mutate-bulk-async.md
  artifacts/feat-4315/task-context/refactor-save-user-settings-handler.md
  artifacts/feat-4315/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Dashboard/Infrastructure/IUserDashboardSettingsMutator.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Infrastructure/UserDashboardSettingsMutator.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/Infrastructure/UserDashboardSettingsMutatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/SaveUserSettingsHandlerTests.cs
Due: backend, Backend (.NET)

#4316: Remove non-zero `LastModified` defaults on Dashboard domain entities (#4322)
  artifacts/feat-4316/arch-review.r1.md
  artifacts/feat-4316/brief.md
  artifacts/feat-4316/code-review.r1.md
  artifacts/feat-4316/design.r1.md
  artifacts/feat-4316/impl/remove-lastmodified-defaults.r1.md
  artifacts/feat-4316/review/remove-lastmodified-defaults.r1.md
  artifacts/feat-4316/spec.r1.md
  artifacts/feat-4316/state.json
  artifacts/feat-4316/task-context/remove-lastmodified-defaults.md
  artifacts/feat-4316/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Features/Dashboard/UserDashboardSettings.cs
  backend/src/Anela.Heblo.Domain/Features/Dashboard/UserDashboardTile.cs
  backend/test/Anela.Heblo.Tests/Domain/Dashboard/UserDashboardEntityDefaultsTests.cs
Due: backend, Backend (.NET)

Update AgentHarness context_files to plugin-cache skill paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

Update AgentHarness skill context_files to plugin cache paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: sync AgentHarness scaffolding context_file paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: fix agent context_files path for superpowers plugin cache
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore(feat-4319): code review r1
  artifacts/feat-4319/code-review.r1.md
  artifacts/feat-4319/state.json
Due: none

chore(feat-4319): code-review phase completed
  artifacts/feat-4319/state.json
Due: none

chore: refresh AgentHarness context_files paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

#4314: PackingStatsTile drill-down consistency fix (#4320)
  artifacts/feat-4314/arch-review.r1.md
  artifacts/feat-4314/brief.md
  artifacts/feat-4314/code-review.r1.md
  artifacts/feat-4314/design.r1.md
  artifacts/feat-4314/impl/refactor-packing-stats-tile-drilldown.r1.md
  artifacts/feat-4314/impl/wire-target-url-in-tile-registry.r1.md
  artifacts/feat-4314/review/refactor-packing-stats-tile-drilldown.r1.md
  artifacts/feat-4314/review/wire-target-url-in-tile-registry.r1.md
  artifacts/feat-4314/spec.r1.md
  artifacts/feat-4314/state.json
  artifacts/feat-4314/task-context/refactor-packing-stats-tile-drilldown.md
  artifacts/feat-4314/task-context/wire-target-url-in-tile-registry.md
  artifacts/feat-4314/task-plan.r1.md
  frontend/src/components/dashboard/tiles/PackingStatsTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/PackingStatsTile.test.tsx
  frontend/src/components/dashboard/tiles/tileRegistry.tsx
Due: frontend, Frontend (React)

#4317: Batch-load existing configurations in RecurringJobSeeder (#4323)
  artifacts/feat-4317/arch-review.r1.md
  artifacts/feat-4317/brief.md
  artifacts/feat-4317/code-review.r1.md
  artifacts/feat-4317/design.r1.md
  artifacts/feat-4317/impl/add-query-count-regression-test.r1.md
  artifacts/feat-4317/impl/batch-load-existing-configurations.r1.md
  artifacts/feat-4317/review/add-query-count-regression-test.r1.md
  artifacts/feat-4317/review/batch-load-existing-configurations.r1.md
  artifacts/feat-4317/spec.r1.md
  artifacts/feat-4317/state.json
  artifacts/feat-4317/task-context/add-query-count-regression-test.md
  artifacts/feat-4317/task-context/batch-load-existing-configurations.md
  artifacts/feat-4317/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/RecurringJobSeeder.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobSeederTests.cs
Due: backend, Backend (.NET)

#4318: BackgroundJobs — RecurringJobSeeder must not overwrite audit fields when nothing changed (#4324)
  artifacts/feat-4318/arch-review.r1.md
  artifacts/feat-4318/brief.md
  artifacts/feat-4318/code-review.r1.md
  artifacts/feat-4318/design.r1.md
  artifacts/feat-4318/impl/guard-seeder-audit-field-overwrite.r1.md
  artifacts/feat-4318/review/guard-seeder-audit-field-overwrite.r1.md
  artifacts/feat-4318/spec.r1.md
  artifacts/feat-4318/state.json
  artifacts/feat-4318/task-context/guard-seeder-audit-field-overwrite.md
  artifacts/feat-4318/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/RecurringJobSeeder.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobSeederTests.cs
Due: backend, Backend (.NET)

#4202: Move Meta Ads Access Token from URL Query Parameter to Authorization Header (#4204)
  artifacts/feat-4202/arch-review.r1.md
  artifacts/feat-4202/brief.md
  artifacts/feat-4202/code-review.r1.md
  artifacts/feat-4202/design.r1.md
  artifacts/feat-4202/impl/add-bearer-auth-regression-tests.r1.md
  artifacts/feat-4202/impl/move-access-token-to-authorization-header.r1.md
  artifacts/feat-4202/review/add-bearer-auth-regression-tests.r1.md
  artifacts/feat-4202/review/move-access-token-to-authorization-header.r1.md
  artifacts/feat-4202/spec.r1.md
  artifacts/feat-4202/state.json
  artifacts/feat-4202/task-context/add-bearer-auth-regression-tests.md
  artifacts/feat-4202/task-context/move-access-token-to-authorization-header.md
  artifacts/feat-4202/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
  backend/test/Anela.Heblo.Tests/Adapters/MetaAds/MetaAdsTransactionSourceTests.cs
Due: backend, Backend (.NET)

chore: point agent context_files at superpowers plugin cache path
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

Refresh AgentHarness agent context_files paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

#4210: Split test-only lifecycle methods out of IEshopOrderClient (#4215)
  artifacts/feat-4210/arch-review.r1.md
  artifacts/feat-4210/brief.md
  artifacts/feat-4210/code-review.r1.md
  artifacts/feat-4210/design.r1.md
  artifacts/feat-4210/impl/create-shoptet-order-test-client-interface.r1.md
  artifacts/feat-4210/impl/full-solution-verification.r1.md
  artifacts/feat-4210/impl/implement-test-client-on-shoptet-order-client.r1.md
  artifacts/feat-4210/impl/register-test-client-in-di.r1.md
  artifacts/feat-4210/impl/shrink-ieshoporderclient-interface.r1.md
  artifacts/feat-4210/impl/update-block-order-processing-integration-tests.r1.md
  artifacts/feat-4210/impl/update-picking-list-integration-tests.r1.md
  artifacts/feat-4210/impl/update-shoptet-test-environment-hydration-tests.r1.md
  artifacts/feat-4210/review/create-shoptet-order-test-client-interface.r1.md
  artifacts/feat-4210/review/full-solution-verification.r1.md
  artifacts/feat-4210/review/implement-test-client-on-shoptet-order-client.r1.md
  artifacts/feat-4210/review/register-test-client-in-di.r1.md
  artifacts/feat-4210/review/shrink-ieshoporderclient-interface.r1.md
  artifacts/feat-4210/review/update-block-order-processing-integration-tests.r1.md
  artifacts/feat-4210/review/update-picking-list-integration-tests.r1.md
  artifacts/feat-4210/review/update-shoptet-test-environment-hydration-tests.r1.md
  artifacts/feat-4210/spec.r1.md
  artifacts/feat-4210/state.json
  artifacts/feat-4210/task-context/create-shoptet-order-test-client-interface.md
  artifacts/feat-4210/task-context/full-solution-verification.md
  artifacts/feat-4210/task-context/implement-test-client-on-shoptet-order-client.md
  artifacts/feat-4210/task-context/register-test-client-in-di.md
  artifacts/feat-4210/task-context/shrink-ieshoporderclient-interface.md
  artifacts/feat-4210/task-context/update-block-order-processing-integration-tests.md
  artifacts/feat-4210/task-context/update-picking-list-integration-tests.md
  artifacts/feat-4210/task-context/update-shoptet-test-environment-hydration-tests.md
  artifacts/feat-4210/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/IShoptetOrderTestClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IEshopOrderClient.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/BlockOrderProcessingIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/PickingListIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
Due: backend, Backend (.NET)

#4307: Remove unnecessary async state machine from GetConfigurationHandler (#4311)
  artifacts/feat-4307/arch-review.r1.md
  artifacts/feat-4307/brief.md
  artifacts/feat-4307/code-review.r1.md
  artifacts/feat-4307/design.r1.md
  artifacts/feat-4307/impl/remove-async-state-machine.r1.md
  artifacts/feat-4307/review/remove-async-state-machine.r1.md
  artifacts/feat-4307/spec.r1.md
  artifacts/feat-4307/state.json
  artifacts/feat-4307/task-context/remove-async-state-machine.md
  artifacts/feat-4307/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/Flexi/ReceivedInvoiceVatIdWireShapeTests.cs
Due: backend, Backend (.NET)

#4219: Extract Helper Methods from `GraphService.GetAppRoleMembersAsync` (#4222)
  artifacts/feat-4219/arch-review.r1.md
  artifacts/feat-4219/brief.md
  artifacts/feat-4219/code-review.r1.md
  artifacts/feat-4219/design.r1.md
  artifacts/feat-4219/impl/extract-batch-resolve-user-dtos.r1.md
  artifacts/feat-4219/impl/extract-collect-role-assignees.r1.md
  artifacts/feat-4219/impl/extract-find-app-role-id.r1.md
  artifacts/feat-4219/impl/extract-resolve-service-principal.r1.md
  artifacts/feat-4219/impl/full-suite-validation.r1.md
  artifacts/feat-4219/review/extract-batch-resolve-user-dtos.r1.md
  artifacts/feat-4219/review/extract-collect-role-assignees.r1.md
  artifacts/feat-4219/review/extract-find-app-role-id.r1.md
  artifacts/feat-4219/review/extract-resolve-service-principal.r1.md
  artifacts/feat-4219/review/full-suite-validation.r1.md
  artifacts/feat-4219/spec.r1.md
  artifacts/feat-4219/state.json
  artifacts/feat-4219/task-context/extract-batch-resolve-user-dtos.md
  artifacts/feat-4219/task-context/extract-collect-role-assignees.md
  artifacts/feat-4219/task-context/extract-find-app-role-id.md
  artifacts/feat-4219/task-context/extract-resolve-service-principal.md
  artifacts/feat-4219/task-context/full-suite-validation.md
  artifacts/feat-4219/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/UserManagement/GraphService.cs
Due: backend, Backend (.NET)

chore: update agentharness context_files paths to plugin cache
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: repoint agent context_files to installed superpowers skill path
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: refresh AgentHarness agent scaffolding context_files paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

#4319: BackgroundJobs — invalidate detail query on CRON update (#4325)
  artifacts/feat-4319/arch-review.r1.md
  artifacts/feat-4319/brief.md
  artifacts/feat-4319/code-review.r1.md
  artifacts/feat-4319/design.r1.md
  artifacts/feat-4319/impl/add-detail-invalidation-to-cron-mutation.r1.md
  artifacts/feat-4319/impl/full-verification.r1.md
  artifacts/feat-4319/review/add-detail-invalidation-to-cron-mutation.r1.md
  artifacts/feat-4319/review/full-verification.r1.md
  artifacts/feat-4319/spec.r1.md
  artifacts/feat-4319/state.json
  artifacts/feat-4319/task-context/add-detail-invalidation-to-cron-mutation.md
  artifacts/feat-4319/task-context/full-verification.md
  artifacts/feat-4319/task-plan.r1.md
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
  frontend/src/api/hooks/useRecurringJobs.ts
Due: frontend, Frontend (React)

chore: update AgentHarness agent context_files paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: update agentharness context_files paths via agentharness init
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none
