Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: add ProductIngredientOrder domain entity
  backend/src/Anela.Heblo.Domain/Features/Catalog/ProductIngredientOrder.cs
Due: backend, Backend (.NET)

refactor(analytics): consume IAnalyticsProductSource instead of Catalog types
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/IAnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/AnalyticsProduct.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapterTests.cs
Due: backend, Backend (.NET)

feat: add IProductIngredientOrderRepository interface
  backend/src/Anela.Heblo.Domain/Features/Catalog/IProductIngredientOrderRepository.cs
Due: backend, Backend (.NET)

feat: add EF Core configuration for ProductIngredientOrder
  backend/src/Anela.Heblo.Persistence/Catalog/ProductIngredientOrder/ProductIngredientOrderConfiguration.cs
Due: backend, Backend (.NET)

feat: add ProductIngredientOrderRepository
  backend/src/Anela.Heblo.Persistence/Catalog/ProductIngredientOrder/ProductIngredientOrderRepository.cs
Due: backend, Backend (.NET)

feat(meeting-tasks): add SearchText and SearchInTranscript to GetTranscriptListRequest
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/GetTranscriptList/GetTranscriptListRequest.cs
Due: backend, Backend (.NET)

feat: register ProductIngredientOrder DbSet and repository
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
Due: backend, Backend (.NET)

feat(meeting-tasks): extend IMeetingTranscriptRepository.GetListAsync with search params
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/IMeetingTranscriptRepository.cs
Due: backend, Backend (.NET)

feat(meeting-tasks): implement ILike search filter in MeetingTranscriptRepository
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
Due: backend, Backend (.NET)

feat: add EF migration for ProductIngredientOrders table
  backend/src/Anela.Heblo.Persistence/Migrations/20260527073152_AddProductIngredientOrder.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260527073152_AddProductIngredientOrder.cs
Due: backend, Backend (.NET)

feat: add Order field to IngredientDto
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/IngredientDto.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-analytics-direct-cross-modul/impl/main.r1.md
  artifacts/feat-arch-review-analytics-direct-cross-modul/impl/main.r1.md
Due: none

feat(meeting-tasks): pass search params through handler; fix test signatures
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/GetTranscriptList/GetTranscriptListHandler.cs
  backend/test/Anela.Heblo.Tests/Application/MeetingTasks/GetTranscriptListHandlerIsManagerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/GetTranscriptListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/MeetingTranscriptRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Repositories/MeetingTranscriptRepositoryTests.cs
Due: backend, Backend (.NET)

feat: overlay saved order on GetProductComposition response
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductCompositionHandlerTests.cs
Due: backend, Backend (.NET)

test(meeting-tasks): add handler tests for SearchText and SearchInTranscript forwarding
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/GetTranscriptListHandlerTests.cs
Due: none

feat: add UpdateProductCompositionOrder request and response types
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderResponse.cs
Due: backend, Backend (.NET)

feat: Move BackgroundJobs Request Body DTOs to Application Layer (#1845)
  artifacts/feat-arch-review-backgroundjobs-dtos-defined-/arch-review.r1.md
  artifacts/feat-arch-review-backgroundjobs-dtos-defined-/brief.md
  artifacts/feat-arch-review-backgroundjobs-dtos-defined-/impl/main.r1.md
  artifacts/feat-arch-review-backgroundjobs-dtos-defined-/spec.r1.md
  artifacts/feat-arch-review-backgroundjobs-dtos-defined-/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/RecurringJobsController.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/UpdateJobCronRequestBody.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/UpdateJobStatusRequestBody.cs
  docs/superpowers/plans/2026-05-27-relocate-backgroundjobs-request-body-dtos.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-analytics-gc-collect-called-/brief.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-gc-collect-called-/spec.r1.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/spec.r1.md
Due: none

feat: add UpdateProductCompositionOrder handler with upsert/delete logic
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/UpdateProductCompositionOrder/UpdateProductCompositionOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/UpdateProductCompositionOrderHandlerTests.cs
Due: backend, Backend (.NET)

feat(dashboard): add FailedJobsTile backend implementation
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/DashboardTiles/FailedJobsTile.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/DashboardTiles/FailedJobsTileTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-analytics-gc-collect-called-/arch-review.r1.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/arch-review.r1.md
Due: none

feat(meeting-tasks): extend useMeetingTasksList with searchText and searchInTranscript params
  frontend/src/api/hooks/useMeetingTasks.ts
Due: frontend, Frontend (React)

test(dashboard): assert drillDown.enabled in FailedJobsTile error test
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/DashboardTiles/FailedJobsTileTests.cs
Due: none

feat(meeting-tasks): add search input and transcript toggle to meeting tasks list
  frontend/src/api/hooks/__tests__/useMeetingTasks.test.ts
  frontend/src/components/pages/automation/MeetingTasksPage.tsx
Due: frontend, Frontend (React)

feat: add PUT /api/catalog/{productCode}/composition/order endpoint
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
Due: backend, Backend (.NET)

fix(meeting-tasks): add aria-label to search input for accessibility
  frontend/src/components/pages/automation/MeetingTasksPage.tsx
Due: frontend, Frontend (React)

agent: planner output feat-arch-review-analytics-gc-collect-called--planning-1
  docs/superpowers/plans/2026-05-27-analytics-gc-collect-removal.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-gc-collect-called-/task-plan.r1.md
  artifacts/feat-arch-review-analytics-gc-collect-called-/task-plan.r1.md
Due: none

chore: regenerate OpenAPI client for composition order endpoint
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

refactor(dashboard): harden FailedJobsTile error message and seal class
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/DashboardTiles/FailedJobsTile.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/DashboardTiles/FailedJobsTileTests.cs
Due: backend, Backend (.NET)

fix: lint auto-fix for testing-library patterns
  frontend/src/api/hooks/__tests__/useMeetingManagerPermission.test.ts
  frontend/src/components/pages/automation/__tests__/MeetingTaskDetailPage.download.test.tsx
  frontend/src/components/pages/automation/access/__tests__/ManageAccessModal.test.tsx
Due: frontend, Frontend (React)

feat: add useUpdateProductCompositionOrder hook
  frontend/src/api/hooks/useCatalog.ts
  frontend/src/api/hooks/useUpdateProductCompositionOrder.ts
Due: frontend, Frontend (React)

feat: add sortable CompositionTabRow component
  frontend/src/components/catalog/detail/tabs/CompositionTabRow.tsx
Due: frontend, Frontend (React)

test(analytics): characterize StreamProductsWithSalesAsync yielded sequence
  backend/test/Anela.Heblo.Tests/Features/Analytics/AnalyticsRepositoryTests.cs
Due: none

feat(dashboard): register FailedJobsTile in DashboardModule
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
Due: backend, Backend (.NET)

feat(plaud): add PlaudAuthExpiredException for typed auth failures
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudAuthExpiredException.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientAuthTests.cs
Due: backend, Backend (.NET)

feat: composition tab edit mode with drag-and-drop reordering
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
Due: frontend, Frontend (React)

feat(dashboard): add FailedJobsTile frontend component
  frontend/src/components/dashboard/tiles/FailedJobsTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/FailedJobsTile.test.tsx
Due: frontend, Frontend (React)

perf(analytics): remove forced GC.Collect from streaming batch loop
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
