Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

#3343: fix stock-operations E2E navigation URL to /stock-up-operations (#3353)
  artifacts/feat-3343/arch-review.r1.md
  artifacts/feat-3343/brief.md
  artifacts/feat-3343/code-review.r1.md
  artifacts/feat-3343/impl/fix-auth-helper-url.r1.md
  artifacts/feat-3343/impl/fix-navigation-spec.r1.md
  artifacts/feat-3343/impl/fix-spec-url-assertions.r1.md
  artifacts/feat-3343/impl/verify-no-remaining-occurrences.r1.md
  artifacts/feat-3343/review/fix-auth-helper-url.r1.md
  artifacts/feat-3343/review/fix-navigation-spec.r1.md
  artifacts/feat-3343/review/fix-spec-url-assertions.r1.md
  artifacts/feat-3343/review/verify-no-remaining-occurrences.r1.md
  artifacts/feat-3343/spec.r1.md
  artifacts/feat-3343/state.json
  artifacts/feat-3343/task-context/fix-auth-helper-url.md
  artifacts/feat-3343/task-context/fix-navigation-spec.md
  artifacts/feat-3343/task-context/fix-spec-url-assertions.md
  artifacts/feat-3343/task-context/verify-no-remaining-occurrences.md
  artifacts/feat-3343/task-plan.r1.md
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/stock-operations/accept.spec.ts
  frontend/test/e2e/stock-operations/badges.spec.ts
  frontend/test/e2e/stock-operations/navigation.spec.ts
  frontend/test/e2e/stock-operations/panel.spec.ts
  frontend/test/e2e/stock-operations/retry.spec.ts
  frontend/test/e2e/stock-operations/sorting.spec.ts
  frontend/test/e2e/stock-operations/source-filter.spec.ts
  frontend/test/e2e/stock-operations/state-filter.spec.ts
Due: none

#3335: Fix DateTime Kind=Unspecified crash in FlexiAnalyticsSync pipeline (#3352)
  artifacts/feat-3335/answers.r1.md
  artifacts/feat-3335/arch-review.r1.md
  artifacts/feat-3335/brief.md
  artifacts/feat-3335/code-review.r1.md
  artifacts/feat-3335/design.r1.md
  artifacts/feat-3335/impl/add-datetime-regression-tests.r1.md
  artifacts/feat-3335/impl/fix-initial-backfill-datetime.r1.md
  artifacts/feat-3335/impl/fix-sync-service-map-methods.r1.md
  artifacts/feat-3335/review/add-datetime-regression-tests.r1.md
  artifacts/feat-3335/review/fix-initial-backfill-datetime.r1.md
  artifacts/feat-3335/review/fix-sync-service-map-methods.r1.md
  artifacts/feat-3335/spec.r1.md
  artifacts/feat-3335/spec.r2.md
  artifacts/feat-3335/state.json
  artifacts/feat-3335/task-context/add-datetime-regression-tests.md
  artifacts/feat-3335/task-context/fix-initial-backfill-datetime.md
  artifacts/feat-3335/task-context/fix-sync-service-map-methods.md
  artifacts/feat-3335/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/AccountingTemplateSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/ContactSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/DepartmentSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/LedgerSyncService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/AccountingTemplateSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/ContactSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/DepartmentSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/FlexiAnalyticsSyncOptionsTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/LedgerSyncServiceTests.cs
Due: backend, Backend (.NET)

#3334: Make TimeWindowParser injectable via TimeProvider (#3341)
  artifacts/feat-3334/arch-review.r1.md
  artifacts/feat-3334/brief.md
  artifacts/feat-3334/code-review.r1.md
  artifacts/feat-3334/impl/inject-timewindowparser-into-handler.r1.md
  artifacts/feat-3334/impl/register-timewindowparser-in-analyticsmodule.r1.md
  artifacts/feat-3334/impl/update-handler-tests.r1.md
  artifacts/feat-3334/impl/update-timewindowparser.r1.md
  artifacts/feat-3334/review/inject-timewindowparser-into-handler.r1.md
  artifacts/feat-3334/review/register-timewindowparser-in-analyticsmodule.r1.md
  artifacts/feat-3334/review/update-handler-tests.r1.md
  artifacts/feat-3334/review/update-timewindowparser.r1.md
  artifacts/feat-3334/spec.r1.md
  artifacts/feat-3334/state.json
  artifacts/feat-3334/task-context/inject-timewindowparser-into-handler.md
  artifacts/feat-3334/task-context/register-timewindowparser-in-analyticsmodule.md
  artifacts/feat-3334/task-context/update-handler-tests.md
  artifacts/feat-3334/task-context/update-timewindowparser.md
  artifacts/feat-3334/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/TimeWindowParser.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
Due: backend, Backend (.NET)

#3332: remove explicit GC.Collect() from CatalogAnalyticsSourceAdapter batch loop (#3338)
  artifacts/feat-3332/arch-review.r1.md
  artifacts/feat-3332/brief.md
  artifacts/feat-3332/code-review.r1.md
  artifacts/feat-3332/design.r1.md
  artifacts/feat-3332/impl/remove-gc-collect.r1.md
  artifacts/feat-3332/review/remove-gc-collect.r1.md
  artifacts/feat-3332/spec.r1.md
  artifacts/feat-3332/state.json
  artifacts/feat-3332/task-context/remove-gc-collect.md
  artifacts/feat-3332/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
Due: backend, Backend (.NET)

#3331: fix Analytics exception leakage in error responses (#3337)
  artifacts/feat-3331/arch-review.r1.md
  artifacts/feat-3331/brief.md
  artifacts/feat-3331/code-review.r1.md
  artifacts/feat-3331/design.r1.md
  artifacts/feat-3331/impl/fix-exception-leakage.r1.md
  artifacts/feat-3331/review/fix-exception-leakage.r1.md
  artifacts/feat-3331/spec.r1.md
  artifacts/feat-3331/state.json
  artifacts/feat-3331/task-context/fix-exception-leakage.md
  artifacts/feat-3331/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
Due: backend, Backend (.NET)

#3299: remove unused groupId parameter from AcquireGraphTokenAsync (#3311)
  .context/pr.md
  artifacts/feat-3299/arch-review.r1.md
  artifacts/feat-3299/brief.md
  artifacts/feat-3299/design.r1.md
  artifacts/feat-3299/impl/remove-groupid-parameter-from-signature.r1.md
  artifacts/feat-3299/impl/update-call-site.r1.md
  artifacts/feat-3299/spec.r1.md
  artifacts/feat-3299/state.json
  artifacts/feat-3299/task-context/remove-groupid-parameter-from-signature.md
  artifacts/feat-3299/task-context/update-call-site.md
  artifacts/feat-3299/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/UserManagement/GraphService.cs
Due: backend, Backend (.NET)

fix: update useInvoiceImportStatistics test to mock generated client method
  frontend/src/api/hooks/__tests__/useInvoiceImportStatistics.test.ts
Due: frontend, Frontend (React)

chore: update workspace PR context for #3340
  .context/pr.md
Due: none

chore(feat-3347): analyzing artifact
  artifacts/feat-3347/brief.md
  artifacts/feat-3347/spec.r1.md
  artifacts/feat-3347/state.json
Due: none

chore: update workspace PR context for #3342
  .context/pr.md
Due: none

chore(feat-3347): architecting artifact
  artifacts/feat-3347/arch-review.r1.md
  artifacts/feat-3347/spec.r1.md
  artifacts/feat-3347/state.json
Due: none

chore(feat-3347): designing artifact
  artifacts/feat-3347/design.r1.md
  artifacts/feat-3347/spec.r1.md
  artifacts/feat-3347/state.json
Due: none

chore(feat-3347): planning artifact
  artifacts/feat-3347/state.json
  artifacts/feat-3347/task-plan.r1.md
Due: none

chore(feat-3347): task context
  artifacts/feat-3347/state.json
  artifacts/feat-3347/task-context/fix-recurring-jobs-test-assertions.md
Due: none

fix(jobs): replace brittle toBe(12) assertions with toBeGreaterThanOrEqual(24)
  frontend/test/e2e/core/recurring-jobs-management.spec.ts
Due: none

chore(feat-3347): impl+review for fix-recurring-jobs-test-assertions r1
  artifacts/feat-3347/impl/fix-recurring-jobs-test-assertions.r1.md
  artifacts/feat-3347/review/fix-recurring-jobs-test-assertions.r1.md
  artifacts/feat-3347/state.json
Due: none

#3339: Add admin permission guard to ResponsiblePersonCombobox (#3342)
  .context/pr.md
  artifacts/feat-3339/arch-review.r1.md
  artifacts/feat-3339/brief.md
  artifacts/feat-3339/code-review.r1.md
  artifacts/feat-3339/impl/gate-hook.r1.md
  artifacts/feat-3339/impl/guard-component.r1.md
  artifacts/feat-3339/review/gate-hook.r1.md
  artifacts/feat-3339/review/guard-component.r1.md
  artifacts/feat-3339/spec.r1.md
  artifacts/feat-3339/state.json
  artifacts/feat-3339/task-context/gate-hook.md
  artifacts/feat-3339/task-context/guard-component.md
  artifacts/feat-3339/task-plan.r1.md
  frontend/src/api/hooks/__tests__/useUserManagement.test.tsx
  frontend/src/api/hooks/useUserManagement.ts
  frontend/src/components/common/ResponsiblePersonCombobox.tsx
  frontend/src/components/common/__tests__/ResponsiblePersonCombobox.test.tsx
Due: frontend, Frontend (React)

fix: make Baleni Zásilky grid full width
  frontend/src/components/baleni/BaleniLayout.tsx
Due: frontend, Frontend (React)

chore(feat-3347): code review r1
  artifacts/feat-3347/code-review.r1.md
  artifacts/feat-3347/state.json
Due: none

chore(feat-3347): finalize pipeline artifacts
  artifacts/feat-3347/state.json
Due: none

fix: add dark mode bg and text to filter inputs
  frontend/src/components/pages/CatalogList.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
  frontend/src/pages/StockOperationsPage.tsx
Due: frontend, Frontend (React)

feat(frontend): apply dark mode to bottom status bar
  frontend/src/components/StatusBar.tsx
Due: frontend, Frontend (React)

fix: make Baleni Zásilky grid full width (#3358)
  frontend/src/components/baleni/BaleniLayout.tsx
Due: frontend, Frontend (React)

fix: mock PermissionsContext in ManufactureOrderDetail tests
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.telemetry.test.tsx
Due: frontend, Frontend (React)

chore(feat-3348): analyzing artifact
  artifacts/feat-3348/brief.md
  artifacts/feat-3348/spec.r1.md
  artifacts/feat-3348/state.json
Due: none

chore(feat-3348): architecting artifact
  artifacts/feat-3348/arch-review.r1.md
  artifacts/feat-3348/state.json
Due: none

chore(feat-3348): planning artifact
  artifacts/feat-3348/state.json
  artifacts/feat-3348/task-plan.r1.md
Due: none

chore(feat-3348): task context
  artifacts/feat-3348/state.json
  artifacts/feat-3348/task-context/fix-catalog-pagination-race.md
  artifacts/feat-3348/task-context/update-e2e-test-assertions.md
Due: none

fix(catalog): remove race-condition useEffect that restored page=2 after filter reset
  artifacts/feat-3348/impl/fix-catalog-pagination-race.r1.md
  artifacts/feat-3348/review/fix-catalog-pagination-race.r1.md
  artifacts/feat-3348/state.json
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

test(catalog): update E2E assertions to reflect fixed pagination behavior
  artifacts/feat-3348/impl/update-e2e-test-assertions.r1.md
  artifacts/feat-3348/review/update-e2e-test-assertions.r1.md
  frontend/test/e2e/catalog/combined-filters.spec.ts
  frontend/test/e2e/catalog/pagination-with-filters.spec.ts
Due: none

chore(feat-3348): code review artifact and final state
  artifacts/feat-3348/code-review.r1.md
  artifacts/feat-3348/state.json
Due: none

#3333: migrate analytics hooks to generated API client (#3340)
  .context/pr.md
  artifacts/feat-3333/arch-review.r1.md
  artifacts/feat-3333/brief.md
  artifacts/feat-3333/code-review.r1.md
  artifacts/feat-3333/code-review.r2.md
  artifacts/feat-3333/code-review.r3.md
  artifacts/feat-3333/impl/code-review-fixes.r1.md
  artifacts/feat-3333/impl/code-review-fixes.r2.md
  artifacts/feat-3333/impl/migrate-bank-statement-import-statistics-hook.r1.md
  artifacts/feat-3333/impl/migrate-invoice-import-statistics-hook.r1.md
  artifacts/feat-3333/impl/update-bank-statement-import-chart.r1.md
  artifacts/feat-3333/impl/update-bank-statement-import-chart.r2.md
  artifacts/feat-3333/impl/update-invoice-import-chart.r1.md
  artifacts/feat-3333/review/migrate-bank-statement-import-statistics-hook.r1.md
  artifacts/feat-3333/review/migrate-invoice-import-statistics-hook.r1.md
  artifacts/feat-3333/review/update-bank-statement-import-chart.r1.md
  artifacts/feat-3333/review/update-bank-statement-import-chart.r2.md
  artifacts/feat-3333/review/update-invoice-import-chart.r1.md
  artifacts/feat-3333/spec.r1.md
  artifacts/feat-3333/state.json
  artifacts/feat-3333/task-context/code-review-fixes.md
  artifacts/feat-3333/task-context/migrate-bank-statement-import-statistics-hook.md
  artifacts/feat-3333/task-context/migrate-invoice-import-statistics-hook.md
  artifacts/feat-3333/task-context/update-bank-statement-import-chart.md
  artifacts/feat-3333/task-context/update-invoice-import-chart.md
  artifacts/feat-3333/task-plan.r1.md
  frontend/src/api/hooks/__tests__/useInvoiceImportStatistics.test.ts
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/api/hooks/useInvoiceImportStatistics.ts
  frontend/src/components/charts/BankStatementImportChart.tsx
  frontend/src/components/charts/InvoiceImportChart.tsx
  frontend/src/components/customer/tabs/StatisticsTab.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.telemetry.test.tsx
  frontend/src/components/pages/BankStatementImportChart.tsx
  frontend/src/components/pages/automation/InvoiceImportStatistics.tsx
Due: frontend, Frontend (React)

feat: add packing statistics overview to Baleni module
  backend/src/Anela.Heblo.API/Controllers/PackagingController.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingStatistics/GetPackingStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingStatistics/GetPackingStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingStatistics/GetPackingStatisticsResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Packaging/IPackageRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Packaging/PackingStatistics.cs
  backend/src/Anela.Heblo.Persistence/Repositories/Packaging/PackageRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/GetPackingStatisticsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/PackageRepositoryStatisticsTests.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/usePackingStatistics.ts
  frontend/src/components/baleni/statistics/BaleniStatistics.tsx
  frontend/src/components/baleni/statistics/PackingCharts.tsx
  frontend/src/components/baleni/statistics/PackingHourHeatmap.tsx
  frontend/src/components/baleni/statistics/__tests__/BaleniStatistics.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: preserve error border in dark mode for JournalEntryForm inputs
  frontend/src/components/JournalEntryForm.tsx
Due: frontend, Frontend (React)

fix: use TimeProvider.LocalTimeZone instead of TimeZoneInfo.Local in GetPackingStatisticsHandler
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingStatistics/GetPackingStatisticsHandler.cs
Due: backend, Backend (.NET)

chore(feat-3349): analyzing artifact
  artifacts/feat-3349/brief.md
  artifacts/feat-3349/spec.r1.md
  artifacts/feat-3349/state.json
Due: none

chore(feat-3349): architecting artifact
  artifacts/feat-3349/arch-review.r1.md
  artifacts/feat-3349/state.json
Due: none

chore(feat-3349): planning artifact
  artifacts/feat-3349/state.json
  artifacts/feat-3349/task-plan.r1.md
Due: none
