Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

fix: hangfire production auth
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureRepository.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/HebloShoptetAdapterModule.cs
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.API/Extensions/ApplicationBuilderExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireDashboardAuthorizationFilter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetWarehouseStatistics/GetWarehouseStatisticsResponse.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/Services/AzureBlobStorageService.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlHandler.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/Services/IGiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchByIngredient/CalculateBatchByIngredientHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculatedBatchSize/CalculatedBatchSizeHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockUpRequest.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetStockClientIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/DownloadFromUrlHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/FileStorageControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/MockBlobStorageService.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/SimpleFileStorageTest.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchByIngredientHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchBySizeHandlerTests.cs
Due: backend

fix: e2e tests
  docs/architecture/testing-strategy.md
  frontend/test/e2e/transport-box-workflow.spec.ts
  frontend/test/e2e/transport-ean-integration.spec.ts
  scripts/run-playwright-tests.sh
Due: none

fix: be tests
  .github/workflows/ci.yml
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
Due: none

fix: finance dashboard load disabled on test env
  backend/src/Anela.Heblo.API/appsettings.Test.json
Due: backend

fix: be tests
  .codecov.yml
  .github/workflows/ci.yml
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Price/ShoptetPriceClient.cs
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPriceClientIntegrationTests.cs
Due: backend

fix: coverage
  .github/workflows/ci.yml
Due: none

fix: e2e tests
  .github/workflows/ci.yml
Due: none

fix: e2e tests
  .github/workflows/ci.yml
  frontend/test/e2e/helpers/e2e-auth-helper.ts
Due: none

fix: minor udpates for manufacture stock analysis
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: backend, frontend

fix: missing env variables
  frontend/playwright.config.ts
Due: none

fix: tenant id variable
  .github/workflows/ci.yml
  frontend/playwright.config.ts
  frontend/test/e2e/helpers/e2e-auth-helper.ts
Due: none

feat: implement comprehensive E2E regression tests for Transport Module #136 (#141)
  .codecov.yml
  .github/workflows/ci.yml
  CLAUDE.md
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Price/ShoptetPriceClient.cs
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPriceClientIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
  docs/architecture/e2e_regression_tests.md
  docs/architecture/testing-strategy.md
  frontend/playwright.config.ts
  frontend/scripts/run-playwright-tests.sh
  frontend/test/e2e/catalog-ui.spec.ts
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/staging-auth.spec.ts
  frontend/test/e2e/transport-box-creation.spec.ts
  frontend/test/e2e/transport-box-items.spec.ts
  frontend/test/e2e/transport-box-management.spec.ts
  frontend/test/e2e/transport-box-workflow.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
  frontend/test/e2e/transport-ean-integration.spec.ts
  scripts/run-playwright-tests.sh
Due: backend

fix: minor udpates for manufacture stock analysis (#149)
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: backend, frontend

fix: journal datetime issues
  .github/workflows/ci.yml
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryTagAssignmentConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryTagConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Extensions/DateTimeConfigurationExtensions.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250911084753_FixJournalDateTimeColumns.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250911084753_FixJournalDateTimeColumns.cs
  docs/architecture/DateTime_StandardizationGuide.md
Due: backend

fix: journal datetime issues (#150)
  .github/workflows/ci.yml
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryTagAssignmentConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalEntryTagConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Extensions/DateTimeConfigurationExtensions.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250911084753_FixJournalDateTimeColumns.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250911084753_FixJournalDateTimeColumns.cs
  docs/architecture/DateTime_StandardizationGuide.md
Due: backend

feat: inventory
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogList/GetCatalogListHandler.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/useInventory.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/InventoryList.tsx
  frontend/src/components/pages/TransportBoxList.tsx
  frontend/src/index.css
Due: backend, frontend

feat: inventory modal
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/CatalogItemDto.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/inventory/InventoryModal.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend

feat: eshop stock taking
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/HebloShoptetAdapterModule.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/PlaywrightBrowserFactory.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/CashRegisterStatisticsScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/IssuedInvoiceExportScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/PrintPickingListScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockUpScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/ShoptetPlaywrightStockDomainService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Program.cs
  backend/src/Anela.Heblo.API/Controllers/StockTakingController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/CatalogItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogList/GetCatalogListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingHistory/GetStockTakingHistoryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingHistory/GetStockTakingHistoryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingHistory/GetStockTakingHistoryResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/EmptyStockTakingRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/StockTaking/StockTakingResult.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Logistics/StockTaking/StockTakingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Logistics/StockTaking/StockTakingRepository.cs
  backend/src/Anela.Heblo.Persistence/Mapping/StockTakingDbMapper.cs
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useStockTaking.ts
  frontend/src/components/inventory/InventoryModal.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend

fix: BE test
  frontend/src/i18n.ts
Due: frontend

fix: tests
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogListHandlerSortingTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetStockTakingHistoryHandlerTests.cs
  frontend/src/api/hooks/__tests__/useInventory.test.ts
  frontend/src/api/hooks/__tests__/useStockTaking.test.ts
  frontend/src/components/inventory/__tests__/InventoryModal.test.tsx
  frontend/src/components/pages/__tests__/InventoryList.test.tsx
Due: frontend

fix: failing tests
  frontend/src/api/hooks/__tests__/useInventory.test.tsx
  frontend/src/api/hooks/__tests__/useStockTaking.test.tsx
  frontend/src/components/inventory/__tests__/InventoryModal.test.tsx
  frontend/src/components/pages/__tests__/InventoryList.test.tsx
Due: frontend

feat: material stock taking
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Lots/FlexiLotsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Stock/FlexiStockTakingDomainService.cs
  backend/src/Anela.Heblo.API/Controllers/ManufactureStockTakingController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/CatalogItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/LotDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/ManufactureStockTakingLotDto.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/SubmitManufactureStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/SubmitManufactureStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/SubmitManufactureStockTakingResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Lots/CatalogLot.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/ErpStockTakingLot.cs
  backend/src/Anela.Heblo.Persistence/Logistics/StockTaking/StockTakingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250912080704_AddStockTakingRecord.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250912080704_AddStockTakingRecord.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerFullHistoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureStockTakingHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useInventory.test.tsx
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useManufactureInventory.ts
  frontend/src/api/hooks/useManufactureStockTaking.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/inventory/ManufactureInventoryModal.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
  frontend/src/components/pages/ManufactureOutput.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
  frontend/test/e2e/date-handling.spec.ts
Due: backend, frontend

feat: implement batch planning calculator with optimization algorithms #152
  backend/src/Anela.Heblo.API/Controllers/ManufactureBatchController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IBatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/CalculateBatchPlanRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/BatchPlanningServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanRequestValidatorTests.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/__tests__/useBatchPlanning.test.ts
  frontend/src/api/hooks/useBatchPlanning.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/BatchPlanningCalculator.tsx
Due: backend, frontend

feat: material stock taking (#153)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Lots/FlexiLotsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Stock/FlexiStockTakingDomainService.cs
  backend/src/Anela.Heblo.API/Controllers/ManufactureStockTakingController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/CatalogItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/LotDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/ManufactureStockTakingLotDto.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/SubmitManufactureStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/SubmitManufactureStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufactureStockTaking/SubmitManufactureStockTakingResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Lots/CatalogLot.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/ErpStockTakingLot.cs
  backend/src/Anela.Heblo.Persistence/Logistics/StockTaking/StockTakingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250912080704_AddStockTakingRecord.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250912080704_AddStockTakingRecord.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerFullHistoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureStockTakingHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useInventory.test.tsx
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useManufactureInventory.ts
  frontend/src/api/hooks/useManufactureStockTaking.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/inventory/ManufactureInventoryModal.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
  frontend/src/components/pages/ManufactureOutput.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
  frontend/test/e2e/date-handling.spec.ts
Due: backend, frontend

refactor: integrate batch planning API and improve UI
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/pages/BatchPlanningCalculator.tsx
Due: frontend

fix: tests
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IBatchDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ProductBatch.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ProductVariant.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/CalculateBatchPlanRequestValidator.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/BatchPlanningServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/OptimalManufactureTests.cs
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useBatchPlanning.test.tsx
  frontend/src/api/hooks/useBatchPlanning.ts
  frontend/src/components/pages/BatchPlanningCalculator.tsx
  frontend/src/components/pages/__tests__/BatchPlanningCalculator.test.tsx
  frontend/src/i18n.ts
  frontend/src/locales/cs/errors.json
  frontend/src/types/errors.ts
  frontend/test/e2e/batch-planning-error-handling.spec.ts
Due: backend, frontend

feat: implement batch planning calculator with optimization algorithms #152 (#154)
  backend/src/Anela.Heblo.API/Controllers/ManufactureBatchController.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IBatchDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IBatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ProductBatch.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ProductVariant.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/CalculateBatchPlanRequestValidator.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/BatchPlanningServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/OptimalManufactureTests.cs
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useBatchPlanning.test.tsx
  frontend/src/api/hooks/useBatchPlanning.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/pages/BatchPlanningCalculator.tsx
  frontend/src/components/pages/__tests__/BatchPlanningCalculator.test.tsx
  frontend/src/i18n.ts
  frontend/src/locales/cs/errors.json
  frontend/src/types/errors.ts
  frontend/test/e2e/batch-planning-error-handling.spec.ts
Due: backend, frontend

fix: minor UI fix
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/pages/BatchPlanningCalculator.tsx
Due: backend, frontend

feat: manufacture orders - Phase 1 - BE draft
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureOrderMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrder/GetManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrder/GetManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrder/GetManufactureOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderAuditAction.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderAuditLog.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderNote.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderProduct.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderState.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderAuditLogConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderNoteConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderSemiProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250913114706_AddManufactureOrderManagement.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250913114706_AddManufactureOrderManagement.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend

feat: implement Phase 2 of Manufacture Order Management System #155
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderProduct.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderSemiProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250913123513_AddLotNumberAndExpirationDateToManufactureOrderItems.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250913123513_AddLotNumberAndExpirationDateToManufactureOrderItems.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/modals/CreateManufactureOrderModal.tsx
  frontend/src/components/pages/ManufactureBatchCalculator.tsx
Due: backend, frontend

feat: manufacture order detail
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/components/modals/CreateManufactureOrderModal.tsx
  frontend/src/components/pages/BatchPlanningCalculator.tsx
  frontend/src/components/pages/ManufactureOrderDetail.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
Due: backend, frontend

feat: ManufactureOrder edit
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrdersHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/OptimalManufactureTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/pages/ManufactureOrderDetail.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
  frontend/src/i18n.ts
Due: backend, frontend

feat: calendar view
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/GetCalendarViewHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/GetCalendarViewRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/GetCalendarViewResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/CalendarEventType.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderSemiProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250915064814_AddBatchMultiplierToSemiProduct.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250915064814_AddBatchMultiplierToSemiProduct.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/pages/BatchPlanningCalculator.tsx
  frontend/src/components/pages/ManufactureOrderCalendar.tsx
  frontend/src/components/pages/ManufactureOrderDetail.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
Due: backend, frontend

fix: CatalogAutocomplete z-index bug
  frontend/src/components/common/CatalogAutocomplete.tsx
Due: frontend

fix: transport box note change
  backend/src/Anela.Heblo.API/Controllers/TransportBoxController.cs
  backend/src/Anela.Heblo.Application/Features/Transport/UseCases/UpdateTransportBoxDescription/UpdateTransportBoxDescriptionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Transport/UseCases/UpdateTransportBoxDescription/UpdateTransportBoxDescriptionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Transport/UseCases/UpdateTransportBoxDescription/UpdateTransportBoxDescriptionResponse.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/TransportBoxDetail.tsx
  frontend/src/components/transport/box-detail/TransportBoxInfo.tsx
  frontend/src/components/transport/box-detail/TransportBoxTypes.tsx
Due: backend, frontend

fix: BatchCalculator -> BatchPlanning
  frontend/src/App.tsx
  frontend/src/components/pages/ManufactureBatchCalculator.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/__tests__/BatchPlanningCalculator.test.tsx
Due: frontend

fix: button orders
  frontend/src/components/pages/ManufactureOrderDetail.tsx
Due: frontend

fix: minor refactor
  frontend/src/components/inventory/ManufactureInventoryModal.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
Due: frontend
