Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

[arch-review] FeatureFlags: frontend featureFlags.ts registry has drifted from the backend source-of-truth registry
  .artifacts/tsk_2a48adcde95e47b7/resolve-01.md
  .artifacts/tsk_41af5443d23d45c4/architecture-01.md
  .artifacts/tsk_41af5443d23d45c4/design-01.md
  .artifacts/tsk_41af5443d23d45c4/development-01.md
  .artifacts/tsk_41af5443d23d45c4/plan-01.md
  .artifacts/tsk_41af5443d23d45c4/review-01.md
  backend/src/Anela.Heblo.API/appsettings.json
  backend/test/Anela.Heblo.Tests/Features/FeatureFlags/FeatureFlagRegistryFrontendMirrorTests.cs
  frontend/src/features/feature-flags/featureFlags.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

[arch-review] AiAdapters: Anthropic adapter bakes KnowledgeBase-specific PostAnswerEnrichmentMiddleware into the global default IChatClient
  .artifacts/tsk_533d0187dd1142eb/resolve-01.md
  .artifacts/tsk_948b4012e7494490/architecture-01.md
  .artifacts/tsk_948b4012e7494490/design-01.md
  .artifacts/tsk_948b4012e7494490/development-01.md
  .artifacts/tsk_948b4012e7494490/plan-01.md
  .artifacts/tsk_948b4012e7494490/review-01.md
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseConstants.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/KnowledgeBaseChatClientWiringTests.cs
Due: backend, Backend (.NET)

The test process is still running under heavy machine load. I'll wait for the Monitor notification before continuing — no further checks from me until then.
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogConstants.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetWarehouseStatistics/GetWarehouseStatisticsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetWarehouseStatisticsHandlerTests.cs
Due: backend, Backend (.NET)

[arch-review] Logistics: EnqueueGiftPackageManufacture endpoint duplicates CreateGiftPackageManufacture with misleading async contract
  .artifacts/tsk_8bf3a9cd2d3b4e42/architecture-01.md
  .artifacts/tsk_8bf3a9cd2d3b4e42/design-01.md
  .artifacts/tsk_8bf3a9cd2d3b4e42/development-01.md
  .artifacts/tsk_8bf3a9cd2d3b4e42/plan-01.md
  .artifacts/tsk_8bf3a9cd2d3b4e42/review-01.md
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/EnqueueGiftPackageManufacture/EnqueueGiftPackageManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/EnqueueGiftPackageManufacture/EnqueueGiftPackageManufactureRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/EnqueueGiftPackageManufacture/EnqueueGiftPackageManufactureResponse.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useGiftPackageManufacturing.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/StockUpGate.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

Telemetry: FlexiBee ERP dependency latency unchanged after #2987 — timeout ceiling lowered but p95/p99 the same
  .artifacts/tsk_a70e118dc7354403/architecture-01.md
  .artifacts/tsk_a70e118dc7354403/design-01.md
  .artifacts/tsk_a70e118dc7354403/development-01.md
  .artifacts/tsk_a70e118dc7354403/plan-01.md
  .artifacts/tsk_a70e118dc7354403/review-01.md
  backend/src/Anela.Heblo.Application/Features/Manufacture/Configuration/ManufactureErpOptions.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/ErpCircuitOpenFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Infrastructure/Exceptions/ManufactureErpUnavailableException.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Infrastructure/ManufactureErpResilienceService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/ErpCircuitOpenFilterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Infrastructure/ManufactureErpResilienceServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
  docs/integrations/flexibee-api.md
Due: backend, Backend (.NET)

Telemetry: SmartsuppRepository.UpsertContactAsync DateTime Kind=Unspecified crash back at ~11× volume — #3443 closed without a confirmed fix
  .artifacts/tsk_b95ed3aa876543bd/architecture-01.md
  .artifacts/tsk_b95ed3aa876543bd/design-01.md
  .artifacts/tsk_b95ed3aa876543bd/development-01.md
  .artifacts/tsk_b95ed3aa876543bd/plan-01.md
  .artifacts/tsk_b95ed3aa876543bd/review-01.md
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Mappers/SmartsuppPayloadMapper.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ConversationClosedByContactReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ConversationClosedReaction.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/Mappers/SmartsuppPayloadMapperTests.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/Reactions/ConversationReactionsTests.cs
  backend/test/Anela.Heblo.Tests/Persistence/Smartsupp/SmartsuppRepositoryUpsertIntegrationTests.cs
Due: backend, Backend (.NET)

I've scheduled a check-in for when the build should be further along. I'll stop polling manually now and resume once notified — either by the build monitor or the scheduled wakeup.
  .artifacts/tsk_5a0e7b6f88934274/development-01.md
  frontend/src/api/hooks/__tests__/useSuppliers.test.tsx
  frontend/src/api/hooks/useSuppliers.ts
Due: frontend, Frontend (React)

[arch-review] Analytics: TimePeriodResolver reads DateTime.UtcNow directly instead of the injected TimeProvider
  .artifacts/tsk_1e0053e15f2a4b09/architecture-01.md
  .artifacts/tsk_1e0053e15f2a4b09/design-01.md
  .artifacts/tsk_1e0053e15f2a4b09/development-01.md
  .artifacts/tsk_1e0053e15f2a4b09/plan-01.md
  .artifacts/tsk_1e0053e15f2a4b09/review-01.md
  backend/src/Anela.Heblo.Application/Common/TimePeriods/TimePeriodResolver.cs
  backend/test/Anela.Heblo.Tests/Common/TimePeriods/TimePeriodResolverTests.cs
Due: backend, Backend (.NET)

[arch-review] SharedUI: legacy duplicate/dead API-client scaffolding in frontend/src/services (api.ts + generated placeholder)
  .artifacts/tsk_8cc2137641d24f96/architecture-01.md
  .artifacts/tsk_8cc2137641d24f96/design-01.md
  .artifacts/tsk_8cc2137641d24f96/development-01.md
  .artifacts/tsk_8cc2137641d24f96/plan-01.md
  .artifacts/tsk_8cc2137641d24f96/review-01.md
  frontend/scripts/check-api-and-generate.js
  frontend/scripts/generate-api-client.js
  frontend/src/components/test/ApiTestComponent.tsx
  frontend/src/services/api.ts
  frontend/src/services/generated/.gitkeep
  frontend/src/services/generated/api-client.ts
Due: frontend, Frontend (React)

Wrote plan-01.md: scoped this as a single-file deletion of the unreferenced MockCatalogRepository.cs, with build/test verification steps and no speculative test-double relocation.
  .artifacts/tsk_ef98081f84dc4dcf/plan-01.md
Due: none

[arch-review] Users: DepartmentsController bypasses MediatR and returns the raw InvoiceClassification.Department domain entity
  .artifacts/tsk_7c79efabf5d84d5e/architecture-01.md
  .artifacts/tsk_7c79efabf5d84d5e/design-01.md
  .artifacts/tsk_7c79efabf5d84d5e/development-01.md
  .artifacts/tsk_7c79efabf5d84d5e/plan-01.md
  .artifacts/tsk_7c79efabf5d84d5e/review-01.md
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/Departments/FlexiDepartmentQueryService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Controllers/DepartmentsController.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/Contracts/DepartmentDto.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/Services/IDepartmentQueryService.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/UseCases/GetDepartments/GetDepartmentsHandler.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/UseCases/GetDepartments/GetDepartmentsRequest.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/UseCases/GetDepartments/GetDepartmentsResponse.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Accounting/Departments/FlexiDepartmentQueryServiceTests.cs
  backend/test/Anela.Heblo.Tests/Controllers/DepartmentsControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GetDepartmentsHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useDepartments.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

[arch-review] Telemetry: DiagnosticsController exposes unauthenticated test/config endpoints in Production, leaking the App Insights connection string
  .artifacts/tsk_3592e5fd889641b9/architecture-01.md
  .artifacts/tsk_3592e5fd889641b9/design-01.md
  .artifacts/tsk_3592e5fd889641b9/development-01.md
  .artifacts/tsk_3592e5fd889641b9/plan-01.md
  .artifacts/tsk_3592e5fd889641b9/review-01.md
  backend/src/Anela.Heblo.API/Controllers/DiagnosticsController.cs
  backend/test/Anela.Heblo.Tests/Controllers/DiagnosticsControllerTests.cs
Due: backend, Backend (.NET)

[arch-review] Telemetry: CustomSamplingTelemetryProcessor is never registered — observability.md documents a sampling strategy that doesn't run
  .artifacts/tsk_5d384496a8c44f2f/architecture-01.md
  .artifacts/tsk_5d384496a8c44f2f/design-01.md
  .artifacts/tsk_5d384496a8c44f2f/development-01.md
  .artifacts/tsk_5d384496a8c44f2f/plan-01.md
  .artifacts/tsk_5d384496a8c44f2f/review-01.md
  backend/src/Anela.Heblo.API/Infrastructure/Telemetry/CustomSamplingTelemetryProcessor.cs
  docs/architecture/observability.md
Due: backend, Backend (.NET)

[arch-review] ProductMargins: SafeMarginCalculator is a DI-registered, tested, but never-used duplicate margin calculator
  .artifacts/tsk_c224d174d1ca4ccc/architecture-01.md
  .artifacts/tsk_c224d174d1ca4ccc/design-01.md
  .artifacts/tsk_c224d174d1ca4ccc/development-01.md
  .artifacts/tsk_c224d174d1ca4ccc/plan-01.md
  .artifacts/tsk_c224d174d1ca4ccc/review-01.md
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/SafeMarginCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/SalesCost.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/SafeMarginCalculatorTests.cs
Due: backend, Backend (.NET)

[arch-review] Persistence: MockCatalogRepository is dead mock production code in the Persistence assembly
  .artifacts/tsk_ef98081f84dc4dcf/architecture-01.md
  .artifacts/tsk_ef98081f84dc4dcf/design-01.md
  .artifacts/tsk_ef98081f84dc4dcf/development-01.md
  .artifacts/tsk_ef98081f84dc4dcf/plan-01.md
  .artifacts/tsk_ef98081f84dc4dcf/review-01.md
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
Due: backend, Backend (.NET)

[arch-review] Manufacture: ManufactureSettingsController is [AllowAnonymous], leaking the Entra ID group id and opting out of the secure-by-default policy
  .artifacts/tsk_2d4648d0f4b5476f/architecture-01.md
  .artifacts/tsk_2d4648d0f4b5476f/design-01.md
  .artifacts/tsk_2d4648d0f4b5476f/development-01.md
  .artifacts/tsk_2d4648d0f4b5476f/plan-01.md
  .artifacts/tsk_2d4648d0f4b5476f/review-01.md
  backend/src/Anela.Heblo.API/Controllers/ManufactureSettingsController.cs
  backend/test/Anela.Heblo.Tests/Authorization/ManufactureSettingsControllerAuthorizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Settings/GetManufactureSettingsEndpointTests.cs
Due: backend, Backend (.NET)

[arch-review] Manufacture: useManufacturedProductInventory & useMaterials hooks bypass the typed generated client via (apiClient as any).http.fetch
  .artifacts/tsk_b55a0d063551433d/architecture-01.md
  .artifacts/tsk_b55a0d063551433d/design-01.md
  .artifacts/tsk_b55a0d063551433d/development-01.md
  .artifacts/tsk_b55a0d063551433d/plan-01.md
  .artifacts/tsk_b55a0d063551433d/review-01.md
  frontend/src/api/hooks/useBoxFill.ts
  frontend/src/api/hooks/useManufacturedProductInventory.ts
  frontend/src/api/hooks/useMaterials.ts
  frontend/src/api/hooks/useTransportBoxes.ts
  frontend/src/components/pages/ManufacturedInventoryPage.tsx
  frontend/src/components/pages/TransportBoxDetail.tsx
  frontend/src/components/terminal/box-fill/AddItemsStep.tsx
  frontend/src/components/terminal/box-fill/BoxFillWorkflow.tsx
  frontend/src/components/terminal/box-fill/OverdraftSheet.tsx
  frontend/src/components/terminal/box-fill/__tests__/AddItemsStep.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/AmountEntrySheet.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/BoxFillWorkflow.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/OverdraftSheet.test.tsx
  frontend/src/components/transport/box-detail/TransportBoxItems.tsx
Due: frontend, Frontend (React)

[arch-review] Users: DepartmentsController has no authorization attribute — /api/departments is anonymously reachable
  .artifacts/tsk_137aa241a3224571/architecture-01.md
  .artifacts/tsk_137aa241a3224571/design-01.md
  .artifacts/tsk_137aa241a3224571/development-01.md
  .artifacts/tsk_137aa241a3224571/plan-01.md
  .artifacts/tsk_137aa241a3224571/review-01.md
  backend/src/Anela.Heblo.API/Controllers/DepartmentsController.cs
  backend/test/Anela.Heblo.Tests/Authorization/DepartmentsControllerAuthorizationTests.cs
Due: backend, Backend (.NET)

[arch-review] MCP: tools bypass the per-feature authorization gate their controllers enforce
  .artifacts/tsk_fbf8d6f6a46f410e/architecture-01.md
  .artifacts/tsk_fbf8d6f6a46f410e/architecture-02.md
  .artifacts/tsk_fbf8d6f6a46f410e/design-01.md
  .artifacts/tsk_fbf8d6f6a46f410e/design-02.md
  .artifacts/tsk_fbf8d6f6a46f410e/development-01.md
  .artifacts/tsk_fbf8d6f6a46f410e/plan-01.md
  .artifacts/tsk_fbf8d6f6a46f410e/plan-02.md
  .artifacts/tsk_fbf8d6f6a46f410e/review-01.md
  backend/src/Anela.Heblo.API/MCP/McpAuthorizationExtensions.cs
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/KnowledgeBaseTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/LeafletTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureBatchMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureOrderMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/MeetingTasksMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/UserManagementMcpTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/KnowledgeBaseToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/LeafletToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/ManufactureBatchMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/ManufactureOrderMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/UserManagementMcpToolsTests.cs
  docs/integrations/mcp-server.md
Due: backend, Backend (.NET)

[arch-review] ProductMargins: GetProductMarginsRequest.DateFrom/DateTo accepted but silently ignored
  .artifacts/tsk_de94066a946e4dd7/architecture-01.md
  .artifacts/tsk_de94066a946e4dd7/architecture-02.md
  .artifacts/tsk_de94066a946e4dd7/design-01.md
  .artifacts/tsk_de94066a946e4dd7/design-02.md
  .artifacts/tsk_de94066a946e4dd7/development-01.md
  .artifacts/tsk_de94066a946e4dd7/plan-01.md
  .artifacts/tsk_de94066a946e4dd7/plan-02.md
  .artifacts/tsk_de94066a946e4dd7/review-01.md
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsRequest.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useProductMargins.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

[arch-review] ApiClient: documented backend C# client pipeline is phantom — Anela.Heblo.API.Client is an empty, unreferenced project and the GenerateBackendClient target does not exist
  .artifacts/tsk_43adf505cd8c45df/architecture-01.md
  .artifacts/tsk_43adf505cd8c45df/design-01.md
  .artifacts/tsk_43adf505cd8c45df/development-01.md
  .artifacts/tsk_43adf505cd8c45df/plan-01.md
  .artifacts/tsk_43adf505cd8c45df/review-01.md
  Anela.Heblo.sln
  backend/src/Anela.Heblo.API.Client/Anela.Heblo.API.Client.csproj
  backend/src/Anela.Heblo.API.Client/Generated/.gitkeep
  docs/architecture/filesystem.md
  docs/architecture/module-map.md
  docs/development/api-client-generation.md
Due: backend, Backend (.NET)

[arch-review] Manufacture: useManufactureOutput & useSemiproductRecipePdf hooks bypass the typed generated client via (apiClient as any).http.fetch
  .artifacts/tsk_e1ca5959827b4a97/architecture-01.md
  .artifacts/tsk_e1ca5959827b4a97/design-01.md
  .artifacts/tsk_e1ca5959827b4a97/development-01.md
  .artifacts/tsk_e1ca5959827b4a97/plan-01.md
  .artifacts/tsk_e1ca5959827b4a97/review-01.md
  frontend/src/api/hooks/__tests__/useManufactureOutput.test.tsx
  frontend/src/api/hooks/__tests__/useSemiproductRecipePdf.test.ts
  frontend/src/api/hooks/useManufactureOutput.ts
  frontend/src/api/hooks/useSemiproductRecipePdf.ts
  frontend/src/components/pages/ManufactureOutput.tsx
  frontend/src/components/pages/ManufactureOutputModal.tsx
Due: frontend, Frontend (React)

[arch-review] Photobank: usePhotobank & usePhotobankSettings hooks bypass the typed generated client via (apiClient as any).http.fetch
  .artifacts/tsk_363967ef447841f3/architecture-01.md
  .artifacts/tsk_363967ef447841f3/design-01.md
  .artifacts/tsk_363967ef447841f3/development-01.md
  .artifacts/tsk_363967ef447841f3/plan-01.md
  .artifacts/tsk_363967ef447841f3/review-01.md
  frontend/src/api/hooks/__tests__/usePhotobank.test.ts
  frontend/src/api/hooks/__tests__/usePhotobankSettings.test.ts
  frontend/src/api/hooks/usePhotobank.ts
  frontend/src/api/hooks/usePhotobankSettings.ts
  frontend/src/components/marketing/photobank/BulkTagDialog.tsx
  frontend/src/components/marketing/photobank/PhotoDrawer.tsx
  frontend/src/components/marketing/photobank/PhotoGrid.tsx
  frontend/src/components/marketing/photobank/PhotoList.tsx
  frontend/src/components/marketing/photobank/TagSidebar.tsx
  frontend/src/components/marketing/photobank/__tests__/IndexRootsTab.test.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoGrid.test.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotoList.test.tsx
  frontend/src/components/marketing/photobank/__tests__/PhotobankPage.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
  frontend/src/components/marketing/photobank/pages/__tests__/PhotobankPage.selection.test.tsx
  frontend/src/components/marketing/photobank/settings/IndexRootsTab.tsx
  frontend/src/components/marketing/photobank/settings/TagRulesTab.tsx
  frontend/src/components/marketing/photobank/settings/TagsTab.tsx
Due: frontend, Frontend (React)

[arch-review] DataQuality: useDataQuality hooks bypass the typed generated client via (apiClient as any).http.fetch
  .artifacts/tsk_2f93584ba20a4078/architecture-01.md
  .artifacts/tsk_2f93584ba20a4078/design-01.md
  .artifacts/tsk_2f93584ba20a4078/development-01.md
  .artifacts/tsk_2f93584ba20a4078/plan-01.md
  .artifacts/tsk_2f93584ba20a4078/review-01.md
  frontend/src/api/hooks/__tests__/useDataQuality.test.ts
  frontend/src/api/hooks/useDataQuality.ts
  frontend/src/components/data-quality/DqtRunDetail.tsx
  frontend/src/components/data-quality/DqtRunsTable.tsx
  frontend/src/components/data-quality/DqtSummaryCards.tsx
  frontend/src/components/data-quality/RunDqtButton.tsx
Due: frontend, Frontend (React)

[arch-review] DataQuality: recurring DQT jobs derive their date window from DateTime.Today (local time), inconsistent with the module's own TimeProvider usage
  .artifacts/tsk_708e2dcdaec44e3a/architecture-01.md
  .artifacts/tsk_708e2dcdaec44e3a/design-01.md
  .artifacts/tsk_708e2dcdaec44e3a/development-01.md
  .artifacts/tsk_708e2dcdaec44e3a/plan-01.md
  .artifacts/tsk_708e2dcdaec44e3a/review-01.md
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/InvoiceDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/LotStockReconciliationDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/ProductPairingDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/StockWriteBackDqtJob.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/LotStockReconciliationDqtJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/StockWriteBackDqtJobTests.cs
Due: backend, Backend (.NET)

[arch-review] Flexi: ILotsClient registered twice with conflicting Singleton and Scoped lifetimes
  .artifacts/tsk_c740c3c660a94513/architecture-01.md
  .artifacts/tsk_c740c3c660a94513/design-01.md
  .artifacts/tsk_c740c3c660a94513/development-01.md
  .artifacts/tsk_c740c3c660a94513/plan-01.md
  .artifacts/tsk_c740c3c660a94513/review-01.md
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Lots/FlexiAdapterLotsClientRegistrationTests.cs
Due: backend, Backend (.NET)

[arch-review] Expedition: useExpeditionList & useCarrierCooling hooks bypass the typed generated client via (apiClient as any).http.fetch
  .artifacts/tsk_87720e86b01b4682/architecture-01.md
  .artifacts/tsk_87720e86b01b4682/design-01.md
  .artifacts/tsk_87720e86b01b4682/development-01.md
  .artifacts/tsk_87720e86b01b4682/plan-01.md
  .artifacts/tsk_87720e86b01b4682/review-01.md
  frontend/src/api/hooks/__tests__/useCarrierCooling.test.ts
  frontend/src/api/hooks/__tests__/useExpeditionList.test.ts
  frontend/src/api/hooks/useCarrierCooling.ts
  frontend/src/api/hooks/useExpeditionList.ts
Due: frontend, Frontend (React)

Add design spec for the test-health ReportPortal routine
  docs/superpowers/specs/2026-08-02-test-health-routine-design.md
Due: none

Add implementation plan for the test-health routine
  docs/superpowers/plans/2026-08-02-test-health-routine.md
  docs/superpowers/specs/2026-08-02-test-health-routine-design.md
Due: none

Amend plan: implement the error-day counter in Task 3 rather than stubbing it
  docs/superpowers/plans/2026-08-02-test-health-routine.md
Due: none

feat(test-health): add ReportPortal REST helper with fixture replay
  docs/routines/test-health/rp-query.sh
  docs/routines/test-health/rp-query.test.sh
Due: none

Amend contract: exit 5 for unexpected ReportPortal HTTP status
  docs/superpowers/plans/2026-08-02-test-health-routine.md
  docs/superpowers/specs/2026-08-02-test-health-routine-design.md
Due: none

fix(test-health): exit 5 for unexpected ReportPortal HTTP status
  docs/routines/test-health/rp-query.sh
Due: none

feat(test-health): add GitHub REST helper targeting test-signal fingerprints
  docs/routines/test-health/gh-api.sh
  docs/routines/test-health/gh-api.test.sh
Due: none

Amend plan: pin the digest clock via TEST_HEALTH_NOW_MS
  docs/superpowers/plans/2026-08-02-test-health-routine.md
Due: none

Amend plan: show the launch name in the digest inventory table
  docs/superpowers/plans/2026-08-02-test-health-routine.md
Due: none

feat(test-health): add digest skeleton with launch inventory and state line
  docs/routines/test-health/fixtures/clean/item_filter.eq.launchId_1_filter.in.status_FAILED_INTERRUPTED_page.size_300.json
  docs/routines/test-health/fixtures/clean/item_filter.eq.launchId_2_filter.in.status_FAILED_INTERRUPTED_page.size_300.json
  docs/routines/test-health/fixtures/clean/launch_page.size_300_page.sort_startTime_DESC.json
  docs/routines/test-health/test-health-digest.sh
  docs/routines/test-health/test-health-digest.test.sh
Due: none

Amend plan: route item-fetch failures through the error-day counter
  docs/superpowers/plans/2026-08-02-test-health-routine.md
Due: none

fix(test-health): route item-fetch failures through the error-day counter
  docs/routines/test-health/test-health-digest.sh
  docs/routines/test-health/test-health-digest.test.sh
Due: none
