Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: select single order by code in expedition picking source
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: backend, Backend (.NET)

feat: add expedition single-order print error codes
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat: add PrintExpeditionOrder use case with state validation
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderResponse.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/PrintExpeditionOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/PrintExpeditionOrderRequestValidatorTests.cs
Due: backend, Backend (.NET)

chore: register PrintExpeditionOrder validator and behavior
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/ExpeditionListModule.cs
Due: backend, Backend (.NET)

feat: add POST /api/expedition-list/print-order endpoint
  backend/src/Anela.Heblo.API/Controllers/ExpeditionListController.cs
Due: backend, Backend (.NET)

feat: add usePrintExpeditionOrder mutation hook
  frontend/src/api/hooks/useExpeditionList.ts
Due: frontend, Frontend (React)

feat: add PrintOrderModal for single-order expedition print
  frontend/src/components/modals/PrintOrderModal.tsx
Due: frontend, Frontend (React)

feat: add Tisknout zakazku button and modal to expedition page
  frontend/src/i18n.ts
  frontend/src/pages/ExpeditionListArchivePage.tsx
Due: frontend, Frontend (React)

fix: regenerate frontend client for new error codes and associate modal label
  frontend/src/api/generated/api-client.ts
  frontend/src/components/modals/PrintOrderModal.tsx
Due: frontend, Frontend (React)

docs: add implementation plan for manual single-order expedition print
  docs/superpowers/plans/2026-06-23-manual-print-expedition-order.md
Due: none

fix: narrow catch in PrintExpeditionOrderHandler to 404 only
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/PrintExpeditionOrderHandlerTests.cs
Due: backend, Backend (.NET)

fix: add usePrintExpeditionOrder mock to ExpeditionListArchivePage tests
  frontend/src/pages/__tests__/ExpeditionListArchivePage.test.tsx
Due: frontend, Frontend (React)

chore: add PR context for #3311
  .context/pr.md
Due: none

chore: write PR context for #3312
  .context/pr.md
Due: none

fix: show state name instead of raw id in expedition print error
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/PrintExpeditionOrderHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: make HomeAssistant retry test handlers thread-safe
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantRetryPipelineTests.cs
Due: none

feat: replace auto Tisk-Robot print with manual single-order expedition print (#3318)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/IShoptetExpeditionOrderSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Anela.Heblo.API/Controllers/ExpeditionListController.cs
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Contracts/ExpeditionPickingRequest.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/ExpeditionListModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Infrastructure/Jobs/AutoPrintPickingListTask.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/PrintPickingListOptions.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/PrintExpeditionOrder/PrintExpeditionOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Infrastructure/LogisticsExpeditionPickingAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListRequest.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Adapters.HomeAssistant.Tests/HomeAssistantRetryPipelineTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/AutoPrintPickingListTaskTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/PrintExpeditionOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/PrintExpeditionOrderRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Infrastructure/LogisticsExpeditionPickingAdapterTests.cs
  docs/superpowers/plans/2026-06-23-manual-print-expedition-order.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useExpeditionList.ts
  frontend/src/components/modals/PrintOrderModal.tsx
  frontend/src/i18n.ts
  frontend/src/pages/ExpeditionListArchivePage.tsx
  frontend/src/pages/__tests__/ExpeditionListArchivePage.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(test): update HappyPath test to expect $batch response format
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GetAppRoleMembersTests.cs
Due: none

fix: update test helpers for IEshopOrderClient constructor split
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
Due: none

chore(feat-3319): analyzing artifact
  artifacts/feat-3319/brief.md
  artifacts/feat-3319/spec.r1.md
  artifacts/feat-3319/state.json
Due: none

chore(feat-3319): architecting artifact
  artifacts/feat-3319/arch-review.r1.md
  artifacts/feat-3319/state.json
Due: none

chore(feat-3319): planning artifact
  artifacts/feat-3319/state.json
  artifacts/feat-3319/task-plan.r1.md
Due: none

chore(feat-3319): task context
  artifacts/feat-3319/state.json
  artifacts/feat-3319/task-context/fix-user-detail-error-states.md
Due: none

feat: add error and not-found states to UserDetailPage
  frontend/src/pages/UserDetailPage.tsx
Due: frontend, Frontend (React)

chore(feat-3319): impl+review for fix-user-detail-error-states r1
  artifacts/feat-3319/impl/fix-user-detail-error-states.r1.md
  artifacts/feat-3319/review/fix-user-detail-error-states.r1.md
  artifacts/feat-3319/state.json
Due: none

chore(feat-3319): finalize pipeline artifacts
  artifacts/feat-3319/state.json
Due: none

chore(feat-3319): code review r1
  artifacts/feat-3319/code-review.r1.md
  artifacts/feat-3319/state.json
Due: none

chore(feat-3320): add brief
  artifacts/feat-3320/brief.md
  artifacts/feat-3320/state.json
Due: none

chore(feat-3320): phase artifacts and task context
  artifacts/feat-3320/arch-review.r1.md
  artifacts/feat-3320/design.r1.md
  artifacts/feat-3320/spec.r1.md
  artifacts/feat-3320/state.json
  artifacts/feat-3320/task-context/fix-set-active-error.md
  artifacts/feat-3320/task-plan.r1.md
Due: none

fix(#3320): surface setActive mutation errors in UsersGrid
  artifacts/feat-3320/impl/fix-set-active-error.r1.md
  artifacts/feat-3320/state.json
  frontend/src/components/pages/access/UsersGrid.tsx
Due: frontend, Frontend (React)

chore(feat-3320): code review r1
  artifacts/feat-3320/code-review.r1.md
  artifacts/feat-3320/state.json
Due: none

chore(feat-3320): finalize pipeline artifacts
  artifacts/feat-3320/state.json
Due: none

feat: add Code128 barcode to manufacture recipe PDF header
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/PDFPrints/SemiproductRecipeDocument.cs
Due: backend, Backend (.NET)

docs: add access management mobile responsiveness design spec
  docs/superpowers/specs/2026-06-24-access-management-mobile-design.md
Due: none

docs: add access-management mobile responsiveness plan
  docs/superpowers/plans/2026-06-24-access-management-mobile.md
Due: none

feat(access): mobile tab-switched TransferList
  frontend/src/components/access-management/TransferList.tsx
  frontend/src/components/access-management/__tests__/TransferList.test.tsx
Due: frontend, Frontend (React)

feat(access): wrap GroupDetailPage header on mobile
  frontend/src/pages/GroupDetailPage.tsx
Due: frontend, Frontend (React)

feat(access): tighten UserDetailPage padding and wrap header on mobile
  frontend/src/pages/UserDetailPage.tsx
Due: frontend, Frontend (React)

feat(access): mobile card layout for UsersGrid
  frontend/src/components/pages/access/UsersGrid.tsx
  frontend/src/components/pages/access/__tests__/UsersGrid.mobile.test.tsx
Due: frontend, Frontend (React)

feat(access): mobile card layout for GroupsGrid
  frontend/src/components/pages/access/GroupsGrid.tsx
  frontend/src/components/pages/access/__tests__/GroupsGrid.mobile.test.tsx
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
