Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-3637): impl+review for fix-hangfire-getjobstartedat-full-scan r1
  artifacts/feat-3637/impl/fix-hangfire-getjobstartedat-full-scan.r1.md
  artifacts/feat-3637/review/fix-hangfire-getjobstartedat-full-scan.r1.md
  artifacts/feat-3637/state.json
Due: none

chore(feat-3637): finalize pipeline artifacts
  artifacts/feat-3637/state.json
Due: none

chore(feat-3637): code review r1
  artifacts/feat-3637/code-review.r1.md
  artifacts/feat-3637/state.json
Due: none

feat(meetings): meeting participants and review-state management (#3643)
  backend/src/Anela.Heblo.API/Controllers/MeetingTasksController.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Contracts/MeetingTranscriptDto.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/ClaudeMeetingTaskExtractor.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/IMeetingTaskExtractor.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/GetTranscriptDetail/GetTranscriptDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/IngestPlaudRecording/IngestPlaudRecordingHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateTranscriptStatus/UpdateTranscriptStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateTranscriptStatus/UpdateTranscriptStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/UpdateTranscriptStatus/UpdateTranscriptStatusResponse.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingTranscript.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260714103910_AddMeetingParticipants.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260714103910_AddMeetingParticipants.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ClaudeMeetingTaskExtractorTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/IngestPlaudRecordingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ReimportMeetingTranscriptHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/UpdateTranscriptStatusHandlerTests.cs
  frontend/src/api/hooks/useMeetingTasks.ts
  frontend/src/components/pages/automation/MeetingReviewLeaveDialog.tsx
  frontend/src/components/pages/automation/MeetingTaskDetailPage.tsx
  frontend/src/components/pages/automation/__tests__/MeetingTaskDetailPage.filter.test.tsx
  frontend/src/components/pages/automation/__tests__/MeetingTaskDetailPage.reviewState.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add implementation plan for auto-complete delivered orders
  docs/superpowers/plans/2026-07-14-auto-complete-delivered-orders.md
Due: none

feat: add delivered-order completion state config to ShoptetOrdersSettings
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
Due: backend, Backend (.NET)

feat: add HasDeliveredShipmentAsync to shipment client
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/IShipmentClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
Due: backend, Backend (.NET)

feat: add ListOrdersByStatusAsync to eshop order client
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IEshopOrderClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetOrderClientTests.cs
Due: backend, Backend (.NET)

feat: add hourly job to complete delivered Shoptet orders
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/Infrastructure/Jobs/CompleteDeliveredOrdersJob.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/CompleteDeliveredOrdersJobTests.cs
Due: backend, Backend (.NET)

#3637: implementation (#3645)
  artifacts/feat-3637/arch-review.r1.md
  artifacts/feat-3637/brief.md
  artifacts/feat-3637/code-review.r1.md
  artifacts/feat-3637/design.r1.md
  artifacts/feat-3637/impl/fix-hangfire-getjobstartedat-full-scan.r1.md
  artifacts/feat-3637/review/fix-hangfire-getjobstartedat-full-scan.r1.md
  artifacts/feat-3637/spec.r1.md
  artifacts/feat-3637/state.json
  artifacts/feat-3637/task-context/fix-hangfire-getjobstartedat-full-scan.md
  artifacts/feat-3637/task-plan.r1.md
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/HangfireBackgroundWorkerTests.cs
Due: backend, Backend (.NET)

#3634: eliminate N+1 queries in RecurringJobConfiguration seeding (#3640)
  artifacts/feat-3634/arch-review.r1.md
  artifacts/feat-3634/brief.md
  artifacts/feat-3634/code-review.r1.md
  artifacts/feat-3634/design.r1.md
  artifacts/feat-3634/impl/fix-recurring-job-seeding-n-plus-one.r1.md
  artifacts/feat-3634/review/fix-recurring-job-seeding-n-plus-one.r1.md
  artifacts/feat-3634/spec.r1.md
  artifacts/feat-3634/state.json
  artifacts/feat-3634/task-context/fix-recurring-job-seeding-n-plus-one.md
  artifacts/feat-3634/task-plan.r1.md
  backend/src/Anela.Heblo.Persistence/BackgroundJobs/RecurringJobConfigurationRepository.cs
Due: backend, Backend (.NET)

#3619: Fix BackgroundTasksCard formatDuration multi-day bug, add unit tests (#3631)
  artifacts/feat-3619/arch-review.r1.md
  artifacts/feat-3619/brief.md
  artifacts/feat-3619/code-review.r1.md
  artifacts/feat-3619/design.r1.md
  artifacts/feat-3619/impl/extract-backgroundtasks-helpers-and-test.r1.md
  artifacts/feat-3619/review/extract-backgroundtasks-helpers-and-test.r1.md
  artifacts/feat-3619/spec.r1.md
  artifacts/feat-3619/state.json
  artifacts/feat-3619/task-context/extract-backgroundtasks-helpers-and-test.md
  artifacts/feat-3619/task-plan.r1.md
  frontend/src/components/BackgroundTasksCard.tsx
  frontend/src/components/__tests__/backgroundTasksHelpers.test.tsx
  frontend/src/components/backgroundTasksHelpers.tsx
Due: frontend, Frontend (React)

#3616: Add unit tests for UpdateRuleRequestValidator and BeValidRegex (#3630)
  artifacts/feat-3616/arch-review.r1.md
  artifacts/feat-3616/brief.md
  artifacts/feat-3616/code-review.r1.md
  artifacts/feat-3616/design.r1.md
  artifacts/feat-3616/impl/add-updaterulerequestvalidator-tests.r1.md
  artifacts/feat-3616/review/add-updaterulerequestvalidator-tests.r1.md
  artifacts/feat-3616/spec.r1.md
  artifacts/feat-3616/state.json
  artifacts/feat-3616/task-context/add-updaterulerequestvalidator-tests.md
  artifacts/feat-3616/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankValidationHelpersTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/UpdateRuleRequestValidatorTests.cs
Due: none

#3614: Add unit test coverage for GetTransportBoxesHandler state-filter routing (#3629)
  artifacts/feat-3614/arch-review.r1.md
  artifacts/feat-3614/brief.md
  artifacts/feat-3614/code-review.r1.md
  artifacts/feat-3614/design.r1.md
  artifacts/feat-3614/impl/add-transport-boxes-handler-tests.r1.md
  artifacts/feat-3614/review/add-transport-boxes-handler-tests.r1.md
  artifacts/feat-3614/spec.r1.md
  artifacts/feat-3614/state.json
  artifacts/feat-3614/task-context/add-transport-boxes-handler-tests.md
  artifacts/feat-3614/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxesHandlerTests.cs
Due: none

#3613: implementation (#3628)
  artifacts/feat-3613/arch-review.r1.md
  artifacts/feat-3613/brief.md
  artifacts/feat-3613/code-review.r1.md
  artifacts/feat-3613/design.r1.md
  artifacts/feat-3613/impl/add-run-hydration-tier-handler-tests.r1.md
  artifacts/feat-3613/review/add-run-hydration-tier-handler-tests.r1.md
  artifacts/feat-3613/spec.r1.md
  artifacts/feat-3613/state.json
  artifacts/feat-3613/task-context/add-run-hydration-tier-handler-tests.md
  artifacts/feat-3613/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Application/BackgroundRefresh/RunHydrationTierHandlerTests.cs
Due: none

#3612: extract shared DailyInvoiceImportJobBase to dedupe CZK/EUR import jobs (#3627)
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/DailyInvoiceImportCzkJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/DailyInvoiceImportEurJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/DailyInvoiceImportJobBase.cs
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: backend, Backend (.NET)

docs(memory): note chopchop concurrent-pipeline collision on issue #3633
  memory/gotchas/chopchop-concurrent-pipeline-collisions.md
Due: none

docs: note delivered-status consumption in shoptet-api.md
  docs/integrations/shoptet-api.md
Due: none

fix: honor cancellation in CompleteDeliveredOrdersJob per-order loop
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/Infrastructure/Jobs/CompleteDeliveredOrdersJob.cs
Due: backend, Backend (.NET)

feat: gate delivered-order completion behind dry-run feature flag
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagKeys.cs
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagRegistry.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/Infrastructure/Jobs/CompleteDeliveredOrdersJob.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/CompleteDeliveredOrdersJobTests.cs
Due: backend, Backend (.NET)

feat: auto-complete delivered Shoptet orders via hourly job (dry-run gated) (#3646)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagKeys.cs
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagRegistry.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/IShipmentClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IEshopOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/Infrastructure/Jobs/CompleteDeliveredOrdersJob.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetOrderClientTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/CompleteDeliveredOrdersJobTests.cs
  docs/integrations/shoptet-api.md
  docs/superpowers/plans/2026-07-14-auto-complete-delivered-orders.md
Due: backend, Backend (.NET)

test: cover HebloFeatureProvider three-layer resolution and fail-open behavior
  backend/test/Anela.Heblo.Tests/Features/FeatureFlags/HebloFeatureProviderTests.cs
Due: none

fix: surface ShoptetOrders Information logs in production App Insights
  backend/src/Anela.Heblo.API/appsettings.Production.json
Due: backend, Backend (.NET)

feat: add test-source feature flag to delivered-order completion job
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagKeys.cs
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagRegistry.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/Infrastructure/Jobs/CompleteDeliveredOrdersJob.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/CompleteDeliveredOrdersJobTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

feat: add test-source feature flag to delivered-order completion job (#3648)
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagKeys.cs
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/FeatureFlagRegistry.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/Infrastructure/Jobs/CompleteDeliveredOrdersJob.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/CompleteDeliveredOrdersJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/FeatureFlags/HebloFeatureProviderTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

fix: count materials not lots in expiration tile and add healthy segment
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialExpirationSummaryTile.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/MaterialExpirationSummaryTileTests.cs
  frontend/src/components/dashboard/tiles/MaterialExpirationSummaryTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/MaterialExpirationSummaryTile.test.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: count materials not lots in expiration tile and add healthy segment (#3649)
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialExpirationSummaryTile.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/MaterialExpirationSummaryTileTests.cs
  frontend/src/components/dashboard/tiles/MaterialExpirationSummaryTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/MaterialExpirationSummaryTile.test.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: add missing i18n translation for ManufactureOrderNotCompleted error code
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

chore(feat-3650): brief
  artifacts/feat-3650/brief.md
  artifacts/feat-3650/state.json
Due: none

chore(feat-3650): analyzing artifact
  artifacts/feat-3650/spec.r1.md
Due: none

chore(feat-3650): architecting artifact
  artifacts/feat-3650/arch-review.r1.md
  artifacts/feat-3650/state.json
Due: none

chore(feat-3650): designing artifact
  artifacts/feat-3650/design.r1.md
  artifacts/feat-3650/state.json
Due: none

chore(feat-3650): planning artifact
  artifacts/feat-3650/state.json
  artifacts/feat-3650/task-plan.r1.md
Due: none

chore(feat-3650): task context
  artifacts/feat-3650/state.json
  artifacts/feat-3650/task-context/backend-move-use-case.md
  artifacts/feat-3650/task-context/frontend-wire-move-endpoint.md
Due: none

chore(feat-3652): brief + checkpoint init
  artifacts/feat-3652/brief.md
  artifacts/feat-3652/state.json
Due: none

chore(feat-3652): analyzing artifact
  artifacts/feat-3652/spec.r1.md
  artifacts/feat-3652/state.json
Due: none

chore(feat-3652): architecting artifact
  artifacts/feat-3652/arch-review.r1.md
  artifacts/feat-3652/state.json
Due: none

chore(feat-3652): designing artifact
  artifacts/feat-3652/design.r1.md
  artifacts/feat-3652/state.json
Due: none

feat(feat-3650): backend-move-use-case
  backend/src/Anela.Heblo.API/Controllers/MarketingCalendarController.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/MoveMarketingActionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/MoveMarketingAction/MoveMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/MoveMarketingActionHandlerTests.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
