Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore: update agentharness skill files from init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude #3226: Remove dead private method ComputeCostsAsync from DirectManufactureCostProvider
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
Due: backend, Backend (.NET)

Update agentharness skill/agent files from init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill definitions via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude #3226: Remove dead private method ComputeCostsAsync from DirectManufactureCostProvider (#3237)
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
Due: backend, Backend (.NET)

@claude #3225: Remove duplicate service registrations in CatalogModule (#3236)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

@claude fix(dashboard): guard against undefined source in ConditionsTile (#3235)
  frontend/src/components/dashboard/tiles/ConditionsTile.tsx
Due: frontend, Frontend (React)

@claude fix(ha): raise RequestTimeoutSeconds 3→10 for Tailscale endpoint (#3223) (#3234)
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

Update agentharness skill files from init
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude feat: move OrgChartService to Anela.Heblo.Adapters.OrgChart
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.OrgChart/Anela.Heblo.Adapters.OrgChart.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.OrgChart/OrgChartAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OrgChart/OrgChartService.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartModule.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Features/OrgChart/OrgChartServiceTests.cs
Due: backend, Backend (.NET)

chore: add feat-3192 pipeline artifacts
  artifacts/feat-3192/arch-review.r1.md
  artifacts/feat-3192/brief.md
  artifacts/feat-3192/design.r1.md
  artifacts/feat-3192/impl/create-adapter-project.r1.md
  artifacts/feat-3192/spec.r1.md
  artifacts/feat-3192/state.json
  artifacts/feat-3192/task-context/create-adapter-project.md
  artifacts/feat-3192/task-plan.r1.md
Due: none

Update agentharness skill definitions from init
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: refresh agentharness skill/agent configs (init --force)
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update agentharness skill files via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill/agent definitions (session startup reinit)
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore(harness): update agentharness skill files via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update oneshot/chopchop skills to new feature branch naming convention
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill files from init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update AgentHarness skill files via agentharness init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill/agent files from init
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill files via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update agentharness skill/agent definitions
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude fix(photobank): register BulkAddPhotoTagRequestValidator and RetagPhotosRequestValidator in DI
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
Due: backend, Backend (.NET)

chore: update agentharness agent/skill files via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude fix(arch): move PhotobankRepository to Persistence layer (ADR-004)
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetLocatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsSqlShapeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/ReapplyRulesBehaviorPreservationTests.cs
Due: backend, Backend (.NET)

chore: update agentharness skill/agent files (init --force)
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

refactor(smartsupp): atomic raw-SQL upsert for SmartsuppContacts
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
Due: backend, Backend (.NET)

refactor(smartsupp): atomic raw-SQL upsert for SmartsuppConversations
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
Due: backend, Backend (.NET)

refactor(smartsupp): remove retry loop and DiscardChanges now that upserts are atomic
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/ProcessWebhookEventHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/RefreshOrphanContacts/RefreshOrphanContactsHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/ProcessWebhookEventHandlerTests.cs
Due: backend, Backend (.NET)

test(smartsupp): remove obsolete retry and guard unit tests
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppRepositoryUpdatedAtGuardTests.cs
Due: none

test(smartsupp): integration tests for atomic contact and conversation upserts
  backend/test/Anela.Heblo.Tests/Persistence/Smartsupp/SmartsuppRepositoryUpsertIntegrationTests.cs
Due: none

chore: update agentharness skill/agent files via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude fix(telemetry): fix DateTime Kind for Npgsql timestamptz (#3243)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncOptions.cs
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
Due: backend, Backend (.NET)

@claude test(telemetry): add FlexiAnalyticsSyncOptionsTests, update LedgerSyncServiceTests (#3243)
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/FlexiAnalyticsSyncOptionsTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/LedgerSyncServiceTests.cs
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
