Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat(packing): add ShipmentDone view, afterprint hook, ShippingAddress type
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/components/baleni/PackingShipmentDoneView.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentDoneView.test.tsx
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
Due: frontend, Frontend (React)

refactor: centralise API client cast in useCatalogDocuments
  frontend/src/api/hooks/useCatalogDocuments.ts
Due: frontend, Frontend (React)

feat: add DocumentList component with tests
  frontend/src/components/catalog/detail/tabs/shared/DocumentList.tsx
  frontend/src/components/catalog/detail/tabs/shared/__tests__/DocumentList.test.tsx
Due: frontend, Frontend (React)

feat: add FolderStatusBanner component with tests
  frontend/src/components/catalog/detail/tabs/shared/FolderStatusBanner.tsx
  frontend/src/components/catalog/detail/tabs/shared/__tests__/FolderStatusBanner.test.tsx
Due: frontend, Frontend (React)

feat: add unique ID to expedition list PDF header and archive screen
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/Contracts/ExpeditionListItemDto.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionListsByDate/GetExpeditionListsByDateHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionListsByDateHandlerTests.cs
  frontend/src/api/hooks/useExpeditionListArchive.ts
  frontend/src/pages/ExpeditionListArchivePage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: use fixed height for mobile status bar to prevent layout clipping
  frontend/src/components/StatusBar.tsx
Due: frontend, Frontend (React)

feat: add MaterialUploadDialog with tests
  frontend/src/components/catalog/detail/tabs/shared/MaterialUploadDialog.tsx
  frontend/src/components/catalog/detail/tabs/shared/__tests__/MaterialUploadDialog.test.tsx
Due: frontend, Frontend (React)

feat: add PifUploadDialog component
  frontend/src/components/catalog/detail/tabs/shared/PifUploadDialog.tsx
Due: frontend, Frontend (React)

feat: add MaterialDocumentsTab and PifDocumentsTab
  frontend/src/components/catalog/detail/tabs/MaterialDocumentsTab.tsx
  frontend/src/components/catalog/detail/tabs/PifDocumentsTab.tsx
Due: frontend, Frontend (React)

fix(packing): make printLabelPdf onAfterPrint callback robust to missing afterprint event
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
Due: frontend, Frontend (React)

feat: add Catalog Documents feature — SharePoint files on CatalogDetail page
  docs/superpowers/plans/2026-05-22-catalog-documents.md
  frontend/src/components/catalog/detail/CatalogDetailTabs.tsx
  frontend/src/components/pages/CatalogDetail.tsx
Due: frontend, Frontend (React)

feat(packing): show shipment-done view after print dialog closes
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/PackingLabelPrinter.tsx
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentCreator.test.tsx
Due: frontend, Frontend (React)

refactor(packing): memoize labels in PackingLabelPrinter to stabilize effect deps
  frontend/src/components/baleni/PackingLabelPrinter.tsx
Due: frontend, Frontend (React)

feat: add unique ID to expedition list PDF header and archive screen (#1548)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/Contracts/ExpeditionListItemDto.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionListsByDate/GetExpeditionListsByDateHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionListsByDateHandlerTests.cs
  frontend/src/api/hooks/useExpeditionListArchive.ts
  frontend/src/pages/ExpeditionListArchivePage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(mobile): user menu visibility and status bar layout on small screens (#1547)
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/TopBar.tsx
  frontend/src/components/StatusBar.tsx
  frontend/src/components/auth/UserProfile.tsx
Due: frontend, Frontend (React)

feat(packing): focus-based ack, hide products on review, review for already-packed orders
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/PackingLabelPrinter.tsx
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add manual hydration tier run to background task management
  backend/src/Anela.Heblo.API/Controllers/BackgroundRefreshController.cs
  frontend/src/api/hooks/useBackgroundRefresh.ts
  frontend/src/components/BackgroundTasksCard.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(catalog-documents): pagination, chunk upload alignment, and form reset
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/CatalogDocumentsModule.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/CatalogGraphModels.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/GraphCatalogDocumentsStorage.cs
  frontend/src/components/catalog/detail/tabs/shared/MaterialUploadDialog.tsx
  frontend/src/components/catalog/detail/tabs/shared/PifUploadDialog.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(catalog-documents): rename client to apiClient to satisfy auth hook test
  frontend/src/api/hooks/useCatalogDocuments.ts
Due: frontend, Frontend (React)

fix(auth): add CatalogManager role to mock authentication handler
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/MockAuthenticationHandler.cs
Due: backend, Backend (.NET)

feat: add GiftSetting domain entity and IGiftSettingRepository
  backend/src/Anela.Heblo.Domain/Features/Logistics/GiftSettings/GiftSetting.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/GiftSettings/IGiftSettingRepository.cs
Due: backend, Backend (.NET)

fix(packing): show shipping address in order detail and summary views
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  frontend/src/components/baleni/PackingOrderMeta.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(packing): two-column layout for shipment done review card
  frontend/src/components/baleni/PackingShipmentDoneView.tsx
Due: frontend, Frontend (React)

fix(conductor): disable hydration and launch backend on dynamic port
  backend/src/Anela.Heblo.API/appsettings.Conductor.json
  scripts/conductor-run.sh
Due: backend, Backend (.NET)

feat: add GiftSetting persistence — EF config, repository, migration
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Logistics/GiftSettings/GiftSettingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Logistics/GiftSettings/GiftSettingRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260522111725_AddGiftSettings.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260522111725_AddGiftSettings.cs
Due: backend, Backend (.NET)

feat(catalog-documents): switch upload to user-delegated OBO auth
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/GraphCatalogDocumentsStorage.cs
  backend/test/Anela.Heblo.Tests/Application/CatalogDocuments/GraphCatalogDocumentsStorageTests.cs
Due: backend, Backend (.NET)

refactor: seal GiftSettingRepository, add explicit ModifiedAt column type
  backend/src/Anela.Heblo.Persistence/Logistics/GiftSettings/GiftSettingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Logistics/GiftSettings/GiftSettingRepository.cs
Due: backend, Backend (.NET)

fix(catalog-documents): remove CatalogDocumentsUpload policy — SharePoint enforces write access
  backend/src/Anela.Heblo.API/Controllers/CatalogDocumentsController.cs
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
Due: backend, Backend (.NET)

chore(auth): remove dead CatalogManager claim from MockAuthenticationHandler
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/MockAuthenticationHandler.cs
Due: backend, Backend (.NET)

feat: add GetGiftSetting query handler and DTO
  backend/src/Anela.Heblo.Application/Features/GiftSettings/Dto/GiftSettingDto.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/GetGiftSetting/GetGiftSettingHandler.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/GetGiftSetting/GetGiftSettingQuery.cs
  backend/test/Anela.Heblo.Tests/Application/GiftSettings/GetGiftSettingHandlerTests.cs
Due: backend, Backend (.NET)

docs: add OBO auth plan for catalog documents upload
  docs/superpowers/plans/2026-05-22-catalog-documents-obo-auth.md
Due: none

refactor: seal GetGiftSettingHandler, GetGiftSettingQuery, GiftSettingDto
  backend/src/Anela.Heblo.Application/Features/GiftSettings/Dto/GiftSettingDto.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/GetGiftSetting/GetGiftSettingHandler.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/GetGiftSetting/GetGiftSettingQuery.cs
Due: backend, Backend (.NET)

test(packing): fix NullReferenceException in Handle_OrderNotInPackingState test
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
Due: none

feat: add SetGiftSetting command handler and validator
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/SetGiftSetting/SetGiftSettingCommand.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/SetGiftSetting/SetGiftSettingHandler.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/SetGiftSetting/SetGiftSettingResponse.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/UseCases/SetGiftSetting/SetGiftSettingValidator.cs
  backend/test/Anela.Heblo.Tests/Application/GiftSettings/SetGiftSettingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/GiftSettings/SetGiftSettingValidatorTests.cs
Due: backend, Backend (.NET)

fix(catalog-documents): catch MicrosoftIdentityWebChallengeUserException in OBO token acquisition
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/GraphCatalogDocumentsStorage.cs
Due: backend, Backend (.NET)

feat: add GiftSettings module, DI registration, and API controller
  backend/src/Anela.Heblo.API/Controllers/GiftSettingsController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/GiftSettings/GiftSettingsModule.cs
Due: backend, Backend (.NET)

feat: carry order price/currency through expedition pipeline and add GiftBadgeText to ExpeditionOrder
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
Due: backend, Backend (.NET)

fix(catalog-documents): show error on success:false and block submit when required fields missing
  frontend/src/components/catalog/detail/tabs/shared/MaterialUploadDialog.tsx
Due: frontend, Frontend (React)

feat(catalog-documents): add MSDS, TDS, COA material document types
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Infrastructure/MaterialDocumentTypes.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
