Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

docs: add design spec for document-type-aware embedding strategies (#455)
  docs/superpowers/specs/2026-03-30-kb-conversation-aware-embedding-design.md
Due: none

feat(knowledge-base): add DocumentType enum and EF migration
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseDocument.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseDocumentConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330150051_AddDocumentTypeToKnowledgeBaseDocument.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330150051_AddDocumentTypeToKnowledgeBaseDocument.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add IIndexingStrategy interface and KnowledgeBaseDocIndexingStrategy
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategy.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategyTests.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add ConversationTopicSummarizer for topic-segmented embeddings
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationTopicSummarizer.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IConversationTopicSummarizer.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ConversationTopicSummarizerTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): guard against null/whitespace fullText in ConversationTopicSummarizer
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationTopicSummarizer.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add ConversationIndexingStrategy for topic-per-chunk embedding
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationIndexingStrategy.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ConversationIndexingStrategyTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): batch topic embeddings and add empty-topics test in ConversationIndexingStrategy
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationIndexingStrategy.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ConversationIndexingStrategyTests.cs
Due: backend, Backend (.NET)

feat(knowledge-base): refactor DocumentIndexingService to thin orchestrator using IIndexingStrategy
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentIndexingService.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
Due: backend, Backend (.NET)

docs(knowledge-base): clarify caller owns entity persistence after IndexChunksAsync
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentIndexingService.cs
Due: backend, Backend (.NET)

feat(knowledge-base): pass DocumentType through upload request and controller
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentRequest.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Controllers/KnowledgeBaseControllerTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): return 400 on unrecognised documentType in upload endpoint
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add document type selector to upload tab and pass to API
  frontend/src/api/hooks/useKnowledgeBase.ts
  frontend/src/components/knowledge-base/KnowledgeBaseUploadTab.tsx
  frontend/src/components/knowledge-base/__tests__/KnowledgeBaseUploadTab.test.tsx
Due: frontend, Frontend (React)

test(knowledge-base): verify 400 returned for invalid documentType in upload endpoint
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Controllers/KnowledgeBaseControllerTests.cs
Due: none

feat(knowledge-base): document-type-aware embedding strategies (#455) (#462)
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationTopicSummarizer.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentIndexingService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IConversationTopicSummarizer.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentRequest.cs
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseDocument.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseDocumentConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330150051_AddDocumentTypeToKnowledgeBaseDocument.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330150051_AddDocumentTypeToKnowledgeBaseDocument.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Controllers/KnowledgeBaseControllerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ConversationIndexingStrategyTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ConversationTopicSummarizerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategyTests.cs
  frontend/src/api/hooks/useKnowledgeBase.ts
  frontend/src/components/knowledge-base/KnowledgeBaseUploadTab.tsx
  frontend/src/components/knowledge-base/__tests__/KnowledgeBaseUploadTab.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(knowledge-base): store embedding summary text in KnowledgeBaseChunk.Summary
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategy.cs
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseChunk.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330194805_AddSummaryToKnowledgeBaseChunk.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330194805_AddSummaryToKnowledgeBaseChunk.cs
Due: backend, Backend (.NET)

feat(knowledge-base): store DocumentType on KnowledgeBaseChunk
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategy.cs
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseChunk.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330195611_AddDocumentTypeToKnowledgeBaseChunk.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260330195611_AddDocumentTypeToKnowledgeBaseChunk.cs
Due: backend, Backend (.NET)

docs: plans
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionDates/GetExpeditionDatesHandler.cs
  docs/superpowers/plans/2026-03-29-db-driven-cron-config.md
  docs/superpowers/plans/2026-03-30-kb-document-type-strategies.md
Due: backend, Backend (.NET)

fix(knowledge-base): add offline-message pattern, fix multiline datum/zákazník header regex
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ChatTranscriptPreprocessorTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): instruct LLM to omit preamble in topic summarization prompt
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
Due: backend, Backend (.NET)

fix(knowledge-base): include Summary and DocumentType in raw INSERT for chunks
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseRepository.cs
Due: backend, Backend (.NET)

test(knowledge-base): update integration schema and add Summary/DocumentType round-trip assertion
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Integration/KnowledgeBaseRepositoryIntegrationTests.cs
Due: none

test(knowledge-base): fix boilerplate test input to use multiline datum/zákazník format
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
Due: none

fix: prompts improvements
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
Due: backend, Backend (.NET)

fi: systemprompt in options
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/AskQuestionHandlerTests.cs
Due: none

fix: FE tests
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
Due: frontend, Frontend (React)

fix(knowledge-base): upgrade embedding model to text-embedding-3-large (3072 dims)
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingOptions.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260331070417_UpgradeEmbeddingTo3Large.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260331070417_UpgradeEmbeddingTo3Large.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add MinSimilarityScore option with default 0.60
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
Due: backend, Backend (.NET)

feat(knowledge-base): expose BelowThresholdCount in SearchDocumentsResponse
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/SearchDocuments/SearchDocumentsRequest.cs
Due: backend, Backend (.NET)

test(knowledge-base): threshold filtering tests for SearchDocumentsHandler
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/SearchDocumentsHandlerTests.cs
Due: none

feat(knowledge-base): apply MinSimilarityScore post-filter in SearchDocumentsHandler
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/SearchDocuments/SearchDocumentsHandler.cs
Due: backend, Backend (.NET)

test(knowledge-base): empty chunks fallback test for AskQuestionHandler
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/AskQuestionHandlerTests.cs
Due: none

fix: embedding dimensions count
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingGenerator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingOptions.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260331070417_UpgradeEmbeddingTo3Large.cs
Due: backend, Backend (.NET)

feat(knowledge-base): return graceful fallback when no chunks pass similarity threshold
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
Due: backend, Backend (.NET)

fix(knowledge-base): use feminine verb form in fallback message to match persona @claude
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/AskQuestionHandlerTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): upgrade embedding model to text-embedding-3-large (#464)
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingGenerator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingOptions.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Persistence/Migrations/20260331070417_UpgradeEmbeddingTo3Large.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260331070417_UpgradeEmbeddingTo3Large.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add similarity score threshold to filter low-quality results (#465)
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/SearchDocuments/SearchDocumentsHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/SearchDocuments/SearchDocumentsRequest.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/AskQuestionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/SearchDocumentsHandlerTests.cs
Due: backend, Backend (.NET)

feat(knowledge-base): expand user queries via HyDE before embedding (#463)
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/SearchDocuments/SearchDocumentsHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/SearchDocumentsHandlerTests.cs
Due: backend, Backend (.NET)

feat(kb): add KnowledgeBaseChunkNotFound error code
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat(kb): add GetChunkByIdAsync to repository
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/IKnowledgeBaseRepository.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseRepository.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
