Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore: repoint agent context_files at checked-in skill paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore(feat-4199): planning artifact
  artifacts/feat-4199/state.json
  artifacts/feat-4199/task-plan.r1.md
Due: none

chore(feat-4199): task context
  artifacts/feat-4199/state.json
  artifacts/feat-4199/task-context/fix-purchasestockanalysis-validation-error.md
Due: none

chore(feat-4202): impl+review for add-bearer-auth-regression-tests r1
  artifacts/feat-4202/impl/add-bearer-auth-regression-tests.r1.md
  artifacts/feat-4202/review/add-bearer-auth-regression-tests.r1.md
  artifacts/feat-4202/state.json
  backend/test/Anela.Heblo.Tests/Adapters/MetaAds/MetaAdsTransactionSourceTests.cs
Due: none

chore(feat-4202): add-bearer-auth-regression-tests passed review
  artifacts/feat-4202/state.json
Due: none

chore(feat-4200): impl+review for extract-filteritems r1
  artifacts/feat-4200/impl/extract-filteritems.r1.md
  artifacts/feat-4200/review/extract-filteritems.r1.md
  artifacts/feat-4200/state.json
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/IStockAnalysisCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/StockAnalysisCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/StockAnalysisCalculatorTests.cs
Due: backend, Backend (.NET)

chore(feat-4200): extract-filteritems passed review
  artifacts/feat-4200/state.json
Due: none

fix(plaud): normalize "of_"-prefixed recording ids for CLI lookups
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudCliClient.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientParserTests.cs
Due: backend, Backend (.NET)

test: address review - assert prefixed id reaches the CLI process
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientRunTests.cs
Due: none

fix(logistics): gate gift-package manufacture on its own permission
  access-matrix-entra.generated.json
  access-matrix.json
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/CreateGiftPackageManufacture/CreateGiftPackageManufactureHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessRoles.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/Feature.generated.cs
  backend/test/Anela.Heblo.Tests/Application/GiftPackageManufacture/CreateGiftPackageManufactureHandlerTests.cs
  docs/features/gift-package-manufacture.md
  frontend/src/auth/accessMatrix.generated.ts
  memory/gotchas/stock-available-includes-manufacture-warehouse.md
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: lot label calibration wizard for operators
  backend/src/Anela.Heblo.API/Controllers/LotsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/InventoryModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LabelDriftDirection.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LabelDriftSpeed.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LotLabelCalibration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/LotLabelCalibrationRepository.cs
  backend/test/Anela.Heblo.Tests/Authorization/LotsControllerAuthorizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/LotLabelCalibrationNudgeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/LotLabelCalibrationRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/NudgeLotLabelCalibrationHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useMaterialContainers.ts
  frontend/src/components/pages/LotLabelCalibrationTab.tsx
  frontend/src/components/pages/LotLabelPrintModal.tsx
  frontend/src/components/pages/LotLabelPrinterControls.tsx
  frontend/src/components/pages/__tests__/LotLabelPrintModal.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: address review - block print, close and tab switch while a nudge is in flight
  frontend/src/components/pages/LotLabelPrintModal.tsx
  frontend/src/components/pages/LotLabelPrinterControls.tsx
  frontend/src/components/pages/__tests__/LotLabelPrintModal.test.tsx
Due: frontend, Frontend (React)

fix: address review - correct stale freshness comment on useLotLabelCalibration
  frontend/src/api/hooks/useMaterialContainers.ts
Due: frontend, Frontend (React)

fix: address review - give drift buttons an accessible name without the hint
  frontend/src/components/pages/LotLabelPrinterControls.tsx
Due: frontend, Frontend (React)

fix(plaud): normalize "of_"-prefixed recording ids for CLI lookups (#4206)
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudCliClient.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientParserTests.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientRunTests.cs
Due: backend, Backend (.NET)

docs: address review - name the concrete exception types the handler maps
  docs/features/gift-package-manufacture.md
Due: none

fix: address review - return the error envelope on 403 instead of a bodiless Forbid()
  backend/src/Anela.Heblo.API/Controllers/BaseApiController.cs
  backend/test/Anela.Heblo.Tests/Controllers/BaseApiControllerTests.cs
Due: backend, Backend (.NET)

test: address review - cover the manufacture failure toast in the modal
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/GiftPackageManufacturingDetail.test.tsx
Due: frontend, Frontend (React)

fix: address review - lock the manufacture button while a run is in flight
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/GiftPackageManufacturingDetail.test.tsx
Due: frontend, Frontend (React)

fix: address review - step an out-of-range calibration by one nudge instead of snapping
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LotLabelCalibration.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/LotLabelCalibrationNudgeTests.cs
Due: backend, Backend (.NET)

fix: address review - document the accepted lost-update window on the nudge
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationHandler.cs
Due: backend, Backend (.NET)

docs: record calibration wizard PR #4207 in session state
  memory/context/state.md
Due: none

chore(feat-4200): impl+review for extract-sortitems r1
  artifacts/feat-4200/impl/extract-sortitems.r1.md
  artifacts/feat-4200/review/extract-sortitems.r1.md
  artifacts/feat-4200/state.json
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/IStockAnalysisCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/StockAnalysisCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/StockAnalysisCalculatorTests.cs
Due: backend, Backend (.NET)

chore(feat-4200): extract-sortitems passed review
  artifacts/feat-4200/state.json
Due: none

fix(logistics): validate gift-package ingredients against warehouse stock (#4198)
  access-matrix-entra.generated.json
  access-matrix.json
  backend/src/Anela.Heblo.API/Controllers/BaseApiController.cs
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/LogisticsCatalogSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/Models/LogisticsCatalogItem.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageIngredientDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/InsufficientStockException.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/CreateGiftPackageManufacture/CreateGiftPackageManufactureHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessRoles.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/Feature.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  backend/test/Anela.Heblo.Tests/Application/GiftPackageManufacture/CreateGiftPackageManufactureHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Controllers/BaseApiControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/LogisticsCatalogSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Stock/StockDataTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufacture/GiftPackageManufactureAtomicityIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  docs/features/gift-package-manufacture.md
  frontend/src/auth/accessMatrix.generated.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/GiftPackageManufacturingDetail.test.tsx
  memory/gotchas/stock-available-includes-manufacture-warehouse.md
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: lot label calibration wizard for operators (#4207)
  backend/src/Anela.Heblo.API/Controllers/LotsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/InventoryModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/NudgeLotLabelCalibration/NudgeLotLabelCalibrationResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LabelDriftDirection.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LabelDriftSpeed.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/LotLabelCalibration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/LotLabelCalibrationRepository.cs
  backend/test/Anela.Heblo.Tests/Authorization/LotsControllerAuthorizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/LotLabelCalibrationNudgeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/LotLabelCalibrationRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/NudgeLotLabelCalibrationHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useMaterialContainers.ts
  frontend/src/components/pages/LotLabelCalibrationTab.tsx
  frontend/src/components/pages/LotLabelPrintModal.tsx
  frontend/src/components/pages/LotLabelPrinterControls.tsx
  frontend/src/components/pages/__tests__/LotLabelPrintModal.test.tsx
  memory/context/state.md
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: repoint agent context_files off missing superpowers plugin cache
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

fix: repoint developer agent context_files off missing plugin cache
  .agents/developer.md
Due: none

chore(feat-4202): impl+review for move-access-token-to-authorization-header r1
  artifacts/feat-4202/impl/move-access-token-to-authorization-header.r1.md
  artifacts/feat-4202/review/move-access-token-to-authorization-header.r1.md
  artifacts/feat-4202/state.json
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
Due: backend, Backend (.NET)

chore(feat-4199): impl+review for fix-purchasestockanalysis-validation-error r1
  artifacts/feat-4199/impl/fix-purchasestockanalysis-validation-error.r1.md
  artifacts/feat-4199/review/fix-purchasestockanalysis-validation-error.r1.md
  artifacts/feat-4199/state.json
  backend/src/Anela.Heblo.API/Controllers/PurchaseStockAnalysisController.cs
  backend/test/Anela.Heblo.Tests/Controllers/PurchaseStockAnalysisControllerTests.cs
Due: backend, Backend (.NET)
