Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix: pricing calculator - three defect fixes
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingSimulationCalculator.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingSimulationCalculatorTests.cs
Due: backend, Backend (.NET)

feat: add pricing recalculate endpoint
  backend/src/Anela.Heblo.API/Controllers/PricingSimulatorController.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/PricingModule.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/RecalculatePricing/RecalculatePricingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/RecalculatePricing/RecalculatePricingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/RecalculatePricing/RecalculatePricingResponse.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Validators/RecalculatePricingRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/RecalculatePricingHandlerTests.cs
Due: backend, Backend (.NET)

feat: add pricing scenario persistence
  backend/src/Anela.Heblo.Application/Features/Pricing/PricingModule.cs
  backend/src/Anela.Heblo.Domain/Features/Pricing/IPricingScenarioRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Pricing/PricingScenario.cs
  backend/src/Anela.Heblo.Domain/Features/Pricing/PricingScenarioItem.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260921123706_AddPricingScenarios.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260921123706_AddPricingScenarios.cs
  backend/src/Anela.Heblo.Persistence/Pricing/PricingScenarioConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Pricing/PricingScenarioItemConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Pricing/PricingScenarioRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingScenarioRepositoryTests.cs
Due: backend, Backend (.NET)

fix: return PricingScenarioNotFound when updating a deleted scenario
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/SavePricingScenario/SavePricingScenarioHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingScenarioHandlersTests.cs
Due: backend, Backend (.NET)

feat: add pricing scenario CRUD endpoints
  backend/src/Anela.Heblo.API/Controllers/PricingScenariosController.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingScenarioSummaryDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/PricingModule.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/DeletePricingScenario/DeletePricingScenarioHandler.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/DeletePricingScenario/DeletePricingScenarioRequest.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/DeletePricingScenario/DeletePricingScenarioResponse.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingScenario/GetPricingScenarioHandler.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingScenario/GetPricingScenarioRequest.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingScenario/GetPricingScenarioResponse.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingScenarios/GetPricingScenariosHandler.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingScenarios/GetPricingScenariosRequest.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingScenarios/GetPricingScenariosResponse.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/SavePricingScenario/SavePricingScenarioHandler.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/SavePricingScenario/SavePricingScenarioRequest.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/SavePricingScenario/SavePricingScenarioResponse.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Validators/SavePricingScenarioRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingScenarioHandlersTests.cs
Due: backend, Backend (.NET)

style: format pricing test files
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingSimulationCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/RecalculatePricingHandlerTests.cs
Due: none

feat: add pricing simulator API hooks
  frontend/src/api/client.ts
  frontend/src/api/hooks/__tests__/usePricingSimulator.test.ts
  frontend/src/api/hooks/usePricingSimulator.ts
Due: frontend, Frontend (React)

feat: add price analysis grid and totals bar
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
  frontend/src/components/pricing/PricingGrid.tsx
  frontend/src/components/pricing/PricingTotalsBar.tsx
Due: frontend, Frontend (React)

fix: add Kč margin cells, fix cross-cell clobber and concurrent-edit override loss
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/components/pricing/PricingEditableCell.tsx
  frontend/src/components/pricing/PricingGrid.tsx
Due: frontend, Frontend (React)

fix: gate scenario writes behind Write and validate overrides at the boundary
  backend/src/Anela.Heblo.API/Controllers/PricingScenariosController.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Validators/PricingOverrideDtoValidator.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Validators/RecalculatePricingRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Validators/SavePricingScenarioRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Authorization/PricingControllersAuthorizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingOverrideValidationTests.cs
Due: backend, Backend (.NET)

fix: replace DOM-node-access test queries with data-testid scoping
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
  frontend/src/components/pricing/PricingGrid.tsx
  frontend/src/components/pricing/PricingTotalsBar.tsx
Due: frontend, Frontend (React)

feat: add Analýza cen to finance menu and access matrix
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
Due: frontend, Frontend (React)

fix: compute baseline M0/M1 in PricingSimulationCalculator, not the export
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingSimulationCalculator.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingSimulationCalculatorTests.cs
  frontend/src/components/pricing/__tests__/exportPricingScenario.test.ts
  frontend/src/components/pricing/exportPricingScenario.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add cell editing and recalculation to price analysis
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
  frontend/src/components/pricing/PricingEditableCell.tsx
  frontend/src/components/pricing/PricingGrid.tsx
  frontend/src/components/pricing/__tests__/PricingEditableCell.test.tsx
Due: frontend, Frontend (React)

fix: guard cell commits with a real-typing dirty flag, not a value comparison
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/components/pricing/PricingEditableCell.tsx
Due: frontend, Frontend (React)

feat: add pricing scenario controls and xlsx export
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
  frontend/src/components/pricing/PricingScenarioBar.tsx
  frontend/src/components/pricing/__tests__/PricingScenarioBar.test.tsx
  frontend/src/components/pricing/__tests__/exportPricingScenario.test.ts
  frontend/src/components/pricing/exportPricingScenario.ts
  frontend/src/utils/errorHandler.ts
Due: frontend, Frontend (React)

fix: strengthen PriceAnalysis totals and excluded-row test assertions
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
Due: frontend, Frontend (React)

test: add price analysis e2e spec
  docs/testing/e2e-module-guide.md
  frontend/test/e2e/finance/price-analysis.spec.ts
Due: none

fix: unshadow the filter after an edit, clear stale cell errors, reuse the envelope reader
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/utils/__tests__/errorHandler.test.ts
  frontend/src/utils/errorHandler.ts
Due: frontend, Frontend (React)

fix: show drift, 12m sales and edited count; export the ceník as numbers
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
  frontend/src/components/pricing/PricingEditableCell.tsx
  frontend/src/components/pricing/PricingGrid.tsx
  frontend/src/components/pricing/PricingTotalsBar.tsx
  frontend/src/components/pricing/__tests__/PricingEditableCell.test.tsx
  frontend/src/components/pricing/__tests__/exportPricingScenario.test.ts
  frontend/src/components/pricing/exportPricingScenario.ts
Due: frontend, Frontend (React)

test: wait on the cell's own consequence, not the totals', in pricing edit tests
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
Due: frontend, Frontend (React)

fix: address code review findings in pricing simulator
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingSimulationCalculator.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Persistence/Pricing/PricingScenarioRepository.cs
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pricing/PricingEditableCell.tsx
  frontend/src/components/pricing/PricingGrid.tsx
  frontend/src/components/pricing/PricingScenarioBar.tsx
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

chore: regenerate migration and API client after rebase onto main
  backend/src/Anela.Heblo.Persistence/Migrations/20260921181237_AddPricingScenarios.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260921181237_AddPricingScenarios.cs
  backend/src/Anela.Heblo.Persistence/Migrations/ApplicationDbContextModelSnapshot.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: keep the original AddPricingScenarios migration id
  backend/src/Anela.Heblo.Persistence/Migrations/20260921123706_AddPricingScenarios.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260921123706_AddPricingScenarios.cs
Due: backend, Backend (.NET)

feat: replace M1_B with cumulative M3 overhead margin level
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/FlatManufactureCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/OverheadCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MarginHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MonthlyMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/OverheadCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IDirectManufactureCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IFlatManufactureCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IOverheadCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IDirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IOverheadCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MarginData.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MonthlyMarginHistory.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/DirectManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/OverheadCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/MarginCostWindowAlignmentTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
  docs/features/margins_v2/spec.md
  frontend/src/api/generated/api-client.ts
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsSummary.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: mock PermissionsContext in pricing test suites, add write-gate coverage
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.test.tsx
  frontend/src/components/pricing/__tests__/PricingScenarioBar.test.tsx
Due: frontend, Frontend (React)

fix: address code review findings on the M3 margin level
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/OverheadCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/CostProviderRefreshLockCollection.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/M2M3DenominatorParityTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/OverheadCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/SalesCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/MarginCostWindowAlignmentTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolModuleRegistrationTests.cs
  docs/features/margins_v2/m1_implementation_notes.md
  docs/implementation/margins_cache_implementation.md
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: replace M1_B with cumulative M3 overhead margin level (#4257)
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/FlatManufactureCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/OverheadCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MarginHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MonthlyMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/OverheadCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IDirectManufactureCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IFlatManufactureCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IOverheadCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IDirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IOverheadCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MarginData.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MonthlyMarginHistory.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/CostProviderRefreshLockCollection.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/DirectManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/M2M3DenominatorParityTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/OverheadCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/SalesCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/MarginCostWindowAlignmentTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolModuleRegistrationTests.cs
  docs/features/margins_v2/m1_implementation_notes.md
  docs/features/margins_v2/spec.md
  docs/implementation/margins_cache_implementation.md
  frontend/src/api/generated/api-client.ts
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsSummary.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: M2 cost pool — per-pool account prefixes, exclude BUVOL
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolDefinition.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/SalesCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolDefinitionTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
  docs/features/margin-calculation-system.md
  docs/features/margins_v2/spec.md
  docs/superpowers/specs/2026-09-21-cost-pool-totals-design.md
  frontend/public/docs/margin-levels.md
  frontend/src/components/margins/MarginLevelsHelpSheet.tsx
  frontend/src/components/margins/__tests__/MarginLevelsHelpSheet.test.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: address frontend code review findings on margin levels help sheet
  frontend/public/docs/margin-levels.md
  frontend/src/components/margins/MarginLevelsHelpSheet.tsx
  frontend/src/components/margins/__tests__/MarginLevelsHelpSheet.test.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: frontend, Frontend (React)

fix: address C# review findings and reconcile with the M3 margin level
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/CostPool.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/ICostPoolService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/M2M3DenominatorParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
  frontend/public/docs/margin-levels.md
Due: backend, Backend (.NET)

feat: edit pricing cells through a value/percentage popover
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingEditDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingSimulationCalculator.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingSimulationCalculatorTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/PriceAnalysis.tsx
  frontend/src/components/pages/__tests__/PriceAnalysis.editing.test.tsx
  frontend/src/components/pricing/PricingEditableCell.tsx
  frontend/src/components/pricing/PricingGrid.tsx
  frontend/src/components/pricing/PricingValueEditorPopover.tsx
  frontend/src/components/pricing/__tests__/PricingEditableCell.test.tsx
  frontend/src/components/pricing/__tests__/PricingValueEditorPopover.test.tsx
  frontend/src/components/pricing/__tests__/pricingDelta.test.ts
  frontend/src/components/pricing/pricingDelta.ts
  frontend/test/e2e/finance/price-analysis.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: address /automerge-pr review feedback
  backend/test/Anela.Heblo.Tests/Marketing/OutlookCalendarSyncServiceTests.cs
Due: none

fix: address code review findings in the pricing cell editor
  frontend/src/components/pricing/PricingEditableCell.tsx
  frontend/src/components/pricing/PricingValueEditorPopover.tsx
  frontend/src/components/pricing/__tests__/PricingEditableCell.test.tsx
  frontend/src/components/pricing/__tests__/pricingDelta.test.ts
  frontend/src/components/pricing/pricingDelta.ts
Due: frontend, Frontend (React)

fix: M2 cost pool — per-pool account prefixes, exclude BUVOL (#4258)
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolDefinition.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/CostPool.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/ICostPoolService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/M2M3DenominatorParityTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/SalesCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolDefinitionTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
  docs/features/margin-calculation-system.md
  docs/features/margins_v2/spec.md
  docs/superpowers/specs/2026-09-21-cost-pool-totals-design.md
  frontend/public/docs/margin-levels.md
  frontend/src/components/margins/MarginLevelsHelpSheet.tsx
  frontend/src/components/margins/__tests__/MarginLevelsHelpSheet.test.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: follow main's MarginData rename in the pricing baseline
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingEditDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingBaselineBuilder.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingBaselineBuilderTests.cs
Due: backend, Backend (.NET)

docs: drop BUVOL from the user-facing margin levels help
  frontend/public/docs/margin-levels.md
Due: none

docs: drop BUVOL from the user-facing margin levels help (#4259)
  frontend/public/docs/margin-levels.md
Due: none

chore: sync environment setup artifacts
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
  frontend/package-lock.json
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
