Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat(baleni): hook to load active packing users
  frontend/src/components/baleni/packingUser/usePackingUsers.ts
Due: frontend, Frontend (React)

fix(frontend): restore CarrierCoolingMatrixProps interface after refactor
  frontend/src/components/customer/cooling/CarrierCoolingMatrix.tsx
Due: frontend, Frontend (React)

feat(baleni): packing-user context with device persistence
  frontend/src/components/baleni/packingUser/PackingUserContext.tsx
  frontend/src/components/baleni/packingUser/__tests__/PackingUserContext.test.tsx
Due: frontend, Frontend (React)

docs(shoptet): document multi-package shipment creation
  docs/integrations/shoptet-api.md
Due: none

feat(baleni): packing-user picker modal
  frontend/src/components/baleni/packingUser/PackingUserPicker.tsx
Due: frontend, Frontend (React)

feat(packaging): send Carrier filter from packages query hook
  frontend/src/api/hooks/usePackages.ts
Due: frontend, Frontend (React)

feat(baleni): packing-user header chip
  frontend/src/components/baleni/packingUser/PackingUserChip.tsx
Due: frontend, Frontend (React)

feat(packaging): scan hook accepts numberOfPackages and exposes pendingCompletion
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
Due: frontend, Frontend (React)

feat(packaging): carrier combobox in Zasilky filters
  frontend/src/components/baleni/zasilky/ZasilkyFilters.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyFilters.test.tsx
Due: frontend, Frontend (React)

feat(baleni): mount packing-user provider, chip, and picker
  frontend/src/components/baleni/BaleniLayout.tsx
Due: frontend, Frontend (React)

feat(baleni): require operator selection before scanning
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
Due: frontend, Frontend (React)

feat(packaging): add useCompletePackingOrder hook
  frontend/src/api/hooks/__tests__/useCompletePackingOrder.test.ts
  frontend/src/api/hooks/useCompletePackingOrder.ts
Due: frontend, Frontend (React)

feat(baleni): send selected packing user on scan
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
Due: frontend, Frontend (React)

feat(packaging): wire carrier filter through Zasilky page
  frontend/src/components/baleni/zasilky/ZasilkyPage.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyPage.test.tsx
Due: frontend, Frontend (React)

feat(packaging): add MultiPackageModal with +/- selector and scan confirm
  frontend/src/components/baleni/MultiPackageModal.tsx
  frontend/src/components/baleni/__tests__/MultiPackageModal.test.tsx
Due: frontend, Frontend (React)

feat(baleni): show packer column in shipments table
  frontend/src/api/hooks/usePackages.ts
  frontend/src/components/baleni/zasilky/ZasilkyTable.tsx
Due: frontend, Frontend (React)

feat(authz): admin hooks for can-pack and local user creation
  frontend/src/api/hooks/useAccessManagement.ts
Due: frontend, Frontend (React)

feat(packaging): add multi-package button and modal to packing screen
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
Due: frontend, Frontend (React)

feat(authz): admin UI for packers and local operators
  frontend/src/pages/AccessManagementPage.tsx
Due: frontend, Frontend (React)

feat(packaging): mark order packed after the last multi-package label prints
  frontend/src/components/baleni/PackingLabelPrinter.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
Due: frontend, Frontend (React)

fix(authz): address code review issues in access management page
  frontend/src/pages/AccessManagementPage.tsx
Due: frontend, Frontend (React)

fix(frontend): use accessible form role in ZasilkyFilters lint fix
  frontend/src/components/baleni/zasilky/ZasilkyFilters.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyFilters.test.tsx
Due: frontend, Frontend (React)

fix: return zero results when carrier resolves to empty shipping codes list
  backend/src/Anela.Heblo.Persistence/Repositories/Packaging/PackageRepository.cs
Due: backend, Backend (.NET)

fix: test carrier-unresolved path using non-null stored provider name
  backend/test/Anela.Heblo.Tests/Features/Packaging/GetPackagesHandlerTests.cs
Due: none

fix(baleni): disable scan input when no packing operator selected
  frontend/src/components/baleni/BaleniPacking.tsx
Due: frontend, Frontend (React)

fix(packaging): add CompletePackingOrderHandler to module boundary allowlist
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

fix(authz): prevent seeder from deleting custom group permissions on restart
  backend/src/Anela.Heblo.Application/Features/Authorization/UseCases/GetPermissionCatalogue/GetPermissionCatalogueHandler.cs
  backend/src/Anela.Heblo.Application/Features/Authorization/UseCases/UpdateGroup/UpdateGroupHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/IAuthorizationRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/Authorization/AuthorizationRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/Authorization/AuthorizationSeeder.cs
  backend/test/Anela.Heblo.Tests/Authorization/AuthorizationSeederTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/GetMeHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/GetPermissionCatalogueHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/GroupClosureTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/PermissionClaimsTransformationTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/PermissionResolverTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/UpdateDeleteGroupHandlerTests.cs
  frontend/src/components/access-management/PermissionPicker.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add shipping provider combobox feature plan
  docs/superpowers/plans/2026-06-09-shipping-provider-combobox-zasilky.md
Due: none

test: fix mock and node-access issues in packing user tests
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
  frontend/src/pages/__tests__/AccessManagementPage.test.tsx
Due: frontend, Frontend (React)

docs: add packaging user selection implementation plan
  docs/superpowers/plans/2026-06-09-packaging-user-selection.md
Due: none

test(packaging): verify completion fires exactly once even after reprint
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-usermanagement-graphservice-/brief.md
  artifacts/feat-arch-review-usermanagement-graphservice-/brief.md
Due: none

docs: add multi-package shipment implementation plan
  docs/superpowers/plans/2026-06-09-multi-package-shipment.md
Due: none

feat(authz): add AccessMatrixManifest DTOs for JSON source of truth
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrixManifest.cs
Due: backend, Backend (.NET)

feat(authz): add canonical access-matrix.json (1:1 port of AccessMatrix.cs)
  access-matrix.json
Due: none

test(authz): add schema validation for access-matrix.json
  backend/test/Anela.Heblo.Tests/Authorization/AccessMatrixJsonTests.cs
Due: none

fix(packaging): reset completedRef on error to allow completion retry
  frontend/src/components/baleni/PackingLabelPrinter.tsx
Due: frontend, Frontend (React)

fix(baleni): validate packing user eligibility before persisting packages
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderPackerTests.cs
Due: backend, Backend (.NET)

refactor(authz): make access-matrix.json the single source of truth
  access-matrix-entra.generated.json
  backend/src/Anela.Heblo.Application/Features/Authorization/UseCases/GetPermissionCatalogue/GetPermissionCatalogueHandler.cs
  backend/src/Anela.Heblo.Application/Features/Authorization/UseCases/GetPermissionCatalogue/GetPermissionCatalogueResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessModels.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/Feature.generated.cs
  backend/test/Anela.Heblo.Tests/Authorization/GetPermissionCatalogueHandlerTests.cs
  backend/tools/Anela.Heblo.AccessMatrixGen/Program.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/pages/__tests__/GroupDetailPage.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)
