Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

refactor: type ArticleListItemDto.Status as ArticleStatus
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/ListArticles/ArticleListItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/ListArticles/ListArticlesHandler.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/ListArticlesHandlerTests.cs
Due: backend, Backend (.NET)

test: lock JSON wire format for ArticleStatus on response DTOs
  backend/test/Anela.Heblo.Tests/Article/UseCases/ArticleStatusWireFormatTests.cs
Due: none

fix: use camelCase naming policy in wire format tests to match API config
  backend/test/Anela.Heblo.Tests/Article/UseCases/ArticleStatusWireFormatTests.cs
Due: none

chore: regenerate TS api-client for typed ArticleStatus
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

refactor: drop unsafe ArticleStatus casts now that generated type is typed
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-article-getarticleresponse-a/impl/main.r1.md
  artifacts/feat-arch-review-article-getarticleresponse-a/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-scope-and-languageno/brief.md
  artifacts/feat-arch-review-article-scope-and-languageno/brief.md
Due: none

agent: upload artifacts/feat-arch-review-article-scope-and-languageno/spec.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-scope-and-languageno/arch-review.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-scope-and-languageno/design.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/design.r1.md
Due: none

agent: planner output feat-arch-review-article-scope-and-languageno-planning-1
  docs/superpowers/plans/2026-05-25-article-scope-and-languagenote.md
Due: none

agent: upload artifacts/feat-arch-review-article-scope-and-languageno/task-plan.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/task-plan.r1.md
Due: none

feat: render conditional Tonalita line in WriteArticleStep
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
Due: backend, Backend (.NET)

test: cover {scope} placeholder substitution in WriteArticleStep
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
Due: none

test: lock in {language_note} back-compat substitution
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
Due: none

feat: rewrite default WriteArticleSystemPromptTemplate to include scope and tone note
  backend/src/Anela.Heblo.Application/Features/Article/ArticleOptions.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
Due: backend, Backend (.NET)

feat: record scope and hasLanguageNote on WriteArticle pipeline step
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
Due: backend, Backend (.NET)

feat: cap GenerateArticleRequest.LanguageNote at 500 chars
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GenerateArticle/GenerateArticleRequest.cs
Due: backend, Backend (.NET)

feat: add LanguageNote input to article generation form
  frontend/src/features/articles/ArticleGenerationForm.tsx
Due: frontend, Frontend (React)

test: cover languageNote input in ArticleGenerationForm
  frontend/src/features/articles/__tests__/ArticleGenerationForm.test.tsx
Due: frontend, Frontend (React)

docs: list custom-template placeholders for WriteArticleSystemPromptTemplate
  docs/features/article-generation.md
Due: none

agent: upload artifacts/feat-arch-review-article-scope-and-languageno/impl/main.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-articleoptions-write/brief.md
  artifacts/feat-arch-review-article-articleoptions-write/brief.md
Due: none

agent: upload artifacts/feat-arch-review-article-articleoptions-write/spec.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-articleoptions-write/arch-review.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-article-articleoptions-write-planning-1
  docs/superpowers/plans/2026-05-25-article-write-prompt-options.md
Due: none

agent: upload artifacts/feat-arch-review-article-articleoptions-write/task-plan.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/task-plan.r1.md
Due: none

refactor: rename WriteArticleSystemPromptTemplate to WriteArticleUserPromptTemplate
  backend/src/Anela.Heblo.Application/Features/Article/ArticleOptions.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  docs/features/article-generation.md
Due: backend, Backend (.NET)

feat: expose article writing system prompt as configurable ArticleOptions property
  backend/src/Anela.Heblo.Application/Features/Article/ArticleOptions.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
Due: backend, Backend (.NET)

docs: update article generation config example with renamed prompt keys
  docs/features/article-generation.md
Due: none

agent: upload artifacts/feat-arch-review-article-articleoptions-write/impl/main.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-usearticlefeedbackli/brief.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/brief.md
Due: none

agent: upload artifacts/feat-arch-review-article-usearticlefeedbackli/spec.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-usearticlefeedbackli/arch-review.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-article-usearticlefeedbackli-planning-1
  docs/superpowers/plans/2026-05-25-fix-usearticlefeedbacklist-field-rename.md
Due: none

agent: upload artifacts/feat-arch-review-article-usearticlefeedbackli/task-plan.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/task-plan.r1.md
Due: none

fix: align ArticleFeedbackSummary with backend (createdAt, hasComment)
  frontend/src/api/hooks/__tests__/useArticles.test.ts
  frontend/src/api/hooks/useArticles.ts
  frontend/src/components/feedback/adapters/__tests__/useArticleFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useArticleFeedbackAdapter.ts
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-article-usearticlefeedbackli/impl/main.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-users-updatemanufactureorder/brief.md
  artifacts/feat-arch-review-users-updatemanufactureorder/brief.md
Due: none

feat: Fix `useArticleFeedbackListQuery` Type/Field Mismatches (#1714)
  artifacts/feat-arch-review-article-usearticlefeedbackli/arch-review.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/brief.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/impl/main.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/spec.r1.md
  artifacts/feat-arch-review-article-usearticlefeedbackli/task-plan.r1.md
  docs/superpowers/plans/2026-05-25-fix-usearticlefeedbacklist-field-rename.md
  frontend/src/api/hooks/__tests__/useArticles.test.ts
  frontend/src/api/hooks/useArticles.ts
  frontend/src/components/feedback/adapters/__tests__/useArticleFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useArticleFeedbackAdapter.ts
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
