Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore: sync AgentHarness scaffolding from agentharness init
  .claude/agents/orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/oneshot/SKILL.md
Due: none

feat: material category filter for purchase stock analysis (#4048)
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/MaterialCategoryFilter.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/MaterialCategoryResolver.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/DashboardTiles/LowStockEfficiencyTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseStockAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/MaterialCategoryResolverTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/usePurchaseStockAnalysis.ts
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: product statistics screen with multi-product month-range comparison (#4019)
  access-matrix.json
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductStatisticsMetric.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductStatisticsSeriesDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductStatistics/GetProductStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductStatistics/GetProductStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductStatistics/GetProductStatisticsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductStatistics/MonthRange.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Validators/GetProductStatisticsRequestValidator.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/test/Anela.Heblo.Tests/Controllers/CatalogControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ProductStatistics/GetProductStatisticsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ProductStatistics/GetProductStatisticsRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ProductStatistics/MonthRangeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ProductStatistics/ProductStatisticsContractTests.cs
  docs/superpowers/plans/2026-08-31-product-statistics-screen.md
  docs/superpowers/specs/2026-08-31-product-statistics-screen-design.md
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useProductStatistics.test.ts
  frontend/src/api/hooks/useProductStatistics.ts
  frontend/src/auth/accessMatrix.generated.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/common/__tests__/CatalogAutocomplete.test.tsx
  frontend/src/components/pages/ProductStatistics.tsx
  frontend/src/components/pages/__tests__/ProductStatistics.test.tsx
  frontend/src/components/product-statistics/ProductStatisticsChart.tsx
  frontend/src/components/product-statistics/ProductStatisticsFilter.tsx
  frontend/src/components/product-statistics/ProductStatisticsTable.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsChart.test.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsFilter.test.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsTable.test.tsx
  frontend/src/components/product-statistics/__tests__/productStatisticsColors.test.ts
  frontend/src/components/product-statistics/productStatisticsColors.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: design spec for marketing calendar Outlook sync job
  docs/superpowers/specs/2026-09-03-marketing-calendar-outlook-sync-job-design.md
Due: none

refactor: show product statistics as a tab per product
  frontend/src/components/product-statistics/ProductStatisticsTable.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsTable.test.tsx
Due: frontend, Frontend (React)

feat: quick time-period buckets in product statistics filter
  frontend/src/components/product-statistics/ProductStatisticsFilter.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsFilter.test.tsx
Due: frontend, Frontend (React)

fix: hide zero-quantity products on manufacture order calendar card
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
Due: frontend, Frontend (React)

feat: catalog picker modal for product statistics
  frontend/src/components/product-statistics/ProductPickerModal.tsx
  frontend/src/components/product-statistics/ProductStatisticsFilter.tsx
  frontend/src/components/product-statistics/__tests__/ProductPickerModal.test.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsFilter.test.tsx
Due: frontend, Frontend (React)

fix: address review - drop dead null check in getVisibleCalendarProducts
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
Due: frontend, Frontend (React)

fix: address review - document and test hiding of products with missing quantity
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
Due: frontend, Frontend (React)

fix: address review - assert full source array equality in immutability test
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
Due: frontend, Frontend (React)

docs: implementation plan for marketing calendar Outlook sync job
  docs/superpowers/plans/2026-09-03-marketing-calendar-outlook-sync-job.md
Due: none

chore(feat-4034): impl+review for remove-redundant-whenall r1
  artifacts/feat-4034/state.json
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/FinancialOverviewStockValueAdapter.cs
Due: backend, Backend (.NET)

docs: central retail price management design (Heblo as master)
  docs/superpowers/specs/2026-09-03-central-price-management-design.md
Due: none

chore(feat-4034): impl+review for remove-redundant-whenall r1
  artifacts/feat-4034/impl/remove-redundant-whenall.r1.md
  artifacts/feat-4034/review/remove-redundant-whenall.r1.md
Due: none

chore(feat-4034): remove-redundant-whenall passed review
  artifacts/feat-4034/state.json
Due: none

feat: add MarketingAction.Restore for reversible sync deletions
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionRestoreTests.cs
Due: backend, Backend (.NET)

chore(feat-4042): analyzing artifact
  artifacts/feat-4042/spec.r1.md
  artifacts/feat-4042/state.json
Due: none

chore(feat-4042): architecting artifact
  artifacts/feat-4042/arch-review.r1.md
  artifacts/feat-4042/state.json
Due: none

feat: add GetSyncedInWindowAsync to marketing action repository
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/test/Anela.Heblo.Tests/Repositories/MarketingActionRepositoryGetSyncedInWindowTests.cs
Due: backend, Backend (.NET)

chore(feat-4042): designing artifact
  artifacts/feat-4042/design.r1.md
  artifacts/feat-4042/state.json
Due: none

chore(feat-4042): planning artifact
  artifacts/feat-4042/state.json
  artifacts/feat-4042/task-plan.r1.md
Due: none

feat: add GetEventAsync to Outlook calendar sync adapter
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/OutlookCalendarSyncService.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/IOutlookCalendarSync.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/NoOpOutlookCalendarSync.cs
  backend/test/Anela.Heblo.Tests/Marketing/OutlookCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

chore(feat-4042): task context
  artifacts/feat-4042/state.json
  artifacts/feat-4042/task-context/add-mcp-telemetry-helpers.md
  artifacts/feat-4042/task-context/add-post-diagnostics-logging.md
  artifacts/feat-4042/task-context/consolidate-truncateid-in-diagnostics-middleware.md
  artifacts/feat-4042/task-context/extract-log-helper-widen-fields.md
  artifacts/feat-4042/task-context/final-validation.md
  artifacts/feat-4042/task-context/get-existing-behavior-regression-test.md
  artifacts/feat-4042/task-context/non-mcp-path-ignored-test.md
  artifacts/feat-4042/task-context/pii-guard-authorization-header-test.md
  artifacts/feat-4042/task-context/post-500-no-log-test.md
  artifacts/feat-4042/task-context/post-happy-path-no-log-test.md
  artifacts/feat-4042/task-context/post-headerless-probe-not-rewritten-test.md
  artifacts/feat-4042/task-context/post-session-header-edge-cases.md
  artifacts/feat-4042/task-context/post-session-header-present-test.md
  artifacts/feat-4042/task-context/read-existing-middleware-and-tests.md
  artifacts/feat-4042/task-context/update-mcp-server-docs.md
Due: none

fix: hide zero-quantity products on manufacture order calendar card (#4050)
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
Due: frontend, Frontend (React)

feat: product statistics table tabs, quick period buckets and catalog picker (#4051)
  frontend/src/components/product-statistics/ProductPickerModal.tsx
  frontend/src/components/product-statistics/ProductStatisticsFilter.tsx
  frontend/src/components/product-statistics/ProductStatisticsTable.tsx
  frontend/src/components/product-statistics/__tests__/ProductPickerModal.test.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsFilter.test.tsx
  frontend/src/components/product-statistics/__tests__/ProductStatisticsTable.test.tsx
Due: frontend, Frontend (React)

chore: refresh AgentHarness scaffold files from session setup
  .claude/agents/orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/oneshot/SKILL.md
Due: none

docs: implementation plan for central retail price management
  docs/superpowers/plans/2026-09-03-central-price-management.md
Due: none

refactor: extract MarketingCalendarSyncService from ImportFromOutlookHandler
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/ImportFromOutlookRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/MarketingModule.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/IMarketingCalendarSyncService.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCalendarSyncService.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/SyncActor.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/ImportFromOutlookHandler.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/OutlookEventImportMapper.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-4033): impl+review for build-and-verify r2
  artifacts/feat-4033/impl/build-and-verify.r2.md
  artifacts/feat-4033/review/build-and-verify.r2.md
Due: none

chore(feat-4033): build-and-verify passed review
  artifacts/feat-4033/state.json
Due: none

feat: soft-delete marketing actions whose Outlook event is confirmed gone
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

fix: harvest unmapped categories in orphan reconciliation update path
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

docs: pre-flight fixes to the price management plan
  docs/superpowers/plans/2026-09-03-central-price-management.md
Due: none

feat: restore sync-deleted marketing actions when their Outlook event reappears
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

chore(feat-4033): code review r1
  artifacts/feat-4033/state.json
Due: none

chore(feat-4033): code review r1
  artifacts/feat-4033/code-review.r1.md
Due: none

feat: product pricing domain model and three-way sync decider
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/PriceSyncAction.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/PriceSyncDecider.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/PriceSyncDecision.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/PriceSyncStatus.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/PriceSyncTarget.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/ProductPrice.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/ProductPriceSyncState.cs
  backend/test/Anela.Heblo.Tests/Domain/ProductPricing/PriceSyncDeciderTests.cs
  backend/test/Anela.Heblo.Tests/Domain/ProductPricing/ProductPriceTests.cs
Due: backend, Backend (.NET)

feat: product pricing persistence and migration
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/IProductPriceRepository.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260903130253_AddProductPricing.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260903130253_AddProductPricing.cs
  backend/src/Anela.Heblo.Persistence/ProductPricing/ProductPriceConfiguration.cs
  backend/src/Anela.Heblo.Persistence/ProductPricing/ProductPriceRepository.cs
  backend/src/Anela.Heblo.Persistence/ProductPricing/ProductPriceSyncStateConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/ProductPricing/ProductPriceRepositoryTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
