Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-3618): designing artifact
  artifacts/feat-3618/design.r1.md
  artifacts/feat-3618/state.json
Due: none

chore(feat-3618): planning artifact
  artifacts/feat-3618/state.json
  artifacts/feat-3618/task-plan.r1.md
Due: none

chore(feat-3618): task context
  artifacts/feat-3618/state.json
  artifacts/feat-3618/task-context/add-validator-tests.md
Due: none

test: add unit tests for CalculateBatchByIngredientRequestValidator (#3618)
  artifacts/feat-3618/impl/add-validator-tests.r1.md
  artifacts/feat-3618/state.json
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchByIngredientRequestValidatorTests.cs
Due: none

chore(feat-3618): impl+review for add-validator-tests r1
  artifacts/feat-3618/review/add-validator-tests.r1.md
Due: none

chore(feat-3618): finalize pipeline artifacts
  artifacts/feat-3618/state.json
Due: none

chore(feat-3618): code review r1
  artifacts/feat-3618/code-review.r1.md
  artifacts/feat-3618/state.json
Due: none

chore(feat-3618): final checkpoint state
  artifacts/feat-3618/state.json
Due: none

fix: update stale compiler-generated state machine name in ModuleBoundariesTests allowlist
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

chore(feat-3660): issue brief
  artifacts/feat-3660/brief.md
  artifacts/feat-3660/state.json
Due: none

chore(feat-3660): analyzing artifact
  artifacts/feat-3660/spec.r1.md
  artifacts/feat-3660/state.json
Due: none

chore(feat-3660): architecting artifact
  artifacts/feat-3660/arch-review.r1.md
  artifacts/feat-3660/state.json
Due: none

chore(feat-3660): designing artifact
  artifacts/feat-3660/design.r1.md
  artifacts/feat-3660/state.json
Due: none

chore(feat-3660): planning artifact
  artifacts/feat-3660/state.json
  artifacts/feat-3660/task-plan.r1.md
Due: none

chore(feat-3660): task context
  artifacts/feat-3660/state.json
  artifacts/feat-3660/task-context/move-marketing-transaction-source-to-application-contracts.md
Due: none

refactor: move IMarketingTransactionSource/MarketingTransaction to Application/Contracts
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsTransactionSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Contracts/IMarketingTransactionSource.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Contracts/MarketingTransaction.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/IMarketingInvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/MarketingInvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/UseCases/ImportMarketingInvoices/ImportMarketingInvoicesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/ImportMarketingInvoicesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/MarketingInvoiceImportServiceTests.cs
Due: backend, Backend (.NET)

chore(feat-3660): impl artifact for move-marketing-transaction-source-to-application-contracts r1
  artifacts/feat-3660/impl/move-marketing-transaction-source-to-application-contracts.r1.md
  artifacts/feat-3660/state.json
Due: none

chore(feat-3660): impl+review for move-marketing-transaction-source-to-application-contracts r1
  artifacts/feat-3660/review/move-marketing-transaction-source-to-application-contracts.r1.md
Due: none

chore(feat-3660): finalize pipeline artifacts
  artifacts/feat-3660/state.json
Due: none

chore(feat-3660): code review r1
  artifacts/feat-3660/code-review.r1.md
  artifacts/feat-3660/state.json
Due: none

fix: retry Azure blob container creation after transient failure
  backend/src/Adapters/Anela.Heblo.Adapters.Azure/Features/FileStorage/AzureBlobStorageService.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
Due: backend, Backend (.NET)

fix: remove duplicate INFO log from FileStorageController
  backend/src/Anela.Heblo.API/Controllers/FileStorageController.cs
Due: backend, Backend (.NET)

ci: fix nightly e2e so tests run per-module and report honestly
  .github/workflows/e2e-nightly-regression.yml
  frontend/playwright.config.ts
Due: none

fix: remove duplicate INFO log from FileStorageController (#3668)
  backend/src/Anela.Heblo.API/Controllers/FileStorageController.cs
Due: backend, Backend (.NET)

fix: retry Azure blob container creation after transient failure (#3667)
  backend/src/Adapters/Anela.Heblo.Adapters.Azure/Features/FileStorage/AzureBlobStorageService.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
Due: backend, Backend (.NET)

#3660: Move IMarketingTransactionSource/MarketingTransaction to Application/Contracts (#3666)
  artifacts/feat-3660/arch-review.r1.md
  artifacts/feat-3660/brief.md
  artifacts/feat-3660/code-review.r1.md
  artifacts/feat-3660/design.r1.md
  artifacts/feat-3660/impl/move-marketing-transaction-source-to-application-contracts.r1.md
  artifacts/feat-3660/review/move-marketing-transaction-source-to-application-contracts.r1.md
  artifacts/feat-3660/spec.r1.md
  artifacts/feat-3660/state.json
  artifacts/feat-3660/task-context/move-marketing-transaction-source-to-application-contracts.md
  artifacts/feat-3660/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsTransactionSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Contracts/IMarketingTransactionSource.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Contracts/MarketingTransaction.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/IMarketingInvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/MarketingInvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/UseCases/ImportMarketingInvoices/ImportMarketingInvoicesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/ImportMarketingInvoicesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/MarketingInvoiceImportServiceTests.cs
Due: backend, Backend (.NET)

#3618: implementation (#3665)
  artifacts/feat-3618/arch-review.r1.md
  artifacts/feat-3618/brief.md
  artifacts/feat-3618/code-review.r1.md
  artifacts/feat-3618/design.r1.md
  artifacts/feat-3618/impl/add-validator-tests.r1.md
  artifacts/feat-3618/review/add-validator-tests.r1.md
  artifacts/feat-3618/spec.r1.md
  artifacts/feat-3618/state.json
  artifacts/feat-3618/task-context/add-validator-tests.md
  artifacts/feat-3618/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchByIngredientRequestValidatorTests.cs
Due: none

#3617: implementation (#3664)
  artifacts/feat-3617/arch-review.r1.md
  artifacts/feat-3617/brief.md
  artifacts/feat-3617/code-review.r1.md
  artifacts/feat-3617/design.r1.md
  artifacts/feat-3617/impl/add-validator-tests.r1.md
  artifacts/feat-3617/review/add-validator-tests.r1.md
  artifacts/feat-3617/spec.r1.md
  artifacts/feat-3617/state.json
  artifacts/feat-3617/task-context/add-validator-tests.md
  artifacts/feat-3617/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Catalog/Validators/CreateManufactureDifficultyRequestValidatorTests.cs
Due: none

#3615: implementation (#3663)
  artifacts/feat-3615/arch-review.r1.md
  artifacts/feat-3615/brief.md
  artifacts/feat-3615/code-review.r1.md
  artifacts/feat-3615/design.r1.md
  artifacts/feat-3615/impl/add-recalculate-product-weight-handler-tests.r1.md
  artifacts/feat-3615/review/add-recalculate-product-weight-handler-tests.r1.md
  artifacts/feat-3615/spec.r1.md
  artifacts/feat-3615/state.json
  artifacts/feat-3615/task-context/add-recalculate-product-weight-handler-tests.md
  artifacts/feat-3615/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Catalog/RecalculateProductWeightHandlerTests.cs
Due: none

#3652: Remove Analytics dependency from Bank's IBankStatementImportRepository (#3655)
  artifacts/feat-3652/arch-review.r1.md
  artifacts/feat-3652/brief.md
  artifacts/feat-3652/code-review.r1.md
  artifacts/feat-3652/design.r1.md
  artifacts/feat-3652/impl/add-bankdailycount-and-update-domain-contract.r1.md
  artifacts/feat-3652/impl/update-adapter-projection-and-boundary-test.r1.md
  artifacts/feat-3652/impl/update-bankstatementimportrepository-ef-implementation.r1.md
  artifacts/feat-3652/review/add-bankdailycount-and-update-domain-contract.r1.md
  artifacts/feat-3652/review/update-adapter-projection-and-boundary-test.r1.md
  artifacts/feat-3652/review/update-bankstatementimportrepository-ef-implementation.r1.md
  artifacts/feat-3652/spec.r1.md
  artifacts/feat-3652/state.json
  artifacts/feat-3652/task-context/add-bankdailycount-and-update-domain-contract.md
  artifacts/feat-3652/task-context/update-adapter-projection-and-boundary-test.md
  artifacts/feat-3652/task-context/update-bankstatementimportrepository-ef-implementation.md
  artifacts/feat-3652/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Bank/Infrastructure/BankStatementStatisticsSourceAdapter.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/BankDailyCount.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/IBankStatementImportRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportRepository.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: backend, Backend (.NET)

#3635: Extract recurring job seeding out of IRecurringJobConfigurationRepository (#3644)
  artifacts/feat-3635/arch-review.r1.md
  artifacts/feat-3635/brief.md
  artifacts/feat-3635/code-review.r1.md
  artifacts/feat-3635/design.r1.md
  artifacts/feat-3635/impl/add-repository-add-async-and-recurring-job-seeder.r1.md
  artifacts/feat-3635/impl/remove-legacy-seed-method-and-clean-test-doubles.r1.md
  artifacts/feat-3635/impl/wire-recurring-job-seeder-into-di-and-startup.r1.md
  artifacts/feat-3635/review/add-repository-add-async-and-recurring-job-seeder.r1.md
  artifacts/feat-3635/review/remove-legacy-seed-method-and-clean-test-doubles.r1.md
  artifacts/feat-3635/review/wire-recurring-job-seeder-into-di-and-startup.r1.md
  artifacts/feat-3635/spec.r1.md
  artifacts/feat-3635/state.json
  artifacts/feat-3635/task-context/add-repository-add-async-and-recurring-job-seeder.md
  artifacts/feat-3635/task-context/remove-legacy-seed-method-and-clean-test-doubles.md
  artifacts/feat-3635/task-context/wire-recurring-job-seeder-into-di-and-startup.md
  artifacts/feat-3635/task-plan.r1.md
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IRecurringJobSeeder.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/RecurringJobSeeder.cs
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/IRecurringJobConfigurationRepository.cs
  backend/src/Anela.Heblo.Persistence/BackgroundJobs/RecurringJobConfigurationRepository.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/HangfireRecurringJobSchedulerTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobConfigurationRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobDiscoveryServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobSeederTests.cs
Due: backend, Backend (.NET)

Inject JobStorage into HangfireBackgroundWorker instead of static access (#3642)
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/HangfireBackgroundWorkerTests.cs
Due: backend, Backend (.NET)

#3633: inject TimeProvider into Manufacture handlers instead of DateTime.UtcNow/Now (#3639)
  artifacts/feat-3633/arch-review.r1.md
  artifacts/feat-3633/brief.md
  artifacts/feat-3633/code-review.r1.md
  artifacts/feat-3633/design.r1.md
  artifacts/feat-3633/impl/inject-timeprovider-manufacture-handlers.r1.md
  artifacts/feat-3633/review/inject-timeprovider-manufacture-handlers.r1.md
  artifacts/feat-3633/spec.r1.md
  artifacts/feat-3633/state.json
  artifacts/feat-3633/task-context/inject-timeprovider-manufacture-handlers.md
  artifacts/feat-3633/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetSemiproductRecipePdf/GetSemiproductRecipePdfHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ResolveManualAction/ResolveManualActionHandler.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureProtocolHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetSemiproductRecipePdfHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ResolveManualActionHandlerTests.cs
Due: backend, Backend (.NET)

#3632: replace throw-based errors with structured responses in GetManufactureProtocolHandler (#3638)
  artifacts/feat-3632/arch-review.r1.md
  artifacts/feat-3632/brief.md
  artifacts/feat-3632/code-review.r1.md
  artifacts/feat-3632/design.r1.md
  artifacts/feat-3632/impl/structured-error-responses-for-protocol-generation.r1.md
  artifacts/feat-3632/review/structured-error-responses-for-protocol-generation.r1.md
  artifacts/feat-3632/spec.r1.md
  artifacts/feat-3632/state.json
  artifacts/feat-3632/task-context/structured-error-responses-for-protocol-generation.md
  artifacts/feat-3632/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureProtocolHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderControllerProtocolTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

ci: fix nightly e2e so tests run per-module and report honestly (#3669)
  .github/workflows/e2e-nightly-regression.yml
  frontend/playwright.config.ts
Due: none

fix: prevent async lot prefill from overwriting user-typed input
  frontend/src/components/terminal/lot-identification/StepInput.tsx
Due: frontend, Frontend (React)

fix: mock useMoveMarketingAction in MarketingCalendarPage tests
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

chore(feat-3672): add issue brief
  artifacts/feat-3672/brief.md
  artifacts/feat-3672/state.json
Due: none
