Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: add embedded label reference index
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/LabelReferenceEntry.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/LabelReferenceIndex.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/LabelReferenceIndexTests.cs
Due: backend, Backend (.NET)

feat: add family-level label matcher
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/LabelIdentificationOptions.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/LabelMatch.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/LabelMatchDecision.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/LabelMatcher.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/LabelMatcherTests.cs
Due: backend, Backend (.NET)

[arch-review] Catalog: GetWarehouseStatisticsHandler uses DateTime.UtcNow and a hardcoded capacity constant
  .artifacts/tsk_3d7890ebca094c18/architecture-01.md
  .artifacts/tsk_3d7890ebca094c18/design-01.md
  .artifacts/tsk_3d7890ebca094c18/plan-01.md
  .artifacts/tsk_3d7890ebca094c18/review-01.md
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogConstants.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetWarehouseStatistics/GetWarehouseStatisticsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogConstantsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetWarehouseStatisticsHandlerTests.cs
Due: backend, Backend (.NET)

feat: add label identification error codes
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat: support image content blocks in AnthropicChatClient
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicChatClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/Anthropic/AnthropicChatClientVisionTests.cs
Due: backend, Backend (.NET)

feat: add Anthropic label OCR service
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/AnthropicLabelOcrService.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/ILabelOcrService.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/AnthropicLabelOcrServiceTests.cs
Due: backend, Backend (.NET)

fix: make SkiaSharp reference explicit in test project
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
Due: none

feat: add identify label use case
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/LabelIdentificationModule.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelHandler.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelRequest.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelResponse.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/LabelCandidateDto.cs
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/LabelVariantDto.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/IdentifyLabelHandlerTests.cs
Due: backend, Backend (.NET)

fix: batch catalogue lookups in IdentifyLabelHandler to avoid N+1 queries
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelHandler.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/IdentifyLabelHandlerTests.cs
Due: backend, Backend (.NET)

feat: add label identification controller
  backend/src/Anela.Heblo.API/Controllers/LabelIdentificationController.cs
  backend/test/Anela.Heblo.Tests/Controllers/LabelIdentificationControllerTests.cs
Due: backend, Backend (.NET)

docs: correct Task 11 to use the shared error helper
  docs/superpowers/plans/2026-08-03-label-identification-terminal.md
Due: none

fix: categorize label identification error codes and add Czech translations
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

feat: add label identification client hook
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useLabelIdentification.test.ts
  frontend/src/api/hooks/useLabelIdentification.ts
Due: frontend, Frontend (React)

docs: use LabelMatchDecision enum in Task 11
  docs/superpowers/plans/2026-08-03-label-identification-terminal.md
Due: none

feat: add label identification terminal screen
  frontend/src/components/terminal/label-identification/LabelIdentificationScreen.tsx
  frontend/src/components/terminal/label-identification/__tests__/LabelIdentificationScreen.test.tsx
Due: frontend, Frontend (React)

docs: correct Task 12 validation gates
  docs/superpowers/plans/2026-08-03-label-identification-terminal.md
Due: none

fix: use findBy* queries in label identification screen tests
  frontend/src/components/terminal/label-identification/__tests__/LabelIdentificationScreen.test.tsx
Due: frontend, Frontend (React)

fix: address task review findings on label identification screen
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/IdentifyLabelHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/terminal/label-identification/LabelIdentificationScreen.tsx
  frontend/src/components/terminal/label-identification/__tests__/LabelIdentificationScreen.test.tsx
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: wire label identification route and terminal tile
  frontend/src/App.tsx
  frontend/src/components/terminal/TerminalHome.tsx
  frontend/src/components/terminal/__tests__/TerminalHome.test.tsx
Due: frontend, Frontend (React)

docs: correct OCR-outage error code in spec
  docs/superpowers/specs/2026-08-03-label-identification-terminal-design.md
Due: none

fix: recover real label error codes from thrown SwaggerException
  frontend/src/components/terminal/label-identification/LabelIdentificationScreen.tsx
  frontend/src/components/terminal/label-identification/__tests__/LabelIdentificationScreen.test.tsx
Due: frontend, Frontend (React)

fix: raise label photo upload cap to 25 MB
  backend/src/Anela.Heblo.API/Controllers/LabelIdentificationController.cs
Due: backend, Backend (.NET)

fix: bound pixel allocation before decoding label photos
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/Services/AnthropicLabelOcrService.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/AnthropicLabelOcrServiceTests.cs
Due: backend, Backend (.NET)

chore: remove dead MaxUploadBytes option
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/LabelIdentificationOptions.cs
  docs/superpowers/specs/2026-08-03-label-identification-terminal-design.md
Due: backend, Backend (.NET)

fix: don't report client cancellation as an OCR service outage
  backend/src/Anela.Heblo.Application/Features/LabelIdentification/UseCases/IdentifyLabel/IdentifyLabelHandler.cs
  backend/test/Anela.Heblo.Tests/Features/LabelIdentification/IdentifyLabelHandlerTests.cs
Due: backend, Backend (.NET)

feat: show reference label artwork in terminal label identification
  docs/superpowers/specs/2026-08-03-label-identification-terminal-design.md
  frontend/public/label-references/KRE001-2.png
  frontend/public/label-references/KRE001.png
  frontend/public/label-references/KRE002.png
  frontend/public/label-references/KRE003-2.png
  frontend/public/label-references/KRE003.png
  frontend/public/label-references/KRE004-2.png
  frontend/public/label-references/KRE004.png
  frontend/public/label-references/KRE005.png
  frontend/public/label-references/KRE006-2.png
  frontend/public/label-references/KRE006.png
  frontend/public/label-references/KRE007-2.png
  frontend/public/label-references/KRE007.png
  frontend/public/label-references/MAS001.png
  frontend/public/label-references/MAS002.png
  frontend/public/label-references/MAS003.png
  frontend/public/label-references/MAS004.png
  frontend/public/label-references/MAS005.png
  frontend/public/label-references/MAS006.png
  frontend/public/label-references/MAS007.png
  frontend/public/label-references/MAS008.png
  frontend/public/label-references/MAS009.png
  frontend/public/label-references/OCH004.png
  frontend/public/label-references/OCH006.png
  frontend/public/label-references/OCH009.png
  frontend/public/label-references/PEE002.png
  frontend/public/label-references/PMA001-2.png
  frontend/public/label-references/PMA001.png
  frontend/public/label-references/PMA002-2.png
  frontend/public/label-references/PMA002.png
  frontend/public/label-references/PMA003.png
  frontend/public/label-references/PMA004-2.png
  frontend/public/label-references/PMA004.png
  frontend/public/label-references/PMA005-2.png
  frontend/public/label-references/PMA005.png
  frontend/src/components/terminal/label-identification/LabelIdentificationScreen.tsx
  frontend/src/components/terminal/label-identification/__tests__/LabelIdentificationScreen.test.tsx
  scripts/render-label-references.sh
Due: frontend, Frontend (React)

feat: add JunitXml.TestLogger for async ReportPortal import
  backend/test/Directory.Build.props
Due: none

fix: drop live ReportPortal logger from backend-tests critical path
  .github/workflows/ci-main-branch.yml
Due: none

feat: add async backend-report-portal job, decoupled from deploy gate
  .github/workflows/ci-main-branch.yml
Due: none

docs: describe async ReportPortal import flow for backend tests
  docs/testing/reportportal.md
Due: none

fix: correct JUnit logger path handling and multi-project file collisions
  .github/workflows/ci-main-branch.yml
  backend/test/Directory.Build.props
  docs/testing/reportportal.md
Due: none

docs: add implementation plan to decouple ReportPortal reporting from CI deploy gate
  docs/superpowers/plans/2026-08-03-decouple-reportportal-from-ci-gate.md
Due: none

Decouple ReportPortal reporting from CI deploy gate (#3854)
  .github/workflows/ci-main-branch.yml
  backend/test/Directory.Build.props
  docs/superpowers/plans/2026-08-03-decouple-reportportal-from-ci-gate.md
  docs/testing/reportportal.md
Due: none

Add applicationinsightsscan skill from AgentHarness update
  .claude/skills/applicationinsightsscan/SKILL.md
  .claude/skills/applicationinsightsscan/appinsights-query.sh
  .claude/skills/applicationinsightsscan/gh-api.sh
  .claude/skills/applicationinsightsscan/telemetry-digest.sh
  .claude/skills/applicationinsightsscan/telemetry-rules.md
Due: none

Add applicationinsightsscan skill from AgentHarness update (#3855)
  .claude/skills/applicationinsightsscan/SKILL.md
  .claude/skills/applicationinsightsscan/appinsights-query.sh
  .claude/skills/applicationinsightsscan/gh-api.sh
  .claude/skills/applicationinsightsscan/telemetry-digest.sh
  .claude/skills/applicationinsightsscan/telemetry-rules.md
Due: none

chore: rename conductor scripts to worktree scripts
  scripts/worktree_run.sh
  scripts/worktree_setup.sh
Due: none

fix(packaging): route the 8 Packaging FE hooks through the generated API client
  frontend/src/api/hooks/__tests__/useCompletePackingOrder.test.ts
  frontend/src/api/hooks/__tests__/useOrderTrackingNumber.test.ts
  frontend/src/api/hooks/__tests__/useOrderTrackingNumbers.test.ts
  frontend/src/api/hooks/__tests__/useScanPackingOrder.test.ts
  frontend/src/api/hooks/useCompletePackingOrder.ts
  frontend/src/api/hooks/useOrderTrackingNumber.ts
  frontend/src/api/hooks/useOrderTrackingNumbers.ts
  frontend/src/api/hooks/usePackages.ts
  frontend/src/api/hooks/usePackingDashboard.ts
  frontend/src/api/hooks/usePackingStatistics.ts
  frontend/src/api/hooks/useResetOrderShipment.ts
  frontend/src/api/hooks/useScanPackingOrder.ts
Due: frontend, Frontend (React)

chore: rename conductor scripts to worktree scripts (#3856)
  scripts/worktree_run.sh
  scripts/worktree_setup.sh
Due: none

fix(packaging): address code review findings on the API-client hook migration
  frontend/src/api/hooks/__tests__/useScanPackingOrder.test.ts
  frontend/src/api/hooks/usePackages.ts
  frontend/src/api/hooks/usePackingStatistics.ts
  frontend/src/api/hooks/useResetOrderShipment.ts
  frontend/src/api/hooks/useScanPackingOrder.ts
Due: frontend, Frontend (React)
