Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix: expiration date and batch number fix
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  frontend/src/components/pages/ManufactureOrderDetail.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Manufacture order layout
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
Due: frontend, Frontend (React)

fix: manufacture order recalculate
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/ProductAttributes/FlexiProductAttributesQueryClient.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Attributes/CatalogAttributes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useManufactureInventory.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/auth/e2eAuth.ts
  frontend/src/components/pages/Dashboard.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
  frontend/src/components/pages/ManufactureOrderDetail.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/pages/ManufactureOutputModal.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: tests
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPlaywrightStockUpScenarioIntegrationTests.cs
Due: backend, Backend (.NET)

fix: expiration from Catalog feat: added duplicate manufacture order
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderSemiProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250922120813_AddExpirationMonthsToManufactureOrderSemiProduct.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250922120813_AddExpirationMonthsToManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/pages/ManufactureOrderDetail.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feature/manufacture_order_review_fixes (#166)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/ProductAttributes/FlexiProductAttributesQueryClient.cs
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Attributes/CatalogAttributes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderSemiProductConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250922120813_AddExpirationMonthsToManufactureOrderSemiProduct.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20250922120813_AddExpirationMonthsToManufactureOrderSemiProduct.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPlaywrightStockUpScenarioIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useManufactureInventory.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/auth/e2eAuth.ts
  frontend/src/components/pages/Dashboard.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufactureInventoryList.tsx
  frontend/src/components/pages/ManufactureOrderDetail.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/pages/ManufactureOutputModal.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: refresh token handler
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Controllers/CatalogRepositoryDebugTest.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  docs/features/Enhanced_Token_Refresh.md
  frontend/src/App.tsx
  frontend/src/__tests__/App-authentication.test.tsx
  frontend/src/__tests__/token-refresh-integration.test.tsx
  frontend/src/api/__tests__/client-token-refresh.test.ts
  frontend/src/api/client.ts
  frontend/src/auth/__tests__/useAuth.test.ts
  frontend/src/auth/useAuth.ts
Due: frontend, Frontend (React)

fix: e2e tests
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-creation.spec.ts
  frontend/test/e2e/test-1.spec.ts
Due: none

fix: fe test
  frontend/src/__tests__/App-authentication.test.tsx
Due: frontend, Frontend (React)

fix: e2e tests (#164)
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-creation.spec.ts
  frontend/test/e2e/test-1.spec.ts
Due: none

fix: be tests
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/test/Anela.Heblo.Tests/Common/HebloWebApplicationFactory.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
Due: backend, Backend (.NET)

fix: test cleanup
  frontend/src/__tests__/App-authentication.test.tsx
Due: frontend, Frontend (React)

feature/hangfire_background_jobs (#165)
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/Services/IGiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/UseCases/EnqueueGiftPackageManufacture/EnqueueGiftPackageManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/UseCases/EnqueueGiftPackageManufacture/EnqueueGiftPackageManufactureRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/GiftPackageManufacture/UseCases/EnqueueGiftPackageManufacture/EnqueueGiftPackageManufactureResponse.cs
  backend/src/Anela.Heblo.Xcc/Services/IBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Common/HebloWebApplicationFactory.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Controllers/CatalogRepositoryDebugTest.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  docs/features/Enhanced_Token_Refresh.md
  frontend/src/App.tsx
  frontend/src/__tests__/token-refresh-integration.test.tsx
  frontend/src/api/__tests__/client-token-refresh.test.ts
  frontend/src/api/client.ts
  frontend/src/auth/__tests__/useAuth.test.ts
  frontend/src/auth/useAuth.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: layout changes + app insights logging disabled
  backend/src/Anela.Heblo.API/Controllers/AuditController.cs
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.json
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: ManufactureStockAnalysis - planned ammount
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/CatalogRefreshBackgroundService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ItemFilterService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: ManufactureStockAnalysis - planned ammount (#168)
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/CatalogRefreshBackgroundService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ItemFilterService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement products-to-plan list for quick manufacturing planning
  frontend/src/App.tsx
  frontend/src/components/common/PlanningListPanel.tsx
  frontend/src/components/common/__tests__/PlanningListPanel.test.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/BatchPlanningCalculator.test.tsx
  frontend/src/contexts/PlanningListContext.tsx
  frontend/src/contexts/__tests__/PlanningListContext.test.tsx
Due: frontend, Frontend (React)

fix: use truncated product code for batch planning combobox
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
Due: frontend, Frontend (React)

feat: auto-trigger combobox loading when pre-filling from planning list
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: frontend, Frontend (React)

fix: auto-trigger batch planning calculation when pre-filled from URL
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: frontend, Frontend (React)

fix: resolve endless loop and use full productCode for combobox
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
Due: frontend, Frontend (React)

fix: use selected calendar date for manufacture order instead of default next day
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: frontend, Frontend (React)

feat: auto-refresh calendar after order creation + UI improvements
  frontend/src/components/common/PlanningListPanel.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
Due: frontend, Frontend (React)

feat: improve planning list panel positioning and visibility
  frontend/src/components/common/PlanningListPanel.tsx
Due: frontend, Frontend (React)

fix: move planning panel higher on screen
  frontend/src/components/common/PlanningListPanel.tsx
Due: frontend, Frontend (React)

fix: added planning capability for semiproduct
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanHandler.cs
Due: backend, Backend (.NET)

fix: tests
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanHandlerTests.cs
  frontend/src/components/common/__tests__/PlanningListPanel.test.tsx
  frontend/src/components/pages/__tests__/ManufactureBatchPlanning.planningList.test.tsx
  frontend/src/components/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: frontend, Frontend (React)

fix: minor updates
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: frontend, Frontend (React)

fix: failing tests
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: frontend, Frontend (React)

feat: implement products-to-plan list for quick manufacturing planning (#170)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/components/common/PlanningListPanel.tsx
  frontend/src/components/common/__tests__/PlanningListPanel.test.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/BatchPlanningCalculator.test.tsx
  frontend/src/components/pages/__tests__/ManufactureBatchPlanning.planningList.test.tsx
  frontend/src/components/pages/__tests__/ManufactureOrderWeeklyCalendar.quickPlanning.test.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
  frontend/src/contexts/PlanningListContext.tsx
  frontend/src/contexts/__tests__/PlanningListContext.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement automatic changelog generation and display system (#171)
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/test/TestApp.tsx
  frontend/src/contexts/ChangelogContext.tsx
  frontend/src/features/changelog/components/ChangelogEntry.tsx
  frontend/src/features/changelog/components/ChangelogModal.tsx
  frontend/src/features/changelog/components/ChangelogModalContainer.tsx
  frontend/src/features/changelog/components/ChangelogToaster.tsx
  frontend/src/features/changelog/components/__tests__/ChangelogEntry.test.tsx
  frontend/src/features/changelog/components/index.ts
  frontend/src/features/changelog/hooks/__tests__/useChangelog.test.tsx
  frontend/src/features/changelog/hooks/index.ts
  frontend/src/features/changelog/hooks/useChangelog.tsx
  frontend/src/features/changelog/hooks/useChangelogToaster.tsx
  frontend/src/features/changelog/index.ts
  frontend/src/features/changelog/types/changelog.types.ts
  frontend/src/features/changelog/types/index.ts
  frontend/src/features/changelog/utils/__tests__/version-tracking.test.ts
  frontend/src/features/changelog/utils/version-tracking.ts
  frontend/src/index.css
  frontend/test/e2e/changelog/changelog.spec.ts
Due: frontend, Frontend (React)

ci: generate changelog
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/generate-changelog.yml
  frontend/src/features/changelog/components/ChangelogEntry.tsx
  frontend/src/features/changelog/components/ChangelogModal.tsx
  frontend/src/features/changelog/components/ChangelogToaster.tsx
  frontend/src/features/changelog/hooks/useChangelogToaster.tsx
  scripts/generate-changelog.sh
  scripts/translation-mappings.json
Due: frontend, Frontend (React)

ci: translation
  .github/workflows/generate-changelog.yml
  frontend/src/features/changelog/utils/__tests__/version-tracking.test.ts
  frontend/src/features/changelog/utils/version-tracking.ts
  scripts/generate-changelog.sh
Due: frontend, Frontend (React)

ci: changelog fix
  scripts/generate-changelog.sh
Due: none

ci: changelog fix
  frontend/src/features/changelog/utils/__tests__/version-tracking.test.ts
  scripts/generate-changelog.sh
Due: frontend, Frontend (React)

ci: changelog
  .github/workflows/generate-changelog.yml
  frontend/src/features/changelog/utils/__tests__/version-tracking.test.ts
Due: frontend, Frontend (React)

ci: changelog
  .github/workflows/generate-changelog.yml
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
