Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: badges
  frontend/src/components/dashboard/CategoryBadge.tsx
  frontend/src/components/dashboard/SizeBadge.tsx
Due: frontend, Frontend (React)

fix: be tests
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistry.cs
Due: backend, Backend (.NET)

feat: more tiles
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Dashboard/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Bank/BankModule.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Dashboard/BankStatementImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/Dashboard/InTransitBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/Dashboard/ReceivedBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/Dashboard/StockedBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/Dashboard/TransportBoxBaseTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/TransportModule.cs
  frontend/src/api/client.ts
  frontend/src/api/hooks/useDashboard.ts
  frontend/src/components/dashboard/tiles/BackgroundTasksTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: inventory tiles
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Dashboard/MaterialInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Dashboard/MaterialInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Dashboard/ProductInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Dashboard/ProductInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/Dashboard/ErrorBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/Dashboard/StockedBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Transport/TransportModule.cs
  frontend/src/components/dashboard/tiles/CountTile.tsx
  frontend/src/components/dashboard/tiles/InventorySummaryTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: added tests
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileResponse.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileResponse.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetAvailableTiles/GetAvailableTilesResponse.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataResponse.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetUserSettings/GetUserSettingsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetUserSettings/GetUserSettingsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsResponse.cs
  backend/test/Anela.Heblo.Tests/Controllers/DashboardControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DisableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/EnableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetAvailableTilesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetUserSettingsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/SaveUserSettingsHandlerTests.cs
  frontend/src/api/hooks/__tests__/useDashboard.test.tsx
  frontend/src/components/dashboard/__tests__/DashboardGrid.test.tsx
  frontend/src/components/dashboard/__tests__/DashboardTile.test.tsx
  frontend/src/components/dashboard/tiles/__tests__/TileContent.test.tsx
  frontend/src/components/dashboard/tiles/__tests__/TileHeader.test.tsx
  frontend/src/components/pages/InventoryList.tsx
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
  frontend/src/components/pages/__tests__/InventoryList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

ci: claude review
  .github/workflows/claude.yml
Due: none

fix: tests @claude
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventoryCountTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeScheduler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsHandler.cs
Due: backend, Backend (.NET)

fix: test + code review
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DisableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/EnableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/SaveUserSettingsHandlerTests.cs
Due: backend, Backend (.NET)

fix: RefreshFinancialDataAsync refresh
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Xcc/Services/BackgroundRefresh/BackgroundRefreshTaskRegistry.cs
Due: backend, Backend (.NET)

fix: empty products for manufacture order
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
Due: backend, Backend (.NET)

fix: inventory input field
  frontend/src/components/inventory/ManufactureInventoryDetail.tsx
Due: frontend, Frontend (React)

fix: invalid expiration date
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: be tests
  backend/test/Anela.Heblo.Tests/Controllers/DashboardControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
Due: none

fix: multiple files
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderExtensions.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
Due: backend, Backend (.NET)

fix/invalid_expiration_date (#206)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderExtensions.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderSemiProduct.cs
  backend/test/Anela.Heblo.Tests/Controllers/DashboardControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: ProductionTile nopw shows upcoming production with ActualAmount and Reference Person
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  frontend/src/components/dashboard/tiles/ProductionTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: ProductionTile nopw shows upcoming production with ActualAmount and Reference Person (#207)
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  frontend/src/components/dashboard/tiles/ProductionTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: PurchasePriceOnlyMaterialCostRepository
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/PurchasePriceOnlyMaterialCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
Due: backend, Backend (.NET)

feat: fill missing gaps in manufacturecostrepository
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostRepository.cs
Due: backend, Backend (.NET)

fix: dashboard tiles now use frontend timezone for date calculations
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileData.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTileTests.cs
Due: backend, Backend (.NET)

fix: #208 Invalid timezones for IssuedInvoiceTiles
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Bank/DashboardTiles/BankStatementImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventoryCountTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventorySummaryTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/TransportBoxBaseTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/IDashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/ITile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/ITileRegistry.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistry.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/Tiles/BackgroundTaskStatusTile.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetAvailableTilesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
Due: backend, Backend (.NET)

Fix dashboard tiles timezone issue (#208) (#211)
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Bank/DashboardTiles/BankStatementImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventoryCountTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventorySummaryTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/TransportBoxBaseTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/IDashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/ITile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/ITileRegistry.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileData.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistry.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/Tiles/BackgroundTaskStatusTile.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetAvailableTilesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
Due: backend, Backend (.NET)

feat: Add ManualActionRequiredTile for dashboard
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  frontend/src/components/dashboard/tiles/ManualActionRequiredTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/ManualActionRequiredTile.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Add ManualActionRequiredTile to TileContent switch
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: frontend, Frontend (React)

feat: Tile for manufacture order requiring actions
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
Due: backend, Backend (.NET)

fix: be tests
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
Due: backend, Backend (.NET)

feat: Add ManualActionRequiredTile for dashboard (#209) (#212)
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  frontend/src/components/dashboard/tiles/ManualActionRequiredTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/dashboard/tiles/__tests__/ManualActionRequiredTile.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: inventory tile thresholds changed to 180/365
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventorySummaryTileBase.cs
  frontend/src/components/dashboard/tiles/InventorySummaryTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Invalid available amount in product stock (warehouse)
  frontend/src/components/pages/InventoryList.tsx
Due: frontend, Frontend (React)

fix: Invalid product count in ManufactureOrderDetail
  frontend/src/components/manufacture/detail/ProductsDataGrid.tsx
Due: frontend, Frontend (React)

feat: new tiles
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/CriticalGiftPackagesTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/LogisticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/PurchaseModule.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/InMemoryPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Purchase/IPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
  frontend/src/components/dashboard/tiles/PurchaseOrdersInTransitTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix/minor_issues (#213)
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/CriticalGiftPackagesTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/LogisticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/PurchaseModule.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/InMemoryPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Purchase/IPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
  frontend/src/components/dashboard/tiles/PurchaseOrdersInTransitTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/manufacture/detail/ProductsDataGrid.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Purchase order summary tile has invalid v-align
  frontend/src/components/dashboard/DashboardTile.tsx
  frontend/src/components/dashboard/tiles/CountTile.tsx
Due: frontend, Frontend (React)
