Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-3332): planning artifact
  artifacts/feat-3332/state.json
  artifacts/feat-3332/task-plan.r1.md
Due: none

chore(feat-3332): task context
  artifacts/feat-3332/state.json
  artifacts/feat-3332/task-context/remove-gc-collect.md
Due: none

perf(catalog): remove explicit GC.Collect() from CatalogAnalyticsSourceAdapter batch loop
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
Due: backend, Backend (.NET)

chore(feat-3332): impl+review for remove-gc-collect r1
  artifacts/feat-3332/impl/remove-gc-collect.r1.md
  artifacts/feat-3332/review/remove-gc-collect.r1.md
  artifacts/feat-3332/state.json
Due: none

chore(feat-3332): finalize pipeline artifacts
  artifacts/feat-3332/state.json
Due: none

chore(feat-3332): code review r1
  artifacts/feat-3332/code-review.r1.md
  artifacts/feat-3332/state.json
Due: none

chore(feat-3333): add issue brief
  artifacts/feat-3333/brief.md
  artifacts/feat-3333/state.json
Due: none

chore(feat-3333): analyzing artifact
  artifacts/feat-3333/spec.r1.md
  artifacts/feat-3333/state.json
Due: none

chore(feat-3333): architecting artifact
  artifacts/feat-3333/arch-review.r1.md
  artifacts/feat-3333/state.json
Due: none

chore(feat-3333): planning artifact
  artifacts/feat-3333/state.json
  artifacts/feat-3333/task-plan.r1.md
Due: none

chore(feat-3333): task context
  artifacts/feat-3333/state.json
  artifacts/feat-3333/task-context/migrate-bank-statement-import-statistics-hook.md
  artifacts/feat-3333/task-context/migrate-invoice-import-statistics-hook.md
  artifacts/feat-3333/task-context/update-bank-statement-import-chart.md
  artifacts/feat-3333/task-context/update-invoice-import-chart.md
Due: none

refactor(analytics): migrate useInvoiceImportStatistics to generated API client (#3333)
  frontend/src/api/hooks/useInvoiceImportStatistics.ts
Due: frontend, Frontend (React)

chore(feat-3333): impl+review for migrate-invoice-import-statistics-hook r1
  artifacts/feat-3333/impl/migrate-invoice-import-statistics-hook.r1.md
  artifacts/feat-3333/review/migrate-invoice-import-statistics-hook.r1.md
  artifacts/feat-3333/state.json
Due: none

refactor(analytics): update InvoiceImportChart to use Date type for date field (#3333)
  frontend/src/components/charts/InvoiceImportChart.tsx
Due: frontend, Frontend (React)

chore(feat-3333): impl+review for update-invoice-import-chart r1
  artifacts/feat-3333/impl/update-invoice-import-chart.r1.md
  artifacts/feat-3333/review/update-invoice-import-chart.r1.md
  artifacts/feat-3333/state.json
Due: none

refactor(analytics): migrate useBankStatementImportStatistics to generated API client (#3333)
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/components/pages/BankStatementImportChart.tsx
Due: frontend, Frontend (React)

chore(feat-3333): impl+review for migrate-bank-statement-import-statistics-hook r1
  artifacts/feat-3333/impl/migrate-bank-statement-import-statistics-hook.r1.md
  artifacts/feat-3333/review/migrate-bank-statement-import-statistics-hook.r1.md
  artifacts/feat-3333/state.json
Due: none

refactor(analytics): update BankStatementImportChart to use Date type and generated types (#3333)
  frontend/src/components/charts/BankStatementImportChart.tsx
Due: frontend, Frontend (React)

chore(feat-3333): impl+review for update-bank-statement-import-chart r1
  artifacts/feat-3333/impl/update-bank-statement-import-chart.r1.md
  artifacts/feat-3333/review/update-bank-statement-import-chart.r1.md
  artifacts/feat-3333/state.json
Due: none

fix(analytics): remove debug console.log from BankStatementImportChart (#3333)
  frontend/src/components/charts/BankStatementImportChart.tsx
Due: frontend, Frontend (React)

chore(feat-3333): impl+review for update-bank-statement-import-chart r2
  artifacts/feat-3333/impl/update-bank-statement-import-chart.r2.md
  artifacts/feat-3333/review/update-bank-statement-import-chart.r2.md
  artifacts/feat-3333/state.json
Due: none

chore(feat-3333): finalize pipeline artifacts
  artifacts/feat-3333/state.json
Due: none

chore(feat-3333): code review r1
  artifacts/feat-3333/code-review.r1.md
  artifacts/feat-3333/state.json
Due: none

fix(analytics): add null fallbacks for optional generated response fields in InvoiceImportStatistics (#3333)
  frontend/src/components/pages/automation/InvoiceImportStatistics.tsx
Due: frontend, Frontend (React)

chore(feat-3333): code-review-fixes task context and impl r1
  artifacts/feat-3333/impl/code-review-fixes.r1.md
  artifacts/feat-3333/task-context/code-review-fixes.md
Due: none

chore(feat-3333): code review r2
  artifacts/feat-3333/code-review.r2.md
  artifacts/feat-3333/state.json
Due: none

fix(analytics): add ?? fallbacks for optional generated type fields in chart components (#3333)
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/components/charts/BankStatementImportChart.tsx
  frontend/src/components/charts/InvoiceImportChart.tsx
Due: frontend, Frontend (React)

chore(feat-3333): code-review-fixes impl r2
  artifacts/feat-3333/impl/code-review-fixes.r2.md
Due: none

chore(feat-3333): code review r3
  artifacts/feat-3333/code-review.r3.md
  artifacts/feat-3333/state.json
Due: none

fix(analytics): add ?? fallbacks for optional generated type fields in all analytics consumers (#3333)
  frontend/src/components/customer/tabs/StatisticsTab.tsx
  frontend/src/components/pages/BankStatementImportChart.tsx
  frontend/src/components/pages/automation/InvoiceImportStatistics.tsx
Due: frontend, Frontend (React)

chore(feat-3334): analyzing artifact
  artifacts/feat-3334/brief.md
  artifacts/feat-3334/spec.r1.md
  artifacts/feat-3334/state.json
Due: none

chore(feat-3334): architecting artifact
  artifacts/feat-3334/arch-review.r1.md
  artifacts/feat-3334/state.json
Due: none

chore(feat-3334): planning artifact
  artifacts/feat-3334/state.json
  artifacts/feat-3334/task-plan.r1.md
Due: none

chore(feat-3334): task context
  artifacts/feat-3334/state.json
  artifacts/feat-3334/task-context/inject-timewindowparser-into-handler.md
  artifacts/feat-3334/task-context/register-timewindowparser-in-analyticsmodule.md
  artifacts/feat-3334/task-context/update-handler-tests.md
  artifacts/feat-3334/task-context/update-timewindowparser.md
Due: none

refactor: convert TimeWindowParser to injectable instance class with TimeProvider
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/TimeWindowParser.cs
Due: backend, Backend (.NET)

chore(feat-3334): impl+review for update-timewindowparser r1
  artifacts/feat-3334/impl/update-timewindowparser.r1.md
  artifacts/feat-3334/review/update-timewindowparser.r1.md
  artifacts/feat-3334/state.json
Due: none

feat: register TimeWindowParser as scoped service in AnalyticsModule
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
Due: backend, Backend (.NET)

chore(feat-3334): impl+review for register-timewindowparser-in-analyticsmodule r1
  artifacts/feat-3334/impl/register-timewindowparser-in-analyticsmodule.r1.md
  artifacts/feat-3334/review/register-timewindowparser-in-analyticsmodule.r1.md
  artifacts/feat-3334/state.json
Due: none

feat: inject TimeWindowParser into GetProductMarginSummaryHandler
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
