Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

test: add UserStorage valid-session and no-expiry coverage (FR-2, FR-3)
  frontend/src/auth/__tests__/userStorage.test.ts
Due: frontend, Frontend (React)

test: add UserStorage updateUserInfo no-op and merge coverage (FR-4, FR-5)
  frontend/src/auth/__tests__/userStorage.test.ts
Due: frontend, Frontend (React)

test: add UserStorage getLastLogin absent-key coverage (FR-6)
  frontend/src/auth/__tests__/userStorage.test.ts
Due: frontend, Frontend (React)

chore(feat-3504): impl artifact for userstorage-expiry-tests r1
  artifacts/feat-3504/impl/userstorage-expiry-tests.r1.md
  artifacts/feat-3504/state.json
Due: none

chore(feat-3504): impl+review for userstorage-expiry-tests r1
  artifacts/feat-3504/review/userstorage-expiry-tests.r1.md
Due: none

chore(feat-3504): finalize pipeline artifacts
  artifacts/feat-3504/state.json
Due: none

chore(feat-3504): code review r1
  artifacts/feat-3504/code-review.r1.md
  artifacts/feat-3504/state.json
Due: none

chore(feat-3517): analyzing artifact
  artifacts/feat-3517/brief.md
  artifacts/feat-3517/spec.r1.md
  artifacts/feat-3517/state.json
Due: none

chore(feat-3517): architecting artifact
  artifacts/feat-3517/arch-review.r1.md
  artifacts/feat-3517/state.json
Due: none

chore(feat-3517): designing artifact
  artifacts/feat-3517/design.r1.md
  artifacts/feat-3517/state.json
Due: none

chore(feat-3517): planning artifact
  artifacts/feat-3517/state.json
  artifacts/feat-3517/task-plan.r1.md
Due: none

chore(feat-3517): task context
  artifacts/feat-3517/state.json
  artifacts/feat-3517/task-context/remove-dead-grid-layout-persistence-payload.md
Due: none

Remove dead GridLayoutPersistencePayload record
  backend/src/Anela.Heblo.Application/Features/GridLayouts/GridLayoutPersistencePayload.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GridLayoutHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3517): impl+review for remove-dead-grid-layout-persistence-payload r1
  artifacts/feat-3517/impl/remove-dead-grid-layout-persistence-payload.r1.md
  artifacts/feat-3517/review/remove-dead-grid-layout-persistence-payload.r1.md
  artifacts/feat-3517/state.json
Due: none

chore(feat-3517): finalize pipeline artifacts
  artifacts/feat-3517/state.json
Due: none

chore(feat-3517): code review r1
  artifacts/feat-3517/code-review.r1.md
  artifacts/feat-3517/state.json
Due: none

chore(feat-3518): add brief artifact
  artifacts/feat-3518/brief.md
  artifacts/feat-3518/state.json
Due: none

chore(feat-3518): analyzing artifact
  artifacts/feat-3518/spec.r1.md
Due: none

chore(feat-3518): architecting artifact
  artifacts/feat-3518/arch-review.r1.md
Due: none

chore(feat-3518): planning artifact
  artifacts/feat-3518/task-plan.r1.md
Due: none

chore(feat-3518): task context
  artifacts/feat-3518/state.json
  artifacts/feat-3518/task-context/dark-mode-variants-gridheader-columnchooser.md
Due: none

chore(feat-3518): checkpoint state sync
  artifacts/feat-3518/state.json
Due: none

feat(feat-3518): add dark mode variants to GridHeader and ColumnChooser
  artifacts/feat-3518/impl/dark-mode-variants-gridheader-columnchooser.r1.md
  frontend/src/features/grid-layout/ColumnChooser.tsx
  frontend/src/features/grid-layout/GridHeader.tsx
Due: frontend, Frontend (React)

chore(feat-3518): impl+review for dark-mode-variants-gridheader-columnchooser r1
  artifacts/feat-3518/review/dark-mode-variants-gridheader-columnchooser.r1.md
Due: none

chore(feat-3518): finalize pipeline artifacts
  artifacts/feat-3518/state.json
Due: none

chore(feat-3518): code review r1
  artifacts/feat-3518/code-review.r1.md
  artifacts/feat-3518/state.json
Due: none

chore(feat-3518): finalize checkpoint state
  artifacts/feat-3518/state.json
Due: none

chore(feat-3519): add brief
  artifacts/feat-3519/brief.md
  artifacts/feat-3519/state.json
Due: none

chore(feat-3519): analyzing artifact
  artifacts/feat-3519/spec.r1.md
  artifacts/feat-3519/state.json
Due: none

chore(feat-3519): architecting artifact
  artifacts/feat-3519/arch-review.r1.md
  artifacts/feat-3519/state.json
Due: none

chore(feat-3519): designing artifact
  artifacts/feat-3519/design.r1.md
  artifacts/feat-3519/state.json
Due: none

chore(feat-3519): planning artifact
  artifacts/feat-3519/state.json
  artifacts/feat-3519/task-plan.r1.md
Due: none

chore(feat-3519): task context
  artifacts/feat-3519/state.json
  artifacts/feat-3519/task-context/split-gridheader-resize-callbacks.md
  artifacts/feat-3519/task-context/split-hook-updaters.md
  artifacts/feat-3519/task-context/wire-consumers.md
Due: none

feat(feat-3519): split setColumnWidth into setColumnWidthLive/commitColumnWidth
  frontend/src/features/grid-layout/__tests__/useGridLayout.test.ts
  frontend/src/features/grid-layout/useGridLayout.ts
Due: frontend, Frontend (React)

chore(feat-3519): impl for split-hook-updaters r1
  artifacts/feat-3519/impl/split-hook-updaters.r1.md
  artifacts/feat-3519/state.json
Due: none

chore(feat-3519): impl+review for split-hook-updaters r1
  artifacts/feat-3519/review/split-hook-updaters.r1.md
Due: none

feat(feat-3519): split GridHeader onResizeEnd into onResizeChange (continuous) + onResizeEnd (once on release)
  artifacts/feat-3519/state.json
  frontend/src/features/grid-layout/GridHeader.tsx
  frontend/src/features/grid-layout/__tests__/GridHeader.test.tsx
Due: frontend, Frontend (React)

chore(feat-3519): impl for split-gridheader-resize-callbacks r1
  artifacts/feat-3519/impl/split-gridheader-resize-callbacks.r1.md
Due: none

chore(feat-3519): impl+review for split-gridheader-resize-callbacks r1
  artifacts/feat-3519/review/split-gridheader-resize-callbacks.r1.md
Due: none

feat(feat-3519): wire GridHeader onResizeChange/onResizeEnd to setColumnWidthLive/commitColumnWidth in consumers
  artifacts/feat-3519/state.json
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
