Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-article-unnecessary-as-any-c/arch-review.r1.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-unnecessary-as-any-c/task-plan.r1.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/task-plan.r1.md
Due: none

test(authz): add loading-state and empty-permissions test cases
  frontend/src/components/auth/UserProfile.test.tsx
Due: frontend, Frontend (React)

refactor: remove obsolete as any cast in useGetArticleQuery sources mapping
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

fix(authz): read Entra oid via GetObjectId() so first login matches pre-created AppUser
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/PermissionClaimsTransformation.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-article-unnecessary-as-any-c-dev-main
  docs/superpowers/plans/2026-06-08-remove-unnecessary-as-any-useGetArticleQuery.md
Due: none

agent: upload artifacts/feat-arch-review-article-unnecessary-as-any-c/impl/main.r1.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridkey-redundan/brief.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/brief.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridkey-redundan/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridkey-redundan/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridkey-redundan/task-plan.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/task-plan.r1.md
Due: none

refactor: remove redundant GridKey/LastModified from LayoutJson persistence payload
  backend/src/Anela.Heblo.Application/Features/GridLayouts/GridLayoutPersistencePayload.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GridLayoutHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-gridlayouts-gridkey-redundan-dev-main
  docs/superpowers/plans/2026-06-08-gridlayouts-slim-persistence-payload.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridkey-redundan/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/brief.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/brief.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/spec.r1.md
Due: none

test(authz): cover mapped objectidentifier URI claim shape
  backend/test/Anela.Heblo.Tests/Authorization/PermissionClaimsTransformationTests.cs
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/arch-review.r1.md
Due: none

test(authz): cover mock-auth NameIdentifier fallback
  backend/test/Anela.Heblo.Tests/Authorization/PermissionClaimsTransformationTests.cs
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/task-plan.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/task-plan.r1.md
Due: none

test(authz): refit existing tests to use realistic oid claim shape
  backend/test/Anela.Heblo.Tests/Authorization/PermissionClaimsTransformationTests.cs
Due: none

feat: add StoredGridLayout persistence types and mapper
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Infrastructure/GridLayoutStoredMapper.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Infrastructure/StoredColumnState.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Infrastructure/StoredGridLayout.cs
Due: backend, Backend (.NET)

refactor(authz): align mock auth NameIdentifier with its oid claim
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/MockAuthenticationHandler.cs
Due: backend, Backend (.NET)

docs: user profile slide-up panel design spec
  docs/superpowers/specs/2026-06-08-user-profile-slide-up-panel-design.md
Due: none

feat: route SaveGridLayoutHandler through StoredGridLayout, add FR-2 shape test
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/SaveGridLayoutHandlerTests.cs
Due: backend, Backend (.NET)

chore: remove unused Contracts using from SaveGridLayoutHandler
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
Due: backend, Backend (.NET)

docs: user profile slide-up panel implementation plan
  docs/superpowers/plans/2026-06-08-user-profile-slide-up-panel.md
Due: none

feat: route GetGridLayoutHandler through StoredGridLayout, add FR-4 legacy shape test
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GetGridLayoutHandlerTests.cs
Due: backend, Backend (.NET)

refactor(ui): add relative positioning to sidebar user profile row containers
  frontend/src/components/Layout/Sidebar.tsx
Due: frontend, Frontend (React)

chore: apply dotnet format whitespace fixes to Infrastructure types
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Infrastructure/GridLayoutStoredMapper.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/Infrastructure/StoredColumnState.cs
Due: backend, Backend (.NET)

feat(ui): replace user profile modal with slide-up panel
  frontend/src/components/auth/UserProfile.test.tsx
  frontend/src/components/auth/UserProfile.tsx
Due: frontend, Frontend (React)

refactor(ui): add relative positioning to UserProfile wrapper elements in layout components
  frontend/src/components/Layout/TopBar.tsx
  frontend/src/components/baleni/BaleniLayout.tsx
  frontend/src/components/terminal/TerminalLayout.tsx
Due: frontend, Frontend (React)

docs: add implementation plans for RBAC first-login fix and user modal p
  docs/superpowers/plans/2026-06-08-fix-rbac-user-pairing-on-first-login.md
  docs/superpowers/plans/2026-06-08-sidebar-user-modal-show-permissions.md
Due: none

test: wrap TestApp with PermissionsProvider for auth identity linking te
  frontend/src/components/test/TestApp.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutdto-us/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-upsertasync-has-/brief.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-upsertasync-has-/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/spec.r1.md
Due: none

feat: Remove Redundant GridKey from GridLayouts JSON Payload (#2774)
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/brief.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-gridkey-redundan/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/GridLayouts/GridLayoutPersistencePayload.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GridLayoutHandlerTests.cs
  docs/superpowers/plans/2026-06-08-gridlayouts-slim-persistence-payload.md
Due: backend, Backend (.NET)

feat: Remove unnecessary `as any` cast in useGetArticleQuery (#2769)
  artifacts/feat-arch-review-article-unnecessary-as-any-c/arch-review.r1.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/brief.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/impl/main.r1.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/spec.r1.md
  artifacts/feat-arch-review-article-unnecessary-as-any-c/task-plan.r1.md
  docs/superpowers/plans/2026-06-08-remove-unnecessary-as-any-useGetArticleQuery.md
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

feat: Encapsulate Article Feedback Submission in the Domain Entity (#2764)
  artifacts/feat-arch-review-article-feedback-state-set-v/arch-review.r1.md
  artifacts/feat-arch-review-article-feedback-state-set-v/brief.md
  artifacts/feat-arch-review-article-feedback-state-set-v/impl/main.r1.md
  artifacts/feat-arch-review-article-feedback-state-set-v/spec.r1.md
  artifacts/feat-arch-review-article-feedback-state-set-v/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/SubmitFeedback/SubmitArticleFeedbackHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Article/Article.cs
  backend/test/Anela.Heblo.Tests/Domain/Article/ArticleTests.cs
  docs/superpowers/plans/2026-06-08-encapsulate-article-feedback-submission.md
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
