Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/spec.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/spec.r1.md
Due: none

agent: product output feat-arch-review-expeditionlistarchive-run-fi-questioning-r1
  answers.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/answers.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/spec.r2.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/answers.r2.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/answers.r2.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/spec.r3.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/spec.r3.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/arch-review.r1.md
Due: none

fix: move CHLAZENE cooling marker from additionalField[1] to additionalField[6] (#1785)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

agent: planner output feat-arch-review-expeditionlistarchive-run-fi-planning-1
  docs/superpowers/plans/2026-05-26-decouple-expeditionlistarchive-from-expeditionlist.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/task-plan.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/task-plan.r1.md
Due: none

refactor: relocate IPrintQueueSink to Application.Shared.Printing
  backend/src/Adapters/Anela.Heblo.Adapters.Azure/AzureAdapterModule.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Azure/Features/ExpeditionList/AzureBlobPrintQueueSink.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/CupsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Cups/Features/ExpeditionList/CupsPrintQueueSink.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Features/ExpeditionList/CombinedPrintQueueSink.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Services/ExpeditionListService.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Services/FileSystemPrintQueueSink.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/src/Anela.Heblo.Application/Shared/Printing/IPrintQueueSink.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/PickingListIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/CombinedPrintQueueSinkTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/ExpeditionListServiceOrderStateTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/ExpeditionListServicePrintSinkTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/FileSystemPrintQueueSinkTests.cs
Due: backend, Backend (.NET)

refactor: stage IPrintQueueSink deletion and fix FileSystemPrintQueueSinkTests using
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Services/IPrintQueueSink.cs
Due: backend, Backend (.NET)

feat(expedition-list-archive): add ExpeditionListArchiveOptions
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveOptions.cs
Due: backend, Backend (.NET)

docs(smartsupp): document close conversation REST endpoint
  docs/integrations/smartsupp-api.md
Due: none

refactor(expedition-list-archive): consume Archive-owned options, drop ExpeditionList imports
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/DownloadExpeditionList/DownloadExpeditionListHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionDates/GetExpeditionDatesHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionListsByDate/GetExpeditionListsByDateHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/DownloadExpeditionListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionDatesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionListsByDateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
Due: backend, Backend (.NET)

feat(smartsupp): add SmartsuppCloseConversationUnavailable error code
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

test(smartsupp): add CloseConversationHandler failing tests + stub files
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationRequest.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/CloseConversationHandlerTests.cs
Due: backend, Backend (.NET)

feat(smartsupp): implement CloseConversationHandler
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationHandler.cs
Due: backend, Backend (.NET)

config: add ExpeditionListArchive:BlobContainerName section per environment
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Staging.json
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

refactor: move run-fix endpoint to ExpeditionListController at /api/expedition-list/run-fix
  backend/src/Anela.Heblo.API/Controllers/ExpeditionListArchiveController.cs
  backend/src/Anela.Heblo.API/Controllers/ExpeditionListController.cs
Due: backend, Backend (.NET)

chore(smartsupp): add clarifying comment on TaskCanceledException catch filter
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationHandler.cs
Due: backend, Backend (.NET)

test(smartsupp): add CloseConversationAsync API client failing tests
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppApiClientTests.cs
Due: none

feat(smartsupp): implement CloseConversationAsync in SmartsuppApiClient
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
Due: backend, Backend (.NET)

chore(smartsupp): use required modifier on CloseConversationApiRequest.Status
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
Due: backend, Backend (.NET)

test(architecture): fence ExpeditionListArchive -> ExpeditionList boundary
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

feat(smartsupp): add POST conversations/{id}/close controller endpoint
  backend/src/Anela.Heblo.API/Controllers/SmartsuppController.cs
Due: backend, Backend (.NET)

feat(frontend): repoint run-fix hook to /api/expedition-list/run-fix
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useExpeditionListArchive.ts
Due: frontend, Frontend (React)

feat(smartsupp): add useCloseConversation mutation hook
  frontend/src/api/hooks/__tests__/useCloseConversation.test.ts
  frontend/src/api/hooks/useSmartsupp.ts
Due: frontend, Frontend (React)

feat(smartsupp): add Uzavřít konverzaci button to ConversationDetail header
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ConversationDetail.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-expeditionlistarchive-run-fi/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-run-fi/impl/main.r1.md
Due: none

fix(test): add useCloseConversation to SmartsuppChatsPage mock
  frontend/src/components/customer-support/smartsupp/pages/__tests__/SmartsuppChatsPage.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-expeditionlistarchive-getexp/brief.md
  artifacts/feat-arch-review-expeditionlistarchive-getexp/brief.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-getexp/spec.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-getexp/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-getexp/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-getexp/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-expeditionlistarchive-getexp-planning-1
  docs/superpowers/plans/2026-05-26-server-side-virtual-directory-listing.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlistarchive-getexp/task-plan.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-getexp/task-plan.r1.md
Due: none

feat(filestorage): add ListVirtualDirectoriesAsync abstraction
  backend/src/Anela.Heblo.Application/Features/FileStorage/Services/AzureBlobStorageService.cs
  backend/src/Anela.Heblo.Domain/Features/FileStorage/IBlobStorageService.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/MockBlobStorageService.cs
Due: backend, Backend (.NET)

test(expedition-archive): retarget handler tests at ListVirtualDirectoriesAsync
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionDatesHandlerTests.cs
Due: none

refactor(expedition-archive): use hierarchical listing for date sidebar
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionDates/GetExpeditionDatesHandler.cs
Due: backend, Backend (.NET)

test(expedition-archive): verify call-counts and non-date filtering
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionDatesHandlerTests.cs
Due: none
