Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore: narrow margin cost history window to 365 days
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

chore: narrow margin cost history window to 365 days (#4250)
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

chore: refresh AgentHarness agent context_files paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore(feat-4244): code review r1
  artifacts/feat-4244/code-review.r1.md
  artifacts/feat-4244/state.json
Due: none

chore(feat-4244): mark code-review phase completed
  artifacts/feat-4244/state.json
Due: none

fix: ingest all four manufacture receipt document types from configuration
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureHistoryClient.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureHistoryClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ManufactureDocumentTypeConfigurationTests.cs
Due: backend, Backend (.NET)

refactor: deduplicate CostPoolService test wiring
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
Due: none

feat: add cost pool cache read path and background refresh
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceCacheTests.cs
Due: backend, Backend (.NET)

test: assert cost pool M2 equals the spend SalesCostProvider distributes
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/FakeLedgerService.cs
Due: none

feat: register cost pool service and hourly refresh task
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/SharedCostPoolsModule.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolModuleRegistrationTests.cs
Due: backend, Backend (.NET)

fix: apply whole-branch review fixes to cost pool totals
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceCacheTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
Due: backend, Backend (.NET)

chore: refresh frontend lockfile
  frontend/package-lock.json
Due: none

fix: dedupe and parallelize manufacture document type fetches
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureHistoryClient.cs
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureHistoryClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ManufactureDocumentTypeConfigurationTests.cs
Due: backend, Backend (.NET)

fix: ingest all four manufacture receipt document types from configuration (#4249)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureHistoryClient.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureHistoryClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/ManufactureDocumentTypeConfigurationTests.cs
Due: backend, Backend (.NET)

feat: monthly cost pool totals (M1/M2/M3) from the Flexi ledger (#4251)
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolCache.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolDefinition.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/SharedCostPoolsModule.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/CostPool.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/CostPoolCacheData.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/ICostPoolCache.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/ICostPoolService.cs
  backend/src/Anela.Heblo.Domain/Accounting/CostPools/MonthlyCostPool.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolCacheTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolDefinitionTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolModuleRegistrationTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceCacheTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/FakeLedgerService.cs
  docs/superpowers/plans/2026-09-21-cost-pool-totals.md
  docs/superpowers/specs/2026-09-21-cost-pool-totals-design.md
Due: backend, Backend (.NET)

fix: address code review findings on cost pool totals
  backend/src/Anela.Heblo.Application/Common/TimePeriods/MonthRange.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolModuleRegistrationTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceCacheTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
  docs/superpowers/specs/2026-09-21-cost-pool-totals-design.md
  frontend/package-lock.json
Due: backend, Backend (.NET)

Point agent context_files at superpowers plugin cache paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

#4244: Remove dead try-catch-log-rethrow in GetConfigurationHandler (#4248)
  artifacts/feat-4244/arch-review.r1.md
  artifacts/feat-4244/brief.md
  artifacts/feat-4244/code-review.r1.md
  artifacts/feat-4244/design.r1.md
  artifacts/feat-4244/impl/remove-dead-try-catch.r1.md
  artifacts/feat-4244/review/remove-dead-try-catch.r1.md
  artifacts/feat-4244/spec.r1.md
  artifacts/feat-4244/state.json
  artifacts/feat-4244/task-context/remove-dead-try-catch.md
  artifacts/feat-4244/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationHandler.cs
Due: backend, Backend (.NET)

fix: address code review findings on cost pool totals (#4252)
  backend/src/Anela.Heblo.Application/Common/TimePeriods/MonthRange.cs
  backend/src/Anela.Heblo.Application/Shared/CostPools/CostPoolService.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolModuleRegistrationTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolSalesCostParityTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceCacheTests.cs
  backend/test/Anela.Heblo.Tests/Shared/CostPools/CostPoolServiceTests.cs
  docs/superpowers/specs/2026-09-21-cost-pool-totals-design.md
  frontend/package-lock.json
Due: backend, Backend (.NET)

fix: withhold cache validity when a merge runs before its sources load
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
Due: backend, Backend (.NET)

fix: address review - keep ever-loaded markers out of the shared memory cache
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
Due: backend, Backend (.NET)

chore: refresh AgentHarness scaffolding and fix gh_api.sh paginate/pr-list arg overflow
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
  .claude/skills/_lib/gh_api.sh
  frontend/package-lock.json
Due: none

fix: address review - do not re-merge on reads a merge cannot repair
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
Due: backend, Backend (.NET)

fix: address review - never serve a stale snapshot built before its sources loaded
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryStaleDataAndChangesPendingTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
Due: backend, Backend (.NET)

docs: address review - explain the required-source selection
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
Due: backend, Backend (.NET)

fix: exclude semi-products from the M1_A cost pool denominator
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  docs/features/margins_v2/spec.md
Due: backend, Backend (.NET)

fix: align margin history window with the cost provider window
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogConstants.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogConstantsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryStaleDataAndChangesPendingTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/MarginCostWindowAlignmentTests.cs
  docs/features/margins_v2/spec.md
Due: backend, Backend (.NET)

fix: withhold catalog cache validity when a merge runs before its sources load (#4254)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryStaleDataAndChangesPendingTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
Due: backend, Backend (.NET)

fix: allocate the VYROBA pool to finished products only
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/MarginCostWindowAlignmentTests.cs
  docs/features/margins_v2/spec.md
Due: backend, Backend (.NET)

fix: keep sets in the M1_A cost pool denominator
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: backend, Backend (.NET)

fix: margin cost scaling — semi-product denominator and averaging window (#4256)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogConstants.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogConstantsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryStaleDataAndChangesPendingTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/MarginCostWindowAlignmentTests.cs
  docs/features/margins_v2/spec.md
Due: backend, Backend (.NET)

docs: design spec for pricing simulator ("Analýza cen")
  docs/superpowers/specs/2026-09-21-pricing-simulator-design.md
Due: none

docs: implementation plan for pricing simulator
  docs/superpowers/plans/2026-09-21-pricing-simulator.md
Due: none

feat: add 36XX pricing simulator error codes
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add pricing baseline endpoint
  access-matrix-entra.generated.json
  access-matrix.json
  backend/src/Anela.Heblo.API/Controllers/PricingSimulatorController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingFilterDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/PricingModule.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/IPricingBaselineBuilder.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingBaselineBuilder.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingBaseline/GetPricingBaselineHandler.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingBaseline/GetPricingBaselineRequest.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/UseCases/GetPricingBaseline/GetPricingBaselineResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessRoles.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/Feature.generated.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingBaselineBuilderTests.cs
  frontend/src/auth/accessMatrix.generated.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add pricing simulation calculator
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingEditDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingOverrideDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Contracts/PricingTotalsDto.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Model/PricingBaselineRow.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Model/PricingSimulationResult.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/IPricingSimulationCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingEditException.cs
  backend/src/Anela.Heblo.Application/Features/Pricing/Services/PricingSimulationCalculator.cs
  backend/test/Anela.Heblo.Tests/Features/Pricing/PricingSimulationCalculatorTests.cs
Due: backend, Backend (.NET)
