Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix: use compiled static Regex in PdfTextExtractor, add edge case tests
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentExtractors/PdfTextExtractor.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/PdfTextExtractorTests.cs
Due: backend, Backend (.NET)

chore: update EF model snapshot for AddSummaryToLeafletChunk migration
  backend/src/Anela.Heblo.Persistence/Migrations/ApplicationDbContextModelSnapshot.cs
Due: backend, Backend (.NET)

fix: update tests for decimal lot quantities, add 6dp truncation regression test
  NuGet.config
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiIngredientRequirementAggregator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureDocumentService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FefoConsumptionAllocatorTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FlexiIngredientStockValidatorTests.cs
Due: backend, Backend (.NET)

fix: update InsufficientLotStockFilterTests decimal literals for FailedConsumptionItem.Amount change
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/InsufficientLotStockFilterTests.cs
Due: none

fix: parse lot from newline-separated Flexi error and enrich fallback message (#928)
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/InsufficientLotStockFilter.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/InsufficientLotStockFilterTests.cs
Due: backend, Backend (.NET)

fix: leaflet doc management — invalid date, empty summary, no newlines, encoding artifacts (#929)
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentExtractors/PdfTextExtractor.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/LeafletModule.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/LeafletOptions.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Services/ILeafletChunkSummarizer.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Services/LeafletChunkSummarizer.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Services/LeafletIndexingService.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/LeafletChunk.cs
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260505080157_AddSummaryToLeafletChunk.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260505080157_AddSummaryToLeafletChunk.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Infrastructure/LeafletModuleIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Services/LeafletIndexingServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletChunkDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/PdfTextExtractorTests.cs
  frontend/src/api/hooks/useLeaflet.ts
  frontend/src/features/leaflet-generator/LeafletDocumentsTab.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

ci: remove Playwright browser install step and dead ShoptetPlaywright env vars
  .github/workflows/ci-feature-branch.yml
  .github/workflows/ci-main-branch.yml
Due: none

fix: reuse NpgsqlDataSource pool in health check and catch OperationCanceledException (#920)
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/HealthChecks/DataQuality/DataQualitySchemaHealthCheck.cs
  backend/test/Anela.Heblo.Tests/API/HealthChecks/DataQuality/DataQualitySchemaHealthCheckTests.cs
Due: backend, Backend (.NET)

fix: return correct HTTP status codes from ConfirmSemiProductManufacture (#919)
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Contracts/ConfirmSemiProductManufactureResult.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmSemiProductManufactureWorkflow.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmSemiProductManufactureWorkflowTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

ci: remove Playwright browser install and browser layers from Dockerfile
  Dockerfile
Due: none

fix: decimal lot quantities end-to-end, truncate to 6dp at FlexiBee boundary (#930)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FefoConsumptionAllocator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiIngredientRequirementAggregator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiIngredientStockValidator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureDocumentService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/ManufactureWorkItems.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/FailedConsumptionItem.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FefoConsumptionAllocatorTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FlexiIngredientStockValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/InsufficientLotStockFilterTests.cs
Due: backend, Backend (.NET)

fix: use decimal literals in InsufficientLotStockFilterTests after #930
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/InsufficientLotStockFilterTests.cs
Due: none

agent: upload artifacts/feat-phase-1-ui-consolidation-sharepoint-link/brief.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/brief.md
Due: none

agent: upload artifacts/feat-phase-2-leaflet-generation-persistence-f/brief.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/brief.md
Due: none

agent: upload artifacts/feat-phase-3-article-generation-feedback-sour/brief.md
  artifacts/feat-phase-3-article-generation-feedback-sour/brief.md
Due: none

agent: upload artifacts/feat-phase-4-unified-marketing-feedback-page/brief.md
  artifacts/feat-phase-4-unified-marketing-feedback-page/brief.md
Due: none

agent: upload artifacts/feat-phase-1-ui-consolidation-sharepoint-link/spec.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/spec.r1.md
Due: none

agent: upload artifacts/feat-phase-1-ui-consolidation-sharepoint-link/arch-review.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/arch-review.r1.md
Due: none

agent: designer output feat-phase-1-ui-consolidation-sharepoint-link-designing-1
  design.md
Due: none

agent: upload artifacts/feat-phase-1-ui-consolidation-sharepoint-link/design.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/design.r1.md
Due: none

agent: planner output feat-phase-1-ui-consolidation-sharepoint-link-planning-1
  docs/superpowers/plans/2026-05-05-phase1-ui-consolidation-sharepoint-link.md
Due: none

agent: upload artifacts/feat-phase-1-ui-consolidation-sharepoint-link/task-plan.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/task-plan.r1.md
Due: none

feat: surface SourcePath in KB GetChunkDetail response
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetChunkDetail/GetChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetChunkDetail/GetChunkDetailRequest.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/GetChunkDetailHandlerTests.cs
Due: backend, Backend (.NET)

feat: surface SourcePath in Leaflet GetLeafletChunkDetail response
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletChunkDetailHandlerTests.cs
Due: backend, Backend (.NET)

feat: add getSharePointLink helper for chunk source URLs
  frontend/src/utils/sharepointLink.test.ts
  frontend/src/utils/sharepointLink.ts
Due: frontend, Frontend (React)

chore: move sharepointLink test to __tests__ directory
  frontend/src/utils/__tests__/sharepointLink.test.ts
Due: frontend, Frontend (React)

feat: add sourcePath to chunk detail response interfaces
  frontend/src/api/hooks/useKnowledgeBase.ts
  frontend/src/api/hooks/useLeaflet.ts
Due: frontend, Frontend (React)

feat: render SharePoint link in KB chunk detail modal
  frontend/src/components/knowledge-base/ChunkDetailModal.tsx
  frontend/src/components/knowledge-base/__tests__/ChunkDetailModal.test.tsx
Due: frontend, Frontend (React)

feat: render SharePoint link in Leaflet chunk detail modal
  frontend/src/features/leaflet-generator/LeafletChunkDetailModal.tsx
  frontend/src/features/leaflet-generator/__tests__/LeafletChunkDetailModal.test.tsx
Due: frontend, Frontend (React)

feat: add /marketing/feedback stub page
  frontend/src/App.tsx
  frontend/src/pages/MarketingFeedbackPage.tsx
Due: frontend, Frontend (React)

feat: consolidate Marketing sidebar group
  frontend/src/components/Layout/Sidebar.tsx
Due: frontend, Frontend (React)

fix: register ShoptetCsvAdapter in test fixture for IProductPriceEshopClient DI
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
Due: none

agent: upload artifacts/feat-phase-1-ui-consolidation-sharepoint-link/impl/main.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/impl/main.r1.md
Due: none

agent: upload artifacts/feat-phase-2-leaflet-generation-persistence-f/spec.r1.md
  artifacts/feat-phase-2-leaflet-generation-persistence-f/spec.r1.md
Due: none

Phase 1 — UI Consolidation & SharePoint Link-Back (#940)
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/arch-review.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/brief.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/design.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/impl/main.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/spec.r1.md
  artifacts/feat-phase-1-ui-consolidation-sharepoint-link/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetChunkDetail/GetChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetChunkDetail/GetChunkDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailRequest.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletChunkDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/GetChunkDetailHandlerTests.cs
  design.md
  docs/superpowers/plans/2026-05-05-phase1-ui-consolidation-sharepoint-link.md
  frontend/src/App.tsx
  frontend/src/api/hooks/useKnowledgeBase.ts
  frontend/src/api/hooks/useLeaflet.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/knowledge-base/ChunkDetailModal.tsx
  frontend/src/components/knowledge-base/__tests__/ChunkDetailModal.test.tsx
  frontend/src/features/leaflet-generator/LeafletChunkDetailModal.tsx
  frontend/src/features/leaflet-generator/__tests__/LeafletChunkDetailModal.test.tsx
  frontend/src/pages/MarketingFeedbackPage.tsx
  frontend/src/utils/__tests__/sharepointLink.test.ts
  frontend/src/utils/sharepointLink.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
