Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: Decouple ProductEnrichmentCache from Catalog Domain via Module Contract (#1232)
  artifacts/feat-arch-review-knowledgebase-productenrichm/arch-review.r1.md
  artifacts/feat-arch-review-knowledgebase-productenrichm/brief.md
  artifacts/feat-arch-review-knowledgebase-productenrichm/impl/main.r1.md
  artifacts/feat-arch-review-knowledgebase-productenrichm/spec.r1.md
  artifacts/feat-arch-review-knowledgebase-productenrichm/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/IProductCatalogQueryService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductCatalogEntry.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ProductCatalogQueryService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Pipeline/ProductEnrichmentCache.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/ProductCatalogQueryServiceTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Pipeline/ProductEnrichmentCacheTests.cs
  docs/superpowers/plans/2026-05-13-decouple-productenrichmentcache.md
Due: backend, Backend (.NET)

feat: Encapsulate Replace Semantics for JournalEntry Collections (#1222)
  artifacts/feat-arch-review-journal-updatejournalentryha/arch-review.r1.md
  artifacts/feat-arch-review-journal-updatejournalentryha/brief.md
  artifacts/feat-arch-review-journal-updatejournalentryha/impl/main.r1.md
  artifacts/feat-arch-review-journal-updatejournalentryha/spec.r1.md
  artifacts/feat-arch-review-journal-updatejournalentryha/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/UpdateJournalEntry/UpdateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalEntry.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryTests.cs
  docs/superpowers/plans/2026-05-13-journal-entry-replace-semantics.md
Due: backend, Backend (.NET)

fix(photobank): restore translatable SQL for GetTagsWithCountsAsync
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsSqlShapeTests.cs
Due: none

fix(photobank): restore translatable SQL for GetTagsWithCountsAsync (#1258)
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsSqlShapeTests.cs
Due: none

fix: UI revamp
  .claude/skills/convertforagent/SKILL.md
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/AddItemToBox/AddItemToBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/AddItemToBox/AddItemToBoxRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/RemoveItemFromBox/RemoveItemFromBoxHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/Inventory/ManufacturedProductInventoryItem.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
  docs/superpowers/plans/2026-05-13-lot-ean-inventory.md
  docs/superpowers/plans/2026-05-13-manufactured-product-inventory.md
  docs/superpowers/plans/2026-05-13-smartsupp-reconcile-open-conversations.md
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useLastManufacturedItems.ts
  frontend/src/api/hooks/useTransportBoxes.ts
  frontend/src/components/pages/ManufacturedInventoryPage.tsx
  frontend/src/components/pages/TransportBoxDetail.tsx
  frontend/src/components/transport/box-detail/TransportBoxItems.tsx
  frontend/src/components/transport/box-detail/TransportBoxTypes.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: expose LotNumber and ExpirationDate on TransportBoxItemDto
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/TransportBoxItemDto.cs
Due: backend, Backend (.NET)

feat(smartsupp): reconcile locally-open conversations during manual sync (#1206)
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/RunManualSync/RunManualSyncHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/RunManualSync/RunManualSyncResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/RunManualSyncHandlerTests.cs
Due: backend, Backend (.NET)

feat: show lot and expiration in transport box items table
  frontend/src/components/transport/box-detail/TransportBoxItems.tsx
Due: frontend, Frontend (React)

feat: map transport box transitions and state log; fix duplicate StockUp test setup
  backend/src/Anela.Heblo.Application/Features/Logistics/TransportBoxMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxById/GetTransportBoxByIdHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxes/GetTransportBoxesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByIdHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/components/Layout/Sidebar.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(ci): switch Teams notification from MessageCard to Adaptive Card
  .github/workflows/ci-main-branch.yml
Due: none

agent: upload artifacts/feat-arch-review-leaflet-ileafletrepository-i/brief.md
  artifacts/feat-arch-review-leaflet-ileafletrepository-i/brief.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-ileafletrepository-i/spec.r1.md
  artifacts/feat-arch-review-leaflet-ileafletrepository-i/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-ileafletrepository-i/arch-review.r1.md
  artifacts/feat-arch-review-leaflet-ileafletrepository-i/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-leaflet-ileafletrepository-i-planning-1
  docs/superpowers/plans/2026-05-15-leaflet-repository-split.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-ileafletrepository-i/task-plan.r1.md
  artifacts/feat-arch-review-leaflet-ileafletrepository-i/task-plan.r1.md
Due: none

feat(leaflet): add UpdateFeedbackResult enum
  backend/src/Anela.Heblo.Domain/Features/Leaflet/UpdateFeedbackResult.cs
Due: backend, Backend (.NET)

feat(leaflet): add ILeafletDocumentRepository interface
  backend/src/Anela.Heblo.Domain/Features/Leaflet/ILeafletDocumentRepository.cs
Due: backend, Backend (.NET)

feat(leaflet): add ILeafletGenerationRepository interface
  backend/src/Anela.Heblo.Domain/Features/Leaflet/ILeafletGenerationRepository.cs
Due: backend, Backend (.NET)

feat(leaflet): add LeafletDocumentRepository implementation
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletDocumentRepository.cs
Due: backend, Backend (.NET)

feat(leaflet): add LeafletGenerationRepository implementation
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletGenerationRepository.cs
Due: backend, Backend (.NET)

feat(ci): switch Teams notification from MessageCard to Adaptive Card (#1265)
  .github/workflows/ci-main-branch.yml
Due: none

feat(leaflet): register split repositories alongside legacy interface
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

refactor(leaflet): IndexLeafletHandler uses ILeafletDocumentRepository and stamps WordCount up-front
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/IndexLeaflet/IndexLeafletHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/IndexLeafletHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/IndexLeafletStatusTransitionTests.cs
Due: backend, Backend (.NET)

refactor(leaflet): LeafletIndexingService uses ILeafletDocumentRepository and stops mutating WordCount
  backend/src/Anela.Heblo.Application/Features/Leaflet/Services/LeafletIndexingService.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Services/LeafletIndexingServiceTests.cs
Due: backend, Backend (.NET)

refactor(leaflet): document-only handlers depend on ILeafletDocumentRepository
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/DeleteLeafletDocument/DeleteLeafletDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletChunkDetail/GetLeafletChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletDocumentContentTypes/GetLeafletDocumentContentTypesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletDocuments/GetLeafletDocumentsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/DeleteLeafletDocumentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletChunkDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletDocumentContentTypesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletDocumentsHandlerTests.cs
Due: backend, Backend (.NET)

refactor(leaflet): GenerateLeafletHandler depends on ILeafletDocumentRepository
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GenerateLeafletHandlerTests.cs
Due: backend, Backend (.NET)

refactor(leaflet): LeafletIngestionJob depends on ILeafletDocumentRepository
  backend/src/Anela.Heblo.Application/Features/Leaflet/Infrastructure/Jobs/LeafletIngestionJob.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Infrastructure/LeafletIngestionJobTests.cs
Due: backend, Backend (.NET)

refactor(leaflet): generation read-side consumers depend on ILeafletGenerationRepository
  backend/src/Anela.Heblo.Application/Features/Leaflet/Pipeline/LeafletGenerationLoggingBehavior.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletFeedbackList/GetLeafletFeedbackListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletGeneration/GetLeafletGenerationHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Pipeline/LeafletGenerationLoggingBehaviorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletFeedbackListHandlerTests.cs
Due: backend, Backend (.NET)

refactor(leaflet): SubmitLeafletFeedbackHandler uses UpdateFeedbackAsync
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/SubmitLeafletFeedback/SubmitLeafletFeedbackHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/SubmitLeafletFeedbackHandlerTests.cs
Due: backend, Backend (.NET)

test(leaflet): split repository tests and cover UpdateFeedbackAsync
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Infrastructure/LeafletModuleIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/LeafletGenerationRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/LeafletRepositoryTests.cs
Due: none

refactor(leaflet): remove legacy ILeafletRepository and LeafletRepository
  backend/src/Anela.Heblo.Application/Features/Leaflet/LeafletModule.cs
  backend/src/Anela.Heblo.Domain/Features/Leaflet/ILeafletRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletRepository.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

fix: use QUERY_KEYS for meetingTasks query keys in useMeetingTasks
  frontend/src/api/client.ts
  frontend/src/api/hooks/useMeetingTasks.ts
Due: frontend, Frontend (React)

agent: developer output feat-arch-review-leaflet-ileafletrepository-i-dev-main
  .husky/_/husky.sh
Due: none

agent: upload artifacts/feat-arch-review-leaflet-ileafletrepository-i/impl/main.r1.md
  artifacts/feat-arch-review-leaflet-ileafletrepository-i/impl/main.r1.md
Due: none

docs(smartsupp): add webhook Postman testing guide
  docs/integrations/smartsupp-webhook.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/brief.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/spec.r1.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/spec.r1.md
Due: none

agent: product output feat-arch-review-leaflet-direct-cross-module--questioning-r1
  answers.md
Due: none
