Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(harness): regenerate agent/skill files via agentharness init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update agentharness skill templates via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update agentharness skill/agent definitions from init
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill and agent definitions
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update agentharness skill files from init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

Update agentharness skill files via init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore: update agentharness skill/agent files from init --force
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

@claude fix(catalog): replace O(NxM) linear scan in MergeSalesHistory with O(N+S) dictionary pattern (#3245) (#3251)
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
Due: backend, Backend (.NET)

@claude implement feat-3221: replace hand-rolled PackingMaterials HTTP client with generated API client (#3232)
  frontend/src/api/hooks/usePackingMaterials.ts
  frontend/src/components/packing-materials/ConsumptionHistoryTab.tsx
  frontend/src/components/packing-materials/PackingMaterialsSettingsTab.tsx
  frontend/src/components/packing-materials/__tests__/ConsumptionHistoryTab.test.tsx
  frontend/src/components/packing-materials/modals/AddMaterialModal.tsx
  frontend/src/components/packing-materials/modals/EditMaterialModal.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialConsumptionChart.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialDetailModal.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialLogsGrid.tsx
  frontend/src/components/packing-materials/modals/UpdateQuantityModal.tsx
Due: frontend, Frontend (React)

#3222: Fix Photobank GetThumbnail 502 — handle Graph 406 as not-thumbnailable (#3233)
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankGraphService.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankGraphServiceThumbnailTests.cs
  docs/superpowers/plans/2026-06-19-photobank-406-fix.md
Due: backend, Backend (.NET)

@claude fix(photobank): register BulkAddPhotoTagRequestValidator and RetagPhotosRequestValidator in DI (#3246)
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
Due: backend, Backend (.NET)

@claude fix(arch): move PhotobankRepository to Persistence layer (ADR-004) (#3247)
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetLocatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsSqlShapeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/ReapplyRulesBehaviorPreservationTests.cs
Due: backend, Backend (.NET)

#3242: Fix SmartsuppWebhook/Receive 500 — atomic upsert idempotency guard (#3248)
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/ProcessWebhookEventHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/RefreshOrphanContacts/RefreshOrphanContactsHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/ProcessWebhookEventHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppRepositoryUnknownContactFetchTests.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppRepositoryUpdatedAtGuardTests.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppWebhookControllerTests.cs
  backend/test/Anela.Heblo.Tests/Persistence/Smartsupp/SmartsuppRepositoryUpsertIntegrationTests.cs
Due: backend, Backend (.NET)

fix(telemetry): fix DateTime Kind=Unspecified crash in nightly Hangfire job (#3243) (#3249)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncOptions.cs
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/FlexiAnalyticsSyncOptionsTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/LedgerSyncServiceTests.cs
Due: backend, Backend (.NET)

#3192: Move OrgChartService to Anela.Heblo.Adapters.OrgChart (#3238)
  Anela.Heblo.sln
  artifacts/feat-3192/arch-review.r1.md
  artifacts/feat-3192/brief.md
  artifacts/feat-3192/design.r1.md
  artifacts/feat-3192/impl/create-adapter-project.r1.md
  artifacts/feat-3192/spec.r1.md
  artifacts/feat-3192/state.json
  artifacts/feat-3192/task-context/create-adapter-project.md
  artifacts/feat-3192/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.OrgChart/Anela.Heblo.Adapters.OrgChart.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.OrgChart/OrgChartAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OrgChart/OrgChartService.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartModule.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Features/OrgChart/OrgChartServiceTests.cs
Due: backend, Backend (.NET)

feat-3244: Decouple CatalogAggregate from ManufactureHistoryRecord (#3250)
  artifacts/feat-3244/arch-review.r1.md
  artifacts/feat-3244/brief.md
  artifacts/feat-3244/impl/create-catalog-manufacture-record.r1.md
  artifacts/feat-3244/impl/decouple-source-layer.r1.md
  artifacts/feat-3244/impl/fix-tests-and-allowlist.r1.md
  artifacts/feat-3244/review/create-catalog-manufacture-record.r1.md
  artifacts/feat-3244/review/decouple-source-layer.r1.md
  artifacts/feat-3244/review/fix-tests-and-allowlist.r1.md
  artifacts/feat-3244/spec.r1.md
  artifacts/feat-3244/state.json
  artifacts/feat-3244/task-context/create-catalog-manufacture-record.md
  artifacts/feat-3244/task-context/decouple-source-layer.md
  artifacts/feat-3244/task-context/fix-tests-and-allowlist.md
  artifacts/feat-3244/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ICatalogManufactureSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogDataRefreshService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Infrastructure/ManufactureCatalogSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IProductionActivityAnalyzer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ProductionActivityAnalyzer.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ManufactureHistory/CatalogManufactureRecord.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerFullHistoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Infrastructure/ManufactureCatalogSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ProductionActivityAnalyzerTests.cs
Due: backend, Backend (.NET)

Update AgentHarness skill files from agentharness init
  .claude/agents/oneshot.md
  .claude/skills/chopchop/SKILL.md
  .claude/skills/oneshot/SKILL.md
Due: none

fix(bank): address review findings in BankImportState watermark
  backend/src/Anela.Heblo.Domain/Features/Bank/BankImportState.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankImportStateConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260615223352_AddBankImportState.cs
  backend/src/Anela.Heblo.Persistence/Migrations/ApplicationDbContextModelSnapshot.cs
Due: backend, Backend (.NET)

fix: add GetEshopRemarkAsync and UpdateEshopRemarkAsync to IShoptetExpeditionOrderSource
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/IShoptetExpeditionOrderSource.cs
Due: backend, Backend (.NET)

feat(bank): skip already-imported statements and retry previously-failed ones
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementResponse.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankImportStateRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
  docs/superpowers/plans/2026-06-15-bank-import-watermark.md
Due: backend, Backend (.NET)

Add groom skill for PM/architect backlog grooming
  .claude/skills/groom/SKILL.md
Due: none

fix(telemetry): start a new App Insights operation per route change and packing scan
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/telemetry/AppInsightsProvider.tsx
  frontend/src/telemetry/__tests__/appInsights.test.ts
  frontend/src/telemetry/appInsights.ts
Due: frontend, Frontend (React)

chore: update oneshot skill and orchestrator from agentharness init
  .claude/agents/orchestrator.md
  .claude/skills/oneshot/SKILL.md
Due: none

chore(feat-3239): analyzing artifact
  artifacts/feat-3239/brief.md
  artifacts/feat-3239/spec.r1.md
  artifacts/feat-3239/state.json
Due: none

Add groom skill for PM/architect backlog grooming (#3266)
  .claude/skills/groom/SKILL.md
Due: none

chore(feat-3239): architecting artifact
  artifacts/feat-3239/arch-review.r1.md
  artifacts/feat-3239/state.json
Due: none

chore(feat-3239): planning artifact
  artifacts/feat-3239/state.json
  artifacts/feat-3239/task-plan.r1.md
Due: none

chore(feat-3239): task context
  artifacts/feat-3239/state.json
  artifacts/feat-3239/task-context/final-validation.md
  artifacts/feat-3239/task-context/introduce-getthumbnailresult-du.md
  artifacts/feat-3239/task-context/move-photobankgraphservice-to-adapter.md
  artifacts/feat-3239/task-context/rewrite-getthumbnailhandler.md
  artifacts/feat-3239/task-context/update-graph-service-tests.md
  artifacts/feat-3239/task-context/update-handler-tests.md
  artifacts/feat-3239/task-context/update-mock-implementation.md
  artifacts/feat-3239/task-context/wire-adapter-di-registration.md
Due: none

fix(telemetry): start a new App Insights operation per route change and packing scan (#3267)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/telemetry/AppInsightsProvider.tsx
  frontend/src/telemetry/__tests__/appInsights.test.ts
  frontend/src/telemetry/appInsights.ts
Due: frontend, Frontend (React)

feat(photobank): introduce GetThumbnailResult discriminated union
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankGraphService.cs
Due: backend, Backend (.NET)

chore(feat-3239): impl+review for introduce-getthumbnailresult-du r1
  artifacts/feat-3239/impl/introduce-getthumbnailresult-du.r1.md
  artifacts/feat-3239/review/introduce-getthumbnailresult-du.r1.md
  artifacts/feat-3239/state.json
Due: none

feat(photobank): update MockPhotobankGraphService to return GetThumbnailResult
  artifacts/feat-3239/impl/update-mock-implementation.r1.md
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/MockPhotobankGraphService.cs
Due: backend, Backend (.NET)

fix(arch): update ModuleBoundariesTests to allow IIssuedInvoiceRepository and IssuedInvoiceFilters in Domain
  .context/pr.md
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

refactor(mcp): inject ICurrentUserService into CatalogMcpTools
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
Due: backend, Backend (.NET)

chore(feat-3239): impl+review for update-mock-implementation r1
  artifacts/feat-3239/review/update-mock-implementation.r1.md
  artifacts/feat-3239/state.json
Due: none

feat(bank): record import watermark in handler; fix BankImportJobBaseTests build
  backend/src/Anela.Heblo.Application/Features/Bank/Infrastructure/Jobs/BankImportJobParameters.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/Infrastructure/Jobs/BankImportJobBaseTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
