Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-4279): task context
  artifacts/feat-4279/state.json
  artifacts/feat-4279/task-context/make-errortype-settable-and-mapped.md
  artifacts/feat-4279/task-context/verify-client-diff-and-final-checklist.md
  artifacts/feat-4279/task-context/write-dto-settability-test.md
Due: none

#4262: Surface Shoptet shipment-validation-failed as an actionable error on Packaging/ScanOrder instead of a generic 503 (#4264)
  artifacts/feat-4262/arch-review.r1.md
  artifacts/feat-4262/brief.md
  artifacts/feat-4262/code-review.r1.md
  artifacts/feat-4262/design.r1.md
  artifacts/feat-4262/impl/add-validation-exception-and-error-code.r1.md
  artifacts/feat-4262/impl/forward-validation-params-through-scan-response.r1.md
  artifacts/feat-4262/impl/map-validation-exception-to-error-code.r1.md
  artifacts/feat-4262/impl/parse-shoptet-422-in-shipment-client.r1.md
  artifacts/feat-4262/impl/regenerate-frontend-api-client.r1.md
  artifacts/feat-4262/impl/surface-validation-message-in-frontend.r1.md
  artifacts/feat-4262/review/add-validation-exception-and-error-code.r1.md
  artifacts/feat-4262/review/forward-validation-params-through-scan-response.r1.md
  artifacts/feat-4262/review/map-validation-exception-to-error-code.r1.md
  artifacts/feat-4262/review/parse-shoptet-422-in-shipment-client.r1.md
  artifacts/feat-4262/review/regenerate-frontend-api-client.r1.md
  artifacts/feat-4262/review/surface-validation-message-in-frontend.r1.md
  artifacts/feat-4262/spec.r1.md
  artifacts/feat-4262/state.json
  artifacts/feat-4262/task-context/add-validation-exception-and-error-code.md
  artifacts/feat-4262/task-context/forward-validation-params-through-scan-response.md
  artifacts/feat-4262/task-context/map-validation-exception-to-error-code.md
  artifacts/feat-4262/task-context/parse-shoptet-422-in-shipment-client.md
  artifacts/feat-4262/task-context/regenerate-frontend-api-client.md
  artifacts/feat-4262/task-context/surface-validation-message-in-frontend.md
  artifacts/feat-4262/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/Services/ShipmentCreationResult.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/Services/ShipmentCreationService.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShoptetShipmentValidationException.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ShipmentCreationServiceTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useScanPackingOrder.test.ts
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-4278): impl+review for add-import-bank-statement-validator r1
  artifacts/feat-4278/impl/add-import-bank-statement-validator.r1.md
  artifacts/feat-4278/review/add-import-bank-statement-validator.r1.md
  artifacts/feat-4278/state.json
  backend/src/Anela.Heblo.Application/Features/Bank/Validators/ImportBankStatementRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/Validators/ImportBankStatementRequestValidatorTests.cs
Due: backend, Backend (.NET)

chore(feat-4278): add-import-bank-statement-validator passed review
  artifacts/feat-4278/state.json
Due: none

chore(feat-4280): brief and checkpoint init
  artifacts/feat-4280/brief.md
  artifacts/feat-4280/state.json
Due: none

chore(feat-4280): analyzing artifact
  artifacts/feat-4280/spec.r1.md
  artifacts/feat-4280/state.json
Due: none

chore: sync agent skill paths and package-lock from session environment setup
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
  frontend/package-lock.json
Due: none

chore(feat-4280): architecting artifact
  artifacts/feat-4280/arch-review.r1.md
  artifacts/feat-4280/state.json
Due: none

chore(feat-4280): designing artifact
  artifacts/feat-4280/design.r1.md
  artifacts/feat-4280/state.json
Due: none

chore(feat-4280): correct file inventory in spec/arch-review/design after full-repo grep
  artifacts/feat-4280/arch-review.r1.md
  artifacts/feat-4280/design.r1.md
  artifacts/feat-4280/spec.r1.md
  artifacts/feat-4280/state.json
Due: none

test(bank): add failing test proving BankStatementImportDto.ErrorType is not yet settable
  backend/test/Anela.Heblo.Tests/Features/Bank/BankMappingProfileTests.cs
Due: none

chore(feat-4280): fix occurrence count (2, not 3) for ModuleBoundariesTests.cs comment fix
  artifacts/feat-4280/arch-review.r1.md
  artifacts/feat-4280/spec.r1.md
Due: none

feat(bank): register ImportBankStatementRequestValidator in DI pipeline
  backend/src/Anela.Heblo.Application/Features/Bank/BankModule.cs
Due: backend, Backend (.NET)

chore(feat-4279): impl+review for write-dto-settability-test r1
  artifacts/feat-4279/impl/write-dto-settability-test.r1.md
  artifacts/feat-4279/review/write-dto-settability-test.r1.md
  artifacts/feat-4279/state.json
Due: none

chore(feat-4279): write-dto-settability-test passed review
  artifacts/feat-4279/state.json
Due: none

chore(feat-4280): planning artifact
  artifacts/feat-4280/state.json
  artifacts/feat-4280/task-plan.r1.md
Due: none

chore(feat-4280): task context
  artifacts/feat-4280/state.json
  artifacts/feat-4280/task-context/final-verification.md
  artifacts/feat-4280/task-context/relocate-exception-files.md
  artifacts/feat-4280/task-context/update-production-usings.md
  artifacts/feat-4280/task-context/update-test-usings-and-comments.md
Due: none

chore(feat-4278): impl+review for register-import-bank-statement-validator-in-di r1
  artifacts/feat-4278/impl/register-import-bank-statement-validator-in-di.r1.md
  artifacts/feat-4278/review/register-import-bank-statement-validator-in-di.r1.md
  artifacts/feat-4278/state.json
Due: none

chore(feat-4278): register-import-bank-statement-validator-in-di passed review
  artifacts/feat-4278/state.json
Due: none

refactor(usermanagement): move Graph exceptions from Contracts to Infrastructure/Exceptions
  backend/src/Anela.Heblo.Application/Features/UserManagement/Infrastructure/Exceptions/GraphServiceAuthException.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/Infrastructure/Exceptions/GraphServiceException.cs
Due: backend, Backend (.NET)

chore(feat-4280): impl+review for relocate-exception-files r1
  artifacts/feat-4280/impl/relocate-exception-files.r1.md
  artifacts/feat-4280/review/relocate-exception-files.r1.md
  artifacts/feat-4280/state.json
Due: none

chore(feat-4280): relocate-exception-files passed review
  artifacts/feat-4280/state.json
Due: none

fix(bank): remove redundant ArgumentException now that validation guards ImportBankStatementRequest
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-4278): impl+review for remove-redundant-argumentexception-from-import-handler r1
  artifacts/feat-4278/impl/remove-redundant-argumentexception-from-import-handler.r1.md
  artifacts/feat-4278/review/remove-redundant-argumentexception-from-import-handler.r1.md
  artifacts/feat-4278/state.json
Due: none

chore(feat-4278): remove-redundant-argumentexception-from-import-handler passed review
  artifacts/feat-4278/state.json
Due: none

chore: sync environment setup artifacts
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
  frontend/package-lock.json
Due: none

chore(feat-4280): impl+review for update-production-usings r1
  artifacts/feat-4280/impl/update-production-usings.r1.md
  artifacts/feat-4280/review/update-production-usings.r1.md
  artifacts/feat-4280/state.json
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/UserManagement/GraphService.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/Infrastructure/EntraAccessUserSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/Infrastructure/GraphArticleUserResolver.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/Services/IGraphService.cs
  backend/src/Anela.Heblo.Application/Features/UserManagement/UseCases/GetGroupMembers/GetGroupMembersHandler.cs
Due: backend, Backend (.NET)

chore(feat-4280): update-production-usings passed review
  artifacts/feat-4280/state.json
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
