Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix(packaging): inclusive toDate filter, SortBy null guard and allow-list
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackages/GetPackagesRequestValidator.cs
  backend/src/Anela.Heblo.Persistence/Repositories/Packaging/PackageRepository.cs
Due: backend, Backend (.NET)

chore: commit package-lock and implementation plan
  docs/superpowers/plans/2026-05-25-baleni-zasilky-page.md
  frontend/package-lock.json
Due: none

fix: read productCode from semiProduct in ManufactureOrderCreated telemetry
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.telemetry.test.tsx
Due: frontend, Frontend (React)

feat: add frontend usage analytics via Application Insights (#1632)
  docs/architecture/observability.md
  docs/development/setup.md
  docs/features/usage-analytics.md
  docs/superpowers/plans/2026-05-25-frontend-usage-analytics.md
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/dashboard/DashboardTile.tsx
  frontend/src/components/dashboard/__tests__/DashboardTile.test.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.telemetry.test.tsx
  frontend/src/components/marketing/photobank/BulkTagDialog.tsx
  frontend/src/components/marketing/photobank/__tests__/BulkTagDialog.test.tsx
  frontend/src/components/pages/PurchaseOrderList.tsx
  frontend/src/components/pages/__tests__/PurchaseOrderList.telemetry.test.tsx
  frontend/src/config/runtimeConfig.ts
  frontend/src/pages/FeatureFlagsAdminPage.tsx
  frontend/src/pages/__tests__/FeatureFlagsAdminPage.telemetry.test.tsx
  frontend/src/telemetry/AppInsightsProvider.tsx
  frontend/src/telemetry/__tests__/appInsights.test.ts
  frontend/src/telemetry/__tests__/useTelemetry.test.tsx
  frontend/src/telemetry/appInsights.ts
  frontend/src/telemetry/events.ts
  frontend/src/telemetry/useTelemetry.ts
Due: frontend, Frontend (React)

fix(packaging): escape LIKE wildcards in PackageRepository and add Hledat submit button to ZasilkyFilters
  backend/src/Anela.Heblo.Persistence/Repositories/Packaging/PackageRepository.cs
  frontend/src/components/baleni/zasilky/ZasilkyFilters.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyFilters.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(i18n): add Czech translation for PackageNotFound error code
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

feat(packaging): add Zásilky packages management page (#1633)
  backend/src/Anela.Heblo.API/Controllers/PackagingController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/PackagingModule.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/DeletePackage/DeletePackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/DeletePackage/DeletePackageRequest.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/DeletePackage/DeletePackageResponse.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackages/GetPackagesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackages/GetPackagesRequest.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackages/GetPackagesRequestValidator.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackages/GetPackagesResponse.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Packaging/IPackageRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Packaging/Package.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Features/Packaging/PackageConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260525073808_AddPackageEntity.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260525073808_AddPackageEntity.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/src/Anela.Heblo.Persistence/Repositories/Packaging/PackageRepository.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/DeletePackageHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/GetPackagesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/ScanPackingOrderHandlerPackagePersistenceTests.cs
  docs/superpowers/plans/2026-05-25-baleni-zasilky-page.md
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/usePackages.ts
  frontend/src/components/baleni/printLabelPdf.ts
  frontend/src/components/baleni/zasilky/DeletePackageDialog.tsx
  frontend/src/components/baleni/zasilky/ZasilkyFilters.tsx
  frontend/src/components/baleni/zasilky/ZasilkyPage.tsx
  frontend/src/components/baleni/zasilky/ZasilkyPagination.tsx
  frontend/src/components/baleni/zasilky/ZasilkyTable.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyFilters.test.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyPage.test.tsx
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-article-generatearticlerespo/brief.md
  artifacts/feat-arch-review-article-generatearticlerespo/brief.md
Due: none

agent: upload artifacts/feat-arch-review-article-generatearticlerespo/spec.r1.md
  artifacts/feat-arch-review-article-generatearticlerespo/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-generatearticlerespo/arch-review.r1.md
  artifacts/feat-arch-review-article-generatearticlerespo/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-article-generatearticlerespo-planning-1
  docs/superpowers/plans/2026-05-25-generate-article-response-contract.md
Due: none

agent: upload artifacts/feat-arch-review-article-generatearticlerespo/task-plan.r1.md
  artifacts/feat-arch-review-article-generatearticlerespo/task-plan.r1.md
Due: none

feat(article-generation): return HangfireJobId and Status in generate response
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GenerateArticle/GenerateArticleHandler.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GenerateArticle/GenerateArticleResponse.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/GenerateArticleHandlerTests.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-article-generatearticlerespo/impl/main.r1.md
  artifacts/feat-arch-review-article-generatearticlerespo/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/brief.md
  artifacts/feat-arch-review-article-gathercontextstep-di/brief.md
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/spec.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/arch-review.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-article-gathercontextstep-di-planning-1
  docs/superpowers/plans/2026-05-25-decouple-article-from-knowledgebase.md
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/task-plan.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/task-plan.r1.md
Due: none

feat(article): add IArticleStyleGuideSource consumer-owned contract
  backend/src/Anela.Heblo.Application/Features/Article/Contracts/IArticleStyleGuideSource.cs
Due: backend, Backend (.NET)

feat(knowledgebase): add KnowledgeBaseArticleStyleGuideSource adapter
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/KnowledgeBaseArticleStyleGuideSource.cs
  backend/test/Anela.Heblo.Tests/Features/KnowledgeBase/Infrastructure/KnowledgeBaseArticleStyleGuideSourceTests.cs
Due: backend, Backend (.NET)

feat(knowledgebase): register IArticleStyleGuideSource adapter
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

refactor(article): route GatherContextStep style guide load through IArticleStyleGuideSource
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/GatherContextStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GatherContextStepTests.cs
Due: backend, Backend (.NET)

test(architecture): enforce Article -> KnowledgeBase boundary with SearchDocuments allowlist
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

fix(tests): update remaining GatherContextStep usages to IArticleStyleGuideSource
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GenerateArticleJobTests.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/SourceEnrichmentIntegrationTests.cs
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/impl/main.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-feedback-ownership-c/brief.md
  artifacts/feat-arch-review-article-feedback-ownership-c/brief.md
Due: none

agent: upload artifacts/feat-arch-review-article-feedback-ownership-c/spec.r1.md
  artifacts/feat-arch-review-article-feedback-ownership-c/spec.r1.md
Due: none

feat: add UpdateAdditionalFieldRequest DTO for Shoptet PATCH /notes additionalFields
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/UpdateAdditionalFieldRequest.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-article-feedback-ownership-c/arch-review.r1.md
  artifacts/feat-arch-review-article-feedback-ownership-c/arch-review.r1.md
Due: none

feat: add SetAdditionalFieldAsync to ShoptetOrderClient
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShoptetOrderClient_SetAdditionalFieldTests.cs
Due: backend, Backend (.NET)

agent: planner output feat-arch-review-article-feedback-ownership-c-planning-1
  docs/superpowers/plans/2026-05-25-article-feedback-ownership-stable-id.md
Due: none

agent: upload artifacts/feat-arch-review-article-feedback-ownership-c/task-plan.r1.md
  artifacts/feat-arch-review-article-feedback-ownership-c/task-plan.r1.md
Due: none

feat: stamp CHLAZENE additionalField on cooled orders during expedition list print
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_CoolingMarkerTests.cs
Due: backend, Backend (.NET)

docs: verify §3.6 additionalFields round-trip; add §3.7 field registry for cooled-order marker
  docs/integrations/shoptet-api.md
Due: none

test: cover identifier-based ownership in submit-article-feedback
  backend/test/Anela.Heblo.Tests/Article/UseCases/SubmitArticleFeedbackHandlerTests.cs
Due: none

fix(article): authorize feedback against stable identifier, reject null owner
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/SubmitFeedback/SubmitArticleFeedbackHandler.cs
Due: backend, Backend (.NET)

test: restrict PATCH intercept to /status in expedition source tests
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: none

docs: add implementation plan for cooled-order additionalField feature
  docs/superpowers/plans/2026-05-25-cooled-order-additional-field.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
