Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

refactor: move ReapplyRules orchestration into ReapplyRulesHandler
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/ReapplyRules/ReapplyRulesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/ReapplyRulesHandlerTests.cs
Due: backend, Backend (.NET)

test: update ReapplyRules cache-invalidation test to new primitive sequence
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankTagsCacheInvalidationTests.cs
Due: none

refactor: remove ReapplyRulesAsync from Photobank repository surface
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
Due: backend, Backend (.NET)

test: add end-to-end behavior-preservation tests for ReapplyRules refactor
  backend/test/Anela.Heblo.Tests/Features/Photobank/ReapplyRulesBehaviorPreservationTests.cs
Due: none

agent: upload artifacts/feat-arch-review-photobank-reapplyrulesasync-/impl/main.r1.md
  artifacts/feat-arch-review-photobank-reapplyrulesasync-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-application-layer-/brief.md
  artifacts/feat-arch-review-photobank-application-layer-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-application-layer-/spec.r1.md
  artifacts/feat-arch-review-photobank-application-layer-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-application-layer-/arch-review.r1.md
  artifacts/feat-arch-review-photobank-application-layer-/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-application-layer-/task-plan.r1.md
  artifacts/feat-arch-review-photobank-application-layer-/task-plan.r1.md
Due: none

feat: add InvalidPhotoSearchPatternException domain exception
  backend/src/Anela.Heblo.Domain/Features/Photobank/InvalidPhotoSearchPatternException.cs
Due: backend, Backend (.NET)

feat: handle InvalidPhotoSearchPatternException in GetPhotosHandler
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetPhotos/GetPhotosHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/GetPhotosHandlerTests.cs
Due: backend, Backend (.NET)

feat: translate PostgresException 2201B to domain exception in PhotobankRepository
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-photobank-application-layer-/impl/main.r1.md
  artifacts/feat-arch-review-photobank-application-layer-/impl/main.r1.md
Due: none

fix(tests): remove duplicate AddDailyRunAsync method in CountingRepositoryWrapper
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/PackingMaterialsListQueryCountTests.cs
Due: none

fix(shipments): filter canceled shipments from label results and cancel all GUIDs on reset
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/Dto/ShoptetShipmentDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(packaging): ensure printer receives new shipment label after reset
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackageLabelPdf/GetPackageLabelPdfHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/GetPackageLabelPdfHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
Due: backend, Backend (.NET)

feat(packaging): replace small spinner with full-screen progress bar during shipment creation
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/index.css
Due: frontend, Frontend (React)

feat(packaging): set order status to Zabaleno (52) on successful scan
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
Due: backend, Backend (.NET)

feat: add CatalogDocuments error codes and appsettings placeholders
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat: add CatalogDocuments contracts (DTOs, enums, response types)
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Contracts/CatalogDocumentDto.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Contracts/FolderStatus.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Contracts/ListCatalogDocumentsResponse.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Contracts/MaterialDocumentTypeDto.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Contracts/UploadDocumentResponse.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/GetMaterialDocumentTypes/GetMaterialDocumentTypesResponse.cs
Due: backend, Backend (.NET)

feat: add CatalogDocuments infrastructure (options, material document types)
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Infrastructure/CatalogDocumentsOptions.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Infrastructure/MaterialDocumentType.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Infrastructure/MaterialDocumentTypes.cs
Due: backend, Backend (.NET)

feat: add MaterialFilenameBuilder with unit tests
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Infrastructure/MaterialFilenameBuilder.cs
  backend/test/Anela.Heblo.Tests/Application/CatalogDocuments/MaterialFilenameBuilderTests.cs
Due: backend, Backend (.NET)

feat: add ICatalogDocumentsStorage port, FolderSearchResult, Graph models
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/CatalogGraphModels.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/FolderSearchResult.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/ICatalogDocumentsStorage.cs
Due: backend, Backend (.NET)

feat: add GraphCatalogDocumentsStorage (folder lookup, list, upload)
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/GraphCatalogDocumentsStorage.cs
Due: backend, Backend (.NET)

feat: add ListMaterialDocuments use case
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/ListMaterialDocuments/ListMaterialDocumentsHandler.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/ListMaterialDocuments/ListMaterialDocumentsRequest.cs
Due: backend, Backend (.NET)

feat: add ListPifDocuments use case
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/ListPifDocuments/ListPifDocumentsHandler.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/ListPifDocuments/ListPifDocumentsRequest.cs
Due: backend, Backend (.NET)

feat: add GetMaterialDocumentTypes use case
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/GetMaterialDocumentTypes/GetMaterialDocumentTypesHandler.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/GetMaterialDocumentTypes/GetMaterialDocumentTypesRequest.cs
Due: backend, Backend (.NET)

feat: add UploadMaterialDocument use case
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/UploadMaterialDocument/UploadMaterialDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/UploadMaterialDocument/UploadMaterialDocumentRequest.cs
Due: backend, Backend (.NET)

feat: add UploadPifDocument use case
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/UploadPifDocument/UploadPifDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/UseCases/UploadPifDocument/UploadPifDocumentRequest.cs
Due: backend, Backend (.NET)

feat: add CatalogDocumentsModule DI registration
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/CatalogDocumentsModule.cs
  backend/src/Anela.Heblo.Application/Features/CatalogDocuments/Services/NoOpCatalogDocumentsStorage.cs
Due: backend, Backend (.NET)

feat: register AddCatalogDocumentsModule in ApplicationModule
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
Due: backend, Backend (.NET)

feat: add CatalogDocumentsController
  backend/src/Anela.Heblo.API/Controllers/CatalogDocumentsController.cs
Due: backend, Backend (.NET)

fix: add stream disposal and upload authorization to CatalogDocumentsController
  backend/src/Anela.Heblo.API/Controllers/CatalogDocumentsController.cs
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
Due: backend, Backend (.NET)

feat(packing): include shipping address in scan response
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IPackingOrderClient.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
Due: backend, Backend (.NET)

test: add CatalogDocuments handler unit tests
  backend/test/Anela.Heblo.Tests/Application/CatalogDocuments/ListMaterialDocumentsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CatalogDocuments/UploadMaterialDocumentHandlerTests.cs
Due: none

fix: add CatalogDocuments 30XX error coverage to tests and i18n
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

refactor(packing): centralize address normalization and avoid test mutation
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
Due: backend, Backend (.NET)

test: fix handler test quality issues — add verify calls and MultipleMatches coverage
  backend/test/Anela.Heblo.Tests/Application/CatalogDocuments/ListMaterialDocumentsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CatalogDocuments/UploadMaterialDocumentHandlerTests.cs
Due: none

fix: mobile UX for user menu and status bar visibility
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/TopBar.tsx
  frontend/src/components/StatusBar.tsx
  frontend/src/components/auth/UserProfile.tsx
Due: frontend, Frontend (React)

feat: add useCatalogDocuments hook
  frontend/src/api/client.ts
  frontend/src/api/hooks/useCatalogDocuments.ts
Due: frontend, Frontend (React)
