Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

docs: plans
  docs/plans/2026-02-18-batch-calculator-percentage-column.md
  tasks/prd-batch-calculator-percentage-column.md
Due: none

fix/e2e_tests (#368)
  .gitignore
  .ralph-tui/config.toml
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  .ralph/AGENT.md
  .ralph/PROMPT.md
  .ralph/fix_plan.md
  frontend/test/e2e/core/dashboard.spec.ts
  frontend/test/e2e/core/invoice-classification-history-filters.spec.ts
  frontend/test/e2e/helpers/catalog-test-helpers.ts
  frontend/test/e2e/helpers/wait-helpers.ts
  tasks/prd-fix-e2e-nightly-regressions.md
Due: none

chore: ralph-tui cleanup
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
Due: none

feature/percentage_column (#372)
  docs/plans/2026-02-18-batch-calculator-percentage-column.md
  frontend/src/components/pages/ManufactureBatchCalculator.tsx
  frontend/src/components/pages/__tests__/ManufactureBatchCalculator.test.tsx
  tasks/prd-batch-calculator-percentage-column.md
Due: frontend, Frontend (React)

fix/relog_issues (#370)
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/App.tsx
  frontend/src/components/auth/AuthGuard.tsx
  frontend/src/components/auth/__tests__/AuthGuard.test.tsx
  tasks/prd-token-expiry-blank-screen-fix.md
Due: frontend, Frontend (React)

chore: add jest-junit for CI test reporting
  frontend/package.json
Due: none

ci: add test summary reports to feature branch workflow
  .github/workflows/ci-feature-branch.yml
Due: none

ci: add test summary reports to main branch workflow
  .github/workflows/ci-main-branch.yml
Due: none

chore: update lockfile after adding jest-junit
  frontend/package-lock.json
Due: none

docs: plan
  docs/plans/2026-02-18-ci-test-summary.md
Due: none

feature/cicd_test_summary (#373)
  .github/workflows/ci-feature-branch.yml
  .github/workflows/ci-main-branch.yml
  docs/plans/2026-02-18-ci-test-summary.md
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: cleanup
  .gitignore
  .playwright-mcp/manufacturing-stock-analysis-after-fix.png
  .playwright-mcp/manufacturing-stock-analysis-expanded.png
  .playwright-mcp/manufacturing-stock-analysis-final.png
  .playwright-mcp/margin-analysis-chart-fixed.png
  .playwright-mcp/margin-analysis-chart.png
  .playwright-mcp/margin-summary-loading.png
  .playwright-mcp/margins-loading.png
  .playwright-mcp/margins-updated-loading.png
  .playwright-mcp/page-2025-08-23T08-10-35-191Z.png
  .playwright-mcp/product-margin-analysis-current.png
  .playwright-mcp/transport-boxes-updated.png
Due: none

fix: 1287 -> SLU000001
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
Due: backend, Backend (.NET)

fix: 1287 -> SLU000001 (#376)
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
Due: backend, Backend (.NET)

docs: add design for ProductMappingIssuedInvoiceImportTransformation
  docs/plans/2026-02-26-product-mapping-transformation-design.md
Due: none

docs: add implementation plan for ProductMappingIssuedInvoiceImportTransformation
  docs/plans/2026-02-26-product-mapping-transformation.md
Due: none

test: add test file structure for ProductMappingIssuedInvoiceImportTransformation
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: backend, Backend (.NET)

feat: implement product code replacement in TransformAsync
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformation.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: backend, Backend (.NET)

test: verify multiple items replacement works correctly
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: none

test: verify no matches case leaves invoice unchanged
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: none

test: verify empty items list is handled correctly
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: none

test: verify mixed items with selective replacement
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: none

test: verify case-sensitive product code matching
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
Due: none

fix/invalid_product_import (#377)
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformationTests.cs
  docs/plans/2026-02-26-product-mapping-transformation-design.md
  docs/plans/2026-02-26-product-mapping-transformation.md
Due: backend, Backend (.NET)

docs: add MCP server design for Catalog and Manufacture endpoints
  docs/plans/2026-02-26-mcp-server-design.md
Due: none

docs: add MCP server implementation plan
  docs/plans/2026-02-26-mcp-server-implementation.md
Due: none

feat(mcp): add Microsoft.Extensions.AI NuGet packages
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
Due: backend, Backend (.NET)

feat(mcp): create MCP directory structure
  backend/src/Anela.Heblo.API/MCP/Tools/.gitkeep
  backend/test/Anela.Heblo.Tests/MCP/Tools/.gitkeep
Due: backend, Backend (.NET)

feat(mcp): add McpToolException for error handling
  backend/src/Anela.Heblo.API/MCP/McpToolException.cs
Due: backend, Backend (.NET)

feat(mcp): create McpModule for DI registration
  backend/src/Anela.Heblo.API/MCP/McpModule.cs
Due: backend, Backend (.NET)

test(mcp): add failing test for CatalogMcpTools.GetCatalogList
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
Due: none

feat(mcp): implement CatalogMcpTools.GetCatalogList
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
Due: backend, Backend (.NET)

test(mcp): add failing tests for CatalogMcpTools.GetCatalogDetail
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
Due: none

feat(mcp): implement CatalogMcpTools.GetCatalogDetail with error handling
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
Due: backend, Backend (.NET)

feat(mcp): add remaining Catalog MCP tools with tests
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
Due: backend, Backend (.NET)

feat(mcp): add ManufactureOrderMcpTools with tests
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureOrderMcpTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/ManufactureOrderMcpToolsTests.cs
Due: backend, Backend (.NET)

feat(mcp): add ManufactureBatchMcpTools with tests
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureBatchMcpTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/ManufactureBatchMcpToolsTests.cs
Due: backend, Backend (.NET)

feat(mcp): register MCP tool classes in DI container
  backend/src/Anela.Heblo.API/MCP/McpModule.cs
Due: backend, Backend (.NET)

docs: add MCP Server section to CLAUDE.md
  CLAUDE.md
Due: none

docs: fix MCP documentation issues (broken link, quick ref, description)
  CLAUDE.md
Due: none
