Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-3608): finalize pipeline artifacts
  artifacts/feat-3608/state.json
Due: none

chore(feat-3608): code review r1
  artifacts/feat-3608/code-review.r1.md
  artifacts/feat-3608/state.json
Due: none

fix(test): add missing usePresenceHeartbeat and otherActiveViewers to SmartsuppChatsPage mock
  frontend/src/components/customer-support/smartsupp/pages/__tests__/SmartsuppChatsPage.test.tsx
Due: frontend, Frontend (React)

fix(smartsupp): stamp REST-staged contact timestamps as Utc so Messenger chats ingest
  backend/src/Anela.Heblo.Persistence/Anela.Heblo.Persistence.csproj
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppContactMappingTests.cs
  memory/gotchas/smartsupp-staged-contact-datetime-kind.md
Due: backend, Backend (.NET)

chore(feat-3607): verify-architecture-boundary-tests impl artifact
  artifacts/feat-3607/impl/verify-architecture-boundary-tests.r1.md
  artifacts/feat-3607/state.json
Due: none

chore(feat-3607): finalize pipeline artifacts
  artifacts/feat-3607/state.json
Due: none

chore(feat-3607): code review r1
  artifacts/feat-3607/code-review.r1.md
  artifacts/feat-3607/state.json
Due: none

chore(feat-3607): final checkpoint state
  artifacts/feat-3607/state.json
Due: none

#3608: rename LogisticsModule.AddTransportModule to AddLogisticsModule (#3621)
  artifacts/feat-3608/arch-review.r1.md
  artifacts/feat-3608/brief.md
  artifacts/feat-3608/code-review.r1.md
  artifacts/feat-3608/impl/rename-add-transport-module-to-add-logistics-module.r1.md
  artifacts/feat-3608/review/rename-add-transport-module-to-add-logistics-module.r1.md
  artifacts/feat-3608/spec.r1.md
  artifacts/feat-3608/state.json
  artifacts/feat-3608/task-context/rename-add-transport-module-to-add-logistics-module.md
  artifacts/feat-3608/task-plan.r1.md
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/LogisticsModule.cs
  docs/architecture/development_guidelines.md
  docs/architecture/infrastructure.md
Due: backend, Backend (.NET)

Remove dead UploadLeafletRequest.FileSizeBytes property (#3605)
  backend/src/Anela.Heblo.API/Controllers/LeafletController.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/UploadLeaflet/UploadLeafletRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/UploadLeafletHandlerTests.cs
Due: backend, Backend (.NET)

#3600: batch LeafletChunk inserts into a single multi-row INSERT (#3604)
  artifacts/feat-3600/arch-review.r1.md
  artifacts/feat-3600/brief.md
  artifacts/feat-3600/design.r1.md
  artifacts/feat-3600/impl/batch-leaflet-addchunks-insert.r1.md
  artifacts/feat-3600/review/batch-leaflet-addchunks-insert.r1.md
  artifacts/feat-3600/spec.r1.md
  artifacts/feat-3600/state.json
  artifacts/feat-3600/task-context/batch-leaflet-addchunks-insert.md
  artifacts/feat-3600/task-plan.r1.md
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletDocumentRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Integration/LeafletRepositoryIntegrationTests.cs
Due: backend, Backend (.NET)

#3599: consolidate GetGenerationStatsAsync into single DB query (#3603)
  artifacts/feat-3599/arch-review.r1.md
  artifacts/feat-3599/brief.md
  artifacts/feat-3599/code-review.r1.md
  artifacts/feat-3599/design.r1.md
  artifacts/feat-3599/impl/consolidate-generation-stats-query.r1.md
  artifacts/feat-3599/review/consolidate-generation-stats-query.r1.md
  artifacts/feat-3599/spec.r1.md
  artifacts/feat-3599/state.json
  artifacts/feat-3599/task-context/consolidate-generation-stats-query.md
  artifacts/feat-3599/task-plan.r1.md
  backend/src/Anela.Heblo.Persistence/Features/Leaflet/LeafletGenerationRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/LeafletGenerationRepositoryGetGenerationStatsSqlShapeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/LeafletGenerationRepositoryTests.cs
Due: backend, Backend (.NET)

fix(article): use deduplicated web snippets in GatherContextStep trace output (#3598)
  artifacts/feat-3594/arch-review.r1.md
  artifacts/feat-3594/brief.md
  artifacts/feat-3594/code-review.r1.md
  artifacts/feat-3594/design.r1.md
  artifacts/feat-3594/impl/fix-trace-snippet-source.r1.md
  artifacts/feat-3594/spec.r1.md
  artifacts/feat-3594/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/GatherContextStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GatherContextStepTests.cs
Due: backend, Backend (.NET)

#3593: implementation (#3597)
  artifacts/feat-3593/arch-review.r1.md
  artifacts/feat-3593/brief.md
  artifacts/feat-3593/code-review.r1.md
  artifacts/feat-3593/design.r1.md
  artifacts/feat-3593/impl/add-pipeline-step-interfaces-and-wire-di.r1.md
  artifacts/feat-3593/impl/rework-generatearticlejobtests-to-mock-interfaces.r1.md
  artifacts/feat-3593/review/add-pipeline-step-interfaces-and-wire-di.r1.md
  artifacts/feat-3593/review/rework-generatearticlejobtests-to-mock-interfaces.r1.md
  artifacts/feat-3593/spec.r1.md
  artifacts/feat-3593/state.json
  artifacts/feat-3593/task-context/add-pipeline-step-interfaces-and-wire-di.md
  artifacts/feat-3593/task-context/rework-generatearticlejobtests-to-mock-interfaces.md
  artifacts/feat-3593/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/ArticleModule.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/GenerateArticleJob.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/AggregateFactsStep.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/GatherContextStep.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/PlanQueriesStep.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/ValidateFactsStep.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GenerateArticleJobTests.cs
Due: backend, Backend (.NET)

#3591: implementation (#3596)
  artifacts/feat-3591/arch-review.r1.md
  artifacts/feat-3591/brief.md
  artifacts/feat-3591/code-review.r1.md
  artifacts/feat-3591/design.r1.md
  artifacts/feat-3591/impl/remove-filesizebytes-dead-property.r1.md
  artifacts/feat-3591/review/remove-filesizebytes-dead-property.r1.md
  artifacts/feat-3591/spec.r1.md
  artifacts/feat-3591/state.json
  artifacts/feat-3591/task-context/remove-filesizebytes-dead-property.md
  artifacts/feat-3591/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentRequest.cs
Due: backend, Backend (.NET)

#3590: Batch embedding calls in KnowledgeBaseDocIndexingStrategy (#3595)
  artifacts/feat-3590/arch-review.r1.md
  artifacts/feat-3590/brief.md
  artifacts/feat-3590/code-review.r1.md
  artifacts/feat-3590/design.r1.md
  artifacts/feat-3590/impl/batch-knowledgebase-doc-embedding-calls.r1.md
  artifacts/feat-3590/review/batch-knowledgebase-doc-embedding-calls.r1.md
  artifacts/feat-3590/spec.r1.md
  artifacts/feat-3590/state.json
  artifacts/feat-3590/task-context/batch-knowledgebase-doc-embedding-calls.md
  artifacts/feat-3590/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategy.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategyTests.cs
Due: backend, Backend (.NET)

#3582: implementation (#3589)
  artifacts/feat-3582/arch-review.r1.md
  artifacts/feat-3582/brief.md
  artifacts/feat-3582/code-review.r1.md
  artifacts/feat-3582/design.r1.md
  artifacts/feat-3582/impl/remove-dead-severity-exports.r1.md
  artifacts/feat-3582/review/remove-dead-severity-exports.r1.md
  artifacts/feat-3582/spec.r1.md
  artifacts/feat-3582/state.json
  artifacts/feat-3582/task-context/remove-dead-severity-exports.md
  artifacts/feat-3582/task-plan.r1.md
  frontend/src/api/hooks/usePurchaseStockAnalysis.ts
Due: frontend, Frontend (React)

#3581: use IsExport instead of PageSize=int.MaxValue in LowStockEfficiencyTile (#3588)
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
Due: backend, Backend (.NET)

#3580: implementation (#3587)
  artifacts/feat-3580/arch-review.r1.md
  artifacts/feat-3580/brief.md
  artifacts/feat-3580/code-review.r1.md
  artifacts/feat-3580/impl/dedup-history-dto-mapping.r1.md
  artifacts/feat-3580/review/dedup-history-dto-mapping.r1.md
  artifacts/feat-3580/spec.r1.md
  artifacts/feat-3580/state.json
  artifacts/feat-3580/task-context/dedup-history-dto-mapping.md
  artifacts/feat-3580/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/PurchaseOrderHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/CreatePurchaseOrder/CreatePurchaseOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseOrderById/GetPurchaseOrderByIdHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseOrderHistory/GetPurchaseOrderHistoryHandler.cs
Due: backend, Backend (.NET)

#3579: implementation (#3586)
  artifacts/feat-3579/arch-review.r1.md
  artifacts/feat-3579/brief.md
  artifacts/feat-3579/code-review.r1.md
  artifacts/feat-3579/design.r1.md
  artifacts/feat-3579/impl/relocate-stock-analysis-enums-to-contracts.r1.md
  artifacts/feat-3579/review/relocate-stock-analysis-enums-to-contracts.r1.md
  artifacts/feat-3579/spec.r1.md
  artifacts/feat-3579/state.json
  artifacts/feat-3579/task-context/relocate-stock-analysis-enums-to-contracts.md
  artifacts/feat-3579/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/StockAnalysisSortBy.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/StockSeverity.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/StockStatusFilter.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/IStockSeverityCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/StockSeverityCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/StockSeverityCalculatorTests.cs
Due: backend, Backend (.NET)

fix: apply null-coalescing fallback for username in journal soft-delete (#3585)
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/DeleteJournalEntry/DeleteJournalEntryHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/DeleteJournalEntryHandlerTests.cs
Due: backend, Backend (.NET)

#3577: remove dead GetJournalIndicatorsAsync code and JournalIndicatorDto (#3584)
  artifacts/feat-3577/arch-review.r1.md
  artifacts/feat-3577/brief.md
  artifacts/feat-3577/code-review.r1.md
  artifacts/feat-3577/design.r1.md
  artifacts/feat-3577/impl/remove-dead-journal-indicators-code.r1.md
  artifacts/feat-3577/review/remove-dead-journal-indicators-code.r1.md
  artifacts/feat-3577/spec.r1.md
  artifacts/feat-3577/state.json
  artifacts/feat-3577/task-context/remove-dead-journal-indicators-code.md
  artifacts/feat-3577/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalIndicatorDto.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/IJournalRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalIndicatorSnapshot.cs
  backend/src/Anela.Heblo.Persistence/Journal/JournalRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalRepositoryIntegrationTests.cs
Due: backend, Backend (.NET)

#3575: revert tracked invoice mutation on failed re-import (#3583)
  artifacts/feat-3575/answers.r1.md
  artifacts/feat-3575/arch-review.r1.md
  artifacts/feat-3575/brief.md
  artifacts/feat-3575/code-review.r1.md
  artifacts/feat-3575/design.r1.md
  artifacts/feat-3575/impl/add-regression-test-for-tracked-mutation-revert.r1.md
  artifacts/feat-3575/impl/revert-tracked-mutation-on-existing-invoice-import-failure.r1.md
  artifacts/feat-3575/review/add-regression-test-for-tracked-mutation-revert.r1.md
  artifacts/feat-3575/review/revert-tracked-mutation-on-existing-invoice-import-failure.r1.md
  artifacts/feat-3575/spec.r1.md
  artifacts/feat-3575/spec.r2.md
  artifacts/feat-3575/state.json
  artifacts/feat-3575/task-context/add-regression-test-for-tracked-mutation-revert.md
  artifacts/feat-3575/task-context/revert-tracked-mutation-on-existing-invoice-import-failure.md
  artifacts/feat-3575/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/InvoiceImportService.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportRealChangeTrackerTests.cs
Due: backend, Backend (.NET)

fix(usermanagement): catch abstraction types instead of SDK types in GraphArticleUserResolver (#3574)
  backend/src/Anela.Heblo.Application/Features/UserManagement/Infrastructure/GraphArticleUserResolver.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: backend, Backend (.NET)

#3567: Fix onSuccess invalidation key in useEnqueueInvoiceImport (#3573)
  artifacts/feat-3567/arch-review.r1.md
  artifacts/feat-3567/brief.md
  artifacts/feat-3567/code-review.r1.md
  artifacts/feat-3567/design.r1.md
  artifacts/feat-3567/impl/fix-invalidation-key-and-add-test.r1.md
  artifacts/feat-3567/review/fix-invalidation-key-and-add-test.r1.md
  artifacts/feat-3567/spec.r1.md
  artifacts/feat-3567/state.json
  artifacts/feat-3567/task-context/fix-invalidation-key-and-add-test.md
  artifacts/feat-3567/task-plan.r1.md
  frontend/src/api/hooks/__tests__/useAsyncInvoiceImport.test.ts
  frontend/src/api/hooks/useAsyncInvoiceImport.ts
Due: frontend, Frontend (React)

#3565: dedupe IsCriticalError predicate between entity and repository (#3572)
  artifacts/feat-3565/arch-review.r1.md
  artifacts/feat-3565/brief.md
  artifacts/feat-3565/code-review.r1.md
  artifacts/feat-3565/design.r1.md
  artifacts/feat-3565/impl/dedupe-invoice-critical-error-predicate.r1.md
  artifacts/feat-3565/review/dedupe-invoice-critical-error-predicate.r1.md
  artifacts/feat-3565/spec.r1.md
  artifacts/feat-3565/state.json
  artifacts/feat-3565/task-context/dedupe-invoice-critical-error-predicate.md
  artifacts/feat-3565/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceTests.cs
Due: backend, Backend (.NET)

chore(feat-3610): brief
  artifacts/feat-3610/brief.md
  artifacts/feat-3610/state.json
Due: none

fix(smartsupp): stamp REST-staged contact timestamps as Utc so Messenger chats ingest (#3622)
  backend/src/Anela.Heblo.Persistence/Anela.Heblo.Persistence.csproj
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppContactMappingTests.cs
  memory/gotchas/smartsupp-staged-contact-datetime-kind.md
Due: backend, Backend (.NET)

chore(feat-3610): analyzing artifact
  artifacts/feat-3610/spec.r1.md
  artifacts/feat-3610/state.json
Due: none

chore(feat-3610): architecting artifact
  artifacts/feat-3610/arch-review.r1.md
  artifacts/feat-3610/state.json
Due: none

chore(feat-3610): planning artifact
  artifacts/feat-3610/state.json
  artifacts/feat-3610/task-plan.r1.md
Due: none

chore(feat-3610): task context
  artifacts/feat-3610/state.json
  artifacts/feat-3610/task-context/extract-compute-package-metrics-helper.md
Due: none

fix: extract duplicated gift-package metric calculation into ComputePackageMetrics helper
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
Due: backend, Backend (.NET)

chore(feat-3610): impl+review for extract-compute-package-metrics-helper r1
  artifacts/feat-3610/impl/extract-compute-package-metrics-helper.r1.md
  artifacts/feat-3610/review/extract-compute-package-metrics-helper.r1.md
  artifacts/feat-3610/state.json
Due: none

chore(feat-3610): finalize pipeline artifacts
  artifacts/feat-3610/state.json
Due: none

chore(feat-3610): code review r1
  artifacts/feat-3610/code-review.r1.md
  artifacts/feat-3610/state.json
Due: none

implement feat-3610
  artifacts/feat-3610/state.json
Due: none

chore(harness): update AgentHarness to 0.16.3 and adapt setup to copy-based init
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/ensure_pr_linked.sh
  scripts/setup-cloud-env.sh
Due: none

chore(harness): update AgentHarness to 0.16.3 and adapt setup to copy-based init (#3625)
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/ensure_pr_linked.sh
  scripts/setup-cloud-env.sh
Due: none
