Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-map-ms365-outlook-categories-to-marketin/brief.md
  artifacts/feat-map-ms365-outlook-categories-to-marketin/brief.md
Due: none

agent: upload artifacts/feat-map-ms365-outlook-categories-to-marketin/spec.r1.md
  artifacts/feat-map-ms365-outlook-categories-to-marketin/spec.r1.md
Due: none

agent: upload artifacts/feat-map-ms365-outlook-categories-to-marketin/arch-review.r1.md
  artifacts/feat-map-ms365-outlook-categories-to-marketin/arch-review.r1.md
Due: none

agent: upload artifacts/feat-map-ms365-outlook-categories-to-marketin/design.r1.md
  artifacts/feat-map-ms365-outlook-categories-to-marketin/design.r1.md
Due: none

agent: upload artifacts/feat-map-ms365-outlook-categories-to-marketin/task-plan.r1.md
  artifacts/feat-map-ms365-outlook-categories-to-marketin/task-plan.r1.md
Due: none

feat: add CategoryMappings and OutgoingCategories to MarketingCalendarOptions
  backend/src/Anela.Heblo.Application/Features/Marketing/Configuration/MarketingCalendarOptions.cs
Due: backend, Backend (.NET)

feat: introduce IMarketingCategoryMapper and CategoryMappingResult contract
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/IMarketingCategoryMapper.cs
Due: backend, Backend (.NET)

feat: implement MarketingCategoryMapper with hot reload and case-insensitive lookup
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCategoryMapper.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCategoryMapperTests.cs
Due: backend, Backend (.NET)

feat: register IMarketingCategoryMapper and add round-trip startup validation
  backend/src/Anela.Heblo.Application/Features/Marketing/MarketingModule.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingModuleValidationTests.cs
Due: backend, Backend (.NET)

feat: add UnmappedCategories to ImportFromOutlookResponse
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/ImportFromOutlookRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
Due: backend, Backend (.NET)

test: update ImportFromOutlookHandlerTests to inject IMarketingCategoryMapper mock
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
Due: none

feat: wire IMarketingCategoryMapper into ImportFromOutlookHandler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/ImportFromOutlookHandler.cs
Due: backend, Backend (.NET)

feat: wire IMarketingCategoryMapper into OutlookCalendarSyncService
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/OutlookCalendarSyncService.cs
  backend/test/Anela.Heblo.Tests/Marketing/OutlookCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

feat: add CategoryMappings and OutgoingCategories template to appsettings.json
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

chore: regenerate OpenAPI TypeScript client with unmappedCategories field
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

fix: add [Required] to UnmappedCategories for OpenAPI schema correctness
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/ImportFromOutlookRequest.cs
Due: backend, Backend (.NET)

feat: create UnmappedCategoriesPanel component with tests
  frontend/src/components/marketing/detail/UnmappedCategoriesPanel.tsx
  frontend/src/components/marketing/detail/__tests__/UnmappedCategoriesPanel.test.tsx
Due: frontend, Frontend (React)

feat: wire UnmappedCategoriesPanel into ImportFromOutlookModal
  frontend/src/api/hooks/useMarketingCalendar.ts
  frontend/src/components/marketing/detail/ImportFromOutlookModal.tsx
  frontend/src/components/marketing/detail/__tests__/ImportFromOutlookModal.test.tsx
Due: frontend, Frontend (React)

fix: remove contradictory optional chain and non-null assertion on unmappedCategories
  frontend/src/api/hooks/useMarketingCalendar.ts
  frontend/src/components/marketing/detail/ImportFromOutlookModal.tsx
Due: frontend, Frontend (React)

agent: developer output feat-map-ms365-outlook-categories-to-marketin-dev-main
  frontend/package-lock.json
Due: none

agent: upload artifacts/feat-map-ms365-outlook-categories-to-marketin/impl/main.r1.md
  artifacts/feat-map-ms365-outlook-categories-to-marketin/impl/main.r1.md
Due: none

fix: avoid disposed LoggerFactory in ProductExportDownloadJob attribute test
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Infrastructure/Jobs/ProductExportDownloadJobTests.cs
Due: none

fix: product size printed with larger font
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

fix: product size printed with larger font (#876)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
Due: backend, Backend (.NET)

fix: parity tests
  .claude/skills/submit/SKILL.md
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/IssuedInvoiceMapping.cs
Due: backend, Backend (.NET)

fix: use toPay for DQT TotalWithVat to respect invoice rounding
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

fix: address code review feedback on toPay guard in ShoptetInvoiceMapper
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

docs: document toPay vs withVat distinction for DQT in shoptet-api.md
  docs/integrations/shoptet-api.md
Due: none

test: add rounding scenario to InvoiceDqtComparerTests
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtComparerTests.cs
Due: none

refactor: eliminate mutation of InvoicePrice in ShoptetInvoiceMapper.Map
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
Due: backend, Backend (.NET)

fix: make marketing action modal wider with larger description textarea
  frontend/src/components/marketing/detail/MarketingActionModal.tsx
Due: frontend, Frontend (React)

fix: use toPay for DQT TotalWithVat to respect invoice rounding (#877)
  .claude/skills/submit/SKILL.md
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/IssuedInvoiceMapping.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtComparerTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

docs: add leaflet generator design spec
  docs/features/2026-04-30-leaflet-generator-design.md
Due: none

feat: upload brief for feat-feat-leaflet-generator-two-stage-rag-fro
  artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/brief.md
Due: none

agent: upload artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/spec.r1.md
  artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/spec.r1.md
Due: none

agent: upload artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/arch-review.r1.md
  artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/arch-review.r1.md
Due: none

feat: map MS365 Outlook categories to marketing action types
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Marketing/Configuration/MarketingCalendarOptions.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/ImportFromOutlookRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/MarketingModule.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCategoryMapper.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/ImportFromOutlookHandler.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/OutlookEventImportMapper.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingActionType.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingModuleValidationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCategoryMapperTests.cs
  backend/test/Anela.Heblo.Tests/Marketing/OutlookCalendarSyncServiceTests.cs
  frontend/src/components/marketing/calendar/__tests__/fullcalendarAdapters.test.ts
  frontend/src/components/marketing/calendar/fullcalendarAdapters.ts
  frontend/src/components/marketing/detail/__tests__/MarketingActionModal.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/design.r1.md
  artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/design.r1.md
Due: none

agent: upload artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/task-plan.r1.md
  artifacts/feat-feat-leaflet-generator-two-stage-rag-fro/task-plan.r1.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
