Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

test: cover ManufactureBasedMaterialCostProvider FR-1 routing for manufactured types
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProviderTests.cs
Due: none

test: cover ManufactureBasedMaterialCostProvider FR-9 GetCostsAsync filtering
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProviderTests.cs
Due: none

test: cover ManufactureBasedMaterialCostProvider FR-11 error log + rethrow on cache failure
  docs/superpowers/plans/2026-06-15-manufacturebased-material-cost-provider-tests.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-upsertasync-has-/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/spec.r1.md
Due: none

agent: architect output feat-arch-review-gridlayouts-upsertasync-has--architecting-1
  docs/superpowers/plans/2026-06-08-gridlayout-upsertasync-atomic.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-upsertasync-has-/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/arch-review.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-manufacturebasedmat/impl/main.r1.md
  artifacts/feat-coverage-gap-catalog-manufacturebasedmat/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-upsertasync-has-/task-plan.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/task-plan.r1.md
Due: none

docs: track GridLayoutRepository in raw-SQL/EF drift gotcha
  memory/gotchas/raw-sql-insert-must-match-ef-mapping.md
Due: none

test: scaffold GridLayoutRepository upsert integration test
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryUpsertIntegrationTests.cs
Due: none

test: cover GridLayoutRepository upsert insert and update paths
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryUpsertIntegrationTests.cs
Due: none

test: reproduce GridLayoutRepository upsert race on duplicate key
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryUpsertIntegrationTests.cs
Due: none

test: cover concurrent updates and single-statement invariant for upsert
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryUpsertIntegrationTests.cs
Due: none

test: cover cancellation and translator path on upsert
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryUpsertIntegrationTests.cs
Due: none

fix: make GridLayoutRepository.UpsertAsync atomic via ON CONFLICT
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
Due: backend, Backend (.NET)

test: drop in-memory upsert translation tests superseded by integration
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryTranslationTests.cs
Due: none

agent: upload artifacts/feat-coverage-gap-invoiceclassification-rules/brief.md
  artifacts/feat-coverage-gap-invoiceclassification-rules/brief.md
Due: none

agent: upload artifacts/feat-coverage-gap-manufacture-manufactureorde/brief.md
  artifacts/feat-coverage-gap-manufacture-manufactureorde/brief.md
Due: none

agent: upload artifacts/feat-coverage-gap-invoiceclassification-rules/spec.r1.md
  artifacts/feat-coverage-gap-invoiceclassification-rules/spec.r1.md
Due: none

agent: developer output feat-arch-review-gridlayouts-upsertasync-has--dev-main
  docs/superpowers/plans/2026-06-15-atomic-gridlayout-upsert.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-upsertasync-has-/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-invoiceclassification-rules/arch-review.r1.md
  artifacts/feat-coverage-gap-invoiceclassification-rules/arch-review.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-manufacture-manufactureorde/spec.r1.md
  artifacts/feat-coverage-gap-manufacture-manufactureorde/spec.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-manufacture-manufactureorde/arch-review.r1.md
  artifacts/feat-coverage-gap-manufacture-manufactureorde/arch-review.r1.md
Due: none

fix: weather forecast no longer requires admin.administration.read on expedition settings
  backend/src/Anela.Heblo.API/Controllers/WeatherForecastController.cs
  backend/test/Anela.Heblo.Tests/Authorization/WeatherForecastControllerAuthorizationTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-coverage-gap-invoiceclassification-rules/task-plan.r1.md
  artifacts/feat-coverage-gap-invoiceclassification-rules/task-plan.r1.md
Due: none

test: add InvoiceClassificationFixtures helper for rule and engine tests
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/TestHelpers/InvoiceClassificationFixtures.cs
Due: none

agent: upload artifacts/feat-coverage-gap-manufacture-manufactureorde/task-plan.r1.md
  artifacts/feat-coverage-gap-manufacture-manufactureorde/task-plan.r1.md
Due: none

test: add AmountClassificationRule operator and edge-case coverage
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/Rules/AmountClassificationRuleTests.cs
Due: none

fix: weather forecast no longer requires admin.administration.read on expedition settings (#3141)
  backend/src/Anela.Heblo.API/Controllers/WeatherForecastController.cs
  backend/test/Anela.Heblo.Tests/Authorization/WeatherForecastControllerAuthorizationTests.cs
Due: backend, Backend (.NET)

test: add CompanyNameClassificationRule regex + fallback coverage
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/Rules/CompanyNameClassificationRuleTests.cs
Due: none

fix: guard array-method call sites against contract drift (telemetry r.filter) (#3055)
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/arch-review.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/audit-notes.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/brief.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/impl/main.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/spec.r1.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/symbol-resolution.md
  artifacts/feat-telemetry-frontend-typeerror-r-filter-on/task-plan.r1.md
  docs/superpowers/plans/2026-06-13-frontend-typeerror-r-filter-on.md
  frontend/src/components/dashboard/DashboardSettings.tsx
  frontend/src/components/dashboard/__tests__/DashboardSettings.test.tsx
  frontend/src/components/pages/Dashboard.tsx
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
Due: frontend, Frontend (React)

feat: Atomic GridLayout Upsert (#3136)
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/brief.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-upsertasync-has-/task-plan.r1.md
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryTranslationTests.cs
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryUpsertIntegrationTests.cs
  docs/superpowers/plans/2026-06-08-gridlayout-upsertasync-atomic.md
  docs/superpowers/plans/2026-06-15-atomic-gridlayout-upsert.md
  memory/gotchas/raw-sql-insert-must-match-ef-mapping.md
Due: backend, Backend (.NET)

feat: Unit Test Coverage for ManufactureBasedMaterialCostProvider (#3129)
  artifacts/feat-coverage-gap-catalog-manufacturebasedmat/arch-review.r1.md
  artifacts/feat-coverage-gap-catalog-manufacturebasedmat/brief.md
  artifacts/feat-coverage-gap-catalog-manufacturebasedmat/impl/main.r1.md
  artifacts/feat-coverage-gap-catalog-manufacturebasedmat/spec.r1.md
  artifacts/feat-coverage-gap-catalog-manufacturebasedmat/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProviderTests.cs
  docs/superpowers/plans/2026-06-15-manufacturebased-material-cost-provider-tests.md
Due: none

feat: Fix OrgChartController Error Response Contract (#3093)
  artifacts/feat-arch-review-orgchart-controller-error-pa/answers.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/arch-review.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/brief.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/impl/main.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/spec.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/spec.r2.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
  backend/test/Anela.Heblo.Tests/Features/OrgChart/OrgChartControllerTests.cs
  docs/superpowers/plans/2026-06-04-fix-orgchart-error-contract.md
Due: backend, Backend (.NET)

test: add DescriptionClassificationRule regex + fallback coverage
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/Rules/DescriptionClassificationRuleTests.cs
Due: none

test: add ItemDescriptionClassificationRule items-iteration coverage
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/Rules/ItemDescriptionClassificationRuleTests.cs
Due: none

test: add RuleEvaluationEngine ordering, filtering, and short-circuit coverage
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/Services/RuleEvaluationEngineTests.cs
Due: none

feat(bank): add BankImportState watermark entity
  backend/src/Anela.Heblo.Domain/Features/Bank/BankImportState.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankImportStateTests.cs
Due: backend, Backend (.NET)

feat(bank): add IBankImportStateRepository abstraction
  backend/src/Anela.Heblo.Domain/Features/Bank/IBankImportStateRepository.cs
Due: backend, Backend (.NET)
