Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-3479): architecting artifact
  artifacts/feat-3479/arch-review.r1.md
  artifacts/feat-3479/state.json
Due: none

chore(feat-3478): impl for response-error-constructor r1
  artifacts/feat-3478/impl/response-error-constructor.r1.md
  artifacts/feat-3478/state.json
Due: none

chore(feat-3478): review for response-error-constructor r1
  artifacts/feat-3478/review/response-error-constructor.r1.md
Due: none

chore(feat-3479): planning artifact
  artifacts/feat-3479/state.json
  artifacts/feat-3479/task-plan.r1.md
Due: none

#3478: GenerateLeafletHandler returns LeafletEmptyRetrieval error instead of throwing
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GenerateLeafletHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3479): task context
  artifacts/feat-3479/state.json
  artifacts/feat-3479/task-context/dark-mode-leaflet-documents-tab.md
  artifacts/feat-3479/task-context/dark-mode-leaflet-generate-tab.md
  artifacts/feat-3479/task-context/dark-mode-leaflet-generator-page.md
Due: none

chore(feat-3478): impl for handler-returns-response r1
  artifacts/feat-3478/impl/handler-returns-response.r1.md
  artifacts/feat-3478/state.json
Due: none

chore(feat-3478): review for handler-returns-response r1
  artifacts/feat-3478/review/handler-returns-response.r1.md
Due: none

#3478: LeafletController.Generate delegates to HandleResponse, drops try/catch
  backend/src/Anela.Heblo.API/Controllers/LeafletController.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/LeafletControllerTests.cs
Due: backend, Backend (.NET)

chore(feat-3478): impl for controller-drops-trycatch r1
  artifacts/feat-3478/impl/controller-drops-trycatch.r1.md
  artifacts/feat-3478/state.json
Due: none

chore(feat-3478): review for controller-drops-trycatch r1
  artifacts/feat-3478/review/controller-drops-trycatch.r1.md
Due: none

feat(feat-3479): add dark mode variants to LeafletDocumentsTab
  frontend/src/features/leaflet-generator/LeafletDocumentsTab.tsx
Due: frontend, Frontend (React)

#3478: LeafletTools.GenerateLeaflet inspects response.Success instead of catching EmptyRetrievalException
  backend/src/Anela.Heblo.API/MCP/Tools/LeafletTools.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/LeafletToolsTests.cs
Due: backend, Backend (.NET)

chore(feat-3478): impl for mcp-tool-inspects-response r1
  artifacts/feat-3478/impl/mcp-tool-inspects-response.r1.md
  artifacts/feat-3478/state.json
Due: none

chore(feat-3478): review for mcp-tool-inspects-response r1
  artifacts/feat-3478/review/mcp-tool-inspects-response.r1.md
Due: none

chore(feat-3479): impl+review for dark-mode-leaflet-documents-tab r1
  artifacts/feat-3479/impl/dark-mode-leaflet-documents-tab.r1.md
  artifacts/feat-3479/review/dark-mode-leaflet-documents-tab.r1.md
  artifacts/feat-3479/state.json
Due: none

#3478: delete dead EmptyRetrievalException type
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/EmptyRetrievalException.cs
Due: backend, Backend (.NET)

chore(feat-3478): impl+review for remove-exception-and-tests r1
  artifacts/feat-3478/impl/remove-exception-and-tests.r1.md
  artifacts/feat-3478/review/remove-exception-and-tests.r1.md
  artifacts/feat-3478/state.json
Due: none

Add dark mode variants to LeafletGeneratorPage tab shell
  frontend/src/features/leaflet-generator/LeafletGeneratorPage.tsx
Due: frontend, Frontend (React)

chore(feat-3479): impl+review for dark-mode-leaflet-generator-page r1
  artifacts/feat-3479/impl/dark-mode-leaflet-generator-page.r1.md
  artifacts/feat-3479/review/dark-mode-leaflet-generator-page.r1.md
  artifacts/feat-3479/state.json
Due: none

Add dark mode variants to LeafletGenerateTab error banners and skeleton
  frontend/src/features/leaflet-generator/LeafletGenerateTab.tsx
Due: frontend, Frontend (React)

#3478: LeafletGenerateTab detects LeafletEmptyRetrieval via errorCode instead of HTTP status
  frontend/src/api/generated/api-client.ts
  frontend/src/features/leaflet-generator/LeafletGenerateTab.tsx
  frontend/src/features/leaflet-generator/__tests__/LeafletGenerateTab.test.tsx
Due: frontend, Frontend (React)

chore(feat-3479): impl+review for dark-mode-leaflet-generate-tab r1
  artifacts/feat-3479/impl/dark-mode-leaflet-generate-tab.r1.md
  artifacts/feat-3479/review/dark-mode-leaflet-generate-tab.r1.md
  artifacts/feat-3479/state.json
Due: none

chore(feat-3479): finalize pipeline artifacts
  artifacts/feat-3479/state.json
Due: none

chore(feat-3478): impl for frontend-error-branch-fix r1
  artifacts/feat-3478/impl/frontend-error-branch-fix.r1.md
  artifacts/feat-3478/state.json
Due: none

chore(feat-3478): review for frontend-error-branch-fix r1
  artifacts/feat-3478/review/frontend-error-branch-fix.r1.md
Due: none

chore(feat-3478): finalize pipeline artifacts
  artifacts/feat-3478/state.json
Due: none

chore(feat-3479): code review r1
  artifacts/feat-3479/code-review.r1.md
  artifacts/feat-3479/state.json
Due: none

chore(feat-3479): final checkpoint state
  artifacts/feat-3479/state.json
Due: none

chore(feat-3478): code review r1
  artifacts/feat-3478/code-review.r1.md
  artifacts/feat-3478/state.json
Due: none

implement feat-3478
  artifacts/feat-3478/state.json
Due: none

Move IDocumentTextExtractor/IOneDriveService DI registration from KnowledgeBaseModule to SharedRagModule
  artifacts/feat-3477/state.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Shared/Rag/SharedRagModule.cs
Due: backend, Backend (.NET)

Remove now-unused Domain.Shared using from KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

chore(feat-3477): impl+review for move-di-registration-to-sharedragmodule r1
  artifacts/feat-3477/impl/move-di-registration-to-sharedragmodule.r1.md
  artifacts/feat-3477/review/move-di-registration-to-sharedragmodule.r1.md
Due: none

Remove resolved Leaflet->KnowledgeBase allowlist entries; dotnet format pass
  artifacts/feat-3477/state.json
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

chore(feat-3477): impl+review for clean-boundary-allowlist-and-verify r1
  artifacts/feat-3477/impl/clean-boundary-allowlist-and-verify.r1.md
  artifacts/feat-3477/review/clean-boundary-allowlist-and-verify.r1.md
Due: none

chore(feat-3477): finalize pipeline artifacts
  artifacts/feat-3477/state.json
Due: none

chore(feat-3477): code review r1
  artifacts/feat-3477/code-review.r1.md
  artifacts/feat-3477/state.json
Due: none

chore(feat-3477): final checkpoint state
  artifacts/feat-3477/state.json
Due: none

fix: send shipment package dimensions to Shoptet in centimetres (#3473)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShipmentCreation.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShipmentLabelsSettings.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/UseCases/CreateOrderShipment/CreateOrderShipmentHandler.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderPackerTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShipmentLabels/CreateOrderShipmentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Configuration/GetConfigurationHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/ScanPackingOrderHandlerPackagePersistenceTests.cs
  docs/features/packaging.md
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)
