Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/arch-review.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/task-plan.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/task-plan.r1.md
Due: none

feat: Remove Dead `TagRulePatternTranslator` and Sync Photobank Tag Rules Documentation (#2183)
  artifacts/feat-arch-review-photobank-tagrulepatterntran/impl/main.r1.md
  backend/src/Anela.Heblo.Domain/Features/Photobank/TagRulePatternTranslator.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/TagRulePatternTranslatorTests.cs
  docs/features/photobank.md
Due: backend, Backend (.NET)

feat: Refactor PhotobankIndexJob to use IPhotobankRepository (#2182)
  artifacts/feat-arch-review-photobank-photobankindexjob-/impl/main.r1.md
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankIndexJob.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankIndexJobTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-hangfirejobre/brief.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/brief.md
Due: none

agent: upload artifacts/feat-arch-review-backgroundjobs-hangfirejobre/spec.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/spec.r1.md
Due: none

feat: add IArticleKnowledgeSource contract to Article/Contracts
  backend/src/Anela.Heblo.Application/Features/Article/Contracts/IArticleKnowledgeSource.cs
Due: backend, Backend (.NET)

refactor(logistics): extract ResolveDateRange helper in GiftPackageManufactureService
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-hangfirejobre/arch-review.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/arch-review.r1.md
Due: none

feat: implement KnowledgeBaseArticleKnowledgeSource adapter
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/KnowledgeBaseArticleKnowledgeSource.cs
Due: backend, Backend (.NET)

docs(terminal): add scan-shell design handoff + implementation plan
  docs/superpowers/plans/2026-06-01-terminal-scan-shell.md
  docs/superpowers/specs/2026-06-01-terminal-scan-shell-design.md
Due: none

feat: register IArticleKnowledgeSource binding in KnowledgeBaseModule
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

refactor: replace IMediator KB dispatch in GatherContextStep with IArticleKnowledgeSource
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/GatherContextStep.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-hangfirejobre/task-plan.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/task-plan.r1.md
Due: none

feat(terminal): add scan-shell feedback-pale + scan-accent tokens
  frontend/tailwind.config.js
Due: none

refactor(analytics): move MarginCalculationResult from Domain to Application layer
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculationResult.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/AnalyticsProduct.cs
  docs/superpowers/plans/2026-05-27-margin-calculator-abstractions.md
Due: backend, Backend (.NET)

test: update GatherContextStepTests to use Mock<IArticleKnowledgeSource>
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GatherContextStepTests.cs
Due: none

feat(terminal): add scan-shell shared types
  frontend/src/components/terminal/shell/types.ts
Due: frontend, Frontend (React)

refactor: remove unused GetGroupMarginTotalsAsync from IAnalyticsRepository
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/IAnalyticsRepository.cs
Due: backend, Backend (.NET)

feat(terminal): add ScanProvider wedge singleton + useScanScreen
  frontend/src/components/terminal/shell/ScanProvider.tsx
  frontend/src/components/terminal/shell/__tests__/ScanProvider.test.tsx
  frontend/src/components/terminal/shell/useScanScreen.ts
Due: frontend, Frontend (React)

feat(terminal): add FlashOverlay scan-feedback wash
  frontend/src/components/terminal/shell/FlashOverlay.tsx
  frontend/src/components/terminal/shell/__tests__/FlashOverlay.test.tsx
Due: frontend, Frontend (React)

refactor: move dashboard tile registrations to owning modules
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
Due: backend, Backend (.NET)

test: add unit tests for KnowledgeBaseArticleKnowledgeSource adapter
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseArticleKnowledgeSourceTests.cs
Due: none

style: remove double blank line in AnalyticsRepository after dead code deletion
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
Due: backend, Backend (.NET)

feat(analytics): move IAnalyticsRepository, IAnalyticsProductSource, DTOs, and enums to Domain layer
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetInvoiceImportStatistics/GetInvoiceImportStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetInvoiceImportStatistics/GetInvoiceImportStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetInvoiceImportStatistics/GetInvoiceImportStatisticsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/BankStatementDateType.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/DailyBankStatementStatistics.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/DailyInvoiceCount.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/IAnalyticsProductSource.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/IAnalyticsRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/ImportDateType.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/AnalyticsRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetInvoiceImportStatisticsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
Due: backend, Backend (.NET)

test: remove Article->KnowledgeBase allowlist entries from ModuleBoundariesTests
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

feat(terminal): add SubjectHeader zone component
  frontend/src/components/terminal/shell/SubjectHeader.tsx
  frontend/src/components/terminal/shell/__tests__/SubjectHeader.test.tsx
Due: frontend, Frontend (React)

feat(terminal): add ScanStrip persistent wedge surface
  frontend/src/components/terminal/shell/ScanStrip.tsx
  frontend/src/components/terminal/shell/__tests__/ScanStrip.test.tsx
Due: frontend, Frontend (React)

test: fix GatherContextStep constructor calls in integration tests after IArticleKnowledgeSource refactor
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GenerateArticleJobTests.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/SourceEnrichmentIntegrationTests.cs
Due: none

feat(terminal): add DockedAction zone component
  frontend/src/components/terminal/shell/DockedAction.tsx
  frontend/src/components/terminal/shell/__tests__/DockedAction.test.tsx
Due: frontend, Frontend (React)

feat(terminal): add BottomSheet + ScanShell layout
  frontend/src/components/terminal/shell/BottomSheet.tsx
  frontend/src/components/terminal/shell/ScanShell.tsx
  frontend/src/components/terminal/shell/__tests__/BottomSheet.test.tsx
  frontend/src/components/terminal/shell/__tests__/ScanShell.test.tsx
Due: frontend, Frontend (React)

feat(analytics): move AnalyticsRepository to Persistence layer, rewire DI
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
  backend/src/Anela.Heblo.Persistence/Features/Analytics/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Features/Analytics/AnalyticsRepositoryTests.cs
Due: backend, Backend (.NET)

refactor(logistics): decouple Logistics module from Catalog-owned interfaces
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/LogisticsCatalogSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/LogisticsStockOperationAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/ILogisticsCatalogSource.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/ILogisticsStockOperationService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/LogisticsStockOperationSource.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/Models/LogisticsCatalogItem.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/Models/LogisticsGiftPackageItem.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxUniquenessTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/LogisticsCatalogSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/LogisticsStockOperationAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-article-gathercontextstep-di-dev-main
  artifacts/feat-arch-review-article-gathercontextstep-di/arch-review.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/spec.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/task-plan.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-gathercontextstep-di/impl/main.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/impl/main.r1.md
Due: none

feat(terminal): mount ScanProvider + FlashOverlay in TerminalLayout
  frontend/src/components/terminal/TerminalLayout.tsx
  frontend/src/components/terminal/__tests__/TerminalLayout.test.tsx
Due: frontend, Frontend (React)

refactor(analytics): seal AnalyticsRepository, fix nullable warning, remove empty Infrastructure folder
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Persistence/Features/Analytics/AnalyticsRepository.cs
Due: backend, Backend (.NET)

test(terminal): satisfy testing-library lint rules in shell tests
  frontend/src/components/terminal/shell/__tests__/BottomSheet.test.tsx
  frontend/src/components/terminal/shell/__tests__/DockedAction.test.tsx
  frontend/src/components/terminal/shell/__tests__/FlashOverlay.test.tsx
  frontend/src/components/terminal/shell/__tests__/ScanProvider.test.tsx
Due: frontend, Frontend (React)

feat(terminal): migrate Kontrola boxu onto ScanShell
  frontend/src/components/terminal/TransportBoxCheck.tsx
  frontend/src/components/terminal/__tests__/TransportBoxCheck.test.tsx
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
