Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-feat-dashboard-tile-yesterday-s-dqt-fail/task-plan.r1.md
  artifacts/feat-feat-dashboard-tile-yesterday-s-dqt-fail/task-plan.r1.md
Due: none

feat: add GetLatestByTestTypeAndCoveredDateAsync to IDqtRunRepository interface
  backend/src/Anela.Heblo.Domain/Features/DataQuality/IDqtRunRepository.cs
Due: backend, Backend (.NET)

feat: implement IDqtRunRepository.GetLatestByTestTypeAndCoveredDateAsync
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunRepository.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/DqtRunRepositoryTests.cs
Due: backend, Backend (.NET)

feat: add DqtYesterdayStatusTile dashboard tile
  backend/src/Anela.Heblo.Application/Features/DataQuality/DashboardTiles/DqtYesterdayStatusTile.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/DashboardTiles/DqtYesterdayStatusTileTests.cs
Due: backend, Backend (.NET)

feat: register DqtYesterdayStatusTile in DashboardModule
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
Due: backend, Backend (.NET)

feat: add DqtYesterdayStatusTile React component
  frontend/src/components/dashboard/tiles/DqtYesterdayStatusTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/DqtYesterdayStatusTile.test.tsx
Due: frontend, Frontend (React)

feat: dispatch dqtyesterdaystatus to DqtYesterdayStatusTile
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/dashboard/tiles/__tests__/TileContent.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-feat-dashboard-tile-yesterday-s-dqt-fail/impl/main.r1.md
  artifacts/feat-feat-dashboard-tile-yesterday-s-dqt-fail/impl/main.r1.md
Due: none

docs: add design spec for Phase 4 unified marketing feedback page (#934)
  docs/superpowers/specs/2026-05-06-unified-marketing-feedback-page-design.md
Due: none

docs: add implementation plan for Phase 4 unified marketing feedback page (#934)
  docs/superpowers/plans/2026-05-06-unified-marketing-feedback-page.md
Due: none

fix: thumbnails
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
Due: backend, Backend (.NET)

fix: parallelize invoice fetches in ClassifyInvoicesHandler
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/ClassifyInvoicesHandlerTests.cs
Due: backend, Backend (.NET)

fix: parallelize invoice fetches in ClassifyInvoicesHandler (#1025)
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/ClassifyInvoicesHandlerTests.cs
Due: backend, Backend (.NET)

feat: add PackingMaterialAllocation and PackingMaterialConsumption domain models
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/IPackingMaterialRepository.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterial.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterialAllocation.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterialConsumption.cs
Due: backend, Backend (.NET)

ci: tag and create GH release only after successful production deploy
  .github/workflows/ci-main-branch.yml
Due: none

fix: address code review issues on domain models task
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/IPackingMaterialRepository.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterialAllocation.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterialConsumption.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialRepository.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockPackingMaterialRepository.cs
Due: backend, Backend (.NET)

feat(photobank): BulkAddPhotoTag use case, repository methods, and handler tests
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/BulkAddPhotoTag/BulkAddPhotoTagHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/BulkAddPhotoTag/BulkAddPhotoTagRequest.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/BulkAddPhotoTag/BulkAddPhotoTagResponse.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Validators/BulkAddPhotoTagRequestValidator.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/BulkAddPhotoTagHandlerTests.cs
Due: backend, Backend (.NET)

fix(photobank): remove redundant EF includes in bulk filter query and duplicate handler guard
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/BulkAddPhotoTag/BulkAddPhotoTagHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/BulkAddPhotoTagHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/BulkAddPhotoTagRequestValidatorTests.cs
Due: backend, Backend (.NET)

fix: simplify GetDetailsByDateAsync to return IssuedInvoice headers (Option B)
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
Due: backend, Backend (.NET)

feat: add EF configurations and migration for PackingMaterialAllocation and PackingMaterialConsumption
  backend/src/Anela.Heblo.Persistence/Migrations/20260507080208_AddPackingMaterialAttribution.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260507080208_AddPackingMaterialAttribution.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialAllocationConfiguration.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialConsumptionConfiguration.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialRepository.cs
Due: backend, Backend (.NET)

feat(photobank): add POST /api/photobank/photos/bulk-tag controller endpoint
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
Due: backend, Backend (.NET)

fix: explicit FK index name and migration refresh for PackingMaterialConsumption
  backend/src/Anela.Heblo.Persistence/Migrations/20260507080841_AddExplicitFkIndexForPackingMaterialConsumption.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260507080841_AddExplicitFkIndexForPackingMaterialConsumption.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialConsumptionConfiguration.cs
Due: backend, Backend (.NET)

feat(photobank): bulk tag button, dialog, hook, and PhotobankPage wiring
  frontend/src/api/hooks/usePhotobank.ts
  frontend/src/components/marketing/photobank/BulkTagButton.tsx
  frontend/src/components/marketing/photobank/BulkTagDialog.tsx
  frontend/src/components/marketing/photobank/__tests__/BulkTagDialog.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: frontend, Frontend (React)

docs(photobank): document bulk-tag feature
  docs/features/photobank.md
Due: none

ci: tag and create GH release only after successful production deploy (#1026)
  .github/workflows/ci-main-branch.yml
Due: none

feat: rewrite ConsumptionCalculationService for per-invoice attribution
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Services/ConsumptionCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Services/IConsumptionCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionHandler.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/ConsumptionCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockIssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockPackingMaterialRepository.cs
Due: backend, Backend (.NET)

feat: replace leaflet_manager and article_generator with genai_user role (backend)
  backend/src/Anela.Heblo.API/Controllers/ArticlesController.cs
  backend/src/Anela.Heblo.API/Controllers/LeafletController.cs
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
Due: backend, Backend (.NET)

fix(photobank): review fixes — apiPost guard, autocomplete close, ARIA modal, button tooltip, tests
  frontend/src/api/hooks/usePhotobank.ts
  frontend/src/components/marketing/photobank/BulkTagButton.tsx
  frontend/src/components/marketing/photobank/BulkTagDialog.tsx
  frontend/src/components/marketing/photobank/__tests__/BulkTagButton.test.tsx
  frontend/src/components/marketing/photobank/__tests__/BulkTagDialog.test.tsx
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: frontend, Frontend (React)

fix: code review fixes on service rewrite (zero-amount rows, rename GetHeadersByDate, DI comment)
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/PackingMaterialsModule.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Services/ConsumptionCalculationService.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockIssuedInvoiceRepository.cs
Due: backend, Backend (.NET)

fix(photobank): add Czech i18n translations for BulkTagFiltersRequired and BulkTagLimitExceeded
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

feat: add Allocation CRUD use cases
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/PackingMaterialAllocationDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/PackingMaterialsModule.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreateAllocation/CreateAllocationHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreateAllocation/CreateAllocationRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreateAllocation/CreateAllocationResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeleteAllocation/DeleteAllocationHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeleteAllocation/DeleteAllocationRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeleteAllocation/DeleteAllocationResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetAllocations/GetAllocationsHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetAllocations/GetAllocationsRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetAllocations/GetAllocationsResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdateAllocation/UpdateAllocationHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdateAllocation/UpdateAllocationRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdateAllocation/UpdateAllocationResponse.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/IPackingMaterialAllocationRepository.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialAllocationRepository.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/AllocationHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockPackingMaterialAllocationRepository.cs
Due: backend, Backend (.NET)

feat(dashboard): add DQT včera tile, resize M tiles to S, fix DataQuality category translation
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventorySummaryTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DashboardTiles/DqtYesterdayStatusTile.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: replace leaflet/article permission hooks with unified useGenAiUserPermission
  frontend/src/api/hooks/useArticles.ts
  frontend/src/api/hooks/useGenAiUserPermission.ts
  frontend/src/api/hooks/useLeaflet.ts
  frontend/src/auth/mockAuth.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/features/articles/ArticleGenerationForm.tsx
  frontend/src/features/leaflet-generator/LeafletGeneratorPage.tsx
  frontend/src/pages/MarketingFeedbackPage.tsx
Due: frontend, Frontend (React)

fix: duplicate ProductCode guard on update + secure error messages
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreateAllocation/CreateAllocationHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeleteAllocation/DeleteAllocationHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetAllocations/GetAllocationsHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdateAllocation/UpdateAllocationHandler.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/AllocationHandlerTests.cs
Due: backend, Backend (.NET)

fix(photobank): gate BulkTagButton on administrator role, not super_user
  frontend/src/components/marketing/photobank/pages/PhotobankPage.tsx
Due: frontend, Frontend (React)

feat: add GetDailyConsumptionBreakdown use case
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreateAllocation/CreateAllocationResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeleteAllocation/DeleteAllocationResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetAllocations/GetAllocationsResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetDailyConsumptionBreakdown/GetDailyConsumptionBreakdownHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetDailyConsumptionBreakdown/GetDailyConsumptionBreakdownRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetDailyConsumptionBreakdown/GetDailyConsumptionBreakdownResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdateAllocation/UpdateAllocationResponse.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/GetDailyConsumptionBreakdownHandlerTests.cs
Due: backend, Backend (.NET)

test: update tests to use useGenAiUserPermission and genai_user role
  frontend/src/features/leaflet-generator/__tests__/LeafletGeneratorPage.test.tsx
  frontend/src/pages/__tests__/MarketingFeedbackPage.test.tsx
  frontend/test/e2e/leaflet-generator/leaflet-doc-management.spec.ts
Due: frontend, Frontend (React)

fix: code review issues on GetDailyConsumptionBreakdown and allocation responses
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/ConsumptionDetailDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/ConsumptionGroupDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreateAllocation/CreateAllocationResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetAllocations/GetAllocationsResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetDailyConsumptionBreakdown/GetDailyConsumptionBreakdownHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetDailyConsumptionBreakdown/GetDailyConsumptionBreakdownResponse.cs
Due: backend, Backend (.NET)

test: add genai-only access path test for MarketingFeedbackPage
  frontend/src/pages/__tests__/MarketingFeedbackPage.test.tsx
Due: frontend, Frontend (React)

docs: update auth role references to genai_user
  docs/features/2026-04-30-leaflet-generator-design.md
  docs/features/article-generation.md
  docs/features/leaflet-generator.md
Due: none
