Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: implement enhanced StockUpOperations filtering and drill-through navigation (#288) (#292)
  backend/src/Anela.Heblo.API/Controllers/StockUpOperationsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetStockUpOperationsHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useStockUpOperations.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/TransportBoxDetail.tsx
  frontend/src/pages/StockOperationsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: orderd amount display
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
Due: frontend, Frontend (React)

feat: implement gift package disassembly feature (#293)
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageDisassemblyDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/IGiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/DisassembleGiftPackage/DisassembleGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/DisassembleGiftPackage/DisassembleGiftPackageRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/DisassembleGiftPackage/DisassembleGiftPackageResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/GiftPackageManufacture/GiftPackageManufactureLog.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/GiftPackageManufacture/GiftPackageOperationType.cs
  backend/src/Anela.Heblo.Persistence/Logistics/GiftPackageManufacture/GiftPackageManufactureLogConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260122144607_AddGiftPackageDisassemblyOperationType.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260122144607_AddGiftPackageDisassemblyOperationType.cs
  docs/features/gift-package-manufacture.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useGiftPackageManufacturing.ts
  frontend/src/components/pages/GiftPackageManufacturing/DisassemblyTabContent.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: display effective stock (Available + Ordered) in Purchase Stock Analysis (#290)
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseStockAnalysisHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement gift package disassembly feature (#293) (#294)
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageDisassemblyDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/IGiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/DisassembleGiftPackage/DisassembleGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/DisassembleGiftPackage/DisassembleGiftPackageRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/DisassembleGiftPackage/DisassembleGiftPackageResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/GiftPackageManufacture/GiftPackageManufactureLog.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/GiftPackageManufacture/GiftPackageOperationType.cs
  backend/src/Anela.Heblo.Persistence/Logistics/GiftPackageManufacture/GiftPackageManufactureLogConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260122144607_AddGiftPackageDisassemblyOperationType.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260122144607_AddGiftPackageDisassemblyOperationType.cs
  docs/features/gift-package-manufacture.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useGiftPackageManufacturing.ts
  frontend/src/components/pages/GiftPackageManufacturing/DisassemblyTabContent.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

test: add unit tests for gift package disassembly stock operations
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
Due: none

docs: untracked files
  docs/features/gift-package-manufacture.md
  docs/plans/2026-01-22-gift-package-disassembly-design.md
Due: none

fix: add automatic Git tag creation after successful Docker build
  .github/workflows/ci-main-branch.yml
Due: none

fix: add automatic Git tag creation after successful Docker build (#296)
  .github/workflows/ci-main-branch.yml
Due: none

feature/289-purchase-stock-effective-display (#295)
  docs/features/gift-package-manufacture.md
  docs/plans/2026-01-22-gift-package-disassembly-design.md
Due: none

feat: e2e tests refactoring
  .github/workflows/e2e-nightly-regression.yml
  docs/plans/2026-01-21-cicd-pipeline-redesign.md
  docs/plans/2026-01-21-purchase-stock-display-with-ordered.md
  frontend/playwright.config.ts
  frontend/test/e2e/e2e_test_scenarios.md
Due: none

fix(e2e): add authentication to recurring jobs tests
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
Due: none

fix(e2e): add authentication to dashboard tests
  frontend/test/e2e/dashboard.spec.ts
Due: none

feat: e2e tests refactoring (#301)
  .github/workflows/e2e-nightly-regression.yml
  docs/plans/2026-01-21-cicd-pipeline-redesign.md
  docs/plans/2026-01-21-purchase-stock-display-with-ordered.md
  frontend/playwright.config.ts
  frontend/test/e2e/e2e_test_scenarios.md
Due: none

fix(e2e): add authentication to dashboard tests (#306)
  frontend/test/e2e/dashboard.spec.ts
Due: none

fix(e2e): add authentication to recurring jobs tests (#305)
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
Due: none

fix: changelog JSON generation with proper date extraction
  scripts/generate-changelog.sh
Due: none

fix: changelog JSON generation with proper date extraction (#307)
  scripts/generate-changelog.sh
Due: none

test(e2e): fix catalog margins chart test logic to fail properly
  frontend/test/e2e/catalog-margins-chart.spec.ts
Due: none

test(e2e): improve changelog test reliability with data-testid selectors
  frontend/src/features/changelog/components/ChangelogModal.tsx
  frontend/test/e2e/changelog/changelog.spec.ts
Due: frontend, Frontend (React)

test(e2e): fix catalog margins chart test logic (#308)
  frontend/test/e2e/catalog-margins-chart.spec.ts
Due: none

fix(e2e): improve changelog test reliability with data-testid selectors (#309)
  frontend/src/features/changelog/components/ChangelogModal.tsx
  frontend/test/e2e/changelog/changelog.spec.ts
Due: frontend, Frontend (React)

test(e2e): comprehensive catalog filter testing (#310)
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/helpers/catalog-test-helpers.ts
Due: none

fix: e2e test failing
  .github/workflows/e2e-nightly-regression.yml
  docs/testing/e2e_test_data_requirements.md
  frontend/test/e2e/TEST_FAILURES_ANALYSIS.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/date-handling.spec.ts
Due: none

test(e2e): comprehensive catalog filter testing (#310) (#315)
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/helpers/catalog-test-helpers.ts
Due: none

refactor(e2e): remove date-handling.spec.ts test
  frontend/test/e2e/date-handling.spec.ts
Due: none

test(e2e): add stock operations test helper functions
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
Due: none

refactor(e2e): improve stock operations test helpers code quality
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
Due: none

test(e2e): add navigateToStockOperations helper
  frontend/test/e2e/helpers/e2e-auth-helper.ts
Due: none

test(e2e): add stock operations navigation tests (5 tests)
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
Due: none

test(e2e): add stock operations state filter tests (6 tests)
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
Due: none

test(e2e): add stock operations source type filter tests (3 tests)
  frontend/test/e2e/stock-operations/stock-operations-source-filter.spec.ts
Due: none

test(e2e): add stock operations retry functionality tests (6 tests)
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
Due: none

test(e2e): add stock operations badges and stuck detection tests (7 tests)
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
Due: none

test(e2e): add stock operations column sorting tests (3 tests)
  frontend/test/e2e/stock-operations/stock-operations-sorting.spec.ts
Due: none

test(e2e): add Priority 1 E2E tests for StockOperationsPage (30 tests) (#313) (#329)
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-sorting.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-source-filter.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
Due: none

fix: e2e test failing (#316)
  .github/workflows/e2e-nightly-regression.yml
  docs/testing/e2e_test_data_requirements.md
  frontend/test/e2e/TEST_FAILURES_ANALYSIS.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/date-handling.spec.ts
Due: none

fix(catalog): sync pagination state with URL parameters when clearing filters
  frontend/src/components/pages/CatalogList.tsx
  frontend/src/components/pages/__tests__/CatalogList.test.tsx
Due: frontend, Frontend (React)

test(e2e): use correct staging test data for batch planning tests
  frontend/test/e2e/batch-planning-error-handling.spec.ts
Due: none

fix(catalog): restore filters from URL on browser back/forward navigation
  frontend/src/components/pages/CatalogList.tsx
  frontend/src/components/pages/__tests__/CatalogList.test.tsx
Due: frontend, Frontend (React)
