Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

refactor(manufacture): extract FlexiIngredientRequirementAggregator
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiIngredientRequirementAggregator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiIngredientRequirementAggregator.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract FlexiIngredientStockValidator
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiIngredientStockValidator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiIngredientStockValidator.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FlexiIngredientStockValidatorTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract FlexiLotLoader
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiLotLoader.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiLotLoader.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract FlexiManufactureMovementService
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureMovementService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureMovementService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): introduce UpdateOrderStatusCommand record
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/UpdateOrderStatusCommand.cs
Due: backend, Backend (.NET)

refactor(manufacture): route BoM update through MediatR
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateBoMIngredientAmount/UpdateBoMIngredientAmountHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateBoMIngredientAmount/UpdateBoMIngredientAmountRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateBoMIngredientAmount/UpdateBoMIngredientAmountResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UseCases/UpdateBoMIngredientAmountHandlerTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract ManufactureNameBuilder
  backend/src/Anela.Heblo.Application/AssemblyInfo.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ManufactureNameBuilder.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ManufactureNameBuilderTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): centralize Czech user messages in ManufactureMessages
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureMessages.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract ConfirmSemiProductManufactureWorkflow
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmSemiProductManufactureWorkflow.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmSemiProductManufactureWorkflowTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract ConfirmProductCompletionWorkflow
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflow.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflowTests.cs
Due: backend, Backend (.NET)

fix(manufacture): delete dead UpdateOrderStatusCommand record, add null guard
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ManufactureNameBuilder.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/UpdateOrderStatusCommand.cs
Due: backend, Backend (.NET)

fix(tests): resolve build errors in Shoptet integration test project
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/BlockOrderProcessingIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
Due: none

feat(expedition): tighten batch limits to 15 items and 7 orders max
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShippingMethod.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: backend, Backend (.NET)

feat(shoptet): block-order appends to eshopRemark via PATCH /notes (#525)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShippingMethod.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/OrderListResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/UpdateEshopRemarkRequest.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IEshopOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingHandler.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/BlockOrderProcessingIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetTestGuard.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/PickingListIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/BlockOrderProcessingHandlerTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

feat(changelog): upgrade to gpt-4o and rewrite translation prompt for non-technical staff @claude
  .github/workflows/generate-changelog.yml
Due: none

feat(changelog): upgrade to gpt-4o and rewrite translation prompt for non-technical staff @claude (#528)
  .github/workflows/generate-changelog.yml
Due: none

fix(changelog): apply gpt-4o human-readable prompt to actual production workflow
  .github/workflows/ci-main-branch.yml
  .github/workflows/generate-changelog.yml
Due: none

fix(changelog): apply gpt-4o human-readable prompt to actual production workflow (#529)
  .github/workflows/ci-main-branch.yml
  .github/workflows/generate-changelog.yml
Due: none

fix(auth): add oid claim fallback in CurrentUserService to prevent HTTP 500 on GridLayouts
  backend/src/Anela.Heblo.Application/Features/Users/CurrentUserService.cs
  backend/test/Anela.Heblo.Tests/Features/Users/CurrentUserServiceTests.cs
Due: backend, Backend (.NET)

fix(auth): add oid claim fallback to prevent HTTP 500 on GET GridLayouts (#534)
  backend/src/Anela.Heblo.Application/Features/Users/CurrentUserService.cs
  backend/test/Anela.Heblo.Tests/Features/Users/CurrentUserServiceTests.cs
Due: backend, Backend (.NET)

feat(manufacture): add paging + LOT fields to GetManufactureOrders DTOs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
Due: backend, Backend (.NET)

fix(manufacture): fix error filters and enable stock pre-validation
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureException.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/InsufficientIngredientStockFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureMapping.cs
Due: backend, Backend (.NET)

feat(manufacture): add server-side paging + LOT filter to repository
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
Due: backend, Backend (.NET)

feat(manufacture): add 5 Flexi stock-document fields to ManufactureOrder
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
Due: backend, Backend (.NET)

feat(manufacture): introduce SubmitManufactureClientResponse
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientResponse.cs
Due: backend, Backend (.NET)

fix(manufacture): update ManualActionRequiredTile to use tuple from GetOrdersAsync
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
Due: backend, Backend (.NET)

feat(manufacture): update call sites to use SubmitManufactureClientResponse
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
Due: backend, Backend (.NET)

feat(manufacture): update handler to use paged repository and populate response metadata
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersHandler.cs
Due: backend, Backend (.NET)

style: fix whitespace formatting @claude
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
Due: none

fix: CodeReview @claude
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureDocumentService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureDocumentService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

test(manufacture): add repository LOT filter + pagination tests, update handler mock signatures
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Persistence/Manufacture/ManufactureOrderRepositoryTests.cs
Due: none

feat(ui): extract shared Pagination component, refactor CatalogList to use it
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/__tests__/Pagination.test.tsx
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

feat(manufacture): add pagination + LOT filter to order list frontend @claude
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/manufacture/list/ManufactureOrderFilters.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
Due: frontend, Frontend (React)

test(manufacture): update handler and tile tests for new paged repository signature
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrdersHandlerTests.cs
Due: none

fix(dashboard): prevent null race condition in TileRegistryExtensions
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistryExtensions.cs
Due: backend, Backend (.NET)

fix(manufacture): fix pagination layout - add min-h-0 and overflow-auto to grid container
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
Due: frontend, Frontend (React)

build(deps): bump Rem.FlexiBeeSDK.Client from 0.1.128 to 0.1.129
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
Due: backend, Backend (.NET)

feat(manufacture): add migration for FlexiDoc fields on ManufactureOrder
  backend/src/Anela.Heblo.Persistence/Migrations/20260410145956_AddFlexiDocFieldsToManufactureOrder.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410145956_AddFlexiDocFieldsToManufactureOrder.cs
Due: backend, Backend (.NET)

feat(manufacture): Phase 1 — SDK + Domain + Contracts for Manufacture Protocol PDF (#559)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientResponse.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410145956_AddFlexiDocFieldsToManufactureOrder.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410145956_AddFlexiDocFieldsToManufactureOrder.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistryExtensions.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
Due: backend, Backend (.NET)

fix(security): resolve 7 open Dependabot vulnerabilities in frontend deps
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/utils/exportToXlsx.ts
Due: frontend, Frontend (React)
