Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

Sync AgentHarness agent/skill scaffolding
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

fix: stop Sbalit crashing the mind map, and give every node a card
  frontend/src/components/pages/automation/mindmaps/MindMapCanvas.tsx
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapCanvas.test.tsx
  frontend/src/components/pages/automation/mindmaps/mindMapCanvas.css
Due: frontend, Frontend (React)

style: keep the new mind map tests within the lint baseline
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapCanvas.test.tsx
Due: frontend, Frontend (React)

chore: refresh AgentHarness pipeline scaffolding (agentharness init)
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore: add AgentHarness planning/implementing pipeline scaffolding
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore(feat-3836): impl+review for fix-webhook-replay-identity-resolution r1
  artifacts/feat-3836/state.json
  backend/src/Anela.Heblo.API/Controllers/SmartsuppWebhookAuditController.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ReplayWebhookEvent/ReplayWebhookEventHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ReplayWebhookEvent/ReplayWebhookEventRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/WebhookAudit/ReplayWebhookEventHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3836): add impl+review artifacts for fix-webhook-replay-identity-resolution r1
  artifacts/feat-3836/impl/fix-webhook-replay-identity-resolution.r1.md
  artifacts/feat-3836/review/fix-webhook-replay-identity-resolution.r1.md
Due: none

chore(feat-3836): fix-webhook-replay-identity-resolution passed review
  artifacts/feat-3836/state.json
Due: none

fix: attach sub-branch links to the side of the card, like top-level branches
  frontend/src/components/pages/automation/mindmaps/__tests__/mindElixirTheme.test.ts
  frontend/src/components/pages/automation/mindmaps/mindElixirTheme.ts
Due: frontend, Frontend (React)

chore: refresh AgentHarness skill/agent scaffolding via agentharness init
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore: sync AgentHarness scaffolding (agentharness init)
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore(feat-3836): code review r1
  artifacts/feat-3836/code-review.r1.md
  artifacts/feat-3836/state.json
Due: none

chore(feat-3836): mark code-review phase completed
  artifacts/feat-3836/state.json
Due: none

chore: sync AgentHarness skill/agent scaffolding
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore: refresh AgentHarness scaffolding via agentharness init
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore: sync AgentHarness pipeline scaffolding (agentharness init)
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

feat: teach the mind map updater how meetings should land in the map
  backend/src/Anela.Heblo.Application/Features/MindMaps/Prompts/mindmap-update-skill.md
  backend/src/Anela.Heblo.Application/Features/MindMaps/Services/ClaudeMindMapUpdater.cs
  backend/test/Anela.Heblo.Tests/Features/MindMaps/ClaudeMindMapUpdaterTests.cs
  docs/superpowers/specs/2026-08-10-meeting-mindmap-design.md
Due: backend, Backend (.NET)

chore: refresh AgentHarness skill/agent scaffolding
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore: sync AgentHarness scaffolding via agentharness init
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

chore: refresh AgentHarness skill scaffolding (agentharness init)
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

Replace hand-rolled apiFetch in useCatalogDocuments with generated ApiClient
  artifacts/feat-3873/state.json
  frontend/src/api/hooks/useCatalogDocuments.ts
  frontend/src/components/catalog/detail/tabs/MaterialDocumentsTab.tsx
  frontend/src/components/catalog/detail/tabs/PifDocumentsTab.tsx
  frontend/src/components/catalog/detail/tabs/shared/DocumentList.tsx
  frontend/src/components/catalog/detail/tabs/shared/FolderStatusBanner.tsx
  frontend/src/components/catalog/detail/tabs/shared/__tests__/DocumentList.test.tsx
  frontend/src/components/catalog/detail/tabs/shared/__tests__/FolderStatusBanner.test.tsx
Due: frontend, Frontend (React)

chore(feat-3873): impl+review for replace-apifetch-in-usecatalogdocuments r1
  artifacts/feat-3873/impl/replace-apifetch-in-usecatalogdocuments.r1.md
  artifacts/feat-3873/review/replace-apifetch-in-usecatalogdocuments.r1.md
Due: none

chore(feat-3873): replace-apifetch-in-usecatalogdocuments passed review
  artifacts/feat-3873/state.json
Due: none

docs: design the mind map node editor as a modal
  docs/superpowers/specs/2026-08-11-mindmap-node-editor-modal-design.md
Due: none

docs: plan the mind map node editor modal implementation
  docs/superpowers/plans/2026-08-11-mindmap-node-editor-modal.md
Due: none

fix: normalize REST check-run status/conclusion to uppercase in gh_api.sh
  .claude/skills/_lib/gh_api.sh
Due: none

feat: add a wide modal editor for mind map nodes
  frontend/src/components/pages/automation/mindmaps/MindMapCanvas.tsx
  frontend/src/components/pages/automation/mindmaps/MindMapNodeEditorDialog.tsx
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapNodeEditorDialog.test.tsx
  frontend/src/components/pages/automation/mindmaps/mindMapDocument.ts
Due: frontend, Frontend (React)

chore: refresh AgentHarness skill/agent scaffolding (agentharness init)
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/_lib/gh_api.sh
  .claude/skills/absorb/SKILL.md
  .claude/skills/arch-review/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/chopchop/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/oneshot/SKILL.md
  .claude/skills/oneshot/claim_issue.sh
  .claude/skills/oneshot/ensure_pr_linked.sh
  .claude/skills/plan-next-task/SKILL.md
  .claude/skills/plan-next-task/check_concurrency.sh
  .claude/skills/plan-next-task/claim_issue.sh
  .claude/skills/plan-next-task/find_candidate.sh
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
Due: none

fix: add dark mode classes to node editor dialog's close button
  frontend/src/components/pages/automation/mindmaps/MindMapNodeEditorDialog.tsx
Due: frontend, Frontend (React)

feat: fold the mind map side panel and drop its node tab
  frontend/src/components/pages/automation/mindmaps/MindMapSidePanel.tsx
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapSidePanel.test.tsx
Due: frontend, Frontend (React)

fix: address /automerge-pr review feedback
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankIndexJob.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankIndexJobTests.cs
Due: backend, Backend (.NET)

feat: open the node editor on double-click instead of inline editing
  frontend/src/components/pages/automation/mindmaps/MindMapCanvas.tsx
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapCanvas.test.tsx
Due: frontend, Frontend (React)

fix: stop F2 stacking a second inline editor while one is already open
  frontend/src/components/pages/automation/mindmaps/MindMapCanvas.tsx
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapCanvas.test.tsx
Due: frontend, Frontend (React)

docs: design MCP tools for mind maps
  docs/superpowers/specs/2026-08-11-mindmap-mcp-tools-design.md
Due: none

feat: wire the mind map node editor dialog into the detail page
  frontend/src/components/pages/automation/mindmaps/MindMapDetailPage.tsx
  frontend/src/components/pages/automation/mindmaps/__tests__/MindMapDetailPage.test.tsx
Due: frontend, Frontend (React)

docs: tell the help sheet that double-click now opens the node detail
  frontend/src/components/pages/automation/mindmaps/MindMapHelpSheet.tsx
Due: frontend, Frontend (React)

docs: plan the mind map MCP tools implementation
  docs/superpowers/plans/2026-08-11-mindmap-mcp-tools.md
  docs/superpowers/specs/2026-08-11-mindmap-mcp-tools-design.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
