Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

docs: add weekly-coverage-gap routine documentation with embedded prompt
  docs/routines/weekly-coverage-gap.md
Due: none

agent: upload artifacts/feat-performance-slow-response-times-on-get-p/spec.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/spec.r1.md
Due: none

docs: clarify routine prompt variable assignments and Cobertura aggregation logic
  docs/routines/weekly-coverage-gap.md
Due: none

agent: upload artifacts/feat-coverage-gap-routine-design-spec/impl/main.r1.md
  artifacts/feat-coverage-gap-routine-design-spec/impl/main.r1.md
Due: none

agent: upload artifacts/feat-performance-slow-response-times-on-get-p/arch-review.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/arch-review.r1.md
Due: none

feat: Module (#1109)
  artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/arch-review.r1.md
  artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/brief.md
  artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/impl/main.r1.md
  artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/spec.r1.md
  artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Features/Journal/IJournalRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/src/Anela.Heblo.Xcc/Persistance/PagedResult.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/SearchJournalEntriesHandlerTests.cs
  docs/superpowers/plans/2026-05-12-relocate-pagedresult-to-xcc.md
Due: backend, Backend (.NET)

agent: planner output feat-performance-slow-response-times-on-get-p-planning-1
  docs/superpowers/plans/2026-05-12-photobank-getphotos-performance.md
Due: none

agent: upload artifacts/feat-performance-slow-response-times-on-get-p/task-plan.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/task-plan.r1.md
Due: none

refactor: consolidate time-period bucket code into shared module (#1126)
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Common/TimePeriods/DateRange.cs
  backend/src/Anela.Heblo.Application/Common/TimePeriods/ITimePeriodResolver.cs
  backend/src/Anela.Heblo.Application/Common/TimePeriods/TimePeriod.cs
  backend/src/Anela.Heblo.Application/Common/TimePeriods/TimePeriodResolver.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ConsumptionRateCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IConsumptionRateCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ITimePeriodCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/TimePeriodCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/GetManufacturingStockAnalysisRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Common/TimePeriods/TimePeriodResolverTests.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufacturingStockAnalysisControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ConsumptionRateCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/TimePeriodCalculatorTests.cs
  frontend/src/api/hooks/__tests__/useManufacturingStockAnalysis.test.tsx
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingFilters.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/utils/timePeriod/__tests__/resolve.test.ts
  frontend/src/utils/timePeriod/displayText.ts
  frontend/src/utils/timePeriod/index.ts
  frontend/src/utils/timePeriod/resolve.ts
  frontend/src/utils/timePeriod/timePeriod.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

test(photobank): migrate filter tests to PostgreSQL Testcontainers
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
Due: none

test(photobank): add pg_trgm indexes to filter tests
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
Due: none

refactor: extract JournalEntry→JournalEntryDto projection into shared mapper (#1114)
  artifacts/feat-arch-review-journal-journalentry-journal/arch-review.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/brief.md
  artifacts/feat-arch-review-journal-journalentry-journal/impl/main.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/spec.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/Mapping/JournalEntryMapper.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntries/GetJournalEntriesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntry/GetJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/SearchJournalEntries/SearchJournalEntriesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
Due: backend, Backend (.NET)

test(photobank): pin BuildFilterQuery consumer behavior before refactor
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryBuildFilterQueryConsumerTests.cs
Due: none

feat(photobank): add ModifiedAt+Id, PhotoTags(TagId,PhotoId), pg_trgm GIN indexes
  backend/src/Anela.Heblo.Persistence/Migrations/20260512150628_OptimizePhotobankPhotoQuery.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512150628_OptimizePhotobankPhotoQuery.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotoConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Photobank/PhotoTagConfiguration.cs
Due: backend, Backend (.NET)

perf(photobank): make substring search sargable; fold multi-tag AND into one subquery
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
Due: backend, Backend (.NET)

perf(photobank): split-load tags, deterministic tiebreaker, no-tracking page query
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
Due: backend, Backend (.NET)

test(photobank): 10k-row performance regression guard for GetPhotosAsync
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryPerformanceTests.cs
Due: none

docs(photobank): add deployment runbook for GET photos performance migration
  docs/deployment/photobank-photos-performance-runbook.md
Due: none

fix(photobank): align test DDL index name to IX_Photos_ModifiedAt_Id
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryBuildFilterQueryConsumerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryFilterTests.cs
Due: none

agent: upload artifacts/feat-performance-slow-response-times-on-get-p/impl/main.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-familyentries-on-jou/spec.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/spec.r1.md
Due: none

feat: Module (#1122)
  artifacts/feat-arch-review-journal-deletejournalentryha/arch-review.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/brief.md
  artifacts/feat-arch-review-journal-deletejournalentryha/impl/main.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/spec.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/DeleteJournalEntry/DeleteJournalEntryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/IJournalRepository.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/DeleteJournalEntryHandlerTests.cs
  docs/superpowers/plans/2026-05-12-eliminate-redundant-fetch-delete-journal-entry.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-journal-familyentries-on-jou/arch-review.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-journal-familyentries-on-jou-planning-1
  docs/superpowers/plans/2026-05-12-remove-journal-family-entries.md
Due: none

agent: upload artifacts/feat-arch-review-journal-familyentries-on-jou/task-plan.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/task-plan.r1.md
Due: none

test: pin GetJournalIndicatorsAsync behavior with regression tests
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalRepositoryIntegrationTests.cs
Due: none

test: add TotalEntries invariant assertion to GetJournalIndicatorsAsync recent entry test
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalRepositoryIntegrationTests.cs
Due: none

refactor: drop FamilyEntries from JournalIndicator domain entity
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalIndicator.cs
Due: backend, Backend (.NET)

refactor: drop FamilyEntries from JournalIndicatorDto contract
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalIndicatorDto.cs
Due: backend, Backend (.NET)

chore: collapse orphan blank line in GetJournalIndicatorsAsync
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
Due: backend, Backend (.NET)

chore: drop unused Contracts using in JournalRepositoryIntegrationTests
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalRepositoryIntegrationTests.cs
Due: none

chore: regenerate TS client after architectural changes
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

agent: developer output feat-arch-review-journal-familyentries-on-jou-dev-main
  frontend/package-lock.json
Due: none

agent: upload artifacts/feat-arch-review-journal-familyentries-on-jou/impl/main.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/impl/main.r1.md
Due: none

feat: Coverage Gap Routine — Design Spec (#1129)
  artifacts/feat-coverage-gap-routine-design-spec/arch-review.r1.md
  artifacts/feat-coverage-gap-routine-design-spec/brief.md
  artifacts/feat-coverage-gap-routine-design-spec/spec.r1.md
  artifacts/feat-coverage-gap-routine-design-spec/task-plan.r1.md
  docs/superpowers/plans/2026-05-12-coverage-gap-routine.md
Due: none

refactor: consolidate time-period logic into shared module and update related components
  .agents/architect.md
  docs/routines/daily-arch-review.md
  docs/superpowers/plans/2026-05-12-shared-time-period-module.md
Due: none

feat: add weekly coverage gap routine and CI artifact persistence
  .github/workflows/ci-main-branch.yml
  docs/routines/weekly-coverage-gap.md
Due: none

Telemetry (#1092)
  artifacts/feat-get-invoices-getrunninginvoiceimportjobs/arch-review.r1.md
  artifacts/feat-get-invoices-getrunninginvoiceimportjobs/brief.md
  artifacts/feat-get-invoices-getrunninginvoiceimportjobs/design.r1.md
  artifacts/feat-get-invoices-getrunninginvoiceimportjobs/impl/main.r1.md
  artifacts/feat-get-invoices-getrunninginvoiceimportjobs/spec.r1.md
  artifacts/feat-get-invoices-getrunninginvoiceimportjobs/task-plan.r1.md
  backend/src/Anela.Heblo.API/Extensions/HangfireOptions.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/RecurringJobDiscoveryService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetRunningInvoiceImportJobs/GetRunningInvoiceImportJobsHandler.cs
  backend/src/Anela.Heblo.Xcc/HangfireOptions.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobDiscoveryServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetRunningInvoiceImportJobsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/HangfireBackgroundWorkerTests.cs
  docs/superpowers/plans/2026-05-12-running-import-jobs-perf.md
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
