Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: replace KnowledgeBaseUpload custom claim with role
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/MockAuthenticationHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
Due: backend, Backend (.NET)

feat: refactor AddPersistenceServices to build NpgsqlDataSource once and add regression tests
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Persistence/PersistenceModuleTests.cs
Due: backend, Backend (.NET)

fix: register NpgsqlDataSource as singleton to fix connection pool fragmentation
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

feat: update useKnowledgeBaseUploadPermission to check for knowledge_base_manager role instead of custom claim
  frontend/src/api/hooks/__tests__/useKnowledgeBase.test.ts
  frontend/src/api/hooks/useKnowledgeBase.ts
Due: frontend, Frontend (React)

fix: knowledge base upload broken in local dev — mock auth, Content-Type, null guard, tests
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Controllers/KnowledgeBaseControllerTests.cs
  frontend/src/api/client.ts
  frontend/src/api/hooks/__tests__/useKnowledgeBase.test.ts
  frontend/src/api/hooks/useKnowledgeBase.ts
  frontend/src/auth/mockAuth.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: use mock for dev server
  scripts/start-frontend-dev.sh
Due: none

feat: add sales multiplier for Manufacturing Stock Analysis (#391)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/GetManufacturingStockAnalysisRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisRequestValidatorTests.cs
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: ensure safe access to user roles in mock auth for knowledge base manager check
  frontend/src/api/hooks/useKnowledgeBase.ts
Due: frontend, Frontend (React)

feat: add sales multiplier for Manufacturing Stock Analysis (#391) (#392)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/GetManufacturingStockAnalysisRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufacturingStockAnalysisRequestValidatorTests.cs
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/__tests__/ManufacturingStockAnalysis.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add Quarantine state design spec
  docs/superpowers/specs/2026-03-11-quarantine-state-design.md
Due: none

docs: update Quarantine state spec with reviewer fixes
  docs/superpowers/specs/2026-03-11-quarantine-state-design.md
Due: none

fix: resolve TypeScript boolean return type error in useKnowledgeBaseUploadPermission
  frontend/src/api/hooks/useKnowledgeBase.ts
Due: frontend, Frontend (React)

feat: add Quarantine to TransportBoxState enum
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBoxState.cs
Due: backend, Backend (.NET)

feat: remove Karantena from TransportBoxLocation enum
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBoxLocation.cs
Due: backend, Backend (.NET)

feat: add Quarantine property to StockData, include in Total
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
Due: backend, Backend (.NET)

feat: add Quarantine state to TransportBox domain — ToQuarantine, transitions, IsInQuarantine
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBox.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxStateTransitionTests.cs
Due: backend, Backend (.NET)

feat: add IsInQuarantine to TransportBoxDto and Quarantine Czech label
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/TransportBoxDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxById/GetTransportBoxByIdHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByIdHandlerTests.cs
Due: backend, Backend (.NET)

feat: handle Opened→Quarantine and Quarantine→Received in ChangeTransportBoxStateHandler
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
Due: backend, Backend (.NET)

feat: add Quarantine stock data to CatalogRepository — GetProductsInQuarantine, QuarantineLoadDate, merge
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
Due: backend, Backend (.NET)

feat: add Quarantine state to frontend components
  frontend/src/components/pages/LocationSelectionModal.tsx
  frontend/src/components/pages/__tests__/LocationSelectionModal.test.tsx
  frontend/src/components/transport/box-detail/TransportBoxTypes.tsx
Due: frontend, Frontend (React)

feat: add Quarantine to StockDto and regenerate TypeScript API client
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/StockDto.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add Quarantine quantity column to InventoryList
  frontend/src/components/pages/InventoryList.tsx
Due: frontend, Frontend (React)

feat: add Quarantine column to ManufacturingStockAnalysis
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ItemFilterService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: enhance document upload handling by resolving content type and validating extractor availability
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/UploadDocumentHandlerTests.cs
Due: backend, Backend (.NET)

feat: add Anthropic and OpenAI adapters with configuration options and services
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/Anela.Heblo.Adapters.Anthropic.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicClaudeService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/Anela.Heblo.Adapters.OpenAI.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingService.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/AnthropicClaudeService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentExtractors/PdfTextExtractor.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentExtractors/PlainTextExtractor.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentExtractors/WordDocumentExtractor.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IAnswerService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/PlainTextExtractorTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/WordDocumentExtractorTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/AskQuestionHandlerTests.cs
Due: backend, Backend (.NET)

docs: plan
  docs/superpowers/plans/2026-03-11-quarantine-state.md
Due: none

feat: update document type handling in FlexiManufactureClient
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
Due: backend, Backend (.NET)

fix: remove null logger fallback in IndexDocumentHandler constructor
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/IndexDocumentHandlerTests.cs
Due: backend, Backend (.NET)

fix: Znalostni base -> Knowledgebase
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/pages/KnowledgeBasePage.tsx
Due: frontend, Frontend (React)

fix: remove pointless async/await in AddDocumentAsync
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseRepository.cs
Due: backend, Backend (.NET)

fix: rename _claude to _answerService to avoid leaking concrete provider name
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/AskQuestion/AskQuestionHandler.cs
Due: backend, Backend (.NET)

fix: extract KnowledgeBaseUpload policy name to AuthorizationConstants.Policies
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
Due: backend, Backend (.NET)

fix: restore indentation in Domain.csproj PackageReference
  backend/src/Anela.Heblo.Domain/Anela.Heblo.Domain.csproj
Due: backend, Backend (.NET)

fix: make ResiliencePipeline a static readonly field to avoid rebuilding per scope
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicClaudeService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingService.cs
Due: backend, Backend (.NET)

fix: move hardcoded Anthropic API URL to AnthropicOptions.MessagesUrl
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicOptions.cs
Due: backend, Backend (.NET)

fix: change DocumentStatus from string constants to enum with lowercase EF Core converter
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetDocuments/GetDocumentsHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseDocument.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseDocumentConfiguration.cs
Due: backend, Backend (.NET)

refactor: extract shared chunk-embed-persist loop into DocumentIndexingService (DRY)
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentIndexingService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IDocumentIndexingService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/UploadDocumentHandlerTests.cs
  docs/superpowers/plans/2026-03-12-knowledge-base-code-review-fixes.md
Due: backend, Backend (.NET)

docs: add multi-file knowledge base upload design spec
  docs/superpowers/specs/2026-03-12-multi-file-knowledge-base-upload-design.md
Due: none

fix: backend tests
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/IndexDocumentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/UploadDocumentHandlerTests.cs
Due: none

feat: implement multi-file upload functionality in KnowledgeBaseUploadTab
  frontend/src/components/knowledge-base/KnowledgeBaseUploadTab.tsx
  frontend/src/components/knowledge-base/__tests__/KnowledgeBaseUploadTab.test.tsx
  frontend/src/pages/KnowledgeBasePage.tsx
Due: frontend, Frontend (React)
