Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat(campaigns): Meta Ads adapter + SyncMetaAds handler (#630) (#712)
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/Anela.Heblo.Adapters.MetaAds.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsSettings.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaApiModels.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaTokenRefreshHandler.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/CampaignsModule.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/Infrastructure/Jobs/SyncMetaAdsJob.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncMetaAdsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncMetaAdsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/SyncMetaAdsHandlerTests.cs
Due: backend, Backend (.NET)

feat(data-quality): add domain model — DqtRun, InvoiceDqtResult entities and enums (#706)
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtRun.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtRunStatus.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtTestType.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtTriggerType.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/IDqtRunRepository.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/InvoiceDqtResult.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/InvoiceMismatchType.cs
Due: backend, Backend (.NET)

feat(data-quality): add EF Core persistence — DqtRun configs, repository (#707)
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunConfiguration.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunRepository.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/InvoiceDqtResultConfiguration.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

feat(dqt): add invoice comparison service with unit tests (#698) (#708)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IInvoiceDqtComparer.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtComparer.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceClient.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtComparerTests.cs
Due: backend, Backend (.NET)

fix: date range for iassued invoices
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/ShoptetInvoiceClient.cs
  docs/superpowers/plans/2026-04-22-google-ads-campaign-adapter.md
  docs/superpowers/specs/2026-04-21-dqt-issued-invoice-comparison-design.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useIssuedInvoices.ts
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: visual fix
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: frontend, Frontend (React)

fix: date range for iassued invoices (#719)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/ShoptetInvoiceClient.cs
  docs/superpowers/plans/2026-04-22-google-ads-campaign-adapter.md
  docs/superpowers/specs/2026-04-21-dqt-issued-invoice-comparison-design.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useIssuedInvoices.ts
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(dqt): application layer — DTOs, handlers, job runner, module (#699) (#709)
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/DqtRunDto.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/InvoiceDqtResultDto.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/InvoiceDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IInvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailResponse.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRuns/GetDqtRunsHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRuns/GetDqtRunsRequest.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRuns/GetDqtRunsResponse.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtRequest.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtJobRunnerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/RunDqtHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

test(dqt): add handler unit tests for GetDqtRuns and GetDqtRunDetail (#705) (#710)
  backend/test/Anela.Heblo.Tests/Features/DataQuality/GetDqtRunDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/GetDqtRunsHandlerTests.cs
Due: none

feat(dqt): add DataQualityController with runs endpoints (#701) (#711)
  backend/src/Anela.Heblo.API/Controllers/DataQualityController.cs
Due: backend, Backend (.NET)

feat(data-quality): Frontend API hooks + dashboard tile (#703) (#714)
  frontend/src/api/client.ts
  frontend/src/api/hooks/useDataQuality.ts
  frontend/src/components/dashboard/tiles/DataQualityTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: frontend, Frontend (React)

feat(dqt): add DataQualityStatusTile — dashboard tile backend (#702) (#715)
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DashboardTiles/DataQualityStatusTile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileCategory.cs
Due: backend, Backend (.NET)

feat(dqt): add DataQualityPage + routing + nav (#704) (#716)
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/data-quality/DqtRunDetail.tsx
  frontend/src/components/data-quality/DqtRunsTable.tsx
  frontend/src/components/data-quality/DqtSummaryCards.tsx
  frontend/src/components/data-quality/RunDqtButton.tsx
  frontend/src/pages/customer/DataQualityPage.tsx
Due: frontend, Frontend (React)

feat(campaigns): Google Ads adapter + SyncGoogleAds handler (#631) (#717)
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsClientWrapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/Anela.Heblo.Adapters.MetaAds.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsSettings.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/Infrastructure/Jobs/SyncGoogleAdsJob.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncGoogleAdsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncGoogleAdsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/SyncGoogleAdsHandlerTests.cs
Due: backend, Backend (.NET)

feat(campaigns): add Campaign Query API + CampaignsController
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsClient.cs
  backend/src/Anela.Heblo.API/Controllers/CampaignsController.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDashboard/GetCampaignDashboardHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDashboard/GetCampaignDashboardRequest.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDetail/GetCampaignDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDetail/GetCampaignDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignList/GetCampaignListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignList/GetCampaignListRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/AdSetDetailDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/AdSummaryDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/CampaignDashboardDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/CampaignDetailDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/CampaignSummaryDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/DailySpendDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/ICampaignRepository.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/CampaignRepository.cs
  backend/test/Anela.Heblo.Tests/Application/Campaigns/GetCampaignDashboardHandlerTests.cs
Due: backend, Backend (.NET)

feat(campaigns): add campaign dashboard hooks and components
  frontend/src/components/pages/Campaigns/CampaignAdSetRow.tsx
  frontend/src/components/pages/Campaigns/CampaignSpendChart.tsx
  frontend/src/components/pages/Campaigns/CampaignSummaryCard.tsx
  frontend/src/components/pages/Campaigns/CampaignTable.tsx
  frontend/src/components/pages/Campaigns/CampaignsPage.tsx
  frontend/src/hooks/useCampaignDashboard.ts
  frontend/src/hooks/useCampaignDetail.ts
  frontend/src/hooks/useCampaignList.ts
Due: frontend, Frontend (React)

feat(campaigns): register /campaigns route and Marketing sidebar section @claude
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
Due: frontend, Frontend (React)

feat(manufacture): allow direct semiproduct amount as sellable output
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ResidueDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflow.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/CalculateBatchPlanRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/BatchPlanningServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ResidueDistributionCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflowTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/manufacture/detail/ConfirmationDialogs.tsx
  frontend/src/components/manufacture/detail/ProductsDataGrid.tsx
  frontend/src/components/modals/ConfirmProductCompletionModal.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(campaigns): add Campaign Query API + CampaignsController (#722)
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsClient.cs
  backend/src/Anela.Heblo.API/Controllers/CampaignsController.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDashboard/GetCampaignDashboardHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDashboard/GetCampaignDashboardRequest.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDetail/GetCampaignDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignDetail/GetCampaignDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignList/GetCampaignListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/GetCampaignList/GetCampaignListRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/AdSetDetailDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/AdSummaryDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/CampaignDashboardDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/CampaignDetailDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/CampaignSummaryDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Dtos/DailySpendDto.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/ICampaignRepository.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/CampaignRepository.cs
  backend/test/Anela.Heblo.Tests/Application/Campaigns/GetCampaignDashboardHandlerTests.cs
Due: backend, Backend (.NET)

feat(campaigns): Frontend Campaign Dashboard page (#633) (#723)
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/Campaigns/CampaignAdSetRow.tsx
  frontend/src/components/pages/Campaigns/CampaignSpendChart.tsx
  frontend/src/components/pages/Campaigns/CampaignSummaryCard.tsx
  frontend/src/components/pages/Campaigns/CampaignTable.tsx
  frontend/src/components/pages/Campaigns/CampaignsPage.tsx
  frontend/src/hooks/useCampaignDashboard.ts
  frontend/src/hooks/useCampaignDetail.ts
  frontend/src/hooks/useCampaignList.ts
Due: frontend, Frontend (React)

fix: address code review issues from PR #720
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsSettings.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsSettings.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaTokenRefreshHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/AdSyncHandlerBase.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncMetaAdsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncMetaAdsRequest.cs
Due: backend, Backend (.NET)

feat: add direct semiproduct output fields to domain DTOs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientResponse.cs
Due: backend, Backend (.NET)

feat: add direct semiproduct output fields to application DTOs and mapping
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureMapping.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureResponse.cs
Due: backend, Backend (.NET)

feat: add and implement SubmitDirectSemiProductOutputAsync (tests pending Phase 4 wiring)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureDocumentService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureDocumentService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

feat: call Phase 4 discard document creation from FlexiManufactureClient
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
Due: backend, Backend (.NET)

feat: forward and persist DirectSemiProductOutputDocCode in SubmitManufactureHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
Due: backend, Backend (.NET)

feat: pass direct semiproduct output info from ConfirmProductCompletionWorkflow to submit request
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflow.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflowTests.cs
Due: backend, Backend (.NET)

chore: dotnet format
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetApiInvoiceSourceIntegrationTests.cs
Due: none

feat: create residue semiproduct discard document
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  docs/superpowers/plans/2026-04-23-discard-document-direct-semiproduct-output.md
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(manufacture): allow direct semiproduct amount as sellable output in manufacture orders (#653)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureDocumentService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureDocumentService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ResidueDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflow.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureMapping.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/CalculateBatchPlanRequestValidator.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientResponse.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetApiInvoiceSourceIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/BatchPlanningServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ResidueDistributionCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflowTests.cs
  docs/superpowers/plans/2026-04-23-discard-document-direct-semiproduct-output.md
  frontend/src/api/generated/api-client.ts
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/manufacture/detail/ConfirmationDialogs.tsx
  frontend/src/components/manufacture/detail/ProductsDataGrid.tsx
  frontend/src/components/manufacture/detail/SemiProductSection.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/modals/ConfirmProductCompletionModal.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(dqt): implement FlexiIssuedInvoiceClient.GetAllAsync + unit tests
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiIssuedInvoiceClientGetAllTests.cs
Due: backend, Backend (.NET)

feat(data-quality): add migration for dqt_runs and invoice_dqt_results tables
  backend/src/Anela.Heblo.Persistence/Migrations/20260424060451_AddDataQualityTables.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260424060451_AddDataQualityTables.cs
Due: backend, Backend (.NET)

fix(dqt): resolve duplicate-key crash in CompareItems for items without product codes
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtComparer.cs
Due: backend, Backend (.NET)

docs: add data-quality-dqt.md feature doc
  docs/features/data-quality-dqt.md
Due: none

fix(dqt): prevent ObjectDisposedException in fire-and-forget run
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/RunDqtHandlerTests.cs
Due: backend, Backend (.NET)

feat(skills): add workonepic project-level skill
  .claude/skills/workonepic/SKILL.md
Due: none

feat(skills): add workonepic project-level skill (#736)
  .claude/skills/workonepic/SKILL.md
Due: none

fix(skills): add explicit stop signal with diagnostic messages to workonepic
  .claude/skills/workonepic/SKILL.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
