Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-catalog-unused-ilotsclient-d/brief.md
  artifacts/feat-arch-review-catalog-unused-ilotsclient-d/brief.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-unused-ilotsclient-d/spec.r1.md
  artifacts/feat-arch-review-catalog-unused-ilotsclient-d/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-unused-ilotsclient-d/arch-review.r1.md
  artifacts/feat-arch-review-catalog-unused-ilotsclient-d/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-unused-ilotsclient-d/task-plan.r1.md
  artifacts/feat-arch-review-catalog-unused-ilotsclient-d/task-plan.r1.md
Due: none

refactor(catalog): remove unused ILotsClient from GetCatalogDetailHandler
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerFullHistoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogDetailHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-catalog-unused-ilotsclient-d-dev-main
  docs/superpowers/plans/2026-06-03-remove-unused-ilotsclient-getcatalogdetail.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-unused-ilotsclient-d/impl/main.r1.md
  artifacts/feat-arch-review-catalog-unused-ilotsclient-d/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-getproductmarginshan/brief.md
  artifacts/feat-arch-review-catalog-getproductmarginshan/brief.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-getproductmarginshan/spec.r1.md
  artifacts/feat-arch-review-catalog-getproductmarginshan/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-getproductmarginshan/arch-review.r1.md
  artifacts/feat-arch-review-catalog-getproductmarginshan/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-getproductmarginshan/task-plan.r1.md
  artifacts/feat-arch-review-catalog-getproductmarginshan/task-plan.r1.md
Due: none

refactor: inject TimeProvider into GetProductMarginsHandler
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductMarginsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoiceDetailHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-catalog-getproductmarginshan-dev-main
  docs/superpowers/plans/2026-06-03-inject-timeprovider-getproductmarginshandler.md
  test_dto.exe
Due: none

agent: upload artifacts/feat-arch-review-catalog-getproductmarginshan/impl/main.r1.md
  artifacts/feat-arch-review-catalog-getproductmarginshan/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-configuration-buildapplicati/brief.md
  artifacts/feat-arch-review-configuration-buildapplicati/brief.md
Due: none

agent: upload artifacts/feat-arch-review-configuration-buildapplicati/spec.r1.md
  artifacts/feat-arch-review-configuration-buildapplicati/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-configuration-buildapplicati/arch-review.r1.md
  artifacts/feat-arch-review-configuration-buildapplicati/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-configuration-buildapplicati/task-plan.r1.md
  artifacts/feat-arch-review-configuration-buildapplicati/task-plan.r1.md
Due: none

refactor: remove speculative async from BuildApplicationConfiguration
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationHandler.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-configuration-buildapplicati-dev-main
  docs/superpowers/plans/2026-06-03-remove-speculative-async-buildapplicationconfiguration.md
Due: none

agent: upload artifacts/feat-arch-review-configuration-buildapplicati/impl/main.r1.md
  artifacts/feat-arch-review-configuration-buildapplicati/impl/main.r1.md
Due: none

agent: upload artifacts/feat-nswag-surface-409-on-post-api-articles-i/brief.md
  artifacts/feat-nswag-surface-409-on-post-api-articles-i/brief.md
Due: none

feat: Remove Dead AutoMapper Configuration for `BankStatementImportDto.ErrorType` (#2358)
  artifacts/feat-arch-review-bank-bankmappingprofile-maps/arch-review.r1.md
  artifacts/feat-arch-review-bank-bankmappingprofile-maps/brief.md
  artifacts/feat-arch-review-bank-bankmappingprofile-maps/impl/main.r1.md
  artifacts/feat-arch-review-bank-bankmappingprofile-maps/spec.r1.md
  artifacts/feat-arch-review-bank-bankmappingprofile-maps/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Bank/BankMappingProfile.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankMappingProfileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoiceDetailHandlerTests.cs
  docs/superpowers/plans/2026-06-03-remove-dead-bankmappingprofile-errortype-formember.md
Due: backend, Backend (.NET)

feat: Refactor `BankStatementsController.GetAccounts()` to MediatR Use Case (#2353)
  artifacts/feat-arch-review-bank-getaccounts-controller-/arch-review.r1.md
  artifacts/feat-arch-review-bank-getaccounts-controller-/brief.md
  artifacts/feat-arch-review-bank-getaccounts-controller-/impl/main.r1.md
  artifacts/feat-arch-review-bank-getaccounts-controller-/spec.r1.md
  artifacts/feat-arch-review-bank-getaccounts-controller-/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/BankStatementsController.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/GetBankAccounts/GetBankAccountsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/GetBankAccounts/GetBankAccountsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/GetBankAccounts/GetBankAccountsResponse.cs
  backend/test/Anela.Heblo.Tests/Controllers/BankStatementsControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/GetBankAccountsHandlerTests.cs
  docs/superpowers/plans/2026-06-03-bank-getaccounts-mediatr-refactor.md
Due: backend, Backend (.NET)

fix: update using directive for relocated IIssuedInvoiceRepository
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoiceDetailHandlerTests.cs
Due: none

agent: upload artifacts/feat-nswag-surface-409-on-post-api-articles-i/spec.r1.md
  artifacts/feat-nswag-surface-409-on-post-api-articles-i/spec.r1.md
Due: none

agent: upload artifacts/feat-nswag-surface-409-on-post-api-articles-i/arch-review.r1.md
  artifacts/feat-nswag-surface-409-on-post-api-articles-i/arch-review.r1.md
Due: none

agent: upload artifacts/feat-nswag-surface-409-on-post-api-articles-i/task-plan.r1.md
  artifacts/feat-nswag-surface-409-on-post-api-articles-i/task-plan.r1.md
Due: none

fix: allow CatalogDetail modal body to scroll on small screens
  frontend/src/components/pages/CatalogDetail.tsx
Due: frontend, Frontend (React)

feat: declare 200 and 409 responses on Articles.SubmitFeedback
  backend/src/Anela.Heblo.API/Controllers/ArticlesController.cs
Due: backend, Backend (.NET)

feat: Auto-assign unphased ingredients to newly created composition phase
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/catalog/detail/tabs/__tests__/CompositionTab.test.tsx
Due: frontend, Frontend (React)

docs: add README for the NSwag template-override directory
  backend/src/Anela.Heblo.API/nswag-templates/README.md
Due: backend, Backend (.NET)

feat: override NSwag Fetch process template for typed 4xx-equals-2xx branches
  backend/src/Anela.Heblo.API/nswag-templates/Client.ProcessResponse.HandleStatusCode.liquid
Due: backend, Backend (.NET)

fix: handle one-step (SinglePhase) manufacture as product, not semiproduct
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ResidueDistributionCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflow.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderDto.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ResidueDistributionCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/Workflows/ConfirmProductCompletionWorkflowTests.cs
  frontend/src/components/manufacture/detail/ProductsDataGrid.tsx
  frontend/src/components/manufacture/detail/__tests__/ProductsDataGrid.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: resolve TypeScript strict-null errors in invoice components
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: frontend, Frontend (React)

fix: narrow NSwag template predicate to 409-only; mark template as unwired (escape hatch active)
  backend/src/Anela.Heblo.API/nswag-templates/Client.ProcessResponse.HandleStatusCode.liquid
  backend/src/Anela.Heblo.API/nswag-templates/README.md
Due: backend, Backend (.NET)

feat: Auto-assign unphased ingredients to newly created composition phase (#2390)
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/catalog/detail/tabs/__tests__/CompositionTab.test.tsx
Due: frontend, Frontend (React)

fix: allow CatalogDetail modal body to scroll on small screens (#2389)
  frontend/src/components/pages/CatalogDetail.tsx
Due: frontend, Frontend (React)

feat: suppress global toast on 409 responses with structured BaseResponse body
  frontend/src/api/__tests__/client.test.ts
  frontend/src/api/client.ts
Due: frontend, Frontend (React)

feat: call generated client for article feedback; handle 409 via catch
  frontend/src/api/hooks/__tests__/useArticles.test.ts
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
