Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/answers.r1.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/spec.r2.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/arch-review.r1.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/arch-review.r1.md
Due: none

docs(smartsupp): add feature documentation
  docs/features/smartsupp.md
Due: none

docs(smartsupp): fix webhook examples — 18 real events, correct nested data shape
  docs/features/smartsupp.md
  docs/integrations/smartsupp-webhook.md
Due: none

agent: planner output feat-arch-review-leaflet-direct-cross-module--planning-1
  docs/superpowers/plans/2026-05-15-decouple-leaflet-from-knowledgebase.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/task-plan.r1.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/task-plan.r1.md
Due: none

refactor: relocate DocumentType enum to Domain/Shared/Rag
  backend/src/Anela.Heblo.API/Controllers/KnowledgeBaseController.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/Jobs/KnowledgeBaseIngestionJob.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ConversationIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentIndexingService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategy.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetChunkDetail/GetChunkDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetChunkDetail/GetChunkDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentRequest.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentRequest.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Infrastructure/Jobs/LeafletIngestionJob.cs
  backend/src/Anela.Heblo.Application/Shared/Rag/OneDriveFolderMapping.cs
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseChunk.cs
  backend/src/Anela.Heblo.Domain/Features/KnowledgeBase/KnowledgeBaseDocument.cs
  backend/src/Anela.Heblo.Domain/Shared/Rag/DocumentType.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseDocumentConfiguration.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Infrastructure/LeafletIngestionJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Infrastructure/LeafletModuleIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Controllers/KnowledgeBaseControllerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseIngestionJobTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Integration/KnowledgeBaseRepositoryIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ConversationIndexingStrategyTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/KnowledgeBaseDocIndexingStrategyTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/GetChunkDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/IndexDocumentHandlerTests.cs
Due: backend, Backend (.NET)

feat: add ILeafletKnowledgeSource contract and KnowledgeSearchResult DTO
  backend/src/Anela.Heblo.Application/Features/Leaflet/Contracts/ILeafletKnowledgeSource.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Contracts/KnowledgeSearchResult.cs
Due: backend, Backend (.NET)

feat: add KnowledgeBaseLeafletSourceAdapter implementing ILeafletKnowledgeSource
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/KnowledgeBaseLeafletSourceAdapter.cs
  backend/test/Anela.Heblo.Tests/Features/KnowledgeBase/Infrastructure/KnowledgeBaseLeafletSourceAdapterTests.cs
Due: backend, Backend (.NET)

feat: register ILeafletKnowledgeSource in KnowledgeBaseModule
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

chore: cleanup
  .gitignore
  .husky/pre-commit
  docs/superpowers/plans/2026-05-14-teams-adaptive-card.md
Due: none

refactor: GenerateLeafletHandler depends on ILeafletKnowledgeSource
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GenerateLeaflet/GenerateLeafletHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GenerateLeafletHandlerTests.cs
Due: backend, Backend (.NET)

test: enforce Leaflet → KnowledgeBase boundary via reflection test
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

docs: document cross-module contract pattern and shared RAG namespaces
  docs/architecture/development_guidelines.md
  docs/architecture/filesystem.md
Due: none

fix: use init setters in KnowledgeSearchResult for immutability
  backend/src/Anela.Heblo.Application/Features/Leaflet/Contracts/KnowledgeSearchResult.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-leaflet-direct-cross-module-/impl/main.r1.md
  artifacts/feat-arch-review-leaflet-direct-cross-module-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-leafletgenerationlog/brief.md
  artifacts/feat-arch-review-leaflet-leafletgenerationlog/brief.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-leafletgenerationlog/spec.r1.md
  artifacts/feat-arch-review-leaflet-leafletgenerationlog/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-leafletgenerationlog/arch-review.r1.md
  artifacts/feat-arch-review-leaflet-leafletgenerationlog/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-leaflet-leafletgenerationlog-planning-1
  docs/superpowers/plans/2026-05-15-leaflet-generation-persistence-behavior-rename.md
Due: none

agent: upload artifacts/feat-arch-review-leaflet-leafletgenerationlog/task-plan.r1.md
  artifacts/feat-arch-review-leaflet-leafletgenerationlog/task-plan.r1.md
Due: none

refactor(leaflet): rename LeafletGenerationLoggingBehavior to LeafletGenerationPersistenceBehavior
  backend/src/Anela.Heblo.Application/Features/Leaflet/LeafletModule.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/Pipeline/LeafletGenerationPersistenceBehavior.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Pipeline/LeafletGenerationPersistenceBehaviorTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-leaflet-leafletgenerationlog/impl/main.r1.md
  artifacts/feat-arch-review-leaflet-leafletgenerationlog/impl/main.r1.md
Due: none

fix: restore MEETING_TASKS_KEYS literals to fix useMeetingTasks test in CI
  frontend/src/api/hooks/useMeetingTasks.ts
Due: frontend, Frontend (React)

feat(smartsupp): expand ConversationDto with rich context fields
  backend/src/Anela.Heblo.Application/Features/Smartsupp/Contracts/ConversationDto.cs
Due: backend, Backend (.NET)

feat(smartsupp): map rich conversation fields in list/get handlers
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GetConversation/GetConversationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ListConversations/ListConversationsHandler.cs
Due: backend, Backend (.NET)

feat(smartsupp): expand MessageDto with agent/delivery/response-time fields
  backend/src/Anela.Heblo.Application/Features/Smartsupp/Contracts/MessageDto.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GetConversation/GetConversationHandler.cs
Due: backend, Backend (.NET)

feat(smartsupp): expand frontend Conversation/Message types
  frontend/src/api/hooks/useSmartsupp.ts
Due: frontend, Frontend (React)

feat(smartsupp): add deterministic agent color utility
  frontend/src/components/customer-support/smartsupp/utils/__tests__/agentColor.test.ts
  frontend/src/components/customer-support/smartsupp/utils/agentColor.ts
Due: frontend, Frontend (React)

feat(smartsupp): add AgentBadge component with deterministic colors
  frontend/src/components/customer-support/smartsupp/AgentBadge.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/AgentBadge.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add StatusPill component
  frontend/src/components/customer-support/smartsupp/StatusPill.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/StatusPill.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add MessageDeliveryIcon component
  frontend/src/components/customer-support/smartsupp/MessageDeliveryIcon.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/MessageDeliveryIcon.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add DaySeparator for message threads
  frontend/src/components/customer-support/smartsupp/DaySeparator.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/DaySeparator.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): redesign MessageBubble with agent badge, delivery, response-time
  frontend/src/components/customer-support/smartsupp/MessageBubble.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/MessageBubble.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): redesign ConversationListItem with status pill + unread accent
  frontend/src/components/customer-support/smartsupp/ConversationListItem.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ConversationListItem.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add ContactDetailsPanel for rich conversation context
  frontend/src/components/customer-support/smartsupp/ContactDetailsPanel.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ContactDetailsPanel.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add useKnowledgeBaseSuggestions hook (mock seam)
  frontend/src/components/customer-support/smartsupp/hooks/__tests__/useKnowledgeBaseSuggestions.test.ts
  frontend/src/components/customer-support/smartsupp/hooks/useKnowledgeBaseSuggestions.ts
Due: frontend, Frontend (React)

feat(smartsupp): add KnowledgeBaseSuggestions collapsible strip
  frontend/src/components/customer-support/smartsupp/KnowledgeBaseSuggestions.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/KnowledgeBaseSuggestions.test.tsx
Due: frontend, Frontend (React)

feat(smartsupp): add ChatComposer with disabled Send + KB suggestions
  frontend/src/components/customer-support/smartsupp/ChatComposer.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ChatComposer.test.tsx
Due: frontend, Frontend (React)
