Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/impl/main.r1.md
  artifacts/feat-arch-review-journal-pagedresult-lt-t-gt-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journalentry-journal/brief.md
  artifacts/feat-arch-review-journal-journalentry-journal/brief.md
Due: none

agent: analyst output feat-arch-review-journal-journalentry-journal-analyst
  brief.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journalentry-journal/spec.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journalentry-journal/arch-review.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journalentry-journal/task-plan.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/task-plan.r1.md
Due: none

feat: add shared timePeriod utility module (enum, resolver, display text, tests)
  frontend/src/utils/timePeriod/__tests__/resolve.test.ts
  frontend/src/utils/timePeriod/displayText.ts
  frontend/src/utils/timePeriod/index.ts
  frontend/src/utils/timePeriod/resolve.ts
  frontend/src/utils/timePeriod/timePeriod.ts
Due: frontend, Frontend (React)

perf(photobank): replace correlated tag-count subquery with GROUP BY
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsSqlShapeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-performance-slow-response-times-on-get-p/impl/main.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/impl/main.r1.md
Due: none

refactor: extract JournalEntry→JournalEntryDto projection into shared JournalEntryMapper
  backend/src/Anela.Heblo.Application/Features/Journal/Mapping/JournalEntryMapper.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntries/GetJournalEntriesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntry/GetJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/SearchJournalEntries/SearchJournalEntriesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
Due: backend, Backend (.NET)

refactor: strip duplicate enum/resolver from useManufacturingStockAnalysis, re-export from shared module
  frontend/src/api/hooks/__tests__/useManufacturingStockAnalysis.test.tsx
  frontend/src/api/hooks/useManufacturingStockAnalysis.ts
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-journal-journalentry-journal/impl/main.r1.md
  artifacts/feat-arch-review-journal-journalentry-journal/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-familyentries-on-jou/brief.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/brief.md
Due: none

refactor: replace inline date math in PurchaseStockAnalysis with shared resolveTimePeriod
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
Due: frontend, Frontend (React)

agent: analyst output feat-arch-review-journal-familyentries-on-jou-analyst
  brief.md
Due: none

agent: upload artifacts/feat-arch-review-journal-familyentries-on-jou/spec.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-deletejournalentryha/brief.md
  artifacts/feat-arch-review-journal-deletejournalentryha/brief.md
Due: none

refactor: replace inline date math in ManufactureBatchPlanning with shared resolveTimePeriod
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: frontend, Frontend (React)

agent: analyst output feat-arch-review-journal-deletejournalentryha-analyst
  brief.md
Due: none

agent: upload artifacts/feat-arch-review-journal-deletejournalentryha/spec.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-deletejournalentryha/arch-review.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-journal-deletejournalentryha-planning-1
  docs/superpowers/plans/2026-05-12-eliminate-redundant-fetch-delete-journal-entry.md
Due: none

agent: upload artifacts/feat-arch-review-journal-deletejournalentryha/task-plan.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/task-plan.r1.md
Due: none

refactor: replace inline date math in GiftPackageManufacturingFilters with shared resolveTimePeriod
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingFilters.tsx
Due: frontend, Frontend (React)

test: assert single-fetch persistence contract for delete journal entry handler
  backend/test/Anela.Heblo.Tests/Features/Journal/DeleteJournalEntryHandlerTests.cs
Due: none

refactor: inline soft-delete persistence in delete journal entry handler
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/DeleteJournalEntry/DeleteJournalEntryHandler.cs
Due: backend, Backend (.NET)

refactor: remove redundant DeleteSoftAsync from IJournalRepository
  backend/src/Anela.Heblo.Domain/Features/Journal/IJournalRepository.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
Due: backend, Backend (.NET)

fix: add product-queue to pipeline config
  .pipeline/config.json
Due: none

fix: throw on unknown TimePeriod in resolver and display text
  backend/src/Anela.Heblo.Application/Common/TimePeriods/TimePeriodResolver.cs
  frontend/src/utils/timePeriod/displayText.ts
  frontend/src/utils/timePeriod/resolve.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-journal-deletejournalentryha/impl/main.r1.md
  artifacts/feat-arch-review-journal-deletejournalentryha/impl/main.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-routine-design-spec/brief.md
  artifacts/feat-coverage-gap-routine-design-spec/brief.md
Due: none

Summary (#1099)
  artifacts/feat-performance-slow-response-times-on-get-p/arch-review.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/brief.md
  artifacts/feat-performance-slow-response-times-on-get-p/design.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/impl/main.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/spec.r1.md
  artifacts/feat-performance-slow-response-times-on-get-p/task-plan.r1.md
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Photobank/Configuration/PhotobankTagsCacheOptions.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/TagDto.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankAutoTagJob.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankModule.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/IPhotobankTagsCache.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Services/PhotobankTagsCache.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/AddPhotoTag/AddPhotoTagHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/BulkAddPhotoTag/BulkAddPhotoTagHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/BulkAddPhotoTagByIds/BulkAddPhotoTagByIdsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/CreateTag/CreateTagHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/DeleteTag/DeleteTagHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetTags/GetTagsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/ReapplyRules/ReapplyRulesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/RemovePhotoTag/RemovePhotoTagHandler.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/RetagPhotos/RetagPhotosHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/TagCount.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/BulkAddPhotoTagByIdsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/BulkAddPhotoTagHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/CreateTagHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/DeleteTagHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/GetTagsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankAutoTagJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsSqlShapeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryGetTagsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankTagsCacheInvalidationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankTagsCacheTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/ReapplyRulesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/RetagPhotosHandlerTests.cs
  docs/superpowers/plans/2026-05-12-photobank-gettags-perf-final.md
  docs/superpowers/plans/2026-05-12-photobank-gettags-performance.md
Due: backend, Backend (.NET)

agent: analyst output feat-coverage-gap-routine-design-spec-analyzing-r1
  brief.md
Due: none

agent: upload artifacts/feat-coverage-gap-routine-design-spec/spec.r1.md
  artifacts/feat-coverage-gap-routine-design-spec/spec.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-routine-design-spec/arch-review.r1.md
  artifacts/feat-coverage-gap-routine-design-spec/arch-review.r1.md
Due: none

agent: planner output feat-coverage-gap-routine-design-spec-planning-1
  docs/superpowers/plans/2026-05-12-coverage-gap-routine.md
Due: none

agent: upload artifacts/feat-coverage-gap-routine-design-spec/task-plan.r1.md
  artifacts/feat-coverage-gap-routine-design-spec/task-plan.r1.md
Due: none

ci: add coverage artifact upload steps for weekly coverage-gap routine
  .github/workflows/ci-main-branch.yml
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
