Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

refactor: introduce FileDownloadOptions and register it in FileStorageModule
  backend/src/Anela.Heblo.Application/Features/FileStorage/FileDownloadOptions.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/FileStorageModule.cs
Due: backend, Backend (.NET)

refactor: switch DownloadFromUrlHandler and DownloadResilienceService to FileDownloadOptions
  backend/src/Anela.Heblo.Application/Features/FileStorage/Infrastructure/DownloadResilienceService.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlHandler.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/DownloadFromUrlHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Infrastructure/DownloadResilienceServiceTests.cs
Due: backend, Backend (.NET)

refactor: trim ProductExportOptions to domain properties only
  backend/src/Anela.Heblo.Application/Features/FileStorage/ProductExportOptions.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Configuration/FileDownloadOptionsTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/FileStorageModuleTests.cs
Due: backend, Backend (.NET)

refactor: rename ProductExportDownloadClientName to FileDownloadClientName
  backend/src/Anela.Heblo.Application/Features/FileStorage/FileStorageModule.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/Services/AzureBlobStorageService.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlHandler.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/AzureBlobStorageServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/DownloadFromUrlHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/FileStorageModuleTests.cs
Due: backend, Backend (.NET)

refactor: relocate ProductExportOptions to Catalog namespace
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/ProductExportOptions.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/Infrastructure/Jobs/ProductExportDownloadJob.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Infrastructure/Jobs/ProductExportDownloadJobTests.cs
Due: backend, Backend (.NET)

refactor: move ProductExportOptions DI registration to CatalogModule
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

refactor: relocate ProductExportDownloadJob to Catalog namespace
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/Jobs/ProductExportDownloadJob.cs
Due: backend, Backend (.NET)

test: relocate ProductExportDownloadJobTests to Catalog
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/Jobs/ProductExportDownloadJobTests.cs
Due: none

test: remove obsolete null-title journal test after #2953
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryTests.cs
Due: none

fix: regenerate frontend API client to match backend contract
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

agent: developer output feat-arch-review-filestorage-productexportdow-dev-main
  docs/superpowers/plans/2026-06-12-relocate-productexportdownloadjob-to-catalog.md
Due: none

agent: upload artifacts/feat-arch-review-filestorage-productexportdow/impl/main.r1.md
  artifacts/feat-arch-review-filestorage-productexportdow/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-input-validat/brief.md
  artifacts/feat-arch-review-usermanagement-input-validat/brief.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-input-validat/spec.r1.md
  artifacts/feat-arch-review-usermanagement-input-validat/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-input-validat/arch-review.r1.md
  artifacts/feat-arch-review-usermanagement-input-validat/arch-review.r1.md
Due: none

feat: open dashboard to all users with per-tile permission enforcement (#2962)
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/src/Anela.Heblo.API/Controllers/GridLayoutsController.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Contracts/DashboardTileDto.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileData.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/DashboardControllerAuthorizationTests.cs
  backend/test/Anela.Heblo.Tests/Authorization/GridLayoutsControllerAuthorizationTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryTests.cs
  docs/superpowers/plans/2026-06-12-dashboard-permission-tiles.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useDashboard.ts
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/dashboard/tiles/UnauthorizedTile.tsx
  frontend/src/components/dashboard/tiles/__tests__/TileContent.test.tsx
  frontend/src/components/pages/Dashboard.tsx
  frontend/src/components/pages/__tests__/Dashboard.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-usermanagement-input-validat/task-plan.r1.md
  artifacts/feat-arch-review-usermanagement-input-validat/task-plan.r1.md
Due: none

test: add GetGroupMembersRequest validator with null/empty/whitespace coverage
  backend/src/Anela.Heblo.Application/Features/UserManagement/Validators/GetGroupMembersRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/Validators/GetGroupMembersRequestValidatorTests.cs
Due: backend, Backend (.NET)

feat: register GetGroupMembersRequest validator in UserManagement MediatR pipeline
  backend/src/Anela.Heblo.Application/Features/UserManagement/UserManagementModule.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GetGroupMembersValidationPipelineTests.cs
Due: backend, Backend (.NET)

feat: translate ValidationException to structured McpException in GetGroupMembers tool
  backend/src/Anela.Heblo.API/MCP/Tools/UserManagementMcpTools.cs
Due: backend, Backend (.NET)

refactor: remove redundant GroupId null guard and obsolete test from GraphService
  backend/src/Anela.Heblo.Application/Features/UserManagement/Services/GraphService.cs
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GraphServiceTests.cs
Due: backend, Backend (.NET)

test: remove obsolete Handle_WithEmptyGroupId_CallsGraphService test (validator now enforces non-empty GroupId)
  backend/test/Anela.Heblo.Tests/Features/UserManagement/GetGroupMembersHandlerTests.cs
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-input-validat/impl/main.r1.md
  artifacts/feat-arch-review-usermanagement-input-validat/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-datetime-utcnow-/brief.md
  artifacts/feat-arch-review-manufacture-datetime-utcnow-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-datetime-utcnow-/spec.r1.md
  artifacts/feat-arch-review-manufacture-datetime-utcnow-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-datetime-utcnow-/arch-review.r1.md
  artifacts/feat-arch-review-manufacture-datetime-utcnow-/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-datetime-utcnow-/task-plan.r1.md
  artifacts/feat-arch-review-manufacture-datetime-utcnow-/task-plan.r1.md
Due: none

Add Application Insights REST query script for monitoring/brainstorm routine
  scripts/monitoring/appinsights-query.sh
Due: none

refactor: use TimeProvider for CreatedDate/StateChangedAt in DuplicateManufactureOrderHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DuplicateManufactureOrderHandlerTests.cs
Due: backend, Backend (.NET)

refactor: use TimeProvider for note CreatedAt in UpdateManufactureOrderHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderHandlerTests.cs
Due: backend, Backend (.NET)

Add handoff doc for App Insights + GitHub brainstorm routine
  docs/handoff/appinsights-brainstorm-routine.md
Due: none

refactor: use TimeProvider for CreatedDate/StateChangedAt in CreateManufactureOrderHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-manufacture-datetime-utcnow--dev-main
  docs/superpowers/plans/2026-06-12-manufacture-timeprovider-consistency.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-datetime-utcnow-/impl/main.r1.md
  artifacts/feat-arch-review-manufacture-datetime-utcnow-/impl/main.r1.md
Due: none

feat: add telemetry brainstorm routine (App Insights + GitHub)
  docs/handoff/appinsights-brainstorm-routine.md
  docs/routines/telemetry-brainstorm.md
  scripts/monitoring/appinsights-query.sh
  scripts/monitoring/brainstorm-telemetry.sh
Due: none

chore: record telemetry brainstorm routine in session state
  memory/context/state.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-productionactivi/brief.md
  artifacts/feat-arch-review-manufacture-productionactivi/brief.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-productionactivi/spec.r1.md
  artifacts/feat-arch-review-manufacture-productionactivi/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-productionactivi/arch-review.r1.md
  artifacts/feat-arch-review-manufacture-productionactivi/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-manufacture-productionactivi/task-plan.r1.md
  artifacts/feat-arch-review-manufacture-productionactivi/task-plan.r1.md
Due: none
