Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

docs: add smartsupp close conversation implementation plan
  docs/superpowers/plans/2026-05-26-smartsupp-close-conversation.md
Due: none

test(filestorage): implement hierarchical semantics in mock blob storage
  backend/test/Anela.Heblo.Tests/Features/FileStorage/MockBlobStorageService.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/MockBlobStorageServiceTests.cs
Due: none

feat: Fix Temp File Leak in ReprintExpeditionListHandler (#1783)
  artifacts/feat-arch-review-expeditionlistarchive-temp-f/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-temp-f/brief.md
  artifacts/feat-arch-review-expeditionlistarchive-temp-f/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-temp-f/spec.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-temp-f/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
  docs/superpowers/plans/2026-05-26-fix-reprint-expedition-list-temp-file-leak.md
Due: backend, Backend (.NET)

feat: Remove Unimplemented Sync Scaffolding from MarketingInvoices (#1778)
  artifacts/feat-arch-review-marketinginvoices-getunsynce/answers.r1.md
  artifacts/feat-arch-review-marketinginvoices-getunsynce/arch-review.r1.md
  artifacts/feat-arch-review-marketinginvoices-getunsynce/brief.md
  artifacts/feat-arch-review-marketinginvoices-getunsynce/impl/main.r1.md
  artifacts/feat-arch-review-marketinginvoices-getunsynce/spec.r1.md
  artifacts/feat-arch-review-marketinginvoices-getunsynce/spec.r2.md
  artifacts/feat-arch-review-marketinginvoices-getunsynce/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/MarketingInvoiceImportService.cs
  backend/src/Anela.Heblo.Domain/Features/MarketingInvoices/IImportedMarketingTransactionRepository.cs
  backend/src/Anela.Heblo.Domain/Features/MarketingInvoices/ImportedMarketingTransaction.cs
  backend/src/Anela.Heblo.Persistence/Features/MarketingInvoices/ImportedMarketingTransactionConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Features/MarketingInvoices/ImportedMarketingTransactionRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260526092919_RemoveUnusedSyncColumnsFromImportedMarketingTransactions.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260526092919_RemoveUnusedSyncColumnsFromImportedMarketingTransactions.cs
  docs/superpowers/plans/2026-05-26-remove-unimplemented-sync-scaffolding-from-marketinginvoices.md
Due: backend, Backend (.NET)

feat: Relocate CurrentUserService Out of Application Layer (#1755)
  artifacts/feat-arch-review-users-currentuserservice-liv/arch-review.r1.md
  artifacts/feat-arch-review-users-currentuserservice-liv/brief.md
  artifacts/feat-arch-review-users-currentuserservice-liv/impl/main.r1.md
  artifacts/feat-arch-review-users-currentuserservice-liv/spec.r1.md
  artifacts/feat-arch-review-users-currentuserservice-liv/task-plan.r1.md
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Features/Users/CurrentUserService.cs
  backend/src/Anela.Heblo.API/Features/Users/UsersModule.cs
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/UserManagement/UserManagementModule.cs
  backend/test/Anela.Heblo.Tests/Application/Users/CurrentUserServiceIsInRoleTests.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Users/CurrentUserServiceTests.cs
  docs/superpowers/plans/2026-05-26-relocate-currentuserservice-out-of-application.md
Due: backend, Backend (.NET)

feat: UsersModule.cs for Users Module DI Registration (#1760)
  artifacts/feat-arch-review-users-missing-usersmodule-cs/arch-review.r1.md
  artifacts/feat-arch-review-users-missing-usersmodule-cs/brief.md
  artifacts/feat-arch-review-users-missing-usersmodule-cs/impl/main.r1.md
  artifacts/feat-arch-review-users-missing-usersmodule-cs/spec.r1.md
  artifacts/feat-arch-review-users-missing-usersmodule-cs/task-plan.r1.md
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Users/UsersModule.cs
  docs/superpowers/plans/2026-05-26-users-module-di-registration.md
Due: backend, Backend (.NET)

fix(smartsupp): use case-insensitive status check for close button
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
Due: frontend, Frontend (React)

feat: Remove unused `ICurrentUserService` dependency from `GridLayoutsController` (#1750)
  artifacts/feat-arch-review-users-gridlayoutscontroller-/arch-review.r1.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/brief.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/impl/main.r1.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/spec.r1.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/GridLayoutsController.cs
  docs/superpowers/plans/2026-05-26-remove-currentuserservice-from-gridlayoutscontroller.md
Due: backend, Backend (.NET)

feat: InvoiceClassification Domain DTO Separation (#1738)
  artifacts/feat-arch-review-invoiceclassification-domain/arch-review.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/brief.md
  artifacts/feat-arch-review-invoiceclassification-domain/impl/invoiceclassification-dto-separation.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/impl/main.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/spec.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/swagger-after.json
  artifacts/feat-arch-review-invoiceclassification-domain/swagger-before.json
  artifacts/feat-arch-review-invoiceclassification-domain/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoicesClient.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/AccountingTemplateDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ReceivedInvoiceDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ReceivedInvoiceItemDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/InvoiceClassificationMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/IInvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/IRuleEvaluationEngine.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/RuleEvaluationEngine.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsResponse.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/AccountingTemplate.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IReceivedInvoicesClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoice.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoiceItem.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoiceItemDto.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/AmountClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/CompanyNameClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/DescriptionClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/ItemDescriptionClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/VatClassificationRule.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/ClassifyInvoicesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/GetInvoiceDetailsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/InvoiceClassificationMappingProfileTests.cs
  docs/superpowers/plans/2026-05-26-invoiceclassification-domain-dto-separation.md
Due: backend, Backend (.NET)

feat: Refactor GetAvailableRuleTypes to MediatR Handler (#1745)
  artifacts/feat-arch-review-invoiceclassification-getava/answers.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/arch-review.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/brief.md
  artifacts/feat-arch-review-invoiceclassification-getava/impl/main.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/spec.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/spec.r2.md
  artifacts/feat-arch-review-invoiceclassification-getava/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRuleTypes/GetClassificationRuleTypesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRuleTypes/GetClassificationRuleTypesRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRuleTypes/GetClassificationRuleTypesResponse.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/GetClassificationRuleTypesHandlerTests.cs
Due: backend, Backend (.NET)

feat: Remove Unused `Platform` Field from `MarketingTransaction` (#1766)
  artifacts/feat-arch-review-marketinginvoices-marketingt/arch-review.r1.md
  artifacts/feat-arch-review-marketinginvoices-marketingt/brief.md
  artifacts/feat-arch-review-marketinginvoices-marketingt/impl/main.r1.md
  artifacts/feat-arch-review-marketinginvoices-marketingt/spec.r1.md
  artifacts/feat-arch-review-marketinginvoices-marketingt/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsTransactionSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
  backend/src/Anela.Heblo.Domain/Features/MarketingInvoices/MarketingTransaction.cs
  backend/test/Anela.Heblo.Tests/Adapters/GoogleAds/GoogleAdsTransactionSourceTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/MetaAds/MetaAdsTransactionSourceTests.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/MarketingInvoiceImportServiceTests.cs
  docs/superpowers/plans/2026-05-26-remove-marketingtransaction-platform.md
Due: backend, Backend (.NET)

feat(filestorage): implement Azure hierarchical listing
  backend/src/Anela.Heblo.Application/Features/FileStorage/Services/AzureBlobStorageService.cs
Due: backend, Backend (.NET)

feat(smartsupp): add close conversation action from ConversationDetail (#1798)
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.API/Controllers/SmartsuppController.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationRequest.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/CloseConversation/CloseConversationResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/CloseConversationHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppApiClientTests.cs
  docs/integrations/smartsupp-api.md
  docs/superpowers/plans/2026-05-26-smartsupp-close-conversation.md
  frontend/src/api/hooks/__tests__/useCloseConversation.test.ts
  frontend/src/api/hooks/useSmartsupp.ts
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ConversationDetail.test.tsx
  frontend/src/components/customer-support/smartsupp/pages/__tests__/SmartsuppChatsPage.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: remove GetUnsyncedAsync — IsSynced column was removed in migration 20260526092919
  backend/src/Anela.Heblo.Domain/Features/MarketingInvoices/IImportedMarketingTransactionRepository.cs
  backend/src/Anela.Heblo.Persistence/Features/MarketingInvoices/ImportedMarketingTransactionRepository.cs
Due: backend, Backend (.NET)

feat(analytics): add Persistence.Analytics project with AnalyticsDbContext and entities
  Anela.Heblo.sln
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsDbContext.cs
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsDbContextFactory.cs
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsPersistenceModule.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Anela.Heblo.Persistence.Analytics.csproj
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/AccountingTemplate.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/Contact.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/Department.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/LedgerEntry.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/SyncState.cs
Due: backend, Backend (.NET)

fix: upgrade stale GitHub Actions versions
  .github/workflows/ci-feature-branch.yml
  .github/workflows/claude-review.yml
Due: none

fix: pin CI action SHAs to resolve download failures
  .github/workflows/ci-feature-branch.yml
  .github/workflows/ci-main-branch.yml
  .github/workflows/claude-review.yml
Due: none

fix(analytics): use env var in factory + add connection pool hardening to module
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsDbContextFactory.cs
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsPersistenceModule.cs
Due: backend, Backend (.NET)

fix(filestorage): improve comment clarity and add simulateErrors guard to mock
  backend/src/Anela.Heblo.Application/Features/FileStorage/Services/AzureBlobStorageService.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/MockBlobStorageService.cs
Due: backend, Backend (.NET)

fix: address persistent action SHA resolution failures
  .github/workflows/ci-feature-branch.yml
  .github/workflows/claude-review.yml
Due: none

feat(analytics): add EF migration for flexi_raw schema + project reference
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Persistence.Analytics/Migrations/20260526122936_InitialAnalyticsSchema.Designer.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Migrations/20260526122936_InitialAnalyticsSchema.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Migrations/AnalyticsDbContextModelSnapshot.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-expeditionlistarchive-getexp/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlistarchive-getexp/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-getmarketingaction/brief.md
  artifacts/feat-arch-review-marketing-getmarketingaction/brief.md
Due: none

fix(analytics): add AnalyticsDatabase + FlexiAnalyticsSync stubs to Staging appsettings
  backend/src/Anela.Heblo.API/appsettings.Staging.json
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketing-getmarketingaction/spec.r1.md
  artifacts/feat-arch-review-marketing-getmarketingaction/spec.r1.md
Due: none

feat(analytics): add SyncWatermarkRepository with unit tests
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/ISyncWatermarkRepository.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/SyncResult.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/SyncWatermarkRepository.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/SyncWatermarkRepositoryTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Anela.Heblo.Adapters.Flexi.Tests.csproj
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketing-getmarketingaction/arch-review.r1.md
  artifacts/feat-arch-review-marketing-getmarketingaction/arch-review.r1.md
Due: none

fix(analytics): seal SyncWatermarkRepository
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/SyncWatermarkRepository.cs
Due: backend, Backend (.NET)

agent: planner output feat-arch-review-marketing-getmarketingaction-planning-1
  docs/superpowers/plans/2026-05-26-extract-marketingaction-dto-mapping.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-getmarketingaction/task-plan.r1.md
  artifacts/feat-arch-review-marketing-getmarketingaction/task-plan.r1.md
Due: none

feat(analytics): add LedgerSyncService with lastUpdate-based incremental sync and tests
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/LedgerSyncService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/LedgerSyncServiceTests.cs
Due: backend, Backend (.NET)

refactor(marketing): add MarketingActionDto.FromEntity factory
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/MarketingActionDto.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/MarketingActionDtoTests.cs
Due: backend, Backend (.NET)

refactor(marketing): GetMarketingActionHandler uses MarketingActionDto.FromEntity
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/GetMarketingAction/GetMarketingActionHandler.cs
Due: backend, Backend (.NET)

fix(analytics): explicit UTC conversion for LastModified + SDK missing-field comment
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/LedgerSyncService.cs
Due: backend, Backend (.NET)

fix: replace failing codeload action downloads with inline steps
  .github/workflows/ci-feature-branch.yml
  .github/workflows/claude-review.yml
Due: none

feat(analytics): add DepartmentSyncService with full-refresh sync and tests
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/DepartmentSyncService.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/DepartmentSyncServiceTests.cs
Due: backend, Backend (.NET)

refactor(marketing): GetMarketingActionsHandler uses MarketingActionDto.FromEntity
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/GetMarketingActions/GetMarketingActionsHandler.cs
Due: backend, Backend (.NET)

test(flexi-analytics): assert watermark is null on DepartmentSync error path
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/DepartmentSyncServiceTests.cs
Due: none

agent: upload artifacts/feat-arch-review-marketing-getmarketingaction/impl/main.r1.md
  artifacts/feat-arch-review-marketing-getmarketingaction/impl/main.r1.md
Due: none

fix: use QUERY_KEYS for smartsupp conversations invalidation
  frontend/src/api/hooks/useSmartsupp.ts
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
