Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: calculate daily consumption
  backend/src/Anela.Heblo.API/Controllers/PackingMaterialsController.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceSyncStats/GetIssuedInvoiceSyncStatsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoicesList/GetIssuedInvoicesListHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Infrastructure/Jobs/DailyConsumptionJob.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Services/ConsumptionCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionRequest.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoicesListHandlerPaginationTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/usePackingMaterials.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/packing-materials/modals/ProcessDailyConsumptionModal.tsx
  frontend/src/pages/PackingMaterialsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: code review
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceDetailDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceErrorDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceSyncDataDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdatePackingMaterialQuantityRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdatePackingMaterialQuantityResponse.cs
  frontend/src/api/client.ts
  frontend/src/api/hooks/useIssuedInvoiceSyncStats.ts
  frontend/src/api/hooks/useIssuedInvoices.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: package material consumption log
  backend/src/Anela.Heblo.API/Controllers/PackingMaterialsController.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/PackingMaterialLogDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsResponse.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/usePackingMaterials.ts
  frontend/src/components/packing-materials/modals/AddMaterialModal.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialConsumptionChart.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialDetailModal.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialLogsGrid.tsx
  frontend/src/pages/PackingMaterialsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: gift package retry
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
Due: backend, Backend (.NET)

fix: gift package retry (#254)
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
Due: backend, Backend (.NET)

fix: be tests
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsResponse.cs
Due: backend, Backend (.NET)

feat: package material consumption log (#255)
  backend/src/Anela.Heblo.API/Controllers/PackingMaterialsController.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/PackingMaterialLogDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialLogs/GetPackingMaterialLogsResponse.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/usePackingMaterials.ts
  frontend/src/components/packing-materials/modals/AddMaterialModal.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialConsumptionChart.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialDetailModal.tsx
  frontend/src/components/packing-materials/modals/PackingMaterialLogsGrid.tsx
  frontend/src/pages/PackingMaterialsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

refactor: reimplementace Invoice modulu podle Clean Architecture
  backend/src/Anela.Heblo.API/Controllers/InvoicesController.cs
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/ImportInvoiceRequestDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/ImportResultDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceDailyImportArgs.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceSingleImportArgs.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/IIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceSingleImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Mocks/MockBankClient.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/RemoveDAtTheEndOfProductCodeIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportResponse.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/ImportInvoices/ImportInvoicesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/ImportInvoices/ImportInvoicesRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/ImportInvoices/ImportInvoicesResponse.cs
Due: backend, Backend (.NET)

feat: issued invoices import
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/IssuedInvoiceMapping.cs
  backend/src/Anela.Heblo.API/Controllers/IssuedInvoicesController.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobSchedulerService.cs
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceDailyImportArgs.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceSingleImportArgs.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceSyncDataDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/IIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceSingleImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Mocks/MockBankClient.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/RemoveDAtTheEndOfProductCodeIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/ImportInvoices/ImportInvoicesHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceClient.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoiceDetailItem.cs
  scripts/compare-invoices.sh
Due: backend, Backend (.NET)

feat: issued invoice mapping
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/HebloShoptetAdapterModule.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/InvoicePriceCalculator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/IssuedInvoiceMapping.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/PaymentMethodResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ShippingMethodResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ValueResolvers/ForeignCurrencyPriceValueResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ValueResolvers/HomeCurrencyPriceValueResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ValueResolvers/PaymentMethodValueResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ValueResolvers/ShippingMethodValueResolver.cs
  backend/src/Anela.Heblo.API/invoices/125026444.xml
  backend/src/Anela.Heblo.API/invoices/125026693.xml
  backend/src/Anela.Heblo.API/invoices/125026723.xml
  backend/src/Anela.Heblo.API/invoices/125026731.xml
  backend/src/Anela.Heblo.API/invoices/125026745.xml
  backend/src/Anela.Heblo.Domain/Features/Invoices/IInvoicePriceCalculator.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IPaymentMethodResolver.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IShippingMethodResolver.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/InvoicePrice.cs
Due: backend, Backend (.NET)

feat: import invoice
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: minor issued invoice import issues
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceSyncDataConfiguration.cs
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: date formatting
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: frontend, Frontend (React)

feat: solution refactoring
  backend/src/Anela.Heblo.API/Controllers/InvoicesController.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/IInvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/InvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueImportInvoices/EnqueueImportInvoicesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueImportInvoices/EnqueueImportInvoicesRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueImportInvoices/EnqueueImportInvoicesResponse.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueInvoiceImport/EnqueueInvoiceImportResponse.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetInvoiceImportJobStatus/GetInvoiceImportJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetInvoiceImportJobStatus/GetInvoiceImportJobStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetRunningInvoiceImportJobs/GetRunningInvoiceImportJobsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetRunningInvoiceImportJobs/GetRunningInvoiceImportJobsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/ImportInvoices/ImportInvoicesRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/ImportInvoices/ImportInvoicesResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/EnqueueImportInvoicesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  frontend/src/api/client.ts
  frontend/src/api/hooks/useAsyncInvoiceImport.ts
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/components/invoices/InvoiceImportJobTracker.tsx
  frontend/src/components/invoices/InvoiceImportRunningIndicator.tsx
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: detail view
  backend/src/Anela.Heblo.API/Controllers/IssuedInvoicesController.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceSyncDataDto.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251204094529_AddMissingErrorColumnsOnly.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251204094529_AddMissingErrorColumnsOnly.cs
  frontend/src/api/hooks/useAsyncInvoiceImport.ts
  frontend/src/api/hooks/useIssuedInvoices.ts
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: daily hangfire job
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobSchedulerService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
Due: backend, Backend (.NET)

fix: tests
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueImportInvoices/EnqueueImportInvoicesResponse.cs
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportIntegrationTests.cs
Due: backend, Backend (.NET)

feat: receive transport boxes @claude
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Logistics/LogisticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/ITransportBoxRepository.cs
  backend/src/Anela.Heblo.Persistence/Logistics/TransportBoxes/TransportBoxRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/UseCases/ProcessReceivedBoxesHandlerTests.cs
  docs/features/receiving.md
Due: backend, Backend (.NET)

fix: invalidate synchronously
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/UseCases/ProcessReceivedBoxesHandlerTests.cs
Due: backend, Backend (.NET)

feat: receive transport boxes (#260)
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Logistics/LogisticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/ITransportBoxRepository.cs
  backend/src/Anela.Heblo.Persistence/Logistics/TransportBoxes/TransportBoxRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/UseCases/ProcessReceivedBoxesHandlerTests.cs
  docs/features/receiving.md
Due: backend, Backend (.NET)

fix: issued invoice import by date
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/IssuedInvoiceExportScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/ShoptetPlaywrightInvoiceSource.cs
  backend/src/Anela.Heblo.API/invoices/125026444.xml
  backend/src/Anela.Heblo.API/invoices/125026693.xml
  backend/src/Anela.Heblo.API/invoices/125026723.xml
  backend/src/Anela.Heblo.API/invoices/125026731.xml
  backend/src/Anela.Heblo.API/invoices/125026745.xml
  frontend/src/api/hooks/useAsyncInvoiceImport.ts
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: basic rbac
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/E2ESessionService.cs
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/MockAuthenticationHandler.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.Domain/Features/Authorization/AuthorizationConstants.cs
Due: backend, Backend (.NET)

fix: hangfire dashboard
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireDashboardTokenAuthorizationFilter.cs
Due: backend, Backend (.NET)

fixL: code review
  backend/src/Adapters/Anela.Heblo.Adapters.Comgate/ComgateBankClient.cs
  backend/src/Anela.Heblo.API/Controllers/BankStatementsController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Bank/BankModule.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/GetBankStatementList/GetBankStatementListResponse.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementResponse.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Validators/GetBankStatementListRequestValidator.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/BankStatementImport.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogMaterialCostRepositoryTests.cs
Due: backend, Backend (.NET)

fix: job
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobSchedulerService.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/pages/customer/BankStatementsOverviewPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: multitab for bank import
  backend/src/Anela.Heblo.API/Controllers/AnalyticsController.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/IAnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/DailyBankStatementStatistics.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsResponse.cs
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/components/customer/BankImportTabs.tsx
  frontend/src/components/customer/tabs/ImportTab.tsx
  frontend/src/components/customer/tabs/StatisticsTab.tsx
  frontend/src/pages/customer/BankStatementsOverviewPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: bank import scrollbar
  frontend/src/components/customer/BankImportTabs.tsx
  frontend/src/pages/customer/BankStatementsOverviewPage.tsx
Due: frontend, Frontend (React)

fix: test suite
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ComgateBankClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
  frontend/src/api/hooks/__tests__/useAsyncInvoiceImport.test.ts
  frontend/src/api/hooks/__tests__/useBankStatements.test.ts
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/api/testUtils.ts
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/components/customer/__tests__/IssuedInvoiceDetailModal.test.tsx
  frontend/src/components/invoices/__tests__/InvoiceImportJobTracker.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: statements url
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportIntegrationTests.cs
Due: none

feature/comgate_import (#262)
  backend/src/Anela.Heblo.API/Controllers/AnalyticsController.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobSchedulerService.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/IAnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/DailyBankStatementStatistics.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/src/Anela.Heblo.Persistence/Features/Bank/BankStatementImportRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ComgateBankClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/__tests__/useAsyncInvoiceImport.test.ts
  frontend/src/api/hooks/__tests__/useBankStatements.test.ts
  frontend/src/api/hooks/useBankStatements.ts
  frontend/src/api/testUtils.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/components/customer/__tests__/IssuedInvoiceDetailModal.test.tsx
  frontend/src/components/customer/tabs/ImportTab.tsx
  frontend/src/components/customer/tabs/StatisticsTab.tsx
  frontend/src/components/invoices/__tests__/InvoiceImportJobTracker.test.tsx
  frontend/src/pages/customer/BankStatementsOverviewPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: M3 draft
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/Ledger/LedgerService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/OverheadCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/IOverheadCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ManufactureCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/OverheadCost.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/OverheadCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Services/FinancialAnalysisService.cs
  backend/src/Anela.Heblo.Domain/Accounting/Ledger/ILedgerService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IOverheadCostRepository.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/ManufactureCostCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/OverheadCostCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/FinancialOverviewTests.cs
Due: backend, Backend (.NET)

fix: request handling middleware
  backend/src/Adapters/Anela.Heblo.Adapters.Comgate/ComgateBankClient.cs
  backend/src/Anela.Heblo.API/Extensions/ApplicationBuilderExtensions.cs
  backend/src/Anela.Heblo.API/Extensions/RequestLoggingExtensions.cs
  backend/src/Anela.Heblo.API/Middleware/RequestLoggingMiddleware.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ComgateBankClientTests.cs
  docs/analysis/bank_import_logging_gaps.md
Due: backend, Backend (.NET)

feat: margin recalculate
  backend/src/Anela.Heblo.API/Controllers/BankStatementsController.cs
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.API/Controllers/InvoicesController.cs
  backend/src/Anela.Heblo.API/Controllers/IssuedInvoicesController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RecalculateMargin/RecalculateMarginHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RecalculateMargin/RecalculateMarginRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RecalculateMargin/RecalculateMarginResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/RecalculateMarginHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/EnqueueImportInvoicesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/UseCases/ProcessReceivedBoxesHandlerTests.cs
  docs/operations/logging_configuration_guide.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useCatalog.ts
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsSummary.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add M1_A and M1_B to MarginData averages
  backend/src/Anela.Heblo.Domain/Features/Catalog/MarginData.cs
Due: backend, Backend (.NET)

feat: split M1 into M1_A (baseline) and M1_B (actual) in MonthlyMarginData
  backend/src/Anela.Heblo.Domain/Features/Catalog/MonthlyMarginData.cs
Due: backend, Backend (.NET)

feat: add company-wide produced CP calculation method
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
