Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-4310): planning artifact
  artifacts/feat-4310/state.json
  artifacts/feat-4310/task-plan.r1.md
Due: none

chore(feat-4310): task context
  artifacts/feat-4310/state.json
  artifacts/feat-4310/task-context/fix-response-nullability.md
  artifacts/feat-4310/task-context/regenerate-api-client.md
Due: none

chore(feat-4308): impl+review for remove-backend-timestamp-field r1
  artifacts/feat-4308/impl/remove-backend-timestamp-field.r1.md
  artifacts/feat-4308/review/remove-backend-timestamp-field.r1.md
  artifacts/feat-4308/state.json
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Configuration/GetConfigurationEndpointTests.cs
  backend/test/Anela.Heblo.Tests/Features/Configuration/GetConfigurationHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-4308): remove-backend-timestamp-field passed review
  artifacts/feat-4308/state.json
Due: none

chore(feat-4308): impl+review for regenerate-frontend-client r1
  artifacts/feat-4308/impl/regenerate-frontend-client.r1.md
  artifacts/feat-4308/review/regenerate-frontend-client.r1.md
  artifacts/feat-4308/state.json
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

chore(feat-4308): regenerate-frontend-client passed review
  artifacts/feat-4308/state.json
Due: none

fix(filestorage): make DownloadFromUrlResponse blob fields nullable
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlResponse.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/DownloadFromUrlHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-4310): impl+review for fix-response-nullability r1
  artifacts/feat-4310/impl/fix-response-nullability.r1.md
  artifacts/feat-4310/review/fix-response-nullability.r1.md
  artifacts/feat-4310/state.json
Due: none

fix(skills): avoid arg-size overflow paginating large comment threads
  .claude/skills/_lib/gh_api.sh
Due: none

chore(filestorage): regenerate TS client for nullable DownloadFromUrlResponse fields
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

chore(feat-4310): impl+review for regenerate-api-client r1
  artifacts/feat-4310/impl/regenerate-api-client.r1.md
  artifacts/feat-4310/review/regenerate-api-client.r1.md
  artifacts/feat-4310/state.json
Due: none

chore(feat-4308): impl+review for simplify-frontend-timestamp-usage r1
  artifacts/feat-4308/impl/simplify-frontend-timestamp-usage.r1.md
  artifacts/feat-4308/review/simplify-frontend-timestamp-usage.r1.md
  artifacts/feat-4308/state.json
  frontend/src/services/__tests__/versionService.test.ts
  frontend/src/services/versionService.ts
Due: frontend, Frontend (React)

chore(feat-4308): simplify-frontend-timestamp-usage passed review
  artifacts/feat-4308/state.json
Due: none

chore(feat-4310): regenerate-api-client passed review
  artifacts/feat-4310/state.json
Due: none

chore(feat-4308): code review r1
  artifacts/feat-4308/code-review.r1.md
  artifacts/feat-4308/state.json
Due: none

chore(feat-4310): code review r1
  artifacts/feat-4310/code-review.r1.md
  artifacts/feat-4310/state.json
Due: none

chore(feat-4310): code review completed (CLEAN)
  artifacts/feat-4310/state.json
Due: none

fix(test): stop ReceivedInvoiceVatIdWireShapeTests flaking on ambient TZ ordering
  backend/test/Anela.Heblo.Tests/Adapters/Flexi/ReceivedInvoiceVatIdWireShapeTests.cs
Due: none

chore: fix agent context_files paths to installed plugin cache location
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore: point .agents context_files at plugin-cached skill paths
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

#4308: Remove out-of-scope Timestamp field from GetConfigurationResponse (#4312)
  artifacts/feat-4308/arch-review.r1.md
  artifacts/feat-4308/brief.md
  artifacts/feat-4308/code-review.r1.md
  artifacts/feat-4308/design.r1.md
  artifacts/feat-4308/impl/regenerate-frontend-client.r1.md
  artifacts/feat-4308/impl/remove-backend-timestamp-field.r1.md
  artifacts/feat-4308/impl/simplify-frontend-timestamp-usage.r1.md
  artifacts/feat-4308/review/regenerate-frontend-client.r1.md
  artifacts/feat-4308/review/remove-backend-timestamp-field.r1.md
  artifacts/feat-4308/review/simplify-frontend-timestamp-usage.r1.md
  artifacts/feat-4308/spec.r1.md
  artifacts/feat-4308/state.json
  artifacts/feat-4308/task-context/regenerate-frontend-client.md
  artifacts/feat-4308/task-context/remove-backend-timestamp-field.md
  artifacts/feat-4308/task-context/simplify-frontend-timestamp-usage.md
  artifacts/feat-4308/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Configuration/GetConfigurationEndpointTests.cs
  backend/test/Anela.Heblo.Tests/Features/Configuration/GetConfigurationHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/services/__tests__/versionService.test.ts
  frontend/src/services/versionService.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

#4310: FileStorage DownloadFromUrlResponse nullability fix (#4313)
  artifacts/feat-4310/arch-review.r1.md
  artifacts/feat-4310/brief.md
  artifacts/feat-4310/code-review.r1.md
  artifacts/feat-4310/design.r1.md
  artifacts/feat-4310/impl/fix-response-nullability.r1.md
  artifacts/feat-4310/impl/regenerate-api-client.r1.md
  artifacts/feat-4310/review/fix-response-nullability.r1.md
  artifacts/feat-4310/review/regenerate-api-client.r1.md
  artifacts/feat-4310/spec.r1.md
  artifacts/feat-4310/state.json
  artifacts/feat-4310/task-context/fix-response-nullability.md
  artifacts/feat-4310/task-context/regenerate-api-client.md
  artifacts/feat-4310/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlResponse.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/DownloadFromUrlHandlerTests.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: avoid argv overflow in gh_api.sh's page-merging helpers
  .claude/skills/_lib/gh_api.sh
Due: none

chore: refresh AgentHarness agent scaffolding (agentharness init)
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none
