Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: Module (#1140)
  artifacts/feat-arch-review-journal-familyentries-on-jou/arch-review.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/brief.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/impl/main.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/spec.r1.md
  artifacts/feat-arch-review-journal-familyentries-on-jou/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalIndicatorDto.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalIndicator.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalRepositoryIntegrationTests.cs
  docs/superpowers/plans/2026-05-12-remove-journal-family-entries.md
  frontend/package-lock.json
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-meeting-tasks-domain-model-ef-core-persi/brief.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/brief.md
Due: none

agent: upload artifacts/feat-meeting-tasks-domain-model-ef-core-persi/spec.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/spec.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-domain-model-ef-core-persi/arch-review.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/arch-review.r1.md
Due: none

agent: planner output feat-meeting-tasks-domain-model-ef-core-persi-planning-1
  docs/superpowers/plans/2026-05-12-meeting-tasks-domain-model-ef-core-persistence.md
Due: none

agent: upload artifacts/feat-meeting-tasks-domain-model-ef-core-persi/task-plan.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/task-plan.r1.md
Due: none

feat: add MeetingTranscriptStatus and ProposedTaskStatus enums
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingTranscriptStatus.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/ProposedTaskStatus.cs
Due: backend, Backend (.NET)

feat: add MeetingTranscript and ProposedTask domain entities
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingTranscript.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/ProposedTask.cs
Due: backend, Backend (.NET)

feat: add IMeetingTranscriptRepository interface
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/IMeetingTranscriptRepository.cs
Due: backend, Backend (.NET)

feat: add EF Core configurations for MeetingTranscript and ProposedTask
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptConfiguration.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/ProposedTaskConfiguration.cs
Due: backend, Backend (.NET)

feat: expose MeetingTranscripts and ProposedTasks DbSets on ApplicationDbContext
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
Due: backend, Backend (.NET)

feat: add MeetingTranscriptRepository with unit tests
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/MeetingTranscriptRepositoryTests.cs
Due: backend, Backend (.NET)

feat: register IMeetingTranscriptRepository in PersistenceModule
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

feat: add EF Core migration AddMeetingTasksTables
  backend/src/Anela.Heblo.Persistence/Migrations/20260512191541_AddMeetingTasksTables.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512191541_AddMeetingTasksTables.cs
Due: backend, Backend (.NET)

chore: dotnet format
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
Due: none

agent: upload artifacts/feat-meeting-tasks-domain-model-ef-core-persi/impl/main.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/impl/main.r1.md
Due: none

agent: upload artifacts/feat-smartsupp-webhook-receiver/brief.md
  artifacts/feat-smartsupp-webhook-receiver/brief.md
Due: none

feat: smartsupp
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/Infrastructure/Jobs/SmartsuppSyncJob.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppSyncState.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512190557_DropSmartsuppSyncState.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512190557_DropSmartsuppSyncState.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512193450_AddSmartsuppSyncState.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512193450_AddSmartsuppSyncState.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512193804_FixSmartsuppSyncStateColumnTypes.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512193804_FixSmartsuppSyncStateColumnTypes.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppSyncStateConfiguration.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/ConversationListItem.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-smartsupp-webhook-receiver/spec.r1.md
  artifacts/feat-smartsupp-webhook-receiver/spec.r1.md
Due: none

agent: upload artifacts/feat-plan-fetch-smartsupp-contacts-expand-res/brief.md
  artifacts/feat-plan-fetch-smartsupp-contacts-expand-res/brief.md
Due: none

feat: meeting tasks — domain model & EF Core persistence (#1145)
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/arch-review.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/brief.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/impl/main.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/spec.r1.md
  artifacts/feat-meeting-tasks-domain-model-ef-core-persi/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/IMeetingTranscriptRepository.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingTranscript.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/MeetingTranscriptStatus.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/ProposedTask.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/ProposedTaskStatus.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptConfiguration.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/ProposedTaskConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512191541_AddMeetingTasksTables.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260512191541_AddMeetingTasksTables.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/MeetingTranscriptRepositoryTests.cs
  docs/superpowers/plans/2026-05-12-meeting-tasks-domain-model-ef-core-persistence.md
Due: backend, Backend (.NET)

feat: expand Smartsupp domain data contracts — add contact, sub_type, extended fields
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
Due: backend, Backend (.NET)

feat: add SmartsuppContact domain entity
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppContact.cs
Due: backend, Backend (.NET)

feat: expand SmartsuppConversation and SmartsuppMessage entities with new fields
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppConversation.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/SmartsuppMessage.cs
Due: backend, Backend (.NET)

feat: add UpsertContactAsync and expand upsert methods to copy new fields
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppRepository.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
Due: backend, Backend (.NET)

feat: add SmartsuppContact EF config and extend conversation/message configs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppContactConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppConversationConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppMessageConfiguration.cs
Due: backend, Backend (.NET)

feat: add migration AddSmartsuppContactsAndExtendedFields
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260513043507_AddSmartsuppContactsAndExtendedFields.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260513043507_AddSmartsuppContactsAndExtendedFields.cs
Due: backend, Backend (.NET)

feat: rewrite SmartsuppApiClient — GetContactAsync, expanded DTOs and mappers
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
Due: backend, Backend (.NET)

feat: wire GetContactAsync into sync job with per-run caching and fix sub_type author mapping
  backend/src/Anela.Heblo.Application/Features/Smartsupp/Infrastructure/Jobs/SmartsuppSyncJob.cs
Due: backend, Backend (.NET)

test: update SmartsuppApiClientTests — real JSON shapes, sub_type, GetContactAsync
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppApiClientTests.cs
Due: none

test: update SmartsuppSyncJobTests — contact caching, sub_type mapping, new assertions
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/SmartsuppSyncJobTests.cs
Due: none

chore: apply dotnet format
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
Due: none

docs: plan
  docs/superpowers/plans/2026-05-13-smartsupp-contacts-expanded-models.md
Due: none

agent: upload artifacts/feat-meeting-tasks-plaud-cli-adapter-polling-/spec.r1.md
  artifacts/feat-meeting-tasks-plaud-cli-adapter-polling-/spec.r1.md
Due: none

agent: upload artifacts/feat-meeting-tasks-plaud-cli-adapter-polling-/brief.md
  artifacts/feat-meeting-tasks-plaud-cli-adapter-polling-/brief.md
Due: none

agent: upload artifacts/feat-meeting-tasks-plaud-cli-adapter-polling-/arch-review.r1.md
  artifacts/feat-meeting-tasks-plaud-cli-adapter-polling-/arch-review.r1.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
