Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix: fe tests
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/appsettings.json
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
Due: frontend, Frontend (React)

feat: Asynchronous product stock taking
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/StockTakingResultDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/CatalogStockTakingService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ICatalogStockTakingService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingRequestValidator.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useStockTaking.ts
  frontend/src/components/inventory/InventoryModal.tsx
  frontend/src/components/inventory/StockTakingJobStatusTracker.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: orgchart
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/EmployeeDto.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/OrgChartResponse.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/OrganizationDto.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/PositionDto.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartModule.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartOptions.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Services/IOrgChartService.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Services/OrgChartService.cs
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useOrgChart.ts
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
  frontend/src/pages/OrgChartPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix/journal-edit (#231)
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/CreateJournalEntry/CreateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/DeleteJournalEntry/DeleteJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntries/GetJournalEntriesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntry/GetJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/SearchJournalEntries/SearchJournalEntriesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/UpdateJournalEntry/UpdateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/IJournalRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalEntry.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251023073306_AddUsernameFieldsToJournal.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251023073306_AddUsernameFieldsToJournal.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/appsettings.json
  backend/test/Anela.Heblo.Tests/Domain/Journal/SimpleJournalTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/DeleteJournalEntryHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/JournalEntryForm.tsx
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
  frontend/src/components/pages/Journal/JournalList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Margins were discarded after a while (#232)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

fix: vertical scrollbar
  frontend/src/pages/OrgChartPage.tsx
Due: frontend, Frontend (React)

fix: fe tests
  frontend/src/components/inventory/__tests__/InventoryModal.test.tsx
  frontend/src/components/pages/__tests__/InventoryList.test.tsx
Due: frontend, Frontend (React)

feat: material with and without expiration tile
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialWithExpirationInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialWithoutExpirationInventorySummaryTile.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251024072354_UpdateMaterialInventoryTileId.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251024072354_UpdateMaterialInventoryTileId.cs
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Dashboard user settings concurrency error
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
Due: backend, Backend (.NET)

feat: Purchase orders temporary material list
  frontend/src/App.tsx
  frontend/src/components/common/PurchasePlanningListPanel.tsx
  frontend/src/components/pages/PurchaseOrderForm.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
  frontend/src/contexts/PurchasePlanningListContext.tsx
Due: frontend, Frontend (React)

fix: fe tests
  frontend/src/components/dashboard/tiles/__tests__/TileContent.test.tsx
Due: frontend, Frontend (React)

feat: material with and without expiration tile (#235)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialWithExpirationInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialWithoutExpirationInventorySummaryTile.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251024072354_UpdateMaterialInventoryTileId.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251024072354_UpdateMaterialInventoryTileId.cs
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/dashboard/tiles/__tests__/TileContent.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Dashboard user settings concurrency error (#236)
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
Due: backend, Backend (.NET)

fix: code review changes
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/CatalogStockTakingService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ICatalogStockTakingService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingResponse.cs
Due: backend, Backend (.NET)

feat: Purchase orders temporary material list (#237)
  frontend/src/App.tsx
  frontend/src/components/common/PurchasePlanningListPanel.tsx
  frontend/src/components/pages/PurchaseOrderForm.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/components/pages/__tests__/PurchaseStockAnalysis.test.tsx
  frontend/src/contexts/PurchasePlanningListContext.tsx
Due: frontend, Frontend (React)

fix: mediatr approach
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/OrgChartResponse.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartModule.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/UseCases/GetOrganizationStructure/GetOrganizationStructureHandler.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/UseCases/GetOrganizationStructure/GetOrganizationStructureRequest.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251020081944_AddSinglePhaseManufacturing.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/LowStockAlertTileTests.cs
Due: backend, Backend (.NET)

feat: Asynchronous product stock taking (#233)
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/StockTakingResultDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/SubmitStockTaking/SubmitStockTakingRequestValidator.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useStockTaking.ts
  frontend/src/components/inventory/InventoryModal.tsx
  frontend/src/components/inventory/StockTakingJobStatusTracker.tsx
  frontend/src/components/inventory/__tests__/InventoryModal.test.tsx
  frontend/src/components/pages/InventoryList.tsx
  frontend/src/components/pages/__tests__/InventoryList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: FE client regenerated
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

ci: concurrency groups
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

feat: orgchart (#234)
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/EmployeeDto.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/OrgChartResponse.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/OrganizationDto.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Contracts/PositionDto.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartModule.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/OrgChartOptions.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Services/IOrgChartService.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/Services/OrgChartService.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/UseCases/GetOrganizationStructure/GetOrganizationStructureHandler.cs
  backend/src/Anela.Heblo.Application/Features/OrgChart/UseCases/GetOrganizationStructure/GetOrganizationStructureRequest.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251020081944_AddSinglePhaseManufacturing.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/LowStockAlertTileTests.cs
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useOrgChart.ts
  frontend/src/pages/OrgChartPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add unit price to autocomplete (purchase orders)
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/common/__tests__/CatalogAutocomplete.test.tsx
  frontend/src/components/common/__tests__/CatalogAutocompleteAdapters.test.ts
  frontend/src/components/pages/PurchaseOrderForm.tsx
  frontend/src/components/purchase-orders/form/__tests__/PurchaseOrderHelpers.test.tsx
Due: frontend, Frontend (React)

fix: manufacture stock severity correctly set
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureSeverityCalculator.cs
Due: backend, Backend (.NET)

fix: Stock taking now show warning even for purchase orders with InvoiceAcquired = false
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
Due: backend, Backend (.NET)

fix: manufacture stock severity correctly set (#238)
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureSeverityCalculator.cs
Due: backend, Backend (.NET)

feat: add unit price to autocomplete (purchase orders) (#239)
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/common/__tests__/CatalogAutocomplete.test.tsx
  frontend/src/components/common/__tests__/CatalogAutocompleteAdapters.test.ts
  frontend/src/components/pages/PurchaseOrderForm.tsx
  frontend/src/components/purchase-orders/form/__tests__/PurchaseOrderHelpers.test.tsx
Due: frontend, Frontend (React)

fix: Stock taking now show warning even for purchase orders with InvoiceAcquired = false (#240)
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
Due: backend, Backend (.NET)

feat(manufacture): implement single-phase manufacturing business logic
  backend/src/Anela.Heblo.Application/Features/Manufacture/Contracts/ConfirmSinglePhaseProductionResult.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IBatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSinglePhaseProduction/ConfirmSinglePhaseProductionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSinglePhaseProduction/ConfirmSinglePhaseProductionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSinglePhaseProduction/ConfirmSinglePhaseProductionResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderState.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ConfirmSinglePhaseProductionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerSinglePhaseTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderStateTransitionTests.cs
Due: backend, Backend (.NET)

feat: batch planning single type rollback
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureRepository.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/GetCatalogListRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogList/GetCatalogListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockTakingJobStatus/GetStockTakingJobStatusResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/ProcessStockTaking/ProcessStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Contracts/ConfirmSinglePhaseProductionResult.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSinglePhaseProduction/ConfirmSinglePhaseProductionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSinglePhaseProduction/ConfirmSinglePhaseProductionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/ConfirmSinglePhaseProduction/ConfirmSinglePhaseProductionResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderState.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureTemplate.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureType.cs
  backend/test/Anela.Heblo.Tests/Controllers/CatalogControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ConfirmSinglePhaseProductionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderStateTransitionTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useCatalogAutocomplete.ts
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useManufactureInventory.ts
  frontend/src/components/common/CatalogAutocomplete.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: BatchPlanning
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureRepository.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/IBatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/Ingredient.cs
  frontend/src/api/hooks/useBatchPlanning.ts
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: create manufacture order
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/BatchPlanningService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CalculateBatchPlan/CalculateBatchPlanRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Validators/CalculateBatchPlanRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/BatchPlanningServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CalculateBatchPlanRequestValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerSinglePhaseTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useCatalogAutocomplete.ts
  frontend/src/api/hooks/useInventory.ts
  frontend/src/api/hooks/useManufactureInventory.ts
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: singlephase manufacture orders
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/CalendarEventDto.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/GetCalendarViewHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/manufacture/detail/BasicInfoSection.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: tests
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderStateTransitionTests.cs
  frontend/src/api/hooks/__tests__/useInventory.test.tsx
  frontend/src/components/pages/__tests__/ManufactureBatchPlanning.planningList.test.tsx
Due: frontend, Frontend (React)

fix: manufacture name
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
Due: backend, Backend (.NET)

fix: be test
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: none

fix: production tiles
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  frontend/src/components/dashboard/tiles/ProductionTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Production tiles
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  frontend/src/components/dashboard/tiles/ProductionTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: LowStockEfficiencyTile now shows only configured products
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
Due: backend, Backend (.NET)

fix: Add purchase price to PurchaseOrder
  frontend/src/components/pages/PurchaseOrderForm.tsx
Due: frontend, Frontend (React)

fix: GiftPackageManufacture buttons are now visible even on smaller displays
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
