Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/brief.md
  artifacts/feat-arch-review-marketing-updatemarketingact/brief.md
Due: none

fix(smartsupp): handle Space key on source rows in DraftReplySourcesModal
  frontend/src/components/customer-support/smartsupp/DraftReplySourcesModal.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/DraftReplySourcesModal.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/spec.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/spec.r1.md
Due: none

fix: always render conversation list on mobile regardless of listPanelOpen
  frontend/src/components/customer-support/smartsupp/pages/SmartsuppChatsPage.tsx
Due: frontend, Frontend (React)

feat(marketing): wire MobileAgendaView into MarketingCalendarPage
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/arch-review.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/arch-review.r1.md
Due: none

fix(finance): address code review findings in mobile financial overview
  frontend/src/components/pages/FinancialOverview.tsx
  frontend/src/components/pages/financial-overview/FinancialChart.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialFilters.test.tsx
Due: frontend, Frontend (React)

feat(finance): mobile-friendly Financial Overview page (#1361)
  docs/superpowers/plans/2026-05-18-mobile-friendly-financial-overview.md
  frontend/playwright.config.ts
  frontend/src/components/pages/FinancialOverview.tsx
  frontend/src/components/pages/financial-overview/FinancialChart.tsx
  frontend/src/components/pages/financial-overview/FinancialDataCards.tsx
  frontend/src/components/pages/financial-overview/FinancialDataTable.tsx
  frontend/src/components/pages/financial-overview/FinancialFilters.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialChart.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialDataCards.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialDataTable.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialFilters.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/utils.test.ts
  frontend/src/components/pages/financial-overview/utils.ts
  frontend/test/e2e/finance/financial-overview-mobile.spec.ts
Due: frontend, Frontend (React)

test(marketing): fix vacuous desktop-absent assertion in mobile calendar tests
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

agent: planner output feat-arch-review-marketing-updatemarketingact-planning-1
  docs/superpowers/plans/2026-05-18-marketing-folder-link-request-shared-dto.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/task-plan.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/task-plan.r1.md
Due: none

test(e2e): add mobile agenda Playwright spec at 375px viewport
  frontend/test/e2e/marketing/mobile-agenda.spec.ts
Due: none

fix(smartsupp): preserve draft message per conversation on switch (#1363)
  docs/superpowers/plans/2026-05-18-smartsupp-per-chat-draft.md
  frontend/src/components/customer-support/smartsupp/ChatComposer.tsx
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ChatComposer.test.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ConversationDetail.test.tsx
  frontend/src/components/customer-support/smartsupp/pages/SmartsuppChatsPage.tsx
  frontend/src/components/customer-support/smartsupp/pages/__tests__/SmartsuppChatsPage.test.tsx
Due: frontend, Frontend (React)

fix(e2e): replace spinner race guards with positive readiness assertions and improve prev-button selector
  frontend/src/components/manufacture/calendar/CalendarNavigation.tsx
  frontend/test/e2e/marketing/mobile-agenda.spec.ts
Due: frontend, Frontend (React)

test: update SmartsuppChatsPage tests for mobile-first list rendering
  frontend/src/components/customer-support/smartsupp/pages/__tests__/SmartsuppChatsPage.test.tsx
Due: frontend, Frontend (React)

refactor(marketing): extract shared MarketingFolderLinkRequest DTO
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/CreateMarketingActionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/MarketingFolderLinkRequest.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/UpdateMarketingActionRequest.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/impl/main.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-associatewithprodu/brief.md
  artifacts/feat-arch-review-marketing-associatewithprodu/brief.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-associatewithprodu/spec.r1.md
  artifacts/feat-arch-review-marketing-associatewithprodu/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-associatewithprodu/arch-review.r1.md
  artifacts/feat-arch-review-marketing-associatewithprodu/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-marketing-associatewithprodu-planning-1
  docs/superpowers/plans/2026-05-18-fix-marketing-action-associate-with-product.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-associatewithprodu/task-plan.r1.md
  artifacts/feat-arch-review-marketing-associatewithprodu/task-plan.r1.md
Due: none

feat(smartsupp): replace source tooltip with browsable Zdroj dat modal (#1364)
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GenerateDraftReply/GenerateDraftReplyHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GenerateDraftReply/GenerateDraftReplyResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/GenerateDraftReplyHandlerTests.cs
  docs/superpowers/plans/2026-05-18-smartsupp-source-data-modal.md
  frontend/src/components/customer-support/smartsupp/DraftReplySourcesModal.tsx
  frontend/src/components/customer-support/smartsupp/DraftReplyToolbar.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/DraftReplySourcesModal.test.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/DraftReplyToolbar.test.tsx
  frontend/src/components/customer-support/smartsupp/hooks/useGenerateDraftReply.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add mobile marketing calendar implementation plan
  docs/superpowers/plans/2026-05-18-mobile-marketing-calendar.md
Due: none

feat(customer-support): make Smartsupp chat page mobile-responsive (#1362)
  docs/superpowers/plans/2026-05-18-smartsupp-mobile-responsive.md
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/__tests__/Layout.test.tsx
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/DraftReplyTriggerBar.tsx
  frontend/src/components/customer-support/smartsupp/TopicPickerSheet.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ChatComposer.test.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ConversationDetail.test.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/DraftReplyTriggerBar.test.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/TopicPickerSheet.test.tsx
  frontend/src/components/customer-support/smartsupp/pages/SmartsuppChatsPage.tsx
  frontend/src/components/customer-support/smartsupp/pages/__tests__/SmartsuppChatsPage.test.tsx
Due: frontend, Frontend (React)

test: add failing case-insensitive dedup test for AssociateWithProduct
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionAssociateWithProductTests.cs
Due: none

fix(marketing): deduplicate AssociateWithProduct against normalized value
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
Due: backend, Backend (.NET)

test(marketing): cover empty input + add cases for AssociateWithProduct
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionAssociateWithProductTests.cs
Due: none

agent: upload artifacts/feat-arch-review-marketing-associatewithprodu/impl/main.r1.md
  artifacts/feat-arch-review-marketing-associatewithprodu/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/brief.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/spec.r1.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/spec.r1.md
Due: none

agent: product output feat-arch-review-marketing-actiontype-filter--questioning-r1
  answers.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/answers.r1.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/spec.r2.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/arch-review.r1.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-marketing-actiontype-filter--planning-1
  docs/superpowers/plans/2026-05-18-marketing-action-type-filter.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/task-plan.r1.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/task-plan.r1.md
Due: none

test: add failing GetMarketingActionsHandler ActionType propagation test
  backend/test/Anela.Heblo.Tests/Application/Marketing/GetMarketingActionsHandlerTests.cs
Due: none

feat: add ActionType property to GetMarketingActionsRequest
  backend/src/Anela.Heblo.Application/Features/Marketing/Contracts/GetMarketingActionsRequest.cs
Due: backend, Backend (.NET)

feat: wire ActionType filter in GetMarketingActions handler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/GetMarketingActions/GetMarketingActionsHandler.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
