Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix(catalog): sync pagination state with URL parameters when clearing filters (#330)
  frontend/src/components/pages/CatalogList.tsx
  frontend/src/components/pages/__tests__/CatalogList.test.tsx
Due: frontend, Frontend (React)

test(e2e): fix batch planning test data for staging environment (#331)
  frontend/test/e2e/batch-planning-error-handling.spec.ts
Due: none

feat: test data for e2e tests
  CLAUDE.md
  docs/testing/test-data-fixtures.md
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/fixtures/test-data.ts
Due: none

feat: test data for e2e tests (#333)
  CLAUDE.md
  docs/testing/test-data-fixtures.md
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/fixtures/test-data.ts
Due: none

fix(catalog): restore filters from URL on browser back/forward navigation (#332)
  frontend/src/components/pages/CatalogList.tsx
  frontend/src/components/pages/__tests__/CatalogList.test.tsx
Due: frontend, Frontend (React)

fix(catalog): reset pagination to page 1 when filters change
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

fix: accounting template list updated
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
Due: backend, Backend (.NET)

fix(catalog): reset pagination to page 1 when filters change (#334)
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

fix: accounting template list updated (#335)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
Due: backend, Backend (.NET)

perf(e2e): optimize test suite - Phase 1-3 implementation (#336)
  frontend/playwright.config.ts
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-product-type-filter.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/helpers/catalog-test-helpers.ts
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
  frontend/test/e2e/helpers/wait-helpers.ts
  frontend/test/e2e/manufacture/manufacture-order-creation.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-state-return.spec.ts
  frontend/test/e2e/navigation/sidebar-navigation.spec.ts
  frontend/test/e2e/staging-auth.spec.ts
Due: none

perf(e2e): optimize test suite - Phase 1-3 implementation (#336) (#337)
  frontend/playwright.config.ts
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-product-type-filter.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/helpers/catalog-test-helpers.ts
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
  frontend/test/e2e/helpers/wait-helpers.ts
  frontend/test/e2e/manufacture/manufacture-order-creation.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-state-return.spec.ts
  frontend/test/e2e/navigation/sidebar-navigation.spec.ts
  frontend/test/e2e/staging-auth.spec.ts
Due: none

fix: e2e tests auth
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/invoice-classification-history.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
Due: none

fix: e2e test auth
  CLAUDE.md
  docs/architecture/testing-strategy.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-margins-chart.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-product-type-filter.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/catalog-ui.spec.ts
  frontend/test/e2e/changelog/changelog.spec.ts
  frontend/test/e2e/debug-transport-page.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-creation.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-state-return.spec.ts
  frontend/test/e2e/navigation/sidebar-navigation.spec.ts
  frontend/test/e2e/staging-auth.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-sorting.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-source-filter.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-creation.spec.ts
  frontend/test/e2e/transport-box-items.spec.ts
  frontend/test/e2e/transport-box-management.spec.ts
  frontend/test/e2e/transport-box-workflow.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
  frontend/test/e2e/transport-ean-integration.spec.ts
Due: none

feat: flaky tests identified
  frontend/test/e2e/flaky/batch-planning-error-handling.spec.ts
  frontend/test/e2e/flaky/catalog-clear-filters.spec.ts
  frontend/test/e2e/flaky/catalog-combined-filters.spec.ts
  frontend/test/e2e/flaky/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/flaky/catalog-margins-chart.spec.ts
  frontend/test/e2e/flaky/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/flaky/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/flaky/catalog-text-search-filters.spec.ts
  frontend/test/e2e/flaky/changelog/changelog.spec.ts
  frontend/test/e2e/flaky/dashboard.spec.ts
  frontend/test/e2e/flaky/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/flaky/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/flaky/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/flaky/invoice-classification-history.spec.ts
  frontend/test/e2e/flaky/transport-box-receive.spec.ts
  frontend/test/e2e/flaky/transport-boxes-basic.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
Due: none

feat: flaky tests
  .claude/settings.json
  e2e_ralph_prompt.txt
  frontend/test/e2e/flaky/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/flaky/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/flaky/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/flaky/stock-operations/stock-operations-state-filter.spec.ts
Due: none

feat: updated e2e tests
  .claude/ralph-loop.local.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-margins-chart.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/changelog/changelog.spec.ts
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/invoice-classification-history.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
Due: none

fix: e2e tests auth (#338)
  .claude/ralph-loop.local.md
  .claude/settings.json
  CLAUDE.md
  docs/architecture/testing-strategy.md
  e2e_ralph_prompt.txt
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-margins-chart.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-product-type-filter.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/catalog-ui.spec.ts
  frontend/test/e2e/changelog/changelog.spec.ts
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/debug-transport-page.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/invoice-classification-history.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-creation.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-state-return.spec.ts
  frontend/test/e2e/navigation/sidebar-navigation.spec.ts
  frontend/test/e2e/staging-auth.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-sorting.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-source-filter.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-creation.spec.ts
  frontend/test/e2e/transport-box-items.spec.ts
  frontend/test/e2e/transport-box-management.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
  frontend/test/e2e/transport-box-workflow.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
  frontend/test/e2e/transport-ean-integration.spec.ts
Due: none

fix: e2e tests + claude.md cleanup
  .claude/ralph-loop.local.md
  CLAUDE.md
  docs/development/api-client-generation.md
  docs/development/setup.md
  docs/testing/playwright-e2e-testing.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-margins-chart.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/changelog/changelog.spec.ts
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/invoice-classification-history.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
Due: none

fix: e2e tests + claude.md cleanup (#339)
  .claude/ralph-loop.local.md
  CLAUDE.md
  docs/development/api-client-generation.md
  docs/development/setup.md
  docs/testing/playwright-e2e-testing.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-filter-edge-cases.spec.ts
  frontend/test/e2e/catalog-margins-chart.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/changelog/changelog.spec.ts
  frontend/test/e2e/dashboard.spec.ts
  frontend/test/e2e/features/gift-package-disassembly.spec.ts
  frontend/test/e2e/features/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/invoice-classification-history.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
Due: none

feat: e2e tests filesystem moved to flat structure
  .claude/ralph_loops/fix_e2e_skipped_tests.prompt.txt
  .claude/ralph_loops/fix_e2e_skipped_tests/skipped_tests_list.txt
  frontend/test/e2e/TEST_FAILURES_ANALYSIS.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/changelog.spec.ts
  frontend/test/e2e/gift-package-disassembly.spec.ts
  frontend/test/e2e/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/manufacture-order-creation.spec.ts
  frontend/test/e2e/manufacture-order-state-return.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-state-return.spec.ts
  frontend/test/e2e/recurring-jobs-management.spec.ts
  frontend/test/e2e/sidebar-navigation.spec.ts
  frontend/test/e2e/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations-sorting.spec.ts
  frontend/test/e2e/stock-operations-source-filter.spec.ts
  frontend/test/e2e/stock-operations-state-filter.spec.ts
  scripts/run-playwright-tests.sh
Due: none

docs: add product composition tab design document
  docs/plans/2026-01-28-product-composition-tab-design.md
Due: none

docs: add detailed implementation plan for composition tab
  docs/plans/2026-01-28-product-composition-tab-implementation.md
Due: none

feat: add GetProductComposition DTOs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/IngredientDto.cs
Due: backend, Backend (.NET)

feat: add GetProductComposition handler with tests
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductCompositionHandlerTests.cs
Due: backend, Backend (.NET)

feat: add GET /api/catalog/{productCode}/composition endpoint
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionResponse.cs
Due: backend, Backend (.NET)

feat: add useProductComposition API hook
  frontend/src/api/hooks/useCatalog.ts
Due: frontend, Frontend (React)

feat: add CompositionTab with loading, error, empty states
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/catalog/detail/tabs/__tests__/CompositionTab.test.tsx
Due: frontend, Frontend (React)

feat: add sortable ingredient table to CompositionTab
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/catalog/detail/tabs/__tests__/CompositionTab.test.tsx
Due: frontend, Frontend (React)

feat: integrate Složení tab into CatalogDetail
  frontend/src/components/catalog/detail/CatalogDetailTabs.tsx
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/pages/CatalogDetail.tsx
Due: frontend, Frontend (React)

fix: use QUERY_KEYS.catalog for composition query key
  frontend/src/api/hooks/useCatalog.ts
Due: frontend, Frontend (React)

docs: add implementation completion notes to design
  docs/plans/2026-01-28-product-composition-tab-design.md
Due: none

feat: fixed some e2e tests
  .claude/ralph_loops/fix_e2e_skipped_tests.prompt.txt
  .claude/ralph_loops/fix_e2e_skipped_tests/catalog_pagination_fix_summary.md
  .claude/ralph_loops/fix_e2e_skipped_tests/skipped_tests_list.txt
  .github/workflows/e2e-nightly-regression.yml
  frontend/.claude/ralph-loop.local.md
  frontend/src/components/pages/CatalogList.tsx
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
  frontend/test/e2e/recurring-jobs-management.spec.ts
  frontend/test/e2e/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
Due: frontend, Frontend (React)

fix: e2e helpers path (#341)
  .claude/ralph_loops/fix_e2e_skipped_tests.prompt.txt
  .claude/ralph_loops/fix_e2e_skipped_tests/catalog_pagination_fix_summary.md
  .claude/ralph_loops/fix_e2e_skipped_tests/skipped_tests_list.txt
  .github/workflows/e2e-nightly-regression.yml
  docs/plans/2026-01-28-product-composition-tab-design.md
  docs/plans/2026-01-28-product-composition-tab-implementation.md
  frontend/.claude/ralph-loop.local.md
  frontend/src/components/pages/CatalogList.tsx
  frontend/test/e2e/TEST_FAILURES_ANALYSIS.md
  frontend/test/e2e/batch-planning-error-handling.spec.ts
  frontend/test/e2e/catalog-clear-filters.spec.ts
  frontend/test/e2e/catalog-combined-filters.spec.ts
  frontend/test/e2e/catalog-pagination-with-filters.spec.ts
  frontend/test/e2e/catalog-sorting-with-filters.spec.ts
  frontend/test/e2e/catalog-text-search-filters.spec.ts
  frontend/test/e2e/changelog.spec.ts
  frontend/test/e2e/features/recurring-jobs-management.spec.ts
  frontend/test/e2e/gift-package-disassembly.spec.ts
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/helpers/stock-operations-test-helpers.ts
  frontend/test/e2e/manufacture-batch-planning-workflow.spec.ts
  frontend/test/e2e/manufacture-order-creation.spec.ts
  frontend/test/e2e/manufacture-order-state-return.spec.ts
  frontend/test/e2e/manufacture/manufacture-order-state-return.spec.ts
  frontend/test/e2e/recurring-jobs-management.spec.ts
  frontend/test/e2e/sidebar-navigation.spec.ts
  frontend/test/e2e/stock-operations-badges.spec.ts
  frontend/test/e2e/stock-operations-navigation.spec.ts
  frontend/test/e2e/stock-operations-retry.spec.ts
  frontend/test/e2e/stock-operations-sorting.spec.ts
  frontend/test/e2e/stock-operations-source-filter.spec.ts
  frontend/test/e2e/stock-operations-state-filter.spec.ts
  frontend/test/e2e/transport-box-receive.spec.ts
  frontend/test/e2e/transport-boxes-basic.spec.ts
  scripts/run-playwright-tests.sh
Due: frontend, Frontend (React)

fix: removed unit columne
  frontend/.claude/ralph-loop.local.md
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
Due: frontend, Frontend (React)

feat: add product composition tab to CatalogDetail (#340)
  backend/src/Anela.Heblo.API/Controllers/CatalogController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/GetProductCompositionResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductComposition/IngredientDto.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductCompositionHandlerTests.cs
  frontend/.claude/ralph-loop.local.md
  frontend/src/api/hooks/useCatalog.ts
  frontend/src/components/catalog/detail/CatalogDetailTabs.tsx
  frontend/src/components/catalog/detail/tabs/CompositionTab.tsx
  frontend/src/components/catalog/detail/tabs/__tests__/CompositionTab.test.tsx
  frontend/src/components/pages/CatalogDetail.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: reset pagination to page 1 when catalog sort changes
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

fix(catalog): create history entry when applying filters
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

fix(catalog): create history entry when clearing filters
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

fix(catalog): create history entry for product type filter
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

fix(catalog): create history entries for pagination
  frontend/src/components/pages/CatalogList.tsx
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
