Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: Move Dashboard Tile Registrations to Owning Modules (#2033)
  artifacts/feat-arch-review-dashboard-dashboardmodule-re/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-dashboardmodule-re/brief.md
  artifacts/feat-arch-review-dashboard-dashboardmodule-re/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-dashboardmodule-re/spec.r1.md
  artifacts/feat-arch-review-dashboard-dashboardmodule-re/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
Due: backend, Backend (.NET)

feat: Remove Unused `GetGroupMarginTotalsAsync` from `IAnalyticsRepository` (#2078)
  artifacts/feat-arch-review-analytics-ianalyticsreposito/arch-review.r1.md
  artifacts/feat-arch-review-analytics-ianalyticsreposito/brief.md
  artifacts/feat-arch-review-analytics-ianalyticsreposito/impl/main.r1.md
  artifacts/feat-arch-review-analytics-ianalyticsreposito/spec.r1.md
  artifacts/feat-arch-review-analytics-ianalyticsreposito/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/IAnalyticsRepository.cs
Due: backend, Backend (.NET)

feat: Move `MarginCalculationResult` from Domain to Application layer (#2054)
  artifacts/feat-arch-review-analytics-margincalculationr/arch-review.r1.md
  artifacts/feat-arch-review-analytics-margincalculationr/brief.md
  artifacts/feat-arch-review-analytics-margincalculationr/impl/main.r1.md
  artifacts/feat-arch-review-analytics-margincalculationr/spec.r1.md
  artifacts/feat-arch-review-analytics-margincalculationr/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculationResult.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/AnalyticsProduct.cs
  docs/superpowers/plans/2026-05-27-margin-calculator-abstractions.md
Due: backend, Backend (.NET)

feat: Extract `ResolveDateRange` Helper in `GiftPackageManufactureService` (#2107)
  artifacts/feat-arch-review-logistics-date-range-daily-s/arch-review.r1.md
  artifacts/feat-arch-review-logistics-date-range-daily-s/brief.md
  artifacts/feat-arch-review-logistics-date-range-daily-s/impl/main.r1.md
  artifacts/feat-arch-review-logistics-date-range-daily-s/spec.r1.md
  artifacts/feat-arch-review-logistics-date-range-daily-s/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
Due: backend, Backend (.NET)

feat(terminal): migrate Příjem boxu onto ScanShell with split dock
  frontend/src/components/terminal/TransportBoxReceive.tsx
  frontend/src/components/terminal/__tests__/TransportBoxReceive.test.tsx
Due: frontend, Frontend (React)

refactor: Move HangfireJobRegistrationHelper from Application to API layer
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobRegistrationHelper.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/RecurringJobDiscoveryService.cs
  backend/test/Anela.Heblo.Tests/Infrastructure/Hangfire/HangfireJobRegistrationHelperTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-backgroundjobs-hangfirejobre-dev-main
  docs/superpowers/plans/2026-06-01-move-hangfire-job-registration-helper.md
Due: none

agent: upload artifacts/feat-arch-review-backgroundjobs-hangfirejobre/impl/main.r1.md
  artifacts/feat-arch-review-backgroundjobs-hangfirejobre/impl/main.r1.md
Due: none

feat: Decouple IReportBuilderService from UseCase Response Types (#1999)
  artifacts/feat-arch-review-analytics-ireportbuilderserv/arch-review.r1.md
  artifacts/feat-arch-review-analytics-ireportbuilderserv/brief.md
  artifacts/feat-arch-review-analytics-ireportbuilderserv/impl/main.r1.md
  artifacts/feat-arch-review-analytics-ireportbuilderserv/spec.r1.md
  artifacts/feat-arch-review-analytics-ireportbuilderserv/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Contracts/CategoryMarginSummaryDto.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Contracts/MonthlyMarginBreakdownDto.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Contracts/ProductMarginSummaryDto.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/ReportBuilderService.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  docs/superpowers/plans/2026-06-01-decouple-ireportbuilderservice.md
Due: backend, Backend (.NET)

feat: Decouple GatherContextStep from KnowledgeBase via Article-Owned Contract (#2004)
  artifacts/feat-arch-review-article-gathercontextstep-di/arch-review.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/impl/main.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/spec.r1.md
  artifacts/feat-arch-review-article-gathercontextstep-di/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/Contracts/IArticleKnowledgeSource.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/GatherContextStep.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/KnowledgeBaseArticleKnowledgeSource.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GatherContextStepTests.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/GenerateArticleJobTests.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/SourceEnrichmentIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseArticleKnowledgeSourceTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-failedjobstil/brief.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/brief.md
Due: none

feat(dashboard): add IKeyedAsyncLock and KeyedAsyncLock concurrency primitive
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/IKeyedAsyncLock.cs
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/KeyedAsyncLock.cs
Due: backend, Backend (.NET)

refactor(terminal): wrap box-fill sheets in shell BottomSheet
  frontend/src/components/terminal/box-fill/AmountEntrySheet.tsx
  frontend/src/components/terminal/box-fill/OverdraftSheet.tsx
Due: frontend, Frontend (React)

fix(dashboard): fix AddRef/GetOrCreate race in KeyedAsyncLock
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/KeyedAsyncLock.cs
Due: backend, Backend (.NET)

refactor(dashboard): extract test tile fixtures to shared file
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/Fixtures/TestTiles.cs
Due: none

agent: upload artifacts/feat-arch-review-backgroundjobs-failedjobstil/spec.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/spec.r1.md
Due: none

fix(dashboard): prevent double-Dispose race in KeyedAsyncLock.LockEntry
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/KeyedAsyncLock.cs
Due: backend, Backend (.NET)

feat(dashboard): add IUserDashboardSettingsLock with SemaphoreSlim implementation
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Infrastructure/IUserDashboardSettingsLock.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Infrastructure/UserDashboardSettingsLock.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/Infrastructure/UserDashboardSettingsLockTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-failedjobstil/arch-review.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/arch-review.r1.md
Due: none

feat(dashboard): replace static lock pool with bounded IKeyedAsyncLock
  backend/src/Anela.Heblo.Domain/Anela.Heblo.Domain.csproj
  backend/src/Anela.Heblo.Persistence.Analytics/Anela.Heblo.Persistence.Analytics.csproj
  backend/src/Anela.Heblo.Persistence/Anela.Heblo.Persistence.csproj
  backend/src/Anela.Heblo.Xcc/Anela.Heblo.Xcc.csproj
  backend/src/Anela.Heblo.Xcc/Services/Concurrency/IKeyedAsyncLock.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardOptions.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/XccModule.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
Due: backend, Backend (.NET)

feat(dashboard): move provisioning logic into GetUserSettingsHandler (FR-1, FR-2)
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetUserSettings/GetUserSettingsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetUserSettingsHandlerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-backgroundjobs-failedjobstil/task-plan.r1.md
  artifacts/feat-arch-review-backgroundjobs-failedjobstil/task-plan.r1.md
Due: none

refactor(dashboard): simplify DashboardService field and using directive
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
Due: backend, Backend (.NET)

refactor(logistics): decouple Logistics module from Catalog-owned interfaces (#2201)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/LogisticsCatalogSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/LogisticsStockOperationAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/ILogisticsCatalogSource.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/ILogisticsStockOperationService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/LogisticsStockOperationSource.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/Models/LogisticsCatalogItem.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/Models/LogisticsGiftPackageItem.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxUniquenessTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/LogisticsCatalogSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/LogisticsStockOperationAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
Due: backend, Backend (.NET)

feat(background-jobs): add IFailedJobCounter abstraction
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IFailedJobCounter.cs
Due: backend, Backend (.NET)

feat(terminal): migrate Plnění boxu onto ScanShell (collapse step machine)
  frontend/src/components/terminal/box-fill/AddItemsStep.tsx
  frontend/src/components/terminal/box-fill/BoxFillBody.tsx
  frontend/src/components/terminal/box-fill/BoxFillWorkflow.tsx
  frontend/src/components/terminal/box-fill/ScanBoxStep.tsx
  frontend/src/components/terminal/box-fill/__tests__/AddItemsStep.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/BoxFillWorkflow.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/ScanBoxStep.test.tsx
Due: frontend, Frontend (React)

refactor(background-jobs): make FailedJobsTile depend on IFailedJobCounter
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/DashboardTiles/FailedJobsTile.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/DashboardTiles/FailedJobsTileTests.cs
Due: backend, Backend (.NET)

test(dashboard): fix test clock hygiene and add LastModified assertions in GetUserSettingsHandlerTests
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetUserSettingsHandlerTests.cs
Due: none

feat(background-jobs): add HangfireFailedJobCounter adapter
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireFailedJobCounter.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/HangfireFailedJobCounterTests.cs
Due: backend, Backend (.NET)

test(dashboard): add mutex and eviction tests for KeyedAsyncLock and DashboardService
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/KeyedAsyncLockTests.cs
Due: none

feat(background-jobs): register HangfireFailedJobCounter in AddHangfireServices
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

test(dashboard): add FR-2 eviction test to KeyedAsyncLockTests
  backend/test/Anela.Heblo.Tests/Features/Dashboard/KeyedAsyncLockTests.cs
Due: none

docs: add material container label printing implementation plan
  docs/superpowers/plans/2026-06-01-material-container-label-printing.md
Due: none

feat(dashboard): move tile loading logic into GetTileDataHandler (FR-3)
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetTileData/GetTileDataHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetTileDataHandlerTests.cs
Due: backend, Backend (.NET)

feat(dashboard): fix DI lifetime leak in TileRegistry
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetAvailableTiles/GetAvailableTilesHandler.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/DashboardService.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/ITileRegistry.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileMetadata.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistry.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetAvailableTilesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/TileRegistryTests.cs
Due: backend, Backend (.NET)

fix(tests): dispose KeyedAsyncLock and observe holder task in tests
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DashboardServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/KeyedAsyncLockTests.cs
Due: none

feat: add Unassigned status and Assign transition to MaterialContainer
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/MaterialContainer.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/MaterialContainerStatus.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/MaterialContainerTests.cs
Due: backend, Backend (.NET)

feat: Move `AnalyticsRepository` to Persistence Layer (#2049)
  artifacts/feat-arch-review-analytics-application-layer-/arch-review.r1.md
  artifacts/feat-arch-review-analytics-application-layer-/brief.md
  artifacts/feat-arch-review-analytics-application-layer-/impl/main.r1.md
  artifacts/feat-arch-review-analytics-application-layer-/spec.r1.md
  artifacts/feat-arch-review-analytics-application-layer-/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/Analytics/AnalyticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetBankStatementImportStatistics/GetBankStatementImportStatisticsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetInvoiceImportStatistics/GetInvoiceImportStatisticsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetInvoiceImportStatistics/GetInvoiceImportStatisticsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetInvoiceImportStatistics/GetInvoiceImportStatisticsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapter.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/BankStatementDateType.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/DailyBankStatementStatistics.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/DailyInvoiceCount.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/IAnalyticsProductSource.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/IAnalyticsRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/ImportDateType.cs
  backend/src/Anela.Heblo.Persistence/Features/Analytics/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Features/Analytics/AnalyticsRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetInvoiceImportStatisticsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
Due: backend, Backend (.NET)

docs(background-jobs): add XML doc comments to IFailedJobCounter and HangfireFailedJobCounter
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireFailedJobCounter.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IFailedJobCounter.cs
Due: backend, Backend (.NET)

fix(terminal): give BottomSheet dialog an accessible name; tidy box-fill
  frontend/src/components/terminal/box-fill/AmountEntrySheet.tsx
  frontend/src/components/terminal/box-fill/BoxFillWorkflow.tsx
  frontend/src/components/terminal/box-fill/OverdraftSheet.tsx
  frontend/src/components/terminal/shell/BottomSheet.tsx
  frontend/src/components/terminal/shell/__tests__/BottomSheet.test.tsx
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
