Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-3455): analyzing artifact
  artifacts/feat-3455/spec.r1.md
  artifacts/feat-3455/state.json
Due: none

chore(feat-3455): architecting artifact
  artifacts/feat-3455/arch-review.r1.md
  artifacts/feat-3455/state.json
Due: none

chore(feat-3455): designing artifact
  artifacts/feat-3455/design.r1.md
  artifacts/feat-3455/state.json
Due: none

chore(feat-3454): impl+review for update-architecture-boundary-allowlist r1
  artifacts/feat-3454/impl/update-architecture-boundary-allowlist.r1.md
  artifacts/feat-3454/review/update-architecture-boundary-allowlist.r1.md
  artifacts/feat-3454/state.json
Due: none

chore(feat-3454): finalize pipeline artifacts
  artifacts/feat-3454/state.json
Due: none

chore(feat-3454): code review r1
  artifacts/feat-3454/code-review.r1.md
  artifacts/feat-3454/state.json
Due: none

chore(feat-3455): planning artifact
  artifacts/feat-3455/state.json
  artifacts/feat-3455/task-plan.r1.md
Due: none

chore(feat-3455): task context
  artifacts/feat-3455/state.json
  artifacts/feat-3455/task-context/dqt-job-runner-interface-and-di.md
  artifacts/feat-3455/task-context/getdqtrundetail-handler-dispatch.md
  artifacts/feat-3455/task-context/rundqt-handler-dispatch.md
Due: none

feat(feat-3455): dqt-job-runner-interface-and-di
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/DriftDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/DataQualityModuleTests.cs
Due: backend, Backend (.NET)

chore(feat-3455): impl for dqt-job-runner-interface-and-di r1
  artifacts/feat-3455/impl/dqt-job-runner-interface-and-di.r1.md
  artifacts/feat-3455/state.json
Due: none

chore(feat-3455): impl+review for dqt-job-runner-interface-and-di r1
  artifacts/feat-3455/review/dqt-job-runner-interface-and-di.r1.md
Due: none

feat(feat-3455): rundqt-handler-dispatch
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/RunDqtHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3455): impl for rundqt-handler-dispatch r1
  artifacts/feat-3455/impl/rundqt-handler-dispatch.r1.md
  artifacts/feat-3455/state.json
Due: none

chore(feat-3455): impl+review for rundqt-handler-dispatch r1
  artifacts/feat-3455/impl/rundqt-handler-dispatch.r1.md
  artifacts/feat-3455/review/rundqt-handler-dispatch.r1.md
Due: none

feat(feat-3455): getdqtrundetail-handler-dispatch
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailHandler.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/GetDqtRunDetailHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3455): impl for getdqtrundetail-handler-dispatch r1
  artifacts/feat-3455/impl/getdqtrundetail-handler-dispatch.r1.md
  artifacts/feat-3455/state.json
Due: none

chore(feat-3455): impl+review for getdqtrundetail-handler-dispatch r1
  artifacts/feat-3455/review/getdqtrundetail-handler-dispatch.r1.md
Due: none

chore(feat-3455): finalize pipeline artifacts
  artifacts/feat-3455/state.json
Due: none

chore(feat-3455): code review r1
  artifacts/feat-3455/code-review.r1.md
  artifacts/feat-3455/state.json
Due: none

feat(feat-3455): add i18n translations for DqtUnsupportedTestType error code
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

implement feat-3455
  artifacts/feat-3455/state.json
Due: none

Fix OrgChart connector colour to react to ThemeContext dark mode
  frontend/src/pages/OrgChartPage.tsx
Due: frontend, Frontend (React)

memory: document gh CLI unavailability in some cloud sessions
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: none

#3442: implementation (#3450)
  artifacts/feat-3442/answers.r1.md
  artifacts/feat-3442/arch-review.r1.md
  artifacts/feat-3442/brief.md
  artifacts/feat-3442/code-review.r1.md
  artifacts/feat-3442/design.r1.md
  artifacts/feat-3442/impl/build-and-lint-verification.r1.md
  artifacts/feat-3442/impl/replace-raw-fetch-with-typed-client-and-mapping-functions.r1.md
  artifacts/feat-3442/impl/update-tests-for-typed-client-methods.r1.md
  artifacts/feat-3442/review/build-and-lint-verification.r1.md
  artifacts/feat-3442/review/replace-raw-fetch-with-typed-client-and-mapping-functions.r1.md
  artifacts/feat-3442/review/update-tests-for-typed-client-methods.r1.md
  artifacts/feat-3442/spec.r1.md
  artifacts/feat-3442/spec.r2.md
  artifacts/feat-3442/state.json
  artifacts/feat-3442/task-context/build-and-lint-verification.md
  artifacts/feat-3442/task-context/replace-raw-fetch-with-typed-client-and-mapping-functions.md
  artifacts/feat-3442/task-context/update-tests-for-typed-client-methods.md
  artifacts/feat-3442/task-plan.r1.md
  frontend/src/api/hooks/__tests__/useDashboard.test.tsx
  frontend/src/api/hooks/useDashboard.ts
Due: frontend, Frontend (React)

#3408: Fix SaveChangesAsync exception swallowing in MarketingInvoiceImportService (#3422)
  artifacts/feat-3408/arch-review.r1.md
  artifacts/feat-3408/brief.md
  artifacts/feat-3408/code-review.r1.md
  artifacts/feat-3408/impl/fix-service.r1.md
  artifacts/feat-3408/impl/fix-tests.r1.md
  artifacts/feat-3408/review/fix-service.r1.md
  artifacts/feat-3408/review/fix-tests.r1.md
  artifacts/feat-3408/spec.r1.md
  artifacts/feat-3408/state.json
  artifacts/feat-3408/task-context/fix-service.md
  artifacts/feat-3408/task-context/fix-tests.md
  artifacts/feat-3408/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/MarketingInvoiceImportService.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/MarketingInvoiceImportServiceTests.cs
Due: backend, Backend (.NET)

#3407: Remove test-only BuildTestPipeline() from MetaAdsTransactionSource (#3421)
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
  backend/test/Anela.Heblo.Tests/Adapters/MetaAds/MetaAdsTransactionSourceTests.cs
Due: backend, Backend (.NET)

fix(photobank): handle string-encoded id in LLM response for AutoTagJob (#3405) (#3419)
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankAutoTagJob.cs
  backend/src/Anela.Heblo.Application/Shared/Json/JsonResponseParser.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankAutoTagJobTests.cs
  backend/test/Anela.Heblo.Tests/Shared/Json/JsonResponseParserTests.cs
Due: backend, Backend (.NET)

#3409: add RefreshFinancialDataAsync date-range and loop coverage tests (#3423)
  artifacts/feat-3409/arch-review.r1.md
  artifacts/feat-3409/brief.md
  artifacts/feat-3409/code-review.r1.md
  artifacts/feat-3409/design.r1.md
  artifacts/feat-3409/impl/add-refresh-tests.r1.md
  artifacts/feat-3409/review/add-refresh-tests.r1.md
  artifacts/feat-3409/spec.r1.md
  artifacts/feat-3409/state.json
  artifacts/feat-3409/task-context/add-refresh-tests.md
  artifacts/feat-3409/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/FinancialAnalysisServiceTests.cs
Due: none

#3410: add Opened→Reserve and Reserve→Received tests to ChangeTransportBoxStateHandler (#3424)
  artifacts/feat-3410/arch-review.r1.md
  artifacts/feat-3410/brief.md
  artifacts/feat-3410/code-review.r1.md
  artifacts/feat-3410/design.r1.md
  artifacts/feat-3410/impl/add-reserve-tests.r1.md
  artifacts/feat-3410/review/add-reserve-tests.r1.md
  artifacts/feat-3410/spec.r1.md
  artifacts/feat-3410/state.json
  artifacts/feat-3410/task-context/add-reserve-tests.md
  artifacts/feat-3410/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
Due: none

#3411: add missing unit tests for ImportBankStatementHandler coverage gaps (#3425)
  artifacts/feat-3411/arch-review.r1.md
  artifacts/feat-3411/brief.md
  artifacts/feat-3411/code-review.r1.md
  artifacts/feat-3411/design.r1.md
  artifacts/feat-3411/impl/add-missing-tests.r1.md
  artifacts/feat-3411/review/add-missing-tests.r1.md
  artifacts/feat-3411/spec.r1.md
  artifacts/feat-3411/state.json
  artifacts/feat-3411/task-context/add-missing-tests.md
  artifacts/feat-3411/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Bank/ImportBankStatementHandlerTests.cs
Due: none

#3412: fix(ci): merge Cobertura XMLs to fix false coverage-gap readings (#3426)
  .github/workflows/ci-feature-branch.yml
  .github/workflows/ci-main-branch.yml
  artifacts/feat-3412/arch-review.r1.md
  artifacts/feat-3412/brief.md
  artifacts/feat-3412/code-review.r1.md
  artifacts/feat-3412/code-review.r2.md
  artifacts/feat-3412/impl/code-review-fixes.r1.md
  artifacts/feat-3412/impl/fix-coverage-merge.r1.md
  artifacts/feat-3412/review/fix-coverage-merge.r1.md
  artifacts/feat-3412/spec.r1.md
  artifacts/feat-3412/state.json
  artifacts/feat-3412/task-context/code-review-fixes.md
  artifacts/feat-3412/task-context/fix-coverage-merge.md
  artifacts/feat-3412/task-plan.r1.md
Due: none

#3457: OrgChart connector colour reacts to ThemeContext dark mode (#3460)
  frontend/src/pages/OrgChartPage.tsx
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: frontend, Frontend (React)

#3455: implementation (#3459)
  artifacts/feat-3455/arch-review.r1.md
  artifacts/feat-3455/brief.md
  artifacts/feat-3455/code-review.r1.md
  artifacts/feat-3455/design.r1.md
  artifacts/feat-3455/impl/dqt-job-runner-interface-and-di.r1.md
  artifacts/feat-3455/impl/getdqtrundetail-handler-dispatch.r1.md
  artifacts/feat-3455/impl/rundqt-handler-dispatch.r1.md
  artifacts/feat-3455/review/dqt-job-runner-interface-and-di.r1.md
  artifacts/feat-3455/review/getdqtrundetail-handler-dispatch.r1.md
  artifacts/feat-3455/review/rundqt-handler-dispatch.r1.md
  artifacts/feat-3455/spec.r1.md
  artifacts/feat-3455/state.json
  artifacts/feat-3455/task-context/dqt-job-runner-interface-and-di.md
  artifacts/feat-3455/task-context/getdqtrundetail-handler-dispatch.md
  artifacts/feat-3455/task-context/rundqt-handler-dispatch.md
  artifacts/feat-3455/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/DriftDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/DataQualityModuleTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/GetDqtRunDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/RunDqtHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

#3454: implementation (#3458)
  artifacts/feat-3454/arch-review.r1.md
  artifacts/feat-3454/brief.md
  artifacts/feat-3454/code-review.r1.md
  artifacts/feat-3454/design.r1.md
  artifacts/feat-3454/impl/create-dqt-resilience-contract-and-adapter.r1.md
  artifacts/feat-3454/impl/switch-product-pairing-comparer-to-dqt-resilience-contract.r1.md
  artifacts/feat-3454/impl/update-architecture-boundary-allowlist.r1.md
  artifacts/feat-3454/review/create-dqt-resilience-contract-and-adapter.r1.md
  artifacts/feat-3454/review/switch-product-pairing-comparer-to-dqt-resilience-contract.r1.md
  artifacts/feat-3454/review/update-architecture-boundary-allowlist.r1.md
  artifacts/feat-3454/spec.r1.md
  artifacts/feat-3454/state.json
  artifacts/feat-3454/task-context/create-dqt-resilience-contract-and-adapter.md
  artifacts/feat-3454/task-context/switch-product-pairing-comparer-to-dqt-resilience-contract.md
  artifacts/feat-3454/task-context/update-architecture-boundary-allowlist.md
  artifacts/feat-3454/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/DataQualityResilienceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/IDqtResilienceService.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/ProductPairingDqtComparer.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/DataQualityResilienceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtComparerTests.cs
Due: backend, Backend (.NET)

#3446: implementation (#3453)
  artifacts/feat-3446/arch-review.r1.md
  artifacts/feat-3446/brief.md
  artifacts/feat-3446/code-review.r1.md
  artifacts/feat-3446/design.r1.md
  artifacts/feat-3446/impl/backend-surface-import-counts.r1.md
  artifacts/feat-3446/impl/frontend-surface-import-outcome.r1.md
  artifacts/feat-3446/review/backend-surface-import-counts.r1.md
  artifacts/feat-3446/review/frontend-surface-import-outcome.r1.md
  artifacts/feat-3446/spec.r1.md
  artifacts/feat-3446/state.json
  artifacts/feat-3446/task-context/backend-surface-import-counts.md
  artifacts/feat-3446/task-context/frontend-surface-import-outcome.md
  artifacts/feat-3446/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/BankStatementsController.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Contracts/BankStatementImportResultDto.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/customer/tabs/ImportTab.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

#3447: implementation (#3452)
  backend/src/Anela.Heblo.Domain/Features/Bank/BankAccountSettings.cs
Due: backend, Backend (.NET)

#3441: extract dashboard tile dispatch into TILE_RENDERERS registry (#3449)
  artifacts/feat-3441/arch-review.r1.md
  artifacts/feat-3441/brief.md
  artifacts/feat-3441/code-review.r1.md
  artifacts/feat-3441/design.r1.md
  artifacts/feat-3441/impl/extract-tile-registry-and-slim-dispatcher.r1.md
  artifacts/feat-3441/review/extract-tile-registry-and-slim-dispatcher.r1.md
  artifacts/feat-3441/spec.r1.md
  artifacts/feat-3441/state.json
  artifacts/feat-3441/task-context/extract-tile-registry-and-slim-dispatcher.md
  artifacts/feat-3441/task-plan.r1.md
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/dashboard/tiles/tileRegistry.tsx
Due: frontend, Frontend (React)

#3440: fix DashboardSettings dark-mode gaps (skeleton + new-tile ring) (#3448)
  artifacts/feat-3440/brief.md
  artifacts/feat-3440/code-review.r1.md
  frontend/src/components/dashboard/DashboardSettings.tsx
Due: frontend, Frontend (React)

#3434: Extract MapToDto factory method in FinancialAnalysisService (#3439)
  artifacts/feat-3434/arch-review.r1.md
  artifacts/feat-3434/brief.md
  artifacts/feat-3434/code-review.r1.md
  artifacts/feat-3434/design.r1.md
  artifacts/feat-3434/impl/extract-map-to-dto.r1.md
  artifacts/feat-3434/review/extract-map-to-dto.r1.md
  artifacts/feat-3434/review/extract-map-to-dto.r2.md
  artifacts/feat-3434/spec.r1.md
  artifacts/feat-3434/state.json
  artifacts/feat-3434/task-context/extract-map-to-dto.md
  artifacts/feat-3434/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Services/FinancialAnalysisService.cs
Due: backend, Backend (.NET)

#3433: Move StockValueService to Catalog module as cross-module adapter (#3438)
  artifacts/feat-3433/arch-review.r1.md
  artifacts/feat-3433/brief.md
  artifacts/feat-3433/code-review.r1.md
  artifacts/feat-3433/impl/create-adapter-and-rewire-di.r1.md
  artifacts/feat-3433/impl/fix-tests-and-add-arch-guard.r1.md
  artifacts/feat-3433/review/create-adapter-and-rewire-di.r1.md
  artifacts/feat-3433/review/fix-tests-and-add-arch-guard.r1.md
  artifacts/feat-3433/spec.r1.md
  artifacts/feat-3433/state.json
  artifacts/feat-3433/task-context/create-adapter-and-rewire-di.md
  artifacts/feat-3433/task-context/fix-tests-and-add-arch-guard.md
  artifacts/feat-3433/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/FinancialOverviewStockValueAdapter.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/FinancialOverviewModule.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/FinancialOverviewModuleTests.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/StockValueServiceTests.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
