Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-arch-review-catalog-catalogrepository-vi/arch-review.r1.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-dashboard-getcurrentuserid-d/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-getcurrentuserid-d/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-catalog-catalogrepository-vi/task-plan.r1.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/task-plan.r1.md
Due: none

feat: extract CatalogCacheStore from CatalogRepository
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
Due: backend, Backend (.NET)

fix: use TimeProvider in IsCacheValid, add error path test
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
Due: backend, Backend (.NET)

fix: use TimeProvider for cache update time in ReplaceCacheAtomicallyAsync
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
Due: backend, Backend (.NET)

feat: extract CatalogMergeService and CatalogMergeCallbackWiring
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeCallbackWiring.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
Due: backend, Backend (.NET)

feat: extract CatalogDataRefreshService from CatalogRepository
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogDataRefreshService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
Due: backend, Backend (.NET)

fix: defensive null guard and pre-existing thread safety note in RefreshManufactureCostData
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogDataRefreshService.cs
Due: backend, Backend (.NET)

refactor: slim CatalogRepository to delegating facade (6 ctor params, 174 LOC)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

fix: remove redundant AsEnumerable in GetAllAsync
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-catalog-catalogrepository-vi-dev-main
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogDataRefreshService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeCallbackWiring.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeCallbackWiringTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeServiceTests.cs
  docs/superpowers/plans/2026-06-02-decompose-catalog-repository.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-catalog-catalogrepository-vi/impl/main.r1.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/impl/main.r1.md
Due: none

feat: remove obsolete ManufactureCostLoadDate from ICatalogRepository (FR-5)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-analytics-margin-calculation/spec.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-margin-calculation/arch-review.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-margin-calculation/task-plan.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/task-plan.r1.md
Due: none

test(catalog): migrate tests to new 6-arg CatalogRepository constructor
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
Due: none

feat(catalog): register decomposed catalog services in DI
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

test(catalog): add wiring integration tests for CatalogMergeCallbackWiring
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeCallbackWiringTests.cs
Due: none

agent: developer output feat-arch-review-analytics-margin-calculation-dev-main
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/ReportBuilderService.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/MarginCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/ReportBuilderServiceTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-analytics-margin-calculation/impl/main.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-getmarginreporthan/spec.r1.md
  artifacts/feat-arch-review-analytics-getmarginreporthan/spec.r1.md
Due: none

fix: correct mock signatures in CatalogDataRefreshServiceTests
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
  frontend/src/components/terminal/box-fill/AddItemsStep.tsx
  frontend/src/components/terminal/box-fill/ScanBoxStep.tsx
  frontend/src/components/terminal/box-fill/__tests__/AddItemsStep.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/ScanBoxStep.test.tsx
Due: frontend, Frontend (React)

fix: set required members in analytics test object initializers and fix iterator ref parameter
  backend/test/Anela.Heblo.Tests/Features/Analytics/MarginCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/ReportBuilderServiceTests.cs
Due: none

feat(api): replace apiClient as any bypass with typed helpers in useSubmitArticleFeedbackMutation
  docs/development/api-client-generation.md
  frontend/src/api/__tests__/authenticated-api-usage.test.ts
  frontend/src/api/__tests__/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/hooks/__tests__/useArticles.test.ts
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

fix: initialize missing test mocks and remove duplicate field declarations in catalog tests
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeServiceTests.cs
Due: none

feat: Consolidate Per-Product Margin Calculation in Analytics Module (#2256)
  artifacts/feat-arch-review-analytics-margin-calculation/arch-review.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/brief.md
  artifacts/feat-arch-review-analytics-margin-calculation/impl/main.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/spec.r1.md
  artifacts/feat-arch-review-analytics-margin-calculation/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/ReportBuilderService.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginAnalysis/GetProductMarginAnalysisHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginAnalysisHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/MarginCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/ReportBuilderServiceTests.cs
Due: backend, Backend (.NET)

feat: Decompose CatalogRepository (#2251)
  artifacts/feat-arch-review-catalog-catalogrepository-vi/arch-review.r1.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/brief.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/impl/main.r1.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/spec.r1.md
  artifacts/feat-arch-review-catalog-catalogrepository-vi/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogCacheStore.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogDataRefreshService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeCallbackWiring.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ICatalogRepository.cs
  backend/src/Anela.Heblo.Persistence/Repositories/MockCatalogRepository.cs
  backend/test/Anela.Heblo.Tests/Common/ManufactureOrderTestFactory.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogCacheStoreTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeCallbackWiringTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeServiceTests.cs
  docs/superpowers/plans/2026-06-02-decompose-catalog-repository.md
  frontend/src/components/terminal/box-fill/AddItemsStep.tsx
  frontend/src/components/terminal/box-fill/ScanBoxStep.tsx
  frontend/src/components/terminal/box-fill/__tests__/AddItemsStep.test.tsx
  frontend/src/components/terminal/box-fill/__tests__/ScanBoxStep.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Relocate Dashboard Domain Entities from Xcc to Domain Layer (#2229)
  artifacts/feat-arch-review-dashboard-domain-entities-us/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-domain-entities-us/brief.md
  artifacts/feat-arch-review-dashboard-domain-entities-us/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-domain-entities-us/spec.r1.md
  artifacts/feat-arch-review-dashboard-domain-entities-us/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/GetUserSettings/GetUserSettingsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/SaveUserSettings/SaveUserSettingsHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Dashboard/IUserDashboardSettingsRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Dashboard/UserDashboardSettings.cs
  backend/src/Anela.Heblo.Domain/Features/Dashboard/UserDashboardTile.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Dashboard/UserDashboardSettingsConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Dashboard/UserDashboardSettingsRepository.cs
  backend/src/Anela.Heblo.Persistence/Dashboard/UserDashboardTileConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/ApplicationDbContextModelSnapshot.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/DisableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/EnableTileHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/GetUserSettingsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/SaveUserSettingsHandlerTests.cs
  docs/superpowers/impl/relocate-dashboard-domain-entities.r1.md
Due: backend, Backend (.NET)

feat: Consolidate GetCurrentUserId() into BaseApiController (#2249)
  artifacts/feat-arch-review-dashboard-getcurrentuserid-d/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-getcurrentuserid-d/brief.md
  artifacts/feat-arch-review-dashboard-getcurrentuserid-d/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-getcurrentuserid-d/spec.r1.md
  artifacts/feat-arch-review-dashboard-getcurrentuserid-d/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/BaseApiController.cs
  backend/src/Anela.Heblo.API/Controllers/CarrierCoolingController.cs
  backend/src/Anela.Heblo.API/Controllers/DashboardController.cs
  backend/src/Anela.Heblo.API/Controllers/GiftSettingsController.cs
  backend/src/Anela.Heblo.API/Extensions/ApplicationBuilderExtensions.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/ExceptionHandling/UnauthorizedAccessExceptionHandler.cs
  backend/test/Anela.Heblo.Tests/Controllers/BaseApiControllerTests.cs
  backend/test/Anela.Heblo.Tests/Controllers/DashboardControllerTests.cs
  backend/test/Anela.Heblo.Tests/Infrastructure/ExceptionHandling/UnauthorizedAccessExceptionHandlerTests.cs
  docs/superpowers/plans/2026-06-01-consolidate-getcurrentuserid.md
Due: backend, Backend (.NET)

feat: Explicit, Stable Dashboard Tile Identifiers (#2236)
  artifacts/feat-arch-review-dashboard-tile-id-derived-im/arch-review.r1.md
  artifacts/feat-arch-review-dashboard-tile-id-derived-im/brief.md
  artifacts/feat-arch-review-dashboard-tile-id-derived-im/impl/dashboard-tile-id-derived-im.r1.md
  artifacts/feat-arch-review-dashboard-tile-id-derived-im/impl/main.r1.md
  artifacts/feat-arch-review-dashboard-tile-id-derived-im/spec.r1.md
  artifacts/feat-arch-review-dashboard-tile-id-derived-im/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/DashboardTiles/FailedJobsTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialWithExpirationInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialWithoutExpirationInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DashboardTiles/DataQualityStatusTile.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DashboardTiles/DqtYesterdayStatusTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/CriticalGiftPackagesTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/ErrorBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/InTransitBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/ReceivedBoxesTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManufactureConditionsTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/NextDayProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/TodayProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Application/Features/WeatherForecast/DashboardTiles/WeatherForecastTile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileExtensions.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileIdAttribute.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistryExtensions.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/Tiles/BackgroundTaskStatusTile.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/Fixtures/TestTiles.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/TileExtensionsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/TileIdContractTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/TileRegistryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Dashboard/TileRegistryValidationTests.cs
  docs/features/dashboard_tiles_implementation_guide.md
Due: backend, Backend (.NET)

fix: use ISubmitArticleFeedbackRequest interface instead of class for body literal
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

feat(api): replace `apiClient as any` bypass with typed helpers in `useSubmitArticleFeedbackMutation` (#2260)
  docs/development/api-client-generation.md
  frontend/src/api/__tests__/authenticated-api-usage.test.ts
  frontend/src/api/__tests__/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/hooks/__tests__/useArticles.test.ts
  frontend/src/api/hooks/useArticles.ts
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-analytics-getmarginreporthan/arch-review.r1.md
  artifacts/feat-arch-review-analytics-getmarginreporthan/arch-review.r1.md
Due: none

fix: reconcile tests and boundary allowlists after backmerge
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Infrastructure/LogisticsCatalogTransportSourceAdapterTests.cs
Due: none
