Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: developer output feat-arch-review-invoices-iissuedinvoicerepos-dev-main
  docs/superpowers/plans/2026-06-11-remove-dead-issuedinvoicerepository-find-methods.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-iissuedinvoicerepos/impl/main.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-product-mapping-con/brief.md
  artifacts/feat-arch-review-invoices-product-mapping-con/brief.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-product-mapping-con/spec.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-product-mapping-con/arch-review.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-product-mapping-con/task-plan.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/task-plan.r1.md
Due: none

feat: add ProductMappingOptions class for invoice import transformation
  backend/src/Anela.Heblo.Application/Features/Invoices/ProductMappingOptions.cs
Due: backend, Backend (.NET)

refactor: bind ProductMappingOptions from configuration in InvoicesModule
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoicesModuleTests.cs
Due: backend, Backend (.NET)

feat: add ProductMapping section to appsettings.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

test: add ProductMappingOptions startup-validation tests
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoicesModuleTests.cs
Due: none

fix: separate invoice classification into its own permission (#2932)
  access-matrix-entra.generated.json
  access-matrix.json
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessRoles.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/Feature.generated.cs
  frontend/src/auth/accessMatrix.generated.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: developer output feat-arch-review-invoices-product-mapping-con-dev-main
  docs/superpowers/plans/2026-06-11-externalize-product-mapping-codes.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-product-mapping-con/impl/main.r1.md
  artifacts/feat-arch-review-invoices-product-mapping-con/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-presentation-logic-c/brief.md
  artifacts/feat-arch-review-journal-presentation-logic-c/brief.md
Due: none

agent: upload artifacts/feat-arch-review-journal-presentation-logic-c/spec.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-presentation-logic-c/arch-review.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-presentation-logic-c/task-plan.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/task-plan.r1.md
Due: none

refactor: move journal search presentation logic to frontend
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/SearchJournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Mapping/JournalEntryMapper.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/SearchJournalEntries/SearchJournalEntriesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/JournalEntryMapperTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/SearchJournalEntriesHandlerTests.cs
  frontend/src/components/catalog/detail/tabs/JournalTab.tsx
  frontend/src/components/pages/Journal/JournalList.tsx
  frontend/src/components/pages/Journal/__tests__/JournalList.test.tsx
  frontend/src/components/pages/Journal/__tests__/journalPreview.test.ts
  frontend/src/components/pages/Journal/journalPreview.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: developer output feat-arch-review-journal-presentation-logic-c-dev-main
  docs/superpowers/plans/2026-06-11-journal-presentation-logic-to-frontend.md
Due: none

agent: upload artifacts/feat-arch-review-journal-presentation-logic-c/impl/main.r1.md
  artifacts/feat-arch-review-journal-presentation-logic-c/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journallist-calls-re/brief.md
  artifacts/feat-arch-review-journal-journallist-calls-re/brief.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journallist-calls-re/spec.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journallist-calls-re/arch-review.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journallist-calls-re/task-plan.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/task-plan.r1.md
Due: none

test: assert search hook re-invocation on filter apply instead of mockRefetch
  frontend/src/components/pages/Journal/__tests__/JournalList.test.tsx
Due: frontend, Frontend (React)

refactor: remove manual .refetch() from JournalList handlers
  frontend/src/components/pages/Journal/JournalList.tsx
Due: frontend, Frontend (React)

chore: fix no-wait-for-multiple-assertions lint rule in modal regression test
  frontend/src/components/pages/Journal/__tests__/JournalList.test.tsx
Due: frontend, Frontend (React)

agent: developer output feat-arch-review-journal-journallist-calls-re-dev-main
  docs/superpowers/plans/2026-06-11-journal-list-remove-manual-refetch.md
Due: none

agent: upload artifacts/feat-arch-review-journal-journallist-calls-re/impl/main.r1.md
  artifacts/feat-arch-review-journal-journallist-calls-re/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-frontend-validation-/brief.md
  artifacts/feat-arch-review-journal-frontend-validation-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-journal-frontend-validation-/spec.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-frontend-validation-/arch-review.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-journal-frontend-validation-/task-plan.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/task-plan.r1.md
Due: none

feat: require non-empty title on journal entries across all layers
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/CreateJournalEntryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/SearchJournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/UpdateJournalEntryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/CreateJournalEntry/CreateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/UpdateJournalEntry/UpdateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalEntry.cs
  backend/src/Anela.Heblo.Persistence/Journal/JournalEntryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260611165443_RequireJournalEntryTitle.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260611165443_RequireJournalEntryTitle.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/CreateJournalEntryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/UpdateJournalEntryHandlerTests.cs
  frontend/src/components/JournalEntryForm.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-journal-frontend-validation-/impl/main.r1.md
  artifacts/feat-arch-review-journal-frontend-validation-/impl/main.r1.md
Due: none

feat: add Vyřizuje se order count to packing dashboard and tile
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/DashboardTiles/PackingStatsTile.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingDashboard/GetPackingDashboardHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingDashboard/GetPackingDashboardResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/GetPackingDashboardHandlerTests.cs
  frontend/src/api/hooks/usePackingDashboard.ts
  frontend/src/components/baleni/BaleniHome.tsx
  frontend/src/components/dashboard/tiles/PackingStatsTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: remove invalid -2 default for ProcessingStateId
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
Due: backend, Backend (.NET)

fix: set ordersBeingPackedCountLastSync before second Shoptet call
  backend/src/Anela.Heblo.Application/Features/Packaging/DashboardTiles/PackingStatsTile.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingDashboard/GetPackingDashboardHandler.cs
Due: backend, Backend (.NET)

feat: add Vyřizuje se order count to packing dashboard and tile (#2955)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/DashboardTiles/PackingStatsTile.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingDashboard/GetPackingDashboardHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackingDashboard/GetPackingDashboardResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/GetPackingDashboardHandlerTests.cs
  frontend/src/api/hooks/usePackingDashboard.ts
  frontend/src/components/baleni/BaleniHome.tsx
  frontend/src/components/dashboard/tiles/PackingStatsTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Remove Dead Query Methods from `IIssuedInvoiceRepository` (#2933)
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/arch-review.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/brief.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/impl/main.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/spec.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
  docs/superpowers/plans/2026-06-11-remove-dead-issuedinvoicerepository-find-methods.md
Due: backend, Backend (.NET)
