Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

Complete namespace/using updates for InfrastructureConfigurationKeys move (feat-3749)
  artifacts/feat-3749/state.json
Due: none

chore(feat-3835): designing artifact
  artifacts/feat-3835/design.r1.md
  artifacts/feat-3835/state.json
Due: none

chore(feat-3749): impl artifact for relocate-infrastructure-configuration-keys-and-update-consumers r1
  artifacts/feat-3749/impl/relocate-infrastructure-configuration-keys-and-update-consumers.r1.md
Due: none

chore(feat-3749): impl artifact for relocate task r1
  artifacts/feat-3749/impl/relocate-infrastructure-configuration-keys-and-update-consumers.r1.md
Due: none

chore(feat-3835): planning artifact
  artifacts/feat-3835/state.json
  artifacts/feat-3835/task-plan.r1.md
Due: none

chore(feat-3835): task context
  artifacts/feat-3835/state.json
  artifacts/feat-3835/task-context/add-smartsupp-knowledgebase-boundary-rule.md
  artifacts/feat-3835/task-context/define-smartsupp-knowledge-source-contract-and-adapter.md
  artifacts/feat-3835/task-context/rewire-generate-draft-reply-handler.md
Due: none

chore(feat-3749): impl+review for relocate-infrastructure-configuration-keys-and-update-consumers r1
  artifacts/feat-3749/review/relocate-infrastructure-configuration-keys-and-update-consumers.r1.md
Due: none

chore(feat-3749): finalize pipeline artifacts
  artifacts/feat-3749/state.json
Due: none

chore(feat-3749): code review complete (CLEAN)
  artifacts/feat-3749/code-review.r1.md
  artifacts/feat-3749/state.json
Due: none

[arch-review] Purchase: useSupplierSearch hand-rolls useEffect/setTimeout fetching instead of React Query (#3786)
  .artifacts/tsk_5a0e7b6f88934274/architecture-01.md
  .artifacts/tsk_5a0e7b6f88934274/design-01.md
  .artifacts/tsk_5a0e7b6f88934274/development-01.md
  .artifacts/tsk_5a0e7b6f88934274/plan-01.md
  .artifacts/tsk_5a0e7b6f88934274/review-01.md
  frontend/src/api/client.ts
  frontend/src/api/hooks/__tests__/useSuppliers.test.tsx
  frontend/src/api/hooks/useSuppliers.ts
Due: frontend, Frontend (React)

[arch-review] Catalog: CatalogMergeService mutates the live cached aggregates in place, voiding the cache's atomic-swap and stale-fallback isolation (#3828)
  .artifacts/tsk_1113499843cb4e21/architecture-01.md
  .artifacts/tsk_1113499843cb4e21/design-01.md
  .artifacts/tsk_1113499843cb4e21/plan-01.md
  .artifacts/tsk_1113499843cb4e21/review-01.md
  .artifacts/tsk_9be24f757502409d/merge-review-01.md
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/ManufactureDifficultyConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeServiceTests.cs
Due: backend, Backend (.NET)

[arch-review] BackgroundRefresh: BackgroundRefreshTaskRegistry re-registers every task unconditionally, discarding explicit RefreshTaskConfiguration (#3830)
  .artifacts/tsk_29070694aebc4308/architecture-01.md
  .artifacts/tsk_29070694aebc4308/design-01.md
  .artifacts/tsk_29070694aebc4308/development-01.md
  .artifacts/tsk_29070694aebc4308/plan-01.md
  .artifacts/tsk_29070694aebc4308/review-01.md
  .artifacts/tsk_f3edeb81ce7f4043/merge-review-01.md
  backend/src/Anela.Heblo.Xcc/Services/BackgroundRefresh/BackgroundRefreshTaskRegistry.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshTaskRegistryTests.cs
Due: backend, Backend (.NET)

[arch-review] TestInfrastructure: testing-strategy.md documents a frontend/test layout that doesn't exist and contradicts e2e-module-guide.md (#3840)
  .artifacts/tsk_8dbcfc9d3aae4f23/architecture-01.md
  .artifacts/tsk_8dbcfc9d3aae4f23/design-01.md
  .artifacts/tsk_8dbcfc9d3aae4f23/development-01.md
  .artifacts/tsk_8dbcfc9d3aae4f23/plan-01.md
  .artifacts/tsk_dbc36b9547324ab2/merge-review-01.md
  docs/architecture/testing-strategy.md
Due: none

[arch-review] AiAdapters: SerpApi retry pipeline is dead for 429/503 because EnsureSuccessStatusCode runs outside the Polly pipeline (#3843)
  .artifacts/tsk_210556fdfd8d401a/architecture-01.md
  .artifacts/tsk_210556fdfd8d401a/design-01.md
  .artifacts/tsk_210556fdfd8d401a/development-01.md
  .artifacts/tsk_210556fdfd8d401a/plan-01.md
  .artifacts/tsk_210556fdfd8d401a/review-01.md
  .artifacts/tsk_2361cde056d54b7e/merge-review-01.md
  backend/src/Adapters/Anela.Heblo.Adapters.WebSearch/SerpApiWebSearchClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/WebSearch/SerpApiWebSearchClientTests.cs
Due: backend, Backend (.NET)

chore: update AgentHarness skills to latest pipeline version
  .claude/skills/automerge-all/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/automerge-pr/parse_verdict.py
  .claude/skills/automerge/SKILL.md
  .claude/skills/hygiene-all/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/rework-all/SKILL.md
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
  .claude/skills/rework/SKILL.md
Due: none

fix: break circular DI dependency between CatalogRepository and its cost providers
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Cache/MaterialCostCacheTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/DirectManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/SalesCostProviderTests.cs
Due: backend, Backend (.NET)

chore: sync AgentHarness skills with framework v0.22.0
  .claude/skills/applicationinsightsscan/SKILL.md
  .claude/skills/applicationinsightsscan/appinsights-query.sh
  .claude/skills/applicationinsightsscan/gh-api.sh
  .claude/skills/applicationinsightsscan/telemetry-digest.sh
  .claude/skills/automerge-all/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/hygiene-all/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/rework-pr/SKILL.md
Due: none

fix: defer OpenAI EmbeddingClient construction to avoid DI resolution failure
  .context/pr.md
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingGenerator.cs
Due: backend, Backend (.NET)

fix(catalog): break circular DI dependency between CatalogRepository and cost providers (#3866)
  .context/pr.md
  backend/src/Adapters/Anela.Heblo.Adapters.OpenAI/OpenAiEmbeddingGenerator.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Cache/MaterialCostCacheTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/DirectManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/SalesCostProviderTests.cs
Due: backend, Backend (.NET)

chore(agentharness): sync repo skills with framework v0.22.0 (#3867)
  .claude/skills/applicationinsightsscan/SKILL.md
  .claude/skills/applicationinsightsscan/appinsights-query.sh
  .claude/skills/applicationinsightsscan/gh-api.sh
  .claude/skills/applicationinsightsscan/telemetry-digest.sh
  .claude/skills/automerge-all/SKILL.md
  .claude/skills/automerge-pr/SKILL.md
  .claude/skills/automerge-pr/apply_verdict.sh
  .claude/skills/automerge-pr/candidates.sh
  .claude/skills/automerge-pr/parse_verdict.py
  .claude/skills/automerge/SKILL.md
  .claude/skills/hygiene-all/SKILL.md
  .claude/skills/hygiene-pr/SKILL.md
  .claude/skills/hygiene-pr/update_and_wait.sh
  .claude/skills/rework-all/SKILL.md
  .claude/skills/rework-pr/SKILL.md
  .claude/skills/rework-pr/find_candidate.sh
  .claude/skills/rework-pr/finish_revision.sh
  .claude/skills/rework-pr/list_candidates.sh
  .claude/skills/rework/SKILL.md
Due: none

fix: migrate handleRowExpand to generated API client
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: frontend, Frontend (React)

fix: address /automerge-pr review feedback
  backend/src/Anela.Heblo.Domain/Features/Purchase/PurchaseOrderNumberGenerator.cs
  backend/test/Anela.Heblo.Tests/Controllers/PurchaseOrdersControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/PurchaseOrderNumberGeneratorTests.cs
Due: backend, Backend (.NET)

[arch-review] MCP: tools serialize responses with default JsonSerializerOptions, emitting numeric enums that bypass the app-wide JsonStringEnumConverter (#3839)
  .artifacts/tsk_73eb48c524024340/merge-review-01.md
  .artifacts/tsk_9996477150f54ef9/architecture-01.md
  .artifacts/tsk_9996477150f54ef9/design-01.md
  .artifacts/tsk_9996477150f54ef9/development-01.md
  .artifacts/tsk_9996477150f54ef9/plan-01.md
  .artifacts/tsk_9996477150f54ef9/review-01.md
  backend/src/Anela.Heblo.API/Infrastructure/Json/McpJsonOptions.cs
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/KnowledgeBaseTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/LeafletTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureBatchMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureOrderMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/MeetingTasksMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/UserManagementMcpTools.cs
  backend/src/Anela.Heblo.API/Program.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/CatalogMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/KnowledgeBaseToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/LeafletToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/ManufactureBatchMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/ManufactureOrderMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/MeetingTasksMcpToolsTests.cs
  backend/test/Anela.Heblo.Tests/MCP/Tools/UserManagementMcpToolsTests.cs
Due: backend, Backend (.NET)

[arch-review] TransportBoxes: state-machine validation reasons collapse to a generic ValidationError and are dropped by the UI (#3849)
  .artifacts/tsk_4611b0ae33ca4e05/architecture-01.md
  .artifacts/tsk_4611b0ae33ca4e05/design-01.md
  .artifacts/tsk_4611b0ae33ca4e05/development-01.md
  .artifacts/tsk_4611b0ae33ca4e05/development-02.md
  .artifacts/tsk_4611b0ae33ca4e05/plan-01.md
  .artifacts/tsk_4611b0ae33ca4e05/review-01.md
  .artifacts/tsk_74c16b51c2b54c31/merge-review-01.md
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/AddItemToBox/AddItemToBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/OpenOrResumeBoxByCode/OpenOrResumeBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/RemoveItemFromBox/RemoveItemFromBoxHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBox.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBoxExceptions.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxCodeCaseHandlingTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxStateTransitionTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/AddItemToBoxHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ChangeTransportBoxStateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/OpenOrResumeBoxByCodeHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/RemoveItemFromBoxHandlerTests.cs
  frontend/.artifacts/tsk_4611b0ae33ca4e05/review-02.md
  frontend/src/api/generated/api-client.ts
  frontend/src/i18n.ts
  frontend/src/utils/__tests__/errorHandler.test.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: address /automerge-pr review feedback
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
Due: frontend, Frontend (React)

docs: add Logeto automatic break insertion design spec
  docs/superpowers/specs/2026-08-05-logeto-break-insertion-design.md
Due: none

[arch-review] Purchase: PurchaseOrderNumberGenerator uses DateTime.Now and mints minute-resolution numbers that collide with the unique OrderNumber index (#3851)
  .artifacts/tsk_8708d64bf9d74d05/merge-review-01.md
  .artifacts/tsk_9b52433b36d94ed6/architecture-01.md
  .artifacts/tsk_9b52433b36d94ed6/design-01.md
  .artifacts/tsk_9b52433b36d94ed6/development-01.md
  .artifacts/tsk_9b52433b36d94ed6/plan-01.md
  .artifacts/tsk_9b52433b36d94ed6/review-01.md
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/CreatePurchaseOrder/CreatePurchaseOrderHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Purchase/PurchaseOrderNumberGenerator.cs
  backend/test/Anela.Heblo.Tests/Controllers/PurchaseOrdersControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/CreatePurchaseOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/PurchaseOrderNumberGeneratorTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add Logeto break insertion implementation plan
  docs/superpowers/plans/2026-08-05-logeto-break-insertion.md
Due: none

docs: record Logeto verification spike results and amend plan defaults
  docs/superpowers/plans/2026-08-05-logeto-break-insertion.md
  docs/superpowers/specs/2026-08-05-logeto-spike-results.md
Due: none

feat: add Logeto client contract and DTOs for attendance
  backend/src/Anela.Heblo.Domain/Features/Attendance/ILogetoClient.cs
  backend/src/Anela.Heblo.Domain/Features/Attendance/LogetoActivity.cs
  backend/src/Anela.Heblo.Domain/Features/Attendance/LogetoActivityTypes.cs
  backend/src/Anela.Heblo.Domain/Features/Attendance/LogetoCreateTimeEntryRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Attendance/LogetoPerson.cs
  backend/src/Anela.Heblo.Domain/Features/Attendance/LogetoTimeEntry.cs
Due: backend, Backend (.NET)

feat: scaffold Logeto adapter project
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/Anela.Heblo.Adapters.Logeto.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/LogetoApiException.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/LogetoOptions.cs
Due: backend, Backend (.NET)

feat: add LogetoClient with pagination, error mapping, and merge support
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/LogetoClient.cs
  backend/test/Anela.Heblo.Adapters.Logeto.Tests/Anela.Heblo.Adapters.Logeto.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Logeto.Tests/LogetoClientTests.cs
Due: backend, Backend (.NET)

fix: address task 4 review findings (null-omission test, malformed-body error mapping)
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/LogetoClient.cs
  backend/test/Anela.Heblo.Adapters.Logeto.Tests/LogetoClientTests.cs
Due: backend, Backend (.NET)

feat: register Logeto adapter with resilience and configuration
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/LogetoAdapterModule.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

feat: add break slot placement calculator with preferred-window and midpoint fallback
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/BreakSlotCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/LogetoTimeConverter.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/TimeSlot.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakSlotCalculatorTests.cs
Due: backend, Backend (.NET)

feat: add break insertion day-walk service
  backend/src/Anela.Heblo.Application/Features/Attendance/BreakInsertionOptions.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/BreakInsertionService.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionServiceTests.cs
Due: backend, Backend (.NET)

feat: add nightly Logeto break insertion recurring job (disabled by default)
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/AttendanceModule.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/Infrastructure/Jobs/BreakInsertionJob.cs
Due: backend, Backend (.NET)

docs, test: address final review findings (spec as-built deltas, job disabled-gate test, realistic payload test)
  backend/test/Anela.Heblo.Adapters.Logeto.Tests/LogetoClientTests.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionJobTests.cs
  docs/superpowers/specs/2026-08-05-logeto-break-insertion-design.md
  docs/superpowers/specs/2026-08-05-logeto-spike-results.md
Due: none

fix: handle Logeto's full-datetime Date field format via custom JSON converter
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/FlexibleDateOnlyJsonConverter.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Logeto/LogetoClient.cs
  backend/test/Anela.Heblo.Adapters.Logeto.Tests/LogetoClientTests.cs
  docs/superpowers/specs/2026-08-05-logeto-spike-results.md
Due: backend, Backend (.NET)

chore(feat-3844): brief + checkpoint init
  artifacts/feat-3844/brief.md
  artifacts/feat-3844/state.json
Due: none
