Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

test(m1a): add test for multiple products cost distribution
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: none

test(m1a): add edge case tests for M1_A calculation
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: none

feat(m1a): update DI registration comment for FlatManufactureCostProvider
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

refactor(m1a): change test methods to internal visibility
  backend/src/Anela.Heblo.Application/AssemblyInfo.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
Due: backend, Backend (.NET)

style(m1a): apply dotnet format
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  docs/plans/2025-12-21-m1a-flat-manufacture-cost-implementation.md
Due: backend, Backend (.NET)

docs(m1a): add M1_A implementation notes
  docs/features/margins_v2/m1a_implementation_notes.md
Due: none

fix: M1_A
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: backend, Backend (.NET)

fix: M1_A real calculation
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: backend, Backend (.NET)

fix; minor refactoring (M1_A)
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
Due: backend, Backend (.NET)

feat(domain): remove obsolete M3 property from MarginData
  backend/src/Anela.Heblo.Domain/Features/Catalog/MarginData.cs
Due: backend, Backend (.NET)

feat(domain): remove M3Amount and M3Percentage from AnalyticsProduct
  backend/src/Anela.Heblo.Domain/Features/Analytics/AnalyticsProduct.cs
Due: backend, Backend (.NET)

docs: add M3 margin removal implementation plan
  docs/plans/2025-12-22-remove-m3-margin.md
Due: none

feat(catalog): implement SalesCostProvider with ledger integration
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
Due: backend, Backend (.NET)

feat(application): remove M3 from margin DTOs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MarginHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MonthlyMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductMarginDto.cs
Due: backend, Backend (.NET)

fix(application): update MarginLevelDto comment to remove M3 reference
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MarginLevelDto.cs
Due: backend, Backend (.NET)

feat(domain): remove M3 support from MarginCalculator, default to M2
  backend/src/Anela.Heblo.Domain/Features/Analytics/MarginCalculator.cs
Due: backend, Backend (.NET)

feat(analytics): remove M3 mapping from AnalyticsRepository
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
Due: backend, Backend (.NET)

fix(analytics): remove M3 mapping from GetProductAnalysisDataAsync
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
Due: backend, Backend (.NET)

feat(handlers): remove M3 references from all handlers
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/ReportBuilderService.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
Due: backend, Backend (.NET)

fix(analytics): remove M3 properties from Analytics DTOs and handler assignments
  backend/src/Anela.Heblo.Application/Features/Analytics/Contracts/TopProductDto.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/ReportBuilderService.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportResponse.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetMarginReportHandlerTests.cs
Due: backend, Backend (.NET)

docs(handlers): update comments from M0-M3 to M0-M2
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetMarginReport/GetMarginReportHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
Due: backend, Backend (.NET)

chore(frontend): regenerate API client after M3 removal
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

refactor(frontend): remove M3 from MarginsSummary and related components
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsSummary.tsx
  frontend/src/components/catalog/detail/tabs/MarginsTab/__tests__/MarginsSummary.test.tsx
  frontend/src/components/pages/ProductMarginSummary.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
Due: frontend, Frontend (React)

test(frontend): remove M3 references from ProductMarginsList tests
  frontend/src/components/pages/ProductMarginSummary.tsx
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: frontend, Frontend (React)

fix(frontend): change default margin level from M3 to M2 in API hook
  frontend/src/api/hooks/useProductMarginSummary.ts
Due: frontend, Frontend (React)

docs: update margin documentation to reflect M3 removal
  docs/features/margin-calculation-system.md
  docs/features/margins_v2/spec.md
Due: none

feat: M3 removed
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MonthlyBreakdownGenerator.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CostCacheOptions.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Cache/MaterialCostCacheTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: backend, Backend (.NET)

fix: tests
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ProductionActivityAnalyzerTests.cs
  frontend/src/components/catalog/detail/charts/__tests__/ChartHelpers.test.ts
Due: frontend, Frontend (React)

feat: stockup hardening draft
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/HebloShoptetAdapterModule.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/VerifyStockUpScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/ShoptetPlaywrightStockDomainService.cs
  backend/src/Anela.Heblo.API/Controllers/StockUpOperationsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/IStockUpOrchestrationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/StockUpOperationResult.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/StockUpOrchestrationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsResponse.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RetryStockUpOperation/RetryStockUpOperationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RetryStockUpOperation/RetryStockUpOperationRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RetryStockUpOperation/RetryStockUpOperationResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/IEshopStockDomainService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/IStockUpOperationRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockUpOperation.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockUpOperationState.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockUpSourceType.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Stock/StockUpOperationConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Stock/StockUpOperationRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260105081643_AddStockUpOperations.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260105081643_AddStockUpOperations.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/UseCases/ProcessReceivedBoxesHandlerTests.cs
  docs/plans/2025-01-05-stockup-robustness-design.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useStockUpOperations.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/pages/StockOperationsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add RecurringJobConfiguration domain entity and repository interface
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/IRecurringJobConfigurationRepository.cs
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/RecurringJobConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobConfigurationTests.cs
Due: backend, Backend (.NET)

feat: add RecurringJobConfiguration persistence layer with repository
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/BackgroundJobs/RecurringJobConfigurationConfiguration.cs
  backend/src/Anela.Heblo.Persistence/BackgroundJobs/RecurringJobConfigurationRepository.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobConfigurationRepositoryTests.cs
Due: backend, Backend (.NET)

feat: add database migration for RecurringJobConfigurations table
  backend/src/Anela.Heblo.Persistence/Migrations/20260105125530_AddRecurringJobConfigurations.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260105125530_AddRecurringJobConfigurations.cs
Due: backend, Backend (.NET)

feat: add GetRecurringJobsList use case
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/RecurringJobDto.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListHandler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListRequest.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListResponse.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/GetRecurringJobsListHandlerTests.cs
Due: backend, Backend (.NET)

feat: add UpdateRecurringJobStatus use case
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobStatus/UpdateRecurringJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobStatus/UpdateRecurringJobStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobStatus/UpdateRecurringJobStatusResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/UpdateRecurringJobStatusHandlerTests.cs
Due: backend, Backend (.NET)

feat: add BackgroundJobs AutoMapper profile and module registration
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
Due: backend, Backend (.NET)

feat: add RecurringJobsController with GET and PUT endpoints
  backend/src/Anela.Heblo.API/Controllers/RecurringJobsController.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobsControllerTests.cs
  frontend/src/api/generated/api-client.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add job status checking to all Hangfire recurring jobs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundJobService.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/RecurringJobStatusChecker.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Infrastructure/ComgateDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Infrastructure/Jobs/DailyConsumptionJob.cs
  backend/src/Anela.Heblo.Persistence/BackgroundJobs/RecurringJobConfigurationRepository.cs
Due: backend, Backend (.NET)

feat: seed recurring job configurations on startup
  backend/src/Anela.Heblo.API/Program.cs
Due: none

docs: clarify recurring job seeding placement in startup
  backend/src/Anela.Heblo.API/Program.cs
Due: none
