Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: Org Chart link
  frontend/src/components/Layout/Sidebar.tsx
  frontend/test/e2e/navigation/sidebar-navigation.spec.ts
Due: frontend, Frontend (React)

fix: be tests
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/DeleteClassificationRule/DeleteClassificationRuleResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRules/GetClassificationRulesResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ReorderClassificationRules/ReorderClassificationRulesResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleResponse.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/RuleType.cs
Due: backend, Backend (.NET)

feat: classification against abra
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoicesClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/InvoiceClassification/FlexiReceivedInvoicesClient.cs
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryResponse.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/AccountingTemplateDto.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationHistory.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IClassificationHistoryRepository.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoiceDto.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoiceItemDto.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/ItemDescriptionClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/VatClassificationRule.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationHistoryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationHistoryRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251103150117_AddInvoiceDetailsToClassificationHistory.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251103150117_AddInvoiceDetailsToClassificationHistory.cs
  frontend/src/api/hooks/useInvoiceClassification.ts
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/InvoiceClassificationPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: accountinpfrescription renamed to accountingTemplate
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationRuleDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationResult.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleRequest.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationHistory.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationHistoryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationRuleConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251103151459_RenameAccountingPrescriptionToAccountingTemplateCode.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251103151459_RenameAccountingPrescriptionToAccountingTemplateCode.cs
Due: backend, Backend (.NET)

feat: classification phase 2
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsResponse.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useInvoiceClassification.ts
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/InvoiceClassificationPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
  frontend/test/e2e/invoice-classification-history.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: be tests
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryResponse.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsResponse.cs
Due: backend, Backend (.NET)

fix: namesoaces, code review
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoicesClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifySingleInvoice/ClassifySingleInvoiceResponse.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationHistoryRepository.cs
  frontend/src/api/hooks/useInvoiceClassification.ts
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: invalid registrations
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

fix: ui issues
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat=: Change tags during classification
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
Due: backend, Backend (.NET)

fix: Remove multiple tags
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesHandler.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
Due: backend, Backend (.NET)

fix: remove old label
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
Due: backend, Backend (.NET)

fix: ui redesign
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
Due: frontend, Frontend (React)

fix: czech translation
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/InvoiceClassificationPage.tsx
  frontend/src/pages/InvoiceClassification/components/ClassificationStats.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
Due: frontend, Frontend (React)

fix: ReceivedInvoice Clasificastion translated to czech
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/InvoiceClassificationPage.tsx
  frontend/src/pages/InvoiceClassification/components/ClassificationStats.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
Due: frontend, Frontend (React)

fix: removed hardcoded switch
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
Due: frontend, Frontend (React)

feat: add department support to invoice classification rules
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationRuleDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationResult.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleRequest.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationHistory.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IDepartmentClient.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationHistoryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationRuleConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251107092415_AddDepartmentToClassificationRules.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251107092415_AddDepartmentToClassificationRules.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Department
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.API/Controllers/DepartmentsController.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/InvoiceClassificationModule.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IDepartmentClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
  frontend/src/api/hooks/useDepartments.ts
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: fe tests
  frontend/src/api/client.ts
  frontend/src/api/hooks/useDepartments.ts
Due: frontend, Frontend (React)

feat: departments loaded from Flexibee
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/Departments/FlexiDepartmentClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/InvoiceClassificationModule.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Department.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IDepartmentClient.cs
Due: backend, Backend (.NET)

feat: Add Department Support to Invoice Classification Rules (#246)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/Departments/FlexiDepartmentClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Controllers/DepartmentsController.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ClassificationRuleDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationResult.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/CreateClassificationRule/CreateClassificationRuleRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationHistory/GetClassificationHistoryHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/UpdateClassificationRule/UpdateClassificationRuleRequest.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationHistory.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Department.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IDepartmentClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationHistoryConfiguration.cs
  backend/src/Anela.Heblo.Persistence/InvoiceClassification/ClassificationRuleConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251107092415_AddDepartmentToClassificationRules.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251107092415_AddDepartmentToClassificationRules.cs
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useDepartments.ts
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: fe warnings cleanup
  frontend/src/__tests__/token-refresh-integration.test.tsx
  frontend/src/api/__tests__/client-token-refresh.test.ts
  frontend/src/components/common/__tests__/CatalogAutocomplete.test.tsx
  frontend/src/components/dashboard/__tests__/DashboardGrid.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/RunningJobIndicator.test.tsx
  frontend/src/components/pages/__tests__/LocationSelectionModal.test.tsx
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
  frontend/src/pages/OrgChartPage.tsx
Due: frontend, Frontend (React)

fix: fe warnings cleanup (#247)
  frontend/src/__tests__/token-refresh-integration.test.tsx
  frontend/src/api/__tests__/client-token-refresh.test.ts
  frontend/src/components/common/__tests__/CatalogAutocomplete.test.tsx
  frontend/src/components/dashboard/__tests__/DashboardGrid.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/RunningJobIndicator.test.tsx
  frontend/src/components/pages/__tests__/LocationSelectionModal.test.tsx
  frontend/src/pages/InvoiceClassification/ClassificationHistoryPage.tsx
  frontend/src/pages/InvoiceClassification/components/RuleForm.tsx
  frontend/src/pages/InvoiceClassification/components/RulesList.tsx
  frontend/src/pages/OrgChartPage.tsx
Due: frontend, Frontend (React)

fix: allow to receive error box
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBox.cs
Due: backend, Backend (.NET)

fix: invalid transport amount
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

feat: catalog search without diacritics
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogList/GetCatalogListHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Xcc/StringExtensions.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogListHandlerDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/StringExtensionsTests.cs
Due: backend, Backend (.NET)

feat: stock analysis supports filtering without diacritics
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ItemFilterService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ItemFilterServiceDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ItemFilterServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseStockAnalysisHandlerDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/StringExtensionsTests.cs
Due: backend, Backend (.NET)

fix: be tests
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxStateTransitionTests.cs
Due: none

feature/search_product_without_diaxcritics (#250)
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogList/GetCatalogListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ItemFilterService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureAnalysisMapper.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetStockAnalysis/GetManufacturingStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Xcc/StringExtensions.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetCatalogListHandlerDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ItemFilterServiceDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ItemFilterServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseStockAnalysisHandlerDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/StringExtensionsTests.cs
Due: backend, Backend (.NET)

fix: invalid transport amount (#251)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

fix: allow to receive error box (#248)
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBox.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/TransportBoxStateTransitionTests.cs
Due: backend, Backend (.NET)

feat: packaging material tracing - agenda
  backend/src/Anela.Heblo.API/Controllers/PackingMaterialsController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/CreatePackingMaterialRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/GetPackingMaterialsListRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/PackingMaterialDto.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdatePackingMaterialQuantityRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdatePackingMaterialRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdateQuantityRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/PackingMaterialsModule.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/CreatePackingMaterial/CreatePackingMaterialHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeletePackingMaterial/DeletePackingMaterialHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/DeletePackingMaterial/DeletePackingMaterialRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/GetPackingMaterialsList/GetPackingMaterialsListHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdatePackingMaterial/UpdatePackingMaterialHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/UpdatePackingMaterialQuantity/UpdatePackingMaterialQuantityHandler.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/Enums/ConsumptionType.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/Enums/LogEntryType.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/IPackingMaterialRepository.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterial.cs
  backend/src/Anela.Heblo.Domain/Features/PackingMaterials/PackingMaterialLog.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251118195902_AddPackingMaterialsTables.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251118195902_AddPackingMaterialsTables.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialConfiguration.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialLogConfiguration.cs
  backend/src/Anela.Heblo.Persistence/PackingMaterials/PackingMaterialRepository.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/usePackingMaterials.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/packing-materials/modals/AddMaterialModal.tsx
  frontend/src/components/packing-materials/modals/EditMaterialModal.tsx
  frontend/src/components/packing-materials/modals/UpdateQuantityModal.tsx
  frontend/src/pages/PackingMaterialsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: phase 2
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobSchedulerService.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/CreatePackingMaterialRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/GetPackingMaterialsListRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdatePackingMaterialQuantityRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Contracts/UpdatePackingMaterialRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Infrastructure/Jobs/DailyConsumptionJob.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/PackingMaterialsModule.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Services/ConsumptionCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Services/IConsumptionCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionRequest.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionResponse.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/ConsumptionCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockLogger.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/MockPackingMaterialRepository.cs
Due: backend, Backend (.NET)

feat: IssuedInvoice model
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogAggregate.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/Transport/TransportBox.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceSyncDataConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ItemFilterServiceDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/ConsumptionCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseStockAnalysisHandlerDiacriticsTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/StringExtensionsTests.cs
Due: backend, Backend (.NET)

feat: Issued invoice agenda
  backend/src/Anela.Heblo.API/Controllers/IssuedInvoicesController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceDetailDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailResponse.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoicesList/GetIssuedInvoicesListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoicesList/GetIssuedInvoicesListRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoicesList/GetIssuedInvoicesListResponse.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/Infrastructure/Jobs/DailyConsumptionJob.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/useIssuedInvoices.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
  frontend/src/utils/formatters.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: issued invoice stats
  backend/src/Anela.Heblo.API/Controllers/IssuedInvoicesController.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceSyncStats/GetIssuedInvoiceSyncStatsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceSyncStats/GetIssuedInvoiceSyncStatsRequest.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceSyncStats/GetIssuedInvoiceSyncStatsResponse.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useIssuedInvoiceSyncStats.ts
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
