Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-3970): architecting artifact
  artifacts/feat-3970/arch-review.r1.md
  artifacts/feat-3970/state.json
Due: none

chore(feat-3970): designing artifact
  artifacts/feat-3970/design.r1.md
  artifacts/feat-3970/state.json
Due: none

chore(feat-3970): planning artifact
  artifacts/feat-3970/state.json
  artifacts/feat-3970/task-plan.r1.md
  docs/superpowers/plans/2026-08-29-remove-hangfire-attribute-productpairingdqtjob.md
Due: none

chore(feat-3970): task context
  artifacts/feat-3970/state.json
  artifacts/feat-3970/task-context/remove-hangfire-attribute-from-product-pairing-dqt-job.md
Due: none

Add Catalog-side DataQualityErpStockSourceAdapter implementing IDqtErpStockSource
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/DataQualityErpStockSourceAdapter.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/DataQualityErpStockSourceAdapterTests.cs
Due: backend, Backend (.NET)

chore(feat-3967): impl+review for catalog-erp-stock-source-adapter r1
  artifacts/feat-3967/state.json
Due: none

chore(feat-3967): impl+review artifacts for catalog-erp-stock-source-adapter r1
  artifacts/feat-3967/impl/catalog-erp-stock-source-adapter.r1.md
  artifacts/feat-3967/review/catalog-erp-stock-source-adapter.r1.md
Due: none

chore(feat-3967): catalog-erp-stock-source-adapter passed review
  artifacts/feat-3967/state.json
Due: none

Register IDqtEshopStockSource/IDqtErpStockSource adapters in CatalogModule
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

chore(feat-3967): impl+review for catalog-module-di-registration r1
  artifacts/feat-3967/impl/catalog-module-di-registration.r1.md
  artifacts/feat-3967/review/catalog-module-di-registration.r1.md
  artifacts/feat-3967/state.json
Due: none

chore(feat-3967): catalog-module-di-registration passed review
  artifacts/feat-3967/state.json
Due: none

#3972: Log raw response text on meeting-task JSON parse failure
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/ClaudeMeetingTaskExtractor.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ClaudeMeetingTaskExtractorTests.cs
Due: backend, Backend (.NET)

memory: record #3972 raw-response-logging session
  memory/context/state.md
Due: none

chore(feat-3972): brief and checkpoint init
  artifacts/feat-3972/brief.md
  artifacts/feat-3972/state.json
Due: none

chore(feat-3972): analyzing artifact
  artifacts/feat-3972/spec.r1.md
  artifacts/feat-3972/state.json
Due: none

chore(feat-3972): architecting artifact
  artifacts/feat-3972/arch-review.r1.md
  artifacts/feat-3972/state.json
Due: none

chore(feat-3972): designing artifact
  artifacts/feat-3972/design.r1.md
  artifacts/feat-3972/state.json
Due: none

chore(feat-3972): planning artifact
  artifacts/feat-3972/state.json
  artifacts/feat-3972/task-plan.r1.md
Due: none

chore(feat-3972): task context
  artifacts/feat-3972/state.json
  artifacts/feat-3972/task-context/add-degraded-indicator-to-list-page.md
  artifacts/feat-3972/task-context/add-degraded-warning-banner-to-detail-page.md
  artifacts/feat-3972/task-context/add-partial-extraction-parser-primitives.md
  artifacts/feat-3972/task-context/add-tasksextractiondegraded-domain-and-migration.md
  artifacts/feat-3972/task-context/log-raw-response-and-flag-degraded-result.md
  artifacts/feat-3972/task-context/regenerate-openapi-client-and-update-meeting-tasks-hook.md
  artifacts/feat-3972/task-context/thread-degraded-flag-through-handlers-and-dto.md
  artifacts/feat-3972/task-context/wire-partial-recovery-into-extractor.md
Due: none

chore(feat-3967): impl+review for rewire-product-pairing-comparer r1
  artifacts/feat-3967/impl/rewire-product-pairing-comparer.r1.md
  artifacts/feat-3967/review/rewire-product-pairing-comparer.r1.md
  artifacts/feat-3967/state.json
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/ProductPairingDqtComparer.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtComparerTests.cs
Due: backend, Backend (.NET)

chore(feat-3967): rewire-product-pairing-comparer passed review
  artifacts/feat-3967/state.json
Due: none

chore(feat-3973): setup brief and checkpoint init
  artifacts/feat-3973/brief.md
  artifacts/feat-3973/state.json
Due: none

chore(feat-3973): analyzing artifact
  artifacts/feat-3973/spec.r1.md
  artifacts/feat-3973/state.json
Due: none

chore(feat-3973): architecting artifact
  artifacts/feat-3973/arch-review.r1.md
  artifacts/feat-3973/state.json
Due: none

chore(feat-3973): designing artifact
  artifacts/feat-3973/design.r1.md
  artifacts/feat-3973/state.json
Due: none

chore(feat-3973): planning artifact
  artifacts/feat-3973/state.json
  artifacts/feat-3973/task-plan.r1.md
Due: none

chore(feat-3973): task context
  artifacts/feat-3973/state.json
  artifacts/feat-3973/task-context/fire-and-forget-safety-net.md
  artifacts/feat-3973/task-context/full-validation-gate.md
  artifacts/feat-3973/task-context/synchronous-runner-validation.md
Due: none

docs(memory): correct designated-branch pipeline assumption for issue #3973
  memory/context/state.md
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: none

#3972: Log raw response text on meeting-task JSON parse failure (#3981)
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/ClaudeMeetingTaskExtractor.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ClaudeMeetingTaskExtractorTests.cs
  memory/context/state.md
Due: backend, Backend (.NET)

chore(feat-3967): impl+review for retire-dataquality-catalog-allowlist r1
  artifacts/feat-3967/state.json
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

chore(feat-3967): impl+review for retire-dataquality-catalog-allowlist r1
  artifacts/feat-3967/impl/retire-dataquality-catalog-allowlist.r1.md
  artifacts/feat-3967/review/retire-dataquality-catalog-allowlist.r1.md
Due: none

chore(feat-3967): retire-dataquality-catalog-allowlist passed review
  artifacts/feat-3967/state.json
Due: none

fix(orgchart): let OperationCanceledException propagate from GetOrganizationStructure
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
  backend/test/Anela.Heblo.Tests/Features/OrgChart/OrgChartControllerTests.cs
Due: backend, Backend (.NET)

docs(memory): record #3974 OrgChart fix and UseSharedCompilation deadlock addendum
  memory/context/state.md
  memory/gotchas/dotnet-build-hangs-nodereuse-accessmatrixgen.md
Due: none

docs(memory): identify agentharness init as root cause of gh_api.sh Content-Type regression
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: none

chore(feat-3967): impl+review for full-verification r1
  artifacts/feat-3967/state.json
Due: none

chore(feat-3967): impl+review for full-verification r1
  artifacts/feat-3967/impl/full-verification.r1.md
  artifacts/feat-3967/review/full-verification.r1.md
Due: none

chore(feat-3967): full-verification revision 2 requested
  artifacts/feat-3967/state.json
Due: none

#3974: OrgChart controller no longer swallows OperationCanceledException as HTTP 500 (#3984)
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
  backend/test/Anela.Heblo.Tests/Features/OrgChart/OrgChartControllerTests.cs
  memory/context/state.md
  memory/gotchas/dotnet-build-hangs-nodereuse-accessmatrixgen.md
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: backend, Backend (.NET)

#3975: Extract OrgChartPage filtering logic into testable orgChartUtils.filterPositions
  frontend/src/pages/OrgChartPage.tsx
  frontend/src/pages/__tests__/orgChartUtils.test.ts
  frontend/src/pages/orgChartUtils.ts
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
