Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-4285): init checkpoint and brief
  artifacts/feat-4285/brief.md
  artifacts/feat-4285/state.json
Due: none

chore(feat-4285): analyzing artifact
  artifacts/feat-4285/spec.r1.md
  artifacts/feat-4285/state.json
Due: none

fix: price stock from the exact average (tuz / stavMJ), not the 2-decimal prumCena
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Stock/FlexiStockMappingProfile.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Stock/FlexiStockMappingProfileTests.cs
  scripts/flexi-purchase-price-report.py
Due: backend, Backend (.NET)

chore(feat-4285): architecting artifact
  artifacts/feat-4285/arch-review.r1.md
  artifacts/feat-4285/state.json
Due: none

chore(feat-4285): designing artifact
  artifacts/feat-4285/design.r1.md
  artifacts/feat-4285/state.json
Due: none

fix: address review findings on purchase price sync
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Price/FlexiProductPriceErpClient.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogPurchasePriceSyncSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/PurchaseMaterialCatalogAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Infrastructure/Jobs/PurchasePriceRecalculationJob.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/RecalculatePurchasePrice/RecalculatePurchasePriceResponse.cs
  backend/test/Anela.Heblo.Tests/Adapters/Flexi/FlexiProductPriceErpClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/Purchase/RecalculatePurchasePriceHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogPurchasePriceSyncSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/PurchaseMaterialCatalogAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/Infrastructure/Jobs/PurchasePriceRecalculationJobTests.cs
  scripts/flexi-purchase-price-report.py
  scripts/test_flexi_purchase_price_report.py
Due: backend, Backend (.NET)

chore(feat-4285): planning artifact
  artifacts/feat-4285/state.json
  artifacts/feat-4285/task-plan.r1.md
Due: none

chore(feat-4285): task context
  artifacts/feat-4285/state.json
  artifacts/feat-4285/task-context/remove-old-refresh-service-and-verify.md
  artifacts/feat-4285/task-context/split-catalog-history-refresh-service.md
  artifacts/feat-4285/task-context/split-catalog-meta-refresh-service.md
  artifacts/feat-4285/task-context/split-catalog-reference-refresh-service.md
  artifacts/feat-4285/task-context/split-catalog-stock-refresh-service.md
  artifacts/feat-4285/task-context/wire-catalog-repository-and-module.md
Due: none

feat: nightly purchase price sync (materials → semi-products → products) (#4291)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Price/FlexiProductPriceErpClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Price/FlexiPurchasePriceWriter.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Stock/FlexiStockMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogPurchasePriceRecalculationAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogPurchasePriceSyncSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/PurchaseMaterialCatalogAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/IPurchasePriceRecalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/IPurchasePriceSyncSource.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/MaterialBomReference.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Contracts/PurchasePriceSyncCandidate.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Infrastructure/Jobs/PurchasePriceRecalculationJob.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/RecalculatePurchasePrice/RecalculatePurchasePriceHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/RecalculatePurchasePrice/RecalculatePurchasePriceResponse.cs
  backend/src/Anela.Heblo.Domain/Features/ProductPricing/IErpPurchasePriceWriter.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Stock/FlexiStockMappingProfileTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/Flexi/FlexiProductPriceErpClientTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/Flexi/FlexiPurchasePriceWriterTests.cs
  backend/test/Anela.Heblo.Tests/Application/Purchase/RecalculatePurchasePriceHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogPurchasePriceRecalculationAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogPurchasePriceSyncSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/PurchaseMaterialCatalogAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/Infrastructure/Jobs/PurchasePriceRecalculationJobTests.cs
  docs/integrations/flexi-api.md
  docs/superpowers/plans/2026-09-23-purchase-price-sync.md
  docs/superpowers/specs/2026-09-03-central-price-management-design.md
  docs/superpowers/specs/2026-09-23-purchase-price-sync-design.md
  frontend/package-lock.json
  frontend/src/api/generated/api-client.ts
  scripts/flexi-purchase-price-report.py
  scripts/test_flexi_purchase_price_report.py
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: address code review findings on recurring job categories
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/RecurringJobCategoryLookup.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobCategoryLookupTests.cs
  frontend/src/components/recurring-jobs/RecurringJobCategorySection.tsx
  frontend/src/components/recurring-jobs/__tests__/recurringJobCategories.test.ts
  frontend/src/components/recurring-jobs/recurringJobCategories.ts
  frontend/src/pages/RecurringJobsPage.tsx
  frontend/src/pages/__tests__/RecurringJobsPage.test.tsx
  frontend/test/e2e/core/recurring-jobs-management.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: point .agents context_files at superpowers plugin cache path
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

chore(feat-4286): brief artifact
  artifacts/feat-4286/brief.md
Due: none

fix: categorise GA4 and Shoptet orders sync jobs merged from main
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAnalytics/Sync/Ga4SyncJob.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Analytics/ShoptetOrdersSyncJob.cs
Due: backend, Backend (.NET)

chore(feat-4286): analyzing artifact
  artifacts/feat-4286/spec.r1.md
  artifacts/feat-4286/state.json
Due: none

chore(feat-4286): architecting artifact
  artifacts/feat-4286/arch-review.r1.md
  artifacts/feat-4286/state.json
Due: none

chore(feat-4286): designing artifact
  artifacts/feat-4286/design.r1.md
  artifacts/feat-4286/state.json
Due: none

chore(feat-4286): planning artifact
  artifacts/feat-4286/state.json
  artifacts/feat-4286/task-plan.r1.md
  docs/superpowers/plans/2026-09-24-marginleveldto-factory.md
Due: none

chore(feat-4286): task context
  artifacts/feat-4286/state.json
  artifacts/feat-4286/task-context/add-marginleveldto-factory.md
  artifacts/feat-4286/task-context/full-verification.md
  artifacts/feat-4286/task-context/replace-inline-construction-in-get-catalog-detail-handler.md
  artifacts/feat-4286/task-context/replace-inline-construction-in-get-product-margins-handler.md
Due: none

chore: repoint superpowers skill context_files at plugin cache path
  .agents/brainstorm.md
  .agents/developer.md
  .agents/planner.md
Due: none

fix: value Financial Overview stock at warehouse valuation instead of ceník nakupCena
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/FinancialOverviewStockValueAdapter.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/FinancialOverviewModuleTests.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/StockValueServiceTests.cs
  docs/integrations/flexi-api.md
Due: backend, Backend (.NET)

chore(feat-4285): impl+review for split-catalog-history-refresh-service r1
  artifacts/feat-4285/impl/split-catalog-history-refresh-service.r1.md
  artifacts/feat-4285/review/split-catalog-history-refresh-service.r1.md
  artifacts/feat-4285/state.json
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogHistoryRefreshService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogHistoryRefreshServiceTests.cs
Due: backend, Backend (.NET)

chore(feat-4285): split-catalog-history-refresh-service passed review
  artifacts/feat-4285/state.json
Due: none

fix(gh_api.sh): avoid ARG_MAX overflow when paginating large comment threads
  .claude/skills/_lib/gh_api.sh
Due: none

memory: record gh_api.sh paginate ARG_MAX gotcha
  memory/gotchas/gh-api-paginate-arg-max.md
Due: none

feat: show stock price next to purchase price in catalog detail
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/PriceDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogMergeService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogMappingProfileStockPriceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeServiceTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/catalog/detail/tabs/BasicInfoTab/ProductPriceInfo.tsx
  frontend/src/components/catalog/detail/tabs/BasicInfoTab/__tests__/ProductPriceInfo.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: stop the Ecomail sync losing every newsletter and chasing dead months
  CLUSTER-B-FINDINGS.md
  backend/src/Anela.Heblo.Application/Features/Ecomail/Infrastructure/Jobs/EcomailSyncJob.cs
  backend/src/Anela.Heblo.Application/Features/Ecomail/Services/EcomailSyncService.cs
  backend/src/Anela.Heblo.Domain/Features/Ecomail/IEcomailApiClient.cs
  backend/test/Anela.Heblo.Tests/Ecomail/EcomailApiClientTests.cs
  backend/test/Anela.Heblo.Tests/Ecomail/EcomailSyncJobTests.cs
  backend/test/Anela.Heblo.Tests/Ecomail/EcomailSyncServiceTests.cs
Due: backend, Backend (.NET)

chore(feat-4287): add issue brief and init checkpoint
  artifacts/feat-4287/brief.md
  artifacts/feat-4287/state.json
Due: none

chore(feat-4287): analyzing artifact
  artifacts/feat-4287/spec.r1.md
  artifacts/feat-4287/state.json
Due: none

chore(feat-4287): architecting artifact
  artifacts/feat-4287/arch-review.r1.md
  artifacts/feat-4287/state.json
Due: none

chore(feat-4287): designing artifact
  artifacts/feat-4287/design.r1.md
  artifacts/feat-4287/state.json
Due: none

chore(feat-4287): planning artifact
  artifacts/feat-4287/state.json
  artifacts/feat-4287/task-plan.r1.md
Due: none

feat: hide products without sales in the last year from the margins list
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductMarginsHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useProductMargins.ts
  frontend/src/components/pages/ProductMarginsList.tsx
  frontend/src/components/pages/__tests__/ProductMarginsList.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-4287): task context
  artifacts/feat-4287/state.json
  artifacts/feat-4287/task-context/add-characterization-tests.md
  artifacts/feat-4287/task-context/extract-sortby-helper-and-refactor-applysorting.md
Due: none

fix: address review findings on stock price
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  frontend/src/components/catalog/detail/tabs/BasicInfoTab/__tests__/ProductPriceInfo.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)
