Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

test: add MarketingCalendarPage test harness with mocks
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

feat: replace toolbar with 3-button segmented control (5 týdnů / 14 dní / Seznam)
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

fix: resolve TypeScript cast and ESLint issues in article feedback components
  frontend/src/api/hooks/useArticles.ts
  frontend/src/features/articles/ArticleFeedbackSection.tsx
  frontend/src/features/articles/__tests__/ArticleFeedbackSection.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-article-feedback-source-enrichment-desig/impl/main.r1.md
  artifacts/feat-article-feedback-source-enrichment-desig/impl/main.r1.md
Due: none

feat: make fallback calendar fetch range view-aware (14 vs 35 days)
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

refactor: use Testing Library best practices for wrapper class assertions
  frontend/src/components/marketing/calendar/MarketingMonthCalendar.tsx
  frontend/src/components/marketing/calendar/__tests__/MarketingMonthCalendar.test.tsx
Due: frontend, Frontend (React)

fix: remove unnecessary CalendarViewName cast, TypeScript narrows correctly
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-marketing-calendar-14-day-view-implement/impl/main.r1.md
  artifacts/feat-marketing-calendar-14-day-view-implement/impl/main.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-print-layout-tweaks/brief.md
  artifacts/feat-expedition-list-print-layout-tweaks/brief.md
Due: none

agent: analyst output feat-expedition-list-print-layout-tweaks-analyst
  brief.md
Due: none

agent: upload artifacts/feat-expedition-list-print-layout-tweaks/spec.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/spec.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-print-layout-tweaks/arch-review.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/arch-review.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-print-layout-tweaks/design.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/design.r1.md
Due: none

agent: upload artifacts/feat-expedition-list-print-layout-tweaks/task-plan.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/task-plan.r1.md
Due: none

feat: expedition list per-order page — move notes below table, replace Pozice with Cena
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-expedition-list-print-layout-tweaks/impl/main.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/impl/main.r1.md
Due: none

feat(marketing): add 14-day view with full-height card-style events
  frontend/src/components/marketing/calendar/MarketingMonthCalendar.tsx
  frontend/src/components/marketing/calendar/__tests__/MarketingMonthCalendar.test.tsx
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

Expedition list print — layout tweaks (#995)
  artifacts/feat-expedition-list-print-layout-tweaks/arch-review.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/brief.md
  artifacts/feat-expedition-list-print-layout-tweaks/design.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/impl/main.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/spec.r1.md
  artifacts/feat-expedition-list-print-layout-tweaks/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  brief.md
Due: backend, Backend (.NET)

feat: add shared feedback types for unified page
  frontend/src/components/feedback/types.ts
Due: frontend, Frontend (React)

feat: add LeafletFeedbackSummary and LeafletFeedbackListResponse types
  frontend/src/api/hooks/useLeaflet.ts
Due: frontend, Frontend (React)

feat: add GenericFeedbackStatsBar component
  frontend/src/components/feedback/GenericFeedbackStatsBar.tsx
  frontend/src/components/feedback/__tests__/GenericFeedbackStatsBar.test.tsx
Due: frontend, Frontend (React)

feat: add GenericFeedbackFilters component
  frontend/src/components/feedback/GenericFeedbackFilters.tsx
  frontend/src/components/feedback/__tests__/GenericFeedbackFilters.test.tsx
Due: frontend, Frontend (React)

feat: add GenericFeedbackTable component
  frontend/src/components/feedback/GenericFeedbackTable.tsx
  frontend/src/components/feedback/__tests__/GenericFeedbackTable.test.tsx
Due: frontend, Frontend (React)

test: add missing GenericFeedbackTable tests for loading, Ne badge, pagination actions
  frontend/src/components/feedback/__tests__/GenericFeedbackTable.test.tsx
Due: frontend, Frontend (React)

feat: add GenericFeedbackDetailModal component
  frontend/src/components/feedback/GenericFeedbackDetailModal.tsx
  frontend/src/components/feedback/__tests__/GenericFeedbackDetailModal.test.tsx
Due: frontend, Frontend (React)

test: add GenericFeedbackDetailModal negative branch tests
  frontend/src/components/feedback/__tests__/GenericFeedbackDetailModal.test.tsx
Due: frontend, Frontend (React)

feat: add useKbFeedbackAdapter hook
  frontend/src/components/feedback/adapters/__tests__/useKbFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useKbFeedbackAdapter.ts
Due: frontend, Frontend (React)

fix: add null guard on answer, fix totalPages default, add missing tests
  frontend/src/components/feedback/adapters/__tests__/useKbFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useKbFeedbackAdapter.ts
Due: frontend, Frontend (React)

feat: add useLeafletFeedbackAdapter hook
  frontend/src/components/feedback/adapters/__tests__/useLeafletFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useLeafletFeedbackAdapter.ts
Due: frontend, Frontend (React)

test: add missing useLeafletFeedbackAdapter tests
  frontend/src/components/feedback/adapters/__tests__/useLeafletFeedbackAdapter.test.ts
Due: frontend, Frontend (React)

feat: add useArticleFeedbackAdapter hook
  frontend/src/components/feedback/adapters/__tests__/useArticleFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useArticleFeedbackAdapter.ts
Due: frontend, Frontend (React)

test: add loading and error state tests for useArticleFeedbackAdapter
  frontend/src/components/feedback/adapters/__tests__/useArticleFeedbackAdapter.test.ts
Due: frontend, Frontend (React)

feat: implement MarketingFeedbackPage with tabbed feedback view
  frontend/src/pages/MarketingFeedbackPage.tsx
  frontend/src/pages/__tests__/MarketingFeedbackPage.test.tsx
Due: frontend, Frontend (React)

test: add toggle-dismiss test for MarketingFeedbackPage row click
  frontend/src/pages/__tests__/MarketingFeedbackPage.test.tsx
Due: frontend, Frontend (React)

refactor: migrate KnowledgeBaseFeedbackPage to generic feedback components
  frontend/src/components/knowledge-base/FeedbackDetailModal.tsx
  frontend/src/components/knowledge-base/FeedbackFilters.tsx
  frontend/src/components/knowledge-base/FeedbackStatsBar.tsx
  frontend/src/components/knowledge-base/FeedbackTable.tsx
  frontend/src/pages/KnowledgeBaseFeedbackPage.tsx
Due: frontend, Frontend (React)

fix: update LeafletResult to use RagFeedbackForm boolean props, add null guard
  frontend/src/features/leaflet-generator/LeafletResult.tsx
  frontend/src/pages/KnowledgeBaseFeedbackPage.tsx
Due: frontend, Frontend (React)

fix: resolve TS type mismatch and testing-library lint error in feedback components
  frontend/src/components/feedback/GenericFeedbackStatsBar.tsx
  frontend/src/components/feedback/__tests__/GenericFeedbackStatsBar.test.tsx
  frontend/src/features/leaflet-generator/LeafletResult.tsx
Due: frontend, Frontend (React)

fix: add hasFeedback and totalPages to LeafletFeedbackSummary/Response types, simplify adapter
  frontend/src/api/hooks/useLeaflet.ts
  frontend/src/components/feedback/adapters/__tests__/useLeafletFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useLeafletFeedbackAdapter.ts
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
