Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat(manufacture): add server-side pagination + LOT filter to order list (#545)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/manufacture/list/ManufactureOrderFilters.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/CatalogList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(flexi): capture stock-document codes in FlexiManufactureClient
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

docs: add implementation plans for manufacture protocol phase 1 and stockup REST migration
  docs/superpowers/plans/2026-04-10-manufacture-protocol-phase1.md
  docs/superpowers/plans/2026-04-10-stockup-rest-migration.md
Due: none

fix(manufacture): update ManualActionRequiredTile and tests for paged GetOrdersAsync signature
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrdersHandlerTests.cs
Due: backend, Backend (.NET)

feat(manufacture): add pagination and LOT number filter to order list
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientResponse.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410145956_AddFlexiDocFieldsToManufactureOrder.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410145956_AddFlexiDocFieldsToManufactureOrder.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileRegistryExtensions.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrdersHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Persistence/Manufacture/ManufactureOrderRepositoryTests.cs
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/__tests__/Pagination.test.tsx
  frontend/src/components/manufacture/list/ManufactureOrderFilters.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/CatalogList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(manufacture): add server-side pagination + LOT filter to order list (#545)
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrdersHandlerTests.cs
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/manufacture/list/ManufactureOrderFilters.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/CatalogList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(security): drop @tootallnate/once override — v3 is ESM-only, breaks jest
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(manufacture): add FlexiManufacture submission with ingredient stock validation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/pages/ManufacturingStockAnalysis.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/utils/exportToXlsx.ts
Due: frontend, Frontend (React)

feat(manufacture): implement Flexi manufacture protocol phase 2
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

fix(security): drop svgo override — breaks css-minimizer-webpack-plugin in docker build
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(hangfire): add PostgreSQL storage timeouts and job expiration to resolve stats 500 errors
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

fix: resolve IngredientRequirement ambiguity after merge
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
Due: backend, Backend (.NET)

fix(docker): upgrade Node.js from 18 to 20 in frontend build stage
  Dockerfile
Due: none

fix(docker): upgrade Node.js from 18 to 20 in frontend build stage (#567)
  Dockerfile
Due: none

fix(manufacture): restore refactored pipeline after merge conflict
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/FlexiManufactureDocumentService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/IFlexiManufactureDocumentService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/Internal/ManufactureWorkItems.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

feat(manufacture): wire captured Flexi doc codes through application layer (#540)
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: backend, Backend (.NET)

feat(manufacture): wire Flexi doc codes through application layer (#540) (#568)
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: backend, Backend (.NET)

feat(persistence): add EF config and migration for Flexi doc number columns
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410183927_AddManufactureOrderFlexiDocNumbers.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410183927_AddManufactureOrderFlexiDocNumbers.cs
Due: backend, Backend (.NET)

feat(flexi): add GetErpDocumentItemsAsync for lot/expiration lookup
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureErpDocumentItem.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

feat(manufacture): Phase 4 - persistence migration + GetErpDocumentItemsAsync (#541) (#569)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureClient.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureErpDocumentItem.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410183927_AddManufactureOrderFlexiDocNumbers.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260410183927_AddManufactureOrderFlexiDocNumbers.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureClientTests.cs
Due: backend, Backend (.NET)

feat(manufacture): add GetManufactureProtocol use case
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/IManufactureProtocolRenderer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/ManufactureProtocolData.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/NotImplementedManufactureProtocolRenderer.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureProtocolHandlerTests.cs
Due: backend, Backend (.NET)

fix(anthropic): reduce TimeoutException spikes in HTTP stream reads (#493)
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicChatClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicOptions.cs
  backend/test/Anela.Heblo.Tests/Adapters/Anthropic/AnthropicChatClientTests.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
Due: backend, Backend (.NET)

fix(manufacture): round semiproduct consumption amounts to avoid floating-point overflow @claude
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
Due: backend, Backend (.NET)

fix(hangfire): use correct PostgreSqlStorageOptions API for timeout and interval settings
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

fix(manufacture): change rounding precision to 4 decimal places, apply consistently
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
Due: backend, Backend (.NET)

fix(shoptet): add EnsureSuccessStatusCode to prevent CsvHelper MissingFieldException on HTTP 500
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Price/ShoptetPriceClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Stock/ShoptetStockClient.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShoptetPriceClientHttp500Tests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShoptetStockClientHttp500Tests.cs
Due: backend, Backend (.NET)

feat(manufacture): wire Flexi doc codes through application layer (#540) (#568)
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: backend, Backend (.NET)

fix(hangfire): add PostgreSQL storage timeouts and job expiration to resolve stats 500 errors (#566)
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

feat(manufacture): Phase 5 - GetManufactureProtocol use case (#542) (#570)
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/IManufactureProtocolRenderer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/ManufactureProtocolData.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/NotImplementedManufactureProtocolRenderer.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureProtocolHandlerTests.cs
Due: backend, Backend (.NET)

fix(manufacture): round semiproduct consumption amounts to avoid floating-point overflow (#572)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
Due: backend, Backend (.NET)

fix(anthropic): reduce TimeoutException spikes in HTTP stream reads (#493) (#571)
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicChatClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Anthropic/AnthropicOptions.cs
  backend/test/Anela.Heblo.Tests/Adapters/Anthropic/AnthropicChatClientTests.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
Due: backend, Backend (.NET)

fix(shoptet): add EnsureSuccessStatusCode to prevent CsvHelper MissingFieldException on HTTP 500 (#573)
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Price/ShoptetPriceClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Stock/ShoptetStockClient.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShoptetPriceClientHttp500Tests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShoptetStockClientHttp500Tests.cs
Due: backend, Backend (.NET)

fix(manufacture): improve error surfacing and E2E selector robustness
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/test/e2e/manufacturing/protocol.spec.ts
Due: frontend, Frontend (React)

feat(manufacture): Phase 6 - ManufactureProtocolDocument + API endpoint
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/PDFPrints/ManufactureProtocolDocument.cs
  backend/src/Anela.Heblo.API/PDFPrints/QuestPdfManufactureProtocolRenderer.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderControllerProtocolTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureProtocolRendererSmokeTests.cs
Due: backend, Backend (.NET)

feat(manufacture): Phase 7 - frontend Tisk protokolu button + E2E @claude
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useOpenManufactureProtocol.test.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/manufacture/detail/DetailActionButtons.tsx
  frontend/src/components/manufacture/detail/__tests__/DetailActionButtons.test.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/test/e2e/manufacturing/protocol.spec.ts
Due: frontend, Frontend (React)

fix(manufacture): address Phase 6 code quality issues
  backend/src/Anela.Heblo.API/Controllers/ManufactureOrderController.cs
  backend/src/Anela.Heblo.API/PDFPrints/ManufactureProtocolDocument.cs
  backend/src/Anela.Heblo.API/PDFPrints/QuestPdfManufactureProtocolRenderer.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureOrderControllerProtocolTests.cs
Due: backend, Backend (.NET)

fix(manufacture): GetManufactureProtocolResponse extends BaseResponse + fix test mock @claude
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureProtocol/GetManufactureProtocolResponse.cs
  frontend/src/components/manufacture/pages/__tests__/ManufactureOrderDetail.autoCalculation.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)
