Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

test(shipment-labels): add mixed-label case test documenting all-packages-returned behavior
  backend/test/Anela.Heblo.Tests/Application/ShipmentLabels/GetOrderShipmentLabelsHandlerTests.cs
Due: none

feat(shipment-labels): add validator, module registration, wire ApplicationModule
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShipmentLabelsModule.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/Validators/GetOrderShipmentLabelsRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Application/ShipmentLabels/GetOrderShipmentLabelsRequestValidatorTests.cs
Due: backend, Backend (.NET)

feat(baleni): add Shoptet packing order adapter
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
Due: backend, Backend (.NET)

test(cooling): update OpenMeteo adapter fixtures for temperature_2m_min
  backend/test/Anela.Heblo.Adapters.OpenMeteo.Tests/OpenMeteoWeatherForecastClientTests.cs
Due: none

feat(cooling): add getTemperatureRangeBar for floating min-max bar
  frontend/src/components/customer/cooling/__tests__/temperatureScale.test.ts
  frontend/src/components/customer/cooling/temperatureScale.ts
Due: frontend, Frontend (React)

feat(shipment-labels): add ShoptetShipmentClient with adapter DTOs and unit tests
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/Dto/ShoptetErrorDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/Dto/ShoptetPackageDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/Dto/ShoptetShipmentDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/Dto/ShoptetShipmentListResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
Due: backend, Backend (.NET)

feat(baleni): register packing order client
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

feat(baleni): add GetPackingOrder query handler
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/GetPackingOrder/GetPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/GetPackingOrder/GetPackingOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/GetPackingOrder/GetPackingOrderResponse.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/GetPackingOrderHandlerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketinginvoices-import-job/brief.md
  artifacts/feat-arch-review-marketinginvoices-import-job/brief.md
Due: none

fix(shipment-labels): URL-encode orderCode in Delivery API query string
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/Dto/ShoptetShipmentListResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetShipmentClientTests.cs
Due: backend, Backend (.NET)

feat(cooling): update forecast to show min-max range bar
  frontend/src/api/hooks/useWeatherForecast.ts
  frontend/src/components/customer/cooling/WeatherForecastReport.tsx
  frontend/src/components/customer/cooling/__tests__/WeatherForecastReport.test.tsx
Due: frontend, Frontend (React)

feat(shipment-labels): wire DI, add ShipmentLabelsController POST /api/shipment-labels
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Controllers/ShipmentLabelsController.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketinginvoices-import-job/spec.r1.md
  artifacts/feat-arch-review-marketinginvoices-import-job/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketinginvoices-import-job/arch-review.r1.md
  artifacts/feat-arch-review-marketinginvoices-import-job/arch-review.r1.md
Due: none

fix: correct Shoptet invoice VAT rate and payment method mapping
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/BillingMethodMapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileVatRateTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/BillingMethodMapperTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

feat(baleni): expose GET shoptet-orders/{code}/packing endpoint
  backend/src/Anela.Heblo.API/Controllers/ShoptetOrdersController.cs
Due: backend, Backend (.NET)

feat(baleni): add usePackingOrder hook
  frontend/src/api/hooks/usePackingOrder.ts
Due: frontend, Frontend (React)

agent: planner output feat-arch-review-marketinginvoices-import-job-planning-1
  docs/superpowers/plans/2026-05-19-refactor-marketinginvoices-import-jobs.md
Due: none

agent: upload artifacts/feat-arch-review-marketinginvoices-import-job/task-plan.r1.md
  artifacts/feat-arch-review-marketinginvoices-import-job/task-plan.r1.md
Due: none

refactor: remove dead Map(string?) overload from BillingMethodMapper
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/BillingMethodMapper.cs
Due: backend, Backend (.NET)

fix(expedition): make cooling badge black and inline with order number
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
Due: backend, Backend (.NET)

feat(baleni): add PackingItems component
  frontend/src/components/baleni/PackingItems.tsx
  frontend/src/components/baleni/__tests__/PackingItems.test.tsx
Due: frontend, Frontend (React)

refactor: single-source platform literal on marketing transaction sources
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsTransactionSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsTransactionSource.cs
Due: backend, Backend (.NET)

chore: apply dotnet format to shipment-labels files
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: none

feat: enlarge Smartsupp answer field with expand toggle
  frontend/src/components/customer-support/smartsupp/ChatComposer.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ChatComposer.test.tsx
Due: frontend, Frontend (React)

feat(baleni): add PackingOrderMeta component
  frontend/src/components/baleni/PackingOrderMeta.tsx
Due: frontend, Frontend (React)

test(cooling): add minTemperatureCelsius to useWeatherForecast mock fixture
  frontend/src/api/hooks/__tests__/useWeatherForecast.test.tsx
Due: frontend, Frontend (React)

fix(expedition): make cooling badge black and inline with order number (#1409)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
Due: backend, Backend (.NET)

refactor: pass transaction source to ImportAsync instead of constructor
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/MarketingInvoiceImportService.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/MarketingInvoiceImportServiceTests.cs
Due: backend, Backend (.NET)

refactor: register MarketingInvoiceImportService as scoped
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/MarketingInvoicesModule.cs
Due: backend, Backend (.NET)

feat(baleni): add BaleniPacking page
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
Due: frontend, Frontend (React)

fix: correct Shoptet invoice VAT rate and payment method mapping (#1407)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/BillingMethodMapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileVatRateTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/BillingMethodMapperTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

test(baleni): remove unused import from BaleniPacking test
  frontend/src/components/baleni/__tests__/BaleniPacking.test.tsx
Due: frontend, Frontend (React)

feat: enlarge Smartsupp answer field with expand toggle (#1410)
  frontend/src/components/customer-support/smartsupp/ChatComposer.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/ChatComposer.test.tsx
Due: frontend, Frontend (React)

feat: add ImportMarketingInvoices request/response DTOs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/UseCases/ImportMarketingInvoices/ImportMarketingInvoicesRequest.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/UseCases/ImportMarketingInvoices/ImportMarketingInvoicesResponse.cs
Due: backend, Backend (.NET)

feat(baleni): route /baleni/baleni to packing screen
  frontend/src/App.tsx
Due: frontend, Frontend (React)

fix: register 29XX ShipmentLabels error codes in coverage tests and i18n
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

test(baleni): add packing screen E2E test
  frontend/playwright.config.ts
  frontend/test/e2e/baleni/packing.spec.ts
  scripts/run-playwright-tests.sh
Due: none

feat(cooling): replace lucide weather icons with colorful emoji
  frontend/src/components/customer/cooling/WeatherForecastReport.tsx
  frontend/src/components/customer/cooling/__tests__/weatherIcons.test.ts
  frontend/src/components/customer/cooling/weatherIcons.ts
Due: frontend, Frontend (React)

feat: add ImportMarketingInvoicesHandler with source selection and validation
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsInvoiceImportJob.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsInvoiceImportJob.cs
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/UseCases/ImportMarketingInvoices/ImportMarketingInvoicesHandler.cs
  backend/test/Anela.Heblo.Tests/Features/MarketingInvoices/ImportMarketingInvoicesHandlerTests.cs
Due: backend, Backend (.NET)
