Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: Replace DateTime.Now with caller-supplied year in ManufactureOrderRepository.GenerateOrderNumberAsync (#3016)
  artifacts/feat-arch-review-manufacture-generateordernum/arch-review.r1.md
  artifacts/feat-arch-review-manufacture-generateordernum/brief.md
  artifacts/feat-arch-review-manufacture-generateordernum/impl/main.r1.md
  artifacts/feat-arch-review-manufacture-generateordernum/spec.r1.md
  artifacts/feat-arch-review-manufacture-generateordernum/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/IManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerSinglePhaseTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DuplicateManufactureOrderHandlerTests.cs
  docs/superpowers/plans/2026-06-13-manufacture-generate-order-number-supplied-year.md
Due: backend, Backend (.NET)

feat: TimeProvider Consistency in UpcomingProductionTile (#3011)
  artifacts/feat-arch-review-manufacture-upcomingproducti/arch-review.r1.md
  artifacts/feat-arch-review-manufacture-upcomingproducti/brief.md
  artifacts/feat-arch-review-manufacture-upcomingproducti/impl/main.r1.md
  artifacts/feat-arch-review-manufacture-upcomingproducti/spec.r1.md
  artifacts/feat-arch-review-manufacture-upcomingproducti/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/NextDayProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/TodayProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/UpcomingProductionTileTests.cs
  docs/superpowers/plans/2026-06-13-upcoming-production-tile-timeprovider.md
Due: backend, Backend (.NET)

feat: Remove Cross-Module Dependency in `ManufactureStockTakingController.GetManufactureStockTakingHistory` (#3005)
  artifacts/feat-arch-review-manufacture-manufacturestock/arch-review.r1.md
  artifacts/feat-arch-review-manufacture-manufacturestock/brief.md
  artifacts/feat-arch-review-manufacture-manufacturestock/impl/main.r1.md
  artifacts/feat-arch-review-manufacture-manufacturestock/spec.r1.md
  artifacts/feat-arch-review-manufacture-manufacturestock/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/ManufactureStockTakingController.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureStockTakingHistory/GetManufactureStockTakingHistoryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureStockTakingHistory/GetManufactureStockTakingHistoryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureStockTakingHistory/GetManufactureStockTakingHistoryResponse.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UseCases/GetManufactureStockTakingHistory/GetManufactureStockTakingHistoryHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureStockTaking.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: resolve failing tests after backmerge with main
  backend/test/Anela.Heblo.Tests/Features/FileStorage/FileStorageModuleTests.cs
Due: none

chore: write .context/pr.md for PR #2963 absorb
  .context/pr.md
Due: none

Add cloud environment setup scripts for Claude Code on the web (#3066)
  .claude/settings.json
  scripts/cloud-env-bootstrap.sh
  scripts/cloud-session-setup.sh
  scripts/setup-cloud-env.sh
Due: none

fix: break login loop by escalating 401 auth recovery
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/auth/__tests__/authRecovery.test.ts
  frontend/src/auth/authRecovery.ts
Due: frontend, Frontend (React)

fix: send Plaud token refresh as form-urlencoded and parse expires_in
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokenRefreshClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokenRefreshJob.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokens.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudTokenRefreshClientTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/Plaud/PlaudTokenRefreshJobTests.cs
  docs/integrations/plaud-token-auto-refresh.md
Due: backend, Backend (.NET)

fix: prevent clearAuthRecoveryState from resetting burst-dedup flag on successful responses
  frontend/src/api/client.ts
  frontend/src/auth/authRecovery.ts
Due: frontend, Frontend (React)

fix: throw explicit error when Plaud response omits expires_in
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokenRefreshClient.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudTokenRefreshClientTests.cs
Due: backend, Backend (.NET)

fix(arch-test): update DataQualityCatalogAllowlist for ProductPairingDqtComparer resilience wrapper
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
Due: none

chore: update .context/pr.md for absorbed PR #3060
  .context/pr.md
Due: none

fix: send Plaud token refresh as form-urlencoded and parse expires_in (#3070)
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokenRefreshClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokenRefreshJob.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudTokens.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudTokenRefreshClientTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/Plaud/PlaudTokenRefreshJobTests.cs
  docs/integrations/plaud-token-auto-refresh.md
Due: backend, Backend (.NET)

fix: break login loop by escalating 401 auth recovery (#3067)
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/auth/__tests__/authRecovery.test.ts
  frontend/src/auth/authRecovery.ts
Due: frontend, Frontend (React)

feat: use tracking number as package identifier and fix multi-package recreate
  backend/src/Anela.Heblo.API/Controllers/PackagingController.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetOrderTrackingNumbers/GetOrderTrackingNumbersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetOrderTrackingNumbers/GetOrderTrackingNumbersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetOrderTrackingNumbers/GetOrderTrackingNumbersResponse.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentRequest.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentResponse.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderResponse.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/GetOrderTrackingNumbersHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useOrderTrackingNumbers.test.ts
  frontend/src/api/hooks/useOrderTrackingNumbers.ts
  frontend/src/api/hooks/useResetOrderShipment.ts
  frontend/src/api/hooks/useScanPackingOrder.ts
  frontend/src/components/baleni/PackingLabelPrinter.tsx
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/PackingShipmentDoneView.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrintModal.test.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentCreator.test.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentDoneView.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-orgchart-controller-error-pa/spec.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/spec.r1.md
Due: none

agent: product output feat-arch-review-orgchart-controller-error-pa-questioning-r1
  answers.md
  docs/superpowers/plans/2026-06-04-fix-orgchart-error-contract.md
Due: none

agent: upload artifacts/feat-arch-review-orgchart-controller-error-pa/answers.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-feature-doc-section-/brief.md
  artifacts/feat-arch-review-article-feature-doc-section-/brief.md
Due: none

feat: Harden ShoptetStockClient.ListAsync against transient HTTP failures (#3060)
  .context/pr.md
  artifacts/feat-telemetry-shoptetstockclient-listasync-8/arch-review.r1.md
  artifacts/feat-telemetry-shoptetstockclient-listasync-8/brief.md
  artifacts/feat-telemetry-shoptetstockclient-listasync-8/impl/main.r1.md
  artifacts/feat-telemetry-shoptetstockclient-listasync-8/spec.r1.md
  artifacts/feat-telemetry-shoptetstockclient-listasync-8/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Anela.Heblo.Adapters.ShoptetApi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Stock/ShoptetStockClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Stock/ShoptetStockClientOptions.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/ProductPairingDqtComparer.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Anela.Heblo.Adapters.Shoptet.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShoptetStockClientResilienceTests.cs
  backend/test/Anela.Heblo.Tests/Architecture/ModuleBoundariesTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtComparerTests.cs
  docs/integrations/shoptet-api.md
  docs/superpowers/plans/2026-06-14-shoptetstockclient-listasync-resilience.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-orgchart-controller-error-pa/spec.r2.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-article-feature-doc-section-/spec.r1.md
  artifacts/feat-arch-review-article-feature-doc-section-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-orgchart-controller-error-pa/arch-review.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-feature-doc-section-/arch-review.r1.md
  artifacts/feat-arch-review-article-feature-doc-section-/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-orgchart-controller-error-pa/task-plan.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/task-plan.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-feature-doc-section-/task-plan.r1.md
  artifacts/feat-arch-review-article-feature-doc-section-/task-plan.r1.md
Due: none

test: add OrgChartController tests (RED state — typed error tests intentionally failing)
  backend/test/Anela.Heblo.Tests/Features/OrgChart/OrgChartControllerTests.cs
Due: none

fix(orgchart): return typed OrgChartResponse on error instead of anonymous object
  backend/src/Anela.Heblo.API/Controllers/OrgChartController.cs
Due: backend, Backend (.NET)

feat: add expedition delivery address validator
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionAddressValidator.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ExpeditionAddressValidatorTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-orgchart-controller-error-pa/impl/main.r1.md
  artifacts/feat-arch-review-orgchart-controller-error-pa/impl/main.r1.md
Due: none

feat: add NoteStateId config for expedition address validation
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Contracts/ExpeditionPickingRequest.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Infrastructure/Jobs/PrintPickingListJob.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/PrintPickingListOptions.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/RunExpeditionListPrintFix/RunExpeditionListPrintFixHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Infrastructure/LogisticsExpeditionPickingAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListRequest.cs
Due: backend, Backend (.NET)

docs(article-generation): align section 7 & 14 with FeatureAuthorize model
  docs/features/article-generation.md
Due: none

feat: surface skipped-order count from expedition picking
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Contracts/ExpeditionPickingResult.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Infrastructure/Jobs/PrintPickingListJob.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/RunExpeditionListPrintFix/RunExpeditionListPrintFixHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/UseCases/RunExpeditionListPrintFix/RunExpeditionListPrintFixResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Infrastructure/LogisticsExpeditionPickingAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListResult.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-coverage-gap-catalog-salescostprovider-f/brief.md
  artifacts/feat-coverage-gap-catalog-salescostprovider-f/brief.md
Due: none

agent: developer output feat-arch-review-article-feature-doc-section--dev-main
  docs/superpowers/plans/2026-06-14-article-generation-doc-auth-fix.md
  docs/superpowers/plans/impl/article-generation-doc-auth-fix.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-feature-doc-section-/impl/main.r1.md
  artifacts/feat-arch-review-article-feature-doc-section-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-salescostprovider-f/spec.r1.md
  artifacts/feat-coverage-gap-catalog-salescostprovider-f/spec.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-salescostprovider-f/answers.r1.md
  artifacts/feat-coverage-gap-catalog-salescostprovider-f/answers.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-salescostprovider-f/spec.r2.md
  artifacts/feat-coverage-gap-catalog-salescostprovider-f/spec.r2.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
