Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-3885): code review r1
  artifacts/feat-3885/code-review.r1.md
  artifacts/feat-3885/state.json
Due: none

chore(feat-3885): finalize state.json after code review
  artifacts/feat-3885/state.json
Due: none

docs: spec for Logeto break insertion rolling window and same-day handling
  docs/superpowers/specs/2026-08-07-logeto-break-insertion-window-design.md
Due: none

docs: implementation plan for Logeto break insertion rolling window
  docs/superpowers/plans/2026-08-07-logeto-break-insertion-window.md
Due: none

docs: move today parameter into the task that consumes it
  docs/superpowers/plans/2026-08-07-logeto-break-insertion-window.md
Due: none

feat: bound Logeto break insertion to a rolling window above the start date
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Attendance/BreakInsertionOptions.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/BreakInsertionService.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionServiceTests.cs
Due: backend, Backend (.NET)

feat: skip Logeto days with an open record so today can be processed
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/BreakInsertionService.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionServiceTests.cs
Due: backend, Backend (.NET)

#3879: implementation (#3896)
  artifacts/feat-3879/arch-review.r1.md
  artifacts/feat-3879/brief.md
  artifacts/feat-3879/code-review.r1.md
  artifacts/feat-3879/design.r1.md
  artifacts/feat-3879/impl/group-a-conversation-reply-reaction-base.r1.md
  artifacts/feat-3879/impl/group-b-contact-upsert-with-backfill-reaction-base.r1.md
  artifacts/feat-3879/impl/group-c-contact-upsert-only-reaction-base.r1.md
  artifacts/feat-3879/review/group-a-conversation-reply-reaction-base.r1.md
  artifacts/feat-3879/review/group-b-contact-upsert-with-backfill-reaction-base.r1.md
  artifacts/feat-3879/review/group-c-contact-upsert-only-reaction-base.r1.md
  artifacts/feat-3879/spec.r1.md
  artifacts/feat-3879/state.json
  artifacts/feat-3879/task-context/group-a-conversation-reply-reaction-base.md
  artifacts/feat-3879/task-context/group-b-contact-upsert-with-backfill-reaction-base.md
  artifacts/feat-3879/task-context/group-c-contact-upsert-only-reaction-base.md
  artifacts/feat-3879/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactAcquiredReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactBannedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactCreatedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactUnbannedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactUpdatedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactUpsertOnlyReactionBase.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ContactUpsertWithBackfillReactionBase.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ConversationAgentRepliedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ConversationBotRepliedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ConversationContactRepliedReaction.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/ProcessWebhookEvent/Reactions/ConversationReplyReactionBase.cs
Due: backend, Backend (.NET)

#3885: Fix CatalogDataRefreshService cache isolation violations (#3897)
  artifacts/feat-3885/arch-review.r1.md
  artifacts/feat-3885/brief.md
  artifacts/feat-3885/code-review.r1.md
  artifacts/feat-3885/design.r1.md
  artifacts/feat-3885/impl/fix-catalog-data-refresh-cache-mutations.r1.md
  artifacts/feat-3885/review/fix-catalog-data-refresh-cache-mutations.r1.md
  artifacts/feat-3885/spec.r1.md
  artifacts/feat-3885/state.json
  artifacts/feat-3885/task-context/fix-catalog-data-refresh-cache-mutations.md
  artifacts/feat-3885/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CatalogDataRefreshService.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogDataRefreshServiceTests.cs
Due: backend, Backend (.NET)

test: assert one break per day for a split-shift twelve hour day
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionServiceTests.cs
Due: none

fix: correct break-insertion warning message and lookback clamp, add window/multi-day test coverage
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/BreakInsertionService.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionServiceTests.cs
  docs/superpowers/specs/2026-08-07-logeto-break-insertion-window-design.md
Due: backend, Backend (.NET)

docs: align R2 severity table with the corrected open-record log message
  docs/superpowers/specs/2026-08-07-logeto-break-insertion-window-design.md
Due: none

fix: bound Logeto break insertion to a rolling window and skip open-record days (#3898)
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Attendance/BreakInsertionOptions.cs
  backend/src/Anela.Heblo.Application/Features/Attendance/Services/BreakInsertionService.cs
  backend/test/Anela.Heblo.Tests/Features/Attendance/BreakInsertionServiceTests.cs
  docs/superpowers/plans/2026-08-07-logeto-break-insertion-window.md
  docs/superpowers/specs/2026-08-07-logeto-break-insertion-window-design.md
Due: backend, Backend (.NET)

chore: sync agentharness plan/implement stage skills
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/plan-next-issue/SKILL.md
  .claude/skills/plan-next-issue/check_concurrency.sh
  .claude/skills/plan-next-issue/claim_issue.sh
  .claude/skills/plan-next-issue/find_candidate.sh
Due: none

Refactor ScanPackingOrderHandler to delegate shipment creation to IShipmentCreationService
  artifacts/feat-3853/impl/refactor-scan-handler.r1.md
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/ScanPackingOrderHandlerPackagePersistenceTests.cs
Due: backend, Backend (.NET)

Remove ScanPackingOrderPackerTests.cs (coverage moved to ShipmentCreationServiceTests)
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderPackerTests.cs
Due: none

chore(feat-3853): impl+review for refactor-scan-handler r1
  artifacts/feat-3853/review/refactor-scan-handler.r1.md
  artifacts/feat-3853/state.json
Due: none

chore(feat-3853): refactor-scan-handler passed review
  artifacts/feat-3853/state.json
Due: none

skills updates
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/plan-next-issue/SKILL.md
  .claude/skills/plan-next-issue/check_concurrency.sh
  .claude/skills/plan-next-issue/claim_issue.sh
  .claude/skills/plan-next-issue/find_candidate.sh
  docs/superpowers/plans/2026-08-07-packing-shipment-creation-shared-service.md
Due: none

chore: sync agentharness stage skills with 0.30.0
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/plan-next-issue/SKILL.md
Due: none

chore(agentharness): commit two-phase planning/implementing scaffolding
  .claude/agents/implement-orchestrator.md
  .claude/agents/plan-orchestrator.md
  .claude/skills/implement-next-task/SKILL.md
  .claude/skills/implement-next-task/find_candidate.sh
  .claude/skills/plan-next-issue/SKILL.md
  .claude/skills/plan-next-issue/check_concurrency.sh
  .claude/skills/plan-next-issue/claim_issue.sh
  .claude/skills/plan-next-issue/find_candidate.sh
Due: none

chore(feat-3886): analyzing artifact
  artifacts/feat-3886/brief.md
  artifacts/feat-3886/spec.r1.md
  artifacts/feat-3886/state.json
Due: none

chore(feat-3886): architecting artifact
  artifacts/feat-3886/arch-review.r1.md
  artifacts/feat-3886/state.json
Due: none

chore(feat-3886): designing artifact
  artifacts/feat-3886/design.r1.md
  artifacts/feat-3886/state.json
Due: none

chore(feat-3886): planning artifact
  artifacts/feat-3886/state.json
  artifacts/feat-3886/task-plan.r1.md
Due: none

chore(feat-3886): task context
  artifacts/feat-3886/state.json
  artifacts/feat-3886/task-context/convert-merge-scheduler-tests-to-fake-time-provider.md
  artifacts/feat-3886/task-context/inject-timeprovider-into-catalog-merge-scheduler.md
Due: none

chore(feat-3887): brief + checkpoint init
  artifacts/feat-3887/brief.md
  artifacts/feat-3887/state.json
Due: none

chore(feat-3887): analyzing artifact
  artifacts/feat-3887/spec.r1.md
  artifacts/feat-3887/state.json
Due: none

chore(feat-3887): architecting artifact
  artifacts/feat-3887/arch-review.r1.md
  artifacts/feat-3887/state.json
Due: none

chore(feat-3887): designing artifact
  artifacts/feat-3887/design.r1.md
  artifacts/feat-3887/state.json
Due: none

chore(feat-3887): planning artifact + task context
  artifacts/feat-3887/state.json
  artifacts/feat-3887/task-context/add-code-occupancy-sql-shape-test.md
  artifacts/feat-3887/task-context/add-transport-box-state-rules.md
  artifacts/feat-3887/task-context/consume-rule-in-open-or-resume-handler.md
  artifacts/feat-3887/task-context/consume-rule-in-transport-box-repository.md
  artifacts/feat-3887/task-context/cover-new-to-opened-code-occupancy.md
  artifacts/feat-3887/task-context/document-code-uniqueness-invariant.md
  artifacts/feat-3887/task-plan.r1.md
Due: none

docs(memory): record running the plan pipeline under the GitHub-API 403
  memory/gotchas/gh-cli-unavailable-in-cloud-sessions.md
Due: none

docs(plan): add implementation plan for #3757 Photobank DateTime Kind diagnostic
  docs/superpowers/plans/2026-08-08-photobank-datetime-kind-diagnostic.md
Due: none

docs: design for deleting meeting notes
  docs/superpowers/specs/2026-08-10-delete-meeting-notes-design.md
Due: none

docs: implementation plan for deleting meeting notes
  docs/superpowers/plans/2026-08-10-delete-meeting-notes.md
Due: none

fix: break Entra ID silent login loop from anonymous 200 responses
  frontend/src/App.tsx
  frontend/src/api/__tests__/client-auth-recovery-reset.test.ts
  frontend/src/api/client.ts
  frontend/src/auth/__tests__/authRecovery.test.ts
  frontend/src/auth/authRecovery.ts
  frontend/src/setupTests.ts
  memory/gotchas/anonymous-200-defeats-auth-recovery-ladder.md
Due: frontend, Frontend (React)

feat: add meeting transcript delete with plaud tombstone persistence
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/DeletedPlaudRecording.cs
  backend/src/Anela.Heblo.Domain/Features/MeetingTasks/IMeetingTranscriptRepository.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/DeletedPlaudRecordingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/MeetingTasks/MeetingTranscriptRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260810074400_AddDeletedPlaudRecordings.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260810074400_AddDeletedPlaudRecordings.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/MeetingTranscriptRepositoryTests.cs
Due: backend, Backend (.NET)

fix: address review - extract shared recovery-redirect setup into beginRecoveryRedirect
  frontend/src/auth/authRecovery.ts
Due: frontend, Frontend (React)

feat: add DELETE /api/meeting-tasks/{id} endpoint for meeting managers
  backend/src/Anela.Heblo.API/Controllers/MeetingTasksController.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/DeleteMeetingTranscript/DeleteMeetingTranscriptHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/DeleteMeetingTranscript/DeleteMeetingTranscriptRequest.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/DeleteMeetingTranscript/DeleteMeetingTranscriptResponse.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/DeleteMeetingTranscriptHandlerTests.cs
Due: backend, Backend (.NET)

feat: skip plaud ingest for recordings deleted by a user
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/IngestPlaudRecording/IngestPlaudRecordingHandler.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/IngestPlaudRecordingHandlerTests.cs
Due: backend, Backend (.NET)
