Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: add financial comparison DTOs and cutoff-lag option
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/FinancialAnalysisOptions.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/GetFinancialComparisonRequest.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/GetFinancialComparisonResponse.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Model/FinancialComparisonMetadataDto.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Model/YearComparisonSeriesDto.cs
Due: backend, Backend (.NET)

feat: add GetFinancialComparisonAsync with fair partial-month cut
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Services/FinancialAnalysisService.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Services/IFinancialAnalysisService.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/FinancialAnalysisServiceTests.cs
Due: backend, Backend (.NET)

test: cover comparison cache short-circuit and department-filter bypass
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/FinancialAnalysisServiceTests.cs
Due: none

fix: decouple lot-stock reconciliation DQ check from Catalog module
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/DataQualityMaterialLotStockQueryAdapter.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/IMaterialLotStockQuery.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/MaterialLotStockSnapshot.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/LotStockReconciliationComparer.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/DataQualityMaterialLotStockQueryAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/LotStockReconciliationComparerTests.cs
Due: backend, Backend (.NET)

feat: add financial comparison MediatR handler
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/GetFinancialComparisonHandler.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/GetFinancialComparisonHandlerTests.cs
Due: backend, Backend (.NET)

feat: expose GET /api/FinancialOverview/comparison
  backend/src/Anela.Heblo.API/Controllers/FinancialOverviewController.cs
Due: backend, Backend (.NET)

chore: regenerate TS client for financial comparison endpoint
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

feat: add comparison utils (metric, month labels, pivot)
  frontend/src/components/pages/financial-overview/__tests__/comparisonUtils.test.ts
  frontend/src/components/pages/financial-overview/comparisonUtils.ts
  frontend/src/components/pages/financial-overview/utils.ts
Due: frontend, Frontend (React)

feat: add useFinancialComparison query hook
  frontend/src/api/client.ts
  frontend/src/api/hooks/useFinancialComparison.ts
Due: frontend, Frontend (React)

feat: add year-over-year comparison chart
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonChart.test.tsx
Due: frontend, Frontend (React)

feat: add year-over-year comparison table with delta column
  frontend/src/components/pages/financial-overview/FinancialComparisonTable.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonTable.test.tsx
Due: frontend, Frontend (React)

fix: decouple lot-stock reconciliation DQ check from Catalog module (#3561)
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/DataQualityMaterialLotStockQueryAdapter.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/IMaterialLotStockQuery.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/MaterialLotStockSnapshot.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/LotStockReconciliationComparer.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/DataQualityMaterialLotStockQueryAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/LotStockReconciliationComparerTests.cs
Due: backend, Backend (.NET)

feat: add view-mode, years and metric controls to financial filters
  frontend/src/components/pages/financial-overview/FinancialFilters.tsx
Due: frontend, Frontend (React)

fix: cast comparison chart data via unknown to satisfy stricter CRA build (TS2352)
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
Due: frontend, Frontend (React)

feat: wire year-over-year comparison view into financial overview page
  frontend/src/components/pages/FinancialOverview.tsx
Due: frontend, Frontend (React)

test: supply new required view-mode props in FinancialFilters test defaults
  frontend/src/components/pages/financial-overview/__tests__/FinancialFilters.test.tsx
Due: frontend, Frontend (React)

fix: gate comparison query to comparison mode; metric-aware YTD cards; drop redundant await
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/FinancialOverviewStockValueAdapter.cs
  frontend/src/api/hooks/useFinancialComparison.ts
  frontend/src/components/pages/FinancialOverview.tsx
  frontend/src/components/pages/financial-overview/__tests__/comparisonUtils.test.ts
  frontend/src/components/pages/financial-overview/comparisonUtils.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add year-over-year finance comparison implementation plan
  docs/superpowers/plans/2026-07-08-year-to-year-finance-comparison.md
Due: none

chore(feat-3474): init pipeline artifacts
  artifacts/feat-3474/brief.md
  artifacts/feat-3474/state.json
Due: none

chore(feat-3474): analyzing artifact
  artifacts/feat-3474/answers.r1.md
  artifacts/feat-3474/spec.r1.md
  artifacts/feat-3474/state.json
Due: none

chore(feat-3474): architecting artifact
  artifacts/feat-3474/arch-review.r1.md
  artifacts/feat-3474/state.json
Due: none

chore(feat-3474): planning artifact
  artifacts/feat-3474/state.json
  artifacts/feat-3474/task-plan.r1.md
Due: none

chore(feat-3474): task context
  artifacts/feat-3474/state.json
  artifacts/feat-3474/task-context/extend-temporary-file-accessor.md
  artifacts/feat-3474/task-context/refactor-reprint-handler-and-tests.md
Due: none

feat(feat-3474): extend ITemporaryFileAccessor with CreateFromStreamAsync
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/Features/ExpeditionList/FileSystemTemporaryFileAccessor.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionList/Contracts/ITemporaryFileAccessor.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/FileSystemTemporaryFileAccessorTests.cs
Due: backend, Backend (.NET)

chore(feat-3474): impl for extend-temporary-file-accessor r1
  artifacts/feat-3474/impl/extend-temporary-file-accessor.r1.md
  artifacts/feat-3474/state.json
Due: none

feat: render year-over-year comparison as grouped bars instead of lines
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
Due: frontend, Frontend (React)

chore(feat-3474): review for extend-temporary-file-accessor r1
  artifacts/feat-3474/review/extend-temporary-file-accessor.r1.md
Due: none

refactor(feat-3474): remove System.IO from ReprintExpeditionListHandler
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3474): impl for refactor-reprint-handler-and-tests r1
  artifacts/feat-3474/impl/refactor-reprint-handler-and-tests.r1.md
  artifacts/feat-3474/state.json
Due: none

chore(feat-3474): review for refactor-reprint-handler-and-tests r1
  artifacts/feat-3474/review/refactor-reprint-handler-and-tests.r1.md
Due: none

chore(feat-3474): code review r1
  artifacts/feat-3474/code-review.r1.md
  artifacts/feat-3474/state.json
Due: none

chore(feat-3474): finalize pipeline artifacts
  artifacts/feat-3474/state.json
Due: none

feat: add rolling last-12-months axis toggle to year-over-year comparison
  frontend/src/components/pages/FinancialOverview.tsx
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
  frontend/src/components/pages/financial-overview/FinancialComparisonTable.tsx
  frontend/src/components/pages/financial-overview/FinancialFilters.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonChart.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonTable.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialFilters.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/comparisonUtils.test.ts
  frontend/src/components/pages/financial-overview/comparisonUtils.ts
Due: frontend, Frontend (React)

feat: list comparison table months most-recent-first
  frontend/src/components/pages/financial-overview/FinancialComparisonTable.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonTable.test.tsx
Due: frontend, Frontend (React)

style: use red/orange year colors in comparison chart instead of purple
  frontend/src/components/pages/financial-overview/comparisonUtils.ts
Due: frontend, Frontend (React)

feat: multi-select metrics in year-over-year comparison (color by metric, shade by year)
  frontend/src/components/pages/FinancialOverview.tsx
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
  frontend/src/components/pages/financial-overview/FinancialComparisonTable.tsx
  frontend/src/components/pages/financial-overview/FinancialFilters.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonChart.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonTable.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialFilters.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/comparisonUtils.test.ts
  frontend/src/components/pages/financial-overview/comparisonUtils.ts
Due: frontend, Frontend (React)

feat: reverse comparison table columns so current year is rightmost
  frontend/src/components/pages/financial-overview/FinancialComparisonTable.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonTable.test.tsx
Due: frontend, Frontend (React)

feat: reverse comparison chart bar order (current-year metric on the right)
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonChart.test.tsx
Due: frontend, Frontend (React)

feat: add year-over-year financial comparison view to Financial Overview (#3562)
  backend/src/Anela.Heblo.API/Controllers/FinancialOverviewController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/FinancialOverviewStockValueAdapter.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/FinancialAnalysisOptions.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/GetFinancialComparisonHandler.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/GetFinancialComparisonRequest.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/GetFinancialComparisonResponse.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Model/FinancialComparisonMetadataDto.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Model/MonthlyFinancialDataDto.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Model/YearComparisonSeriesDto.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Services/FinancialAnalysisService.cs
  backend/src/Anela.Heblo.Application/Features/FinancialOverview/Services/IFinancialAnalysisService.cs
  backend/src/Anela.Heblo.Domain/Features/FinancialOverview/IStockValueService.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/FinancialAnalysisServiceTests.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/GetFinancialComparisonHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/StockValueServiceTests.cs
  docs/superpowers/plans/2026-07-08-year-to-year-finance-comparison.md
  frontend/src/api/client.ts
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useFinancialComparison.ts
  frontend/src/components/pages/FinancialOverview.tsx
  frontend/src/components/pages/financial-overview/FinancialComparisonChart.tsx
  frontend/src/components/pages/financial-overview/FinancialComparisonTable.tsx
  frontend/src/components/pages/financial-overview/FinancialFilters.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonChart.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialComparisonTable.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/FinancialFilters.test.tsx
  frontend/src/components/pages/financial-overview/__tests__/comparisonUtils.test.ts
  frontend/src/components/pages/financial-overview/comparisonUtils.ts
  frontend/src/components/pages/financial-overview/utils.ts
Due: backend, frontend, Backend (.NET), Frontend (React)
