Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

chore(feat-4145): widen-google-ads-transaction-source-constructor passed review
  artifacts/feat-4145/state.json
Due: none

chore(feat-4144): impl+review for verify-and-commit-marketing-import-result-move r1
  artifacts/feat-4144/impl/verify-and-commit-marketing-import-result-move.r1.md
  artifacts/feat-4144/review/verify-and-commit-marketing-import-result-move.r1.md
  artifacts/feat-4144/state.json
Due: none

chore(feat-4144): verify-and-commit-marketing-import-result-move passed review
  artifacts/feat-4144/state.json
Due: none

#4131: Type-safe API response handling in MarketingCalendarPage (#4136)
  artifacts/feat-4131/arch-review.r1.md
  artifacts/feat-4131/brief.md
  artifacts/feat-4131/code-review.r1.md
  artifacts/feat-4131/design.r1.md
  artifacts/feat-4131/impl/type-safe-marketing-calendar-page-mapping.r1.md
  artifacts/feat-4131/review/type-safe-marketing-calendar-page-mapping.r1.md
  artifacts/feat-4131/spec.r1.md
  artifacts/feat-4131/state.json
  artifacts/feat-4131/task-context/type-safe-marketing-calendar-page-mapping.md
  artifacts/feat-4131/task-plan.r1.md
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

#4143: Remove dead `result.Failed` write in MarketingInvoiceImportService catch block (#4147)
  artifacts/feat-4143/arch-review.r1.md
  artifacts/feat-4143/brief.md
  artifacts/feat-4143/code-review.r1.md
  artifacts/feat-4143/design.r1.md
  artifacts/feat-4143/impl/remove-dead-failed-write.r1.md
  artifacts/feat-4143/review/remove-dead-failed-write.r1.md
  artifacts/feat-4143/spec.r1.md
  artifacts/feat-4143/state.json
  artifacts/feat-4143/task-context/remove-dead-failed-write.md
  artifacts/feat-4143/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/MarketingInvoices/Services/MarketingInvoiceImportService.cs
Due: backend, Backend (.NET)

chore(feat-4134): code review r1
  artifacts/feat-4134/code-review.r1.md
  artifacts/feat-4134/state.json
Due: none

fix: align ValidateCronFormat tests with ArgumentException swap
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobConfigurationTests.cs
Due: none

chore(feat-4145): code review r1
  artifacts/feat-4145/code-review.r1.md
  artifacts/feat-4145/state.json
Due: none

chore(feat-4144): code review r1
  artifacts/feat-4144/code-review.r1.md
  artifacts/feat-4144/state.json
Due: none

chore(feat-4144): code review completed (CLEAN)
  artifacts/feat-4144/state.json
Due: none

chore(feat-4146): impl+review for add-required-title-create r1
  artifacts/feat-4146/impl/add-required-title-create.r1.md
  artifacts/feat-4146/review/add-required-title-create.r1.md
  artifacts/feat-4146/state.json
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/CreateJournalEntryRequest.cs
Due: backend, Backend (.NET)

chore(feat-4146): add-required-title-create passed review
  artifacts/feat-4146/state.json
Due: none

chore(feat-4146): add-required-title-update passed review
  artifacts/feat-4146/impl/add-required-title-update.r1.md
  artifacts/feat-4146/review/add-required-title-update.r1.md
  artifacts/feat-4146/state.json
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/UpdateJournalEntryRequest.cs
Due: backend, Backend (.NET)

#4117: Remove framework coupling from `RecurringJobConfiguration` domain entity (#4122)
  artifacts/feat-4117/arch-review.r1.md
  artifacts/feat-4117/brief.md
  artifacts/feat-4117/code-review.r1.md
  artifacts/feat-4117/design.r1.md
  artifacts/feat-4117/impl/entity-remove-dataannotations-and-swap-exception.r1.md
  artifacts/feat-4117/impl/tests-update-for-argumentexception.r1.md
  artifacts/feat-4117/review/entity-remove-dataannotations-and-swap-exception.r1.md
  artifacts/feat-4117/review/tests-update-for-argumentexception.r1.md
  artifacts/feat-4117/spec.r1.md
  artifacts/feat-4117/state.json
  artifacts/feat-4117/task-context/entity-remove-dataannotations-and-swap-exception.md
  artifacts/feat-4117/task-context/tests-update-for-argumentexception.md
  artifacts/feat-4117/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/RecurringJobConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobConfigurationTests.cs
Due: backend, Backend (.NET)

#4129: FeatureFlagsController identity resolution fix (ADR-005 compliance) (#4130)
  artifacts/feat-4129/arch-review.r1.md
  artifacts/feat-4129/brief.md
  artifacts/feat-4129/code-review.r1.md
  artifacts/feat-4129/design.r1.md
  artifacts/feat-4129/impl/controller-simplification.r1.md
  artifacts/feat-4129/impl/handler-identity-resolution.r1.md
  artifacts/feat-4129/review/controller-simplification.r1.md
  artifacts/feat-4129/review/handler-identity-resolution.r1.md
  artifacts/feat-4129/spec.r1.md
  artifacts/feat-4129/state.json
  artifacts/feat-4129/task-context/controller-simplification.md
  artifacts/feat-4129/task-context/handler-identity-resolution.md
  artifacts/feat-4129/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/FeatureFlagsController.cs
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/UseCases/UpsertFlagOverride/UpsertFlagOverrideHandler.cs
  backend/src/Anela.Heblo.Application/Features/FeatureFlags/UseCases/UpsertFlagOverride/UpsertFlagOverrideRequest.cs
  backend/test/Anela.Heblo.Tests/Features/FeatureFlags/UpsertFlagOverrideHandlerTests.cs
Due: backend, Backend (.NET)

#4132: Move `OutlookEventDto` (Microsoft Graph schema) from Marketing `Services/` to `Infrastructure/` (#4137)
  artifacts/feat-4132/arch-review.r1.md
  artifacts/feat-4132/brief.md
  artifacts/feat-4132/code-review.r1.md
  artifacts/feat-4132/design.r1.md
  artifacts/feat-4132/impl/relocate-outlookeventdto-and-update-production-usings.r1.md
  artifacts/feat-4132/impl/update-outlookeventdto-test-usings.r1.md
  artifacts/feat-4132/review/relocate-outlookeventdto-and-update-production-usings.r1.md
  artifacts/feat-4132/review/update-outlookeventdto-test-usings.r1.md
  artifacts/feat-4132/spec.r1.md
  artifacts/feat-4132/state.json
  artifacts/feat-4132/task-context/relocate-outlookeventdto-and-update-production-usings.md
  artifacts/feat-4132/task-context/update-outlookeventdto-test-usings.md
  artifacts/feat-4132/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/OutlookCalendarSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Microsoft365/OutlookInternalDtos.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Infrastructure/OutlookEventDto.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/IOutlookCalendarSync.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/MarketingCalendarSyncService.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/Services/NoOpOutlookCalendarSync.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/ImportFromOutlook/OutlookEventImportMapper.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/ImportFromOutlookHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCalendarSyncServiceTests.cs
Due: backend, Backend (.NET)

#4133: Convert Purchase Module Request DTOs from Record to Class (#4138)
  artifacts/feat-4133/arch-review.r1.md
  artifacts/feat-4133/brief.md
  artifacts/feat-4133/code-review.r1.md
  artifacts/feat-4133/design.r1.md
  artifacts/feat-4133/spec.r1.md
  artifacts/feat-4133/state.json
  artifacts/feat-4133/task-context/convert-get-purchase-order-requests.md
  artifacts/feat-4133/task-context/convert-update-purchase-order-status-request.md
  artifacts/feat-4133/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/PurchaseOrdersController.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseOrderById/GetPurchaseOrderByIdRequest.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseOrderHistory/GetPurchaseOrderHistoryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/UpdatePurchaseOrderStatus/UpdatePurchaseOrderStatusRequest.cs
  backend/test/Anela.Heblo.Tests/Controllers/PurchaseOrdersControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseOrderHistoryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/UpdatePurchaseOrderStatusHandlerTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
