Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

refactor: replace FlushBatchAsync local function with PickingListBatchProcessor
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
Due: backend, Backend (.NET)

test: cover PickingListBatchProcessor callback, enrichment, and PATCH semantics
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/PickingListBatchProcessorTests.cs
Due: none

test: assert batchIndex pass-through across two batches
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_CoolingMarkerTests.cs
Due: none

refactor: split CreatePickingList into BuildOrdersByMethod and BatchAndFlushAsync
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-expeditionlist-shoptetapiexp-dev-main
  docs/superpowers/plans/2026-06-09-extract-picking-list-batch-processor.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-shoptetapiexp/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlist-shoptetapiexp/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-marketingaction-do/brief.md
  artifacts/feat-arch-review-marketing-marketingaction-do/brief.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-marketingaction-do/spec.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-marketingaction-do/arch-review.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-marketingaction-do/task-plan.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/task-plan.r1.md
Due: none

refactor(marketing): AssociateWithProduct accepts utcNow parameter
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/CreateMarketingAction/CreateMarketingActionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/UpdateMarketingAction/UpdateMarketingActionHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionAssociateWithProductTests.cs
Due: backend, Backend (.NET)

refactor(marketing): LinkToFolder accepts utcNow parameter
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/CreateMarketingAction/CreateMarketingActionHandler.cs
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/UpdateMarketingAction/UpdateMarketingActionHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionLinkToFolderTests.cs
Due: backend, Backend (.NET)

refactor(marketing): SoftDelete accepts utcNow; propagate through repository
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/DeleteMarketingAction/DeleteMarketingActionHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/DeleteMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionSoftDeleteTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketing-marketingaction-do/impl/main.r1.md
  artifacts/feat-arch-review-marketing-marketingaction-do/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/brief.md
  artifacts/feat-arch-review-marketing-updatemarketingact/brief.md
Due: none

fix(tests): fix flaky CatalogCacheOptimization timing test
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
Due: none

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/spec.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/spec.r1.md
Due: none

fix(tests): fix flaky CatalogCacheOptimization timing test (#2813)
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
Due: none

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/arch-review.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/arch-review.r1.md
Due: none

fix(packaging): honest label-print failures + show package number, not box name
  frontend/src/components/baleni/PackingLabelPrinter.tsx
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/PackingShipmentDoneView.tsx
  frontend/src/components/baleni/__tests__/BaleniLayout.test.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrinter.test.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentDoneView.test.tsx
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
  frontend/src/components/baleni/zasilky/ZasilkyPage.tsx
  frontend/src/components/baleni/zasilky/__tests__/ZasilkyPage.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/task-plan.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/task-plan.r1.md
Due: none

docs(shoptet): label generation latency + order status reset findings
  docs/integrations/shoptet-api.md
Due: none

feat(marketing): add ReplaceProductAssociations to MarketingAction
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
Due: backend, Backend (.NET)

test(marketing): cover null input on ReplaceProductAssociations
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
Due: none

test(marketing): cover normalize+dedup on ReplaceProductAssociations
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
Due: none

test(marketing): assert ReplaceProductAssociations throws on invalid entries
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
Due: none

test(marketing): cover delta/utcNow/MarketingActionId on ReplaceProductAssociations
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceProductAssociationsTests.cs
Due: none

fix(i18n): add Czech translations for InvalidPackageCount and PackingCompletionFailed
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

feat(marketing): add ReplaceFolderLinks to MarketingAction
  backend/src/Anela.Heblo.Domain/Features/Marketing/MarketingAction.cs
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
Due: backend, Backend (.NET)

test(marketing): cover null input on ReplaceFolderLinks
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
Due: none

test(marketing): cover trim+composite-key dedup on ReplaceFolderLinks
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
Due: none

test(marketing): assert ReplaceFolderLinks throws on invalid folder keys
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
Due: none

test(marketing): cover delta/utcNow/MarketingActionId on ReplaceFolderLinks
  backend/test/Anela.Heblo.Tests/Domain/Marketing/MarketingActionReplaceFolderLinksTests.cs
Due: none

test(marketing): lock UpdateMarketingAction clear-on-null contract
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
  docs/superpowers/plans/2026-06-09-marketing-action-replace-collections.md
Due: none

test(marketing): lock UpdateMarketingAction delta-replace contract
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
Due: none

refactor(marketing): delegate collection replacement to MarketingAction domain methods
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/UpdateMarketingAction/UpdateMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketing-updatemarketingact/impl/main.r1.md
  artifacts/feat-arch-review-marketing-updatemarketingact/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-deletesoftasync-em/brief.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/brief.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-deletesoftasync-em/spec.r1.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-deletesoftasync-em/arch-review.r1.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/arch-review.r1.md
Due: none
