Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore: update package-lock.json (npm install de-duped history peer dep)
  frontend/package-lock.json
Due: none

refactor(photobank): decouple AddRoot endpoint from MediatR request via AddRootBody
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/AddRootBody.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerBodyMappingTests.cs
Due: backend, Backend (.NET)

refactor(photobank): decouple AddRule endpoint from MediatR request via AddRuleBody
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/AddRuleBody.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerBodyMappingTests.cs
Due: backend, Backend (.NET)

refactor(photobank): decouple RetagPhotos endpoint from MediatR request via RetagPhotosBody
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/RetagPhotosBody.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerBodyMappingTests.cs
Due: backend, Backend (.NET)

chore(photobank): regenerate OpenAPI client after Body DTO introduction
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

chore: update package-lock.json from npm install
  frontend/package-lock.json
Due: none

agent: upload artifacts/feat-arch-review-photobank-addrootrequest-add/impl/main.r1.md
  artifacts/feat-arch-review-photobank-addrootrequest-add/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-photobankautotagjo/brief.md
  artifacts/feat-arch-review-photobank-photobankautotagjo/brief.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-photobankautotagjo/spec.r1.md
  artifacts/feat-arch-review-photobank-photobankautotagjo/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-photobankautotagjo/arch-review.r1.md
  artifacts/feat-arch-review-photobank-photobankautotagjo/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-photobankautotagjo/task-plan.r1.md
  artifacts/feat-arch-review-photobank-photobankautotagjo/task-plan.r1.md
Due: none

refactor: add defaultIfMissing parameter to IRecurringJobStatusChecker
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/RecurringJobStatusChecker.cs
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/IRecurringJobStatusChecker.cs
  backend/test/Anela.Heblo.Tests/Adapters/GoogleAds/GoogleAdsInvoiceImportJobTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/MetaAds/MetaAdsInvoiceImportJobTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/Plaud/PlaudTokenRefreshJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/TriggerRecurringJobHandlerIntegrationTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/TriggerRecurringJobHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Bank/Infrastructure/Jobs/BankImportJobBaseTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/Jobs/ProductExportDownloadJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/StockWriteBackDqtJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/Infrastructure/LeafletIngestionJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/Packaging/FillTrackingNumbersJobTests.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankIndexJobTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseIngestionJobTests.cs
  docs/superpowers/plans/2026-06-16-photobank-autotag-runtime-status-check.md
Due: backend, Backend (.NET)

fix: error path in RecurringJobStatusChecker must always fail-open (return true)
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/RecurringJobStatusChecker.cs
Due: backend, Backend (.NET)

test: add RecurringJobStatusCheckerTests covering defaultIfMissing behavior
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobStatusCheckerTests.cs
Due: none

test: add happy-path test for isEnabled=true in RecurringJobStatusCheckerTests
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobStatusCheckerTests.cs
Due: none

refactor: gate PhotobankAutoTagJob via IRecurringJobStatusChecker
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankAutoTagJob.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankAutoTagJobTests.cs
Due: backend, Backend (.NET)

test: lock ExecuteForPhotosAsync as ungated by IRecurringJobStatusChecker
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankAutoTagJobTests.cs
Due: none

chore: drop Photobank:AutoTag:Enabled from appsettings.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

refactor: remove obsolete Enabled flag from AutoTagOptions
  backend/src/Anela.Heblo.Application/Features/Photobank/AutoTagOptions.cs
Due: backend, Backend (.NET)

docs: clarify why defaultIfMissing is passed to status checker in PhotobankAutoTagJob
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankAutoTagJob.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-photobank-photobankautotagjo/impl/main.r1.md
  artifacts/feat-arch-review-photobank-photobankautotagjo/impl/main.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-updatemanufacturedi/brief.md
  artifacts/feat-coverage-gap-catalog-updatemanufacturedi/brief.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-updatemanufacturedi/spec.r1.md
  artifacts/feat-coverage-gap-catalog-updatemanufacturedi/spec.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-updatemanufacturedi/arch-review.r1.md
  artifacts/feat-coverage-gap-catalog-updatemanufacturedi/arch-review.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-updatemanufacturedi/task-plan.r1.md
  artifacts/feat-coverage-gap-catalog-updatemanufacturedi/task-plan.r1.md
Due: none

test: add UpdateManufactureDifficultyHandlerTests covering all branches
  backend/test/Anela.Heblo.Tests/Features/Catalog/UpdateManufactureDifficultyHandlerTests.cs
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-updatemanufacturedi/impl/main.r1.md
  artifacts/feat-coverage-gap-catalog-updatemanufacturedi/impl/main.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-catalogmergeschedul/brief.md
  artifacts/feat-coverage-gap-catalog-catalogmergeschedul/brief.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-catalogmergeschedul/spec.r1.md
  artifacts/feat-coverage-gap-catalog-catalogmergeschedul/spec.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-catalogmergeschedul/arch-review.r1.md
  artifacts/feat-coverage-gap-catalog-catalogmergeschedul/arch-review.r1.md
Due: none

agent: upload artifacts/feat-coverage-gap-catalog-catalogmergeschedul/task-plan.r1.md
  artifacts/feat-coverage-gap-catalog-catalogmergeschedul/task-plan.r1.md
Due: none

test: add CatalogMergeSchedulerTests covering debounce, max-interval, semaphore-skip, disposed-guard, and WaitForCurrentMergeAsync branches
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeSchedulerTests.cs
Due: none

test: harden CatalogMergeSchedulerTests timing margins for CI stability
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogMergeSchedulerTests.cs
Due: none

chore: update package-lock.json from npm install during environment setup
  frontend/package-lock.json
Due: none

chore: update package-lock.json (environment npm install artefact)
  frontend/package-lock.json
Due: none

chore: update package-lock.json after npm install in environment setup
  frontend/package-lock.json
Due: none

chore: update package-lock.json from environment npm install
  frontend/package-lock.json
Due: none
