Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

agent: upload artifacts/feat-arch-review-marketing-actiontype-filter-/impl/main.r1.md
  artifacts/feat-arch-review-marketing-actiontype-filter-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-pushenabled-flag-r/brief.md
  artifacts/feat-arch-review-marketing-pushenabled-flag-r/brief.md
Due: none

feat(data-quality): render drift results table in DqtRunDetail
  frontend/src/api/hooks/useDataQuality.ts
  frontend/src/components/data-quality/DqtRunDetail.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-marketing-pushenabled-flag-r/spec.r1.md
  artifacts/feat-arch-review-marketing-pushenabled-flag-r/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-pushenabled-flag-r/arch-review.r1.md
  artifacts/feat-arch-review-marketing-pushenabled-flag-r/arch-review.r1.md
Due: none

feat(data-quality): add test-type selector to RunDqtButton
  frontend/src/components/data-quality/RunDqtButton.tsx
Due: frontend, Frontend (React)

chore(data-quality): fix whitespace formatting in ProductPairingDqtComparerTests
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtComparerTests.cs
Due: none

agent: planner output feat-arch-review-marketing-pushenabled-flag-r-planning-1
  docs/superpowers/plans/2026-05-18-marketing-pushenabled-hot-reload.md
Due: none

agent: upload artifacts/feat-arch-review-marketing-pushenabled-flag-r/task-plan.r1.md
  artifacts/feat-arch-review-marketing-pushenabled-flag-r/task-plan.r1.md
Due: none

feat(marketing): add mobile agenda view for marketing calendar (#1374)
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Infrastructure/DownloadResilienceServiceTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
  docs/superpowers/plans/2026-05-18-mobile-marketing-calendar.md
  frontend/src/components/manufacture/calendar/CalendarNavigation.tsx
  frontend/src/components/marketing/calendar/AgendaDayGroup.tsx
  frontend/src/components/marketing/calendar/AgendaEventCard.tsx
  frontend/src/components/marketing/calendar/MobileAgendaView.tsx
  frontend/src/components/marketing/calendar/__tests__/AgendaDayGroup.test.tsx
  frontend/src/components/marketing/calendar/__tests__/AgendaEventCard.test.tsx
  frontend/src/components/marketing/calendar/__tests__/MobileAgendaView.test.tsx
  frontend/src/components/marketing/calendar/__tests__/agendaGrouping.test.ts
  frontend/src/components/marketing/calendar/agendaGrouping.ts
  frontend/src/components/marketing/calendar/mobileAgenda.css
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
  frontend/test/e2e/marketing/mobile-agenda.spec.ts
Due: frontend, Frontend (React)

docs: add implementation plan for product cooling attribute
  docs/superpowers/plans/2026-05-18-product-cooling-attribute.md
Due: none

chore: add parser tests, fixtures and format plaud adapter
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudCliClient.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Anela.Heblo.Adapters.Plaud.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Fixtures/plaud_file_generated_sample.txt
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Fixtures/plaud_file_raw_sample.txt
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientParserTests.cs
  docs/superpowers/plans/2026-05-18-plaud-import-generated-only.md
Due: backend, Backend (.NET)

refactor: extract TestOptionsMonitor to shared test helper
  backend/test/Anela.Heblo.Tests/Features/Marketing/Services/MarketingCategoryMapperTests.cs
  backend/test/Anela.Heblo.Tests/Helpers/TestOptionsMonitor.cs
Due: none

feat(marketing): hot-reload PushEnabled in CreateMarketingActionHandler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/CreateMarketingAction/CreateMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/CreateMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
Due: backend, Backend (.NET)

feat(marketing): hot-reload PushEnabled in UpdateMarketingActionHandler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/UpdateMarketingAction/UpdateMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/UpdateMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

feat(marketing): hot-reload PushEnabled in DeleteMarketingActionHandler
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/DeleteMarketingAction/DeleteMarketingActionHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/DeleteMarketingActionHandlerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-marketing-pushenabled-flag-r/impl/main.r1.md
  artifacts/feat-arch-review-marketing-pushenabled-flag-r/impl/main.r1.md
Due: none

fix: invalidate meeting list after reimport
  frontend/src/api/hooks/useMeetingTasks.ts
Due: frontend, Frontend (React)

docs: add shoptet data drift validation plan
  docs/superpowers/plans/2026-05-18-shoptet-data-drift-validations.md
Due: none

feat(catalog): add read-only Cooling attribute to catalog products (#1387)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/AssemblyInfo.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/ProductAttributes/FlexiProductAttributesQueryClient.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/PropertiesDto.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Attributes/CatalogAttributes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cooling.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
  docs/superpowers/plans/2026-05-18-product-cooling-attribute.md
  frontend/src/api/generated/api-client.ts
  frontend/src/components/catalog/detail/tabs/BasicInfoTab/ProductPropertiesInfo.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(data-quality): Shoptet drift validation for product pairing and write-back (#1390)
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/DqtDriftResultDto.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/ProductPairingDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/StockWriteBackDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/DriftComparisonResult.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/DriftDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IDriftDqtComparer.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IDriftDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/ProductPairingDqtComparer.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/StockWriteBackDqtComparer.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailResponse.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/IStockTakingRepository.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtDriftResult.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtTestType.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/IDqtRunRepository.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/ProductPairingMismatch.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/StockWriteBackMismatch.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtDriftResultConfiguration.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunRepository.cs
  backend/src/Anela.Heblo.Persistence/Logistics/StockTaking/StockTakingRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260518093614_AddDqtDriftResults.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260518093614_AddDqtDriftResults.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/DriftDqtJobRunnerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtComparerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/StockWriteBackDqtComparerTests.cs
  docs/superpowers/plans/2026-05-18-shoptet-data-drift-validations.md
  frontend/src/api/hooks/useDataQuality.ts
  frontend/src/components/data-quality/DqtRunDetail.tsx
  frontend/src/components/data-quality/DqtRunsTable.tsx
  frontend/src/components/data-quality/RunDqtButton.tsx
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(meeting-tasks): filter Plaud ingest to generated-only recordings + Reimport button (#1388)
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudCliClient.cs
  backend/src/Anela.Heblo.API/Controllers/MeetingTasksController.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Infrastructure/Jobs/PlaudPollingJob.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/IPlaudClient.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/PlaudFileDetail.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/IngestPlaudRecording/IngestPlaudRecordingHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/IngestPlaudRecording/IngestPlaudRecordingResponse.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptRequest.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptResponse.cs
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Anela.Heblo.Adapters.Plaud.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Fixtures/plaud_file_generated_sample.txt
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/Fixtures/plaud_file_raw_sample.txt
  backend/test/Anela.Heblo.Adapters.Plaud.Tests/PlaudCliClientParserTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/IngestPlaudRecordingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ReimportMeetingTranscriptHandlerTests.cs
  docs/superpowers/plans/2026-05-18-plaud-import-generated-only.md
  frontend/src/api/hooks/useMeetingTasks.ts
  frontend/src/components/pages/automation/MeetingTaskDetailPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(carrier-cooling): add domain types — DeliveryHandling enum, CarrierCoolingSetting entity, repository and catalog interfaces
  backend/src/Anela.Heblo.Domain/Features/Logistics/CarrierCoolingSetting.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/DeliveryHandling.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/ICarrierCoolingRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/IShippingMethodCatalog.cs
Due: backend, Backend (.NET)

refactor(carrier-cooling): accept entity in UpsertAsync, make UpdateCooling internal
  backend/src/Anela.Heblo.Domain/Features/Logistics/CarrierCoolingSetting.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/ICarrierCoolingRepository.cs
Due: backend, Backend (.NET)

feat(carrier-cooling): extract ShippingMethodRegistry, add ShippingMethodCatalog, register IShippingMethodCatalog
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShippingMethodCatalog.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShippingMethodRegistry.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Unit/ShippingMethodCatalogTests.cs
Due: backend, Backend (.NET)

feat(carrier-cooling): add EF config, repository, DbSet, and migration for CarrierCoolingSettings
  backend/src/Anela.Heblo.Domain/Anela.Heblo.Domain.csproj
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/CarrierCooling/CarrierCoolingRepository.cs
  backend/src/Anela.Heblo.Persistence/CarrierCooling/CarrierCoolingSettingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260518114538_AddCarrierCoolingSettings.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260518114538_AddCarrierCoolingSettings.cs
Due: backend, Backend (.NET)

refactor(carrier-cooling): move persistence files to Logistics/CarrierCooling per sub-module convention
  backend/src/Anela.Heblo.Persistence/Logistics/CarrierCooling/CarrierCoolingRepository.cs
  backend/src/Anela.Heblo.Persistence/Logistics/CarrierCooling/CarrierCoolingSettingConfiguration.cs
Due: backend, Backend (.NET)

feat(carrier-cooling): add GetCarrierCoolingMatrix use case — handler left-joins catalog with stored settings
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/Contracts/CarrierCoolingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/Contracts/CarrierGroupDto.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixRequest.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixResponse.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/GetCarrierCoolingMatrixHandlerTests.cs
Due: backend, Backend (.NET)

fix(carrier-cooling): add BaseResponse inheritance and null guards to GetCarrierCoolingMatrix
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixResponse.cs
Due: backend, Backend (.NET)

feat(carrier-cooling): add SetCarrierCooling use case — handler, validator, tests
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingRequest.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingResponse.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingValidator.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingHandlerTests.cs
Due: backend, Backend (.NET)

feat(expedition): add Cooling field to ExpeditionOrderItem and IsCooled to ExpeditionOrder
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: backend, Backend (.NET)

fix(carrier-cooling): clean up SetCarrierCooling — bare response return, split validator tests, add enum-invalid test coverage
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingHandler.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingValidatorTests.cs
Due: backend, Backend (.NET)

feat(expedition): capture Cooling from catalog aggregate during batch enrichment
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: backend, Backend (.NET)

feat(carrier-cooling): register module, add CarrierCoolingController with integration tests
  backend/src/Anela.Heblo.API/Controllers/CarrierCoolingController.cs
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/CarrierCoolingModule.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingRequest.cs
  backend/test/Anela.Heblo.Tests/Controllers/CarrierCoolingControllerTests.cs
Due: backend, Backend (.NET)

refactor(expedition): extract ApplyEnrichment helper and add direct cooling assertion tests
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: backend, Backend (.NET)

fix(carrier-cooling): add IAsyncLifetime for test isolation in CarrierCoolingControllerTests
  backend/test/Anela.Heblo.Tests/Controllers/CarrierCoolingControllerTests.cs
Due: none

feat(carrier-cooling): add useCarrierCooling hook with optimistic update
  frontend/src/api/hooks/useCarrierCooling.ts
Due: frontend, Frontend (React)

feat(expedition): render frost badge on cooled orders in expedition PDF
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
Due: backend, Backend (.NET)

test(meeting-tasks): add failing tests for recording-name title priority in reimport
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ReimportMeetingTranscriptHandlerTests.cs
Due: none

fix(carrier-cooling): replace TypeScript enums with string literal unions in useCarrierCooling hook
  frontend/src/api/hooks/useCarrierCooling.ts
Due: frontend, Frontend (React)
