Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat(campaigns): add domain entities, persistence layer, and EF migration for #629
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Ad.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdAdSet.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdCampaign.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdDailyMetric.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdPlatform.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdSyncLog.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/ICampaignRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/IGoogleAdsClient.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/IMetaAdsClient.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdAdSetConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdCampaignConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdDailyMetricConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdSyncLogConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/CampaignRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421031552_AddCampaigns.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421031552_AddCampaigns.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/AdDailyMetricTests.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/AdSyncLogTests.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/CampaignRepositoryTests.cs
Due: backend, Backend (.NET)

perf: add missing DB indexes for KnowledgeBase queries (#668) (#692)
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseChunkConfiguration.cs
  backend/src/Anela.Heblo.Persistence/KnowledgeBase/KnowledgeBaseDocumentConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421120000_AddKnowledgeBaseChunkIndexes.cs
  backend/src/Anela.Heblo.Persistence/Migrations/ApplicationDbContextModelSnapshot.cs
Due: backend, Backend (.NET)

fix(persistence): add Npgsql KeepAlive and connection lifetime settings to prune stale pool connections (#687)
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

fix: distinguish FlexiBee timeout vs caller cancellation in Flexi adapters (#691)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureHistoryClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Stock/FlexiStockClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/FlexiManufactureHistoryClientTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Stock/FlexiStockClientTests.cs
Due: backend, Backend (.NET)

fix: add 5-minute request timeout to MCP SSE endpoint (#682) (#685)
  backend/src/Anela.Heblo.API/Extensions/ApplicationBuilderExtensions.cs
  backend/src/Anela.Heblo.API/MCP/Tools/CatalogMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/KnowledgeBaseTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureBatchMcpTools.cs
  backend/src/Anela.Heblo.API/MCP/Tools/ManufactureOrderMcpTools.cs
  backend/src/Anela.Heblo.API/Program.cs
Due: backend, Backend (.NET)

feat: import fix
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Model/ShoptetInvoiceDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Model/ShoptetInvoicePriceDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Model/ShoptetInvoiceUnitPriceDto.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/ShoptetApiInvoiceSource.cs
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IssuedInvoiceSyncDataDto.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/InvoiceImportService.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceClient.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoiceClientException.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceSyncDataConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421130459_AddAdapterResponseToIssuedInvoiceSyncData.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421130459_AddAdapterResponseToIssuedInvoiceSyncData.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/IssuedInvoiceParityIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPlaywrightInvoiceSourceIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/GetFinancialOverviewHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  frontend/src/components/customer/IssuedInvoiceDetailModal.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: d=faling parity tests
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/BillingMethodMapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/IssuedInvoiceParityIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetApiInvoiceSourceIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

feat/547-shoptet-invoices-epic (#694)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/BillingMethodMapper.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/IssuedInvoices/Mapping/ShoptetInvoiceMapper.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/IssuedInvoiceParityIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetApiInvoiceSourceIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/IssuedInvoices/ShoptetInvoiceMapperTests.cs
Due: backend, Backend (.NET)

feat(data-quality): add domain model — DqtRun, InvoiceDqtResult entities and enums
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtRun.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtRunStatus.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtTestType.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtTriggerType.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/IDqtRunRepository.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/InvoiceDqtResult.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/InvoiceMismatchType.cs
Due: backend, Backend (.NET)

fix(manufacture): add directSemiproductAmount to generated API client types
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

fix: make ShouldLogSkippedDisabledTasks test deterministic
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
Due: none

fix(db): set ConnectionIdleLifetime/PruningInterval to reclaim idle connections after burst (#592) @claude (#671)
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.Staging.json
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Persistence/PersistenceModuleTests.cs
Due: backend, Backend (.NET)

fix(mcp): block probes and log 400 diagnostics for GET /mcp (#593) @claude (#672)
  backend/src/Anela.Heblo.API/Extensions/ApplicationBuilderExtensions.cs
  backend/src/Anela.Heblo.API/MCP/McpBadRequestMiddleware.cs
  backend/test/Anela.Heblo.Tests/MCP/McpBadRequestMiddlewareTests.cs
Due: backend, Backend (.NET)

fix: return 405 for non-GET/HEAD requests to SPA paths (#681) (#686)
  backend/src/Anela.Heblo.API/Extensions/ApplicationBuilderExtensions.cs
  backend/test/Anela.Heblo.Tests/SpaFallbackTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
Due: backend, Backend (.NET)

feat(data-quality): add EF Core persistence — configs, repository, migration
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunConfiguration.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunRepository.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/InvoiceDqtResultConfiguration.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

feat(dqt): add invoice comparison service with unit tests (#698)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IInvoiceDqtComparer.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtComparer.cs
  backend/src/Anela.Heblo.Domain/Features/Invoices/IIssuedInvoiceClient.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtComparerTests.cs
Due: backend, Backend (.NET)

feat(dqt): application layer — DTOs, handlers, job runner, module (#699)
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/DqtRunDto.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/InvoiceDqtResultDto.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/InvoiceDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IInvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailRequest.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailResponse.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRuns/GetDqtRunsHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRuns/GetDqtRunsRequest.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRuns/GetDqtRunsResponse.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtRequest.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtJobRunnerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/RunDqtHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

test(dqt): add handler unit tests for GetDqtRuns and GetDqtRunDetail (#705) @claude
  backend/test/Anela.Heblo.Tests/Features/DataQuality/GetDqtRunDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/GetDqtRunsHandlerTests.cs
Due: none

feat(dqt): add DataQualityController with runs endpoints (#701)
  backend/src/Anela.Heblo.API/Controllers/DataQualityController.cs
Due: backend, Backend (.NET)

feat(campaigns): Meta Ads adapter + SyncMetaAds handler @claude
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/Anela.Heblo.Adapters.MetaAds.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaAdsSettings.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaApiModels.cs
  backend/src/Adapters/Anela.Heblo.Adapters.MetaAds/MetaTokenRefreshHandler.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/CampaignsModule.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/Infrastructure/Jobs/SyncMetaAdsJob.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncMetaAdsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncMetaAdsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/SyncMetaAdsHandlerTests.cs
Due: backend, Backend (.NET)

feat(dqt): add RunForDateRangeAsync to job runner, weekly Hangfire job (#700) @claude
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/InvoiceDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IInvoiceDqtJobRunner.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/InvoiceDqtJobRunner.cs
  backend/test/Anela.Heblo.Tests/Features/DataQuality/InvoiceDqtJobRunnerTests.cs
Due: backend, Backend (.NET)

feat(data-quality): add frontend API hooks and dashboard tile (#703)
  frontend/src/api/client.ts
  frontend/src/api/hooks/useDataQuality.ts
  frontend/src/components/dashboard/tiles/DataQualityTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: frontend, Frontend (React)

feat(dqt): add DataQualityStatusTile — dashboard tile backend (#702) @claude
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DashboardTiles/DataQualityStatusTile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/TileCategory.cs
Due: backend, Backend (.NET)

feat(dqt): add DataQualityPage + routing + nav (#704) @claude
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/data-quality/DqtRunDetail.tsx
  frontend/src/components/data-quality/DqtRunsTable.tsx
  frontend/src/components/data-quality/DqtSummaryCards.tsx
  frontend/src/components/data-quality/RunDqtButton.tsx
  frontend/src/pages/customer/DataQualityPage.tsx
Due: frontend, Frontend (React)

feat(campaigns): add SyncGoogleAdsHandler + request + tests
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncGoogleAdsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Campaigns/SyncGoogleAdsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/SyncGoogleAdsHandlerTests.cs
Due: backend, Backend (.NET)

test(campaigns): verify SaveChangesAsync called in catch path
  backend/test/Anela.Heblo.Tests/Features/Campaigns/SyncGoogleAdsHandlerTests.cs
Due: none

test(campaigns): add SaveChangesAsync verify and multi-campaign iteration test
  backend/test/Anela.Heblo.Tests/Features/Campaigns/SyncGoogleAdsHandlerTests.cs
Due: none

feat(campaigns): add SyncGoogleAdsJob recurring job (daily 5:15 AM)
  backend/src/Anela.Heblo.Application/Features/Campaigns/Infrastructure/Jobs/SyncGoogleAdsJob.cs
Due: backend, Backend (.NET)

feat(campaigns): add GoogleAdsClientWrapper implementing IGoogleAdsClient via GAQL
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsClientWrapper.cs
Due: backend, Backend (.NET)

fix(campaigns): add numeric ID guards and consistent debug logging in GoogleAdsClientWrapper
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsClientWrapper.cs
Due: backend, Backend (.NET)

feat(campaigns): register IGoogleAdsClient and SyncGoogleAdsJob in DI @claude
  backend/src/Adapters/Anela.Heblo.Adapters.GoogleAds/GoogleAdsAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

fix(expedition-list): show order notes and include gift items in PDF
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/Model/ExpeditionOrderDetailResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
Due: backend, Backend (.NET)

fix(test): stabilise ShouldLogSkippedDisabledTasks against CI timing
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
Due: none

fix(expedition-list): show order notes and include gift items in PDF (#718)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/Model/ExpeditionOrderDetailResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
Due: backend, Backend (.NET)

feat(campaigns): add domain entities, persistence layer, and EF migration for #629 (#693)
  backend/src/Anela.Heblo.Domain/Features/Campaigns/Ad.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdAdSet.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdCampaign.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdDailyMetric.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdPlatform.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/AdSyncLog.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/ICampaignRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/IGoogleAdsClient.cs
  backend/src/Anela.Heblo.Domain/Features/Campaigns/IMetaAdsClient.cs
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdAdSetConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdCampaignConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdDailyMetricConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/AdSyncLogConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Campaigns/CampaignRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421031552_AddCampaigns.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260421031552_AddCampaigns.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/AdDailyMetricTests.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/AdSyncLogTests.cs
  backend/test/Anela.Heblo.Tests/Features/Campaigns/CampaignRepositoryTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
