Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

chore(feat-3541): brief + checkpoint init
  artifacts/feat-3541/brief.md
  artifacts/feat-3541/state.json
Due: none

chore(feat-3541): analyzing phase artifact
  artifacts/feat-3541/spec.r1.md
  artifacts/feat-3541/state.json
Due: none

chore(feat-3541): architecting phase artifact (spec revised in-place by architect)
  artifacts/feat-3541/arch-review.r1.md
  artifacts/feat-3541/spec.r1.md
  artifacts/feat-3541/state.json
Due: none

chore(feat-3541): designing phase artifact
  artifacts/feat-3541/design.r1.md
  artifacts/feat-3541/state.json
Due: none

chore(feat-3541): planning phase artifact
  artifacts/feat-3541/state.json
  artifacts/feat-3541/task-plan.r1.md
Due: none

chore(feat-3541): task context
  artifacts/feat-3541/state.json
  artifacts/feat-3541/task-context/decouple-issued-invoices-shell-from-grid-loading.md
Due: none

fix: decouple Issued Invoices page shell from grid-data loading (#3541)
  frontend/src/api/hooks/useIssuedInvoices.ts
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: frontend, Frontend (React)

chore(feat-3541): impl+review for decouple-issued-invoices-shell-from-grid-loading r1
  artifacts/feat-3541/impl/decouple-issued-invoices-shell-from-grid-loading.r1.md
  artifacts/feat-3541/review/decouple-issued-invoices-shell-from-grid-loading.r1.md
  artifacts/feat-3541/state.json
Due: none

chore(feat-3541): finalize pipeline artifacts
  artifacts/feat-3541/state.json
Due: none

chore(feat-3541): code review r1
  artifacts/feat-3541/code-review.r1.md
  artifacts/feat-3541/state.json
Due: none

fix: give ExpeditionListArchive its own ITemporaryFileAccessor contract
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/Features/ExpeditionList/FileSystemTemporaryFileAccessor.cs
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/FileSystemAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/Contracts/ITemporaryFileAccessor.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3564): brief
  artifacts/feat-3564/brief.md
  artifacts/feat-3564/state.json
Due: none

chore(feat-3564): analyzing artifact
  artifacts/feat-3564/spec.r1.md
  artifacts/feat-3564/state.json
Due: none

chore(feat-3564): architecting artifact
  artifacts/feat-3564/arch-review.r1.md
  artifacts/feat-3564/state.json
Due: none

chore(feat-3564): designing artifact
  artifacts/feat-3564/design.r1.md
  artifacts/feat-3564/state.json
Due: none

chore(feat-3564): planning artifact
  artifacts/feat-3564/state.json
  artifacts/feat-3564/task-plan.r1.md
Due: none

chore(feat-3564): task context
  artifacts/feat-3564/state.json
  artifacts/feat-3564/task-context/add-sync-stats-sql-shape-test.md
  artifacts/feat-3564/task-context/collapse-sync-stats-query.md
Due: none

perf(invoices): collapse GetSyncStatsAsync into a single aggregate query
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
Due: backend, Backend (.NET)

chore(feat-3564): impl+review for collapse-sync-stats-query r1
  artifacts/feat-3564/impl/collapse-sync-stats-query.r1.md
  artifacts/feat-3564/review/collapse-sync-stats-query.r1.md
  artifacts/feat-3564/state.json
Due: none

Add Postgres SQL-shape test asserting GetSyncStatsAsync issues exactly one command
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryGetSyncStatsSqlShapeTests.cs
Due: none

chore(feat-3564): impl+review for add-sync-stats-sql-shape-test r1
  artifacts/feat-3564/impl/add-sync-stats-sql-shape-test.r1.md
  artifacts/feat-3564/review/add-sync-stats-sql-shape-test.r1.md
  artifacts/feat-3564/state.json
Due: none

chore(feat-3564): finalize pipeline artifacts
  artifacts/feat-3564/state.json
Due: none

chore(feat-3564): code review r1
  artifacts/feat-3564/code-review.r1.md
  artifacts/feat-3564/state.json
Due: none

chore(feat-3565): brief + checkpoint init
  artifacts/feat-3565/brief.md
  artifacts/feat-3565/state.json
Due: none

chore(feat-3565): analyzing artifact
  artifacts/feat-3565/spec.r1.md
  artifacts/feat-3565/state.json
Due: none

chore(feat-3565): architecting artifact
  artifacts/feat-3565/arch-review.r1.md
  artifacts/feat-3565/state.json
Due: none

chore(feat-3565): designing skipped (Skip Design: true)
  artifacts/feat-3565/design.r1.md
  artifacts/feat-3565/state.json
Due: none

chore(feat-3565): planning artifact
  artifacts/feat-3565/state.json
  artifacts/feat-3565/task-plan.r1.md
Due: none

chore(feat-3565): task context
  artifacts/feat-3565/state.json
  artifacts/feat-3565/task-context/dedupe-invoice-critical-error-predicate.md
Due: none

fix: drop GetPackageLabelPdf polling 404s from App Insights request telemetry
  backend/src/Anela.Heblo.API/Extensions/ApplicationInsightsExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Telemetry/LabelPollNotFoundTelemetryFilter.cs
  backend/test/Anela.Heblo.Tests/Infrastructure/Telemetry/LabelPollNotFoundTelemetryFilterTests.cs
Due: backend, Backend (.NET)

fix(invoices): deduplicate IsCriticalError predicate between entity and repository
  backend/src/Anela.Heblo.Domain/Features/Invoices/IssuedInvoice.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceTests.cs
Due: backend, Backend (.NET)

chore(feat-3565): impl artifact for dedupe-invoice-critical-error-predicate r1
  artifacts/feat-3565/impl/dedupe-invoice-critical-error-predicate.r1.md
  artifacts/feat-3565/state.json
Due: none

#3541: fix Issued Invoices page shell blocked by grid-data loading (#3569)
  artifacts/feat-3541/arch-review.r1.md
  artifacts/feat-3541/brief.md
  artifacts/feat-3541/code-review.r1.md
  artifacts/feat-3541/design.r1.md
  artifacts/feat-3541/impl/decouple-issued-invoices-shell-from-grid-loading.r1.md
  artifacts/feat-3541/review/decouple-issued-invoices-shell-from-grid-loading.r1.md
  artifacts/feat-3541/spec.r1.md
  artifacts/feat-3541/state.json
  artifacts/feat-3541/task-context/decouple-issued-invoices-shell-from-grid-loading.md
  artifacts/feat-3541/task-plan.r1.md
  frontend/src/api/hooks/useIssuedInvoices.ts
  frontend/src/pages/customer/IssuedInvoicesPage.tsx
Due: frontend, Frontend (React)

#3542: Fix Transport Box E2E failures (E2E permission gap + broken nav fallback) (#3552)
  artifacts/feat-3542/arch-review.r1.md
  artifacts/feat-3542/brief.md
  artifacts/feat-3542/code-review.r1.md
  artifacts/feat-3542/design.r1.md
  artifacts/feat-3542/impl/add-strict-assertions-lenient-transport-specs.r1.md
  artifacts/feat-3542/impl/fix-e2e-transport-box-receive-fallback-url.r1.md
  artifacts/feat-3542/impl/grant-e2e-warehouse-logistics-roles.r1.md
  artifacts/feat-3542/impl/harden-transport-box-list-error-state.r1.md
  artifacts/feat-3542/review/add-strict-assertions-lenient-transport-specs.r1.md
  artifacts/feat-3542/review/fix-e2e-transport-box-receive-fallback-url.r1.md
  artifacts/feat-3542/review/grant-e2e-warehouse-logistics-roles.r1.md
  artifacts/feat-3542/review/grant-e2e-warehouse-logistics-roles.r2.md
  artifacts/feat-3542/review/harden-transport-box-list-error-state.r1.md
  artifacts/feat-3542/spec.r1.md
  artifacts/feat-3542/state.json
  artifacts/feat-3542/task-context/add-strict-assertions-lenient-transport-specs.md
  artifacts/feat-3542/task-context/fix-e2e-transport-box-receive-fallback-url.md
  artifacts/feat-3542/task-context/grant-e2e-warehouse-logistics-roles.md
  artifacts/feat-3542/task-context/harden-transport-box-list-error-state.md
  artifacts/feat-3542/task-plan.r1.md
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/E2ESessionService.cs
  backend/test/Anela.Heblo.Tests/Authorization/E2ESessionServiceTests.cs
  frontend/src/components/pages/TransportBoxList.tsx
  frontend/src/components/pages/__tests__/TransportBoxList.test.tsx
  frontend/test/e2e/helpers/e2e-auth-helper.ts
  frontend/test/e2e/transport/box-items.spec.ts
  frontend/test/e2e/transport/box-workflow.spec.ts
  frontend/test/e2e/transport/ean-integration.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

#3474: Extract temp-file I/O out of ReprintExpeditionListHandler (#3563)
  artifacts/feat-3474/answers.r1.md
  artifacts/feat-3474/arch-review.r1.md
  artifacts/feat-3474/brief.md
  artifacts/feat-3474/code-review.r1.md
  artifacts/feat-3474/impl/extend-temporary-file-accessor.r1.md
  artifacts/feat-3474/impl/refactor-reprint-handler-and-tests.r1.md
  artifacts/feat-3474/review/extend-temporary-file-accessor.r1.md
  artifacts/feat-3474/review/refactor-reprint-handler-and-tests.r1.md
  artifacts/feat-3474/spec.r1.md
  artifacts/feat-3474/state.json
  artifacts/feat-3474/task-context/extend-temporary-file-accessor.md
  artifacts/feat-3474/task-context/refactor-reprint-handler-and-tests.md
  artifacts/feat-3474/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/Features/ExpeditionList/FileSystemTemporaryFileAccessor.cs
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/FileSystemAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/Contracts/ITemporaryFileAccessor.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/FileSystemTemporaryFileAccessorTests.cs
Due: backend, Backend (.NET)

#3564: collapse GetSyncStatsAsync into a single aggregate query (#3570)
  artifacts/feat-3564/arch-review.r1.md
  artifacts/feat-3564/brief.md
  artifacts/feat-3564/code-review.r1.md
  artifacts/feat-3564/design.r1.md
  artifacts/feat-3564/impl/add-sync-stats-sql-shape-test.r1.md
  artifacts/feat-3564/impl/collapse-sync-stats-query.r1.md
  artifacts/feat-3564/review/add-sync-stats-sql-shape-test.r1.md
  artifacts/feat-3564/review/collapse-sync-stats-query.r1.md
  artifacts/feat-3564/spec.r1.md
  artifacts/feat-3564/state.json
  artifacts/feat-3564/task-context/add-sync-stats-sql-shape-test.md
  artifacts/feat-3564/task-context/collapse-sync-stats-query.md
  artifacts/feat-3564/task-plan.r1.md
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryGetSyncStatsSqlShapeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
Due: backend, Backend (.NET)

chore(feat-3565): impl+review for dedupe-invoice-critical-error-predicate r1
  artifacts/feat-3565/review/dedupe-invoice-critical-error-predicate.r1.md
Due: none

chore(feat-3565): finalize pipeline artifacts
  artifacts/feat-3565/state.json
Due: none

chore(feat-3565): code review r1
  artifacts/feat-3565/code-review.r1.md
  artifacts/feat-3565/state.json
Due: none

chore(feat-3565): finalize checkpoint state
  artifacts/feat-3565/state.json
Due: none
