Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

Add DownloadFromUrlRequestValidator wired via ValidationResultBehavior
  backend/src/Anela.Heblo.Application/Features/FileStorage/FileStorageModule.cs
  backend/src/Anela.Heblo.Application/Features/FileStorage/Validators/DownloadFromUrlRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Pipeline/FileStorageValidationPipelineTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Validators/DownloadFromUrlRequestValidatorTests.cs
Due: backend, Backend (.NET)

chore(feat-3675): impl summary for add-container-name-validator-and-pipeline-wiring r1
  artifacts/feat-3675/impl/add-container-name-validator-and-pipeline-wiring.r1.md
  artifacts/feat-3675/state.json
Due: none

chore(feat-3675): impl+review for add-container-name-validator-and-pipeline-wiring r1
  artifacts/feat-3675/review/add-container-name-validator-and-pipeline-wiring.r1.md
Due: none

chore(feat-3675): checkpoint update
  artifacts/feat-3675/state.json
Due: none

Remove inline container-name validation from DownloadFromUrlHandler
  backend/src/Anela.Heblo.Application/Features/FileStorage/UseCases/DownloadFromUrl/DownloadFromUrlHandler.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/DownloadFromUrlHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3675): impl summary for remove-container-name-validation-from-handler r1
  artifacts/feat-3675/impl/remove-container-name-validation-from-handler.r1.md
Due: none

chore(feat-3675): impl+review for remove-container-name-validation-from-handler r1
  artifacts/feat-3675/review/remove-container-name-validation-from-handler.r1.md
Due: none

chore(feat-3675): finalize pipeline artifacts
  artifacts/feat-3675/state.json
Due: none

chore(feat-3675): code review r1
  artifacts/feat-3675/code-review.r1.md
  artifacts/feat-3675/state.json
Due: none

chore(feat-3675): task context for code-review-fixes r1
  artifacts/feat-3675/task-context/code-review-fixes.md
Due: none

Fix FileUrl/ContainerName validation precedence regression
  backend/src/Anela.Heblo.Application/Features/FileStorage/Validators/DownloadFromUrlRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Pipeline/FileStorageValidationPipelineTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Validators/DownloadFromUrlRequestValidatorTests.cs
Due: backend, Backend (.NET)

chore(feat-3675): impl summary for code-review-fixes r1
  artifacts/feat-3675/impl/code-review-fixes.r1.md
Due: none

chore(feat-3675): code review r2
  artifacts/feat-3675/code-review.r2.md
Due: none

chore(feat-3675): finalize pipeline artifacts (final)
  artifacts/feat-3675/state.json
Due: none

fix: grant E2E synthetic user super_user so /api/auth/me returns full permissions (#3680)
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/E2ESessionService.cs
  backend/test/Anela.Heblo.Tests/Authorization/E2ESessionServiceTests.cs
Due: backend, Backend (.NET)

feat: post GOODYDO0001 gift lines to account 325002 on Abra Flexi export
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileGiftAccountTests.cs
Due: backend, Backend (.NET)

docs: add implementation plan for nightly E2E auth fix (#3680)
  docs/superpowers/plans/2026-07-17-fix-nightly-e2e-unauthenticated.md
Due: none

refactor: collapse multi-line comment blocks to single lines per coding style
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/E2ESessionService.cs
  backend/test/Anela.Heblo.Tests/Authorization/E2ESessionServiceTests.cs
Due: backend, Backend (.NET)

docs: add gotcha for E2E nav gating on /api/auth/me permissions (issue #3680)
  memory/gotchas/e2e-nav-gates-on-auth-me-permissions.md
Due: none

feat: post GOODYDO0001 gift lines to account 325002 on Abra Flexi export (#3683)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Invoices/FlexiInvoiceMappingProfileGiftAccountTests.cs
Due: backend, Backend (.NET)

fix: grant E2E synthetic user super_user role to restore nightly E2E auth (#3680) (#3684)
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/E2ESessionService.cs
  backend/test/Anela.Heblo.Tests/Authorization/E2ESessionServiceTests.cs
  docs/superpowers/plans/2026-07-17-fix-nightly-e2e-unauthenticated.md
  memory/gotchas/e2e-nav-gates-on-auth-me-permissions.md
Due: backend, Backend (.NET)

fix: resolve failing tests after backmerge with main
  frontend/src/components/customer/tabs/__tests__/ImportTab.test.tsx
Due: frontend, Frontend (React)

fix: rename Hangfire-coupled interfaces to technology-agnostic names (#3685)
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireJobEnqueuer.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireRecurringJobScheduler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/ICronScheduler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IJobEnqueuer.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/TriggerRecurringJob/TriggerRecurringJobHandler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronHandler.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/TriggerRecurringJobHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/UpdateRecurringJobCronHandlerTests.cs
Due: backend, Backend (.NET)

chore(feat-3686): add brief
  artifacts/feat-3686/brief.md
Due: none

chore(feat-3686): analyzing artifact
  artifacts/feat-3686/spec.r1.md
  artifacts/feat-3686/state.json
Due: none

chore(feat-3686): architecting artifact
  artifacts/feat-3686/arch-review.r1.md
  artifacts/feat-3686/state.json
Due: none

chore(feat-3686): designing artifact
  artifacts/feat-3686/design.r1.md
  artifacts/feat-3686/state.json
Due: none

chore(feat-3686): planning artifact
  artifacts/feat-3686/state.json
  artifacts/feat-3686/task-plan.r1.md
Due: none

chore(feat-3686): task context
  artifacts/feat-3686/state.json
  artifacts/feat-3686/task-context/fix-recurring-job-seeder-upsert.md
Due: none

chore(feat-3686): impl+review for fix-recurring-job-seeder-upsert r1
  artifacts/feat-3686/impl/fix-recurring-job-seeder-upsert.r1.md
  artifacts/feat-3686/review/fix-recurring-job-seeder-upsert.r1.md
  artifacts/feat-3686/state.json
Due: none

chore(feat-3686): finalize pipeline artifacts
  artifacts/feat-3686/state.json
Due: none

Fix RecurringJobSeeder to upsert developer-owned metadata on existing job configs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/RecurringJobSeeder.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobSeederTests.cs
Due: backend, Backend (.NET)

chore(feat-3686): code-review phase in_progress
  artifacts/feat-3686/state.json
Due: none

chore(feat-3686): code review r1
  artifacts/feat-3686/code-review.r1.md
Due: none

chore(feat-3686): code-review phase completed
  artifacts/feat-3686/state.json
Due: none

chore(feat-3687): brief artifact
  artifacts/feat-3687/brief.md
Due: none

chore(feat-3687): checkpoint init
  artifacts/feat-3687/state.json
Due: none

chore(feat-3687): analyzing artifact
  artifacts/feat-3687/spec.r1.md
  artifacts/feat-3687/state.json
Due: none

chore(feat-3687): architecting artifact
  artifacts/feat-3687/arch-review.r1.md
  artifacts/feat-3687/state.json
Due: none

chore(feat-3687): designing artifact
  artifacts/feat-3687/design.r1.md
  artifacts/feat-3687/state.json
Due: none
