Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix: fe tests
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/DisableTile/DisableTileRequest.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/UseCases/EnableTile/EnableTileRequest.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/GetFinancialOverviewHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/FinancialOverview/StockValueServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetProductUsageHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/SafeMarginCalculatorTests.cs
  backend/test/Anela.Heblo.Tests/Features/FileStorage/SimpleFileStorageTest.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DashboardTiles/ManualActionRequiredTileTests.cs
  backend/test/Anela.Heblo.Tests/Infrastructure/UrlMappingModelBinderTests.cs
  docs/features/url_parameter_mapping.md
  frontend/src/components/dashboard/__tests__/DashboardTile.test.tsx
  frontend/src/components/dashboard/tiles/__tests__/ManualActionRequiredTile.test.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: be tests
  backend/test/Anela.Heblo.Tests/Infrastructure/UrlMappingModelBinderTests.cs
Due: none

fix: custom binder for complex types only
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinderProvider.cs
Due: backend, Backend (.NET)

fix: changed navigation
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/TransportBoxBaseTile.cs
  frontend/src/utils/drillDownNavigation.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: update
  docs/architecture/development_guidelines.md
  docs/features/dashboard_tiles_implementation_guide.md
Due: none

fix: ManufactureOrder sql query
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
Due: backend, Backend (.NET)

fix: PurchaseOrdersInTransitTile.cs correct number fix
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
Due: backend, Backend (.NET)

feat: Add asynchronous gift package manufacturing with job status tracking
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockUpScenario.cs
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageManufactureJobStatusDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufacture/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufacture/GetRunningJobsForGiftPackageHandlerTests.cs
  frontend/src/api/hooks/__tests__/useGiftPackageManufacturingJobStatus.test.ts
  frontend/src/api/hooks/useGiftPackageManufacturing.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingList.tsx
  frontend/src/components/pages/GiftPackageManufacturing/RunningJobIndicator.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/RunningJobIndicator.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: async gift package manufacture
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/PlaywrightSourceOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockUpScenario.cs
  backend/src/Anela.Heblo.API/Extensions/HangfireOptions.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageManufactureJobStatusDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/IGiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageHandler.cs
  backend/src/Anela.Heblo.Xcc/Services/BackgroundJobInfo.cs
  backend/src/Anela.Heblo.Xcc/Services/IBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetRunningJobsForGiftPackageHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufacture/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufacture/GetRunningJobsForGiftPackageHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useGiftPackageManufacturing.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingList.tsx
  frontend/src/components/pages/GiftPackageManufacturing/JobStatusTracker.tsx
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: fe tests
  frontend/src/components/dashboard/__tests__/DashboardTile.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/GiftPackageManufacturing/RunningJobIndicator.tsx
Due: frontend, Frontend (React)

fix: unnecessary hangfire
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
Due: backend, Backend (.NET)

feat: Add asynchronous gift package manufacturing with job status tracking (#218)
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/PlaywrightSourceOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockUpScenario.cs
  backend/src/Anela.Heblo.API/Controllers/LogisticsController.cs
  backend/src/Anela.Heblo.API/Extensions/HangfireOptions.cs
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Contracts/GiftPackageManufactureJobStatusDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/IGiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageResponse.cs
  backend/src/Anela.Heblo.Xcc/Services/BackgroundJobInfo.cs
  backend/src/Anela.Heblo.Xcc/Services/IBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetRunningJobsForGiftPackageHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useGiftPackageManufacturingJobStatus.test.ts
  frontend/src/api/hooks/useGiftPackageManufacturing.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingList.tsx
  frontend/src/components/pages/GiftPackageManufacturing/JobStatusTracker.tsx
  frontend/src/components/pages/GiftPackageManufacturing/RunningJobIndicator.tsx
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/RunningJobIndicator.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: add TransportBox receive interface for warehouse staff
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Anela.Heblo.API/Controllers/TransportBoxController.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinder.cs
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinderProvider.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/TransportBoxBaseTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxResponse.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Xcc/Services/IBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetRunningJobsForGiftPackageHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ReceiveTransportBoxHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/api/hooks/__tests__/useDashboard.test.tsx
  frontend/src/api/hooks/__tests__/useTransportBoxReceive.test.ts
  frontend/src/api/hooks/useTransportBoxReceive.ts
  frontend/src/components/pages/TransportBoxReceive.tsx
  frontend/src/components/pages/__tests__/TransportBoxReceive.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: correct toast context usage in TransportBoxReceive
  frontend/src/components/pages/TransportBoxReceive.tsx
Due: frontend, Frontend (React)

feat: add 'Příjem boxů' menu item to Sklad section
  frontend/src/components/Layout/Sidebar.tsx
Due: frontend, Frontend (React)

fix: add trim() to box code normalization in GetTransportBoxByCode handler
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
Due: backend, Backend (.NET)

feat: box receiving
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/TransportBoxItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Persistence/Logistics/TransportBoxes/TransportBoxRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useTransportBoxReceive.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/TransportBoxReceive.tsx
  frontend/src/features/changelog/components/ChangelogEntry.tsx
  frontend/src/features/changelog/hooks/useChangelogToaster.tsx
  frontend/test/e2e/transport-box-receive.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: tests
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
  frontend/src/api/hooks/__tests__/useTransportBoxReceive.test.ts
  frontend/src/api/hooks/__tests__/useTransportBoxReceive.test.tsx
  frontend/src/components/pages/__tests__/TransportBoxReceive.test.tsx
Due: frontend, Frontend (React)

feat: invalid box
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/TransportBoxDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/TransportBoxReceive.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement drill-down URLs for all dashboard tiles
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinder.cs
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinderProvider.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Bank/DashboardTiles/BankStatementImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventoryCountTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventorySummaryTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/CriticalGiftPackagesTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/TransportBoxBaseTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/Tiles/BackgroundTaskStatusTile.cs
  backend/src/Anela.Heblo.Xcc/Services/IBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetRunningJobsForGiftPackageHandlerTests.cs
Due: backend, Backend (.NET)

fix: localization
  frontend/src/components/pages/TransportBoxReceive.tsx
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

feat: add TransportBox receive interface for warehouse staff (#219)
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/Playwright/Scenarios/StockTakingScenario.cs
  backend/src/Anela.Heblo.API/Controllers/TransportBoxController.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/HangfireBackgroundWorker.cs
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinder.cs
  backend/src/Anela.Heblo.API/Infrastructure/UrlMappingModelBinderProvider.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/DashboardModule.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/TransportBoxDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/Contracts/TransportBoxItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/TransportBoxBaseTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeResponse.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetGiftPackageManufactureJobStatus/GetGiftPackageManufactureJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/UseCases/GetRunningJobsForGiftPackage/GetRunningJobsForGiftPackageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxRequest.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxResponse.cs
  backend/src/Anela.Heblo.Persistence/Logistics/TransportBoxes/TransportBoxRepository.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Xcc/Services/IBackgroundWorker.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetGiftPackageManufactureJobStatusHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GetRunningJobsForGiftPackageHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/ReceiveTransportBoxHandlerTests.cs
  frontend/src/App.tsx
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useDashboard.test.tsx
  frontend/src/api/hooks/__tests__/useTransportBoxReceive.test.tsx
  frontend/src/api/hooks/useTransportBoxReceive.ts
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/TransportBoxReceive.tsx
  frontend/src/components/pages/__tests__/TransportBoxReceive.test.tsx
  frontend/src/features/changelog/components/ChangelogEntry.tsx
  frontend/src/features/changelog/hooks/useChangelogToaster.tsx
  frontend/src/i18n.ts
  frontend/test/e2e/transport-box-receive.spec.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: correct drill-down URL mapping for different tile categories
  frontend/src/components/dashboard/tiles/CountTile.tsx
  frontend/src/components/dashboard/tiles/ManualActionRequiredTile.tsx
  frontend/src/components/dashboard/tiles/PurchaseOrdersInTransitTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/utils/drillDownNavigation.ts
Due: frontend, Frontend (React)

feat: url drilldowns
  backend/src/Anela.Heblo.API/Properties/launchSettings.json
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/CriticalGiftPackagesTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  frontend/src/components/dashboard/tiles/BackgroundTasksTile.tsx
  frontend/src/components/dashboard/tiles/CountTile.tsx
  frontend/src/components/dashboard/tiles/InventorySummaryTile.tsx
  frontend/src/components/dashboard/tiles/ManualActionRequiredTile.tsx
  frontend/src/components/dashboard/tiles/ProductionTile.tsx
  frontend/src/components/dashboard/tiles/PurchaseOrdersInTransitTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingList.tsx
  frontend/src/components/pages/PurchaseOrderList.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/utils/drillDownNavigation.ts
  frontend/src/utils/urlUtils.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: tiles drilldown url
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  frontend/src/components/dashboard/tiles/BackgroundTasksTile.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement drill-down URLs for all dashboard tiles (#217) (#220)
  backend/src/Anela.Heblo.API/Properties/launchSettings.json
  backend/src/Anela.Heblo.Application/Features/Analytics/DashboardTiles/InvoiceImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Bank/DashboardTiles/BankStatementImportStatisticsTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventoryCountTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/InventorySummaryTileBase.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/MaterialInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventoryCountTile.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/ProductInventorySummaryTile.cs
  backend/src/Anela.Heblo.Application/Features/Dashboard/Tiles/PurchaseOrdersInTransitTile.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/DashboardTiles/CriticalGiftPackagesTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/ManualActionRequiredTile.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/DashboardTiles/UpcomingProductionTile.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/DashboardTiles/LowStockEfficiencyTile.cs
  backend/src/Anela.Heblo.Xcc/Services/Dashboard/Tiles/BackgroundTaskStatusTile.cs
  frontend/src/components/dashboard/tiles/BackgroundTasksTile.tsx
  frontend/src/components/dashboard/tiles/CountTile.tsx
  frontend/src/components/dashboard/tiles/InventorySummaryTile.tsx
  frontend/src/components/dashboard/tiles/ManualActionRequiredTile.tsx
  frontend/src/components/dashboard/tiles/ProductionTile.tsx
  frontend/src/components/dashboard/tiles/PurchaseOrdersInTransitTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingList.tsx
  frontend/src/components/pages/PurchaseOrderList.tsx
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
  frontend/src/utils/drillDownNavigation.ts
  frontend/src/utils/urlUtils.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement core domain model for single-phase manufacturing
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/GetCalendarViewHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderDto.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ErpManufactureType.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderState.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureType.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientRequest.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251020081944_AddSinglePhaseManufacturing.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251020081944_AddSinglePhaseManufacturing.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErpManufactureTypeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureTypeTests.cs
Due: backend, Backend (.NET)

fix: update remaining usages of old date properties
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderSchedule/UpdateManufactureOrderScheduleHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderSchedule/UpdateManufactureOrderScheduleRequest.cs
Due: backend, Backend (.NET)

fix: failing tests
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErpManufactureTypeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderScheduleHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: none

fix: Receive box fix
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ReceiveTransportBox/ReceiveTransportBoxHandler.cs
Due: backend, Backend (.NET)

feat: domain and DB model update
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/manufacture/detail/BasicInfoSection.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/modals/CreateManufactureOrderModal.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: frontend, Frontend (React)

feat: out of stock tile @claude
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/LowStockAlertTileTests.cs
  frontend/src/components/dashboard/tiles/LowStockAlertTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: BE tests
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/LowStockAlertTileTests.cs
Due: none

feat: Drilldown link
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/LowStockProductData.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/LowStockAlertTileTests.cs
  frontend/src/components/dashboard/tiles/LowStockAlertTile.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: out of stock tile @claude (#230)
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Common/DataSourceOptions.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/LowStockProductData.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/DashboardTiles/LowStockAlertTile.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/DashboardTiles/LowStockAlertTileTests.cs
  frontend/src/components/dashboard/tiles/LowStockAlertTile.tsx
  frontend/src/components/dashboard/tiles/TileContent.tsx
  frontend/src/components/pages/InventoryList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Phase 1 - Core Domain Model for Single-Phase Manufacturing (#227)
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Manufacture/FlexiManufactureClient.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/Services/ManufactureOrderApplicationService.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/CreateManufactureOrder/CreateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/DuplicateManufactureOrder/DuplicateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetCalendarView/GetCalendarViewHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/GetManufactureOrders/GetManufactureOrdersResponse.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderDto.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrder/UpdateManufactureOrderRequest.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderSchedule/UpdateManufactureOrderScheduleHandler.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderSchedule/UpdateManufactureOrderScheduleRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ErpManufactureType.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureOrderState.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/ManufactureType.cs
  backend/src/Anela.Heblo.Domain/Features/Manufacture/SubmitManufactureClientRequest.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Manufacture/ManufactureOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251020081944_AddSinglePhaseManufacturing.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251020081944_AddSinglePhaseManufacturing.cs
  backend/test/Anela.Heblo.Tests/Controllers/ManufactureOrderControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/CreateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErpManufactureTypeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/GetManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ManufactureTypeTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/Services/ManufactureOrderApplicationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderScheduleHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useManufactureOrders.ts
  frontend/src/components/manufacture/detail/BasicInfoSection.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderDetail.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderList.tsx
  frontend/src/components/manufacture/pages/ManufactureOrderWeeklyCalendar.tsx
  frontend/src/components/modals/CreateManufactureOrderModal.tsx
  frontend/src/components/pages/ManufactureBatchPlanning.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: journal edit
  frontend/src/components/JournalEntryForm.tsx
Due: frontend, Frontend (React)

fix: journal author name
  backend/src/Anela.Heblo.Application/Features/Journal/Contracts/JournalEntryDto.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/CreateJournalEntry/CreateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/DeleteJournalEntry/DeleteJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntries/GetJournalEntriesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/GetJournalEntry/GetJournalEntryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/SearchJournalEntries/SearchJournalEntriesHandler.cs
  backend/src/Anela.Heblo.Application/Features/Journal/UseCases/UpdateJournalEntry/UpdateJournalEntryHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/IJournalRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Journal/JournalEntry.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Journal/JournalRepository.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251023073306_AddUsernameFieldsToJournal.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20251023073306_AddUsernameFieldsToJournal.cs
  backend/test/Anela.Heblo.Tests/Domain/Journal/SimpleJournalTests.cs
  backend/test/Anela.Heblo.Tests/Features/Journal/DeleteJournalEntryHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/Journal/JournalList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: Margins were discarded after a while
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
