Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

agent: developer output feat-arch-review-analytics-marginlevel-is-str-dev-main
  docs/superpowers/plans/2026-06-10-analytics-margin-level-enum.md
Due: none

agent: upload artifacts/feat-arch-review-analytics-marginlevel-is-str/impl/main.r1.md
  artifacts/feat-arch-review-analytics-marginlevel-is-str/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/brief.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/brief.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/task-plan.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/task-plan.r1.md
Due: none

refactor(persistence): PostgresExceptionTranslator becomes DI instance + logs SqlState/Operation at Warning
  backend/src/Anela.Heblo.Persistence/GridLayouts/GridLayoutRepository.cs
  backend/src/Anela.Heblo.Persistence/Infrastructure/PostgresExceptionTranslator.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/GridLayoutRepositoryTranslationTests.cs
  backend/test/Anela.Heblo.Tests/Persistence/GridLayouts/PostgresExceptionTranslatorTests.cs
Due: backend, Backend (.NET)

refactor(domain): drop SqlState from GridLayoutPersistenceException — log moves to Persistence translator
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/ResetGridLayout/ResetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/SaveGridLayout/SaveGridLayoutHandler.cs
  backend/src/Anela.Heblo.Domain/Features/GridLayouts/GridLayoutPersistenceException.cs
  backend/src/Anela.Heblo.Persistence/Infrastructure/PostgresExceptionTranslator.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/ResetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/SaveGridLayoutHandlerTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-gridlayouts-gridlayoutpersis-dev-main
  access-matrix.generated.json
  docs/superpowers/plans/2026-06-10-remove-sqlstate-from-domain-exception.md
Due: none

agent: upload artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-gridlayoutpersis/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-filesystempri/brief.md
  artifacts/feat-arch-review-expeditionlist-filesystempri/brief.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-filesystempri/spec.r1.md
  artifacts/feat-arch-review-expeditionlist-filesystempri/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-filesystempri/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlist-filesystempri/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-filesystempri/task-plan.r1.md
  artifacts/feat-arch-review-expeditionlist-filesystempri/task-plan.r1.md
Due: none

chore: scaffold Anela.Heblo.Adapters.FileSystem project
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/Anela.Heblo.Adapters.FileSystem.csproj
Due: backend, Backend (.NET)

chore: add Anela.Heblo.Adapters.FileSystem to solution
  Anela.Heblo.sln
  scripts/conductor-setup.sh
Due: none

chore: add Anela.Heblo.Adapters.FileSystem to solution
  Anela.Heblo.sln
Due: none

fix: place FileSystem adapter under correct Adapters solution folder
  Anela.Heblo.sln
Due: none

refactor: relocate FileSystemPrintQueueSink to Adapters.FileSystem
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/Features/ExpeditionList/FileSystemPrintQueueSink.cs
Due: backend, Backend (.NET)

feat(adapters): add AddFileSystemPrintQueueSink DI extension
  backend/src/Adapters/Anela.Heblo.Adapters.FileSystem/FileSystemAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

feat(api): register FileSystem sink via Adapters.FileSystem extension
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Extensions/ServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

test: point Anela.Heblo.Tests at Adapters.FileSystem namespace
  backend/test/Anela.Heblo.Tests/API/CombinedPrintQueueSinkRegistrationTests.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Features/ExpeditionList/FileSystemPrintQueueSinkTests.cs
Due: none

test(shoptet): reference Adapters.FileSystem for sink fixture
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Anela.Heblo.Adapters.Shoptet.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
Due: none

docs(arch): note I/O placement rule for IPrintQueueSink implementations
  docs/architecture/filesystem.md
Due: none

agent: developer output feat-arch-review-expeditionlist-filesystempri-dev-main
  docs/superpowers/plans/2026-06-10-relocate-filesystem-print-queue-sink-to-adapter.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-filesystempri/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlist-filesystempri/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-logistics-pri/brief.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/brief.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-logistics-pri/spec.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-logistics-pri/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-logistics-pri/task-plan.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/task-plan.r1.md
Due: none

refactor: remove unused OrderIds field from PrintPickingListResult
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListResult.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Infrastructure/LogisticsExpeditionPickingAdapterTests.cs
Due: backend, Backend (.NET)

agent: developer output feat-arch-review-expeditionlist-logistics-pri-dev-main
  docs/superpowers/plans/2026-06-10-remove-orderids-from-printpickinglistresult.md
Due: none

agent: upload artifacts/feat-arch-review-expeditionlist-logistics-pri/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/impl/main.r1.md
Due: none

fix(packaging): always return N packages in response regardless of labels ready
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ScanPackingOrderHandlerTests.cs
Due: backend, Backend (.NET)

refactor(packaging): make GetPackageLabelPdfHandler single-shot, remove internal retry loop
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackageLabelPdf/GetPackageLabelPdfHandler.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/GetPackageLabelPdfHandlerTests.cs
Due: backend, Backend (.NET)

feat(baleni): add printLabelWithReadiness with exponential backoff (1/2/3/5/10s, 30s timeout)
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
Due: frontend, Frontend (React)

feat(baleni): add PackingLabelPrintModal for N≥2 multi-label print sequence
  frontend/src/components/baleni/PackingLabelPrintModal.tsx
  frontend/src/components/baleni/__tests__/PackingLabelPrintModal.test.tsx
Due: frontend, Frontend (React)

feat(baleni): route multi-package shipments (pendingCompletion) to PackingLabelPrintModal
  frontend/src/components/baleni/PackingShipmentCreator.tsx
  frontend/src/components/baleni/__tests__/PackingShipmentCreator.test.tsx
Due: frontend, Frontend (React)

fix(baleni): suppress scan input refocusOnBlur while print modal is open
  frontend/src/components/baleni/BaleniPacking.tsx
  frontend/src/components/baleni/PackingShipmentCreator.tsx
Due: frontend, Frontend (React)

docs(shoptet-api): document PPL výdejní místo multi-package constraint (§11.9)
  docs/integrations/shoptet-api.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
