Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat(#444): add Hydrate Shoptet Test Environment Rider launch profile
  backend/src/Anela.Heblo.API/Properties/launchSettings.json
Due: backend, Backend (.NET)

feat(#444): gate hydration/purge tests behind SHOPTET_HYDRATE env var
  backend/src/Anela.Heblo.API/Properties/launchSettings.json
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
Due: backend, Backend (.NET)

feat: test hydration
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/CreateOrderRequest.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Staging.json
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPlaywrightVerifyStockUpScenarioIntegrationTests.cs
Due: backend, Backend (.NET)

feat: storage not hardcoded
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/DownloadExpeditionList/DownloadExpeditionListHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionDates/GetExpeditionDatesHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionListsByDate/GetExpeditionListsByDateHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/DownloadExpeditionListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionDatesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionListsByDateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
Due: backend, Backend (.NET)

feat: Shoptet test environment hydration (#444) (#446)
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Anela.Heblo.Adapters.ShoptetApi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/CreateOrderRequest.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/CreateOrderResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/OrderListResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/UpdateStatusRequest.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiSettings.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Properties/launchSettings.json
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.Staging.json
  backend/src/Anela.Heblo.API/appsettings.Test.json
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/ExpeditionListArchiveModule.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/DownloadExpeditionList/DownloadExpeditionListHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionDates/GetExpeditionDatesHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/GetExpeditionListsByDate/GetExpeditionListsByDateHandler.cs
  backend/src/Anela.Heblo.Application/Features/ExpeditionListArchive/UseCases/ReprintExpeditionList/ReprintExpeditionListHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Anela.Heblo.Adapters.Shoptet.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetPlaywrightVerifyStockUpScenarioIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/ShoptetTestEnvironmentHydrationTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/appsettings.json
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/DownloadExpeditionListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionDatesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/GetExpeditionListsByDateHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ExpeditionListArchive/ReprintExpeditionListHandlerTests.cs
  docs/integrations/shoptet-api.md
Due: backend, Backend (.NET)

chore(#405): add memory/ directory for cross-session knowledge accumulation
  CLAUDE.md
  memory/context/state.md
  memory/decisions/clean-architecture-vertical-slice.md
  memory/decisions/dto-classes-not-records.md
  memory/decisions/single-docker-image-deployment.md
  memory/gotchas/api-client-must-use-absolute-urls.md
  memory/gotchas/dto-records-break-openapi-generation.md
  memory/gotchas/e2e-auth-navigatetoapp-vs-createe2eauthsession.md
  memory/gotchas/secrets-json-not-user-secrets-set.md
  memory/patterns/e2e-test-structure.md
  memory/patterns/mcp-tool-pattern.md
  memory/patterns/new-feature-checklist.md
Due: none

docs: add design spec for DB-driven CRON configuration in recurring jobs
  docs/superpowers/specs/2026-03-29-recurring-job-cron-config-design.md
Due: none

feat: add UpdateCronExpression domain method and InvalidCronExpression error code
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/RecurringJobConfiguration.cs
Due: backend, Backend (.NET)

feat: add IHangfireRecurringJobScheduler for live CRON update without restart
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/HangfireRecurringJobScheduler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IHangfireRecurringJobScheduler.cs
Due: backend, Backend (.NET)

fix: add parameter guards and timezone exception handling to HangfireRecurringJobScheduler
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/HangfireRecurringJobScheduler.cs
Due: backend, Backend (.NET)

feat: implement UpdateRecurringJobCron use case with CRON validation
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronHandler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronRequest.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronResponse.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/UpdateRecurringJobCronHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: add exception handling to UpdateRecurringJobCronHandler, clean up dead mock setups in tests
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronHandler.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/UpdateRecurringJobCronHandlerTests.cs
Due: backend, Backend (.NET)

feat: add PUT /api/RecurringJobs/{jobName}/cron endpoint
  backend/src/Anela.Heblo.API/Controllers/RecurringJobsController.cs
Due: backend, Backend (.NET)

feat: RecurringJobDiscoveryService reads CRON from DB on startup (fallback to metadata)
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/RecurringJobDiscoveryService.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobDiscoveryServiceTests.cs
Due: backend, Backend (.NET)

chore: regenerate API client — add UpdateRecurringJobCron endpoint
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

chore(#405): add memory/ directory for cross-session knowledge accumulation (#450)
  CLAUDE.md
  memory/context/state.md
  memory/decisions/clean-architecture-vertical-slice.md
  memory/decisions/dto-classes-not-records.md
  memory/decisions/single-docker-image-deployment.md
  memory/gotchas/api-client-must-use-absolute-urls.md
  memory/gotchas/dto-records-break-openapi-generation.md
  memory/gotchas/e2e-auth-navigatetoapp-vs-createe2eauthsession.md
  memory/gotchas/secrets-json-not-user-secrets-set.md
  memory/patterns/e2e-test-structure.md
  memory/patterns/mcp-tool-pattern.md
  memory/patterns/new-feature-checklist.md
Due: none

feat: add useUpdateRecurringJobCronMutation hook
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
  frontend/src/api/hooks/useRecurringJobs.ts
Due: frontend, Frontend (React)

feat: add inline CRON editing to RecurringJobsPage
  frontend/src/pages/RecurringJobsPage.tsx
Due: frontend, Frontend (React)

style: fix frontend lint issues
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
Due: frontend, Frontend (React)

fix: singleton lifetime for scheduler, Required attribute, DB CRON path test
  backend/src/Anela.Heblo.API/Controllers/RecurringJobsController.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobDiscoveryServiceTests.cs
Due: backend, Backend (.NET)

docs: add design spec for recurring jobs next run column
  docs/superpowers/specs/2026-03-30-recurring-jobs-next-run-column-design.md
Due: none

docs: add implementation plan for recurring jobs next run column
  docs/superpowers/plans/2026-03-30-recurring-jobs-next-run-column.md
Due: none

feat: add NextRunAt to RecurringJobDto, compute via NCrontab in handler
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/RecurringJobDto.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListHandler.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/GetRecurringJobsListHandlerTests.cs
Due: backend, Backend (.NET)

fix: use DTO properties for NextRunAt loop, guard against invalid CRON
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListHandler.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/GetRecurringJobsListHandlerTests.cs
Due: backend, Backend (.NET)

test: add guard test for invalid CRON expression in GetRecurringJobsListHandler
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/GetRecurringJobsListHandlerTests.cs
Due: none

chore: regenerate API client with nextRunAt field
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

feat: add Next Run column to recurring jobs dashboard
  frontend/src/pages/RecurringJobsPage.tsx
Due: frontend, Frontend (React)

test: verify nextRunAt is passed through useRecurringJobsQuery
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
Due: frontend, Frontend (React)

fix: use Date object in nextRunAt test mock to match real API client type
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
Due: frontend, Frontend (React)

docs: add design spec for KB transcript preprocessing and keyword-summarized embeddings
  docs/superpowers/specs/2026-03-30-kb-transcript-preprocessing-design.md
Due: none

docs: add implementation plan for KB transcript preprocessing
  docs/superpowers/plans/2026-03-30-kb-transcript-preprocessing.md
Due: none

fix: ensure NextRunAt is DateTimeKind.Utc so it serializes with Z suffix
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListHandler.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/GetRecurringJobsListHandlerTests.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add ChatTranscriptPreprocessor for boilerplate stripping
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ChatTranscriptPreprocessor.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ChatTranscriptPreprocessorTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): remove redundant inline regex flag and use compiled static for blank-line collapsing
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ChatTranscriptPreprocessor.cs
Due: backend, Backend (.NET)

feat(knowledge-base): add ChunkSummarizer for keyword extraction before embedding
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ChunkSummarizer.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IChunkSummarizer.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ChunkSummarizerTests.cs
Due: backend, Backend (.NET)

fix(knowledge-base): skip LLM call for empty chunk text in ChunkSummarizer
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/ChunkSummarizer.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/ChunkSummarizerTests.cs
Due: backend, Backend (.NET)

feat(knowledge-base): wire preprocessor and summarizer into DocumentIndexingService
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/DocumentIndexingService.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
Due: backend, Backend (.NET)

test(knowledge-base): verify summarizer is called in DocumentIndexingService happy-path test
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Services/DocumentIndexingServiceTests.cs
Due: none

feat: DB-driven CRON config for recurring jobs + inline UI editing (#451) (#452)
  backend/src/Anela.Heblo.API/Controllers/RecurringJobsController.cs
  backend/src/Anela.Heblo.API/Infrastructure/Hangfire/RecurringJobDiscoveryService.cs
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/BackgroundJobsModule.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Contracts/RecurringJobDto.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/HangfireRecurringJobScheduler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/Services/IHangfireRecurringJobScheduler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/GetRecurringJobsList/GetRecurringJobsListHandler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronHandler.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronRequest.cs
  backend/src/Anela.Heblo.Application/Features/BackgroundJobs/UseCases/UpdateRecurringJobCron/UpdateRecurringJobCronResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/BackgroundJobs/RecurringJobConfiguration.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/GetRecurringJobsListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobDiscoveryServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/UpdateRecurringJobCronHandlerTests.cs
  docs/superpowers/plans/2026-03-30-kb-transcript-preprocessing.md
  docs/superpowers/plans/2026-03-30-recurring-jobs-next-run-column.md
  docs/superpowers/specs/2026-03-29-recurring-job-cron-config-design.md
  docs/superpowers/specs/2026-03-30-kb-transcript-preprocessing-design.md
  docs/superpowers/specs/2026-03-30-recurring-jobs-next-run-column-design.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/__tests__/useRecurringJobs.test.ts
  frontend/src/api/hooks/useRecurringJobs.ts
  frontend/src/i18n.ts
  frontend/src/pages/RecurringJobsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)
