Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: link MaterialContainer to PurchaseOrderLine
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/Contracts/MaterialContainerDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/InMemoryPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Inventory/MaterialContainer.cs
  backend/src/Anela.Heblo.Domain/Features/Purchase/IPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Catalog/Inventory/MaterialContainerConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260529060408_AddMaterialContainerPurchaseOrderLineId.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260529060408_AddMaterialContainerPurchaseOrderLineId.cs
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/CreateMaterialContainersHandlerTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: accept Mxxxxxxxx codes from caller and enforce format/uniqueness
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/CreateMaterialContainers/CreateMaterialContainersRequestValidator.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/CreateMaterialContainersHandlerTests.cs
Due: backend, Backend (.NET)

feat: soft-discard MaterialContainer via POST /{id}/discard
  backend/src/Anela.Heblo.API/Controllers/MaterialContainersController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/DiscardMaterialContainer/DiscardMaterialContainerHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/DiscardMaterialContainerHandlerTests.cs
Due: backend, Backend (.NET)

feat: add GET /api/material-containers/last-used-lot endpoint
  backend/src/Anela.Heblo.API/Controllers/MaterialContainersController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetLastUsedLotForMaterial/GetLastUsedLotForMaterialHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetLastUsedLotForMaterial/GetLastUsedLotForMaterialRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Inventory/UseCases/GetLastUsedLotForMaterial/GetLastUsedLotForMaterialResponse.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Inventory/GetLastUsedLotForMaterialHandlerTests.cs
Due: backend, Backend (.NET)

perf(logistics): batch catalog lookups in transport box and gift package handlers
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GetTransportBoxByCode/GetTransportBoxByCodeHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/GiftPackageManufacture/Services/GiftPackageManufactureService.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/GiftPackageManufactureServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Logistics/Transport/GetTransportBoxByCodeHandlerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-logistics-n-1-catalog-lookup/impl/main.r2.md
  artifacts/feat-arch-review-logistics-n-1-catalog-lookup/impl/main.r2.md
Due: none

agent: upload artifacts/feat-arch-review-logistics-n-1-catalog-lookup/impl/main.r1.md
  artifacts/feat-arch-review-logistics-n-1-catalog-lookup/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-bank-importtab-filter-inputs/brief.md
  artifacts/feat-arch-review-bank-importtab-filter-inputs/brief.md
Due: none

feat: add PurchaseOrderStatus.Received
  backend/src/Anela.Heblo.Domain/Features/Purchase/PurchaseOrder.cs
  backend/src/Anela.Heblo.Domain/Features/Purchase/PurchaseOrderStatus.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/UpdatePurchaseOrderStatusHandlerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-bank-importtab-filter-inputs/spec.r1.md
  artifacts/feat-arch-review-bank-importtab-filter-inputs/spec.r1.md
Due: none

chore: regenerate OpenAPI client for MaterialContainer rename
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

agent: product output feat-arch-review-bank-importtab-filter-inputs-questioning-r1
  answers.md
Due: none

agent: upload artifacts/feat-arch-review-bank-importtab-filter-inputs/answers.r1.md
  artifacts/feat-arch-review-bank-importtab-filter-inputs/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-bank-importtab-filter-inputs/spec.r2.md
  artifacts/feat-arch-review-bank-importtab-filter-inputs/spec.r2.md
Due: none

feat(fe): add material container hooks (create, get-by-code, last-used-lot)
  frontend/src/api/client.ts
  frontend/src/api/hooks/__tests__/useMaterialContainers.test.ts
  frontend/src/api/hooks/useMaterialContainers.ts
Due: frontend, Frontend (React)

feat(fe): support PurchaseOrderStatus 'Received' in status update hook
  frontend/src/api/hooks/__tests__/usePurchaseOrders.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-bank-importtab-filter-inputs/arch-review.r1.md
  artifacts/feat-arch-review-bank-importtab-filter-inputs/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-article-usesubmitarticlefeed/spec.r1.md
  artifacts/feat-arch-review-article-usesubmitarticlefeed/spec.r1.md
Due: none

feat(fe): add LotIdentificationHome mode-pick screen
  frontend/src/components/terminal/lot-identification/LotIdentificationHome.tsx
  frontend/src/components/terminal/lot-identification/__tests__/LotIdentificationHome.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-article-usesubmitarticlefeed/arch-review.r1.md
  artifacts/feat-arch-review-article-usesubmitarticlefeed/arch-review.r1.md
Due: none

feat(fe): add PoPickStep and PoLinePickStep for PO receive flow
  frontend/src/components/terminal/lot-identification/PoLinePickStep.tsx
  frontend/src/components/terminal/lot-identification/PoPickStep.tsx
  frontend/src/components/terminal/lot-identification/__tests__/PoLinePickStep.test.tsx
  frontend/src/components/terminal/lot-identification/__tests__/PoPickStep.test.tsx
Due: frontend, Frontend (React)

feat(fe): add FreeformMaterialStep and LotEntryStep with last-used-lot pre-fill
  frontend/src/components/terminal/ScanInput.tsx
  frontend/src/components/terminal/lot-identification/FreeformMaterialStep.tsx
  frontend/src/components/terminal/lot-identification/LotEntryStep.tsx
  frontend/src/components/terminal/lot-identification/__tests__/FreeformMaterialStep.test.tsx
  frontend/src/components/terminal/lot-identification/__tests__/LotEntryStep.test.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-article-usesubmitarticlefeed/task-plan.r1.md
  artifacts/feat-arch-review-article-usesubmitarticlefeed/task-plan.r1.md
Due: none

feat(fe): add ContainerScanLoop with sticky material+lot context
  frontend/src/components/terminal/lot-identification/ContainerScanLoop.tsx
  frontend/src/components/terminal/lot-identification/__tests__/ContainerScanLoop.test.tsx
Due: frontend, Frontend (React)

feat(fe): add FinishPoStep prompting to mark PO as Received
  frontend/src/components/terminal/lot-identification/FinishPoStep.tsx
  frontend/src/components/terminal/lot-identification/__tests__/FinishPoStep.test.tsx
Due: frontend, Frontend (React)

feat(fe): wire /terminal/lot-identification routes and activate Terminal tile
  frontend/src/App.tsx
  frontend/src/components/terminal/TerminalHome.tsx
  frontend/src/components/terminal/__tests__/TerminalHome.test.tsx
Due: frontend, Frontend (React)

docs: add flexi analytics sync implementation plan
  docs/superpowers/plans/2026-05-20-flexi-analytics-sync.md
Due: none

feat: Refactor PhotobankIndexJob to use IPhotobankRepository
  backend/src/Anela.Heblo.Application/Features/Photobank/Infrastructure/Jobs/PhotobankIndexJob.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankIndexJobTests.cs
Due: backend, Backend (.NET)

test(e2e): add Playwright spec for Terminal Identifikace šarže workflow
  frontend/test/e2e/fixtures/test-data.ts
  frontend/test/e2e/terminal/lot-identification.spec.ts
Due: none

feat: add CoolingText to CarrierCoolingSetting entity
  backend/src/Anela.Heblo.Domain/Features/Logistics/CarrierCoolingSetting.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/CarrierCoolingSettingTests.cs
Due: backend, Backend (.NET)

feat: persist CoolingText for carrier cooling settings
  backend/src/Anela.Heblo.Persistence/Logistics/CarrierCooling/CarrierCoolingRepository.cs
  backend/src/Anela.Heblo.Persistence/Logistics/CarrierCooling/CarrierCoolingSettingConfiguration.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260601075638_AddCoolingTextToCarrierCoolingSettings.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260601075638_AddCoolingTextToCarrierCoolingSettings.cs
Due: backend, Backend (.NET)

feat: carry CoolingText through carrier cooling GET and PUT
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/Contracts/CarrierCoolingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingRequest.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingValidator.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/GetCarrierCoolingMatrixHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingValidatorTests.cs
Due: backend, Backend (.NET)

feat: resolve custom cooling text per carrier on expedition orders
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Expedition/ShoptetApiExpeditionListSource_CoolingMarkerTests.cs
Due: backend, Backend (.NET)

feat: render custom cooling badge text with default fallback in expedition PDF
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolDocument.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
Due: backend, Backend (.NET)

feat: add coolingText to carrier cooling hook types and optimistic update
  frontend/src/api/hooks/useCarrierCooling.ts
Due: frontend, Frontend (React)

test: raise parallel timing threshold to 2500ms to tolerate loaded CI runners
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FlexiManufactureTemplateServiceTests.cs
Due: none

feat: add custom cooling text column to carrier cooling matrix
  frontend/src/components/customer/cooling/CarrierCoolingMatrix.tsx
  frontend/src/components/customer/cooling/__tests__/CarrierCoolingMatrix.test.tsx
Due: frontend, Frontend (React)

fix: stale closure in cooling text commit, add edge case and clear tests
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Logistics/CarrierCoolingSettingTests.cs
  frontend/src/components/customer/cooling/CarrierCoolingMatrix.tsx
Due: frontend, Frontend (React)

feat(flexi-analytics): nightly Hangfire sync of Flexi accounting data into analytics DB (#2168)
  Anela.Heblo.sln
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/AccountingTemplateSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/ContactSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/DepartmentSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncJob.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncOptions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/FlexiAnalyticsSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/IEntitySyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/IFlexiAnalyticsSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/ISyncWatermarkRepository.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/LedgerSyncService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/SyncResult.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Analytics/SyncWatermarkRepository.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Anela.Heblo.Adapters.Flexi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/FlexiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/appsettings.Staging.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsDbContext.cs
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsDbContextFactory.cs
  backend/src/Anela.Heblo.Persistence.Analytics/AnalyticsPersistenceModule.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Anela.Heblo.Persistence.Analytics.csproj
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/AccountingTemplate.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/Contact.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/Department.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/LedgerEntry.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Entities/SyncState.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Migrations/20260526122936_InitialAnalyticsSchema.Designer.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Migrations/20260526122936_InitialAnalyticsSchema.cs
  backend/src/Anela.Heblo.Persistence.Analytics/Migrations/AnalyticsDbContextModelSnapshot.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/AccountingTemplateSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/ContactSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/DepartmentSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/FlexiAnalyticsSyncJobTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/FlexiAnalyticsSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/LedgerSyncIntegrationTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/LedgerSyncServiceTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Analytics/SyncWatermarkRepositoryTests.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Anela.Heblo.Adapters.Flexi.Tests.csproj
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/Manufacture/Internal/FlexiManufactureTemplateServiceTests.cs
  docs/superpowers/plans/2026-05-20-flexi-analytics-sync.md
Due: backend, Backend (.NET)
