Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat(packing): print label PDF directly from carrier CDN URL
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
Due: frontend, Frontend (React)

docs(packaging): add direct-CDN label print implementation plan
  docs/superpowers/plans/2026-05-21-direct-cdn-label-print.md
Due: none

fix(packaging): cancel Shoptet shipments via POST cancel-request (no DELETE endpoint)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Shipments/ShoptetShipmentClient.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ResetOrderShipment/ResetOrderShipmentHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/IShipmentClient.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/ResetOrderShipmentHandlerTests.cs
  docs/features/packaging.md
  docs/integrations/shoptet-api.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useResetOrderShipment.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: fix Smartsupp conversation ordering and agent name display
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Smartsupp/SmartsuppAgentCache.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/SmartsuppModule.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GetConversation/GetConversationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GetConversation/GetConversationResponse.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/SendMessage/SendMessageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/SendMessage/SmartsuppSendMessageOptions.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/GetConversationHandlerTests.cs
  docs/integrations/smartsupp-api.md
  frontend/src/api/hooks/useSmartsupp.ts
  frontend/src/components/customer-support/smartsupp/AgentBadge.tsx
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/ConversationList.tsx
  frontend/src/components/customer-support/smartsupp/MessageBubble.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/AgentBadge.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: correct Smartsupp agents API response shape and options binding
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  docs/integrations/smartsupp-api.md
Due: backend, Backend (.NET)

feat(packaging): proxy carrier label PDF through backend for silent print
  backend/src/Anela.Heblo.API/Controllers/PackagingController.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackageLabelPdf/GetPackageLabelPdfHandler.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackageLabelPdf/GetPackageLabelPdfRequest.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/GetPackageLabelPdf/GetPackageLabelPdfResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShipmentLabels/ShipmentLabelsModule.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Application/Packaging/GetPackageLabelPdfHandlerTests.cs
  frontend/src/components/baleni/__tests__/printLabelPdf.test.ts
  frontend/src/components/baleni/printLabelPdf.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs(plans): add implementation plans for failed-stockup accept and CI workflow enhancements
  docs/plans/2026-01-29-accept-failed-stockup-operations.md
  docs/plans/2026-01-29-ci-workflow-enhancements.md
Due: none

feat: add Cmd/Ctrl+Enter send shortcut and restructure AgentMap config
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/SendMessage/SmartsuppSendMessageOptions.cs
  frontend/src/components/customer-support/smartsupp/ChatComposer.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: update test stubs to match renamed/added repository methods
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/ConsumptionCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/PackingMaterialLogPersistenceTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/PackingMaterialsListQueryCountTests.cs
Due: none

fix(i18n): add Czech translations for packaging error codes 3002-3005
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

feat: fix Smartsupp conversation ordering and agent name display (#1518)
  backend/src/Adapters/Anela.Heblo.Adapters.Smartsupp/SmartsuppApiClient.cs
  backend/src/Anela.Heblo.API/appsettings.Production.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Smartsupp/SmartsuppAgentCache.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/SmartsuppModule.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GetConversation/GetConversationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/GetConversation/GetConversationResponse.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/SendMessage/SendMessageHandler.cs
  backend/src/Anela.Heblo.Application/Features/Smartsupp/UseCases/SendMessage/SmartsuppSendMessageOptions.cs
  backend/src/Anela.Heblo.Domain/Features/Smartsupp/ISmartsuppApiClient.cs
  backend/src/Anela.Heblo.Persistence/Smartsupp/SmartsuppRepository.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/ConsumptionCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/PackingMaterialLogPersistenceTests.cs
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/PackingMaterialsListQueryCountTests.cs
  backend/test/Anela.Heblo.Tests/Features/Smartsupp/GetConversationHandlerTests.cs
  docs/integrations/smartsupp-api.md
  frontend/src/api/hooks/useSmartsupp.ts
  frontend/src/components/customer-support/smartsupp/AgentBadge.tsx
  frontend/src/components/customer-support/smartsupp/ChatComposer.tsx
  frontend/src/components/customer-support/smartsupp/ConversationDetail.tsx
  frontend/src/components/customer-support/smartsupp/ConversationList.tsx
  frontend/src/components/customer-support/smartsupp/MessageBubble.tsx
  frontend/src/components/customer-support/smartsupp/__tests__/AgentBadge.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-photobank-request-body-dtos-/brief.md
  artifacts/feat-arch-review-photobank-request-body-dtos-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-request-body-dtos-/spec.r1.md
  artifacts/feat-arch-review-photobank-request-body-dtos-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-request-body-dtos-/arch-review.r1.md
  artifacts/feat-arch-review-photobank-request-body-dtos-/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-photobank-request-body-dtos--planning-1
  docs/superpowers/plans/2026-05-22-photobank-request-body-dtos.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-request-body-dtos-/task-plan.r1.md
  artifacts/feat-arch-review-photobank-request-body-dtos-/task-plan.r1.md
Due: none

refactor: add Photobank request-body DTOs to Application Contracts
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/AddPhotoTagBody.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/BulkAddPhotoTagBody.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/BulkAddPhotoTagByIdsBody.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/Contracts/CreateTagBody.cs
Due: backend, Backend (.NET)

refactor: move Photobank request-body DTOs out of controller
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-photobank-request-body-dtos-/impl.r1.md
  artifacts/feat-arch-review-photobank-request-body-dtos-/impl.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-request-body-dtos-/impl/main.r1.md
  artifacts/feat-arch-review-photobank-request-body-dtos-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-thumbnail-endpoint/brief.md
  artifacts/feat-arch-review-photobank-thumbnail-endpoint/brief.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-thumbnail-endpoint/spec.r1.md
  artifacts/feat-arch-review-photobank-thumbnail-endpoint/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-thumbnail-endpoint/arch-review.r1.md
  artifacts/feat-arch-review-photobank-thumbnail-endpoint/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-photobank-thumbnail-endpoint-planning-1
  docs/superpowers/plans/2026-05-22-photobank-thumbnail-usecase.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-thumbnail-endpoint/task-plan.r1.md
  artifacts/feat-arch-review-photobank-thumbnail-endpoint/task-plan.r1.md
Due: none

feat: add Photobank thumbnail error codes
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat: add GetThumbnail request and response contracts
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetThumbnail/GetThumbnailRequest.cs
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetThumbnail/GetThumbnailResponse.cs
Due: backend, Backend (.NET)

feat: add GetThumbnail handler with HTTP-free unit tests
  backend/src/Anela.Heblo.Application/Features/Photobank/UseCases/GetThumbnail/GetThumbnailHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/GetThumbnailHandlerTests.cs
Due: backend, Backend (.NET)

refactor: reduce PhotobankController.GetThumbnail to thin MediatR dispatch
  backend/src/Anela.Heblo.API/Controllers/PhotobankController.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankControllerThumbnailTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-photobank-thumbnail-endpoint/impl/main.r1.md
  artifacts/feat-arch-review-photobank-thumbnail-endpoint/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-reapplyrulesasync-/brief.md
  artifacts/feat-arch-review-photobank-reapplyrulesasync-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-reapplyrulesasync-/spec.r1.md
  artifacts/feat-arch-review-photobank-reapplyrulesasync-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-reapplyrulesasync-/arch-review.r1.md
  artifacts/feat-arch-review-photobank-reapplyrulesasync-/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-photobank-reapplyrulesasync--planning-1
  docs/superpowers/plans/2026-05-22-photobank-reapply-rules-handler-refactor.md
Due: none

agent: upload artifacts/feat-arch-review-photobank-reapplyrulesasync-/task-plan.r1.md
  artifacts/feat-arch-review-photobank-reapplyrulesasync-/task-plan.r1.md
Due: none

feat: add GetAllPhotosAsync repository primitive for Photobank reapply
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
Due: backend, Backend (.NET)

feat: add RemoveRuleTagsAsync repository primitive (tracked RemoveRange, no save)
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
Due: backend, Backend (.NET)

feat: add GetOccupiedTagPairsAsync repository primitive for Manual/AI precedence
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
Due: backend, Backend (.NET)

feat: add AddPhotoTagsAsync batch repository primitive (no save)
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
Due: backend, Backend (.NET)

feat: add GetOrCreateTagsAsync batch repository primitive (name->Id map)
  backend/src/Anela.Heblo.Application/Features/Photobank/PhotobankRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Photobank/IPhotobankRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Photobank/PhotobankRepositoryReapplyPrimitivesTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
