Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

fix(marketing): address code review findings on mobile agenda
  frontend/src/components/marketing/calendar/MobileAgendaView.tsx
  frontend/src/components/marketing/calendar/agendaGrouping.ts
Due: frontend, Frontend (React)

test: cover MarketingCalendar GetMarketingActions ActionType query binding
  backend/test/Anela.Heblo.Tests/Controllers/MarketingCalendarControllerTests.cs
Due: none

chore: regenerate TS client with ActionType query parameter
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

feat: add canonical MarketingActionType label/badge/options module
  frontend/src/components/marketing/list/marketingActionTypeLabels.ts
Due: frontend, Frontend (React)

feat: forward actionType param through useMarketingActions
  frontend/src/api/hooks/useMarketingCalendar.ts
Due: frontend, Frontend (React)

test(file-storage): fix flaky timeout test by using Timeout.InfiniteTimeSpan
  backend/test/Anela.Heblo.Tests/Features/FileStorage/Infrastructure/DownloadResilienceServiceTests.cs
Due: none

test: add failing MarketingActionFilters Typ akce dropdown spec
  frontend/src/components/marketing/list/__tests__/MarketingActionFilters.test.tsx
Due: frontend, Frontend (React)

feat: add Typ akce dropdown to MarketingActionFilters
  frontend/src/components/marketing/list/MarketingActionFilters.tsx
Due: frontend, Frontend (React)

test(background-refresh): fix flaky ShouldLogSkippedDisabledTasks test
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
Due: none

feat: add Cooling domain enum (None/L1/L2)
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cooling.cs
Due: backend, Backend (.NET)

feat(data-quality): add ProductPairing and StockWriteBackReconciliation test types
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtTestType.cs
Due: backend, Backend (.NET)

feat: add Cooling property to CatalogAttributes
  backend/src/Anela.Heblo.Domain/Features/Catalog/Attributes/CatalogAttributes.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
Due: backend, Backend (.NET)

feat(data-quality): add DqtDriftResult entity and mismatch enums
  backend/src/Anela.Heblo.Domain/Features/DataQuality/DqtDriftResult.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/ProductPairingMismatch.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/StockWriteBackMismatch.cs
Due: backend, Backend (.NET)

feat: pass actionType filter to useMarketingActions on MarketingCalendarPage
  frontend/src/components/marketing/pages/MarketingCalendarPage.tsx
  frontend/src/components/marketing/pages/__tests__/MarketingCalendarPage.test.tsx
Due: frontend, Frontend (React)

feat: add Cooling property to CatalogProperties
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
Due: backend, Backend (.NET)

feat(data-quality): extend IDqtRunRepository and IStockTakingRepository interfaces
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/IStockTakingRepository.cs
  backend/src/Anela.Heblo.Domain/Features/DataQuality/IDqtRunRepository.cs
Due: backend, Backend (.NET)

feat(data-quality): add EF configuration and DbSet for DqtDriftResult
  backend/src/Anela.Heblo.Persistence/ApplicationDbContext.cs
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtDriftResultConfiguration.cs
Due: backend, Backend (.NET)

feat: parse Flexi attribute 89 as Cooling enum in adapter
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/AssemblyInfo.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/ProductAttributes/FlexiProductAttributesQueryClient.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
Due: backend, Backend (.NET)

feat(data-quality): implement AddDriftResultsAsync, GetDriftResultsAsync, GetByDateRangeAsync
  backend/src/Anela.Heblo.Persistence/DataQuality/DqtRunRepository.cs
  backend/src/Anela.Heblo.Persistence/Logistics/StockTaking/StockTakingRepository.cs
Due: backend, Backend (.NET)

feat: merge Cooling from CatalogAttributes into CatalogProperties
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
Due: backend, Backend (.NET)

fix: align MarketingActionGrid label/badge map with real MarketingActionType enum
  frontend/src/components/marketing/list/MarketingActionGrid.tsx
  frontend/src/components/marketing/list/__tests__/MarketingActionGrid.test.tsx
Due: frontend, Frontend (React)

feat: add PlaudFileDetail + GetFileDetailAsync with ParseFileDetail
  backend/src/Adapters/Anela.Heblo.Adapters.Plaud/PlaudCliClient.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/IPlaudClient.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Services/PlaudFileDetail.cs
Due: backend, Backend (.NET)

feat(data-quality): add EF migration for DqtDriftResults table
  backend/src/Anela.Heblo.Persistence/Migrations/20260518093614_AddDqtDriftResults.Designer.cs
  backend/src/Anela.Heblo.Persistence/Migrations/20260518093614_AddDqtDriftResults.cs
Due: backend, Backend (.NET)

feat: add Cooling property to PropertiesDto
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/PropertiesDto.cs
Due: backend, Backend (.NET)

feat(data-quality): add generic drift DQT interfaces and result DTOs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/DriftComparisonResult.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IDriftDqtComparer.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/IDriftDqtJobRunner.cs
Due: backend, Backend (.NET)

test(data-quality): write failing tests for DriftDqtJobRunner
  backend/test/Anela.Heblo.Tests/Features/DataQuality/DriftDqtJobRunnerTests.cs
Due: none

feat(data-quality): implement DriftDqtJobRunner
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/DriftDqtJobRunner.cs
Due: backend, Backend (.NET)

test(data-quality): write failing tests for ProductPairingDqtComparer
  backend/test/Anela.Heblo.Tests/Features/DataQuality/ProductPairingDqtComparerTests.cs
Due: none

feat: display Cooling attribute badge in product detail view
  frontend/src/api/generated/api-client.ts
  frontend/src/components/catalog/detail/tabs/BasicInfoTab/ProductPropertiesInfo.tsx
Due: frontend, Frontend (React)

feat: gate plaud ingest on generation status, log not-generated count
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/Infrastructure/Jobs/PlaudPollingJob.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/IngestPlaudRecording/IngestPlaudRecordingHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/IngestPlaudRecording/IngestPlaudRecordingResponse.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/IngestPlaudRecordingHandlerTests.cs
Due: backend, Backend (.NET)

feat(data-quality): implement ProductPairingDqtComparer
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/ProductPairingDqtComparer.cs
Due: backend, Backend (.NET)

test(data-quality): write failing tests for StockWriteBackDqtComparer
  backend/test/Anela.Heblo.Tests/Features/DataQuality/StockWriteBackDqtComparerTests.cs
Due: none

fix: move NONE test case to valid values, matches actual parser behavior
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
Due: none

feat(data-quality): implement StockWriteBackDqtComparer
  backend/src/Anela.Heblo.Application/Features/DataQuality/Services/StockWriteBackDqtComparer.cs
Due: backend, Backend (.NET)

feat: add ReimportMeetingTranscript use case and POST endpoint
  backend/src/Anela.Heblo.API/Controllers/MeetingTasksController.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptHandler.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptRequest.cs
  backend/src/Anela.Heblo.Application/Features/MeetingTasks/UseCases/ReimportMeetingTranscript/ReimportMeetingTranscriptResponse.cs
  backend/test/Anela.Heblo.Tests/Features/MeetingTasks/ReimportMeetingTranscriptHandlerTests.cs
Due: backend, Backend (.NET)

feat(data-quality): wire DriftDqtJobRunner, update RunDqtHandler dispatch, add recurring jobs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityModule.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/ProductPairingDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/Infrastructure/Jobs/StockWriteBackDqtJob.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/RunDqt/RunDqtHandler.cs
Due: backend, Backend (.NET)

feat(data-quality): add DqtDriftResultDto, branch GetDqtRunDetail by TestType, update mapping
  backend/src/Anela.Heblo.Application/Features/DataQuality/Contracts/DqtDriftResultDto.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/DataQualityMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/DataQuality/UseCases/GetDqtRunDetail/GetDqtRunDetailResponse.cs
Due: backend, Backend (.NET)

feat: add Reimport button on meeting detail page
  frontend/src/api/hooks/useMeetingTasks.ts
  frontend/src/components/pages/automation/MeetingTaskDetailPage.tsx
Due: frontend, Frontend (React)

refactor: address code review findings on ActionType filter
  backend/test/Anela.Heblo.Tests/Controllers/MarketingCalendarControllerTests.cs
  frontend/src/api/hooks/useMarketingCalendar.ts
  frontend/src/components/marketing/list/MarketingActionFilters.tsx
Due: frontend, Frontend (React)

feat(data-quality): add i18n strings and test-type labels for ProductPairing and StockWriteBack
  frontend/src/components/data-quality/DqtRunsTable.tsx
  frontend/src/i18n.ts
Due: frontend, Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
