Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

feat: Article Writing Prompt Configuration Fix (#1709)
  artifacts/feat-arch-review-article-articleoptions-write/arch-review.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/brief.md
  artifacts/feat-arch-review-article-articleoptions-write/impl/main.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/spec.r1.md
  artifacts/feat-arch-review-article-articleoptions-write/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/ArticleOptions.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
  docs/features/article-generation.md
  docs/superpowers/plans/2026-05-25-article-write-prompt-options.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-users-updatemanufactureorder/spec.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-users-updatemanufactureorder/arch-review.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-users-updatemanufactureorder-planning-1
  docs/superpowers/plans/2026-05-26-refactor-update-manufacture-order-status-handler-current-user-service.md
Due: none

agent: upload artifacts/feat-arch-review-users-updatemanufactureorder/task-plan.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/task-plan.r1.md
Due: none

test: drive UpdateManufactureOrderStatusHandler to ICurrentUserService
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerConditionsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
Due: none

refactor: UpdateManufactureOrderStatusHandler uses ICurrentUserService
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-users-updatemanufactureorder/impl/main.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-domain/brief.md
  artifacts/feat-arch-review-invoiceclassification-domain/brief.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-domain/spec.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-domain/arch-review.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-invoiceclassification-domain-planning-1
  docs/superpowers/plans/2026-05-26-invoiceclassification-domain-dto-separation.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-domain/task-plan.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/task-plan.r1.md
Due: none

chore: snapshot pre-refactor swagger for InvoiceClassification endpoints
  artifacts/feat-arch-review-invoiceclassification-domain/swagger-before.json
Due: none

feat(invoice-classification): add Application contract DTOs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/AccountingTemplateDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ReceivedInvoiceDto.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Contracts/ReceivedInvoiceItemDto.cs
Due: backend, Backend (.NET)

feat: Refactor UpdateManufactureOrderStatusHandler to use ICurrentUserService (#1733)
  artifacts/feat-arch-review-users-updatemanufactureorder/arch-review.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/brief.md
  artifacts/feat-arch-review-users-updatemanufactureorder/impl/main.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/spec.r1.md
  artifacts/feat-arch-review-users-updatemanufactureorder/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/UpdateManufactureOrderStatus/UpdateManufactureOrderStatusHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerConditionsTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/UpdateManufactureOrderStatusHandlerTests.cs
  docs/superpowers/plans/2026-05-26-refactor-update-manufacture-order-status-handler-current-user-service.md
Due: backend, Backend (.NET)

feat: Type-Safe ArticleStatus in Response DTOs (#1698)
  artifacts/feat-arch-review-article-getarticleresponse-a/arch-review.r1.md
  artifacts/feat-arch-review-article-getarticleresponse-a/brief.md
  artifacts/feat-arch-review-article-getarticleresponse-a/impl/main.r1.md
  artifacts/feat-arch-review-article-getarticleresponse-a/spec.r1.md
  artifacts/feat-arch-review-article-getarticleresponse-a/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GetArticle/GetArticleHandler.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GetArticle/GetArticleResponse.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/ListArticles/ArticleListItemDto.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/ListArticles/ListArticlesHandler.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/ArticleStatusWireFormatTests.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/GetArticleHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/ListArticlesHandlerTests.cs
  docs/superpowers/plans/2026-05-25-type-safe-articlestatus-response-dtos.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useArticles.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(invoice-classification): map Domain types to Application contract DTOs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/InvoiceClassificationMappingProfile.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/InvoiceClassificationMappingProfileTests.cs
Due: backend, Backend (.NET)

refactor(invoice-classification): map accounting templates to Application contract in handler
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetAccountingTemplates/GetAccountingTemplatesResponse.cs
Due: backend, Backend (.NET)

refactor(invoice-classification): map invoice details to Application contract with null safety
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetInvoiceDetails/GetInvoiceDetailsResponse.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/GetInvoiceDetailsHandlerTests.cs
Due: backend, Backend (.NET)

feat: Fix Article Feedback List Sort-Direction Parameter Mismatch (#1666)
  artifacts/feat-arch-review-article-frontend-sends-desce/arch-review.r1.md
  artifacts/feat-arch-review-article-frontend-sends-desce/brief.md
  artifacts/feat-arch-review-article-frontend-sends-desce/impl/main.r1.md
  artifacts/feat-arch-review-article-frontend-sends-desce/spec.r1.md
  artifacts/feat-arch-review-article-frontend-sends-desce/task-plan.r1.md
  docs/superpowers/plans/2026-05-25-fix-article-feedback-sort-descending-param.md
  frontend/src/api/hooks/__tests__/useArticles.test.ts
  frontend/src/api/hooks/useArticles.ts
  frontend/src/components/feedback/adapters/__tests__/useArticleFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useArticleFeedbackAdapter.ts
Due: frontend, Frontend (React)

feat: Wire `Article.Scope` and `Article.LanguageNote` into article writing prompt (#1704)
  artifacts/feat-arch-review-article-scope-and-languageno/arch-review.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/brief.md
  artifacts/feat-arch-review-article-scope-and-languageno/design.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/impl/main.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/spec.r1.md
  artifacts/feat-arch-review-article-scope-and-languageno/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Article/ArticleOptions.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/Generate/Pipeline/WriteArticleStep.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GenerateArticle/GenerateArticleRequest.cs
  backend/test/Anela.Heblo.Tests/Article/Pipeline/WriteArticleStepTests.cs
  docs/features/article-generation.md
  docs/superpowers/plans/2026-05-25-article-scope-and-languagenote.md
  frontend/src/features/articles/ArticleGenerationForm.tsx
  frontend/src/features/articles/__tests__/ArticleGenerationForm.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

refactor(invoice-classification): rename Domain *Dto types to value-object names
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiInvoiceClassificationsClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoicesClient.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/InvoiceClassificationMappingProfile.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/IInvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/IRuleEvaluationEngine.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/InvoiceClassificationService.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/Services/RuleEvaluationEngine.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/ClassifyInvoices/ClassifyInvoicesHandler.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/AccountingTemplate.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IInvoiceClassificationsClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/IReceivedInvoicesClient.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoice.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoiceItem.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/ReceivedInvoiceItemDto.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/AmountClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/CompanyNameClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/DescriptionClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/ItemDescriptionClassificationRule.cs
  backend/src/Anela.Heblo.Domain/Features/InvoiceClassification/Rules/VatClassificationRule.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/ClassifyInvoicesHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/GetInvoiceDetailsHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/InvoiceClassificationMappingProfileTests.cs
Due: backend, Backend (.NET)

chore: snapshot post-refactor swagger; contract verified via mapping profile tests
  artifacts/feat-arch-review-invoiceclassification-domain/swagger-after.json
Due: none

fix(invoice-classification): null guard in Flexi adapter and strengthen handler test
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Accounting/InvoiceClassification/FlexiReceivedInvoicesClient.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/GetInvoiceDetailsHandlerTests.cs
Due: backend, Backend (.NET)

agent: implementation summary for invoiceclassification-dto-separation
  artifacts/feat-arch-review-invoiceclassification-domain/impl/invoiceclassification-dto-separation.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-domain/impl/main.r1.md
  artifacts/feat-arch-review-invoiceclassification-domain/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/brief.md
  artifacts/feat-arch-review-invoiceclassification-getava/brief.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/spec.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/answers.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/spec.r2.md
  artifacts/feat-arch-review-invoiceclassification-getava/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/arch-review.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/task-plan.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/task-plan.r1.md
Due: none

feat: add GetClassificationRuleTypes MediatR handler and tests
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRuleTypes/GetClassificationRuleTypesHandler.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRuleTypes/GetClassificationRuleTypesRequest.cs
  backend/src/Anela.Heblo.Application/Features/InvoiceClassification/UseCases/GetClassificationRuleTypes/GetClassificationRuleTypesResponse.cs
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/GetClassificationRuleTypesHandlerTests.cs
Due: backend, Backend (.NET)

refactor: remove IClassificationRule dependency from InvoiceClassificationController
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-invoiceclassification-getava/impl/main.r1.md
  artifacts/feat-arch-review-invoiceclassification-getava/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-users-gridlayoutscontroller-/brief.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/brief.md
Due: none

agent: upload artifacts/feat-arch-review-users-gridlayoutscontroller-/spec.r1.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-users-gridlayoutscontroller-/arch-review.r1.md
  artifacts/feat-arch-review-users-gridlayoutscontroller-/arch-review.r1.md
Due: none
