Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

fix(kb): empty default OneDriveFolderMappings to prevent config list duplication; fix filter URL encoding
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
Due: backend, Backend (.NET)

feat(kb): use GraphOneDriveService when DriveId configured and real auth available
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

fix(kb): always use GraphOneDriveService when DriveId configured; fix test DI resolution
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/test/Anela.Heblo.Tests/Common/HebloWebApplicationFactory.cs
Due: backend, Backend (.NET)

fix(auth): register ITokenAcquisition in mock auth mode for outbound Graph calls
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
Due: backend, Backend (.NET)

docs: plans
  docs/superpowers/plans/2026-03-31-kb-chunk-detail-modal.md
  docs/superpowers/plans/2026-04-01-kb-multi-folder-ingestion.md
  docs/superpowers/specs/2026-03-31-kb-chunk-detail-modal-design.md
  docs/superpowers/specs/2026-03-31-kb-multi-folder-ingestion-design.md
Due: none

fix(auth): chain EnableTokenAcquisitionToCallDownstreamApi in mock auth mode
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
Due: backend, Backend (.NET)

fix(kb): use MockOneDriveService when mock auth active; revert MSAL in mock auth
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

fix(kb): remove unsupported OData filter from Graph children endpoint
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
Due: backend, Backend (.NET)

refactor(kb): merge document indexing logic into single IndexDocumentHandler
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/Jobs/KnowledgeBaseIngestionJob.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentRequest.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentResponse.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseIngestionJobTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/IndexDocumentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/UploadDocumentHandlerTests.cs
Due: backend, Backend (.NET)

docs: add Shoptet order blocking design spec
  docs/superpowers/specs/2026-04-01-shoptet-order-blocking-design.md
Due: none

fix(kb): archive duplicate files to prevent reprocessing by ingestion job
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/Jobs/KnowledgeBaseIngestionJob.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseIngestionJobTests.cs
Due: backend, Backend (.NET)

docs: add Shoptet order blocking implementation plan
  docs/superpowers/plans/2026-04-01-shoptet-order-blocking.md
Due: none

docs: add shoptet order blocking spec and plan
  docs/superpowers/plans/2026-04-01-shoptet-order-blocking.md
  docs/superpowers/specs/2026-04-01-shoptet-order-blocking-design.md
Due: none

feat(shoptet-orders): add IShoptetOrderClient interface, SetInternalNoteAsync, wire DI
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Anela.Heblo.Adapters.ShoptetApi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/UpdateNotesRequest.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Anela.Heblo.API.csproj
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.Domain/Features/ShoptetOrders/IShoptetOrderClient.cs
Due: backend, Backend (.NET)

feat(shoptet-orders): add error codes, settings, and module registration
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersModule.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
Due: backend, Backend (.NET)

feat(shoptet-orders): implement BlockOrderProcessingHandler with state validation
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingRequest.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingResponse.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/BlockOrderProcessingHandlerTests.cs
Due: backend, Backend (.NET)

feat(shoptet-orders): add ShoptetOrdersController and config placeholders
  backend/src/Anela.Heblo.API/Controllers/ShoptetOrdersController.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

docs: add GraphFolderResolver extraction design spec
  docs/superpowers/specs/2026-04-01-graph-folder-resolver-design.md
Due: none

docs: add GraphFolderResolver extraction implementation plan
  docs/superpowers/plans/2026-04-01-graph-folder-resolver.md
Due: none

refactor(kb): extract GraphApiHelpers with shared HTTP utilities and Graph models
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphApiHelpers.cs
Due: backend, Backend (.NET)

refactor(kb): add GraphFolderResolver for OneDrive folder path management
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphFolderResolver.cs
Due: backend, Backend (.NET)

chore: folders setup
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

refactor(kb): slim down GraphOneDriveService to delegate folder ops and HTTP helpers
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
Due: backend, Backend (.NET)

refactor(kb): centralize GraphBaseUrl constant and use HttpMethod.Patch
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphApiHelpers.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphFolderResolver.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
Due: backend, Backend (.NET)

fix: missing commit
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
Due: backend, Backend (.NET)

docs: add manufacture error transformation layer design spec
  docs/superpowers/specs/2026-04-01-manufacture-error-transformation-design.md
Due: none

fix: date specific calls
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/HebloShoptetAdapterModule.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Anela.Heblo.Adapters.ShoptetApi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiServiceCollectionExtensions.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetPay/Model/PayoutReportListResponse.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetPay/ShoptetPayBankClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetPayAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.Application/Features/Bank/BankModule.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Infrastructure/Jobs/ShoptetPayImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
Due: backend, Backend (.NET)

refactor(kb): merge document indexing logic into single entry point (#473)
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Infrastructure/Jobs/KnowledgeBaseIngestionJob.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseOptions.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/OneDriveFolderMapping.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphApiHelpers.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphFolderResolver.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/GraphOneDriveService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/IOneDriveService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/Services/MockOneDriveService.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentRequest.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/IndexDocument/IndexDocumentResponse.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/UploadDocument/UploadDocumentHandler.cs
  backend/test/Anela.Heblo.Tests/Common/HebloWebApplicationFactory.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/Infrastructure/KnowledgeBaseIngestionJobTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/IndexDocumentHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/UploadDocumentHandlerTests.cs
  docs/superpowers/plans/2026-03-31-kb-chunk-detail-modal.md
  docs/superpowers/plans/2026-04-01-graph-folder-resolver.md
  docs/superpowers/plans/2026-04-01-kb-multi-folder-ingestion.md
  docs/superpowers/plans/2026-04-01-shoptet-order-blocking.md
  docs/superpowers/specs/2026-03-31-kb-chunk-detail-modal-design.md
  docs/superpowers/specs/2026-03-31-kb-multi-folder-ingestion-design.md
  docs/superpowers/specs/2026-04-01-graph-folder-resolver-design.md
  docs/superpowers/specs/2026-04-01-shoptet-order-blocking-design.md
Due: backend, Backend (.NET)

fix(bank): fix integration tests after account name and IBankClient registration changes
  backend/test/Anela.Heblo.Tests/Features/Bank/BankStatementImportIntegrationTests.cs
Due: none

config(shoptet): set AllowedBlockSourceStateIds and BlockedStatusId values
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

feat(shoptet-orders): block order processing endpoint (#474)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Anela.Heblo.Adapters.ShoptetApi.csproj
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/Model/UpdateNotesRequest.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetOrderClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  backend/src/Anela.Heblo.API/Controllers/ShoptetOrdersController.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/KnowledgeBaseModule.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersModule.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/ShoptetOrdersSettings.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingHandler.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingRequest.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderProcessingResponse.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/src/Anela.Heblo.Domain/Features/ShoptetOrders/IShoptetOrderClient.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/BlockOrderProcessingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/ErrorHandlingTests.cs
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

fix(bank): use today instead of yesterday in ShoptetPay import job
  backend/src/Anela.Heblo.Application/Features/Bank/Infrastructure/Jobs/ShoptetPayImportJob.cs
Due: backend, Backend (.NET)

docs: add manufacture error transformation implementation plan
  docs/superpowers/plans/2026-04-01-manufacture-error-transformation.md
Due: none

feat(manufacture): add ProductCodeNotFound, ReferenceTooLong, and ZeroQuantity error filters
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/ProductCodeNotFoundFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/ReferenceTooLongFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/ZeroQuantityItemFilter.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/ProductCodeNotFoundFilterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/ReferenceTooLongFilterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/ZeroQuantityItemFilterTests.cs
Due: backend, Backend (.NET)

feat(manufacture): add InsufficientSemiProduct and InsufficientRawMaterial error filters
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/InsufficientRawMaterialFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/InsufficientSemiProductFilter.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/InsufficientRawMaterialFilterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/Filters/InsufficientSemiProductFilterTests.cs
Due: backend, Backend (.NET)

feat(manufacture): add IManufactureErrorFilter contract and fallback transformer
  backend/src/Anela.Heblo.Application/Anela.Heblo.Application.csproj
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/IManufactureErrorFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/IManufactureErrorTransformer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/ManufactureErrorTransformer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/ManufactureErrorTransformerTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): extract shared parsing helpers and fix ExtractAfter fallback
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/InsufficientRawMaterialFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/InsufficientSemiProductFilter.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/Filters/ManufactureErrorParsingHelpers.cs
Due: backend, Backend (.NET)

refactor(manufacture): narrow Scrutor scan scope and harden ManufactureErrorTransformer
  backend/src/Anela.Heblo.Application/Features/Manufacture/ErrorFilters/ManufactureErrorTransformer.cs
  backend/src/Anela.Heblo.Application/Features/Manufacture/ManufactureModule.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/ErrorFilters/ManufactureErrorTransformerTests.cs
Due: backend, Backend (.NET)

refactor(manufacture): remove unused repository dependency from SubmitManufactureHandler
  backend/src/Anela.Heblo.Application/Features/Manufacture/UseCases/SubmitManufacture/SubmitManufactureHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Manufacture/SubmitManufactureHandlerTests.cs
Due: backend, Backend (.NET)
