Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

test(purchase): seal test class and clarify regression comment
  backend/test/Anela.Heblo.Tests/Features/Purchase/UpdatePurchaseOrderHandlerTests.cs
Due: none

agent: upload artifacts/feat-arch-review-purchase-updatepurchaseorder/impl/main.r1.md
  artifacts/feat-arch-review-purchase-updatepurchaseorder/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-blockorderrequ/brief.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/brief.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-blockorderrequ/spec.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-blockorderrequ/arch-review.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-blockorderrequ/task-plan.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/task-plan.r1.md
Due: none

feat: move BlockOrderRequest DTO from API to Application layer
  backend/src/Anela.Heblo.API/Controllers/ShoptetOrdersController.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderRequest.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-shoptetorders-blockorderrequ/impl/main.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-shoptetapipack/brief.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/brief.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-shoptetapipack/spec.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-shoptetapipack/arch-review.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-shoptetorders-shoptetapipack-planning-1
  docs/superpowers/plans/2026-05-24-honest-dependency-shoptetapi-packing-order-client.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-shoptetapipack/task-plan.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/task-plan.r1.md
Due: none

refactor(shoptet-api): register ShoptetOrderClient typed client as concrete, forward IEshopOrderClient
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
Due: backend, Backend (.NET)

refactor(shoptet-api): take ShoptetOrderClient directly in ShoptetApiPackingOrderClient (drop downcast)
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-shoptetorders-shoptetapipack/impl/main.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-cooling-enum-o/brief.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/brief.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-cooling-enum-o/spec.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-cooling-enum-o/arch-review.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/arch-review.r1.md
Due: none

agent: planner output feat-arch-review-shoptetorders-cooling-enum-o-planning-1
  docs/superpowers/plans/2026-05-24-cooling-enum-to-shared.md
Due: none

agent: upload artifacts/feat-arch-review-shoptetorders-cooling-enum-o/task-plan.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/task-plan.r1.md
Due: none

refactor(backend): relocate Cooling enum to Anela.Heblo.Domain.Shared
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/ProductAttributes/FlexiProductAttributesQueryClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/Contracts/CarrierCoolingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/PropertiesDto.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/GetPackingOrder/GetPackingOrderResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Attributes/CatalogAttributes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/CarrierCoolingSetting.cs
  backend/src/Anela.Heblo.Domain/Shared/Cooling.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/GetCarrierCoolingMatrixHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/GetPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Controllers/CarrierCoolingControllerTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-shoptetorders-cooling-enum-o/impl/main.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/impl/main.r1.md
Due: none

feat: Relocate `Cooling` enum to shared Domain namespace (#1607)
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/arch-review.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/brief.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/impl/main.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/spec.r1.md
  artifacts/feat-arch-review-shoptetorders-cooling-enum-o/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/ProductAttributes/FlexiProductAttributesQueryClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ExpeditionProtocolData.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Expedition/ShoptetApiExpeditionListSource.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/Contracts/CarrierCoolingRowDto.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/GetCarrierCoolingMatrix/GetCarrierCoolingMatrixHandler.cs
  backend/src/Anela.Heblo.Application/Features/CarrierCooling/UseCases/SetCarrierCooling/SetCarrierCoolingRequest.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/PropertiesDto.cs
  backend/src/Anela.Heblo.Application/Features/Packaging/UseCases/ScanPackingOrder/ScanPackingOrderResponse.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/IPackingOrderClient.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/GetPackingOrder/GetPackingOrderResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Attributes/CatalogAttributes.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CatalogProperties.cs
  backend/src/Anela.Heblo.Domain/Features/Logistics/CarrierCoolingSetting.cs
  backend/src/Anela.Heblo.Domain/Shared/Cooling.cs
  backend/test/Anela.Heblo.Adapters.Flexi.Tests/ProductAttributes/FlexiCoolingParserTests.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/Infrastructure/ShoptetIntegrationTestFixture.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ExpeditionProtocolDocumentTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiExpeditionListSourceTests.cs
  backend/test/Anela.Heblo.Tests/Adapters/ShoptetApi/ShoptetApiPackingOrderClientTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/GetCarrierCoolingMatrixHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Application/CarrierCooling/SetCarrierCoolingValidatorTests.cs
  backend/test/Anela.Heblo.Tests/Application/ShoptetOrders/GetPackingOrderHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Controllers/CarrierCoolingControllerTests.cs
  docs/superpowers/plans/2026-05-24-cooling-enum-to-shared.md
Due: backend, Backend (.NET)

feat: Honest Dependency in ShoptetApiPackingOrderClient (#1602)
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/arch-review.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/brief.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/impl/main.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/spec.r1.md
  artifacts/feat-arch-review-shoptetorders-shoptetapipack/task-plan.r1.md
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/Orders/ShoptetApiPackingOrderClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.ShoptetApi/ShoptetApiAdapterServiceCollectionExtensions.cs
  docs/superpowers/plans/2026-05-24-honest-dependency-shoptetapi-packing-order-client.md
Due: backend, Backend (.NET)

feat: Remove Dead Catalog Lookup in UpdatePurchaseOrderHandler (#1592)
  artifacts/feat-arch-review-purchase-updatepurchaseorder/arch-review.r1.md
  artifacts/feat-arch-review-purchase-updatepurchaseorder/brief.md
  artifacts/feat-arch-review-purchase-updatepurchaseorder/impl/main.r1.md
  artifacts/feat-arch-review-purchase-updatepurchaseorder/spec.r1.md
  artifacts/feat-arch-review-purchase-updatepurchaseorder/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/UpdatePurchaseOrder/UpdatePurchaseOrderHandler.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/UpdatePurchaseOrderHandlerTests.cs
  docs/superpowers/plans/2026-05-24-remove-dead-catalog-lookup-updatepurchaseorder.md
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-usermanagement-getgroupmembe/brief.md
  artifacts/feat-arch-review-usermanagement-getgroupmembe/brief.md
Due: none

feat: Restore Clean Architecture Boundary in PurchaseModule DI Registration (#1570)
  artifacts/feat-arch-review-purchase-purchasemodule-cs-i/arch-review.r1.md
  artifacts/feat-arch-review-purchase-purchasemodule-cs-i/brief.md
  artifacts/feat-arch-review-purchase-purchasemodule-cs-i/impl/main.r1.md
  artifacts/feat-arch-review-purchase-purchasemodule-cs-i/spec.r1.md
  artifacts/feat-arch-review-purchase-purchasemodule-cs-i/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Purchase/PurchaseModule.cs
  backend/src/Anela.Heblo.Persistence/PersistenceModule.cs
Due: backend, Backend (.NET)

feat: Remove debug `Console.WriteLine` from `PurchaseOrder.AddLine()` (#1582)
  artifacts/feat-arch-review-purchase-console-writeline-d/arch-review.r1.md
  artifacts/feat-arch-review-purchase-console-writeline-d/brief.md
  artifacts/feat-arch-review-purchase-console-writeline-d/impl/main.r1.md
  artifacts/feat-arch-review-purchase-console-writeline-d/spec.r1.md
  artifacts/feat-arch-review-purchase-console-writeline-d/task-plan.r1.md
  backend/src/Anela.Heblo.Domain/Features/Purchase/PurchaseOrder.cs
  docs/superpowers/plans/2026-05-24-remove-purchase-console-writeline.md
Due: backend, Backend (.NET)

feat: Remove dead `supplierId` parameter from `IPurchaseOrderRepository.GetPaginatedAsync` (#1587)
  artifacts/feat-arch-review-purchase-supplierid-paramete/arch-review.r1.md
  artifacts/feat-arch-review-purchase-supplierid-paramete/brief.md
  artifacts/feat-arch-review-purchase-supplierid-paramete/impl/main.r1.md
  artifacts/feat-arch-review-purchase-supplierid-paramete/spec.r1.md
  artifacts/feat-arch-review-purchase-supplierid-paramete/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Purchase/Services/InMemoryPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseOrders/GetPurchaseOrdersHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseOrders/GetPurchaseOrdersRequest.cs
  backend/src/Anela.Heblo.Domain/Features/Purchase/IPurchaseOrderRepository.cs
  backend/src/Anela.Heblo.Persistence/Purchase/PurchaseOrders/PurchaseOrderRepository.cs
  backend/test/Anela.Heblo.Tests/Controllers/PurchaseOrdersControllerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseOrdersHandlerTests.cs
  docs/superpowers/plans/2026-05-24-remove-purchase-supplier-id-parameter.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/usePurchaseOrders.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Move `BlockOrderRequest` DTO from API to Application layer (#1597)
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/arch-review.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/brief.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/impl/main.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/spec.r1.md
  artifacts/feat-arch-review-shoptetorders-blockorderrequ/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/ShoptetOrdersController.cs
  backend/src/Anela.Heblo.Application/Features/ShoptetOrders/UseCases/BlockOrderProcessing/BlockOrderRequest.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-usermanagement-getgroupmembe/spec.r1.md
  artifacts/feat-arch-review-usermanagement-getgroupmembe/spec.r1.md
Due: none

agent: product output feat-arch-review-usermanagement-getgroupmembe-questioning-r1
  answers.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-getgroupmembe/answers.r1.md
  artifacts/feat-arch-review-usermanagement-getgroupmembe/answers.r1.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-getgroupmembe/spec.r2.md
  artifacts/feat-arch-review-usermanagement-getgroupmembe/spec.r2.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-getgroupmembe/arch-review.r1.md
  artifacts/feat-arch-review-usermanagement-getgroupmembe/arch-review.r1.md
Due: none

fix: update UpdatePurchaseOrderHandlerTests to use IMaterialCatalogService
  backend/test/Anela.Heblo.Tests/Features/Purchase/UpdatePurchaseOrderHandlerTests.cs
Due: none

agent: planner output feat-arch-review-usermanagement-getgroupmembe-planning-1
  docs/superpowers/plans/2026-05-25-relocate-getgroupmembers-to-usermanagement-controller.md
Due: none

agent: upload artifacts/feat-arch-review-usermanagement-getgroupmembe/task-plan.r1.md
  artifacts/feat-arch-review-usermanagement-getgroupmembe/task-plan.r1.md
Due: none

feat: add nullable ManufactureGroupId to GetConfigurationResponse
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationResponse.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
