Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat: add M1_A and M1_B calculation methods to MarginCalculationService
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
Due: backend, Backend (.NET)

feat: update margin calculation methods for M1_A and M1_B split
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Services/IMarginCalculationService.cs
Due: backend, Backend (.NET)

feat: update GetMarginAsync callers to pass allProducts parameter
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MarginHistoryDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/MonthlyMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Contracts/ProductMarginDto.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/RecalculateMargin/RecalculateMarginHandler.cs
  docs/features/M1_margin_calculation_design.md
  docs/features/M1_production_costs_specification.md
  docs/plans/2025-12-19-m1-margin-calculation.md
Due: backend, Backend (.NET)

test: add comprehensive unit and integration tests for M1 margin calculation
  backend/test/Anela.Heblo.Tests/Features/Catalog/RecalculateMarginHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
Due: none

docs: mark M1 margin calculation as implemented
  docs/features/M1_margin_calculation_design.md
Due: none

docs: add frontend M1 split implementation design
  docs/plans/2025-12-19-frontend-m1-split-design.md
Due: none

docs: add detailed implementation plan for M1 split frontend
  docs/plans/2025-12-19-frontend-m1-split-implementation.md
Due: none

feat: add M1_B toggle state to MarginsChart
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

refactor: rename m1 variables to m1_A in MarginsChart
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

fix: update m1 property references to m1_A
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

refactor: update destructuring and variable usage for m1_A
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

feat: update bar chart dataset label and data for M1_A
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

feat: update line chart dataset label and data for M1_A
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

feat: add M1_B data mapping logic
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

feat: create M1_B data arrays
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

feat: add M1_B scatter dataset to chart
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsSummary.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
Due: frontend, Frontend (React)

feat: add M1_B toggle UI to MarginsChart
  frontend/src/components/catalog/detail/tabs/MarginsTab/MarginsChart.tsx
Due: frontend, Frontend (React)

chore: lint
  backend/src/Adapters/Anela.Heblo.Adapters.Comgate/ComgateBankClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Bank/FlexiBankAccountClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Bank/FlexiBankStatementImportService.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiInvoiceMappingProfile.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Flexi/Invoices/FlexiIssuedInvoiceClient.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/HebloShoptetAdapterModule.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/InvoicePriceCalculator.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/PaymentMethodResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ValueResolvers/PaymentMethodValueResolver.cs
  backend/src/Adapters/Anela.Heblo.Adapters.Shoptet/IssuedInvoices/ValueResolvers/ShippingMethodValueResolver.cs
  backend/src/Anela.Heblo.API/Controllers/DiagnosticsController.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Contracts/BankImportRequestDto.cs
  backend/src/Anela.Heblo.Application/Features/Bank/Infrastructure/ComgateDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Bank/UseCases/ImportBankStatement/ImportBankStatementHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ManufactureCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/SalesCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/EnqueueStockTaking/EnqueueStockTakingHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Jobs/IssuedInvoiceDailyImportJob.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/GiftWithoutVATIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/ProductMappingIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/Transformations/RemoveDAtTheEndOfProductCodeIssuedInvoiceImportTransformation.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/InvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/EnqueueImportInvoices/EnqueueImportInvoicesResponse.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetInvoiceImportJobStatus/GetInvoiceImportJobStatusHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetRunningInvoiceImportJobs/GetRunningInvoiceImportJobsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/LogisticsModule.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ProcessReceivedBoxes/ProcessReceivedBoxesHandler.cs
  backend/src/Anela.Heblo.Application/Features/PackingMaterials/UseCases/ProcessDailyConsumption/ProcessDailyConsumptionHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/BankStatementImport.cs
  backend/src/Anela.Heblo.Domain/Features/Bank/IBankStatementImportRepository.cs
  backend/src/Anela.Heblo.Domain/Shared/Result.cs
  backend/src/Anela.Heblo.Xcc/Services/BackgroundRefresh/BackgroundRefreshSchedulerService.cs
  backend/src/Anela.Heblo.Xcc/Services/BackgroundRefresh/TierBasedHydrationOrchestrator.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/ProductMarginSummary.tsx
  frontend/src/components/pages/ProductMarginsList.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: remove old margin calculation
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/CatalogMaterialCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/OverheadCostRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/PurchasePriceOnlyMaterialCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/IManufactureCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ISalesCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/ManufactureCostCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/SalesCostCalculationService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostBreakdown.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MonthlyMarginData.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MonthlyMarginHistory.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/ICostDataSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IDirectManufactureCostSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IFlatManufactureCostSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IManufactureCostRepository.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IMaterialCostSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/ISalesCostSource.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
Due: backend, Backend (.NET)

feat: M0
  backend/src/Anela.Heblo.Application/Features/Analytics/Infrastructure/AnalyticsRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogRepository.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/DirectManufactureCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/PurchasePriceOnlyMaterialCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/SalesCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetCatalogDetail/GetCatalogDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetProductMargins/GetProductMarginsHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MarginData.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/MonthlyMarginHistory.cs
  docs/features/margins_v2/spec.md
Due: backend, Backend (.NET)

feat: M0
  backend/test/Anela.Heblo.Tests/Domain/Catalog/CatalogRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Domain/Catalog/ManufactureCostCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogAggregateMarginTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogMaterialCostRepositoryTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CatalogRepositoryCacheOptimizationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/PurchasePriceOnlyMaterialCostSourceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/SalesCostCalculationServiceTests.cs
  docs/features/margins_v2/spec.md
Due: none

feat(catalog): add domain interfaces for cost cache architecture
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/CostCacheData.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/ICostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IDirectManufactureCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IFlatManufactureCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/IMaterialCostCache.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Cache/ISalesCostCache.cs
Due: backend, Backend (.NET)

feat(catalog): add cache configuration options
  backend/src/Anela.Heblo.Application/Features/Catalog/Infrastructure/CostCacheOptions.cs
Due: backend, Backend (.NET)

feat(catalog): implement MaterialCostCache for M0 costs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/MaterialCostCache.cs
Due: backend, Backend (.NET)

feat(catalog): implement FlatManufactureCostCache for M1_A costs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/FlatManufactureCostCache.cs
Due: backend, Backend (.NET)

feat(catalog): implement DirectManufactureCostCache for M1_B costs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/DirectManufactureCostCache.cs
Due: backend, Backend (.NET)

feat(catalog): implement SalesCostCache for M2 costs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/SalesCostCache.cs
Due: backend, Backend (.NET)

refactor(catalog): modify cost sources to use cache services
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/DirectManufactureCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/PurchasePriceOnlyMaterialCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/SalesCostSource.cs
Due: backend, Backend (.NET)

feat(catalog): register cache services and background tasks in DI container
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

feat(catalog): add cache configuration to appsettings
  backend/src/Anela.Heblo.API/appsettings.json
Due: backend, Backend (.NET)

test(catalog): add MaterialCostCache integration tests
  backend/test/Anela.Heblo.Tests/Features/Catalog/Cache/MaterialCostCacheTests.cs
Due: none

docs(catalog): add cache implementation documentation
  docs/implementation/margins_cache_implementation.md
Due: none

fix: Change cache services to Scoped with static locks
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/DirectManufactureCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/FlatManufactureCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/MaterialCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Cache/SalesCostCache.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
Due: backend, Backend (.NET)

feat: M0 calclulation
  backend/src/Anela.Heblo.API/appsettings.json
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/ManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Repositories/ManufactureCostSource.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/ICostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IDirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IFlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/IMaterialCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/CostProviders/ISalesCostProvider.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IDirectManufactureCostSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IFlatManufactureCostSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/IMaterialCostSource.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Repositories/ISalesCostSource.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Cache/MaterialCostCacheTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Services/MarginCalculationServiceTests.cs
  docs/plans/2025-12-21-margin-cache-architecture.md
Due: backend, Backend (.NET)

fix: source - > provider
  backend/src/Anela.Heblo.Application/Features/Catalog/Services/MarginCalculationService.cs
Due: backend, Backend (.NET)

fix: M0
  backend/src/Anela.Heblo.Application/Features/Catalog/CatalogModule.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/DirectManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/ManufactureBasedMaterialCostProvider.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/SalesCostProvider.cs
Due: backend, Backend (.NET)

feat(m1a): add required dependencies to FlatManufactureCostProvider
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
Due: backend, Backend (.NET)

feat(m1a): add GetHistoricalDifficultyAsync helper method
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: backend, Backend (.NET)

feat(m1a): implement core M1_A calculation with difficulty weighting
  backend/src/Anela.Heblo.Application/Features/Catalog/CostProviders/FlatManufactureCostProvider.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/CostProviders/FlatManufactureCostProviderTests.cs
Due: backend, Backend (.NET)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
