Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        informational: false
      frontend:
        target: auto
        threshold: 1%
        flags:
          - frontend
        informational: false

flags:
  backend:
    paths:
      - backend/src/
    carryforward: false
  frontend:
    paths:
      - frontend/src/
    carryforward: false

# Component-level coverage reporting
component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: backend
      name: "Backend (.NET)"
      paths:
        - backend/src/**
      flag_regexes:
        - ^backend$
    - component_id: frontend  
      name: "Frontend (React)"
      paths:
        - frontend/src/**
      flag_regexes:
        - ^frontend$


ignore:
  - "backend/test/**/*"
  - "frontend/test/**/*"
  - "backend/src/**/Program.cs"
  - "backend/src/**/Startup.cs"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/index.tsx"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/coverage/**"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

test(purchase-orders): add unit tests for PurchaseOrderValidation
  frontend/src/components/purchase-orders/form/__tests__/PurchaseOrderValidation.test.tsx
Due: frontend, Frontend (React)

feat(auth): include required permission in 403 response body (#2912)
  backend/src/Anela.Heblo.API/Extensions/AuthenticationExtensions.cs
  backend/src/Anela.Heblo.API/Infrastructure/Authentication/PermissionAuthorizationResultHandler.cs
  backend/src/Anela.Heblo.Application/Shared/ErrorCodes.cs
  backend/test/Anela.Heblo.Tests/Authorization/PermissionAuthorizationResultHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/i18n.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: developer output feat-coverage-gap-components-purchase-orders--dev-main
  docs/superpowers/plans/2026-06-11-purchase-order-validation-unit-tests.md
Due: none

agent: upload artifacts/feat-coverage-gap-components-purchase-orders-/impl/main.r1.md
  artifacts/feat-coverage-gap-components-purchase-orders-/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-issuedinvoicereposi/brief.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/brief.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-issuedinvoicereposi/spec.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/spec.r1.md
Due: none

feat(access): highlight permissions inherited from nested groups in group editor (#2917)
  backend/src/Anela.Heblo.Application/Features/Authorization/UseCases/GetGroups/GetGroupsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Authorization/UseCases/GroupDtos.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/access-management/PermissionPicker.tsx
  frontend/src/components/access-management/TransferList.tsx
  frontend/src/components/access-management/groupClosure.test.ts
  frontend/src/components/access-management/groupClosure.ts
  frontend/src/pages/GroupDetailPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

agent: upload artifacts/feat-arch-review-invoices-issuedinvoicereposi/arch-review.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/arch-review.r1.md
Due: none

fix(feedback): run article feedback queries sequentially
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GetFeedbackList/GetArticleFeedbackListHandler.cs
Due: backend, Backend (.NET)

feat(access): URL-driven user/group tabs and unsaved-changes guard
  frontend/src/App.tsx
  frontend/src/components/dialogs/UnsavedChangesDialog.tsx
  frontend/src/hooks/__tests__/useUnsavedChangesDialog.test.tsx
  frontend/src/hooks/useUnsavedChangesDialog.ts
  frontend/src/pages/AccessManagementPage.tsx
  frontend/src/pages/GroupDetailPage.tsx
  frontend/src/pages/UserDetailPage.tsx
  frontend/src/pages/__tests__/AccessManagementPage.test.tsx
  frontend/src/pages/__tests__/GroupDetailPage.test.tsx
  frontend/src/pages/__tests__/UserDetailPage.test.tsx
Due: frontend, Frontend (React)

fix: disable backdrop click while save is in progress
  frontend/src/components/dialogs/UnsavedChangesDialog.tsx
Due: frontend, Frontend (React)

agent: upload artifacts/feat-arch-review-invoices-issuedinvoicereposi/task-plan.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/task-plan.r1.md
Due: none

refactor(invoices): add PaginatedResult<T> to Xcc.Persistance and resolve ambiguity
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Xcc/Persistance/PaginatedResult.cs
Due: backend, Backend (.NET)

feat(feedback): show resolved user name for AI tool usage (#2915)
  backend/src/Anela.Heblo.Application/ApplicationModule.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GetFeedbackList/GetArticleFeedbackListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Article/UseCases/GetFeedbackList/GetArticleFeedbackListRequest.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetFeedbackList/GetFeedbackListHandler.cs
  backend/src/Anela.Heblo.Application/Features/KnowledgeBase/UseCases/GetFeedbackList/GetFeedbackListRequest.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletFeedbackList/GetLeafletFeedbackListHandler.cs
  backend/src/Anela.Heblo.Application/Features/Leaflet/UseCases/GetLeafletFeedbackList/GetLeafletFeedbackListRequest.cs
  backend/src/Anela.Heblo.Application/Shared/Users/IUserDisplayNameResolver.cs
  backend/src/Anela.Heblo.Application/Shared/Users/UserDisplayNameResolver.cs
  backend/test/Anela.Heblo.Tests/Article/UseCases/GetArticleFeedbackListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Leaflet/UseCases/GetLeafletFeedbackListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/KnowledgeBase/UseCases/GetFeedbackListHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Shared/Users/UserDisplayNameResolverTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useArticles.ts
  frontend/src/api/hooks/useKnowledgeBase.ts
  frontend/src/api/hooks/useLeaflet.ts
  frontend/src/components/feedback/GenericFeedbackDetailModal.tsx
  frontend/src/components/feedback/GenericFeedbackTable.tsx
  frontend/src/components/feedback/__tests__/GenericFeedbackTable.test.tsx
  frontend/src/components/feedback/adapters/__tests__/useKbFeedbackAdapter.test.ts
  frontend/src/components/feedback/adapters/useArticleFeedbackAdapter.ts
  frontend/src/components/feedback/adapters/useKbFeedbackAdapter.ts
  frontend/src/components/feedback/adapters/useLeafletFeedbackAdapter.ts
  frontend/src/components/feedback/types.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat(access): URL-driven user/group tabs and unsaved-changes confirmation (#2924)
  frontend/src/App.tsx
  frontend/src/components/dialogs/UnsavedChangesDialog.tsx
  frontend/src/hooks/__tests__/useUnsavedChangesDialog.test.tsx
  frontend/src/hooks/useUnsavedChangesDialog.ts
  frontend/src/pages/AccessManagementPage.tsx
  frontend/src/pages/GroupDetailPage.tsx
  frontend/src/pages/UserDetailPage.tsx
  frontend/src/pages/__tests__/AccessManagementPage.test.tsx
  frontend/src/pages/__tests__/GroupDetailPage.test.tsx
  frontend/src/pages/__tests__/UserDetailPage.test.tsx
Due: frontend, Frontend (React)

refactor(invoices): move PaginatedResult<T> consumers to Xcc and delete old copy
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/IssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Application/Shared/PaginatedResult.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoicesListHandlerPaginationTests.cs
Due: backend, Backend (.NET)

feat: Unit Tests for PurchaseOrderValidation (#2920)
  artifacts/feat-coverage-gap-components-purchase-orders-/arch-review.r1.md
  artifacts/feat-coverage-gap-components-purchase-orders-/brief.md
  artifacts/feat-coverage-gap-components-purchase-orders-/impl/main.r1.md
  artifacts/feat-coverage-gap-components-purchase-orders-/spec.r1.md
  artifacts/feat-coverage-gap-components-purchase-orders-/task-plan.r1.md
  docs/superpowers/plans/2026-06-11-purchase-order-validation-unit-tests.md
  frontend/src/components/purchase-orders/form/__tests__/PurchaseOrderValidation.test.tsx
Due: frontend, Frontend (React)

feat: Unit Tests for DuplicateManufactureOrderHandler (#2913)
  artifacts/feat-coverage-gap-manufacture-duplicatemanufa/arch-review.r1.md
  artifacts/feat-coverage-gap-manufacture-duplicatemanufa/brief.md
  artifacts/feat-coverage-gap-manufacture-duplicatemanufa/impl/main.r1.md
  artifacts/feat-coverage-gap-manufacture-duplicatemanufa/spec.r1.md
  artifacts/feat-coverage-gap-manufacture-duplicatemanufa/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Manufacture/DuplicateManufactureOrderHandlerTests.cs
  docs/superpowers/plans/2026-06-11-duplicate-manufacture-order-handler-tests.md
Due: none

feat: Unit tests for ProcessDailyConsumptionHandler (#2907)
  artifacts/feat-coverage-gap-packingmaterials-processdai/arch-review.r1.md
  artifacts/feat-coverage-gap-packingmaterials-processdai/brief.md
  artifacts/feat-coverage-gap-packingmaterials-processdai/impl/main.r1.md
  artifacts/feat-coverage-gap-packingmaterials-processdai/spec.r1.md
  artifacts/feat-coverage-gap-packingmaterials-processdai/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/PackingMaterials/ProcessDailyConsumptionHandlerTests.cs
  docs/superpowers/plans/2026-06-11-process-daily-consumption-handler-tests.md
Due: none

feat: Unit Test Coverage for SubmitStockTakingHandler (#2901)
  artifacts/feat-coverage-gap-catalog-submitstocktakingha/arch-review.r1.md
  artifacts/feat-coverage-gap-catalog-submitstocktakingha/brief.md
  artifacts/feat-coverage-gap-catalog-submitstocktakingha/impl/main.r1.md
  artifacts/feat-coverage-gap-catalog-submitstocktakingha/spec.r1.md
  artifacts/feat-coverage-gap-catalog-submitstocktakingha/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Catalog/SubmitStockTakingHandlerTests.cs
Due: none

feat: Unit test coverage for `RetryStockUpOperationHandler` (#2895)
  artifacts/feat-coverage-gap-catalog-retrystockupoperati/arch-review.r1.md
  artifacts/feat-coverage-gap-catalog-retrystockupoperati/brief.md
  artifacts/feat-coverage-gap-catalog-retrystockupoperati/impl/main.r1.md
  artifacts/feat-coverage-gap-catalog-retrystockupoperati/spec.r1.md
  artifacts/feat-coverage-gap-catalog-retrystockupoperati/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/Catalog/RetryStockUpOperationHandlerTests.cs
  docs/superpowers/plans/2026-06-11-catalog-retrystockupoperation-tests.md
Due: none

feat: Unit tests for GetUserEffectivePermissionsHandler (#2890)
  artifacts/feat-coverage-gap-authorization-getusereffect/arch-review.r1.md
  artifacts/feat-coverage-gap-authorization-getusereffect/brief.md
  artifacts/feat-coverage-gap-authorization-getusereffect/impl/main.r1.md
  artifacts/feat-coverage-gap-authorization-getusereffect/spec.r1.md
  artifacts/feat-coverage-gap-authorization-getusereffect/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Authorization/GetUserEffectivePermissionsHandlerTests.cs
  docs/superpowers/plans/2026-06-11-authorization-effective-permissions-handler-tests.md
Due: none

feat: Remove dead mutable static `PrintPickingListRequest.DefaultCarriers` (#2880)
  artifacts/feat-arch-review-expeditionlist-logistics-pri/arch-review.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/brief.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/impl/main.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/spec.r1.md
  artifacts/feat-arch-review-expeditionlist-logistics-pri/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Logistics/Picking/PrintPickingListRequest.cs
  backend/test/Anela.Heblo.Adapters.Shoptet.Tests/Integration/PickingListIntegrationTests.cs
  docs/superpowers/plans/2026-06-11-remove-print-picking-list-default-carriers.md
Due: backend, Backend (.NET)

refactor(invoices): move IIssuedInvoiceRepository and IssuedInvoiceFilters to Persistence.Invoices
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/InvoiceConsumptionSourceAdapter.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/IssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/InvoicesModule.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Services/InvoiceImportService.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceDetail/GetIssuedInvoiceDetailHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoiceSyncStats/GetIssuedInvoiceSyncStatsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/UseCases/GetIssuedInvoicesList/GetIssuedInvoicesListHandler.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceFilters.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoiceDetailHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/GetIssuedInvoicesListHandlerPaginationTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/Infrastructure/InvoiceConsumptionSourceAdapterTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/InvoiceImportServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
Due: backend, Backend (.NET)

feat: Unit Test Coverage for InvoiceClassificationService.ClassifyInvoiceAsync (#2885)
  artifacts/feat-coverage-gap-invoiceclassification-invoi/arch-review.r1.md
  artifacts/feat-coverage-gap-invoiceclassification-invoi/brief.md
  artifacts/feat-coverage-gap-invoiceclassification-invoi/impl/main.r1.md
  artifacts/feat-coverage-gap-invoiceclassification-invoi/spec.r1.md
  artifacts/feat-coverage-gap-invoiceclassification-invoi/task-plan.r1.md
  backend/test/Anela.Heblo.Tests/Features/InvoiceClassification/InvoiceClassificationServiceTests.cs
Due: none

feat: GetGridLayout DB Error Surfacing (#2875)
  artifacts/feat-arch-review-gridlayouts-get-handler-swal/arch-review.r1.md
  artifacts/feat-arch-review-gridlayouts-get-handler-swal/brief.md
  artifacts/feat-arch-review-gridlayouts-get-handler-swal/impl/main.r1.md
  artifacts/feat-arch-review-gridlayouts-get-handler-swal/spec.r1.md
  artifacts/feat-arch-review-gridlayouts-get-handler-swal/task-plan.r1.md
  backend/src/Anela.Heblo.API/Controllers/GridLayoutsController.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutHandler.cs
  backend/src/Anela.Heblo.Application/Features/GridLayouts/UseCases/GetGridLayout/GetGridLayoutResponse.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GetGridLayoutHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/GridLayouts/GridLayoutsControllerTests.cs
  frontend/src/features/grid-layout/__tests__/useGridLayout.test.ts
  frontend/src/features/grid-layout/useGridLayout.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Remove embedded SaveChangesAsync from `IMarketingActionRepository.DeleteSoftAsync` (#2822)
  artifacts/feat-arch-review-marketing-deletesoftasync-em/arch-review.r1.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/brief.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/impl/main.r1.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/spec.r1.md
  artifacts/feat-arch-review-marketing-deletesoftasync-em/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Marketing/UseCases/DeleteMarketingAction/DeleteMarketingActionHandler.cs
  backend/src/Anela.Heblo.Domain/Features/Marketing/IMarketingActionRepository.cs
  backend/src/Anela.Heblo.Persistence/Marketing/MarketingActionRepository.cs
  backend/test/Anela.Heblo.Tests/Application/Marketing/DeleteMarketingActionHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Marketing/MarketingActionHandlerSyncTests.cs
  docs/superpowers/plans/2026-06-09-marketing-delete-soft-async-handler-owns-save.md
Due: backend, Backend (.NET)

test(feedback): add userName to useArticleFeedbackListQuery mapping assertion
  frontend/src/api/hooks/__tests__/useArticles.test.ts
Due: frontend, Frontend (React)

test(feedback): add userName to useArticleFeedbackListQuery mapping assertion (#2926)
  frontend/src/api/hooks/__tests__/useArticles.test.ts
Due: frontend, Frontend (React)

feat: Remove TopProductDto Backward-Compatibility Shims (#2837)
  artifacts/feat-arch-review-analytics-topproductdto-expo/arch-review.r1.md
  artifacts/feat-arch-review-analytics-topproductdto-expo/brief.md
  artifacts/feat-arch-review-analytics-topproductdto-expo/impl/main.r1.md
  artifacts/feat-arch-review-analytics-topproductdto-expo/spec.r1.md
  artifacts/feat-arch-review-analytics-topproductdto-expo/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Contracts/TopProductDto.cs
  docs/superpowers/plans/2026-06-10-remove-topproductdto-shims.md
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/__tests__/ProductMarginSummary.test.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: Strongly-Type `MarginLevel` in Analytics Module (#2845)
  artifacts/feat-arch-review-analytics-marginlevel-is-str/arch-review.r1.md
  artifacts/feat-arch-review-analytics-marginlevel-is-str/brief.md
  artifacts/feat-arch-review-analytics-marginlevel-is-str/impl/main.r1.md
  artifacts/feat-arch-review-analytics-marginlevel-is-str/spec.r1.md
  artifacts/feat-arch-review-analytics-marginlevel-is-str/task-plan.r1.md
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MarginCalculator.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/Services/MonthlyBreakdownGenerator.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryRequest.cs
  backend/src/Anela.Heblo.Application/Features/Analytics/UseCases/GetProductMarginSummary/GetProductMarginSummaryResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Analytics/MarginLevel.cs
  backend/test/Anela.Heblo.Tests/Features/Analytics/GetProductMarginSummaryHandlerTests.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/Infrastructure/CatalogAnalyticsSourceAdapterTests.cs
  docs/superpowers/plans/2026-06-10-analytics-margin-level-enum.md
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useProductMarginSummary.ts
  frontend/src/components/pages/ProductMarginSummary.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

refactor(invoices): move IssuedInvoiceRepository implementation to Persistence.Invoices
  backend/src/Anela.Heblo.Persistence/Invoices/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
Due: backend, Backend (.NET)

agent: upload artifacts/feat-arch-review-invoices-issuedinvoicereposi/impl/main.r1.md
  artifacts/feat-arch-review-invoices-issuedinvoicereposi/impl/main.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-iissuedinvoicerepos/brief.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/brief.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-iissuedinvoicerepos/spec.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/spec.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-iissuedinvoicerepos/arch-review.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/arch-review.r1.md
Due: none

agent: upload artifacts/feat-arch-review-invoices-iissuedinvoicerepos/task-plan.r1.md
  artifacts/feat-arch-review-invoices-iissuedinvoicerepos/task-plan.r1.md
Due: none

fix: separate invoice classification into its own permission
  access-matrix-entra.generated.json
  access-matrix.json
  backend/src/Anela.Heblo.API/Controllers/InvoiceClassificationController.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessMatrix.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/AccessRoles.generated.cs
  backend/src/Anela.Heblo.Domain/Features/Authorization/Feature.generated.cs
  frontend/src/auth/accessMatrix.generated.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

refactor: remove unused Find* methods from IIssuedInvoiceRepository
  backend/src/Anela.Heblo.Application/Features/Invoices/Contracts/IIssuedInvoiceRepository.cs
  backend/src/Anela.Heblo.Application/Features/Invoices/Infrastructure/IssuedInvoiceRepository.cs
  backend/test/Anela.Heblo.Tests/Features/Invoices/IssuedInvoiceRepositoryTests.cs
Due: backend, Backend (.NET)
