Repository onpaj/Anela.Heblo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend (.NET), Frontend (React)

feat(backend): add GetStockUpOperationsSummaryRequest DTO
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperationsSummary/GetStockUpOperationsSummaryRequest.cs
Due: backend, Backend (.NET)

feat(backend): add GetStockUpOperationsSummaryResponse DTO
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperationsSummary/GetStockUpOperationsSummaryResponse.cs
Due: backend, Backend (.NET)

fix(backend): add standard constructors to GetStockUpOperationsSummaryResponse
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperationsSummary/GetStockUpOperationsSummaryResponse.cs
Due: backend, Backend (.NET)

test(backend): add failing tests for GetStockUpOperationsSummary handler
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetStockUpOperationsSummaryHandlerTests.cs
Due: none

feat(backend): implement GetStockUpOperationsSummary handler
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperationsSummary/GetStockUpOperationsSummaryHandler.cs
Due: backend, Backend (.NET)

fix(backend): use async pattern in GetStockUpOperationsSummary handler
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperationsSummary/GetStockUpOperationsSummaryHandler.cs
  backend/src/Anela.Heblo.Application/Features/Logistics/UseCases/ChangeTransportBoxState/ChangeTransportBoxStateHandler.cs
  backend/test/Anela.Heblo.Tests/Anela.Heblo.Tests.csproj
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetStockUpOperationsSummaryHandlerTests.cs
Due: backend, Backend (.NET)

feat(backend): add summary endpoint to StockUpOperations controller
  backend/src/Anela.Heblo.API/Controllers/StockUpOperationsController.cs
Due: backend, Backend (.NET)

fix(backend): add error handling to GetStockUpOperationsSummary
  backend/src/Anela.Heblo.API/Controllers/StockUpOperationsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperationsSummary/GetStockUpOperationsSummaryHandler.cs
Due: backend, Backend (.NET)

chore(frontend): regenerate API client with summary endpoint
  frontend/src/api/generated/api-client.ts
Due: frontend, Frontend (React)

feat(frontend): add useStockUpOperationsSummary hook with 15s polling
  frontend/src/api/hooks/useStockUpOperations.ts
Due: frontend, Frontend (React)

fix(frontend): use consistent patterns in useStockUpOperationsSummary hook
  frontend/src/api/hooks/useStockUpOperations.ts
Due: frontend, Frontend (React)

test(frontend): add tests for useStockUpOperationsSummary hook
  frontend/src/api/hooks/__tests__/useStockUpOperations.test.ts
Due: frontend, Frontend (React)

feat(frontend): add StockUpOperationStatusIndicator component
  frontend/src/components/pages/GiftPackageManufacturing/StockUpOperationStatusIndicator.tsx
Due: frontend, Frontend (React)

fix(frontend): add accessibility support to StockUpOperationStatusIndicator
  frontend/src/components/pages/GiftPackageManufacturing/StockUpOperationStatusIndicator.tsx
Due: frontend, Frontend (React)

test(frontend): add tests for StockUpOperationStatusIndicator component
  frontend/src/components/pages/GiftPackageManufacturing/__tests__/StockUpOperationStatusIndicator.test.tsx
Due: frontend, Frontend (React)

fix(frontend): use ChangeTransportBoxState API instead of non-existent ReceiveTransportBox endpoint
  frontend/src/api/hooks/useTransportBoxReceive.ts
Due: frontend, Frontend (React)

fix(frontend): add null-safety checks for totalInQueue and failedCount in StockUpOperationStatusIndicator
  frontend/src/components/pages/GiftPackageManufacturing/StockUpOperationStatusIndicator.tsx
Due: frontend, Frontend (React)

feat(frontend): integrate StockUpOperation status indicator into GiftPackageManufacturing page
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
Due: frontend, Frontend (React)

fix(frontend): update useTransportBoxReceive tests to use ChangeTransportBoxState API
  frontend/src/api/hooks/__tests__/useTransportBoxReceive.test.tsx
Due: frontend, Frontend (React)

fix: hangfire tests race condition @claude
  backend/src/Anela.Heblo.API/Program.cs
  backend/src/Anela.Heblo.API/appsettings.Development.json
  backend/src/Anela.Heblo.API/appsettings.json
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/HangfireJobEnqueuerTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/Infrastructure/HangfireTestFixture.cs
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/pages/GiftPackageManufacturing/StockUpOperationStatusIndicator.tsx
  frontend/src/pages/StockOperationsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

fix: hangfire tests race condition
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/HangfireJobEnqueuerTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/Infrastructure/HangfireTestFixture.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/RecurringJobDiscoveryServiceTests.cs
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/TriggerRecurringJobHandlerIntegrationTests.cs
Due: none

fix: hangfire race conditions
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/Infrastructure/HangfireTestFixture.cs
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat: redesign CI/CD pipeline with auto-deploy and manual approvals
  .github/workflows/README.md
  .github/workflows/ci-feature-branch.yml
  .github/workflows/ci-main-branch.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-test.yml
  .github/workflows/e2e-nightly-regression.yml
  .github/workflows/e2e-staging-manual.yml
  CLAUDE.md
Due: none

feat: add StockUpOperation status indicator to TransportBoxList
  frontend/src/components/common/StockUpOperationStatusIndicator.tsx
  frontend/src/components/common/__tests__/StockUpOperationStatusIndicator.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
  frontend/src/components/pages/TransportBoxList.tsx
Due: frontend, Frontend (React)

fix: add missing mocks for StockUpOperations in TransportBoxList tests
  frontend/src/components/pages/__tests__/TransportBoxList.test.tsx
Due: frontend, Frontend (React)

fix: race condition
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/Infrastructure/HangfireTestFixture.cs
Due: none

fix/hangfire_racec_conditions (#283)
  .gitignore
  backend/test/Anela.Heblo.Tests/Features/BackgroundJobs/Infrastructure/HangfireTestFixture.cs
Due: none

feat: add StockUpOperation status indicator to TransportBoxList (#282)
  frontend/src/components/common/StockUpOperationStatusIndicator.tsx
  frontend/src/components/common/__tests__/StockUpOperationStatusIndicator.test.tsx
  frontend/src/components/pages/GiftPackageManufacturing/index.tsx
  frontend/src/components/pages/TransportBoxList.tsx
  frontend/src/components/pages/__tests__/TransportBoxList.test.tsx
Due: frontend, Frontend (React)

feat: redesign CI/CD pipeline with auto-deploy and manual approvals (#281)
  .github/workflows/README.md
  .github/workflows/ci-feature-branch.yml
  .github/workflows/ci-main-branch.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-test.yml
  .github/workflows/e2e-nightly-regression.yml
  .github/workflows/e2e-staging-manual.yml
  CLAUDE.md
Due: none

fix: use correct Azure credentials secret for production deployment
  .github/workflows/ci-main-branch.yml
Due: none

fix: use correct Azure credentials secret for production deployment (#284)
  .github/workflows/ci-main-branch.yml
Due: none

test: add comprehensive test coverage for BackgroundRefresh Enabled flag
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/RefreshTaskConfigurationTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/TierBasedHydrationOrchestratorTests.cs
Due: none

fix: use production API URL in Docker build instead of staging
  .github/workflows/ci-main-branch.yml
Due: none

fix: use production API URL in Docker build instead of staging (#286)
  .github/workflows/ci-main-branch.yml
Due: none

test: add comprehensive test coverage for BackgroundRefresh Enabled flag (#285)
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/BackgroundRefreshSchedulerServiceTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/RefreshTaskConfigurationTests.cs
  backend/test/Anela.Heblo.Tests/Xcc/BackgroundRefresh/TierBasedHydrationOrchestratorTests.cs
Due: none

feat: display effective stock (Available + Ordered) in Purchase Stock Analysis
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisHandler.cs
  backend/src/Anela.Heblo.Application/Features/Purchase/UseCases/GetPurchaseStockAnalysis/GetPurchaseStockAnalysisResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Catalog/Stock/StockData.cs
  backend/test/Anela.Heblo.Tests/Features/Purchase/GetPurchaseStockAnalysisHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/components/pages/PurchaseStockAnalysis.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement runtime configuration for single Docker image across environments
  Dockerfile
  IMPLEMENTATION_SUMMARY.md
  backend/src/Anela.Heblo.API/Controllers/ConfigurationController.cs
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationHandler.cs
  backend/src/Anela.Heblo.Application/Features/Configuration/GetConfigurationResponse.cs
  backend/src/Anela.Heblo.Domain/Features/Configuration/ApplicationConfiguration.cs
  frontend/src/App.tsx
  frontend/src/components/ConfigErrorScreen.tsx
  frontend/src/components/ConfigLoadingScreen.tsx
  frontend/src/config/runtimeConfig.ts
Due: backend, frontend, Backend (.NET), Frontend (React)

feat: implement enhanced StockUpOperations filtering and drill-through navigation (#288)
  backend/src/Anela.Heblo.API/Controllers/StockUpOperationsController.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsHandler.cs
  backend/src/Anela.Heblo.Application/Features/Catalog/UseCases/GetStockUpOperations/GetStockUpOperationsRequest.cs
  backend/test/Anela.Heblo.Tests/Features/Catalog/GetStockUpOperationsHandlerTests.cs
  frontend/src/api/generated/api-client.ts
  frontend/src/api/hooks/useStockUpOperations.ts
  frontend/src/components/pages/GiftPackageManufacturing/GiftPackageManufacturingDetail.tsx
  frontend/src/components/pages/TransportBoxDetail.tsx
  frontend/src/pages/StockOperationsPage.tsx
Due: backend, frontend, Backend (.NET), Frontend (React)

Path conditions:
  backend: any of: backend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  frontend: any of: frontend/src/, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Backend (.NET): any of: backend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
  Frontend (React): any of: frontend/src/**, but not: backend/test/**/*, frontend/test/**/*, backend/src/**/Program.cs, backend/src/**/Startup.cs, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts, frontend/src/index.tsx, **/*.d.ts, **/node_modules/**, **/bin/**, **/obj/**, **/coverage/**
